<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="3">
          <h3>Select</h3>
          <v-autocomplete
            v-model="tipoInfo"
            dense
            outlined
            :cache-items="false"
            :items="tipoInformes"
            item-text="vista"
            item-value="vista"
            hide-details
            label="Layer"
            class="mt-3"
            >
          </v-autocomplete>
          <v-flex
            id="scroll-target"
            style="max-height: 310px"
            class="overflow-y-auto"
            >
            <v-data-table
              v-model="selCampos"
              :headers="headers"
              :items="vistaCampos"
              class="elevation-1 text-no-wrap"
              :items-per-page="-1"
              hide-default-footer
              item-key="campo"
              show-select
              sort-by="campo"
              dense
              v-scroll:#scroll-target="onScroll"
              justify="center"
              >
              <template v-slot:item.op="{ item }">
                <div>
                  <v-menu offset-y>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        text
                        small
                        v-bind="attrs"
                        v-on="on"
                      ><v-icon left>keyboard_arrow_down</v-icon>{{item.op}}
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item
                        v-for="(gr, index) in groups"
                        :key="index"
                        @click="item.op=gr"
                        >
                        <v-list-item-title>{{ gr }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </div>
              </template>
              <template v-slot:item.agrupado="{ item }">
                <div>
                  <v-simple-checkbox v-model="item.agrupado"></v-simple-checkbox>
                </div>
              </template>
            </v-data-table>
            <!-- <pre>{{setFields}}</pre> -->
          </v-flex>
        </v-col>
        <v-col v-if="tipoInfo" cols="6">
          <h3>Condicional</h3>
          <v-row no-gutters class="mt-3">
            <v-col>
              <v-autocomplete
                dense
                outlined
                :key="selCampo"
                :items="vistaCampos"
                item-text="campo"
                item-value="campo"
                hide-details
                label="Campo"
                @change="addSelected"
                >
              </v-autocomplete>
            </v-col>
            <v-col>
              <v-select
                dense
                outlined
                :key="selCond"
                :items="condicionales"
                hide-details
                label="Condicional y operaciones"
                @change="addCondicional"
                >
              </v-select>
            </v-col>
            <v-col>
              <v-text-field
                v-model="valor"
                label="Valor"
                dense
                hide-details
                outlined
                append-icon="get_app"
                @click:append="addValor(valor)"
                @keyup.enter="addValor(valor)"
                >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col>
              <v-flex
                id="scroll-target"
                style="max-height: 250px"
                class="overflow-y-auto"
                >
                <strong class="my-3" v-scroll:#scroll-target="onScroll">{{condicional}}</strong>
              </v-flex>
              <div class="caption">
                {{query}}
              </div>
              <v-layout
                justify-end
                class="my-1"
                >
                <v-btn color="primary" small class="mx-3" @click="launchConsulta">Consultar</v-btn>
                <v-btn color="primary" outlined small @click="deleteCondicional">Borrar</v-btn>

              </v-layout>
            </v-col>
          </v-row>
        </v-col>
        <v-col v-if="tipoInfo" cols="3">
          <h3>Group</h3>
          <v-flex
            id="scroll-target"
            style="max-height: 350px"
            class="overflow-y-auto mt-3"
            >
            <v-data-table
              :headers="headersGroup"
              :items="selCampos"
              class="elevation-1 text-no-wrap"
              :items-per-page="-1"
              hide-default-footer
              dense
              v-scroll:#scroll-target="onScroll"
              justify="center"
              >
              <template v-slot:item.agrupado="{ item }">
                <div>
                  <v-simple-checkbox v-model="item.agrupado"></v-simple-checkbox>
                </div>
              </template>
            </v-data-table>
            <!-- <pre>{{setFields}}</pre> -->
          </v-flex>
        </v-col>
      </v-row>
      <v-row v-if="selCampos.length > 0">
        <v-flex>
          <v-data-table
            :headers="resHeaders"
            :items="result"
            class="elevation-1 text-no-wrap"
            :search="filter"
            :items-per-page="5"
            dense
            multi-sort
            v-scroll:#scroll-target="onScroll"
            align="center"
            justify="center"
            >
            <template v-slot:top>
              <v-card color="primary" flat style="border-radius: 4px 4px 0px 0px" dark>
                <v-card-text style="padding: 5px 16px 5px 16px">
                  <v-layout align-center>
                    <div>Resultado</div>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="filter"
                      dark
                      placeholder="filtro"
                      hide-details
                      dense
                      flat
                      style="max-width: 250px"
                      >
                    </v-text-field>
                    <!-- <v-icon class="subtitle-1">Items: {{reclamo.items.length}}</v-icon> -->
                  </v-layout>
                </v-card-text>
              </v-card>
            </template>
          </v-data-table>
        </v-flex>
      </v-row>
      <v-row v-if="result.length > 0">
        <v-col>
          <div style="text-align: -webkit-center;">
            <td>
              <download-excel
                :data="result"
                :fields="setFields"
                name="informe.xls"
                >
                <v-btn outlined color="green" small
                  >Descargar<v-icon color="green" right
                    >get_app</v-icon
                  ></v-btn
                >
              </download-excel>
            </td>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import Informes from "../../servicios/Informes"
import resultPropVue from '../solProcContrata/resultProp.vue'
export default {
  data () {
    return {
      tipoInfo: '',
      tipoInformes: [],
      vistaCampos: [],
      headers: [
        { text: 'Op', align: 'left', value: 'op'},
        { text: 'Campos', align: 'left', value: 'campo'}
      ],
      headersGroup: [
        { text: 'Group', align: 'left', value: 'agrupado'},
        { text: 'Campos', align: 'left', value: 'campo'}
      ],
      hCondicionales: [
        { text: 'Campo', align: 'left', value: 'campo' },
        { text: 'Condicional', align: 'left', value: 'condicional' },
        { text: 'Valor', align: 'left', value: 'valor' },
        { text: 'Opción', align: 'left', value: 'opcion' }
      ],
      selCampos: [],
      offsetTop: 0,
      condicionales: ['=', '>', '<', '>=', '<=', 'LIKE', 'AND', 'OR'],
      condicional: '',
      valor: '',
      result: [],
      filter: '',
      selCampo: 1,
      selCond: 1,
      groups: ['', 'COUNT', 'SUM', 'AVG', 'MAX', 'MIN'],
      query: ''
    }
  },
  async mounted () {
    const vistas = await Informes.getVistas()
    console.log(vistas)
    if (vistas.status === 200) {
      this.tipoInformes = vistas.data
    }
  },
  methods: {
    async launchConsulta () {
      let query = 'SELECT'
      let campos = ''
      this.selCampos.forEach(item => {
        let elemento = item.op ? `${item.op}(${item.campo})` : item.campo
        if (item.agrupado && item.op) elemento = `${elemento}, ${item.campo}`
        if (campos) {
          campos = campos + ', ' + elemento
        } else {
          campos = campos + elemento
        }
      })
      query = `${query} ${campos} FROM ${this.tipoInfo} ${this.condicional} ${this.hasGroup()}`
      console.log(query)
      this.query = query
      const result = await Informes.launchConsulta(query)
      console.log(result)
      if (result.status === 200) {
        this.result = result.data
      } else {
        this.result = []
      }
    },
    async bringCampos (vista) {
      const campos = await Informes.getCampos(vista)
      if (campos.status === 200) {
        campos.data.map(item => {
          item.agrupado = item.agrupado === '' ? false : true
        })
        this.vistaCampos = campos.data
      }
    },
    deleteCondicional () {
      const cadena = this.condicional
      let vCondicional = cadena.split(' ')
      const temp = vCondicional.splice((vCondicional.length - 1), 1)
      const newCadena = vCondicional.reduce(function(acc, b) { return acc + ' ' + b}, '')
      this.condicional = newCadena.trim()// this.condicional.substring(0, (this.condicional.length - 1))
    },
    addSelected (val) {
      if (this.condicional === '') this.condicional = 'WHERE'
      this.condicional = `${this.condicional} ${val}`
      this.selCampo++
    },
    addCondicional (val) {
      if (this.condicional === '') this.condicional = 'WHERE'
      this.condicional = `${this.condicional} ${val}`
      if (val === 'LIKE') this.valor = `%${this.valor}%`
      this.selCond++
    },
    addValor (val) {
      function validaValor (val) {
        const cadRestrict = ['select', 'delete', 'insert', 'update']
        let flag = true
        cadRestrict.forEach(item => {
          if (val.includes(item)) flag = false
        })
        return flag
      }
      if (validaValor(val)) {
        if (this.condicional === '') this.condicional = 'WHERE'
        this.condicional = `${this.condicional} '${val}'`
        this.valor = ''
      }
    },
    hasGroup () {
      const conGroup = this.selCampos.filter(item => item.agrupado)
      if (conGroup.length > 0) {
        let group = conGroup.reduce(function (acc, b) {return `${acc}${b.campo}, `}, 'GROUP BY ')
        group = group.slice(0, -2)
        return group
      } else {
        return ''
      }
    },
    onScroll (e) {
      this.offsetTop = e.target.scrollTop
    }
  },
  computed: {
    setFields () { // esto es para el excel
      let obj = {}
      this.selCampos.forEach(item => {
        obj[item.campo] = item.campo
      })
      return obj
    },
    resHeaders () {
      let header = []
      if (this.result.length > 0) {
        const obj = this.result[0]
        const llaves = Object.keys(obj)
        llaves.forEach(item => {
          header.push({ text: item, align: 'rigth', value: item })
        })
      }
      return header
    }
  },
  watch: {
    tipoInfo (val) {
      if (val) {
        this.bringCampos(val)
      }
    }
  }
}
</script>
<style scoped>
  .inputTable .v-input__slot{
    min-height: 30px;
  }
</style>
