<template>
  <div>
    <consultasDinamicas/>
  </div>
</template>
<script>
import consultasDinamicas from '@/components/informes/consultasDinamicas'
export default {
  components: { consultasDinamicas },
  data () {
    return {}
  }
}
</script>
<style scoped>
</style>
