<template>
  <div id="adjuntos">
    <v-flex>         
      <v-file-input
        v-if="!item.file_path"
        style="font-size: .8rem"
        prepend-icon
        prepend-inner-icon="$file"                       
        :placeholder="placeholder"       
        small-chips
        dense
        hide-details        
        color="primary"
        :accept="tipoarchivo"
        @change="(file) => { handleFileUpload(file) }"
      > 
      </v-file-input>
      <v-chip
        v-if="item.file_path"
        class="ma-2"
        @click="openInNewTab(item.file_path)"       
        color="primary"
        text-color="white"
        style="margin: 5px"        
        @click:close="item.file_path = ''"
        >{{item.file_name.substring(0, 50)}}
      </v-chip>
    </v-flex>
  </div>
</template>

<script>
    import FileExchange from '../servicios/FileExchange'
    
    export default {
        props: ['item','placeholder','tipoarchivo'],
        data () {
            return {
            }
        },
        async mounted () {
        },  
        methods: {
                async handleFileUpload (file) {
                console.log(file)
                if (file !== null) {
                    const result = await FileExchange.uploadGen(file)
                        this.item.file_name = file.name
                        this.item.file_path = result.data.url
                        this.item.file_name_tmp = result.data.filenametmp
                } else {
                        this.item.file_name = ''
                        this.item.file_path = ''
                        this.item.file_name_tmp = ''
                }                
            },
            openInNewTab(url) {
                const win = window.open(url, '_blank')
                win.focus()
            }
        },
        computed: {           
        },
        watch: {
        }
    }
</script>
<style scoped>
</style>