<template>
	<v-container>		
		 <v-flex>
			<div style="padding-bottom:10px"> 
				<v-btn fab dark small color="primary" @click="abrirDialogo(0, '')" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div> 
			<v-card >
                <v-card-title class="justify-center">
					Asociaciones
				</v-card-title>
				<v-card-text>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
					<v-data-table 
						:headers="headers" 
						:items="data"
						:items-per-page="5" 
						:disable-sort="true" 
						:search="search"
					>
						<template v-slot:item.action="{ item }">  
							<v-icon
								small
								class="mr-5"
								color="primary"																
								@click="abrirDialogo(1, item)"
								
							>
								edit
							</v-icon>

							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								:loading="loading"
								@click="dialog_del=true, itemactual=item"
								
							>
								delete
							</v-icon>               
						</template>

                        <template v-slot:item.action="{ item }">  
							<v-icon
								small
								class="mr-5"
								color="primary"																
								@click="abrirDialogo(1, item)"
								
							>
								edit
							</v-icon>

							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								:loading="loading"
								@click="dialog_del=true, itemactual=item"
								
							>
								delete
							</v-icon>               
						</template>
					</v-data-table>
                </v-card-text>
			</v-card>
		</v-flex>

		<v-dialog v-model="dialog" scrollable persistent max-width="800px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>					
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>		
							<v-form v-model="valid" ref="form">
								<v-flex sm12>
									<v-text-field v-model="nombre" 
										label="Nombre Asociación" 
										:rules="[rules.required]"
									></v-text-field>
								</v-flex>

								<v-tabs
									v-model="tabs"
									fixed-tabs
									slider-color="primary"
									color="primary"									
								>
									<v-tab									
										:key="1"
										:href="`#tab-1`"
									>
										Comunidades
									</v-tab>

									<v-tab									
										:key="2"
										:href="`#tab-2`"										
									>
										Resguardos
									</v-tab>
								</v-tabs>

								<v-tabs-items v-model="tabs">
									<v-tab-item										
										:key="1"
										:value="`tab-1`"
									>
										<v-flex sm12>    								
											<v-data-table :items="additemscomunidades" :items-per-page="6">
												<template v-slot:item="{ item }">
													<v-layout wrap>
														<v-flex lg1 md12 xs12 sm12>
															<span style="font-weight: bold;">
																{{ item.numero }}
															</span>
														</v-flex>
														<v-flex lg8 md12 xs12 sm12>
															<v-text-field v-model="item.nombre" 
																label="Nombre" 																
															></v-text-field>
														</v-flex>												
														<v-flex lg3 md12 xs12 sm12>
															<div style="border-radius: 40px;height: 30px;width:100%;background-color:#F1F3F4;text-align:right" 
																v-if="$vuetify.breakpoint.name == 'xs' || $vuetify.breakpoint.name == 'sm' || 
																		$vuetify.breakpoint.name == 'md'">
																<v-icon
																	small
																	class="mr-5"
																	color="error"
																	@click="limpiarItem(item.numero,'C')"
																>
																	delete
																</v-icon>
															</div>
															<v-icon
																v-else
																small
																class="mr-5"
																color="error"
																@click="limpiarItem(item.numero,'C')"
															>
																delete
															</v-icon>											
														</v-flex>
													</v-layout>
												</template>
											</v-data-table>
										</v-flex>
									</v-tab-item>

									<v-tab-item										
										:key="2"
										:value="`tab-2`"
									>
										<v-flex sm12>    								
											<v-data-table :items="additemsresguardos" :items-per-page="6">
												<template v-slot:item="{ item }">
													<v-layout wrap>
														<v-flex lg1 md12 xs12 sm12>
															<span style="font-weight: bold;">
																{{ item.numero }}
															</span>
														</v-flex>
														<v-flex lg8 md12 xs12 sm12>
															<v-autocomplete
																:items="arrAllResguardos"
																item-value="codigo"
																item-text="nombre"
																v-model="item.codigoresguardo"
																label="Nombre"
															>									
															</v-autocomplete>
														</v-flex>												
														<v-flex lg3 md12 xs12 sm12>
															<div style="border-radius: 40px;height: 30px;width:100%;background-color:#F1F3F4;text-align:right" 
																v-if="$vuetify.breakpoint.name == 'xs' || $vuetify.breakpoint.name == 'sm' || 
																		$vuetify.breakpoint.name == 'md'">
																<v-icon
																	small
																	class="mr-5"
																	color="error"
																	@click="limpiarItem(item.numero,'R')"
																>
																	delete
																</v-icon>
															</div>
															<v-icon
																v-else
																small
																class="mr-5"
																color="error"
																@click="limpiarItem(item.numero,'R')"
															>
																delete
															</v-icon>											
														</v-flex>
													</v-layout>
												</template>
											</v-data-table>
										</v-flex>
									</v-tab-item>
								</v-tabs-items>		
							</v-form>				
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

        <v-dialog v-model="dialog_del" max-width="500px">

          	<v-card>

				<v-card-title>
					<span class="headline red--text">Eliminar Asociación</span>
				</v-card-title>
  
				<v-card-text>					
					¿Esta seguro de eliminar la Asociación seleccionada?					
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="closeDialogoDel">Cancelar</v-btn>
					<v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
				</v-card-actions>
          	</v-card>
        </v-dialog>
	</v-container>	
</template>

<script>
	import asociacionesService from "../servicios/AsociacionesService"
    import resguardosService from "../servicios/ResguardosIndigenasService"
    
	export default {

		data (){

			return {
                modulo:'ASOCIACIONES',							
  				loading: false,
  				dialog:false,
  				edit:-1,
  				dialog_del:false,
  				processing:false,
				formTitle:'',
				valid:false,
				search: '',
				tabs:'tab-1',
                codigo:'0',
                nombre: '',
				itemactual:'',
                data: [],
				arrComunidades: [],
                arrResguardos: [],
                arrAllResguardos: [],
				additemscomunidades: [],
				additemsresguardos: [],
				itemactualcomunidades: '',
                itemactualresguardos: '',				
				//dialog_del_detalle: false,
                //nombredetalle: '',
                //nombredetallecompuesto: '',
  				headers: [
  					{ text: 'Nombre', align: 'left', sortable: false, value: 'nombre' },                    
                    { text: 'Accion', value: 'action',sortable: false}
                ],
				headersDet: [
  					{ text: 'Nombre', align: 'left', sortable: false, value: 'ciudadcompleto' },
                    { text: 'Accion', value: 'action',sortable: false}
                ],
  				rules: {
					required: value => !!value || 'Campo requerido.'					
		        }				
	        }
	    },

	    filters: {	  
            
		},

	    methods: {			
			
			showMessage (snack, time, color, text) {

			      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

		    },
			generaDataDetalle() {

				let tope = 20
				for (let index = 0; index < tope; index++) {
					this.additemscomunidades.push({numero: index + 1, nombre:''})					
				}

                for (let index = 0; index < tope; index++) {
					this.additemsresguardos.push({numero: index + 1, codigoresguardo:'0'})					
				}

			},
			limpiarDataComunidad () {

				for (let index = 0; index < this.additemscomunidades.length; index++) {
					const element = this.additemscomunidades[index]

					element.nombre  = ''							
				}
			},
            limpiarDataResguardo () {

				for (let index = 0; index < this.additemsresguardos.length; index++) {
					const element = this.additemsresguardos[index]

					element.codigoresguardo  = '0'							
				}
			},
			limpiarItem(numero, tipo) {

                if(tipo == 'C') {
                    for (let index = 0; index < this.additemscomunidades.length; index++) {

                        if(this.additemscomunidades[index].numero == numero) {
                            this.additemscomunidades[index].nombre = ''						
                            break
                        }	
                    }
                }

                if(tipo == 'R') {
                    for (let index = 0; index < this.additemsresguardos.length; index++) {

                        if(this.additemsresguardos[index].numero == numero) {
                            this.additemsresguardos[index].codigoresguardo = '0'						
                            break
                        }	
                    }
                }
			},
			traerComunidadesAsociaciones(){								

		     	var _this = this               
                var arrComunidades = []

				this.limpiarDataComunidad()
              	asociacionesService.asociacionesComunidades(_this.codigo)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            arrComunidades = res.data.data

							for (let index = 0; index < arrComunidades.length; index++) {
								const element = arrComunidades[index]

								_this.additemscomunidades[index].nombre = element.nombre								
								
							}

                          }

                      }   
                      
              	}).catch(function(err) {                
              		
				})

		    },
            traerAsociacionesResguardos(){								

		     	var _this = this               
                var arrResguardos = []

				this.limpiarDataResguardo()
              	asociacionesService.asociacionesResguardos(_this.codigo)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            arrResguardos = res.data.data

							console.log(arrResguardos)

							for (let index = 0; index < arrResguardos.length; index++) {
								const element = arrResguardos[index]

								_this.additemsresguardos[index].codigoresguardo = element.codigoresguardo
								
							}

                          }

                      }   
                      
              	}).catch(function(err) {                
              		
				})

		    },		     
			resetForm () {

                this.codigo='0'
                this.nombre=''
               
			},
			abrirDialogo(edit, dataItemActual) {

				this.limpiarDataComunidad()
                this.limpiarDataResguardo()
				this.tabs = 'tab-1'
				this.edit = edit
				this.itemactual = dataItemActual				
				this.dialog = true

			},   
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

			},
		    traerData(){

		     	var _this = this
                this.loading = true
                this.data = []

              	asociacionesService.getData()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.data = res.data.data

                          }

                      }  
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.loading = false                
              		
				})

		     },		

            traerResguardos(){

		     	var _this = this
                this.loading = true
                this.arrAllResguardos = []
                
              	resguardosService.getData()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.arrAllResguardos = res.data.data
							//_this.arrResguardosResg = res.data.data

                          }

                      }  
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.loading = false                
              		
				})

		     },

			closeDialogoDel () {
				  
				this.dialog_del = false
			},

			/*closeDialogoDelDetalle () {

				this.dialog_del_detalle = false

			},*/	

			deleteItem() {
				
				var _this = this
				this.loading = true

				asociacionesService.DelData(_this.itemactual.codigo)
	              .then(function(res) {

	              	  if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó la Asociación con éxito')

                        _this.del_item = ''	              	  		
                        _this.traerData()
                        _this.closeDialogoDel()

                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ LA ASOCIACIÓN :' + _this.itemactual.nombre)

	              	  }else{	                                         	

	                  	_this.showMessage(true,4000,'error',res.message) 	                  	
	                  } 	                   
						_this.del_item = ''						
	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

			},

            validaGuardar(){				

				let arrRepetidos = []
                let arrRepetidosRes = []
				let ok = true

				for (let index = 0; index < this.additemscomunidades.length; index++) {
					const element = this.additemscomunidades[index]

					if(element.nombre != '' && arrRepetidos.length > 0) {

						for (let i = 0; i < arrRepetidos.length; i++) {
							const element2 = arrRepetidos[i]
							
							if(element2.nombre == element.nombre && element2.numero != element.numero) {
								ok = false
								this.showMessage(true,3000,'error',"La Comunidad del item No. " + (element.numero) + " ya se ingresó.")
								return ok
							}											
						}

						arrRepetidos.push({nombre: element.nombre, numero: element.numero})
					} else if(element.nombre != '') {

						arrRepetidos.push({nombre: element.nombre, numero: element.numero})						
					}									
				}
                
                for (let index = 0; index < this.additemsresguardos.length; index++) {
					const element = this.additemsresguardos[index]

					if(element.codigoresguardo != '0' && arrRepetidosRes.length > 0) {

						for (let i = 0; i < arrRepetidosRes.length; i++) {
							const element2 = arrRepetidosRes[i]
							
							if(element2.codigoresguardo == element.codigoresguardo && element2.numero != element.numero) {
								ok = false
								this.showMessage(true,3000,'error',"El Resguardo del item No. " + (element.numero) + " ya ha sido Seleccionado.")
								return ok
							}											
						}

						arrRepetidosRes.push({codigoresguardo: element.codigoresguardo, numero: element.numero})
					} else if(element.codigoresguardo != '0') {

						arrRepetidosRes.push({codigoresguardo: element.codigoresguardo, numero: element.numero})						
					}									
				}    

				return {comunidades: arrRepetidos, resguardos: arrRepetidosRes}
            },
			saveitem(){

				var datbit = ''
				
				var arrDataSave = this.validaGuardar()


				if(typeof arrDataSave == 'object') {

					if(this.edit){
					
						if (this.itemactual.nombre != this.nombre)
							datbit += 'Nombre: ' + this.itemactual.nombre.toUpperCase() + ' a ' + this.nombre.toUpperCase()

						datbit = 'CODIGO: ' + this.codigo + ', NOMBRE: ' + this.nombre.toUpperCase() + ' (' + datbit + ')' + 
                                 ', NO. COMUNIDADES: ' + arrDataSave.comunidades.length +
                                 ', NO. RESGUARDOS: ' + arrDataSave.resguardos.length

					} else {

						datbit += 'NOMBRE: ' + this.nombre.toUpperCase() + ', NO. COMUNIDADES: ' + arrDataSave.comunidades.length +
                                   ', NO. RESGUARDOS: ' + arrDataSave.resguardos.length

					}

					var _this = this
					this.loading = true
					
					var data = {codigo:this.codigo,nombre:this.nombre.toUpperCase()}
					
					asociacionesService.guardarData(data, arrDataSave.comunidades, arrDataSave.resguardos)
					.then(function(res) {

						if (res.response) {                           
								
							var error = res.response.data.message
							_this.showMessage(true,3000,'error',error)

						} else if(res.statusText){
								
								var mensaje = ''
								var accbitacora = ''
								
								if(_this.edit){
									mensaje = 'Actualizó'
									accbitacora = 'ACTUALIZACION'
								} else {
									mensaje = 'Agregó'
									accbitacora = 'CREACION'
								}

								_this.showMessage(true,3000,'success','Se ' + mensaje + ' la Asociación con éxito')

								_this.del_item = ''
								_this.edit = -1	              	  		
								_this.traerData()
								_this.resetForm()
								_this.dialog = false
									
								_this.agregaBitacora(accbitacora,datbit)

						}else{	                                         	

								_this.showMessage(true,3000,'error',res.message) 	                  	
						}

							_this.loading = false	                 
							
					}).catch(function(err) {

						_this.showMessage(true,3000,'error',err)	    
						_this.loading = false          	
						
					})
				}
            },
			/*deleteItemComunidad() {
				
				var _this = this
				this.loading = true

				//var arrActual = [{codigo:_this.itemactualcomunidades.codigoresguardo}]

				asociacionesService.delAsociacionComunidad(_this.itemactualcomunidades.codigoasociacion, _this.itemactualcomunidades.codigo)
	              .then(function(res) {

	              	  if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó la Comunidad de la Asociación con éxito')              	  		
                        //_this.traerDetalle(arrActual)
                        _this.closeDialogoDelDetalle()

                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ LA COMUNIDAD: ' + _this.itemactualcomunidades.nombre + 
												' DE LA ASOCIACION :' + _this.itemactualcomunidades.nombreasociacion)

	              	  }else{	                                         	

	                  	_this.showMessage(true,4000,'error',res.message) 	                  	
	                  }					
	                  _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

			},

            deleteItemResguardo() {
				
				var _this = this
				this.loading = true

				//var arrActual = [{codigo:_this.itemactualcomunidades.codigoresguardo}]

				asociacionesService.delAsociacionResguardo(_this.itemactualresguardos.codigoasociacion, _this.itemactualresguardos.codigoresguardo)
	              .then(function(res) {

	              	  if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó la Comunidad de la Asociación con éxito')              	  		
                        //_this.traerDetalle(arrActual)
                        _this.closeDialogoDelDetalle()

                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ EL RESGUARDO: ' + _this.itemactualresguardos.nombre + 
												' DE LA ASOCIACION :' + _this.itemactualresguardos.nombreasociacion)

	              	  }else{	                                         	

	                  	_this.showMessage(true,4000,'error',res.message) 	                  	
	                  }					
	                  _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

			},*/

            agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {
		    edit: function (val) {

		       if(val)
		       {
		       		this.formTitle = 'Editar'

		       		this.codigo = this.itemactual.codigo
                    this.nombre = this.itemactual.nombre

					this.traerComunidadesAsociaciones()
                    this.traerAsociacionesResguardos()

		       } else{

		       		this.resetForm()
		       	    this.formTitle = 'Nuevo'
		       }
			},			
		},
		mounted() {

            this.traerData()
			this.generaDataDetalle()
            this.traerResguardos()
            this.agregaBitacora('INGRESO','INGRESO AL MODULO')
		},	
	}
	
</script>

<style>
</style>