<template>
	<v-container fluid>		
		 <v-flex>			
			<v-card >
				<v-card-title class="justify-center">Bitacora</v-card-title>
				<v-card-text>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
				</v-card-text>
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" :disable-sort="true" :search="search">											              
		            </v-data-table>		            	
		          </v-layout>
			</v-card>		 	
		</v-flex>
	</v-container>	
</template>

<script>	
	import bitacoraService from "../servicios/BitacoraService";

	export default {

		data (){

			return {		
				modulo:'BITACORA',					
  				loading: false,				
				search:'',
				data:[],  					
  				headers: [  					
  					{
			          text: 'Fecha',
			          align: 'left',
			          sortable: false,
			          value: 'fecha',
			        },
			        { text: 'Usuario', value: 'usuario',sortable: false,align: 'left'},
			        { text: 'Modulo', value: 'modulo',sortable: false,align: 'left'},
					{ text: 'Accion', value: 'accion',sortable: false,align: 'left'},
					{ text: 'Detalle', value: 'detalle',sortable: false,align: 'left'},
					{ text: 'Ip', value: 'ip',sortable: false,align: 'left'},			       
			        { text: 'Host', value: 'host',sortable: false},
  				]  							
	        }
	    },

	    filters: {
		},

	    methods: {
			
		    traerData(){

		     	var _this = this
                this.loading = true

              	bitacoraService.getBitacora()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.data = res.data.data

                          }  else {
                            
                            _this.data = []
                          
                          }

                      } else {                        	

                      	_this.data = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.data = []   
              		_this.loading = false                
              		
				})

		     },
			
			agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {		    
		},
		mounted() {

			this.traerData()			
			this.agregaBitacora('INGRESO','INGRESO AL MODULO')
		},	
	}
	
</script>

<style>
</style>