<template> 
  <v-container fluid>      
      <div style="width:100%;text-align: center;">
        <h2>{{ titulo }}</h2>            
      </div>  
      <v-spacer></v-spacer>
      <chartist
        :data="data"
        :options="options"        
        hover-reveal
        type="Bar"        
      />
  </v-container>  
</template>

<script>
//import Chartist from 'chartist'

  export default {
    name: 'ChartCard',
    props: ['data','titulo'],
    data () {

      return {

        options: {  
          /*seriesBarDistance: 10,            
          low: 0,
          high: 100, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
          showPoint: true,
          axisX: {
            type: this.$chartist.FixedScaleAxis,
            divisor: 10,
            ticks: [0,10,20,30,40,50,60,70,80,90,100],
            labelInterpolationFnc: function(value) {
              return value
            }
          },
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0,
          },*/
          horizontalBars: true,
          //labelInterpolationFnc: this.$chartist.noop,
          /*plugins: [
            this.$chartist.plugins.ctBarLabels({
              position: {
                x: function (data) {
                  return data.x1 + 50
                }
              },
              labelOffset: {
                y: 7
              },
              labelInterpolationFnc: function (text) {
                return text + '%'
              }
            })
          ]*/
          /* 
          plugins: [
            ctPointLabels({
              textAnchor: 'middle',
              labelInterpolationFnc: function(value) {return '$' + value.toFixed(2)}
            })
          ] */
          
        },  

        estadosChart: {
            data: {
              labels: ['Ja', 'Fe', 'Ma', 'Ap', 'Mai', 'Ju', 'Jul', 'Au', 'Se', 'Oc', 'No', 'De'],
              series: [
                [25, 70, 10, 9, 5, 45, 32, 43, 56, 6, 18, 8],
              ],
            },
            /*options: {  
              seriesBarDistance: 10,            
              low: 0,
              high: 100, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
              showPoint: true,
              axisX: {
                type: this.$chartist.FixedScaleAxis,
                divisor: 10,
                ticks: [0,10,20,30,40,50,60,70,80,90,100],
                labelInterpolationFnc: function(value) {
                  return value
                }
              },
              chartPadding: {
                top: 0,
                right: 0,
                bottom: 0,
                left: 0,
              },
              horizontalBars: true,              
              
            },*/
            responsiveOptions: ['screen and (max-width: 640px)', {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc: function (value) {
                  return value[0]
                },
              },
            }]
        },
      } 
      
      //labelInterpolationFnc: this.$chartist.noop,
              /*plugins: [
                this.$chartist.plugins.ctBarLabels({
                  position: {
                    x: function (data) {
                      return data.x1 + 50
                    }
                  },
                  labelOffset: {
                    y: 7
                  },
                  labelInterpolationFnc: function (text) {
                    return text + '%'
                  }
                })
              ]*/
              /* 
              plugins: [
                ctPointLabels({
                  textAnchor: 'middle',
                  labelInterpolationFnc: function(value) {return '$' + value.toFixed(2)}
                })
              ] */
    },

    methods: {



    },

    watch: {

        data: function (val) {

          console.log('watch',val)

        }

    },
        
    mounted() {        
        
    },

  }
</script>

<style>
  
  .ct-series-a .ct-bar {
    /* Colour of your bars */
    stroke:  #943A4A;
    stroke-width: 30;
  }
  .ct-series-b .ct-bar {
    /* Colour of your bars */
    stroke:  #00a79d;
    stroke-width: 30;
  }

  /*
  .ct-label {
    color: white;
  }*/

</style>