<template>
	<v-container fluid>		
		 <v-flex>
			<div style="padding-bottom:10px">
				<v-btn fab dark small color="primary" @click="dialog = true, edit=0,itemactual=''" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div>		
			<v-card>
				<v-card-title class="justify-center">CONVENIOS MARCO</v-card-title>
				<v-card-text>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
				</v-card-text>
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" :disable-sort="true" :search="search">									

						<template v-slot:item.action="{ item }">
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="dialog = true, itemactual=item,edit=1"								
							>
								edit
							</v-icon>												
												
					  	</template>					              
		            </v-data-table>		            	
		          </v-layout>
			</v-card>
		 	
		</v-flex>

		<v-dialog v-model="dialog" max-width="1300px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>	
                            <v-form v-model="valid" ref="form">	
                                <v-card
                                    flat
                                    tile
                                >	
                                    <v-card-text>
                                        <v-row>
                                            <v-col sm6>													
                                                <v-text-field v-model="nombreasociado" label="Nombre Asociado"  
                                                    :rules="[rules.required]"
                                                >
                                                </v-text-field>
                                            </v-col>																											
                                        </v-row>
                                        <v-row>	
                                            <v-col sm3>
                                                <v-menu
                                                    v-model="menuDate"
                                                    :close-on-content-click="false"
                                                    :nudge-right="40"
                                                    transition="scale-transition"
                                                    offset-y																																
                                                >
                                                    <template v-slot:activator="{ on }">
                                                        <v-text-field
                                                            v-model="fechasuscripcion"
                                                            label="Fecha de Suscripción"
                                                            prepend-icon="event"
                                                            readonly
                                                            v-on="on"
                                                            :rules="[rules.required]"																																				
                                                        ></v-text-field>
                                                    </template>
                                                    <v-date-picker 
                                                        v-model="fechasuscripcion" @input="menuDate = false" :type="'date'"
                                                    >
                                                    </v-date-picker>
                                                </v-menu>
                                            </v-col>
                                            <v-col sm3>
                                                <v-menu
                                                    v-model="menuDate2"
                                                    :close-on-content-click="false"
                                                    :nudge-right="40"
                                                    transition="scale-transition"
                                                    offset-y																
                                                >
                                                    <template v-slot:activator="{ on }">
                                                        <v-text-field
                                                            v-model="fechainicio"
                                                            label="Fecha Inicio"
                                                            prepend-icon="event"
                                                            readonly
                                                            v-on="on"
                                                            :rules="[rules.required]"
                                                        ></v-text-field>
                                                    </template>
                                                    <v-date-picker 
                                                        v-model="fechainicio" @input="menuDate2 = false" :type="'date'"
                                                    >
                                                    </v-date-picker>
                                                </v-menu>
                                            </v-col>
                                            <v-col sm3>
                                                <v-menu
                                                    v-model="menuDate1"
                                                    :close-on-content-click="false"
                                                    :nudge-right="40"
                                                    transition="scale-transition"
                                                    offset-y																
                                                >
                                                    <template v-slot:activator="{ on }">
                                                        <v-text-field
                                                            v-model="fechaterminacion"
                                                            label="Fecha Terminación"
                                                            prepend-icon="event"
                                                            readonly
                                                            v-on="on"
                                                            :rules="[rules.required]"																		
                                                        ></v-text-field>
                                                    </template>
                                                    <v-date-picker 
                                                        v-model="fechaterminacion" @input="menuDate1 = false" :type="'date'"
                                                    >
                                                    </v-date-picker>
                                                </v-menu>
                                            </v-col>
                                                                                                    
                                            <v-col sm3>										
                                                <v-select
                                                    :items="arrEstados"
                                                    item-value="codigo"
                                                    item-text="descripcion"
                                                    v-model="codigoestado"
                                                    label="Estado"
                                                    :rules="[rules.required]"	
                                                    :return-object="true"			
                                                >									
                                                </v-select>    														
                                            </v-col>
                                        </v-row>

                                        <v-row>
                                            <v-expansion-panels focusable>
                                                <v-expansion-panel
                                                    key="pan16"
                                                >
                                                    <v-expansion-panel-header>Objeto</v-expansion-panel-header>
                                                    <v-expansion-panel-content>		
                                                        <v-flex sm12>
                                                            <v-textarea	
                                                                filled															
                                                                name="input-7-4"
                                                                label="Objeto"
                                                                v-model="objeto"
                                                            ></v-textarea>
                                                        </v-flex>
                                                    </v-expansion-panel-content>
                                                </v-expansion-panel>
                                            </v-expansion-panels>
                                        </v-row>                                        
                                        <v-row>
                                            <v-expansion-panels focusable>
                                                <v-expansion-panel
                                                    key="pan2"
                                                >
                                                    <v-expansion-panel-header>Observación</v-expansion-panel-header>
                                                    <v-expansion-panel-content>		
                                                        <v-flex sm12>
                                                            <v-textarea	
                                                                filled															
                                                                name="input-7-4"
                                                                label="Observación"
                                                                v-model="observacion"                                                                
                                                            ></v-textarea>
                                                        </v-flex>
                                                    </v-expansion-panel-content>
                                                </v-expansion-panel>
                                            </v-expansion-panels>
                                        </v-row>

                                        <v-row>
                                            <v-expansion-panels focusable>
                                                    <v-expansion-panel
                                                        key="pan5"
                                                    >	
                                                        <v-expansion-panel-header>Cargue de Soportes</v-expansion-panel-header>
                                                        <v-expansion-panel-content>
                                                            <v-row>
                                                                <v-col sm6>
                                                                    <v-file-input                            
                                                                        label="Convenio"
                                                                        accept=".pdf"
                                                                        placeholder="Agregar Convenio"
                                                                        id="fileconvenio"
                                                                        ref="fileconvenio"  
                                                                        name="fileconvenio"
                                                                        
                                                                        v-show="codigo"                          
                                                                    >                            
                                                                    </v-file-input>
                                                                </v-col>
                                                                
                                                                <v-col sm6>
                                                                    <v-file-input                            
                                                                        label="Otros Datos"
                                                                        accept=".pdf"
                                                                        placeholder="Agregar Otros Datos"
                                                                        id="fileotrosdatos"
                                                                        ref="fileotrosdatos"  
                                                                        name="fileotrosdatos"                                                                        
                                                                        v-show="codigo"                          
                                                                    >                            
                                                                    </v-file-input>
                                                                </v-col>	
                                                            </v-row>	
                                                        </v-expansion-panel-content>
                                                    </v-expansion-panel>
                                            </v-expansion-panels>				
                                        </v-row>
                                    </v-card-text>											
                                </v-card>
                            </v-form>    										
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions class="flexcard">
					<div style="text-align: left">
						<v-spacer></v-spacer>					
						<v-btn color="primary" text @click="saveitem" :disabled="!valid || edit==2" class="text-left">Guardar</v-btn>
						<v-btn color="primary" text @click="cerrarDialogo" class="text-left">Cancelar</v-btn>
					</div>
				</v-card-actions>
          	</v-card>
        </v-dialog>        
	</v-container>
</template>

<script>
	import {VMoney} from 'v-money'

	import ConveniosMarcoService from "../servicios/ConveniosMarcoService"	
	import estadosService from "../servicios/EstadosService"	

	export default {
		name:'ConveniosMarco',		
		data (){

			return {		
				modulo:'CONVENIOS MARCO',
								
  				loading: false,  				
  				dialog:false,
  				edit:-1,
  				dialog_del:false,				
  				processing:false,
				formTitle:'',
				valid:false,
                search:'',
                				
				menuDate:false,
				menuDate1:false,
				menuDate2:false,

  				codigo:'0',
				nombreasociado:'',
				fechasuscripcion:'',
            	fechaterminacion:'',
            	fechainicio:'',
            	codigoestado:'',
				objeto:'',
            	observacion:'',
				archivogeneral:'',
				archivootda:'',
				
				data: [],

				arrEstados:[],
                estadoactual:'',
                
  				headers: [
  					{ text: 'Nombre Asociado',align: 'left',sortable: false,value: 'nombreasociado'},					
                    { text: 'Fecha Suscripción', value: 'fechasuscripcion',sortable: false,align: 'left'},                    
                    { text: 'Fecha Inicio', value: 'fechainicio',sortable: false,align: 'left'},	
                    { text: 'Fecha Terminación', value: 'fechaterminacion',sortable: false,align: 'left'},				
					{ text: 'Estado', value: 'descripcionestado',sortable: false,align: 'left'},
                    { text: 'Accion', value: 'action',sortable: false}		        
  				],

  				rules: {
					required: value => !!value || 'Campo requerido.',
					valor: value =>  this.limpiarMoneda(value)>0 || 'El Valor debe ser mayor a 0.',
					minDate: value => value < new Date().toISOString() || 'La fecha no puede ser superior al dia de hoy',
					maxDate: value => value >= new Date().toISOString() || 'La fecha no puede ser inferior al dia de hoy'					
		        }				
	        }
	    },

	    filters: {

		},

	    methods: {
			
			showMessage (snack, time, color, text) {

			      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

			},
			
			resetForm () {

				this.codigo='0'
								
				this.numero=''
				this.fechasuscripcion=''
            	this.fechaterminacion=''
            	this.fechainicio=''
            	this.codigoestado=''
				this.objeto=''
            	this.observacion=''            	
                this.estadoactual = ''
                
                this.archivogeneral=''
				this.archivootda=''					
			},
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

            },
			
            traerDataPrincipal(){

		     	var _this = this
                this.loading = true

              	ConveniosMarcoService.getData()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.data = res.data.data

                          }  else {
                            
                            _this.data = []
                          
                          }

                      } else {                        	

                      	_this.data = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.data = []   
              		_this.loading = false                
              		
				})

            },             
		    
			closeDialogoDel () {
				  
				this.dialog_del = false
			},

			validaSave(){
				
				//COMO SON MUCHOS DATOS NO SE VALIDA
				return true					
			},

			number_format(amount, decimals) {

				amount += ''; // por si pasan un numero en vez de un string
				amount = parseFloat(amount.replace(/[^0-9\.]/g, '')) // elimino cualquier cosa que no sea numero o punto

				decimals = decimals || 0 // por si la variable no fue fue pasada

				// si no es un numero o es igual a cero retorno el mismo cero
				if (isNaN(amount) || amount === 0) 
					return parseFloat(0).toFixed(decimals)

				// si es mayor o menor que cero retorno el valor formateado como numero
				amount = '' + amount.toFixed(decimals)

				var amount_parts = amount.split('.'),
					regexp = /(\d+)(\d{3})/

				while (regexp.test(amount_parts[0]))
					amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2')

				return amount_parts.join(',')
			},

			saveitem(){

				var _this = this
                this.loading = true

				var datbit = ''				
			
				var estado = ''
				var nombreestado = ''
				var coordinador = ''
				var nombrecoordinador = ''
				var moneda = ''
				var nombremoneda = ''
				
				if(typeof this.codigoestado == 'object'){
					estado = this.codigoestado.codigo
					nombreestado = this.codigoestado.descripcion

				} else {
					estado = this.codigoestado
					nombreestado = this.itemactual.descripcionestado
				}


				let fechasus = this.fechasuscripcion == '' ? '1000-01-01' : this.fechasuscripcion
				let fechaterm = this.fechaterminacion == '' ? '1000-01-01' : this.fechaterminacion
				let fechainc = this.fechainicio  == '' ? '1000-01-01' : this.fechainicio

                var data = {codigo:this.codigo,nombreasociado:this.nombreasociado,fechasuscripcion:this.fechasuscripcion,
                            fechaterminacion:this.fechaterminacion,fechainicio:this.fechainicio,codigoestado:estado,
                            objeto:this.objeto,observacion:this.observacion,archivogeneral:this.archivogeneral,
                            archivootda:this.archivootda}

				if(this.edit){

					var valida = this.validaSave()

					if(!valida){

						this.showMessage(true,3000,'error','No hay datos para actualizar')
						this.loading = false
						return
					}

					datbit = ''
				} 			

				let ValidaFechas = this.validaFechas()
				if(ValidaFechas != ''){

					this.showMessage(true,5000,'error',ValidaFechas)
					this.loading = false
					return
				}

				datbit = 'NOMBRE ASOCIADO CONVENIO: ' + this.nombreasociado + ', FECHA SUSCRIPCION: ' + this.fechasuscripcion + 
						 ', ESTADO: ' + nombreestado + ', FECHA TERMINACION: ' + this.fechaterminacion

				ConveniosMarcoService.guardarData(data)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		if(_this.edit){
								mensaje = 'Actualizó'
								accbitacora = 'ACTUALIZACION'
							} else {
								mensaje = 'Agregó'
								accbitacora = 'CREACION'
							}

	              	  		_this.showMessage(true,3000,'success','Se ' + mensaje + ' el Convenio Marco con éxito')

	              	  		_this.del_item = ''
	              	  		_this.edit = -1	              	  		
	              	  		_this.traerDataPrincipal()
	              	  		_this.resetForm()
							_this.dialog = false								
							
							_this.agregaBitacora(accbitacora,datbit)							

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})
			},
			
			traeEstados(){

		     	var _this = this
                this.loading = true
				
              	estadosService.getEstadosXTipo(2)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

							_this.arrEstados = res.data.data							

                          }  else {
                            
                            _this.arrEstados = []
                          
                          }

                      } else {                        	

                      	_this.arrEstados = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.arrEstados = []   
              		_this.loading = false                
              		
				})

            },

			agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

			},

			/******************************** VALIDACIONES ***************************************
			**************************************************************************************/

			validaFechas(){				

				if(this.fechasuscripcion == '' || this.fechainicio == '' || this.fechaterminacion == '')
					return ''

				let FecSuscripcion = new Date(this.fechasuscripcion)
				let FecIncorporacion = new Date(this.fechainicio)
				let FecTerminacion = new Date(this.fechaterminacion)

				if(FecTerminacion <= FecSuscripcion)
					return 'La Fecha de Terminación debe ser superior a la Fecha de Inicio'

				if(FecTerminacion <= FecIncorporacion)	
					return 'La Fecha de Terminación debe ser superior a la Fecha de Incorporación'

				return ''	


			},
			
		},
		
    	watch: {
		    edit: function (val) {
			   
			   if(val=='1')
		       {

		       		this.formTitle = 'Editar'

		       		this.codigo = this.itemactual.codigo					
					this.nombreasociado = this.itemactual.nombreasociado				
					this.fechasuscripcion = this.itemactual.fechasuscripcion == '1000-01-01' ? '' : this.itemactual.fechasuscripcion
					this.fechaterminacion = this.itemactual.fechaterminacion == '1000-01-01' ? '' : this.itemactual.fechaterminacion
					this.fechainicio = this.itemactual.fechainicio == '1000-01-01' ? '' : this.itemactual.fechainicio
					this.codigoestado = this.itemactual.codigoestado
					this.objeto = this.itemactual.objeto
					this.observacion = this.itemactual.observacion					

			   } else{

		       		this.resetForm()
					this.formTitle = 'Nuevo'					
			   }			   
            },
            
			codigoestado: function(val) {

				if(typeof val == 'object'){
					this.estadoactual = this.codigoestado.codigo					

				} else {
					this.estadoactual = this.codigoestado					
				}

			},
		},

		computed: {

		},

		mounted() {

			this.traerDataPrincipal()
			this.agregaBitacora('INGRESO','INGRESO AL MODULO')
			this.traeEstados()			
		},	
	}
	
</script>

<style>

</style>