<template>
	<div>
		<v-container fluid fill-height>			
	      <v-layout flex align-center justify-center> 
	        <v-flex xs12 sm4 >
	          <v-toolbar class="pt-2 primary light-4" >
	            <v-toolbar-title class="white--text"><h4>Iniciar Sesión</h4></v-toolbar-title>	            
	          </v-toolbar>

	          <v-card elevation-1>
          		<v-progress-linear 
		            :indeterminate="processing"
		            background-color="transparent">
	            </v-progress-linear>

		          <div align="center" > 

		                <img :src="require('../assets/img/logo.png')"
	                        height="201px"
	                        width="129px"
	                        style="padding:20px"/>
	            	</div>

		          <v-card>
		            <v-card-text class="pt-4">
		              <div>
		                  <v-form v-model="valid" ref="form">
		                    <v-text-field
		                      prepend-icon="person"	
		                      label="Ingrese su Usuario"
		                      v-model="user.email"
		                      :rules="emailRules"
		                      required
		                    ></v-text-field>
		                    <v-text-field
		                      prepend-icon="lock"
		                      label="Ingrese su Contraseña"
		                      v-model="user.password"
		                      min="8"
		                      :append-icon="e1 ? 'visibility' : 'visibility_off'"
		                      @click:append="e1 = !e1"		                      
		                      :type="e1 ? 'password' : 'text'"
		                      :rules="passwordRules"	                      
		                      required
                          @keyup.enter.native="submit"
		                    >	                    	
		                    </v-text-field>
		                    <v-layout justify-space-between>
		                        <v-btn @click="submit" :class=" { 'primary light-4 white--text' : valid, disabled: !valid }" :loading="processing">Ingresar</v-btn>
		                        <!--<a href="">Recordar Contraseña</a>	-->
		                        <a color="info" style="font-weight: bold" @click="recuperar_pass = true">¿Olvidaste tú contraseña?</a>	                        
		                    </v-layout>

		                  </v-form>
		              </div>
		            </v-card-text>
		          </v-card>
		       </v-card>       
	        </v-flex>
	      </v-layout>
	   </v-container>

	  <v-dialog  v-model="recuperar_pass" persistent max-width="490">

          <v-card>

              <v-card-title class="headline">Por favor digite su email</v-card-title>

              <v-card-text>
                  
                  Le enviaremos un correo electrónico recordando su usuario y contraseña.

                  <v-text-field 
                    prepend-icon="email" label="Email" 
                    :rules="[rules.email]" v-model="email"
                  >                    	
                  </v-text-field>
                  
              </v-card-text>

              <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="error" text @click="recuperar_pass = false, email = ''">Cancelar</v-btn>
                  <v-btn color="primary" text @click="sendMail" :loading="btn_loading">Enviar</v-btn>
              </v-card-actions>

          </v-card>

    </v-dialog>

	</div>
</template>

<script>  
	import getLogin from "../servicios/LoginService";
  import sendMail from "../servicios/sendMailService";  

  export default {

		data (){

			return {
          
          modulo:'SISTEMA',
          processing: false,
          recuperar_pass: false,
          email: '',
          btn_loading: false,
          user: {
              email: '',
              password: '',              
          },
          valid: false,
          e1: true,          
          passwordRules: [
            (v) => !!v || 'Se requiere la contraseña',
          ],          
          emailRules: [
            (v) => !!v || 'Se requiere el Usuario',            
          ],
          rules: {
            required: value => !!value || 'Campo requerido.',
            email: value => {
                const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                return pattern.test(value) || 'E-mail inválido.'
            }
          }
      }
    },

        methods: {
          submit () {
            if (this.$refs.form.validate()) {             

              	this.login()	          

            }
          },
          clear () {
            this.$refs.form.reset()
          },

          login() {

          		var _this = this 

                this.processing = true
                getLogin(this.user)
                    .then(function(res) {

                    	var eserror = true                    	

                        if (res.response) {
                            
                            var error = ''

                            if(res.response.status == 500){

                                error = 'Error 500. Error interno de servidor.'

                            } else {                                
                                error = res.response.data.message
                            }                           

                           eserror = false                           

                           _this.showMessage(true,3000,'error',error)

                        } else if (res.request) {
                            /*
                             * The request was made but no response was received, `error.request`
                             * is an instance of XMLHttpRequest in the browser and an instance
                             * of http.ClientRequest in Node.js
                             */
                            var error = ''
                             
                            if(res.data){

                              if(res.data.data[0]){

                                  _this.$session.start()
                                  _this.$session.set('logged',true)
                                  _this.$session.set('usuarioid',res.data.data[0].usuarioid)
                                  _this.$session.set('usuario',res.data.data[0].usuario)
                                  _this.$session.set('nombre',res.data.data[0].nombreusuario)                                  
                                  _this.$session.set('sexo',res.data.data[0].sexo)
                                  _this.$session.set('codigopersonal',res.data.data[0].codigopersonal)
                                  _this.$session.set('perfil',res.data.data[0].codigoperfil)                                 

                                  _this.processing = false
                                  _this.$emit('success', true) 

                                  _this.$store.commit('setAvatar',res.data.data[0].sexo)
                                  
                                  _this.agregaBitacora()

                              } else {
                                  
                                  error = 'Error Request. Error interno de servidor.'
                                  eserror = false
                              } 

                            }  else {
                              
                              error = 'Error Request. Error interno de servidor.'
                              eserror = false
                            
                            }

                            if(eserror == false){

                                _this.showMessage(true,3000,'error',error)

                            }                           

                        } else {

                        	if(res.message){

                        		eserror = false
                        		_this.showMessage(true,3000,'error',res.message)                        		

                        	}
                        }

                        if(eserror == false){

                        	_this.processing = false
                        	_this.$emit('success', false)
                    		
                        }

                	}).catch(function(err) {

                		_this.showMessage(true,3000,'error',err)
                    _this.$emit('success', false)                		
				          })                    
            },

            sendMail() {

                this.btn_loading = true
                var _this = this 

                sendMail.sendMail(this.email)
                    .then(function(res) {

                      _this.btn_loading = false

                      if(res.data.success === true){
                          
                          _this.showMessage(true,3000,'success',res.data.message)
                          _this.recuperar_pass = false     
                          _this.email = '' 

                      } else {

                        _this.showMessage(true,3000,'error',res.data.message)                        

                      }

                  }).catch(function(err) {
                    
                    _this.btn_loading = false  

                    var msgErr = ''

                    if(err.data.request.response){

                      msgErr = err.data.request.response

                    } else {

                      msgErr = err.data.message

                    }

                    _this.showMessage(true,3000,'error',msgErr)
                    
                  })
            },

            showMessage (snack, time, color, text) {

				      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

           },
           
           agregaBitacora(){
              
              var accion = 'INGRESO'
              var detalle = 'INGRESO AL SISTEMA'      

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
        }
	}	
</script>

<style scoped>
	.photoCredit{
      position: absolute;
      bottom: 15px;
      right: 15px;
	}
</style>