<template>
	<v-container>		
		 <v-flex>
			<div style="padding-bottom:10px"> 
				<v-btn fab dark small color="primary" @click="dialog = true, edit=0,itemactual=''" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div>		
			<v-card >
				<v-card-title class="justify-center">Perfiles</v-card-title>
				<v-card-text>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
				</v-card-text>
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" :disable-sort="true" :search="search">

						<template v-slot:item.action="{ item }">
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="dialog = true, edit=1, itemactual=item"
								v-show="item.codigo>11"
							>
								edit
							</v-icon>
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								:loading="loading && itemactual === item "
								@click="dialog_del=true, itemactual=item"
								v-show="item.codigo>11"
								>
								delete
							</v-icon>
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"								
								@click="AbrirDialogoPermiso(item.codigo, item.nombre)"								
								>
								person_add
							</v-icon>													
					  	</template>					              
		            </v-data-table>		            	
		          </v-layout>
			</v-card>
		 	
		</v-flex>

		<v-dialog v-model="dialog" max-width="700px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>	
							<v-form v-model="valid" ref="form">					
								<v-flex>
									<v-text-field v-model="nombre" label="Nombre" :rules="[rules.required]"></v-text-field>
								</v-flex>								
							</v-form>									
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

        <v-dialog v-model="dialog_del" max-width="300px">

          	<v-card>

				<v-card-title>
					<span class="headline red--text">Eliminar Perfil</span>
				</v-card-title>
  
				<v-card-text>					
					¿Esta seguro de eliminar el Perfil seleccionado?					
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="closeDialogoDel">Cancelar</v-btn>
					<v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>		

		<v-dialog v-model="dialog_permiso" max-width="600px">			
			<v-card height="100%">
				<v-subheader class="font-weight-bold">PERMISOS PARA '{{ perfilnombreactual }}' </v-subheader>
				<v-layout  justify-center>
					<v-flex xs6 md6 lg6 class="my-2">	
						<v-card height="100%" class="flexcard">
							<v-list>							
								<v-subheader>PERMISOS ACTUALES</v-subheader>
								<v-list-item
									v-for="(item,i) in permisos"
									:key="item.codigo"						
								>
									<v-list-item-action>
										<v-checkbox v-model="chkperactuales[i]" color="primary"></v-checkbox>
									</v-list-item-action>

									<v-list-item-content>
										<v-list-item-title>{{ item.nombre }}</v-list-item-title>							
									</v-list-item-content>								
								</v-list-item>			
							</v-list>														
						</v-card>
						<v-layout class="mt-3 ml-3">
								<v-btn color="red" dark small fab @click="quitarPermiso">
									<v-icon>clear</v-icon>
								</v-btn>
						</v-layout>
					</v-flex>
					<v-flex xs6 md6 lg6 class="my-2">
						<v-card height="100%" class="flexcard">
							<v-list>								
								<v-subheader>PERMISOS POR SELECCIONAR</v-subheader>
								<v-list-item
									v-for="(item ,i) in permisosFal"
									:key="item.codigo"						
								>
									<v-list-item-action>
										<v-checkbox v-model="chkperfaltantes[i]" color="primary"></v-checkbox>
									</v-list-item-action>

									<v-list-item-content>
										<v-list-item-title>{{ item.nombre }}</v-list-item-title>							
									</v-list-item-content>
									
								</v-list-item>			
							</v-list>							
						</v-card>
						<v-layout class="mt-3 mr-3">
							<v-btn color="primary" dark small fab @click="agregaPermiso">
								<v-icon>add</v-icon>
							</v-btn>
						</v-layout>
					</v-flex>
				</v-layout>

				<v-layout justify-end style="padding-top:50px;padding-bottom:10px;padding-right:5px">
      				<v-flex shrink>	
						<v-btn small @click="closeDialogoPer" class="mr-3">Cancelar</v-btn>
						<v-btn small color="primary" @click="actualizaPermisos" >Actualizar</v-btn>
      				</v-flex>
				</v-layout>
			</v-card>
        </v-dialog>
	</v-container>	
</template>

<script>
	import PerfilesService from "../servicios/PerfilesService";
    import permisosService from "../servicios/PermisosService";

	export default {

		data (){

			return {		
				modulo:'PERFILES',					
  				loading: false,  				
  				dialog:false,
  				edit:-1,
  				dialog_del:false, 
				dialog_permiso:false,							
  				processing:false,
				formTitle:'',
				valid:false,
				search:'',
  				codigo:'0',
  				nombre:'',						
				itemactual:'',
                data: [],
                perfilidactual: '',
                perfilnombreactual: '',				
				permisos:[],
				permisosFal:[],
				chkperactuales:[],
				chkperfaltantes:[],				
  				headers: [  					
  					{
			          text: 'Perfil',
			          align: 'left',
			          sortable: false,
			          value: 'nombre',
			        },			        		       
			        { text: 'Accion', value: 'action',sortable: false},
  				],
  				
  				rules: {
		            required: value => !!value || 'Campo requerido.'		            
		          }				
	        }
	    },

	    filters: {
		},

	    methods: {
			
			showMessage (snack, time, color, text) {

			      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

		     },		     
			resetForm () {

				this.codigo='0'
				this.nombre=''								
			},
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

			},
		    traerData(){

		     	var _this = this
                this.loading = true

              	PerfilesService.getPerfiles()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.data = res.data.data

                          }  else {
                            
                            _this.data = []
                          
                          }

                      } else {                        	

                      	_this.data = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.data = []   
              		_this.loading = false                
              		
				})

		     },			

			closeDialogoDel () {
				  
				this.dialog_del = false
			},

			deleteItem() {
				
				var _this = this
				this.loading = true

				PerfilesService.DelPerfil(_this.itemactual.codigo)
	              .then(function(res) {

	              	  if(res.statusText){

	              	  		_this.showMessage(true,3000,'success','Se eliminó el Perfil con éxito')

	              	  		_this.del_item = ''	              	  		
	              	  		_this.traerData()
							_this.closeDialogoDel()
                                
                            _this.modulo = 'PERFILES'    
							_this.agregaBitacora('ELIMINACION','SE ELIMINÓ EL PERFIL CON CODIGO:' + _this.itemactual.codigo + 
													', NOMBRE:' + _this.itemactual.nombre)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  } 	                   
						_this.del_item = ''						
	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

			},

			validaSave(){

				if(this.itemactual.nombre == this.nombre){

					return false

				} else {

					return true

				}	
			},
			saveitem(){

				var _this = this
                this.loading = true

				var datbit = ''				

				var data = {codigo:this.codigo,nombre:this.nombre};

				if(this.edit){

					var valida = this.validaSave()

					if(!valida){

						this.showMessage(true,3000,'error','No hay datos para actualizar')
						this.loading = false
						return;
					}

					datbit = ''

					if (this.itemactual.nombre != this.nombre)
						datbit += 'Nombre: ' + this.itemactual.nombre.toUpperCase() + ' a ' + this.nombre.toUpperCase()								
					
					datbit = 'CODIGO: ' + this.codigo + ' (' + datbit + ')'

				} else {

					datbit += 'NOMBRE: ' + this.nombre.toUpperCase()

				}				

                PerfilesService.guardarPerfil(data)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		if(_this.edit){
								mensaje = 'Actualizó'
								accbitacora = 'ACTUALIZACION'
							} else {
								mensaje = 'Agregó'
								accbitacora = 'CREACION'
							}

	              	  		_this.showMessage(true,3000,'success','Se ' + mensaje + ' el Perfil con éxito')

	              	  		_this.del_item = ''
	              	  		_this.edit = -1	              	  		
	              	  		_this.traerData()
	              	  		_this.resetForm()
							_this.dialog = false								
                            
                            _this.modulo = 'PERFILES'
							_this.agregaBitacora(accbitacora,datbit)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})
			},

			AbrirDialogoPermiso(codigo,nombre){

				this.traePermisosPerfil(codigo)
				this.traePermisosPerfilFal(codigo)
				this.perfilidactual = codigo
				this.perfilnombreactual = nombre
				this.dialog_permiso = true
			},

			closeDialogoPer() {

				this.perfilidactual = ''
				this.perfilnombreactual = ''
				this.dialog_permiso = false
			},

			traePermisosPerfil(Codigo){

				var _this = this
				
				permisosService.getPermisosActuales(Codigo)
					.then(function(res) {

						if (res.request) {                       
														
							if(res.data){                        

								_this.permisos = res.data.data	
								_this.chkperactuales = []	
								
								for (let index = 0; index < _this.permisos.length; index++) {
									_this.chkperactuales[index] = false									
								}

							}  else {
							
								_this.permisos = []
								_this.chkperactuales = []

							}                         

						} else {                        	

							_this.permisos = []   
							_this.chkperactuales = []                     	
						}                    
						
				}).catch(function(err) {

					_this.permisos = []	              	
					
				})
			},
			traePermisosPerfilFal(CodigoUser){

				var _this = this
				
				permisosService.getPermisosFal(CodigoUser)
					.then(function(res) {

						if (res.request) {                       
														
							if(res.data){                        

								_this.permisosFal = res.data.data
								_this.chkperfaltantes = []

								for (let index = 0; index < _this.permisosFal.length; index++) {
									_this.chkperfaltantes[index] = false									
								}								

							}  else {
							
								_this.permisosFal = []
								_this.chkperfaltantes = []
							
							}                         

						} else {                        	

							_this.permisosFal = [] 
							_this.chkperfaltantes = []                       	
						}                    
						
				}).catch(function(err) {

					_this.permisosFal = []	              	
					
				})
			},

			actualizarChkPermisos(){

				this.chkperfaltantes = []
				this.chkperactuales = []

				for (let index = 0; index < this.permisos.length; index++) {					
					this.chkperactuales[index] = false
				}

				for (let index = 0; index < this.permisosFal.length; index++) {					
					this.chkperfaltantes[index] = false
				}

			},
			agregaPermiso(){

				for (let index = this.chkperfaltantes.length - 1; index >= 0; index--) {
					
					if(this.chkperfaltantes[index] == true){

						this.permisos.push(this.permisosFal[index])
						this.permisosFal.splice(index, 1)
					}
				}

				this.actualizarChkPermisos()
			},

			quitarPermiso(){

				for (let index = this.chkperactuales.length - 1; index >= 0; index--) {
					
					if(this.chkperactuales[index] == true){

						this.permisosFal.push(this.permisos[index])
						this.permisos.splice(index, 1)
					}
				}

				this.actualizarChkPermisos()
			},

			actualizaPermisos(){                

				var ArrayResult = []
                var txtpermisos = ''
                
				for (let index = 0; index < this.permisos.length; index++) {					
                    ArrayResult.push({'perfcod':this.perfilidactual,'opccod':this.permisos[index].codigo})
                    
                    if(txtpermisos == '')
                        txtpermisos = this.permisos[index].nombre
                    else
                        txtpermisos += ', ' + this.permisos[index].nombre
				}				

                var datbit = 'SE ACTUALIZARON LOS PERMISOS DEL PERFIL ' + this.perfilnombreactual + '(' + txtpermisos + ')' 

				var _this = this
                this.loading = true

              	PerfilesService.agregaPermisos(this.perfilidactual, ArrayResult)
					.then(function(res) {

						if (res.response) {                           
								
							var error = res.response.data.message
							_this.showMessage(true,3000,'error',error)

						} else if(res.statusText){
								
								_this.showMessage(true,3000,'success','Se actualizarón los permisos para el Perfil con éxito')
                                _this.closeDialogoPer()		
                                
                                _this.modulo = 'PERMISOS'
                                _this.agregaBitacora('CREACION/ACTUALIZACION',datbit)

						}else{	                                         	

								_this.showMessage(true,3000,'error',res.message) 	                  	
						}

						_this.loading = false	                 
							
					}).catch(function(err) {

						_this.showMessage(true,3000,'error',err)	    
						_this.loading = false          	
						
					})
			},

			agregaBitacora(accion, detalle){                  

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {
		    edit: function (val) {

		       if(val)
		       {
		       		this.formTitle = 'Editar'

		       		this.codigo = this.itemactual.codigo
		       		this.nombre = this.itemactual.nombre				

		       } else{

		       		this.resetForm()
		       	    this.formTitle = 'Nuevo'
		       }
		    }
		},
		mounted() {

            this.traerData()
            
            this.modulo = 'PERFILES'
			this.agregaBitacora('INGRESO','INGRESO AL MODULO')
		},	
	}
	
</script>

<style>
</style>