<template>
	<v-container fluid>		
		 <v-flex>
			<div style="padding-bottom:10px"> 
				<v-btn fab dark small color="primary" @click="dialog = true, edit=0,itemactual=''" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div>		
			<v-card >
				<v-card-title class="justify-center">PERSONAL</v-card-title>
				<v-card-text>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
				</v-card-text>
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" :disable-sort="true" :search="search">						

						<template v-slot:item.action="{ item }">
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="dialog = true, edit=1, itemactual=item"
							>
								edit
							</v-icon>
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								:loading="loading && itemactual === item "
								@click="dialog_del=true, itemactual=item"
								>
								delete
							</v-icon>						
												
					  	</template>					              
		            </v-data-table>		            	
		          </v-layout>
			</v-card>
		 	
		</v-flex>

		<v-dialog v-model="dialog" scrollable persistent max-width="1000px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>	
							<v-form v-model="valid" ref="form">	
								<v-layout wrap>
									<v-flex sm6>
										<v-autocomplete
											:items="arrTiposId"
											item-value="codigo"
											item-text="descripcion"
											v-model="tipoid"
											label="Tipo Identificación"
											:rules="[rules.required]"
											:return-object="true"					
										>									
										</v-autocomplete>
									</v-flex>
									<v-flex sm6>
										<v-text-field v-model="identificacion" type="number" label="Identificación"  
											:rules="[rules.required, rules.valor]">
										</v-text-field>		
									</v-flex>    
									<v-flex sm6>
										<v-text-field v-model="apellido" label="Apellidos"  
											:rules="[rules.required]">
										</v-text-field>		
									</v-flex>
									<v-flex sm6>
										<v-text-field v-model="nombre" label="Nombres"  
											:rules="[rules.required]">
										</v-text-field>		
									</v-flex>
									<v-flex sm6>
										<v-autocomplete
											:items="arrCargos"
											item-value="codigo"
											item-text="nombre"
											v-model="codigocargo"
											label="Cargo"
											:rules="[rules.required]"
											:return-object="true"					
										>									
										</v-autocomplete>
									</v-flex>
									<v-flex sm6>										
										<v-autocomplete
											:items="arrAreas"
											item-value="codigo"
											item-text="nombre"
											v-model="codigoarea"
											label="Area"
											:rules="[rules.required]"
											:return-object="true"					
										>									
										</v-autocomplete>
									</v-flex>
									<v-flex sm6>
										<v-text-field v-model="direccion" label="Dirección">
										</v-text-field>	
									</v-flex>
									<v-flex sm6>
										<v-autocomplete
											:items="arrCiudades"
											item-value="codigo"
											item-text="nombrecompleto"
											v-model="codigociudad"
											label="Ciudad"
											:rules="[rules.required]"
											:return-object="true"					
										>									
										</v-autocomplete>
									</v-flex>

									<v-flex sm4>
										<v-text-field v-model="telefono" label="Teléfono" type="number" ></v-text-field>
									</v-flex>
									<v-flex sm4>
										<v-select
											:items="sexoSel"
											v-model="sexo"
											label="Sexo"
											:rules="[rules.required]">									
										</v-select>
										
									</v-flex>
									<v-flex sm4>
										<v-menu
											v-model="menuDate"
											:close-on-content-click="false"
											:nudge-right="40"
											transition="scale-transition"
											offset-y																																
										>
											<template v-slot:activator="{ on }">
												<v-text-field
													v-model="fechanacimiento"
													label="Fecha Nacimiento"
													prepend-icon="event"
													readonly
													v-on="on"  
													:rules="[rules.required]"                                              																																			
												></v-text-field>
											</template>
											<v-date-picker 
												v-model="fechanacimiento" @input="menuDate = false" 
													:type="'date'" :rules="[rules.required]"
											>
											</v-date-picker>
										</v-menu>
									</v-flex>											

									<v-flex sm12>
										<v-text-field v-model="correo" label="Correo" :rules="[rules.required,rules.email]">
										</v-text-field>		
									</v-flex>

									<v-flex sm3>
										<v-autocomplete
											:items="arrEstados"
											item-value="codigo"
											item-text="descripcion"
											v-model="codigoestado"
											label="Estado"
											:rules="[rules.required]"
											:return-object="true"					
										>									
										</v-autocomplete>
									</v-flex>
									<v-flex sm3>
										<v-autocomplete
											:items="arrTiposContrato"
											item-value="codigo"
											item-text="descripcion"
											v-model="codigotipocont"
											label="Tipo Contrato"
											:rules="[rules.required]"
											:return-object="true"					
										>									
										</v-autocomplete>
									</v-flex>
									<v-flex sm3>
										<v-text-field v-model="horasemanales" label="Horas Semanales" type="number" min="0"
											:rules="[rules.required,rules.valor]" >
										</v-text-field>		
									</v-flex>
									<v-flex sm3>
										<v-text-field v-model="salariobasico" 
											label="Salario Básico"
											prefix="$ "
											:rules="[rules.required]" 
											@blur="formatearValor()"
											@focus="quitarFormato()"
										>
										</v-text-field>		
									</v-flex>

								</v-layout>									
							</v-form>									
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

        <v-dialog v-model="dialog_del" width="250">

          	<v-card>

				<v-card-title>
					<span class="headline red--text">Eliminar Personal</span>
				</v-card-title>
  
				<v-card-text>					
					¿Esta seguro de eliminar el Personal seleccionado?					
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="closeDialogoDel">Cancelar</v-btn>
					<v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>
	</v-container>
</template>

<script>
	import PersonalService from "../servicios/PersonalService"

	import tiposidService from "../servicios/TiposIdeService"
	import cargosService from "../servicios/CargosService"
	import areasService from "../servicios/AreasService"
	import ciudadesService from "../servicios/CiudadesService"
	import estadosService from "../servicios/EstadosService"
	import tipocontratoService from "../servicios/TiposContratoService"
    
	export default {

		data (){

			return {		
				modulo:'PERSONAL',					
  				loading: false,  				
  				dialog:false,
  				edit:-1,
  				dialog_del:false,				
  				processing:false,
				formTitle:'',				
                search:'',
				valid:false,
				
  				codigo:0,
				tipoid:'',
				identificacion:'',
                apellido:'',
                nombre:'',
                codigocargo:'',
                codigoarea:'',	
                direccion:'',
                telefono:'',
                codigociudad:'',
                correo:'',
                codigoestado:'',
                codigotipocont:'',
                horasemanales:0,
				sexo:'',
				fechanacimiento:'',
				salariobasico:0,

				menuDate:false,

				arrTiposId:[],
				arrCargos:[],
				arrAreas:[],
				arrCiudades:[],
				arrEstados:[],
				arrTiposContrato:[],
				
				sexoSel:['F','M'],
				
				itemactual:'',
				data: [], 				
  				headers: [
  					{
			          text: 'Tipo Ident.',
			          align: 'left',
			          sortable: false,
			          value: 'nombretipoid',
                    },                    
                    { text: 'Identificación', value: 'identificacion',sortable: false,align: 'left'},                    
					{ text: 'Nombre', value: 'nombrecompleto',sortable: false,align: 'left'},
					{ text: 'Sexo', value: 'sexo',sortable: false,align: 'left'},
                    { text: 'Cargo', value: 'nombrecargo',sortable: false,align: 'left'},
                    { text: 'Area', value: 'nombrearea',sortable: false,align: 'left'},
                    //{ text: 'Dirección', value: 'direccion',sortable: false,align: 'left'},
                    //{ text: 'Teléfono', value: 'telefono',sortable: false,align: 'left'},
                    //{ text: 'Ciudad', value: 'nombreciudad',sortable: false,align: 'left'},
                    //{ text: 'Correo', value: 'correo',sortable: false,align: 'left'},
                    { text: 'Estado', value: 'nombreestado',sortable: false,align: 'left'},
                    { text: 'Tipo Contrato', value: 'descripciontipocont',sortable: false,align: 'left'},
                    { text: 'Horas Semanales (Invst.)', value: 'horasemanales',sortable: false,align: 'left'},
                    
                    { text: 'Accion', value: 'action',sortable: false}		        
  				],
  				
  				rules: {
					required: value => !!value || 'Campo requerido.',
					valor: value => value>0 || 'El Valor debe ser mayor a 0.',
					horassemana : value => value<=40 || 'Las Horas semanales no pueden superar las 40',
					email: value => {
		                const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
		                return pattern.test(value) || 'E-mail inválido.'
		            }
		          }				
	        }
	    },

	    filters: {
		},

	    methods: {
			
			showMessage (snack, time, color, text) {

			      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

		     },		     
			resetForm () {
                
                this.codigo = 0
				this.tipoid = '',
				this.identificacion = ''
                this.apellido = ''
                this.nombre = ''
                this.codigocargo = ''
                this.codigoarea = ''	
                this.direccion = ''
                this.telefono = ''
                this.codigociudad = ''
                this.correo = ''
                this.codigoestado = ''
                this.codigotipocont = ''
				this.horasemanales = 0
				this.sexo = ''
				this.fechanacimiento = ''
				this.salariobasico = 0
			},
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

            },

            traerDataPrincipal(){

		     	var _this = this
                this.loading = true

              	PersonalService.getData()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.data = res.data.data

                          }  else {
                            
                            _this.data = []
                          
                          }

                      } else {                        	

                      	_this.data = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.data = []   
              		_this.loading = false                
              		
				})

            },             
			
			traeEstados(){

		     	var _this = this
                this.loading = true
				
              	estadosService.getEstadosXTipo(1)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

							_this.arrEstados = res.data.data							

                          }  else {
                            
                            _this.arrEstados = []
                          
                          }

                      } else {                        	

                      	_this.arrEstados = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.arrEstados = []   
              		_this.loading = false                
              		
				})

			},

			traeTiposId(){

		     	var _this = this
                				
              	tiposidService.getTiposIde()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){
							  	
							_this.arrTiposId = res.data.data							

                          }  else {
                            
                            _this.arrTiposId = []
                          
                          }

                      } else {                        	

                      	_this.arrTiposId = []                        	
                      }    
                                  
                      
              	}).catch(function(err) {

              		_this.arrTiposId = []
              		
				})

			},

			traeCargos(){

		     	var _this = this
                				
              	cargosService.getCargos()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){
							  	
							_this.arrCargos = res.data.data							

                          }  else {
                            
                            _this.arrCargos = []
                          
                          }

                      } else {                        	

                      	_this.arrCargos = []                        	
                      }    
                                  
                      
              	}).catch(function(err) {

              		_this.arrCargos = []
              		
				})

			},

			traeAreas(){

		     	var _this = this
                				
              	areasService.getAreas()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){
							  	
							_this.arrAreas = res.data.data							

                          }  else {
                            
                            _this.arrAreas = []
                          
                          }

                      } else {                        	

                      	_this.arrAreas = []                        	
                      }    
                                  
                      
              	}).catch(function(err) {

              		_this.arrAreas = []
              		
				})

			},

			traeCiudades(){

		     	var _this = this
                				
              	ciudadesService.getData()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){
							  	
							_this.arrCiudades = res.data.data							

                          }  else {
                            
                            _this.arrCiudades = []
                          
                          }

                      } else {                        	

                      	_this.arrCiudades = []                        	
                      }    
                                  
                      
              	}).catch(function(err) {

              		_this.arrCiudades = []
              		
				})

			},

			traeTiposContrato(){

		     	var _this = this
                				
              	tipocontratoService.getData()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){
							  	
							_this.arrTiposContrato = res.data.data							

                          }  else {
                            
                            _this.arrTiposContrato = []
                          
                          }

                      } else {                        	

                      	_this.arrTiposContrato = []                        	
                      }    
                                  
                      
              	}).catch(function(err) {

              		_this.arrTiposContrato = []
              		
				})

			},

			closeDialogoDel () {
				  
				this.dialog_del = false
			},

			deleteItem() {
				
				var _this = this
				this.loading = true

				PersonalService.DelData(_this.itemactual.codigo)
	              .then(function(res) {

	              	  if(res.statusText){

	              	  		_this.showMessage(true,3000,'success','Se eliminó los datos con éxito')

	              	  		_this.del_item = ''	              	  		
	              	  		_this.traerDataPrincipal()
							_this.closeDialogoDel()
								
							_this.agregaBitacora('ELIMINACION','SE ELIMINÓ EL PERSONAL CON CODIGO:' + _this.itemactual.codigo + 
													', NOMBRE:' + _this.itemactual.nombre + ' ' + _this.itemactual.apellido)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  } 	                   
						_this.del_item = ''						
	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

			},

			validaSave(){
				
				var codigotipoid = 0
				var codigocgo = 0
				var codigoare = 0
				var codigociu = 0
				var codigoest = 0
				var codigotipcont = 0

				if(typeof this.tipoid == 'object'){
					codigotipoid = this.tipoid.codigo

				} else {
					codigotipoid = this.tipoid					
				}

				if(typeof this.codigocargo == 'object'){
					codigocgo = this.codigocargo.codigo

				} else {
					codigocgo = this.codigocargo					
				}

				if(typeof this.codigoarea == 'object'){
					codigoare = this.codigoarea.codigo

				} else {
					codigoare = this.codigoarea					
				}

				if(typeof this.codigoestado == 'object'){
					codigoest = this.codigoestado.codigo

				} else {
					codigoest = this.codigoestado					
				}
				
				if(typeof this.codigoarea == 'object'){
					codigociu = this.codigociudad.codigo

				} else {
					codigociu = this.codigociudad					
				}
				
				if(typeof this.codigotipocont == 'object'){
					codigotipcont = this.codigotipocont.codigo

				} else {
					codigotipcont = this.codigotipocont					
				}				

                if(this.itemactual.tipoid == codigotipoid && this.itemactual.identificacion == this.identificacion && 
                    this.itemactual.apellido == this.apellido && this.itemactual.nombre == this.nombre &&
					this.itemactual.codigocargo == codigocgo && this.itemactual.codigoarea == codigoare && 
                    this.itemactual.direccion == this.direccion && this.itemactual.telefono == this.telefono && 
                    this.itemactual.codigociudad == codigociu && this.itemactual.correo == this.correo &&
                    this.itemactual.codigoestado == codigoest && this.itemactual.codigotipocont == codigotipcont &&
					this.itemactual.horasemanales == this.horasemanales && this.itemactual.sexo == this.sexo &&
					this.itemactual.fechanacimiento == this.fechanacimiento && 
					this.itemactual.salariobasico == this.limpiarMoneda(this.salariobasico)){

					return false

				} else {

					return true

				}	
			},
			saveitem(){

				var _this = this
                this.loading = true

				var datbit = ''
				
				var codigotipoid = 0
				var nombretipoid = ''
				var codigocgo = 0
				var nombrecgo = ''
				var codigoare = 0
				var nombreare = ''
				var codigociu = 0
				var nombreciu = ''
				var codigoest = 0
				var nombreest = ''
				var codigotipcont = 0
				var nombretipcont = ''

				if(typeof this.tipoid == 'object'){
					codigotipoid = this.tipoid.codigo
					nombretipoid = this.tipoid.descripcion

				} else {
					codigotipoid = this.tipoid
					nombretipoid = this.nombretipoid					
				}

				if(typeof this.codigocargo == 'object'){
					codigocgo = this.codigocargo.codigo
					nombrecgo = this.codigocargo.nombre

				} else {
					codigocgo = this.codigocargo	
					nombrecgo = this.nombrecargo				
				}

				if(typeof this.codigoarea == 'object'){
					codigoare = this.codigoarea.codigo
					nombreare = this.codigoarea.nombre
				} else {
					codigoare = this.codigoarea		
					nombreare = this.nombrearea			
				}

				if(typeof this.codigociudad == 'object'){
					codigociu = this.codigociudad.codigo
					nombreciu = this.codigociudad.nombrecompleto
				} else {
					codigociu = this.codigociudad	
					nombreciu = this.nombreciudad				
				}

				if(typeof this.codigoestado == 'object'){
					codigoest = this.codigoestado.codigo
					nombreest = this.codigoestado.descripcion
				} else {
					codigoest = this.codigoestado
					nombreest = this.nombreestado					
				}

				if(typeof this.codigotipocont == 'object'){
					codigotipcont = this.codigotipocont.codigo
					nombretipcont = this.codigotipocont.descripcion
				} else {
					codigotipcont = this.codigotipocont
					nombretipcont = this.descripciontipocont					
				}
				
                var data = {codigo:this.codigo,tipoid:codigotipoid,identificacion:this.identificacion,apellido:this.apellido,
							nombre:this.nombre,codigocargo:codigocgo,codigoarea:codigoare,
                            direccion:this.direccion,telefono:this.telefono,codigociudad:codigociu,
                            correo:this.correo,codigoestado:codigoest,codigotipocont:codigotipcont,
							horasemanales:this.horasemanales,sexo:this.sexo,
							fechanacimiento:this.fechanacimiento,salariobasico:this.limpiarMoneda(this.salariobasico)}

				if(this.edit){

					var valida = this.validaSave()

					if(!valida){

						this.showMessage(true,3000,'error','No hay datos para actualizar')
						this.loading = false
						return;
					}

					datbit = ''

					if (this.itemactual.tipoid != codigotipoid)
                        datbit += 'Tipo Ident.: ' + this.itemactual.nombretipoid.toUpperCase() + ' a ' + nombretipoid.toUpperCase()
                        
                    if (this.itemactual.identificacion != this.identificacion)
						datbit += datbit == '' ? 'Identificación: ' + this.itemactual.identificacion + ' a ' + this.identificacion : 
									', Identificación: ' + this.itemactual.identificacion + ' a ' + this.identificacion   

					if (this.itemactual.apellido != this.apellido) {
						datbit += datbit == '' ? 'Apellidos: ' + this.itemactual.apellido + ' a ' + this.apellido : 
									', Apellidos: ' + this.itemactual.apellido + ' a ' + this.apellido 
                    }
                    
                    if (this.itemactual.nombre != this.nombre) {
						datbit += datbit == '' ? 'Nombres: ' + this.itemactual.nombre + ' a ' + this.nombre : 
									', Nombres: ' + this.itemactual.nombre + ' a ' + this.nombre 
					}

					if (this.itemactual.sexo != this.sexo) {
						datbit += datbit == '' ? 'Sexo: ' + this.itemactual.sexo + ' a ' + this.sexo : 
									', Sexo: ' + this.itemactual.sexo + ' a ' + this.sexo 
					}
                    
                    if (this.itemactual.codigocargo != codigocgo) {
						datbit += datbit == '' ? 'Cargo: ' + this.itemactual.nombrecargo + ' a ' + nombrecgo : 
									', Cargo: ' + this.itemactual.nombrecargo + ' a ' + nombrecgo 
                    }

					if (this.itemactual.codigoarea != codigoare) {
						datbit += datbit == '' ? 'Area: ' + this.itemactual.nombrearea + ' a ' + nombreare : 
									', Area: ' + this.itemactual.nombrearea + ' a ' + nombreare 
					}
					
                    if (this.itemactual.direccion != this.direccion) {
						datbit += datbit == '' ? 'Dirección: ' + this.itemactual.direccion + ' a ' + this.direccion : 
									', Dirección: ' + this.itemactual.direccion + ' a ' + this.direccion 
                    }

					if (this.itemactual.telefono != this.telefono) {
						datbit += datbit == '' ? 'Teléfono: ' + this.itemactual.telefono + ' a ' + this.telefono : 
									', Teléfono: ' + this.itemactual.telefono + ' a ' + this.telefono 
					}
					
					if (this.itemactual.codigociudad != codigociu) {
						datbit += datbit == '' ? 'Ciudad: ' + this.itemactual.nombreciudad + ' a ' + nombreciu : 
									', Ciudad: ' + this.itemactual.nombreciudad + ' a ' + nombreciu 
					}

					if (this.itemactual.correo != this.correo) {
						datbit += datbit == '' ? 'Correo: ' + this.itemactual.correo + ' a ' + this.correo : 
									', Correo: ' + this.itemactual.correo + ' a ' + this.correo 
					}

					if (this.itemactual.codigoestado != codigoest) {
						datbit += datbit == '' ? 'Estado: ' + this.itemactual.nombreestado + ' a ' + nombreest : 
									', Estado: ' + this.itemactual.nombreestado + ' a ' + nombreest 
					}

					if (this.itemactual.codigotipocont != codigotipcont) {
						datbit += datbit == '' ? 'Tipo de Contrato: ' + this.itemactual.descripciontipocont + ' a ' + nombretipcont : 
									', Tipo de Contrato: ' + this.itemactual.descripciontipocont + ' a ' + nombretipcont 
					}

					if (this.itemactual.horasemanales != this.horasemanales) {
						datbit += datbit == '' ? 'Horas Semanales: ' + this.itemactual.horasemanales + ' a ' + this.horasemanales : 
									', Horas Semanales: ' + this.itemactual.horasemanales + ' a ' + this.horasemanales 
					}
					
					if (this.itemactual.fechanacimiento != this.fechanacimiento) {
						datbit += datbit == '' ? 'Fecha Nacimiento: ' + this.itemactual.fechanacimiento + ' a ' + this.fechanacimiento : 
									', Fecha Nacimiento: ' + this.itemactual.fechanacimiento + ' a ' + this.fechanacimiento 
					}

					if (this.itemactual.salariobasico != this.limpiarMoneda(this.salariobasico)) {
						datbit += datbit == '' ? 'Salario Básico: ' + this.itemactual.salariobasico + ' a ' + this.salariobasico : 
									', Salario Básico: ' + this.itemactual.salariobasico + ' a ' + this.salariobasico 
					}

					datbit = 'CODIGO: ' + this.codigo + ' (' + datbit + ')'

				} else {

                    datbit += 'NOMBRE: ' + this.nombre.toUpperCase() +  ' ' + this.apellido.toUpperCase() + ', Cargo: ' + nombrecgo + 
                                ', AREA: ' + nombreare  

				}				

                PersonalService.guardarData(data)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		if(_this.edit){
								mensaje = 'Actualizó'
								accbitacora = 'ACTUALIZACION'
							} else {
								mensaje = 'Agregó'
								accbitacora = 'CREACION'
							}

	              	  		_this.showMessage(true,3000,'success','Se ' + mensaje + ' la Persona con éxito')

	              	  		_this.del_item = ''
	              	  		_this.edit = -1	              	  		
	              	  		_this.traerDataPrincipal()
	              	  		_this.resetForm()
							_this.dialog = false								
							
							_this.agregaBitacora(accbitacora,datbit)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})
			},			

			formatearValor(){

				let valoractual = this.salariobasico
				valoractual = this.limpiarMoneda(valoractual)

				valoractual = this.number_format(valoractual,2)

				this.salariobasico = valoractual
				
			},

			quitarFormato(){

				this.salariobasico = this.limpiarMoneda(this.salariobasico)

			},

			limpiarMoneda(val){				

				var nuevoval = val.toString().replace(',00','').replace(/[$.]/gi,'')
				nuevoval = nuevoval.replace(/[,]/gi,'.')
				
				return nuevoval				
			},

			number_format(amount, decimals) {

				amount += ''; // por si pasan un numero en vez de un string
				amount = parseFloat(amount.replace(/[^0-9\.]/g, '')) // elimino cualquier cosa que no sea numero o punto

				decimals = decimals || 0 // por si la variable no fue fue pasada

				// si no es un numero o es igual a cero retorno el mismo cero
				if (isNaN(amount) || amount === 0) 
					return parseFloat(0).toFixed(decimals)

				// si es mayor o menor que cero retorno el valor formateado como numero
				amount = '' + amount.toFixed(decimals)

				var amount_parts = amount.split('.'),
					regexp = /(\d+)(\d{3})/

				while (regexp.test(amount_parts[0]))
					amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2')
				
				return amount_parts.join(',')
			},

			agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {
		    edit: function (val) {

		       if(val)
		       {
		       		this.formTitle = 'Editar'

		       		this.codigo = this.itemactual.codigo
		       		this.tipoid = this.itemactual.tipoid
					this.identificacion = this.itemactual.identificacion
                    this.apellido = this.itemactual.apellido
                    this.nombre = this.itemactual.nombre
                    this.codigocargo = this.itemactual.codigocargo
                    this.codigoarea = this.itemactual.codigoarea
					this.direccion = this.itemactual.direccion
					this.telefono = this.itemactual.telefono
					this.codigociudad = this.itemactual.codigociudad
					this.correo = this.itemactual.correo
					this.codigoestado = this.itemactual.codigoestado
					this.codigotipocont = this.itemactual.codigotipocont
					this.horasemanales = this.itemactual.horasemanales
					this.sexo = this.itemactual.sexo

					this.fechanacimiento = this.itemactual.fechanacimiento == '0000-00-00' ? '' : this.itemactual.fechanacimiento
					this.salariobasico = this.number_format(this.limpiarMoneda(this.itemactual.salariobasico),2)

		       } else{

		       		this.resetForm()
		       	    this.formTitle = 'Nuevo'
		       }
		    }
		},
		mounted() {

			this.traerDataPrincipal()
			this.traeEstados()
			this.traeTiposId()
			this.traeCargos()
			this.traeAreas()
			this.traeCiudades()
			this.traeTiposContrato()
			this.agregaBitacora('INGRESO','INGRESO AL MODULO')
		},	
	}
	
</script>

<style>
</style>