<template>
	<v-container>		
		 <v-flex>

			 <v-card elevation="3">
				 <v-card-title>Necesidad</v-card-title>

				 <v-card-text>					 
				 	<span><b>Descripción:&nbsp;&nbsp;</b>{{ descripcionnecesidad }}</span><br>
					
				 	<span><b>Valor:&nbsp;&nbsp;</b>{{ `${moneda} ${number_format(valornecesidad,2)}` }}</span> 

				 </v-card-text>
			 </v-card>
			<br>

			<div style="padding-bottom:10px"> 
				<v-btn v-if="enviovobo != 'S'" fab dark small color="primary" @click="dialog = true, edit=0,itemactual=''" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div>		
			<v-card >
                <v-card-title class="justify-center">
					ACTIVIDADES - NECESIDADES
				</v-card-title>
				<v-card-text>
					<v-text-field
							v-model="search"
							append-icon="search"
							label="Buscar"
							single-line
							hide-details
						></v-text-field>
				</v-card-text>		
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" 
                        :disable-sort="true" 
                        :search="search"
                    >
                        <template v-slot:item.valor="{ item }">
							<span>{{ item.valor |  currency({
									symbol: moneda,
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>	

						<template v-slot:item.action="{ item }">
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="dialog = true, edit=1, itemactual=item"
								v-if="enviovobo != 'S'"
							>
								edit
							</v-icon>							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								:loading="loading && itemactual === item "
								@click="dialog_del=true, itemactual=item"
								v-if="enviovobo != 'S'"
							>
								delete
							</v-icon>			
					  	</template>
		            </v-data-table>		            	
		          </v-layout>
			</v-card>		 	
		</v-flex>

		<v-dialog v-model="dialog" max-width="1200px">
          	<v-card>
				<v-card-title>
					<span class="headline">{{ formTitle }}</span>					
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>		
							<v-form v-model="valid" ref="form">
								<v-flex>
									<v-autocomplete
										:items="arrActividades"
										item-value="secuencia"
										item-text="descripcionfull"
										v-model="secuenciaactividad"
										:return-object="true"  
										label="Actividad" 	
                                        :rules="[rules.required]"	
                                        :readonly="edit != 0"								                    										
									>									
									</v-autocomplete>
								</v-flex>
                                <v-flex>
									<v-autocomplete
										:items="arrCatGasto"
										item-value="codigo"
										item-text="nombre"
										v-model="categoriagasto"
										:return-object="true"  
										label="Categoría del Gasto" 
                                        @change="agregaTope(categoriagasto)" 
                                        :rules="[rules.required]"                                       									                    										
									>									
									</v-autocomplete>
								</v-flex>
                                <v-flex>
                                    <v-text-field v-model="topecategoriagasto" label="Tope Categoría del Gasto" 										
										readonly										
										:prefix="nommoneda"
                                        :sufijo="nomsufijo"										
									>
									</v-text-field>	
                                </v-flex>
                                <v-flex>
                                    <v-text-field v-model="valor" label="Valor" 
										:prefix="moneda"	
                                        @blur="formatearValorActividad(valor)"
                                        :rules="[rules.required]"									
									>
									</v-text-field>	
                                </v-flex>    								
							</v-form>				
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

        <v-dialog v-model="dialog_del" max-width="300px">

          	<v-card>

				<v-card-title>
					<span class="headline red--text">Eliminar Actividad</span>
				</v-card-title>
  
				<v-card-text>					
					¿Esta seguro de eliminar la Actividad seleccionada?					
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="closeDialogoDel">Cancelar</v-btn>
					<v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>
		
	</v-container>	
</template>

<script>
	import planesadquisicionService from "../servicios/PlanesAdquisicionService";
	import proyectosactividadesService from "../servicios/ProyectosActividadesService"
    import presupuestoService from "../servicios/PresupuestosService"
    
	export default {

        name: 'Actividades',
        props: ['planadquisicion','necesidad','descripcionnecesidad','moneda',
                    'valortotal','proyecto','convenio','valornecesidad','tasa','enviovobo'],
		data (){

			return {
                modulo:'ACTIVIDADES NECESIDADES',							
  				loading: false,  				
  				dialog:false,
  				edit:-1,
  				dialog_del:false,
  				processing:false,
				formTitle:'',
				valid:false,
				search: '',                
                
                secuenciaactividad:0,
                categoriagasto:0,
                topecategoriagasto:0,
                valor:0,
                tipotope:'',

				presupuesto:'',

				fuefinpgn:'',
				fuefinsgr:'',
				fuefincofinanciado:'',
				fuefinfuncionamiento:'',
				coordinador:'',

                nommoneda : '',
                nomsufijo : '',
                
				itemactual:'',
                data: [],                
                arrActividades:[],
                arrCatGasto:[],

  				headers: [  					
  					{ text: 'Actividad',align: 'left',sortable: false,value: 'actividadtxt'},
                    { text: 'Categoría del Gasto',align: 'left',sortable: false,value: 'categoriagastotxt'},
					{ text: 'Valor',align: 'left',sortable: false,value: 'valor'},
					{ text: 'Rubro Presupuestal',align: 'left',sortable: false,value: 'rubro'},						        
                    { text: 'Accion', value: 'action',sortable: false}
				],				 
  				rules: {
					required: value => !!value || 'Campo requerido.'					
		        }				
	        }
	    },

	    filters: {	  
            
		},

	    methods: {
            
            showMessage (snack, time, color, text) {

                this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

            },
			resetForm () {                
                
                this.secuenciaactividad = 0
                this.categoriagasto = 0
                this.topecategoriagasto = 0
                this.valor = 0

			},
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

            },
            
		    traerData(){

		     	var _this = this
                this.loading = true

              	planesadquisicionService.getActividadXNecesidad(this.planadquisicion,this.necesidad)
                  .then(function(res) {
					  
                      if (res.request) {
                                        
                          if(res.data){

                            _this.data = res.data

                          }  else {
                            
                            _this.data = []
                          
                          }

                      } else {                        	

                      	_this.data = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.data = []   
              		_this.loading = false                
              		
				})

            },
            
            traerActividades(){

		     	var _this = this
                
                this.arrActividades = []

              	proyectosactividadesService.FiltroXProyectoAll(this.proyecto)
                  .then(function(res) {

					  _this.arrActividades = res
                      
              	}).catch(function(err) {              
                      
				})

            },
			
            traerCategoriaGasto(){

		     	var _this = this
                
                this.arrCatGasto = []

              	presupuestoService.getCatGasXConvenio(this.convenio)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.arrCatGasto = res.data.data

                          }

                      }               
                      
              	}).catch(function(err) {              
              		
				})

			},
			
			traerPresupuestoConvenio(){

		     	var _this = this
				
				this.fuefinpgn = ''
				this.fuefinsgr = ''
				this.fuefincofinanciado = ''
				this.fuefinfuncionamiento = ''
				this.coordinador = ''

              	presupuestoService.getDataXConvenio(this.convenio)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

							_this.fuefinpgn = res.data.data[0].fuefinanciacionpgn
							_this.fuefinsgr = res.data.data[0].fuefinanciacionsgr
							_this.fuefincofinanciado = res.data.data[0].fuefinanciacioncof
							_this.fuefinfuncionamiento = res.data.data[0].fuefinanciacionfun
							_this.coordinador = res.data.data[0].coordinador
							_this.presupuesto = res.data.data[0].codigo

                          }

                      }               
                      
              	}).catch(function(err) {              
              		
				})

		    },

			closeDialogoDel () {
				  
				this.dialog_del = false
			},
			deleteItem() {
				
				var _this = this
				this.loading = true

                planesadquisicionService.delActividad(this.planadquisicion,this.necesidad,
                                                    this.itemactual.secuenciaactividad)
	              .then(function(res) {

	              	  if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó la Actividad con éxito')

                        _this.del_item = ''	              	  		
                        _this.traerData()
                        _this.closeDialogoDel()

                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ LA ACTIVIDAD. CODIGO:' + _this.itemactual.secuenciaactividad + 
											', DESCRIPCIÓN:' + _this.itemactual.actividadtxt)

	              	  }else{	                                         	

	                  	_this.showMessage(true,3000,'error',res.message) 	                  	
	                  } 	                   
						_this.del_item = ''						
	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

			},

            validaGuardar(arrCategorias){				

				try {
					
					var codigoactividad = 0
					var nombreactividad = ''
					
					var codigocategoriagasto = 0
					var nombrecategoriagasto = ''

					if(typeof this.secuenciaactividad == 'object'){
						codigoactividad = this.secuenciaactividad.secuencia
						nombreactividad = this.secuenciaactividad.descripcionfull

					} else {
						codigoactividad = this.secuenciaactividad
						nombreactividad = this.itemactual.actividadtxt
					}
					
					if(typeof this.categoriagasto == 'object'){
						codigocategoriagasto = this.categoriagasto.codigo
						nombrecategoriagasto = this.categoriagasto.nombre

					} else {
						codigocategoriagasto = this.categoriagasto
						nombrecategoriagasto = this.itemactual.categoriagastotxt
					}                

					if(this.edit){
						if(codigoactividad == this.itemactual.secuenciaactividad && 
							codigocategoriagasto == this.itemactual.categoriagasto && 
							parseFloat(this.limpiarMoneda(this.valor)) == parseFloat(this.itemactual.valor)){
						
							return 'No hay datos para actualizar'

						} 
					
					} else {

						for (let index = 0; index < this.data.length; index++) {
							const element = this.data[index]
							
							let posicion = index + 1

							if(codigoactividad == element.secuenciaactividad){

								return "La Actividad ya ha salido seleccionada en el item No. '" + posicion + "'"

							}
								
						}

					}

					if(this.valor == '' || this.valor == '0' || this.valor == undefined){

						return 'Debe ingresar el Valor de la Actividad'

					} else {

						let valtope = parseFloat(this.limpiarMoneda(this.topecategoriagasto))
						let valactual = parseFloat(this.limpiarMoneda(this.valor))

						if(valtope > 0 ){

							if(this.tipotope == 'M'){
								if(valactual > valtope) {

									return 'El Valor de la Actividad no puede superar el valor del Tope'

								}        
							} else if(this.tipotope == 'P'){

								let valmaximo = ((parseFloat(this.valortotal) * parseFloat(valtope)) / 100)

								if(valactual > parseFloat(valmaximo)){

									return 'El Valor de la Actividad no puede superar el valor del Tope'

								}

							}
						}

					}

					let valactualactividad = parseFloat(this.limpiarMoneda(this.valor))
					let totalconvenio = parseFloat(this.limpiarMoneda(this.valortotal))

					let total = 0
					
					if(this.edit == 0)
						total += valactualactividad

					for (let index = 0; index < this.data.length; index++) {
						const element = this.data[index]

						//si se esta actualizando se debe validar con el valor digitado no con el que estaba
						if(codigoactividad == element.secuenciaactividad)
							total += valactualactividad
						else	
							total += parseFloat(this.limpiarMoneda(element.valor))
						
					}

					if(total > parseFloat(this.valornecesidad)){

						return 'El Valor total de las Actividades supera el valor de la Necesidad'

					}

					if(total > totalconvenio){

						return 'El Valor total de las Actividades supera el valor Total del Acuerdo Específico'

					}

					var totalcategorias = 0
					var valortopecategoria = parseFloat(this.limpiarMoneda(this.topecategoriagasto))

					if(this.edit == 0)
						totalcategorias += valactualactividad
						
					for (let index = 0; index < arrCategorias.data.length; index++) {
						const element = arrCategorias.data[index]

						if(codigoactividad == element.secuenciaactividad)
							totalcategorias += valactualactividad
						else
							totalcategorias += parseFloat(this.limpiarMoneda(element.valor))	
						
					}

					if(totalcategorias > valortopecategoria){

						return 'El Valor total de las Actividades para la Categoría del Gasto seleccionada supera el tope de la misma'

					}						
					
					return ''

				} catch (error) {
					
					return error

				}

            },		

			async saveitem(){
				
				var codigoactividad = 0
				var codigoactividadcompleto = ''
                var nombreactividad = ''
                
                var codigocategoriagasto = 0
				var nombrecategoriagasto = ''

				if(typeof this.secuenciaactividad == 'object'){
					codigoactividad = this.secuenciaactividad.secuencia
					nombreactividad = this.secuenciaactividad.descripcionfull
					codigoactividadcompleto = this.secuenciaactividad.codigofull

				} else {
					codigoactividad = this.secuenciaactividad
					nombreactividad = this.itemactual.actividadtxt
					codigoactividadcompleto = this.itemactual.codigofull
                }
                
                if(typeof this.categoriagasto == 'object'){
					codigocategoriagasto = this.categoriagasto.codigo
					nombrecategoriagasto = this.categoriagasto.nombre

				} else {
					codigocategoriagasto = this.categoriagasto
					nombrecategoriagasto = this.itemactual.categoriagastotxt
                }

				var categorias = await planesadquisicionService.getActividadXPlanCategoria(this.planadquisicion,codigocategoriagasto)

				var valida = this.validaGuardar(categorias)
                var datbit = ''                

                if(valida != ''){
                    this.showMessage(true,3000,'error',valida)
                    return
				}

				//se arma el codigo del rubro
				var codigorubro = ''
				var codigofuente = ''

				if(this.fuefinpgn == '1' || this.fuefinpgn == 1){

					codigofuente = '91'

				} else if(this.fuefinsgr == '1' || this.fuefinsgr == 1){

					codigofuente = '50'

				} else if(this.fuefincofinanciado == '1' || this.fuefincofinanciado == 1){

					codigofuente = '80'

				} else if(this.fuefinfuncionamiento == '1' || this.fuefinfuncionamiento == 1){

					codigofuente = '30'

				}
				
				var codigoproyecto = '000' + this.proyecto.toString()
				var codigofincatgas = '00' + codigocategoriagasto.toString()
				var codcoordinador = '00' + this.coordinador.toString()
				
				codigoproyecto = codigoproyecto.substring(codigoproyecto.length - 3, codigoproyecto.length)
				codigofincatgas = codigofincatgas.substring(codigofincatgas.length - 2, codigofincatgas.length)
				codcoordinador = codcoordinador.substring(codcoordinador.length - 2, codcoordinador.length)
				
				codigorubro = codigofuente.toString() + codigoproyecto.toString() + 
								codigoactividadcompleto.toString() + codcoordinador.toString() + 
								codigofincatgas.toString()

                if(this.edit){

                    if (this.itemactual.categoriagasto != codigocategoriagasto)
                        datbit += 'Categoría del Gasto: ' + this.itemactual.categoriagastotxt.toUpperCase() + ' a ' + nombrecategoriagasto.toUpperCase()											

                    if (this.itemactual.valor != this.valor){

                        if(datbit == '')
                            datbit += 'Categoría del Gasto: ' + this.itemactual.categoriagastotxt.toUpperCase() + ' a ' + nombrecategoriagasto.toUpperCase()
                        else	
							datbit += ', Categoría del Gasto: ' + this.itemactual.categoriagastotxt.toUpperCase() + ' a ' + nombrecategoriagasto.toUpperCase()                            
                    }

                    datbit = 'CODIGO: ' + this.codigo + ' (' + datbit + ')'

                } else {

					datbit += 'ACTIVIDAD: ' + nombrecategoriagasto.toUpperCase()

				}

				var _this = this
                this.loading = true
				
				let valtope = 0
				valtope = this.limpiarMoneda(this.topecategoriagasto)

				if(this.moneda.trim() == '$' && parseFloat(this.tasa) > 0 ){
					
					valtope = parseFloat(valtope) / parseFloat(this.tasa)

				}

                var data = {planadquisicion:this.planadquisicion,necesidad:this.necesidad,
                                secuenciaactividad:codigoactividad,categoriagasto:codigocategoriagasto,
                                topecategoriagasto:valtope,presupuesto:this.presupuesto,
                                valor:this.limpiarMoneda(this.valor),rubro:codigorubro};

                planesadquisicionService.addupdActividad(data)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
                            var accbitacora = ''
                            
	              	  		if(_this.edit){
                                mensaje = 'Actualizó'
                                accbitacora = 'ACTUALIZACION'
                            } else {
                                mensaje = 'Agregó'
                                accbitacora = 'CREACION'
                            }

	              	  		_this.showMessage(true,3000,'success','Se ' + mensaje + ' la Actividad con éxito')

	              	  		_this.del_item = ''
	              	  		_this.edit = -1	              	  		
	              	  		_this.traerData()
	              	  		_this.resetForm()
                            _this.dialog = false
                                
                            _this.agregaBitacora(accbitacora,datbit)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})
            },
            
            agregaTope(itemcategoria){                
                
				this.tipotope = itemcategoria.tipotope
				//this.topecategoriagasto = this.formatearValor(itemcategoria.topemaximo,0)

				if(this.tipotope == 'M'){

					if(this.moneda.trim() == '$' && parseFloat(this.tasa) > 0){

						this.topecategoriagasto = this.formatearValor(itemcategoria.topemaximo * this.tasa,0)

					} else {

						this.topecategoriagasto = this.formatearValor(itemcategoria.topemaximo,0)

					}

				}

                this.nommoneda = ''
                this.nomsufijo = ''

                if(this.tipotope == 'M')
                    this.nommoneda = this.moneda
                else if(this.tipotope == 'P')    
                    this.nomsufijo = '%'	

            },

            number_format(amount, decimals) {

				amount += ''; // por si pasan un numero en vez de un string
				amount = parseFloat(amount.replace(/[^0-9\.]/g, '')) // elimino cualquier cosa que no sea numero o punto

				decimals = decimals || 0 // por si la variable no fue fue pasada

				// si no es un numero o es igual a cero retorno el mismo cero
				if (isNaN(amount) || amount === 0) 
					return parseFloat(0).toFixed(decimals)

				// si es mayor o menor que cero retorno el valor formateado como numero
				amount = '' + amount.toFixed(decimals)

				var amount_parts = amount.split('.'),
					regexp = /(\d+)(\d{3})/

				while (regexp.test(amount_parts[0]))
					amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2')

				return amount_parts.join(',')
            },
            
            limpiarMoneda(val){

				var nuevoval = val.toString().replace(',00','').replace(/[$.]/gi,'')
				nuevoval = nuevoval.replace(/[,]/gi,'.')

				return nuevoval				
			},

			formatearValor(value){

				let valoractual = value
				valoractual = this.limpiarMoneda(valoractual)

				valoractual = this.number_format(valoractual,2)

				return valoractual
				
            },

            formatearValorActividad(value){

                this.valor = this.formatearValor(value) 
            },
            
            agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {
			arrCatGasto: function(val){

				//this.presupuesto = 0
				//if(val.length > 0 )
				//	this.presupuesto = val[0].presupuesto

			},

		    edit: function (val) {

		       if(val)
		       {
		       		this.formTitle = 'Editar'
                   
                    this.secuenciaactividad = this.itemactual.secuenciaactividad
                    this.categoriagasto = this.itemactual.categoriagasto
					//this.presupuesto = this.itemactual.presupuesto
					//this.topecategoriagasto = this.itemactual.topecategoriagasto != undefined ? 
					//							this.formatearValor(this.itemactual.topecategoriagasto) : 0
					this.valor = this.itemactual.valor != undefined ? 
								this.formatearValor(this.itemactual.valor) : 0	
                    
                    for (let index = 0; index < this.arrCatGasto.length; index++) {
                        const element = this.arrCatGasto[index]

                        if(element.codigo == this.itemactual.categoriagasto){

							this.tipotope = element.tipotope
							this.topecategoriagasto = element.topemaximo != undefined ? 
														element.topemaximo : 0

							if(this.tipotope == 'M'){

								if(this.moneda.trim() == '$' && parseFloat(this.tasa) > 0){									

									this.topecategoriagasto = this.formatearValor(this.topecategoriagasto * this.tasa)					

								} else {

									this.topecategoriagasto = this.formatearValor(this.topecategoriagasto)

								}
							}

                            break
                        }                        
                    }

                    this.nommoneda = ''
                    this.nomsufijo = ''

                    if(this.tipotope == 'M')
                        this.nommoneda = this.moneda
                    else if(this.tipotope == 'P')    
                        this.nomsufijo = '%'	

		       } else{

		       		this.resetForm()
		       	    this.formTitle = 'Nuevo'
		       }
            },
            
            planadquisicion: function (val) {

                if(val!=0){   
                    
                    this.traerData()   
                    this.traerActividades()
					this.traerCategoriaGasto()
					this.traerPresupuestoConvenio()             

                }
            },

            necesidad: function (val) {

                if(val!=0){   
                    
                    this.traerData()   
                    this.traerActividades()             
					this.traerCategoriaGasto()
					this.traerPresupuestoConvenio()

                }
            },
		},
		mounted() {

            this.traerData()     
            this.traerActividades()  
			this.traerCategoriaGasto() 
			this.traerPresupuestoConvenio()    
            this.agregaBitacora('INGRESO','INGRESO AL MODULO')
		},	
	}
	
</script>

<style>
</style>