<template>  
	<v-container grid-list-md>
		<v-layout wrap column>	
			<v-form v-model="valid" ref="form">	
				<v-layout wrap>
					<div class="red--text title">
						Los Cambio No se reflejaran hasta que sean aprobados
					</div>	
					<v-flex sm12>
						<div style="width:96%;text-align: center;padding-left: 10px;">
							<v-data-table :headers="headerproyectogen" :items="arrProyectosGen" 
								:disable-sort="true" :disable-pagination="true" 
								:hide-default-footer="true"
							> 
								<template v-slot:item.valortotal="{ item }">
									<span>{{ item.valortotal |  currency({
											symbol: item.moneda,
											thousandsSeparator: '.',
											fractionCount: '0',
											fractionSeparator: ',',
											symbolPosition: 'front',
											symbolSpacing: true
										})}}
									</span>
								</template>

								<template v-slot:item.tasa="{ item }">
									<span>{{ item.tasa |  currency({
											symbol: '$ ',
											thousandsSeparator: '.',
											fractionCount: '0',
											fractionSeparator: ',',
											symbolPosition: 'front',
											symbolSpacing: true
										})}}
									</span>
								</template>

								<template v-slot:item.valorpesos="{ item }">
									<span>{{ item.valorpesos |  currency({
											symbol: '$ ',
											thousandsSeparator: '.',
											fractionCount: '0',
											fractionSeparator: ',',
											symbolPosition: 'front',
											symbolSpacing: true
										})}}
									</span>
								</template>

							</v-data-table>												
						</div>										
					</v-flex>

					<v-flex sm3>
						<v-select
							:items="arrBaseMoneda"
							v-model="basemoneda"
							label="Base Moneda"
							item-value="valor"
							item-text="texto"
							:return-object="false"
							:readonly="enviovobo == 'S'"
						>									
						</v-select>		
					</v-flex>

					<v-flex sm12>
						<div style="padding-bottom:10px"> 
							<v-btn fab dark small color="primary" 
								@click="dialog_addupdnecesidad = true, edit_necesidad=0,itemactualnecesidad=''"                                         
							>
								<v-icon dark>add</v-icon>				
							</v-btn>
						</div>		
						<v-card >
							<v-card-title class="justify-center">NECESIDADES</v-card-title>
							<v-card-text>
								<v-text-field
									v-model="searchnecesidad"
									append-icon="search"
									label="Buscar"
									single-line
									hide-details
								></v-text-field>
							</v-card-text>											
							<v-data-table :headers="headersnecesidad" :items="datanecesidad" :items-per-page="5" 
								:disable-sort="true" :search="searchnecesidad">

								<template v-slot:item.valor="{ item }">
									<span>{{ item.valor |  currency({
											symbol: moneda,
											thousandsSeparator: '.',
											fractionCount: '0',
											fractionSeparator: ',',
											symbolPosition: 'front',
											symbolSpacing: true
										})}}
									</span>
								</template>                                        

								<template v-slot:item.action="{ item }">
									<v-icon
										small
										class="mr-5"
										color="primary" 
										:disabled="loading"
										@click="dialog_addupdnecesidad = true, edit_necesidad=1, 
												itemactualnecesidad=item"                                                	
									>
										edit
									</v-icon>

									<!--<v-icon
										small
										class="mr-5"
										color="primary"
										@click="deleteItemnecesidad(item)"
										
									>
										delete
									</v-icon>		-->
								</template>

								<template v-slot:item.tipomod="{ item }">
									<span :class="[{ColorVBTrue:(item.tipomod === 'N')}, {ColorVBFalse:(item.tipomod == 'E')} , {ColorVBModifica:(item.tipomod == 'M')}]">
										{{ item.tipomod == 'N' ? 'NUEVO' : (item.tipomod == 'M' ? 'MODIFICADO' : (item.tipomod == 'E' ? 'ELIMINADO' : '')  ) }}
									</span>
								</template>

								<template v-slot:item.unspsc="{ item }">
									<v-icon
										small
										class="mr-5"
										color="primary" 
										@click="abrirUnspsc(item.codigo, item.descripcion)"
										v-show="item.codigo != 0"
									>
										library_add
									</v-icon>
								</template>

								<template v-slot:item.actividades="{ item }">
									<v-icon
										small
										class="mr-5"
										color="primary" 
										@click="abrirActividad(item.codigo, item.descripcion, item.valor)"
										v-show="item.codigo != 0"
									>
										account_tree
									</v-icon>
								</template>
							</v-data-table>
						</v-card>		
					</v-flex>
					<v-flex>
						<v-spacer></v-spacer>						
						<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
					</v-flex>																			
				</v-layout>									
			</v-form>									
		</v-layout>

		<!--- NECESIDADES -->
		<v-dialog v-model="dialog_addupdnecesidad" persistent max-width="700px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitleNecesidad }}</span>					
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>		
							<v-form v-model="valid_necesidad" ref="form2">
								<v-flex>
									<v-textarea	
										filled															
										name="input-7-4"
										label="Descripción"
										v-model="descripcion"
										:rules="[rules.required]"
										:readonly="edit_necesidad != 0"	
									></v-textarea>									
								</v-flex>			
								<v-flex>
									<v-text-field v-model="valor" label="valor"
										:rules="[rules.required]"
										:prefix="moneda"										
										@blur="formatearValor(valor)"
									>
									</v-text-field>
								</v-flex>
								<v-flex>
									<v-select
										:items="arrMetodosSeleccion"
										item-value="codigo"
										item-text="descripcion"
										v-model="metodoleccion"
										:return-object="true"  
										label="Método de Selección"
										:rules="[rules.required]"
										clearable							                    										
									>									
									</v-select>
								</v-flex>
								<v-flex>
									<v-text-field v-model="fechasolcontrata" type="date" label="Fecha de Solicitud de Contratación"
										:rules="[rules.required]"
										clearable																		
									>
									</v-text-field>
								</v-flex>	

								<v-flex>
									Estado: {{ estadonecesidadtxt }}
								</v-flex>							

							</v-form>				
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogoNecesidad">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitemnecesidad" :disabled="!valid_necesidad">{{ titulobtnuardaritem }}</v-btn>
				</v-card-actions>

          	</v-card>
        </v-dialog>

		<v-dialog v-model="dialog_unspsc" persistent max-width="900px">

          	<v-card>
				<v-card-text>	
					<unspsc :planadquisicion.sync = "codigo" :necesidad.sync = "codigonecesidad"
							:descripcionnecesidad.sync = "necesidadtxt" :enviovobo.sync = "enviovobo">
					</unspsc>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="dialog_unspsc=false">Cancelar</v-btn>				
				</v-card-actions>
          	</v-card>

        </v-dialog>

		<v-dialog v-model="dialog_actividades" persistent max-width="1200px">

          	<v-card>
				<v-card-text>	
					<actividades :planadquisicion.sync = "codigo" 
							:necesidad.sync = "codigonecesidad"
							:descripcionnecesidad.sync = "necesidadtxt" 
							:moneda.sync = 'moneda'
							:valortotal.sync = 'valortotalconvenio'
							:proyecto.sync = 'proyecto'
							:convenio.sync = 'convenio'
							:valornecesidad.sync = 'valornecesidad'
							:tasa.sync = 'tasa'
							:enviovobo.sync = "enviovobo"							
					>
					</actividades>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="dialog_actividades=false">Cancelar</v-btn>				
				</v-card-actions>
          	</v-card>

        </v-dialog>

    </v-container>			
</template>

<script>
	import planesadquisicionService from '../servicios/PlanesAdquisicionService'
	import proyectosService from "../servicios/ProyectosService"
	import metodoseleccionService from "../servicios/MetodosSeleccionService"
	import estadosService from "../servicios/EstadosService"
	import areasService from "../servicios/AreasService"
	import tmpplanesadquisicionService from '../servicios/TmpPlanesAdquisicionService'

	export default {
		name:'PlanesAdquisicion',
		props: ['itemactual','nuevo','tmplanadquisicion'],
		components: {
			'unspsc'      : () => import('@/components/CPlaAdqNecUnspscMod.vue'),
			'actividades' : () => import('@/components/CPlaAdqNecActividadesMod.vue')		  
		},
		data (){

			return {		
				modulo:'PLANES DE ADQUISICIÓN MOD',					
  				loading: false,  				
  				dialog:false,  				
  				processing:false,				
                search:'',
				valid:false,
				
				dialog_unspsc:false,
				dialog_actividades:false,
				
                codigo:0,
                proyecto:0,  
				convenio:0,				
                valortotalconvenio:0,
                estadojurudico:0,
                aclaracionjurudica:'',
				estadoplaneacion:'',
				aclaracionplaneacion:'',
				moneda:'',
				enviovobo:'',
				basemoneda:'',
				tasa:'',
				numeroconvenio:'',
				nombreconvenio:'',
				valortotalconvenio:0,
				coordinador:'',
				fechasuscripcion:'',
				fechaterejecucion:'',
				fechaincorporacion:'',
				
                arrProyectosGen:[],    
				
                headerproyectogen: [

					{ text: 'Nombre Proyecto',align: 'left',sortable: false,value: 'nombre'},
					{ text: 'No. Convenio',align: 'left',sortable: false,value: 'convenio'},					
					{ text: 'Nombre Convenio', value: 'nombreconvenio',sortable: false,align: 'left'},					
					{ text: 'Valor Total', value: 'valortotal',sortable: false,align: 'left'},
					{ text: 'Tasa', value: 'tasa',sortable: false,align: 'left'},
					{ text: 'Valor en Pesos', value: 'valorpesos',sortable: false,align: 'left'},

				],

				edit_necesidad:-1,
				itemactualnecesidad:'',
				searchnecesidad:'',
				datanecesidad:[],

				dataoriginalnecesidad:[],
				
				dialog_addupdnecesidad:false,
				valid_necesidad:false,
					
				codigonecesidad:0,
				necesidadtxt:'',
				valornecesidad:0,
				descripcion:'',
				valor:0,
				metodoleccion:0,
				
				fechasolcontrata:'',
				estadocodigonecesidad:'',
				estadonecesidadtxt:'',
				formTitleNecesidad:'',
				
				titulobtnuardaritem:'',

				arrMetodosSeleccion:[],

				usuarioFinanciera:'',
				usuarioJuridica:'',
				usuarioPlaneacion:'',
				
				headersnecesidad: [
					{ text: 'No.', value: 'codigo',sortable: false,align: 'left'},
					{ text: 'Descripción', value: 'descripcion',sortable: false,align: 'left'},
					{ text: 'Valor', value: 'valor',sortable: false,align: 'left'},
					{ text: 'Método de Selección', value: 'metodolecciontxt',sortable: false,align: 'left'},
					{ text: 'Fecha de Solicitud de Contratación', value: 'fechasolcontrata',sortable: false,align: 'left'},                    
					{ text: 'Estado', value: 'estadotxt',sortable: false,align: 'left'},
					{ text: 'UNSPSC', value:'unspsc',sortable: false,align: 'left'},
					{ text: 'Actividades', value:'actividades',sortable: false,align: 'left'},					
					{ text: 'Accion', value: 'action',sortable: false},					
					{ text: 'Tipo Mod.', value: 'tipomod',sortable: false},
					
				],				

				arrBaseMoneda:[

					{valor:'C', texto:'CONVENIO'},
					{valor:'P', texto:'PESOS'},
				],
				
  				rules: {
					required: value => !!value || 'Campo requerido.',
					valor: value => value>0 || 'El Valor debe ser mayor a 0.'					
				},
	        }
	    },

	    filters: {	

		},

	    methods: {
			
			showMessage (snack, time, color, text) {

			      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

			},
			
			envioNotificaciones(values){
				
				//se envia notificacion al coordinador
				var codigopersona = 0
				var codigoopcion = 46 //planes de adquisición
				var numerointerno = this.numeroconvenio				

				if(this.coordinador != '' && this.coordinador != '0')
					codigopersona = this.coordinador
				
				this.$root.$emit('enviarNotificaciones', {codigopersona: codigopersona, mensajenotificacion: values.mensajenotificacion, 
														asuntocorreo: values.asuntocorreo, mensajecorreo: values.mensajecorreo,
														codigoopcion:codigoopcion,numerointerno:numerointerno})				
			},

			envioNotificacionesVoBo(values){
				
				var codigopersona = 0
				var codigoopcion = 46 //planes de adquisición
				var numerointerno = this.numeroconvenio	

				//se envia notificacion a planeación				
				if(this.usuarioPlaneacion != '' && this.usuarioPlaneacion != '0'){

					codigopersona = this.usuarioPlaneacion
					this.$root.$emit('enviarNotificaciones', {codigopersona: codigopersona, mensajenotificacion: values.mensajenotificacion, 
										asuntocorreo: values.asuntocorreo, mensajecorreo: values.mensajecorreo,
										codigoopcion:codigoopcion,numerointerno:numerointerno})
				} 

				//se envia notificación a financiera				
				if(this.usuarioFinanciera != '' && this.usuarioFinanciera != '0'){

					codigopersona = this.usuarioFinanciera
					this.$root.$emit('enviarNotificaciones', {codigopersona: codigopersona, mensajenotificacion: values.mensajenotificacion, 
										asuntocorreo: values.asuntocorreo, mensajecorreo: values.mensajecorreo,
										codigoopcion:codigoopcion,numerointerno:numerointerno})
				}
						
				//al coordinador 
				if(this.coordinador != '' && this.coordinador != '0')
					codigopersona = this.coordinador
				
				this.$root.$emit('enviarNotificaciones', {codigopersona: codigopersona, mensajenotificacion: values.mensajenotificacion, 
														asuntocorreo: values.asuntocorreo, mensajecorreo: values.mensajecorreo,
														codigoopcion:codigoopcion,numerointerno:numerointerno})				
			},

			saveitem(){
					
				if(this.proyecto == '' || this.proyecto == '0'){

					this.showMessage(true,3000,'error','No ha seleccionado el Proyecto')					
					return

				}			

				var _this = this
                this.loading = true

				var datbit = ''				

				var data = {codigo:this.codigo,proyecto:this.proyecto,estadojurudico:this.estadojurudico,
							aclaracionjurudica:this.aclaracionjurudica,estadoplaneacion:this.estadoplaneacion,
							aclaracionplaneacion:this.aclaracionplaneacion,basemoneda:this.basemoneda,
							tmplanadquisicion:this.tmplanadquisicion}

				//if(this.edit){

					datbit = ''

					datbit = 'CODIGO: ' + this.codigo + ' (Se envío solicitud de modificación del Plan de Adquisición con éxito)'

				//}			

				var dataunspsc = this.$store.getters.getArrPlanAdqNecUnspsc
				var dataactividades = this.$store.getters.getArrPlanAdqNecAct
				
                planesadquisicionService.guardarDataTmp(data, this.datanecesidad, dataunspsc,dataactividades)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''	              	  		

							mensaje = 'solicitó aprobación en las modificaciones '
							accbitacora = 'ACTUALIZACION'

	              	  		_this.showMessage(true,3000,'success','Se ' + mensaje + ' del Plan de Adquisición con éxito')
							
							//if(_this.edit == 0){
								var mensajecorreo = "Cordial Saludo,<br><br> " +
													"Se " + mensaje + " del Plan de Adquisiciones para el Acuerdo Específico # : " + 
													_this.numeroconvenio + ", Nombre: " + _this.nombreconvenio + 													
													"<br><br>Agradeciendo su atención,<br><br> " +                        
													"<b>SINCHI</b><br><br> " +
													"<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
													"correo electrónico, no lo responda.</i> <br>"

								_this.envioNotificacionesVoBo({mensajenotificacion:'Se ' + mensaje + ' del Plan de Adquisiciones para el Acuerdo Específico # : ' + 
															_this.numeroconvenio + ', Nombre: ' + _this.nombreconvenio,  
														   asuntocorreo: 'Solicitud de Aprobación en Modificaciones del Plan de Adquisiciones para un Acuerdo Específico',
														   mensajecorreo:mensajecorreo})
							//}	

							_this.edit = -1
							_this.agregaBitacora(accbitacora,datbit)

							_this.$root.$emit('cerrarDialogoModEnVoBo')

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})
			},			
			            
            traeProyectoGen(){
				
		     	var _this = this                
				
				this.arrProyectosGen = []

				this.numeroconvenio = ''
				this.nombreconvenio = ''
				this.coordinador = ''
				this.valortotalconvenio = 0
				this.moneda = ''

				this.fechasuscripcion = ''
				this.fechaterejecucion = ''
				this.fechaincorporacion = ''

              	proyectosService.getDataXId(this.proyecto)
                  .then(function(res) {

                      if (res.request) {
						  
                          if(res.data){
							 
							_this.arrProyectosGen = res.data.data

							_this.numeroconvenio = _this.arrProyectosGen[0].convenio
							_this.nombreconvenio = _this.arrProyectosGen[0].nombreconvenio
							_this.coordinador = _this.arrProyectosGen[0].codigocoordinador

							_this.valortotalconvenio = _this.basemoneda == 'C' ? _this.arrProyectosGen[0].valortotal :  
															(_this.arrProyectosGen[0].tasa != 0 ? 
															_this.arrProyectosGen[0].valortotal * _this.arrProyectosGen[0].tasa : 
															_this.arrProyectosGen[0].valortotal)
							_this.moneda = _this.basemoneda == 'C' ? _this.arrProyectosGen[0].moneda : '$ '

							_this.fechasuscripcion = _this.arrProyectosGen[0].fechasuscripcion 
							_this.fechaterejecucion = _this.arrProyectosGen[0].fechaterejecucion
							_this.fechaincorporacion = _this.arrProyectosGen[0].fechaincorporacion

                          }

                      }
                      
              	}).catch(function(err) {              
              		
				})

            },

			traeNecesidadXPlanAdq(){

		     	var _this = this
				
				_this.datanecesidad = []

				if(this.nuevo == 1){

					planesadquisicionService.getNecesidadXPlanAdq(this.codigo)
					.then(function(res) {

						if (res.request) {
											
							if(res.data){
								
								_this.datanecesidad = res.data.data							

							}
						}               
						
					}).catch(function(err) {            
						
					})
				
				} else {

					planesadquisicionService.getNecesidadesXTmpPlanCategoria(this.tmplanadquisicion)
					.then(function(res) {

						if (res.request) {
											
							if(res.data){
								
								_this.datanecesidad = res.data.data							

							}
						}               
						
					}).catch(function(err) {            
						
					})

				}	

            },

			traeNecesidadDataBaseXPlanAdq(){

		     	var _this = this
				
				_this.dataoriginalnecesidad = []

				if(this.nuevo == 1){

					planesadquisicionService.getNecesidadXPlanAdq(this.codigo)
						.then(function(res) {

							if (res.request) {
												
								if(res.data){							
									
									_this.dataoriginalnecesidad = res.data.data

								}
							}               
							
						}).catch(function(err) {            
							
						})

				} else {

					planesadquisicionService.getNecesidadesXTmpPlanCategoria(this.tmplanadquisicion)
						.then(function(res) {

							if (res.request) {
												
								if(res.data){							
									
									_this.dataoriginalnecesidad = res.data.data

								}
							}               
							
						}).catch(function(err) {            
							
						})

				}

			},
			
			number_format(amount, decimals) {

				amount += ''; // por si pasan un numero en vez de un string
				amount = parseFloat(amount.replace(/[^0-9\.]/g, '')) // elimino cualquier cosa que no sea numero o punto

				decimals = decimals || 0 // por si la variable no fue fue pasada

				// si no es un numero o es igual a cero retorno el mismo cero
				if (isNaN(amount) || amount === 0) 
					return parseFloat(0).toFixed(decimals)

				// si es mayor o menor que cero retorno el valor formateado como numero
				amount = '' + amount.toFixed(decimals)

				var amount_parts = amount.split('.'),
					regexp = /(\d+)(\d{3})/

				while (regexp.test(amount_parts[0]))
					amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2')

				return amount_parts.join(',')
			},

			limpiarMoneda(val){

				var nuevoval = val.toString().replace(',00','').replace(/[$.]/gi,'')
				nuevoval = nuevoval.replace(/[,]/gi,'.')

				return nuevoval				
			},

			formatearValor(valor){

				let valoractual = valor
				valoractual = this.limpiarMoneda(valoractual)

				valoractual = this.number_format(valoractual,2)

				this.valor = valoractual
				
			},
		
			deleteItemnecesidad(itemactual){				

				for (let index = 0; index < this.datanecesidad.length; index++) {
					const element = this.datanecesidad[index]
					
					if(element.descripcion == itemactual.descripcion){

						if(element.tipomod == 'N'){

							this.datanecesidad.splice( index, 1 )

						} else {

							if(element.tipomod != 'E')
								this.datanecesidad[index].tipomod = 'E'						
							
							else if(element.tipomod == 'E'){
								this.datanecesidad[index].tipomod = ''
								
								for (let i = 0; i < this.dataoriginalnecesidad.length; i++) {
									const element2 = this.dataoriginalnecesidad[i];

									if(element2.descripcion == itemactual.descripcion){									

										if(element2.estadocodigo != itemactual.estadocodigo || 
											element2.fechasolcontrata != itemactual.fechasolcontrata ||
											element2.metodoleccion != itemactual.metodoleccion ||
											parseFloat(element2.valor) != parseFloat(itemactual.valor)){

												this.datanecesidad[index].tipomod = 'M'

											}

									}									
								}
							}
						}

						break

					}					
				}			

			},

			saveitemnecesidad(){
				
				var codigometseleccion = 0
				var nombremetseleccion = ''

				var estadonecesidad = 0
				var estadonecesidadtxt = ''

				if(this.limpiarMoneda(this.valor) == '' || this.limpiarMoneda(this.valor.toString().replace('.00','')) == '0'){

					this.showMessage(true,3000,'error','Debe ingresar el valor de la Necesidad')
					return

				}

				if(typeof this.metodoleccion == 'object'){
					codigometseleccion = this.metodoleccion.codigo
					nombremetseleccion = this.metodoleccion.descripcion

				} else {
					codigometseleccion = this.metodoleccion
					nombremetseleccion = this.itemactualnecesidad.metodolecciontxt
				}

				if(typeof this.estadocodigonecesidad == 'object'){
					estadonecesidad = this.estadocodigonecesidad.codigo					

				} else {
					estadonecesidad = this.estadocodigonecesidad					
				}

				for (let index = 0; index < this.datanecesidad.length; index++) {
					const element = this.datanecesidad[index]

					if(element.descripcion == this.descripcion && this.itemactualnecesidad.descripcion != element.descripcion){

						this.showMessage(true,3000,'error','La Descripción ya existe')
						return

					}					
				}
				
				let fechasolcontratacion = new Date(this.fechasolcontrata)
				let FecSuscripcion = new Date(this.fechasuscripcion)
				let FecIncorporacion = new Date(this.fechaincorporacion)
				
				if(fechasolcontratacion < FecSuscripcion || fechasolcontratacion < FecIncorporacion){

					this.showMessage(true,5000,'error','La Fecha de Solicitud de la Contratación No puede ser menor a la Fecha de Inicio Ni de Suscripción (' + this.fechaincorporacion + ' - ' +  
										this.fechasuscripcion + ')' )
					return

				}					

				let totalitems = 0
				let valoractual = 0

				valoractual = parseFloat(this.limpiarMoneda(this.valor))

				if(this.edit_necesidad == 0)
					totalitems += parseFloat(valoractual)

				for (let index = 0; index < this.datanecesidad.length; index++) {
					const element = this.datanecesidad[index]						

					if(this.itemactualnecesidad.descripcion == element.descripcion)
						totalitems += valoractual
					else
						totalitems += parseFloat(this.limpiarMoneda(element.valor.toString().replace(this.moneda,'')))
				}

				if(parseFloat(totalitems) > parseFloat(this.valortotalconvenio)){

					this.showMessage(true,5000,'error','El Valor total de las Necesidades no puede superar el valor total del convenio (' + this.moneda + ' ' +  
										this.number_format(this.valortotalconvenio) + ')' )
					return
				}				

				if(this.edit_necesidad == 0){
					
					var max = this.datanecesidad.reduce((maximo, element) => Math.max(maximo, element.codigo), 0);
					max += 1

					this.datanecesidad.push({codigo:max,descripcion:this.descripcion,
							valor: this.limpiarMoneda(this.valor),metodoleccion:codigometseleccion,
							metodolecciontxt:nombremetseleccion,fechasolcontrata:this.fechasolcontrata,
							estadocodigo:estadonecesidad,estadotxt:this.estadonecesidadtxt,
							modificada:'U',tipomod:'N'})
				
				} else {

					for (let index = 0; index < this.datanecesidad.length; index++) {
						const element = this.datanecesidad[index]

						if(this.itemactualnecesidad.descripcion == element.descripcion){
							
							if(element.tipomod != 'N'){

								if(element.valor != this.limpiarMoneda(this.valor) || 
									element.metodoleccion != codigometseleccion || 
									element.fechasolcontrata != this.fechasolcontrata ||
									element.estadocodigo != estadonecesidad){									
								
									element.tipomod = 'M'
								}

							}

							element.valor = this.limpiarMoneda(this.valor)
							element.metodoleccion = codigometseleccion
							element.metodolecciontxt = nombremetseleccion
							element.fechasolcontrata = this.fechasolcontrata

							element.estadocodigo = estadonecesidad
							element.estadotxt = this.estadonecesidadtxt
							
							if(element.modificada == 'N')
								element.modificada = 'S'						
								

							break
						}
						
					}

				}

				this.edit_necesidad = -1
				this.dialog_addupdnecesidad = false
			},
			
			resetFormCategoria(){
								
				this.descripcion = ''
				this.valor = 0
				this.metodoleccion = ''
				this.fechasolcontrata = ''
				this.estadocodigonecesidad = ''
			},

			cerrarDialogoNecesidad(){

				this.resetFormCategoria()
				this.dialog_addupdnecesidad = false
				this.edit_necesidad =-1

			},
			
			traerMetodosSeleccion(){

		     	var _this = this
                
				this.arrMetodosSeleccion = []
              	metodoseleccionService.getMetodosSeleccion()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.arrMetodosSeleccion = res.data.data

                          }

                      }          
                      
              	}).catch(function(err) {             
              		
				})
            },
			
			abrirUnspsc(necesidad, necesidadtxt){

				this.codigonecesidad = necesidad
				this.necesidadtxt = necesidadtxt
				
				this.dialog_unspsc = true
			},

			abrirActividad(necesidad, necesidadtxt, valnecesidad){

				this.codigonecesidad = necesidad
				this.necesidadtxt = necesidadtxt
				this.valornecesidad = valnecesidad
				this.tasa = this.arrProyectosGen[0].tasa
								
				this.dialog_actividades = true
			},
			
			agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

		   },
		   
		   agregaDataActual(){
				   
			    this.codigo = this.itemactual.codigo
				this.proyecto = this.itemactual.proyecto  
				this.convenio = this.itemactual.convenio
				this.numeroconvenio = this.itemactual.numeroconvenio
				this.nombreconvenio = this.itemactual.nombreconvenio
				this.coordinador = this.itemactual.coordinador
				this.estadojurudico = 0,
				this.aclaracionjurudica = ''
				this.estadoplaneacion = ''
				this.aclaracionplaneacion = ''
				this.moneda = this.basemoneda == 'C' ? this.itemactual.moneda : '$ '
				this.enviovobo = this.itemactual.enviovobo
				this.basemoneda = this.itemactual.basemoneda 
				this.valortotalconvenio = this.basemoneda == 'C' ? 
											this.itemactual.valortotalconvenio : 
											(this.itemactual.tasa != 0 ? 
											this.itemactual.valortotalconvenio * this.itemactual.tasa :
											this.itemactual.valortotalconvenio)

				this.fechasuscripcion = this.itemactual.fechasuscripcion
				this.fechaterejecucion = this.itemactual.fechaterejecucion
				this.fechaincorporacion = this.itemactual.fechaincorporacion

				this.traeProyectoGen()
				this.traeNecesidadXPlanAdq()
				this.traerActividadesUnspscXPlanAdq()
				this.traeNecesidadDataBaseXPlanAdq()

		   },

		   async traerActividadesUnspscXPlanAdq(){
				   
				this.$store.commit('setArrPlanAdqNecUnspsc',[])
				this.$store.commit('setArrPlanAdqNecAct',[])
				
				if(this.nuevo == 1){

					var actividades = await  planesadquisicionService.ActividadXPlanAdq(this.codigo)
					var unspscs = await  planesadquisicionService.UnspscXPlanAdq(this.codigo)
					
					unspscs = unspscs.data.data

				} else {

					var actividades = await  planesadquisicionService.getActividadXTmpPlanCategoria(this.tmplanadquisicion)
					var unspscs = await  planesadquisicionService.getUnspscXTmpPlanCategoria(this.tmplanadquisicion)

					unspscs = unspscs.data.data					

				}
				
				this.$store.commit('setArrPlanAdqNecUnspsc',unspscs)
				this.$store.commit('setArrPlanAdqNecAct',actividades.data)

			},
			
			async traeUsuarios(){

				this.usuarioFinanciera = 0
				this.usuarioJuridica = 0

				this.usuarioPlaneacion = 0

				try{

					let financiera = await areasService.getUserXArea(2) //financiera
					let juridica = await areasService.getUserXArea(7) //juridica
					let planeacion = await areasService.getUserXArea(3) //subdireccion cientifica

					if(financiera.data)
						this.usuarioFinanciera = financiera.data.data[0].userid
					
					if(juridica.data)
						this.usuarioJuridica = juridica.data.data[0].userid

					if(planeacion.data)
						this.usuarioPlaneacion = planeacion.data.data[0].userid	

					this.usuaactual = this.$session.get('usuarioid')

					console.log('usu jur: ' + this.usuarioJuridica)

					this.readvbfinanciera = true
					this.readvbjuridica = true
					this.readvbplaneacion = true

					if(this.usuaactual == this.usuarioFinanciera)
						this.readvbfinanciera = false

					if(this.usuaactual == this.usuarioJuridica)
						this.readvbjuridica = false	

					if(this.usuaactual == this.usuarioPlaneacion)
						this.readvbplaneacion = false		


				} catch (error) {	

					

				}
				finally {

				}

			},
		},
		
    	watch: {
		    itemactual: function (val) {
			
				this.agregaDataActual()

			},
			
			edit_necesidad: function (val) {				
					
		       if(val)
		       {
		       		this.formTitleNecesidad = 'Editar'
					
					this.descripcion = this.itemactualnecesidad.descripcion
					this.valor =  this.number_format(this.itemactualnecesidad.valor,2)
					this.metodoleccion = this.itemactualnecesidad.metodoleccion
					this.fechasolcontrata = this.itemactualnecesidad.fechasolcontrata	
					this.estadocodigonecesidad = this.itemactualnecesidad.estadocodigo
					this.estadonecesidadtxt = this.itemactualnecesidad.estadotxt

					this.titulobtnuardaritem = 'Actualizar Item'					

		       } else {

		       		this.resetFormCategoria()
					this.formTitleNecesidad = 'Nuevo'
					this.titulobtnuardaritem = 'Agregar Item'
					this.estadocodigonecesidad = '15'	
					this.estadonecesidadtxt = 'NUEVA'				
			   }
			   
			},			
		},

		computed: {			
			
		},

		mounted() {
			
			this.agregaDataActual()			
			this.traerMetodosSeleccion()
			this.traeUsuarios()
						
		},	
	}
	
</script>

<style>

.ColorVBTrue{

	color:blue;
	font-weight: bold;
}

.ColorVBFalse{

	color:red;
	font-weight: bold;
}

.ColorVBModifica{

	color:darkmagenta;
	font-weight: bold;
}

.TextoTachado{
	text-decoration:line-through;
}

.TextoNormal{

	text-decoration:none;

}

</style>