<template>
	<v-container>		
		 <v-flex>

            <div style="padding-bottom:5px;font-"> 				
				<v-textarea	
					filled															
					name="input-7-4"
					label="Necesidad"
					v-model="descripcionnecesidad"
					readonly=""
				></v-textarea>
			</div>

			<div style="padding-bottom:10px"> 
				<v-btn fab dark small color="primary" @click="dialog = true, edit=0,itemactual=''" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div>		
			<v-card >
                <v-card-title class="justify-center">
					UNSPSC - NECESIDADES
				</v-card-title>
				<v-card-text>
					<v-text-field
							v-model="search"
							append-icon="search"
							label="Buscar"
							single-line
							hide-details
						></v-text-field>
				</v-card-text>		
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" :disable-sort="true" :search="search">

						<template v-slot:item.action="{ item }">							
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								:loading="loading && itemactual === item "
								@click="deleteItem(item)"								
							>
								delete
							</v-icon>						
													
					  	</template>

						<template v-slot:item.tipomod="{ item }">
							<span :class="[{ColorVBTrue:(item.tipomod === 'N')}, {ColorVBFalse:(item.tipomod == 'E')} , {ColorVBModifica:(item.tipomod == 'M')}]">
								{{ item.tipomod == 'N' ? 'NUEVO' : (item.tipomod == 'M' ? 'MODIFICADO' : (item.tipomod == 'E' ? 'ELIMINADO' : '')  ) }}
							</span>
						</template>  
		            </v-data-table>		            	
		          </v-layout>
			</v-card>
		 	
		</v-flex>

		<v-dialog v-model="dialog" max-width="900px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>					
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>		
							<v-form v-model="valid" ref="form">
								<v-row>
									<v-col cols="5">
										<v-select
											:items="arrfiltro"
											item-value="value"
											item-text="text"
											v-model="filtro"
											:return-object="false"  
											label="Tipo de Filtro" 										                    										
										>									
										</v-select>
									</v-col>
									<v-col cols="5">
										<v-text-field
											v-model="valfiltro"											
											label="Dato"											
										></v-text-field>
									</v-col>

									<v-col cols="2">
										<v-btn class="mx-2" fab dark small color="primary" @click="traerDataXFiltro">
											<v-icon dark>search</v-icon>
										</v-btn>										
									</v-col>
								</v-row>

								<v-row>
									<v-col sm12>
										<v-text-field
											v-model="searchfiltro"
											append-icon="search"
											label="Buscar"
											single-line
											hide-details
										></v-text-field><br>
										<v-data-table :headers="headersbusqueda" :items="dataBusq" :items-per-page="5" 
														:disable-sort="true" :search="searchfiltro">
											<template v-slot:item.action="{ item }">
												<v-icon
													small
													class="mr-5"
													color="primary" 													
													@click="seleccionarItem(item)"
												>
													send
												</v-icon>			
											</template>
										</v-data-table>

										<br>
										<div style="width:100%;text-align:center;">
											<h3>Seleccionados</h3>
										</div>
										
										<v-data-table :headers="headersseleccionados" :items="dataseleccionados" 
													  :items-per-page="5" :disable-sort="true">

											<template v-slot:item.action="{ item }">
												<v-icon
													small
													class="mr-5"
													color="primary" 													
													@click="eliminarItem(item)"
												>
													delete
												</v-icon>			
											</template>

										</v-data-table>

									</v-col>	
								</v-row>							
							</v-form>				
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>		
	</v-container>	
</template>

<script>
	import planesadquisicionService from "../servicios/PlanesAdquisicionService";
	import unspscService from "../servicios/UnspscService"
	
	export default {

        name: 'Unspsc',
        props: ['planadquisicion','necesidad','descripcionnecesidad','enviovobo'],
		data (){

			return {
                modulo:'UNSPSC NECESIDADES',							
  				loading: false,  				
  				dialog:false,
  				edit:-1,
  				dialog_del:false,
  				processing:false,
				formTitle:'',
				valid:false,
				search: '',
                
                unspsctxt: '0',
				unspsctxtant: '0',
				unspsc:0,				
				itemactual:'',
				data: [],
				arrUnspsc:[],  						
  				headers: [
					{ text: 'Código',align: 'left',sortable: false,value: 'unspsc' },
  					{ text: 'Unspsc',align: 'left',sortable: false,value: 'unspsctxt' },						        
					{ text: 'Accion', value: 'action',sortable: false },
					{ text: 'Tipo Mod.', value: 'tipomod',sortable: false},
				],
				
				filtro:'',
				valfiltro:'',
				searchfiltro:'',
				arrfiltro:[
					{ text: 'Código',value: 'C' },
					{ text: 'Clase',value: 'L' },
					{ text: 'Familia',value: 'F' },
					{ text: 'Segmento',value: 'S' },
					{ text: 'Unspsc',value: 'U' },
				],
				headersbusqueda: [
					{ text: 'Código',align: 'left',sortable: false,value: 'codigo' },
  					{ text: 'Unspsc',align: 'left',sortable: false,value: 'nombre' },						        
                    { text: 'Seleccionar', value: 'action',sortable: false }
				],
				dataBusq:[],
				
				headersseleccionados: [
					{ text: 'Código',align: 'left',sortable: false,value: 'codigo' },
					{ text: 'Unspsc',align: 'left',sortable: false,value: 'nombre' },
					{ text: 'Accion',align: 'left',sortable: false,value: 'action' }
				],
				dataseleccionados:[],
  				rules: {
					required: value => !!value || 'Campo requerido.'					
		        }				
	        }
	    },

	    filters: {	  
            
		},

	    methods: {
            
            showMessage (snack, time, color, text) {

                this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

            },
			resetForm () {
                
                this.unspsctxt=''	
				this.unspsctxtant=''
				this.unspsc = 0
				
				this.filtro = ''
				this.valfiltro = ''
				this.searchfiltro = ''
				this.dataBusq = []
				this.dataseleccionados = []

			},
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

            },
            
		    traerData(){

				let datafull = this.$store.getters.getArrPlanAdqNecUnspsc
				
				let data_tempo = datafull.filter(datacurrent=>{					
					return datacurrent.necesidad == this.necesidad;						
					return res == undefined;
				});

				this.data = data_tempo

            },
            
            traerUnspsc(){

		     	var _this = this
                
                this.arrUnspsc = []
              	unspscService.getUnspsc()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.arrUnspsc = res.data.data

                          }

                      }               
                      
              	}).catch(function(err) {              
              		
				})

		    },

			traerDataXFiltro(){

				var _this = this
                
				this.dataBusq = []
				
				if(this.filtro == '' || this.valfiltro == ''){

					this.showMessage(true,4000,'error','Debe ingresar los datos de la búsqueda')
					return
				}

				var datafiltro = [{'tipo':this.filtro,'valor':this.valfiltro}]

              	unspscService.getDataXFiltro(datafiltro)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.dataBusq = res.data.data

                          }

                      }               
                      
              	}).catch(function(err) {              
              		
				})

			},

			closeDialogoDel () {
				  
				this.dialog_del = false
			},
			deleteItem(itemactual) {

				//se recorre tambien el general			
				
				for (let index = 0; index < this.$store.getters.getArrPlanAdqNecUnspsc.length; index++) {
					const element = this.$store.getters.getArrPlanAdqNecUnspsc[index]
					
					if(element.unspsc == itemactual.unspsc && element.necesidad == this.necesidad){

						if(element.tipomod == 'N'){
							
							this.$store.commit('DelArrPlanAdqNecUnspsc',index)							

						} else {

							if(element.tipomod != 'E'){
								itemactual.tipomod = 'E'
								this.$store.commit('ModArrPlanAdqNecUnspsc',itemactual)								

							} else if(element.tipomod == 'E'){
								itemactual.tipomod = ''
								this.$store.commit('ModArrPlanAdqNecUnspsc',itemactual)								
							}
						}

						break

					}					
				}

				this.traerData()
			},
			
			saveitem(){

				if(this.dataseleccionados.length <= 0){

					this.showMessage(true,3000,'error','No ha seleccionado ningún Código')
                    return

				}
                
                var datbit = ''               


				for (let index = 0; index < this.dataseleccionados.length; index++) {
					const element = this.dataseleccionados[index]

					this.$store.commit('AddArrPlanAdqNecUnspsc',{planadquisicion:this.planadquisicion,necesidad:this.necesidad,
							unspsc: element.codigo,unspsctxt:element.nombre,
							tipomod:'N'})
					
				}

				this.traerData()

				this.dialog = false                
            },
			
			seleccionarItem(itemsel){

				//primero los seleccionados	
				for (let index = 0; index < this.dataseleccionados.length; index++) {
					const element = this.dataseleccionados[index]
					
					if(itemsel.codigo == element.codigo){
						
						this.showMessage(true,4000,'error','El Código Unspsc ya fué seleccionado')
						return
					}
				}
				
				//los que ya existen
				for (let index = 0; index < this.data.length; index++) {
					const element = this.data[index]
					
					if(itemsel.codigo == element.unspsc){
						
						this.showMessage(true,4000,'error','El Código Unspsc ya existe')
						return
					}
				}				

				this.dataseleccionados.push({planadquisicion:this.planadquisicion,necesidad:this.necesidad,
												codigo:itemsel.codigo, nombre:itemsel.nombre})

			},
			
			eliminarItem(itemsel){

				//primero los seleccionados	
				for (let index = 0; index < this.dataseleccionados.length; index++) {
					const element = this.dataseleccionados[index]
					
					if(itemsel.codigo == element.codigo){

						this.dataseleccionados.splice( index, 1 )						
						return
					}
				}

			},

            agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {
		    edit: function (val) {

		       if(val)
		       {
		       		this.formTitle = 'Editar'
                   
					this.unspsc = this.itemactual.unspsc								

		       } else{

		       		this.resetForm()
		       	    this.formTitle = 'Nuevo'
		       }
            },
            
            planadquisicion: function (val) {

                if(val!=0){   
                    
                    this.traerData()               

                }
            },

            necesidad: function (val) {

                if(val!=0){   
                    
                    this.traerData()               

                }
            },
		},
		mounted() {

            this.traerData()     
			this.traerUnspsc()
			
		},	
	}
	
</script>

<style>

.ColorVBTrue{

	color:blue;
	font-weight: bold;
}

.ColorVBFalse{

	color:red;
	font-weight: bold;
}

.ColorVBModifica{

	color:darkmagenta;
	font-weight: bold;
}

.TextoTachado{
	text-decoration:line-through;
}

.TextoNormal{

	text-decoration:none;

}

</style>