<template>
	<v-container>		
		 <v-flex>

            <div style="padding-bottom:5px;font-"> 				
				<v-textarea	
					filled															
					name="input-7-4"
					label="Necesidad"
					v-model="descripcionnecesidad"
					readonly=""
				></v-textarea>
			</div>

			<div style="padding-bottom:10px"> 				
			</div>		
			<v-card >
                <v-card-title class="justify-center">
					UNSPSC - NECESIDADES
				</v-card-title>
				<v-card-text>
					<v-text-field
							v-model="search"
							append-icon="search"
							label="Buscar"
							single-line
							hide-details
						></v-text-field>
				</v-card-text>		
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" :disable-sort="true" :search="search">

		            </v-data-table>		            	
		          </v-layout>
			</v-card>
		 	
		</v-flex>		
	</v-container>	
</template>

<script>
	import planesadquisicionService from "../servicios/PlanesAdquisicionService";
	import unspscService from "../servicios/UnspscService"
	
	export default {

        name: 'Unspsc',
        props: ['planadquisicion','necesidad','descripcionnecesidad','enviovobo'],
		data (){

			return {
                modulo:'UNSPSC NECESIDADES VER',							
  				loading: false,
  				processing:false,				
				valid:false,
				search: '',
                
                unspsctxt: '0',
				unspsctxtant: '0',
				unspsc:0,				
				itemactual:'',
				data: [],
				arrUnspsc:[],  						
  				headers: [
					{ text: 'Código',align: 'left',sortable: false,value: 'unspsc' },
  					{ text: 'Unspsc',align: 'left',sortable: false,value: 'unspsctxt' },					        
					
				],
				
				filtro:'',
				valfiltro:'',
				searchfiltro:'',
				arrfiltro:[
					{ text: 'Código',value: 'C' },
					{ text: 'Clase',value: 'L' },
					{ text: 'Familia',value: 'F' },
					{ text: 'Segmento',value: 'S' },
					{ text: 'Unspsc',value: 'U' },
				],
				headersbusqueda: [
					{ text: 'Código',align: 'left',sortable: false,value: 'codigo' },
  					{ text: 'Unspsc',align: 'left',sortable: false,value: 'nombre' },						        
                    { text: 'Seleccionar', value: 'action',sortable: false }
				],
				dataBusq:[],
				
				headersseleccionados: [
					{ text: 'Código',align: 'left',sortable: false,value: 'codigo' },
					{ text: 'Unspsc',align: 'left',sortable: false,value: 'nombre' },
					{ text: 'Accion',align: 'left',sortable: false,value: 'action' }
				],
				dataseleccionados:[],
  				rules: {
					required: value => !!value || 'Campo requerido.'					
		        }				
	        }
	    },

	    filters: {	  
            
		},

	    methods: {
            
            showMessage (snack, time, color, text) {

                this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

            },			
		            
		    traerData(){

				let datafull = this.$store.getters.getArrPlanAdqNecUnspsc
				
				let data_tempo = datafull.filter(datacurrent=>{					
					return datacurrent.necesidad == this.necesidad;						
					return res == undefined;
				});

				this.data = data_tempo			

            },            
		},
		
    	watch: {		 
            
            planadquisicion: function (val) {

                if(val!=0){   
                    
                    this.traerData()               

                }
            },

            necesidad: function (val) {

                if(val!=0){   
                    
                    this.traerData()               

                }
            },
		},
		mounted() {

            this.traerData()
			
		},	
	}
	
</script>

<style>

.ColorVBTrue{

	color:blue;
	font-weight: bold;
}

.ColorVBFalse{

	color:red;
	font-weight: bold;
}

.ColorVBModifica{

	color:darkmagenta;
	font-weight: bold;
}

.TextoTachado{
	text-decoration:line-through;
}

.TextoNormal{

	text-decoration:none;

}

</style>