<template>
	<v-container>		
		 <v-flex>

			 <v-card elevation="3">
				 <v-card-title>Necesidad</v-card-title>

				 <v-card-text>					 
				 	<span><b>Descripción:&nbsp;&nbsp;</b>{{ descripcionnecesidad }}</span><br>
					
				 	<span><b>Valor:&nbsp;&nbsp;</b>{{ `${moneda} ${number_format(valornecesidad,2)}` }}</span> 

				 </v-card-text>
			 </v-card>
			<br>

			<div style="padding-bottom:10px"> 				
			</div>		
			<v-card >
                <v-card-title class="justify-center">
					ACTIVIDADES - NECESIDADES
				</v-card-title>
				<v-card-text>
					<v-text-field
							v-model="search"
							append-icon="search"
							label="Buscar"
							single-line
							hide-details
						></v-text-field>
				</v-card-text>		
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" 
                        :disable-sort="true" 
                        :search="search"
                    >
                        <template v-slot:item.valor="{ item }">
							<span>{{ item.valor |  currency({
									symbol: moneda,
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>
		            </v-data-table>		            	
		          </v-layout>
			</v-card>		 	
		</v-flex>		
	</v-container>	
</template>

<script>
	import planesadquisicionService from "../servicios/PlanesAdquisicionService";
	import proyectosactividadesService from "../servicios/ProyectosActividadesService"
    import presupuestoService from "../servicios/PresupuestosService"
    
	export default {

        name: 'Actividades',
        props: ['planadquisicion','necesidad','descripcionnecesidad','moneda',
                    'valortotal','proyecto','convenio','valornecesidad','tasa','enviovobo'],
		data (){

			return {
                modulo:'ACTIVIDADES NECESIDADES VER',							
  				loading: false,
  				processing:false,				
				valid:false,
				search: '',                
                
                secuenciaactividad:0,
                categoriagasto:0,
                topecategoriagasto:0,
                valor:0,
                tipotope:'',

				presupuesto:'',

				fuefinpgn:'',
				fuefinsgr:'',
				fuefincofinanciado:'',
				fuefinfuncionamiento:'',
				coordinador:'',

                nommoneda : '',
                nomsufijo : '',
                
				itemactual:'',
				data: [],   
				dataoriginal: [],             
                arrActividades:[],
                arrCatGasto:[],

  				headers: [  					
  					{ text: 'Actividad',align: 'left',sortable: false,value: 'actividadtxt'},
                    { text: 'Categoría del Gasto',align: 'left',sortable: false,value: 'categoriagastotxt'},
					{ text: 'Valor',align: 'left',sortable: false,value: 'valor'},
					{ text: 'Rubro Presupuestal',align: 'left',sortable: false,value: 'rubro'},
				],				 
  				rules: {
					required: value => !!value || 'Campo requerido.'					
		        }				
	        }
	    },

	    filters: {	  
            
		},

	    methods: {
            
            showMessage (snack, time, color, text) {

                this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

            },			
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

            },
            
		    traerData(){
				
				let datafull = this.$store.getters.getArrPlanAdqNecAct

				let data_tempo = datafull.filter(datacurrent=>{					
					return datacurrent.necesidad == this.necesidad;						
					return res == undefined;
				});				

				this.data = data_tempo
			},
            
            agregaTope(itemcategoria){                
                
				this.tipotope = itemcategoria.tipotope
				
				if(this.tipotope == 'M'){

					if(this.moneda.trim() == '$' && parseFloat(this.tasa) > 0){

						this.topecategoriagasto = this.formatearValor(itemcategoria.topemaximo * this.tasa,0)

					} else {

						this.topecategoriagasto = this.formatearValor(itemcategoria.topemaximo,0)

					}

				}

                this.nommoneda = ''
                this.nomsufijo = ''

                if(this.tipotope == 'M')
                    this.nommoneda = this.moneda
                else if(this.tipotope == 'P')    
                    this.nomsufijo = '%'	

            },

            number_format(amount, decimals) {

				amount += ''; // por si pasan un numero en vez de un string
				amount = parseFloat(amount.replace(/[^0-9\.]/g, '')) // elimino cualquier cosa que no sea numero o punto

				decimals = decimals || 0 // por si la variable no fue fue pasada

				// si no es un numero o es igual a cero retorno el mismo cero
				if (isNaN(amount) || amount === 0) 
					return parseFloat(0).toFixed(decimals)

				// si es mayor o menor que cero retorno el valor formateado como numero
				amount = '' + amount.toFixed(decimals)

				var amount_parts = amount.split('.'),
					regexp = /(\d+)(\d{3})/

				while (regexp.test(amount_parts[0]))
					amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2')

				return amount_parts.join(',')
            },
            
            limpiarMoneda(val){

				var nuevoval = val.toString().replace(',00','').replace(/[$.]/gi,'')
				nuevoval = nuevoval.replace(/[,]/gi,'.')

				return nuevoval				
			},

			formatearValor(value){

				let valoractual = value
				valoractual = this.limpiarMoneda(valoractual)

				valoractual = this.number_format(valoractual,2)

				return valoractual
				
            },

            formatearValorActividad(value){

                this.valor = this.formatearValor(value) 
			},
			
            agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {
			arrCatGasto: function(val){

				this.presupuesto = 0
				if(val.length > 0 )
					this.presupuesto = val[0].presupuesto

			},
            
            planadquisicion: function (val) {

                if(val!=0){   
                    
                    this.traerData() 

                }
            },

            necesidad: function (val) {

                if(val!=0){   
                    
                    this.traerData()
                }
            },
		},
		mounted() {

            this.traerData()   
          
		},	
	}
	
</script>

<style>

.ColorVBTrue{

	color:blue;
	font-weight: bold;
}

.ColorVBFalse{

	color:red;
	font-weight: bold;
}

.ColorVBModifica{

	color:darkmagenta;
	font-weight: bold;
}

.TextoTachado{
	text-decoration:line-through;
}

.TextoNormal{

	text-decoration:none;

}

</style>