<template>  
	<v-container grid-list-md>
		<v-layout wrap column>			

			<v-form v-model="valid" ref="form">	
				<v-layout wrap>					
					<v-flex sm12>					
						
						<div style="width:96%;text-align: center;padding-left: 10px;">
							<v-data-table :headers="headerproyectogen" :items="arrProyectosGen" 
								:disable-sort="true" :disable-pagination="true" 
								:hide-default-footer="true"
							> 
								<template v-slot:item.valortotal="{ item }">
									<span>{{ item.valortotal |  currency({
											symbol: item.moneda,
											thousandsSeparator: '.',
											fractionCount: '0',
											fractionSeparator: ',',
											symbolPosition: 'front',
											symbolSpacing: true
										})}}
									</span>
								</template>

								<template v-slot:item.tasa="{ item }">
									<span>{{ item.tasa |  currency({
											symbol: '$ ',
											thousandsSeparator: '.',
											fractionCount: '0',
											fractionSeparator: ',',
											symbolPosition: 'front',
											symbolSpacing: true
										})}}
									</span>
								</template>

								<template v-slot:item.valorpesos="{ item }">
									<span>{{ item.valorpesos |  currency({
											symbol: '$ ',
											thousandsSeparator: '.',
											fractionCount: '0',
											fractionSeparator: ',',
											symbolPosition: 'front',
											symbolSpacing: true
										})}}
									</span>
								</template>

							</v-data-table>												
						</div>										
					</v-flex>

					<v-flex sm3>
						<v-select
							:items="arrBaseMoneda"
							v-model="basemoneda"
							label="Base Moneda"
							item-value="valor"
							item-text="texto"
							:return-object="false"
							readonly
						>									
						</v-select>		
					</v-flex>

					<v-flex sm12>								
						<v-card >
							<v-card-title class="justify-center">NECESIDADES</v-card-title>
							<v-card-text>
								<v-text-field
									v-model="searchnecesidad"
									append-icon="search"
									label="Buscar"
									single-line
									hide-details
								></v-text-field>
							</v-card-text>											
							<v-data-table :headers="headersnecesidad" :items="datanecesidad" :items-per-page="5" 
								:disable-sort="true" :search="searchnecesidad">

								<template v-slot:item.valor="{ item }">
									<span>{{ item.valor |  currency({
											symbol: moneda,
											thousandsSeparator: '.',
											fractionCount: '0',
											fractionSeparator: ',',
											symbolPosition: 'front',
											symbolSpacing: true
										})}}
									</span>
								</template>

								<template v-slot:item.unspsc="{ item }">
									<v-icon
										small
										class="mr-5"
										color="primary" 
										@click="abrirUnspsc(item.codigo, item.descripcion)"
										v-show="item.codigo != 0"
									>
										library_add
									</v-icon>
								</template>

								<template v-slot:item.actividades="{ item }">
									<v-icon
										small
										class="mr-5"
										color="primary" 
										@click="abrirActividad(item.codigo, item.descripcion, item.valor)"
										v-show="item.codigo != 0"
									>
										account_tree
									</v-icon>
								</template>
							</v-data-table>
						</v-card>		
					</v-flex>																								
				</v-layout>									
			</v-form>									
		</v-layout>

		<v-dialog v-model="dialog_unspsc" persistent max-width="900px">

          	<v-card>
				<v-card-text>	
					<unspsc :planadquisicion.sync = "codigo" :necesidad.sync = "codigonecesidad"
							:descripcionnecesidad.sync = "necesidadtxt" :enviovobo.sync = "enviovobo">
					</unspsc>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="dialog_unspsc=false">Cancelar</v-btn>				
				</v-card-actions>
          	</v-card>

        </v-dialog>

		<v-dialog v-model="dialog_actividades" persistent max-width="1200px">

          	<v-card>
				<v-card-text>	
					<actividades :planadquisicion.sync = "codigo" 
							:necesidad.sync = "codigonecesidad"
							:descripcionnecesidad.sync = "necesidadtxt" 
							:moneda.sync = 'moneda'
							:valortotal.sync = 'valortotalconvenio'
							:proyecto.sync = 'proyecto'
							:convenio.sync = 'convenio'
							:valornecesidad.sync = 'valornecesidad'
							:tasa.sync = 'tasa'
							:enviovobo.sync = "enviovobo"							
					>
					</actividades>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="dialog_actividades=false">Cancelar</v-btn>				
				</v-card-actions>
          	</v-card>

        </v-dialog>

    </v-container>
</template>

<script>
	import planesadquisicionService from '../servicios/PlanesAdquisicionService'
	import proyectosService from "../servicios/ProyectosService"
	import metodoseleccionService from "../servicios/MetodosSeleccionService"
	import estadosService from "../servicios/EstadosService"
	import areasService from "../servicios/AreasService"
	
	export default {
		name:'PlanesAdquisicionVer',
		props: ['itemactual','hisplanadquisicion'],
		components: {
			'unspsc'      : () => import('@/components/CPlaAdqNecUnspscVer.vue'),
			'actividades' : () => import('@/components/CPlaAdqNecActividadesVer.vue')		  
		},
		data (){

			return {		
				modulo:'PLANES DE ADQUISICIÓN VER',					
  				loading: false,  				
  				dialog:false,  				 							
  				processing:false,							
                search:'',
				valid:false,
				
				dialog_unspsc:false,
				dialog_actividades:false,

                codigo:0,
                proyecto:0,  
				convenio:0,				
                valortotalconvenio:0,
                estadojurudico:0,
                aclaracionjurudica:'',
				estadoplaneacion:'',
				aclaracionplaneacion:'',
				moneda:'',
				enviovobo:'',
				basemoneda:'',
				tasa:'',
				numeroconvenio:'',
				nombreconvenio:'',
				valortotalconvenio:0,
				coordinador:'',
				fechasuscripcion:'',
				fechaterejecucion:'',
				fechaincorporacion:'',
				version:'',

                arrProyectosGen:[],    
				
                headerproyectogen: [

					{ text: 'Nombre Proyecto',align: 'left',sortable: false,value: 'nombre'},
					{ text: 'No. Convenio',align: 'left',sortable: false,value: 'convenio'},					
					{ text: 'Nombre Convenio', value: 'nombreconvenio',sortable: false,align: 'left'},					
					{ text: 'Valor Total', value: 'valortotal',sortable: false,align: 'left'},
					{ text: 'Tasa', value: 'tasa',sortable: false,align: 'left'},
					{ text: 'Valor en Pesos', value: 'valorpesos',sortable: false,align: 'left'},

				],

				edit_necesidad:-1,
				itemactualnecesidad:'',
				searchnecesidad:'',
				datanecesidad:[],

				dataoriginalnecesidad:[],
				
				dialog_addupdnecesidad:false,
				valid_necesidad:false,
					
				codigonecesidad:0,
				necesidadtxt:'',
				valornecesidad:0,
				descripcion:'',
				valor:0,
				metodoleccion:0,
				
				fechasolcontrata:'',
				estadocodigonecesidad:'',
				estadonecesidadtxt:'',
				formTitleNecesidad:'',
				
				titulobtnuardaritem:'',

				arrMetodosSeleccion:[],
				
				headersnecesidad: [
					{ text: 'No.', value: 'codigo',sortable: false,align: 'left'},
					{ text: 'Descripción', value: 'descripcion',sortable: false,align: 'left'},
					{ text: 'Valor', value: 'valor',sortable: false,align: 'left'},
					{ text: 'Método de Selección', value: 'metodolecciontxt',sortable: false,align: 'left'},
					{ text: 'Fecha de Solicitud de Contratación', value: 'fechasolcontrata',sortable: false,align: 'left'},                    
					{ text: 'Estado', value: 'estadotxt',sortable: false,align: 'left'},
					{ text: 'UNSPSC', value:'unspsc',sortable: false,align: 'left'},
					{ text: 'Actividades', value:'actividades',sortable: false,align: 'left'},					
					
				],
				
				arrBaseMoneda:[

					{valor:'C', texto:'CONVENIO'},
					{valor:'P', texto:'PESOS'},
				],				
			
  				rules: {
					required: value => !!value || 'Campo requerido.',
					valor: value => value>0 || 'El Valor debe ser mayor a 0.'					
				},
				
	        }
	    },

	    filters: {	

		},

	    methods: {
			
			showMessage (snack, time, color, text) {

			      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

			},
            
            traeProyectoGen(){
				
		     	var _this = this                
				
				this.arrProyectosGen = []

				this.numeroconvenio = ''
				this.nombreconvenio = ''
				this.coordinador = ''
				this.valortotalconvenio = 0
				this.moneda = ''

				this.fechasuscripcion = ''
				this.fechaterejecucion = ''
				this.fechaincorporacion = ''

              	proyectosService.getDataXId(this.proyecto)
                  .then(function(res) {

                      if (res.request) {
						  
                          if(res.data){
							 
							_this.arrProyectosGen = res.data.data

							_this.numeroconvenio = _this.arrProyectosGen[0].convenio
							_this.nombreconvenio = _this.arrProyectosGen[0].nombreconvenio
							_this.coordinador = _this.arrProyectosGen[0].codigocoordinador

							_this.valortotalconvenio = _this.basemoneda == 'C' ? _this.arrProyectosGen[0].valortotal :  
															(_this.arrProyectosGen[0].tasa != 0 ? 
															_this.arrProyectosGen[0].valortotal * _this.arrProyectosGen[0].tasa : 
															_this.arrProyectosGen[0].valortotal)
							_this.moneda = _this.basemoneda == 'C' ? _this.arrProyectosGen[0].moneda : '$ '

							_this.fechasuscripcion = _this.arrProyectosGen[0].fechasuscripcion 
							_this.fechaterejecucion = _this.arrProyectosGen[0].fechaterejecucion
							_this.fechaincorporacion = _this.arrProyectosGen[0].fechaincorporacion

                          }

                      }
                      
              	}).catch(function(err) {              
              		
				})

            },
		
			traeNecesidadXPlanAdq(){

		     	var _this = this
				
				_this.datanecesidad = []

				planesadquisicionService.getVersionesNecesidades(this.hisplanadquisicion)
				.then(function(res) {

					if (res.request) {
										
						if(res.data){
							
							_this.datanecesidad = res.data.data							

						}
					}               
					
				}).catch(function(err) {            
					
				})			

			},
						
			number_format(amount, decimals) {

				amount += ''; // por si pasan un numero en vez de un string
				amount = parseFloat(amount.replace(/[^0-9\.]/g, '')) // elimino cualquier cosa que no sea numero o punto

				decimals = decimals || 0 // por si la variable no fue fue pasada

				// si no es un numero o es igual a cero retorno el mismo cero
				if (isNaN(amount) || amount === 0) 
					return parseFloat(0).toFixed(decimals)

				// si es mayor o menor que cero retorno el valor formateado como numero
				amount = '' + amount.toFixed(decimals)

				var amount_parts = amount.split('.'),
					regexp = /(\d+)(\d{3})/

				while (regexp.test(amount_parts[0]))
					amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2')

				return amount_parts.join(',')
			},

			limpiarMoneda(val){

				var nuevoval = val.toString().replace(',00','').replace(/[$.]/gi,'')
				nuevoval = nuevoval.replace(/[,]/gi,'.')

				return nuevoval				
			},

			formatearValor(valor){

				let valoractual = valor
				valoractual = this.limpiarMoneda(valoractual)

				valoractual = this.number_format(valoractual,2)

				this.valor = valoractual
				
			},

			cerrarDialogoNecesidad(){

				this.resetFormCategoria()
				this.dialog_addupdnecesidad = false
				this.edit_necesidad =-1

			},
						
			abrirUnspsc(necesidad, necesidadtxt){

				this.codigonecesidad = necesidad
				this.necesidadtxt = necesidadtxt
				
				this.dialog_unspsc = true
			},

			abrirActividad(necesidad, necesidadtxt, valnecesidad){

				this.codigonecesidad = necesidad
				this.necesidadtxt = necesidadtxt
				this.valornecesidad = valnecesidad
				this.tasa = this.arrProyectosGen[0].tasa
								
				this.dialog_actividades = true
			},
					   
		   agregaDataActual(){
				
			    this.codigo = this.itemactual.codigo
				this.proyecto = this.itemactual.proyecto  
				this.convenio = this.itemactual.convenio
				this.numeroconvenio = this.itemactual.numeroconvenio
				this.nombreconvenio = this.itemactual.nombreconvenio
				this.coordinador = this.itemactual.coordinador
				this.estadojurudico = 0,
				this.aclaracionjurudica = ''
				this.estadoplaneacion = ''
				this.aclaracionplaneacion = ''
				this.moneda = this.basemoneda == 'C' ? this.itemactual.moneda : '$ '
				this.enviovobo = this.itemactual.enviovobo
				this.basemoneda = this.itemactual.basemoneda 
				this.valortotalconvenio = this.basemoneda == 'C' ? 
											this.itemactual.valortotalconvenio : 
											(this.itemactual.tasa != 0 ? 
											this.itemactual.valortotalconvenio * this.itemactual.tasa :
											this.itemactual.valortotalconvenio)

				this.fechasuscripcion = this.itemactual.fechasuscripcion
				this.fechaterejecucion = this.itemactual.fechaterejecucion
				this.fechaincorporacion = this.itemactual.fechaincorporacion
				this.version = this.itemactual.version

				this.traeProyectoGen()
				this.traeNecesidadXPlanAdq()
				this.traerActividadesUnspscXPlanAdq()
		   },

		   async traerActividadesUnspscXPlanAdq(){
				   
				this.$store.commit('setArrPlanAdqNecUnspsc',[])
				this.$store.commit('setArrPlanAdqNecAct',[])
				
				var actividades = await  planesadquisicionService.getActividadXHisPlanCategoria(this.hisplanadquisicion)
				var unspscs = await  planesadquisicionService.getUnspscXHisPlanCategoria(this.hisplanadquisicion)

				unspscs = unspscs.data.data
				
				this.$store.commit('setArrPlanAdqNecUnspsc',unspscs)
				this.$store.commit('setArrPlanAdqNecAct',actividades.data)

            },
		},
		
    	watch: {
		    itemactual: function (val) {
			
				this.agregaDataActual()		
		       
			},			
		},

		computed: {			
			
		},

		mounted() {
			
			this.agregaDataActual()			
						
		},	
	}
	
</script>

<style>

.ColorVBTrue{

	color:blue;
	font-weight: bold;
}

.ColorVBFalse{

	color:red;
	font-weight: bold;
}

.ColorVBModifica{

	color:darkmagenta;
	font-weight: bold;
}

.TextoTachado{
	text-decoration:line-through;
}

.TextoNormal{

	text-decoration:none;

}

</style>