<template>
	<v-container>		
		 <v-flex>

            <div style="padding-bottom:5px;font-"> 				
				<v-textarea	
					filled															
					name="input-7-4"
					label="Necesidad"
					v-model="descripcionnecesidad"
					readonly=""
				></v-textarea>
			</div>

			<div style="padding-bottom:10px"> 
				<v-btn v-if="enviovobo != 'S'" fab dark small color="primary" @click="dialog = true, edit=0,itemactual=''" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div>		
			<v-card >
                <v-card-title class="justify-center">
					UNSPSC - NECESIDADES
				</v-card-title>
				<v-card-text>
					<v-text-field
							v-model="search"
							append-icon="search"
							label="Buscar"
							single-line
							hide-details
						></v-text-field>
				</v-card-text>		
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" :disable-sort="true" :search="search">

						<template v-slot:item.action="{ item }">
							
							<!--<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="dialog = true, edit=1, itemactual=item"
							>
								edit
							</v-icon>-->
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								:loading="loading && itemactual === item "
								@click="dialog_del=true, itemactual=item"
								v-if="enviovobo != 'S'"
							>
								delete
							</v-icon>						
													
					  	</template>
		            </v-data-table>		            	
		          </v-layout>
			</v-card>
		 	
		</v-flex>

		<v-dialog v-model="dialog" max-width="900px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>					
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>		
							<v-form v-model="valid" ref="form">
								<v-row>
									<v-col cols="5">
										<v-select
											:items="arrfiltro"
											item-value="value"
											item-text="text"
											v-model="filtro"
											:return-object="false"  
											label="Tipo de Filtro" 										                    										
										>									
										</v-select>
									</v-col>
									<v-col cols="5">
										<v-text-field
											v-model="valfiltro"											
											label="Dato"											
										></v-text-field>
									</v-col>

									<v-col cols="2">
										<v-btn class="mx-2" fab dark small color="primary" @click="traerDataXFiltro">
											<v-icon dark>search</v-icon>
										</v-btn>										
									</v-col>
								</v-row>

								<v-row>
									<v-col sm12>
										<v-text-field
											v-model="searchfiltro"
											append-icon="search"
											label="Buscar"
											single-line
											hide-details
										></v-text-field><br>
										<v-data-table :headers="headersbusqueda" :items="dataBusq" :items-per-page="5" 
														:disable-sort="true" :search="searchfiltro">
											<template v-slot:item.action="{ item }">
												<v-icon
													small
													class="mr-5"
													color="primary" 													
													@click="seleccionarItem(item)"
												>
													send
												</v-icon>			
											</template>
										</v-data-table>

										<br>
										<div style="width:100%;text-align:center;">
											<h3>Seleccionados</h3>
										</div>
										
										<v-data-table :headers="headersseleccionados" :items="dataseleccionados" 
													  :items-per-page="5" :disable-sort="true">

											<template v-slot:item.action="{ item }">
												<v-icon
													small
													class="mr-5"
													color="primary" 													
													@click="eliminarItem(item)"
												>
													delete
												</v-icon>			
											</template>

										</v-data-table>

									</v-col>	
								</v-row>							
							</v-form>				
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

        <v-dialog v-model="dialog_del" max-width="300px">

          	<v-card>

				<v-card-title>
					<span class="headline red--text">Eliminar Unspsc</span>
				</v-card-title>
  
				<v-card-text>					
					¿Esta seguro de eliminar la Información seleccionada?					
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="closeDialogoDel">Cancelar</v-btn>
					<v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>
		
	</v-container>	
</template>

<script>
	import planesadquisicionService from "../servicios/PlanesAdquisicionService";
	import unspscService from "../servicios/UnspscService"
	
	export default {

        name: 'Unspsc',
        props: ['planadquisicion','necesidad','descripcionnecesidad','enviovobo'],
		data (){

			return {
                modulo:'UNSPSC NECESIDADES',							
  				loading: false,  				
  				dialog:false,
  				edit:-1,
  				dialog_del:false,
  				processing:false,
				formTitle:'',
				valid:false,
				search: '',
                
                unspsctxt: '0',
				unspsctxtant: '0',
				unspsc:0,				
				itemactual:'',
				data: [],
				arrUnspsc:[],  						
  				headers: [
					{ text: 'Código',align: 'left',sortable: false,value: 'unspsc' },
  					{ text: 'Unspsc',align: 'left',sortable: false,value: 'unspsctxt' },						        
                    { text: 'Accion', value: 'action',sortable: false }
				],
				
				filtro:'',
				valfiltro:'',
				searchfiltro:'',
				arrfiltro:[
					{ text: 'Código',value: 'C' },
					{ text: 'Clase',value: 'L' },
					{ text: 'Familia',value: 'F' },
					{ text: 'Segmento',value: 'S' },
					{ text: 'Unspsc',value: 'U' },
				],
				headersbusqueda: [
					{ text: 'Código',align: 'left',sortable: false,value: 'codigo' },
  					{ text: 'Unspsc',align: 'left',sortable: false,value: 'nombre' },						        
                    { text: 'Seleccionar', value: 'action',sortable: false }
				],
				dataBusq:[],
				
				headersseleccionados: [
					{ text: 'Código',align: 'left',sortable: false,value: 'codigo' },
					{ text: 'Unspsc',align: 'left',sortable: false,value: 'nombre' },
					{ text: 'Accion',align: 'left',sortable: false,value: 'action' }
				],
				dataseleccionados:[],
  				rules: {
					required: value => !!value || 'Campo requerido.'					
		        }				
	        }
	    },

	    filters: {	  
            
		},

	    methods: {
            
            showMessage (snack, time, color, text) {

                this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

            },
			resetForm () {
                
                this.unspsctxt=''	
				this.unspsctxtant=''
				this.unspsc = 0
				
				this.filtro = ''
				this.valfiltro = ''
				this.searchfiltro = ''
				this.dataBusq = []
				this.dataseleccionados = []

			},
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

            },
            
		    traerData(){

		     	var _this = this
                this.loading = true

              	planesadquisicionService.getUnspscXNecesidad(this.planadquisicion,this.necesidad)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.data = res.data.data

                          }  else {
                            
                            _this.data = []
                          
                          }

                      } else {                        	

                      	_this.data = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.data = []   
              		_this.loading = false                
              		
				})

            },
            
            traerUnspsc(){

		     	var _this = this
                
                this.arrUnspsc = []
              	unspscService.getUnspsc()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.arrUnspsc = res.data.data

                          }

                      }               
                      
              	}).catch(function(err) {              
              		
				})

		    },

			traerDataXFiltro(){

				var _this = this
                
				this.dataBusq = []
				
				if(this.filtro == '' || this.valfiltro == ''){

					this.showMessage(true,4000,'error','Debe ingresar los datos de la búsqueda')
					return
				}

				var datafiltro = [{'tipo':this.filtro,'valor':this.valfiltro}]

              	unspscService.getDataXFiltro(datafiltro)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.dataBusq = res.data.data

                          }

                      }               
                      
              	}).catch(function(err) {              
              		
				})

			},

			closeDialogoDel () {
				  
				this.dialog_del = false
			},
			deleteItem() {
				
				var _this = this
				this.loading = true

                planesadquisicionService.delUnspsc(this.planadquisicion,this.necesidad,
                                                    this.itemactual.unspsc)
	              .then(function(res) {

	              	  if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó el Código UNSPSC con éxito')

                        _this.del_item = ''	              	  		
                        _this.traerData()
                        _this.closeDialogoDel()

                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ EL CODIGO UNSPSC. CODIGO:' + _this.itemactual.unspsc + 
											', NOMBRE:' + _this.itemactual.unspsctxt)

	              	  }else{	                                         	

	                  	_this.showMessage(true,3000,'error',res.message) 	                  	
	                  } 	                   
						_this.del_item = ''						
	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

			},

            /*validaGuardar(){				

                var codigounspsc = 0
				var nombreunspsco = ''

				if(typeof this.unspsc == 'object'){
					codigounspsc = this.unspsc.codigo
					nombreunspsco = this.unspsc.nombre

				} else {
					codigounspsc = this.unspsc
					nombreunspsco = this.itemactual.unspsctxt
                }
                
                if(codigounspsc == this.itemactual.unspsc){
                   
                    return 'No hay datos para actualizar'

                } else {

                    return ''

                }
			},*/
			
			saveitem(){

				if(this.dataseleccionados.length <= 0){

					this.showMessage(true,3000,'error','No ha seleccionado ningún Código')
                    return

				}
                //var valida = this.validaGuardar()
                var datbit = ''

                /*if(valida != ''){
                    this.showMessage(true,3000,'error',valida)
                    return
                }*/
				
				/*var codigounspsc = 0
				var nombreunspsco = ''

				if(typeof this.unspsc == 'object'){
					codigounspsc = this.unspsc.codigo
					nombreunspsco = this.unspsc.nombre

				} else {
					codigounspsc = this.unspsc
					nombreunspsco = this.itemactual.unspsctxt
				}*/

                /*if(this.edit){

                    if (this.itemactual.unspsc != this.unspsc)
                        datbit += 'Nombre: ' + this.itemactual.unspsctxt.toUpperCase() + ' a ' + nombreunspsco.toUpperCase()											

                    datbit = 'CODIGO: ' + this.codigo + ' (' + datbit + ')'

                } else {

					datbit += 'NOMBRE: ' + nombreunspsco.toUpperCase()

				}*/

				for (let index = 0; index < this.dataseleccionados.length; index++) {
					const element = this.dataseleccionados[index]

					if(datbit != '')
						datbit += ', ' + element.codigo
					else
						datbit += element.codigo
					
				}	

				datbit = 'Códigos (' + datbit + ')'

				var _this = this
                this.loading = true
                
                var data = this.dataseleccionados //{planadquisicion:this.planadquisicion,necesidad:this.necesidad,unspsc:codigounspsc};

                planesadquisicionService.addupdUnspsc(data)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
                            var accbitacora = ''
                            
	              	  		//if(_this.edit){
                            //    mensaje = 'Actualizó'
                            //    accbitacora = 'ACTUALIZACION'
                            //} else {
                                mensaje = 'Agregaron'
                                accbitacora = 'CREACION'
                            //}

	              	  		_this.showMessage(true,3000,'success','Se ' + mensaje + ' los Códigos UNSPSC con éxito')

	              	  		_this.del_item = ''
	              	  		_this.edit = -1	              	  		
	              	  		_this.traerData()
	              	  		_this.resetForm()
                            _this.dialog = false
                                
                            _this.agregaBitacora(accbitacora,datbit)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})
            },
			
			seleccionarItem(itemsel){

				//primero los seleccionados	
				for (let index = 0; index < this.dataseleccionados.length; index++) {
					const element = this.dataseleccionados[index]
					
					if(itemsel.codigo == element.codigo){
						
						this.showMessage(true,4000,'error','El Código Unspsc ya fué seleccionado')
						return
					}
				}
				
				//los que ya existen
				for (let index = 0; index < this.data.length; index++) {
					const element = this.data[index]
					
					if(itemsel.codigo == element.unspsc){
						
						this.showMessage(true,4000,'error','El Código Unspsc ya existe')
						return
					}
				}				

				this.dataseleccionados.push({planadquisicion:this.planadquisicion,necesidad:this.necesidad,
												codigo:itemsel.codigo, nombre:itemsel.nombre})

			},
			
			eliminarItem(itemsel){

				//primero los seleccionados	
				for (let index = 0; index < this.dataseleccionados.length; index++) {
					const element = this.dataseleccionados[index]
					
					if(itemsel.codigo == element.codigo){

						this.dataseleccionados.splice( index, 1 )						
						return
					}
				}

			},

            agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {
		    edit: function (val) {

		       if(val)
		       {
		       		this.formTitle = 'Editar'
                   
					this.unspsc = this.itemactual.unspsc								

		       } else{

		       		this.resetForm()
		       	    this.formTitle = 'Nuevo'
		       }
            },
            
            planadquisicion: function (val) {

                if(val!=0){   
                    
                    this.traerData()               

                }
            },

            necesidad: function (val) {

                if(val!=0){   
                    
                    this.traerData()               

                }
            },
		},
		mounted() {

            this.traerData()     
            this.traerUnspsc()       
            this.agregaBitacora('INGRESO','INGRESO AL MODULO')
		},	
	}
	
</script>

<style>
</style>