<template>
    <v-card
        flat
        tile
    >
        <v-card-text>
            <v-layout wrap>
            <v-flex sm4>
                <v-textarea
                    solo
                    name="input-7-4"
                    label="Descripción"
                    v-model="descripcion"
                    :rules="[rules.required]"
                ></v-textarea>
            </v-flex>
            <v-flex sm4>
                <v-textarea
                    solo
                    name="input-7-4"
                    label="Estrategía"
                    v-model="estrategia"
                    :rules="[rules.required]"
                ></v-textarea>
            </v-flex>    
            <v-flex sm4>
                <v-textarea
                    solo
                    name="input-7-4"
                    label="Indicador"
                    v-model="indicador"
                    :rules="[rules.required]"
                ></v-textarea>
            </v-flex>
            <v-flex sm4>
                <v-textarea
                    solo
                    name="input-7-4"
                    label="Unidad Medida"
                    v-model="unidadmedida"
                    :rules="[rules.required]"
                ></v-textarea>
            </v-flex>
            <v-flex sm4>
                <v-text-field v-model="metasectorial" type="number" label="Meta Sectorial"  
                                :rules="[rules.required, rules.valor]">
                </v-text-field>										
                <span>{{ metasectorial | currency({
                            symbol: '$',
                            thousandsSeparator: '.',
                            fractionCount: '0',
                            fractionSeparator: ',',
                            symbolPosition: 'front',
                            symbolSpacing: true
                        }) 
                    }}
                </span>
            </v-flex>
            <v-flex sm4>										
                <v-text-field v-model="metainstitucional" type="number" label="Meta Institucional"  
                                :rules="[rules.required, rules.valor]">
                </v-text-field>
                <span>{{ metainstitucional | currency({
                            symbol: '$',
                            thousandsSeparator: '.',
                            fractionCount: '0',
                            fractionSeparator: ',',
                            symbolPosition: 'front',
                            symbolSpacing: true
                        }) 
                    }}
                </span>
            </v-flex>														

            <v-flex sm4>
                <v-select
                    :items="arrCapitulos"
                    item-value="codigo"
                    item-text="descripcion"
                    v-model="capitulo"
                    label="Capitulo"
                    :rules="[rules.required]"
                    :return-object="true"											
                >									
                </v-select>
            </v-flex>
            <v-flex sm4>
                <v-select
                    :items="arrLineas"
                    item-value="codigo"
                    item-text="descripcion"
                    v-model="linea"
                    label="Línea estratégica"
                    :rules="[rules.required]"
                    :return-object="true"											
                >									
                </v-select>
            </v-flex>
            <v-flex sm4>
                <v-select
                    :items="arrObjetivos"
                    item-value="codigo"
                    item-text="descripcion"
                    v-model="objetivo"
                    label="Objetivo"
                    :rules="[rules.required]"
                    :return-object="true"											
                >									
                </v-select>
            </v-flex>
            <v-flex sm4>
                <v-select
                    :items="arrODS"
                    item-value="codigo"
                    item-text="descripcion"
                    v-model="ods"
                    label="ODS"
                    :rules="[rules.required]"
                    :return-object="true"											
                >									
                </v-select>
            </v-flex>
            <v-flex sm4>
                <v-select
                    :items="arrMetas"
                    item-value="codigo"
                    item-text="descripcion"
                    v-model="meta"
                    label="Metas"
                    :rules="[rules.required]"
                    :return-object="true"											
                >									
                </v-select>
            </v-flex>
            <v-flex sm4>
                <v-select
                    :items="arrProyectosPenia"
                    item-value="codigo"
                    item-text="descripcion"
                    v-model="proyectopenia"
                    label="Proyecto PENIA"
                    :rules="[rules.required]"
                    :return-object="true"											
                >									
                </v-select>
            </v-flex>
            <v-flex sm4>
                <v-select
                    :items="arrLIneasInvPenia"
                    item-value="codigo"
                    item-text="descripcion"
                    v-model="lineainvpenia"
                    label="Líneas Inv. PENIA"
                    :rules="[rules.required]"
                    :return-object="true"											
                >									
                </v-select>
            </v-flex>
            <v-flex sm4>
                <v-select
                    :items="arrAreasTem"
                    item-value="codigo"
                    item-text="descripcion"
                    v-model="areatematica"
                    label="Areas Teméticas"
                    :rules="[rules.required]"
                    :return-object="true"											
                >									
                </v-select>
            </v-flex>

            <v-flex sm4>
                <v-select
                    :items="arrProyectosPei"
                    item-value="codigo"
                    item-text="descripcion"
                    v-model="proyectopei"
                    label="Proyecto PEI"
                    :rules="[rules.required]"
                    :return-object="true"											
                >									
                </v-select>
            </v-flex>
            <v-flex sm4>
                <v-select
                    :items="arrLIneasInvPei"
                    item-value="codigo"
                    item-text="descripcion"
                    v-model="lineainvpei"
                    label="Líneas Inv. PEI"
                    :rules="[rules.required]"
                    :return-object="true"											
                >									
                </v-select>
            </v-flex>
            <v-flex sm4>														
            </v-flex>
            <v-flex sm4>														
            </v-flex>
            <v-flex>
                <v-textarea
                    solo
                    name="input-7-4"
                    label="Observación"
                    v-model="observacion"
                ></v-textarea>
            </v-flex>
        </v-layout>
        </v-card-text>
    </v-card>
</template>