<template>
	<v-container fluid>		
		 <v-flex>
			<div style="padding-bottom:10px"> 
				<v-btn fab dark small color="primary" @click="dialog = true, edit=0,itemactual=''" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div>		
			<v-card >
				<v-card-title class="justify-center">POAS</v-card-title>
				<v-card-text>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
				</v-card-text>
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" :disable-sort="true" :search="search">
						
						<template v-slot:item.metasectorial="{ item }">
							<span>{{ item.metasectorial |  currency({
									symbol: '$',
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>	

						<template v-slot:item.metainstitucional="{ item }">
							<span>{{ item.metainstitucional |  currency({
									symbol: '$',
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>	

						<template v-slot:item.action="{ item }">
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="dialog = true, edit=1, itemactual=item"
							>
								edit
							</v-icon>
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								:loading="loading && itemactual === item "
								@click="dialog_del=true, itemactual=item"
								>
								delete
							</v-icon>						
												
					  	</template>					              
		            </v-data-table>		            	
		          </v-layout>
			</v-card>
		 	
		</v-flex>

		<v-dialog v-model="dialog" max-width="700px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>	
							<v-form v-model="valid" ref="form">	
								<v-layout wrap>
									<v-flex sm6>
										<v-textarea											
											name="input-7-4"
											label="Descripción"
											v-model="descripcion"
											:rules="[rules.required]"
										></v-textarea>
									</v-flex>
									<v-flex sm6>
										<v-textarea										
											name="input-7-4"
											label="Estrategía"
											v-model="estrategia"
											:rules="[rules.required]"
										></v-textarea>
									</v-flex>    
									<v-flex sm6>
										<v-textarea											
											name="input-7-4"
											label="Indicador"
											v-model="indicador"
											:rules="[rules.required]"
										></v-textarea>
									</v-flex>
									<v-flex sm6>
										<v-textarea											
											name="input-7-4"
											label="Unidad Medida"
											v-model="unidadmedida"
											:rules="[rules.required]"
										></v-textarea>
									</v-flex>
									<v-flex sm6>
										<v-text-field v-model="metasectorial" type="number" label="Meta Sectorial"  
														:rules="[rules.required, rules.valor]">
										</v-text-field>										
										<span>{{ metasectorial | currency({
													symbol: '$',
													thousandsSeparator: '.',
													fractionCount: '0',
													fractionSeparator: ',',
													symbolPosition: 'front',
													symbolSpacing: true
												}) 
											}}
										</span>
									</v-flex>
									<v-flex sm6>										
										<v-text-field v-model="metainstitucional" type="number" label="Meta Institucional"  
														:rules="[rules.required, rules.valor]">
										</v-text-field>
										<span>{{ metainstitucional | currency({
													symbol: '$',
													thousandsSeparator: '.',
													fractionCount: '0',
													fractionSeparator: ',',
													symbolPosition: 'front',
													symbolSpacing: true
												}) 
											}}
										</span>
									</v-flex>
									<v-flex>
										<v-textarea											
											name="input-7-4"
											label="Observación"
											v-model="observacion"
										></v-textarea>
									</v-flex>
								</v-layout>									
							</v-form>									
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

        <v-dialog v-model="dialog_del" width="250">

          	<v-card>

				<v-card-title>
					<span class="headline red--text">Eliminar POA</span>
				</v-card-title>
  
				<v-card-text>					
					¿Esta seguro de eliminar el POA seleccionado?					
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="closeDialogoDel">Cancelar</v-btn>
					<v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>
	</v-container>
</template>

<script>
	import PoaService from "../servicios/PoasService";
    
	export default {

		data (){

			return {		
				modulo:'POAS',					
  				loading: false,  				
  				dialog:false,
  				edit:-1,
  				dialog_del:false,				
  				processing:false,
				formTitle:'',
				valid:false,
				search:'',
  				codigo:'0',
				descripcion:'',
				estrategia:'',
                indicador:'',
                unidadmedida:'',
                metasectorial:'',
                metainstitucional:'',	
                observacion:'',
				itemactual:'',
				data: [], 				
  				headers: [
  					{
			          text: 'Descripción',
			          align: 'left',
			          sortable: false,
			          value: 'descripcion',
                    },                    
                    { text: 'Estrategía', value: 'estrategia',sortable: false,align: 'left'},                    
                    { text: 'Indicador', value: 'indicador',sortable: false,align: 'left'},
                    { text: 'Unidad Medida', value: 'unidadmedida',sortable: false,align: 'left'},
                    { text: 'Meta Sectorial', value: 'metasectorial',sortable: false,align: 'left'},
                    { text: 'Meta Institucional', value: 'metainstitucional',sortable: false,align: 'left'},
                    { text: 'Observación', value: 'observacion',sortable: false,align: 'left'},
                    { text: 'Accion', value: 'action',sortable: false}		        
  				],
  				
  				rules: {
					required: value => !!value || 'Campo requerido.',
					valor: value => value>0 || 'El Valor debe ser mayor a 0.'
		          }				
	        }
	    },

	    filters: {
		},

	    methods: {
			
			showMessage (snack, time, color, text) {

			      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

		     },		     
			resetForm () {

				this.codigo='0'
				this.descripcion=''
				this.estrategia=''
                this.indicador=''
                this.unidadmedida=''
                this.metasectorial=0
                this.metainstitucional=0	
                this.observacion=''							
			},
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

            },

            traerDataPrincipal(){

		     	var _this = this
                this.loading = true

              	PoaService.getData()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.data = res.data.data

                          }  else {
                            
                            _this.data = []
                          
                          }

                      } else {                        	

                      	_this.data = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.data = []   
              		_this.loading = false                
              		
				})

            },             
		    
			closeDialogoDel () {
				  
				this.dialog_del = false
			},

			deleteItem() {
				
				var _this = this
				this.loading = true

				PoaService.DelData(_this.itemactual.codigo)
	              .then(function(res) {

	              	  if(res.statusText){

	              	  		_this.showMessage(true,3000,'success','Se eliminó el POA con éxito')

	              	  		_this.del_item = ''	              	  		
	              	  		_this.traerDataPrincipal()
							_this.closeDialogoDel()
								
							_this.agregaBitacora('ELIMINACION','SE ELIMINÓ EL POA CON CODIGO:' + _this.itemactual.codigo + 
													', DESCRIPCION:' + _this.itemactual.descripcion)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  } 	                   
						_this.del_item = ''						
	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

			},

			validaSave(){
                
                if(this.itemactual.descripcion == this.descripcion && this.itemactual.indicador == this.indicador && 
                    this.itemactual.unidadmedida == this.unidadmedida && this.itemactual.metasectorial == this.metasectorial &&
					this.itemactual.metainstitucional == this.metainstitucional && this.itemactual.observacion == this.observacion && 
					this.itemactual.estrategia == this.estrategia){

					return false

				} else {

					return true

				}	
			},
			saveitem(){

				var _this = this
                this.loading = true

				var datbit = ''
				
                var data = {codigo:this.codigo,descripcion:this.descripcion,indicador:this.indicador,unidadmedida:this.unidadmedida,
							metasectorial:this.metasectorial,metainstitucional:this.metainstitucional,observacion:this.observacion,
							estrategia:this.estrategia}

				if(this.edit){

					var valida = this.validaSave()

					if(!valida){

						this.showMessage(true,3000,'error','No hay datos para actualizar')
						this.loading = false
						return;
					}

					datbit = ''

					if (this.itemactual.descripcion != this.descripcion)
                        datbit += 'Descripción: ' + this.itemactual.descripcion.toUpperCase() + ' a ' + this.descripcion.toUpperCase()
                        
                    if (this.itemactual.indicador != this.indicador)
						datbit += datbit == '' ? 'Indicador: ' + this.itemactual.indicador + ' a ' + this.indicador : 
									', Indicador: ' + this.itemactual.indicador + ' a ' + this.indicador   

					if (this.itemactual.unidadmedida != this.unidadmedida) {
						datbit += datbit == '' ? 'Unidad Medida: ' + this.itemactual.unidadmedida + ' a ' + this.unidadmedida : 
									', Unidad Medida: ' + this.itemactual.unidadmedida + ' a ' + this.unidadmedida 
                    }
                    
                    if (this.itemactual.metasectorial != this.metasectorial) {
						datbit += datbit == '' ? 'Meta Sectorial: ' + this.itemactual.metasectorial + ' a ' + this.metasectorial : 
									', Meta Sectorial: ' + this.itemactual.metasectorial + ' a ' + this.metasectorial 
					}
                    
                    if (this.itemactual.metainstitucional != this.metainstitucional) {
						datbit += datbit == '' ? 'Meta Institucional: ' + this.itemactual.metainstitucional + ' a ' + this.metainstitucional : 
									', Meta Institucional: ' + this.itemactual.metainstitucional + ' a ' + this.metainstitucional 
                    }
                    
                    if (this.itemactual.observacion != this.observacion) {
						datbit += datbit == '' ? 'Observación: ' + this.itemactual.observacion + ' a ' + this.observacion : 
									', Observación: ' + this.itemactual.observacion + ' a ' + this.observacion 
                    }

					datbit = 'CODIGO: ' + this.codigo + ' (' + datbit + ')'

				} else {

                    datbit += 'DESCRIPCION: ' + this.descripcion.toUpperCase() + ', Indicador: ' + this.indicador + 
                                ', UNIDAD MEDIDA: ' + this.unidadmedida + ', META SECTORIAL: ' + this.metasectorial +
                                ', META INSTITUCIONAL: ' + this.metainstitucional + ', OBSERVACION: ' + this.observacion 

				}				

                PoaService.guardarData(data)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		if(_this.edit){
								mensaje = 'Actualizó'
								accbitacora = 'ACTUALIZACION'
							} else {
								mensaje = 'Agregó'
								accbitacora = 'CREACION'
							}

	              	  		_this.showMessage(true,3000,'success','Se ' + mensaje + ' el POA con éxito')

	              	  		_this.del_item = ''
	              	  		_this.edit = -1	              	  		
	              	  		_this.traerDataPrincipal()
	              	  		_this.resetForm()
							_this.dialog = false								
							
							_this.agregaBitacora(accbitacora,datbit)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})
			},			

			agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {
		    edit: function (val) {

		       if(val)
		       {
		       		this.formTitle = 'Editar'

		       		this.codigo = this.itemactual.codigo
		       		this.descripcion = this.itemactual.descripcion
					this.estrategia = this.itemactual.estrategia
                    this.indicador = this.itemactual.indicador
                    this.unidadmedida = this.itemactual.unidadmedida
                    this.metasectorial = this.itemactual.metasectorial
                    this.metainstitucional = this.itemactual.metainstitucional
                    this.observacion = this.itemactual.observacion			 				

		       } else{

		       		this.resetForm()
		       	    this.formTitle = 'Nuevo'
		       }
		    }
		},
		mounted() {

			this.traerDataPrincipal()
			this.agregaBitacora('INGRESO','INGRESO AL MODULO')
		},	
	}
	
</script>

<style>
</style>