<template>
	<v-container fluid>		
		 <v-flex>
			<div style="padding-bottom:10px"> 
				<v-btn fab dark small color="primary" @click="dialog = true, edit=0,itemactual=''" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div>		
			<v-card >
				<v-card-title class="justify-center">PRESUPUESTOS</v-card-title>
				<v-card-text>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
				</v-card-text>
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" 
						:disable-sort="true" :search="search">
						<template v-slot:item.action="{ item }">
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="dialog = true, edit=1, itemactual=item"
							>
								edit
							</v-icon>		
					  	</template>					              
		            </v-data-table>		            	
		          </v-layout>
			</v-card>
		</v-flex>

		<v-dialog v-model="dialog" persistent scrollable max-width="1200px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>	
							<v-form v-model="valid" ref="form">	
								<v-layout wrap>
									<v-flex sm12>
                                        <v-btn class="ma-2" color="primary" 
                                            text                                            
                                            @click="dialog_addconvenio = true"
                                        >
                                            Seleccionar Acuerdo
                                            <v-icon
                                                dark 
                                                right																														
                                            >
                                                send
                                            </v-icon>
                                        </v-btn>
                                        <div style="width:96%;text-align: center;padding-left: 10px;">																
                                            <v-data-table :headers="headerconveniogen" :items="arrConveniosGen" 
                                                :disable-sort="true" :disable-pagination="true" 
                                                :hide-default-footer="true"
                                            >

                                                <template v-slot:item.fechasuscripcion="{ item }">
                                                    <span>{{ item.fechasuscripcion | anoSuscripcion }}
                                                    </span>
                                                </template>	

                                                <template v-slot:item.tasa="{ item }">
                                                    <span>{{ item.tasa |  currency({
                                                            symbol: '$',
                                                            thousandsSeparator: '.',
                                                            fractionCount: '0',
                                                            fractionSeparator: ',',
                                                            symbolPosition: 'front',
                                                            symbolSpacing: true
                                                        })}}
                                                    </span>
                                                </template>

                                                <template v-slot:item.valortotal="{ item }">
                                                    <span>{{ item.valortotal |  currency({
                                                            symbol: item.moneda,
                                                            thousandsSeparator: '.',
                                                            fractionCount: '0',
                                                            fractionSeparator: ',',
                                                            symbolPosition: 'front',
                                                            symbolSpacing: true
                                                        })}}
                                                    </span>
                                                </template>
                                            </v-data-table>
                                        </div>										
									</v-flex>
									<v-flex sm12>
										 <v-radio-group v-model="fuefinancia" label="Fuente Financiación"
										 	:mandatory="false"
											:rules="[rules.required]"
										>
											<v-radio color="primary" label="Presupuesto general de la Nación" value="fuefinanciacionpgn"></v-radio>
											<v-radio color="primary" label="Sistema General de Regalías" value="fuefinanciacionsgr"></v-radio>
											<v-radio color="primary" label="Cofinanciado" value="fuefinanciacioncof"></v-radio>
											<v-radio color="primary" label="Funcionamiento" value="fuefinanciacionfun"></v-radio>
										</v-radio-group>

									</v-flex>    
									<v-flex sm6>
										<v-select
											:items="topeactividadesSel"
											v-model="topeactividades"
											label="Tope de Actividades?"
											item-value="value"
											item-text="text"
											:return-object="true"
										>									
										</v-select>		
									</v-flex>
									<v-flex sm6>
										<v-select
											:items="tipotopecatgastoSel"
											v-model="tipotopecatgasto"
											label="Tipo Tope Categoría del Gasto"
											item-value="value"
											item-text="text"
											:return-object="true"
											:clearable="true"
										>									
										</v-select>		
									</v-flex>

									<v-flex sm12>
										<div style="padding-bottom:10px"> 
											<v-btn fab dark small color="primary" @click="dialog_addupdcategoria = true, edit_catgasto=0,itemactualcatgasto=''" >
												<v-icon dark>add</v-icon>				
											</v-btn>
										</div>		
										<v-card >
											<v-card-title class="justify-center">CATEGORÍA DEL GASTO</v-card-title>
											<v-card-text>
												<v-text-field
													v-model="searchcategoria"
													append-icon="search"
													label="Buscar"
													single-line
													hide-details
												></v-text-field>
											</v-card-text>											
											<v-data-table :headers="headerscategoria" :items="datacategoria" :items-per-page="5" 
												:disable-sort="true" :search="searchcategoria">
												<template v-slot:item.action="{ item }">
													<v-icon
														small
														class="mr-5"
														color="primary" 
														:disabled="loading"
														@click="dialog_addupdcategoria = true, edit_catgasto=1, itemactualcatgasto=item"
													>
														edit
													</v-icon>

													<v-icon
														small
														class="mr-5"
														color="primary"
														@click="dialog_categorias_del=true, itemactualcatgasto=item"
													>
														delete
													</v-icon>		
												</template>

												<template v-slot:item.topemaximo="{ item }">
													<span>{{ formatoTopeCategoria(item.topemaximo) }}
													</span>
												</template>

											</v-data-table>
										</v-card>		
									</v-flex>										
								</v-layout>									
							</v-form>									
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

        <!--<v-dialog v-model="dialog_addconvenio" width="1200">
			<v-card>
				<v-card-text>	
					<v-text-field
						v-model="searchcongenadd"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
					<v-data-table :headers="headerconveniogenAdd" :items="arrConveniosGenAll" :items-per-page="5" :disable-sort="true" :search="searchcongenadd">
						
						<template v-slot:item.fechasuscripcion="{ item }">
							<span>{{ item.fechasuscripcion | anoSuscripcion }}
							</span>
						</template>	

						<template v-slot:item.tasa="{ item }">
							<span>{{ item.tasa |  currency({
									symbol: '$',
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>

						<template v-slot:item.valortotal="{ item }">
							<span>{{ item.valortotal |  currency({
									symbol: item.moneda,
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>		

			           	<template v-slot:item.action="{ item }">
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="seleccionarConvenioGen(item.codigo)"								
							>
								send
							</v-icon>												
												
					  	</template>	

		            </v-data-table>	
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="dialog_addconvenio=false">Cancelar</v-btn>				
				</v-card-actions>
			</v-card>			
        </v-dialog>-->

        <v-dialog v-model="dialog_addconvenio" width="1200">
			<v-card>
				<v-card-text>	
					<v-text-field
						v-model="searchcongenadd"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
					<v-data-table :headers="headerconveniogenAdd" :items="arrConveniosGenAll" 
						:items-per-page="5" 
						:disable-sort="true" 
						:search="searchcongenadd">
						
						<template v-slot:item.fechasuscripcion="{ item }">
							<span>{{ item.fechasuscripcion | anoSuscripcion }}
							</span>
						</template>	

						<template v-slot:item.tasa="{ item }">
							<span>{{ item.tasa |  currency({
									symbol: '$',
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>

						<template v-slot:item.valortotal="{ item }">
							<span>{{ item.valortotal |  currency({
									symbol: item.moneda,
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>		

			           	<template v-slot:item.action="{ item }">
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="seleccionarConvenioGen(item.codigo)"								
							>
								send
							</v-icon>												
												
					  	</template>	

		            </v-data-table>	
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="dialog_addconvenio=false">Cancelar</v-btn>				
				</v-card-actions>
			</v-card>			
        </v-dialog>

		<!--- CATEGORIAS DEL GASTO ----------------->

		<v-dialog v-model="dialog_addupdcategoria" persistent max-width="700px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitleCategoria }}</span>					
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>		
							<v-form v-model="valid_categoria" ref="form2">								
								<v-flex>
									<v-text-field v-model="nombrecategoriagasto" 
										label="Categoría del Gasto" 										
										:readonly="edit_catgasto != 0"										
									>
									</v-text-field>
									<!--<v-select
										:items="arrCategoriasGasto"
										item-value="codigo"
										item-text="nombre"
										v-model="categoriagasto"
										:return-object="true"  
										label="Categoría del Gasto" 	
										:readonly="edit_catgasto != 0"		
										:rules="[rules.required]"							                    										
									>									
									</v-select>-->
								</v-flex>
								<v-flex>
									<v-text-field v-model="topemaximocategoria" label="Tope Máximo" 										
										:readonly="readonlytope"
										:suffix="sufijoCatGasto"
										:prefix="prefijocatGasto"
										@blur="formatearValor(topemaximocategoria)"
									>
									</v-text-field>
								</v-flex>									
							</v-form>				
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogoCategoria">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitemcategoria" :disabled="!valid_categoria">{{ titulobtnuardaritem }}</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

        <v-dialog v-model="dialog_categorias_del" max-width="600px">

          	<v-card>

				<v-card-title>
					<span class="headline red--text">Eliminar Categoría del Gasto</span>
				</v-card-title>
  
				<v-card-text>					
					¿Esta seguro de eliminar la Categoría del Gasto del Presupuesto seleccionada?					
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="closeDialogoDelCategoria">Cancelar</v-btn>
					<v-btn color="red" text @click="deleteItemcategoria" >Eliminar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

	</v-container>
</template>

<script>
	import PresupuestoService from "../servicios/PresupuestosService"
	import conveniosService from "../servicios/ConveniosService"
	import categoriagastoService from "../servicios/CategoriasGastoService"
import presupuestosService from '../servicios/PresupuestosService'

	export default {

		data (){

			return {		
				modulo:'PRESUPUESTOS',					
  				loading: false,  				
  				dialog:false,
  				edit:-1,  							
  				processing:false,
				formTitle:'',				
                search:'',
				valid:false,
				
  				codigo:0,
				convenio:0,
				fuefinanciacionpgn:'',
				fuefinanciacionsgr:'',
                fuefinanciacioncof:'',
                fuefinanciacionfun:'',
                topeactividades:'',
				tipotopecatgasto:'',
				valortotalconvenio:0,
				
				fuefinancia:'',

				moneda:'',

				topeactividadesSel:[
					{text:'NO',value:0},
					{text:'SI',value:1}
				],

				tipotopecatgastoSel:[
					{text:'DINERO',value:'M'},
					{text:'PORCENTAJE',value:'P'}
				],
				
				itemactual:'',
                data: [], 	
                
                arrConveniosGenAll:[],
                arrConveniosGen:[],    
				
				dialog_addconvenio:false,
				searchcongenadd:'',

				titulobtnuardaritem:'',

                headerconveniogen: [

					{ text: 'No. Convenio',align: 'left',sortable: false,value: 'numero'},					
					{ text: 'Año Suscripc.', value: 'fechasuscripcion',sortable: false,align: 'left'},					
					{ text: 'Estado', value: 'descripcionestado',sortable: false,align: 'left'},         
                    { text: 'Valor Total', value: 'valortotal',sortable: false,align: 'left'},                    
					{ text: 'Responsable', value: 'nombrecoordinador',sortable: false,align: 'left'},					
					{ text: 'Fecha Term. Ejecuc.', value: 'fechaterejecucion',sortable: false,align: 'left'},					
					{ text: 'Tasa', value: 'tasa',sortable: false,align: 'left'}

				],

				headerconveniogenAdd: [

					{ text: 'No. Convenio',align: 'left',sortable: false,value: 'numero'},					
					{ text: 'Año Suscripc.', value: 'fechasuscripcion',sortable: false,align: 'left'},					
					{ text: 'Estado', value: 'descripcionestado',sortable: false,align: 'left'},         
                    { text: 'Valor Total', value: 'valortotal',sortable: false,align: 'left'},                    
					{ text: 'Responsable', value: 'nombrecoordinador',sortable: false,align: 'left'},					
					{ text: 'Fecha Term. Ejecuc.', value: 'fechaterejecucion',sortable: false,align: 'left'},					
					{ text: 'Tasa', value: 'tasa',sortable: false,align: 'left'},
					{ text: 'Seleccionar', value: 'action',sortable: false}

                ],
                
  				headers: [
  					{
			          text: 'No. Convenio',
			          align: 'left',
			          sortable: false,
			          value: 'convenio',
                    },                    
                    { text: 'Nombre Convenio', value: 'nombre',sortable: false,align: 'left'},                    
					{ text: 'Fecha Creac.', value: 'fecha',sortable: false,align: 'left'},
					{ text: 'FUE. FINAN. PGN', value: 'txtfuefinpgn',sortable: false,align: 'left'},
                    { text: 'FUE. FINAN. SGR', value: 'txtfuefinsgr',sortable: false,align: 'left'},
                    { text: 'FUE. FINAN. Cofinanciado', value: 'txtfuefincof',sortable: false,align: 'left'},
                    { text: 'FUE. FINAN. Funcionamiento', value: 'txtfuefinfun',sortable: false,align: 'left'},
                    { text: 'Tope Activ.', value: 'txttopeactividad',sortable: false,align: 'left'},
                    { text: 'Tipo Tope Cat. Gasto', value: 'txttiptopcatgas',sortable: false,align: 'left'},
                                       
                    { text: 'Accion', value: 'action',sortable: false}		        
  				],
				  
				dialog_categoriagasto:false,
				edit_catgasto:-1,
				itemactualcatgasto:'',
				searchcategoria:'',
				datacategoria:[],

				dialog_categorias_del:false,
				dialog_addupdcategoria:false,
				valid_categoria:false,

				categoriagasto:'',
				nombrecategoriagasto:'',
				topemaximocategoria:'0',
				readonlytope:false,
				formTitleCategoria:'',

				arrCategoriasGasto:[],

				sufijoCatGasto:'',
				prefijocatGasto:'',

				headerscategoria: [
					{ text: 'Código', value: 'codigo',sortable: false,align: 'left'},
					{ text: 'Categoría', value: 'nombre',sortable: false,align: 'left'},
                    { text: 'Tope Máximo', value: 'topemaximo',sortable: false,align: 'left'},                    
					{ text: 'Accion', value: 'action',sortable: false}					
				],

				numeroconvenio : '',
				nombreconvenio : '',
				coordinador : '',

  				rules: {
					required: value => !!value || 'Campo requerido.',
					valor: value => value>0 || 'El Valor debe ser mayor a 0.'					
		          }				
	        }
	    },

	    filters: {

			anoSuscripcion: function (value) {
				if (!value) return ''
				value = value.substring(0, 4)
				return value
			},			

		},

	    methods: {
			
			showMessage (snack, time, color, text) {

			      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

			},
			
			envioNotificaciones(values){ // mensajenotificacion,asuntocorreo, mensajecorreo){

				//se envia notificacion al coordinador
				var codigopersona = 0
				var codigoopcion = 45 //presupuestos
				var numerointerno = this.numeroconvenio				

				if(this.coordinador != '' && this.coordinador != '0')
					codigopersona = this.coordinador
				
				this.$root.$emit('enviarNotificaciones', {codigopersona: codigopersona, mensajenotificacion: values.mensajenotificacion, 
														asuntocorreo: values.asuntocorreo, mensajecorreo: values.mensajecorreo,
														codigoopcion:codigoopcion,numerointerno:numerointerno})				
			},	

			formatoTopeCategoria: function (value) {

				if (!value) return ''

				let prefijo = ''
				let sufijo = ''

				let tipotopecatgastocoddigo = ''
				
				if(typeof this.tipotopecatgasto == 'object'){
					tipotopecatgastocoddigo = this.tipotopecatgasto.value

				} else {
					tipotopecatgastocoddigo = this.tipotopecatgasto					
				}

				if(tipotopecatgastocoddigo == 'M'){

					prefijo = this.moneda + ' '

				} else if(tipotopecatgastocoddigo == 'P'){

					sufijo = ' % '

				}

				value = prefijo + this.number_format(value) + sufijo
				return value

			},		

			resetForm () {
                
                this.codigo = 0
				this.convenio = 0
				this.fuefinanciacionpgn = ''
				this.fuefinanciacionsgr = ''
                this.fuefinanciacioncof = ''
                this.fuefinanciacionfun = ''
                this.topeactividades = ''
				this.tipotopecatgasto = ''

				this.fuefinancia = ''
				this.arrConveniosGen = []

				this.moneda = ''
				this.valortotalconvenio = ''
				
			},
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

            },

            traerDataPrincipal(){

		     	var _this = this
                this.loading = true

              	PresupuestoService.getData()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.data = res.data.data

                          }  else {
                            
                            _this.data = []
                          
                          }

                      } else {                        	

                      	_this.data = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.data = []   
              		_this.loading = false                
              		
				})

            },

			validaSave(){
				
				var topeactividadescodigo = 0
				var tipotopecatgastocoddigo = 0
				
				if(typeof this.topeactividades == 'object'){
					topeactividadescodigo = this.topeactividades.value

				} else {
					topeactividadescodigo = this.topeactividades					
				}

				if(typeof this.tipotopecatgasto == 'object'){
					tipotopecatgastocoddigo = this.tipotopecatgasto.value

				} else {
					tipotopecatgastocoddigo = this.tipotopecatgasto					
				}

                if(this.itemactual.convenio == this.convenio && this.itemactual.fuefinanciacionpgn == this.fuefinanciacionpgn && 
                    this.itemactual.fuefinanciacionsgr == this.fuefinanciacionsgr && this.itemactual.fuefinanciacioncof == this.fuefinanciacioncof &&
					this.itemactual.fuefinanciacionfun == this.fuefinanciacionfun && this.itemactual.topeactividades == topeactividadescodigo && 
                    this.itemactual.tipotopecatgasto == tipotopecatgastocoddigo){

					//return false

				} else {

					//return true

				}	

				return true
			},

			saveitem(){
				
				if(this.convenio == '' || this.convenio == '0'){

					this.showMessage(true,3000,'error','No ha seleccionado el Convenio')					
					return

				} else if (this.fuefinancia == ''){

					this.showMessage(true,3000,'error','Debe seleccionar la Fuente de Financiación')					
					return

				}				

				var _this = this
                this.loading = true

				var datbit = ''
				
				var codigotopeactividades = 0
				var nombretopeactividades = ''
				var codigotipotopecatgasto = 0
				var nombretipotopecatgasto = ''

				var nombreactualtopactividades = ''
				var nomreactualtipcatgas = ''				
				
				if(typeof this.topeactividades == 'object'){
					codigotopeactividades = this.topeactividades.value
					nombretopeactividades = this.topeactividades.text

				} else {
					codigotopeactividades = this.topeactividades
					nombretopeactividades = this.topeactividades == '1' ? 'SI' : 'NO'
				}

				if(this.tipotopecatgasto == undefined){

					codigotipotopecatgasto = 'N'
					nombretipotopecatgasto = 'NINGUNO'
				} else { 
					if(typeof this.tipotopecatgasto == 'object'){
						codigotipotopecatgasto = this.tipotopecatgasto.value
						nombretipotopecatgasto = this.tipotopecatgasto.text

					} else {
						codigotipotopecatgasto = this.tipotopecatgasto	
						nombretipotopecatgasto = this.tipotopecatgasto == 'M' ? 'DINERO' : (this.tipotopecatgasto == 'P' ? 'PORCENTAJE' : 'NINGUNO')				
					}				
				}				

				nombreactualtopactividades = this.itemactual.topeactividades == '1' ? 'SI' : 'NO'
				nomreactualtipcatgas = this.tipotopecatgasto == 'M' ? 'DINERO' : (this.tipotopecatgasto == 'P' ? 'PORCENTAJE' : 'NINGUNO')

				var fuefinpgn = '0'
				var fuefinsgr = '0'
				var fuefincof = '0'
				var fuefinfun = '0'

				switch (this.fuefinancia) {
					case 'fuefinanciacionpgn':

						fuefinpgn = '1'						
						break

					case 'fuefinanciacionsgr':

						fuefinsgr = '1'						
						break

					case 'fuefinanciacioncof':

						fuefincof = '1'						
						break

					case 'fuefinanciacionfun':

						fuefinfun = '1'						
						break

					default:
						break
				}
				
				var data = {codigo:this.codigo,convenio:this.convenio,fuefinanciacionpgn:fuefinpgn,
							fuefinanciacionsgr:fuefinsgr,fuefinanciacioncof:fuefincof,
							fuefinanciacionfun:fuefinfun,topeactividades:codigotopeactividades,
							tipotopecatgasto:codigotipotopecatgasto}

				if(this.edit){

					var valida = this.validaSave()

					if(!valida){

						this.showMessage(true,3000,'error','No hay datos para actualizar')
						this.loading = false
						return
					}

					datbit = ''

					if (this.itemactual.convenio != this.convenio)
						datbit += 'Convenio: ' + this.itemactual.numero + ' - ' + 
									this.itemactual.nombre + ' a ' + this.arrConveniosGen[0].numero + 
									' - ' + this.arrConveniosGen[0].nombre
                        
                    if (this.itemactual.fuefinanciacionpgn != fuefinpgn)
						datbit += datbit == '' ? 'Fuen. Financ. PGN: ' + this.itemactual.fuefinanciacionpgn + ' a ' + this.fuefinanciacionpgn : 
									', Fuen. Financ. PGN: ' + this.itemactual.fuefinanciacionpgn + ' a ' + this.fuefinanciacionpgn   

					if (this.itemactual.fuefinanciacionsgr != fuefinsgr) {
						datbit += datbit == '' ? 'Fuen. Financ. SGR: ' + this.itemactual.fuefinanciacionsgr + ' a ' + this.fuefinanciacionsgr : 
									', Fuen. Financ. SGR: ' + this.itemactual.fuefinanciacionsgr + ' a ' + this.fuefinanciacionsgr 
                    }
                    
                    if (this.itemactual.fuefinanciacioncof != fuefincof) {
						datbit += datbit == '' ? 'Fuen. Financ. Cofinanciado: ' + this.itemactual.fuefinanciacioncof + ' a ' + this.fuefinanciacioncof : 
									', Fuen. Financ. Cofinanciado: ' + this.itemactual.fuefinanciacioncof + ' a ' + this.fuefinanciacioncof 
					}

					if (this.itemactual.fuefinanciacionfun != fuefinfun) {
						datbit += datbit == '' ? 'Fuen. Financ. Funcionamiento: ' + this.itemactual.fuefinanciacionfun + ' a ' + this.fuefinanciacionfun : 
									', Fuen. Financ. Funcionamiento: ' + this.itemactual.fuefinanciacionfun + ' a ' + this.fuefinanciacionfun 
					}
                    
                    if (this.itemactual.topeactividades != codigotopeactividades) {
						datbit += datbit == '' ? 'Tope de Actividades: ' + nombreactualtopactividades + ' a ' + nombretopeactividades : 
									', Tope de Actividades: ' + nombreactualtopactividades + ' a ' + nombretopeactividades 
                    }

					if (this.itemactual.tipotopecatgasto != codigotipotopecatgasto) {
						datbit += datbit == '' ? 'Tipo Categoría del Gasto: ' + nomreactualtipcatgas + ' a ' + nombretipotopecatgasto : 
									', Tipo Categoría del Gasto: ' + nomreactualtipcatgas + ' a ' + nombretipotopecatgasto 
					}

					datbit = 'CODIGO: ' + this.codigo + ' (' + datbit + ')'

				} else {

                    datbit += 'CONVENIO NO.: ' + this.arrConveniosGen[0].numero + ', NOMBRE: ' + this.arrConveniosGen[0].nombre

				}				

                PresupuestoService.guardarData(data, _this.datacategoria)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		if(_this.edit){
								mensaje = 'Actualizó'
								accbitacora = 'ACTUALIZACION'
							} else {
								mensaje = 'Agregó'
								accbitacora = 'CREACION'
							}

	              	  		_this.showMessage(true,3000,'success','Se ' + mensaje + ' el Presupuesto con éxito')
							
							if(_this.edit == 0){
								var mensajecorreo = "Cordial Saludo,<br><br> " +
													"Se creó el Presupuesto para el Acuerdo Específico # : " + 
													_this.numeroconvenio + ", Nombre: " + _this.nombreconvenio + 
													"<br><br>Ya se puede crear el Proyecto." + 
													"<br><br>Agradeciendo su atención,<br><br> " +                        
													"<b>SINCHI</b><br><br> " +
													"<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
													"correo electrónico, no lo responda.</i> <br>"

								_this.envioNotificaciones({mensajenotificacion:'Se creó el Presupuesto para el Acuerdo Específico # : ' + 
															_this.numeroconvenio + ', Nombre: ' + _this.nombreconvenio + 
													       '. Ya se puede crear el Proyecto.',  
														   asuntocorreo: 'Creación o Modificación de Presupuesto para un Acuerdo Específico',
														   mensajecorreo:mensajecorreo})
							}	

							_this.edit = -1	              	  		
							_this.traerDataPrincipal()
	              	  		_this.resetForm()
							//_this.dialog = false								
							
							_this.agregaBitacora(accbitacora,datbit)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})
			},			

            seleccionarConvenioGen(codigo){

				this.convenio=codigo
				this.traeConvenioGen()
				this.dialog_addconvenio = false
            },	
            
            traeConvenioGen(){

		     	var _this = this                
				
				this.arrConveniosGen = []

				this.numeroconvenio = ''
				this.nombreconvenio = ''
				this.coordinador = ''

              	conveniosService.getDataXId(this.convenio)
                  .then(function(res) {

                      if (res.request) {
						  
                          if(res.data){
							 
							_this.arrConveniosGen = res.data.data

							_this.numeroconvenio = _this.arrConveniosGen[0].numero
							_this.nombreconvenio = _this.arrConveniosGen[0].nombre
							_this.coordinador = _this.arrConveniosGen[0].codigocoordinador

                          }

                      }
                      
              	}).catch(function(err) {              
              		
				})

            },
            
            traeConvenioAll(){

		     	var _this = this                
				
				this.arrConveniosGenAll = []

              	conveniosService.getData()
                  .then(function(res) {

                      if (res.request) {						  

                          if(res.data){
							 
							_this.arrConveniosGenAll = res.data.data					

                          }

                      }
                      
              	}).catch(function(err) {              
              		
				})

            },
			
			traeCatGasXPresupuesto(){

		     	var _this = this
				
				_this.datacategoria = []

              	PresupuestoService.getCatGasXPresupuesto(this.codigo)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.datacategoria = res.data.data

                          }
                      }               
                      
              	}).catch(function(err) {            
              		
				})

            },

			number_format(amount, decimals) {

				amount += ''; // por si pasan un numero en vez de un string
				amount = parseFloat(amount.replace(/[^0-9\.]/g, '')) // elimino cualquier cosa que no sea numero o punto

				decimals = decimals || 0 // por si la variable no fue fue pasada

				// si no es un numero o es igual a cero retorno el mismo cero
				if (isNaN(amount) || amount === 0) 
					return parseFloat(0).toFixed(decimals)

				// si es mayor o menor que cero retorno el valor formateado como numero
				amount = '' + amount.toFixed(decimals)

				var amount_parts = amount.split('.'),
					regexp = /(\d+)(\d{3})/

				while (regexp.test(amount_parts[0]))
					amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2')

				return amount_parts.join(',')
			},

			closeDialogoDelCategoria(){

				this.dialog_categorias_del = false
			},

			async deleteItemcategoria(){

				var codigocategoria = ''
				var indice = '';

				for (let index = 0; index < this.datacategoria.length; index++) {
					const element = this.datacategoria[index]

					if(element.codigo == this.itemactualcatgasto.codigo){

						codigocategoria = element.codigo
						indice = index

						if(codigocategoria==0)
							this.datacategoria.splice( index, 1 )

						break

					}					
				}				

				if(codigocategoria != 0) {

					try {
						
						let elimina = await presupuestosService.delCategoriaPresupuesto(this.codigo, codigocategoria)		
						
						if(elimina.statusText){						

							this.showMessage(true,3000,'success','Se eliminó la Categoría del Gasto con éxito')
							this.datacategoria.splice( indice, 1 )

							this.traeCatGasXPresupuesto()

						} else {

							this.showMessage(true,4000,'error',elimina.response.data.message)
						}

					} catch (error) {
						
						this.showMessage(true,3000,'error',error)          		      

					}
					
				}

				this.dialog_categorias_del = false
				return

			},

			saveitemcategoria(){
				
				/*
					var codigocategoriagasto = 0
					var nombrecategoriagasto = 0

					if(typeof this.categoriagasto == 'object'){
						codigocategoriagasto = this.categoriagasto.codigo
						nombrecategoriagasto = this.categoriagasto.nombre

					} else {
						codigocategoriagasto = this.categoriagasto
						nombrecategoriagasto = this.itemactualcatgasto.nombre
					}
				*/

				for (let index = 0; index < this.datacategoria.length; index++) {
					const element = this.datacategoria[index]

					if(element.nombre == this.nombrecategoriagasto && this.itemactualcatgasto.nombre != element.nombre){

						this.showMessage(true,3000,'error','La categoría del Gasto ya existe')
						return

					}					
				}

				var tipotopecatgastocoddigo = 0
				var codigoactual = 0;

				if(typeof this.tipotopecatgasto == 'object'){
					tipotopecatgastocoddigo = this.tipotopecatgasto.value

				} else {
					tipotopecatgastocoddigo = this.tipotopecatgasto					
				}

				if(tipotopecatgastocoddigo == 'M' || tipotopecatgastocoddigo == 'P'){

					let totalitems = 0

					let itemtope = parseFloat(this.limpiarMoneda(this.topemaximocategoria))

					if(this.edit_catgasto == 0)
						totalitems += itemtope
					
					for (let index = 0; index < this.datacategoria.length; index++) {
						const element = this.datacategoria[index]						

						//si se esta actualizando se debe validar con el valor digitado no con el que estaba
						if(this.itemactualcatgasto.codigo == element.codigo)
							totalitems += itemtope
						else	
							totalitems += parseFloat(this.limpiarMoneda(element.topemaximo.toString().replace(this.moneda,'')))
						
						codigoactual = element.codigo
					}

					if(tipotopecatgastocoddigo == 'M'){

						if(parseFloat(totalitems) > parseFloat(this.valortotalconvenio)){

							this.showMessage(true,5000,'error','El total de los topes no puede superar el valor total del convenio (' + this.moneda + ' ' +  
												this.number_format(this.valortotalconvenio) + ')' )
							return

						}

					} else if (tipotopecatgastocoddigo == 'P'){

						if(parseFloat(totalitems) > 100){

							this.showMessage(true,5000,'error','El total de los topes no puede exceder el 100%' )
							return

						}

					}
				}

				var max = this.datacategoria.reduce((maximo, element) => Math.max(maximo, element.codigo), 0)
				max += 1
				codigoactual = max

				if(this.edit_catgasto == 0){
					this.datacategoria.push({codigo:codigoactual,nombre:this.nombrecategoriagasto,
												topemaximo: this.limpiarMoneda(this.topemaximocategoria)})
				
				} else {

					for (let index = 0; index < this.datacategoria.length; index++) {
						const element = this.datacategoria[index]

						if(this.itemactualcatgasto.codigo == element.codigo){

							element.nombre =  this.nombrecategoriagasto
							element.topemaximo = this.limpiarMoneda(this.topemaximocategoria)

							break
						}
						
					}

				}

				this.edit_catgasto = -1
				this.dialog_addupdcategoria = false
			},
			
			resetFormCategoria(){
				
				this.categoriagasto = ''
				this.nombrecategoriagasto = ''
				this.topemaximocategoria = '0'				

			},

			cerrarDialogoCategoria(){

				this.resetFormCategoria()
				this.dialog_addupdcategoria = false
				this.edit_catgasto =-1

			},

			traerCategoriaGasto(){

		     	var _this = this
                
				this.arrCategoriasGasto = []
              	categoriagastoService.getCategoriasGasto()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.arrCategoriasGasto = res.data.data

                          }

                      }          
                      
              	}).catch(function(err) {             
              		
				})
            },

			limpiarMoneda(val){

				var nuevoval = val.toString().replace(',00','').replace(/[$.]/gi,'')
				nuevoval = nuevoval.replace(/[,]/gi,'.')

				return nuevoval				
			},

			formatearValor(valor){

				let valoractual = valor
				valoractual = this.limpiarMoneda(valoractual)

				valoractual = this.number_format(valoractual,2)

				this.topemaximocategoria = valoractual
				
			},
		
			agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {
		    edit: function (val) {

		       if(val)
		       {
		       		this.formTitle = 'Editar'
					
					this.codigo = this.itemactual.codigo
					this.convenio = this.itemactual.convenio
					this.fuefinanciacionpgn = this.itemactual.fuefinanciacionpgn
					this.fuefinanciacionsgr = this.itemactual.fuefinanciacionsgr
					this.fuefinanciacioncof = this.itemactual.fuefinanciacioncof
					this.fuefinanciacionfun = this.itemactual.fuefinanciacionfun
					this.topeactividades =  this.itemactual.topeactividades == '1' ? 1 : 0
					this.tipotopecatgasto = this.itemactual.tipotopecatgasto

					this.moneda = this.itemactual.moneda
					this.valortotalconvenio = this.itemactual.valortotal

					if(this.fuefinanciacionpgn == '1'){

						this.fuefinancia = 'fuefinanciacionpgn'

					}
					
					if(this.fuefinanciacionsgr == '1'){

						this.fuefinancia = 'fuefinanciacionsgr'

					}

					if(this.fuefinanciacioncof == '1'){

						this.fuefinancia = 'fuefinanciacioncof'

					}

					if(this.fuefinanciacionfun == '1'){

						this.fuefinancia = 'fuefinanciacionfun'

					}

					this.traeConvenioGen()

		       } else{

		       		this.resetForm()
					   this.formTitle = 'Nuevo'
					   this.topeactividades = 0

			   }
			   
			   this.traeCatGasXPresupuesto()
			},
			
			edit_catgasto: function (val) {				
					
		       if(val)
		       {
		       		this.formTitleCategoria = 'Editar'
					
					this.categoriagasto = this.itemactualcatgasto.codigo
					this.nombrecategoriagasto = this.itemactualcatgasto.nombre
					this.topemaximocategoria = this.number_format(this.itemactualcatgasto.topemaximo,2)	
					
					this.titulobtnuardaritem = 'Actualizar Item'

		       } else {

		       		this.resetFormCategoria()
					this.formTitleCategoria = 'Nuevo'	
					this.titulobtnuardaritem = 'Agregar Item'				
			   }

			   var tipotopecatgastocoddigo = 0

				if(typeof this.tipotopecatgasto == 'object'){
					tipotopecatgastocoddigo = this.tipotopecatgasto.value

				} else {
					tipotopecatgastocoddigo = this.tipotopecatgasto					
				}					

				this.readonlytope = false
				this.prefijocatGasto = ''
				this.sufijoCatGasto = ''

				if(tipotopecatgastocoddigo=='N' || tipotopecatgastocoddigo=='' || tipotopecatgastocoddigo== undefined){

					this.readonlytope = true
					this.topemaximocategoria = 0

				} else {

					if(tipotopecatgastocoddigo=='M'){

						this.prefijocatGasto = this.moneda + ' '

					} else if(tipotopecatgastocoddigo=='P') {

						this.sufijoCatGasto = ' %'

					}

				}

			},

			arrConveniosGen: function(val){
				
				if(val.length > 0){
					this.moneda = val[0].moneda
					this.valortotalconvenio = val[0].valortotal
				}

			},
		},
		mounted() {

			this.traerDataPrincipal()	
			this.traeConvenioAll()		
			this.traerCategoriaGasto()
			this.agregaBitacora('INGRESO','INGRESO AL MODULO')
		},	
	}
	
</script>

<style>
</style>