<template>
    <v-container fluid>
        <div style="padding-bottom:8px" v-show="!readonly"> 
            <v-btn fab dark small color="primary" @click="dialogAdd = true,itemactual=''" >
                <v-icon dark>add</v-icon>				
            </v-btn>
        </div>

        <v-card
            flat
            tile
            min-height="500"
        >
            <v-card-text>
                <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>               
                <br>
                <v-data-table :items="data" :items-per-page="5" 
                              group-by="nombredepto" 
                              show-group-by 
                              :search="search">                    
                    <template v-slot:group="props">
                        <span class="font-weight-bold">{{props.group  }}</span>                       

                        <v-data-table
                            :headers="headersdata"
                            :items="props.items"
                            item-key="nombredepto"
                            hide-default-footer
                            :search="search"
                            
                        >
                            <template v-slot:body="{ items }">                                    
                                <tbody>
                                    <tr v-for="item in items" :key="item.nomciudad">
                                        <td style="width:90%">{{ item.nomciudad }}</td>
                                        <td style="width:10%">
                                            <v-icon
                                                small
                                                class="mr-5"
                                                color="primary" 
                                                :disabled="loading"
                                                :loading="loading"
                                                @click="dialog_del=true,itemactual=item"
                                                v-show="!readonly && item.codigoreal != 0"
                                            >
                                                delete
                                            </v-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-data-table>
                    </template>
                                     
                </v-data-table>
            </v-card-text>

        </v-card>

        <v-dialog v-model="dialog_del" width="550">

            <v-card>

                <v-card-title>
                    <span class="headline red--text">Eliminar Ciudad</span>
                </v-card-title>

                <v-card-text>					
                    ¿Esta seguro de eliminar la Ciudad seleccionada?.					
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark text @click="dialog_del=false">Cancelar</v-btn>
                    <v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
                </v-card-actions>

            </v-card>

        </v-dialog>

        <v-dialog v-model="dialogAdd" max-width="800" persistent>
            <v-card>
                <v-card-text>                
                    <v-row dense>
                        <v-col sm12>
                            <v-card                        
                                height="100"                                
                            >                
                                <v-card-text>
                                    <v-select
                                        :items="arrDepartamentos"
                                        item-value="codigo"
                                        item-text="descripcion"
                                        v-model="departamento"                                
                                        label="Departamento" 
                                        return-object
                                        @change="traeCiudades(departamento.codigo)"                      										
                                    >									
                                    </v-select>
                                </v-card-text>    
                            </v-card>    
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col sm12>
                            <v-card
                                flat
                                tile
                                min-height="300"
                            >
                                <v-card-text>
                                    <v-checkbox                                               
                                        v-model="selected"                        
                                        :readonly="readonly"
                                        color="primary"    
                                        label="Seleccionar Todas las Ciudades"
                                    ></v-checkbox>
                                    <v-data-table :headers="headersciudad" :items="arrCiudades" :items-per-page="5">
                                        <template v-slot:item.seleccionar="{ item }">                                            
                                            <v-checkbox                                               
                                                v-model="item.seleccionar"                        
                                                :readonly="readonly"
                                                color="primary"                        
                                            ></v-checkbox>                    
                                        </template>

                                    </v-data-table>
                                </v-card-text>
                            </v-card> 
                        </v-col>
                    </v-row>
                </v-card-text>

                <v-card-actions>
                    <div style="width:100%;text-align:right">
                        <v-btn color="primary" dark text @click="saveitem">Actualizar</v-btn>  
                        <v-btn color="primary" dark text @click="dialogAdd=false">Cancelar</v-btn>                    
                                          
                    </div>    
                </v-card-actions>

            </v-card>        
        </v-dialog>

    </v-container>    
</template>

<script>
import proyectociudadesService from "../servicios/ProyectosCiudadesService"
import ciudadesService from "../servicios/CiudadesService"
import departamentosService from "../servicios/DepartamentosService"

export default {
    name: 'Ciudades',
    props: ['proyecto','readonly','convenioproyecto','nombreproyecto','codigocoordinador'],
    data (){

        return {
            loading: false,
            dialog_del:false,
            dialogAdd:false,
            itemactual:'',
            departamento:'',
            search:'',            
            data: [],
            headersdata: [
                { text: 'Ciudad', value: 'nombreciudad',sortable: false,align: 'left'},                
                { text: 'Accion', value: 'action',sortable: false,align: 'left'}          
            ],

            arrDepartamentos:[],
            arrCiudades:[],

            headersciudad: [
                { text: 'Ciudad', value: 'descripcion',sortable: false,align: 'left'},
                { text: 'Sel.', value: 'seleccionar',sortable: false,align: 'left'}
            ],

            selected: 0
        }
    },

    methods: {

        showMessage (snack, time, color, text) {

           this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },
        
        envioNotificaciones(mensajenotificacion,asuntocorreo, mensajecorreo){

            this.$emit('envioNotificaciones', {mensajenotificacion: mensajenotificacion,asuntocorreo: asuntocorreo, mensajecorreo: mensajecorreo})

        },
      
        traerdata(proyecto){

            var _this = this
            this.loading = true

            proyectociudadesService.BuscarXProyecto(proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.data = res.data.data
                            
                        }  else {
                            
                            _this.data = []                          
                        
                        }

                    } else {                        	

                        _this.data = []
                        
                    }    
                    _this.loading = false                
                    
            }).catch(function(err) {

                    _this.data = []
                    _this.loading = false                
                
            })

        },

        traerDepartamentos(){

            var _this = this            

            departamentosService.getData()
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.arrDepartamentos = res.data.data
                            
                        }  else {
                            
                            _this.arrDepartamentos = []                          
                        
                        }

                    } else {                        	

                        _this.arrDepartamentos = []
                        
                    }        
                    
            }).catch(function(err) {

                    _this.arrDepartamentos = []                  
                
            })

        },

        traeCiudades(departamento){

            var _this = this            

            proyectociudadesService.CiudadesSelDepto(this.proyecto, departamento)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.arrCiudades = res.data.data
                            
                        }  else {
                            
                            _this.arrCiudades = []                          
                        
                        }

                    } else {                        	

                        _this.arrCiudades = []
                        
                    }        
                    
            }).catch(function(err) {

                    _this.arrCiudades = []                  
                
            })

        },

        deleteItem(){
            
            var _this = this
            this.loading = true            

            console.log(this.proyecto,this.itemactual)

            proyectociudadesService.DelData(_this.proyecto, _this.itemactual.ciudad)
                .then(function(res) {

                    if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó la Ciudad con éxito')

                        _this.del_item = ''	              	  		
                        _this.traerdata(_this.proyecto)
                        _this.dialog_del = false
                        
                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ LA CIUDAD CON CODIGO:' + _this.itemactual.codigo + 
                                                ', DESCRIPCION:' + _this.itemactual.nombreciudad + 
                                                '. QUE PERTENECE AL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + ' Y NOMBRE: ' + 
                                                _this.nombreproyecto)

                        var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se eliminó la Ciudad : '" + _this.itemactual.nombreciudad + 
                                            "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                        var mensajenotifica = "Se eliminó la Ciudad : '" + _this.itemactual.nombreciudad + 
                                              "' del Proyecto con # de Convenio " + 
                                              _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                        _this.envioNotificaciones(mensajenotifica,'Eliminación de Ciudades del Proyecto',mensajecorreo)                                 

                    } else {	                                         	

                        _this.showMessage(true,3000,'error',res.response.data.message) 	                  	
                    } 	                   
                    _this.del_item = ''						
                    _this.loading = false	                 
                    
            }).catch(function(err) {

                _this.showMessage(true,3000,'error',err)	    
                _this.loading = false          	
                
            })

        },        

        saveitem(){            

            var totitems = this.arrCiudades.length
            var dataFinal = []
            
            this.loading = true

            for (let index = 0; index < totitems; index++) {
                
                const element = this.arrCiudades[index]

                if(element['seleccionar']){

                    dataFinal.push({ codigo:  element['codigo'], proyecto : this.proyecto, departamento: this.departamento.codigo})

                }        

            } 

            var _this = this

            proyectociudadesService.guardarData(dataFinal)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		_this.showMessage(true,3000,'success','Se Actualizarón/Agregarón las Ciudades al Proyecto con éxito')
             	  		
	              	  		_this.traerdata(_this.proyecto)	              	  									
							
                            _this.agregaBitacora('ACTUALIZACION/CREACION','SE ACTUALIZARON/AGREGARON/ELIMINARON LAS CIUDADES AL PROYECTO CON # DE CONVENIO: ' 
                                                    + _this.convenioproyecto + ' Y NOMBRE: ' + _this.nombreproyecto)
                            
                            var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se Actualizaron/Crearon/Eliminaron las Ciudades para el Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                            var mensajenotifica = "Se Actualizaron/Crearon/Eliminaron las Ciudades para el Proyecto con # de Convenio " + 
                                                _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                            _this.envioNotificaciones(mensajenotifica,'Actualización/Creación/Eliminacion de Ciudades del Proyecto',mensajecorreo)

                            _this.dialogAdd = false

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

        },

        agregaBitacora(accion, detalle){              

            var data = {modulo:'CIUDADES PROYECTOS',accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        },

    },

    watch: {

        proyecto: function (val) {            

            if(val!=0)
                this.traerdata(val)
        },

        selected: function(val) {

            for (let index = 0; index < this.arrCiudades.length; index++) {
                    const element = this.arrCiudades[index]
                    
                    element['seleccionar'] =  val
            }

        }

    },
        
    mounted() {
        
        this.traerDepartamentos()
        this.traerdata(this.proyecto)

    },   

}
</script>

<style>

</style>