<template>
    <v-container fluid>
        <div style="padding-bottom:8px" v-show="permiso"> 
            <v-btn fab dark small color="primary" @click="edit=0,dialog = true,itemactual=''" v-show="permiso" >
                <v-icon dark>add</v-icon>				
            </v-btn>
        </div>

        <v-card
            flat
            tile
            min-height="500"
        >
            <v-card-text>
                <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>               
                <br>
                <v-data-table :items="data" :items-per-page="10" :headers="headersdata"                               
                              :search="search">                    
                    <template v-slot:item.action="{ item }">
							
                        <v-icon
                            small
                            class="mr-5"
                            color="primary" 
                            :disabled="loading"
                            @click="dialog = true, edit=1, itemactual=item"
                            v-show="permiso"
                        >
                            edit
                        </v-icon>
                        
                        <v-icon
                            small
                            class="mr-5"
                            color="primary" 
                            :disabled="loading"
                            :loading="loading && itemactual === item "
                            @click="dialog_del=true, itemactual=item"
                            v-show="permiso"
                            >
                            delete
                        </v-icon>						
                                                
                    </template>
                                     
                </v-data-table>
            </v-card-text>

        </v-card>

        <v-dialog v-model="dialog" max-width="700px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>					
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>		
							<v-form v-model="valid" ref="form">			
								<v-flex>
                                    <v-textarea	
                                        filled															
                                        name="input-5-4"                        
                                        v-model="observacion" 
                                        label="Observación"
                                        :rules="[rules.required]"                        
                                    ></v-textarea>
								</v-flex>								
							</v-form>				
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>


        <v-dialog v-model="dialog_del" width="550">

            <v-card>

                <v-card-title>
                    <span class="headline red--text">Eliminar Observación</span>
                </v-card-title>

                <v-card-text>					
                    ¿Esta seguro de eliminar la Observación seleccionada?.					
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark text @click="dialog_del=false">Cancelar</v-btn>
                    <v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
                </v-card-actions>

            </v-card>

        </v-dialog>

        

    </v-container>    
</template>

<script>
import proyectosobssubcieService from "../servicios/ProyectosObsSubCieService"

export default {
    name: 'ObservacionSubCie',
    props: ['proyecto','readonly','convenioproyecto','nombreproyecto','perfil','codigocoordinador'],
    data (){

        return {
            loading: false,
            edit:-1,
            dialog_del:false,
            dialog:false,
            itemactual:'',
            formTitle:'',
			valid:false,
            search:'',  
            codigo:'0',
            observacion: '',          
            data: [],
            permiso:0,
            headersdata: [
                { text: 'Observación', value: 'observacion',sortable: false,align: 'left'},                
                { text: 'Accion', value: 'action',sortable: false,align: 'left'}          
            ],            			 
  			rules: {
                required: value => !!value || 'Campo requerido.'					
            }	
        }
    },

    methods: {

        showMessage (snack, time, color, text) {

           this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },
        
        envioNotificaciones(mensajenotificacion,asuntocorreo, mensajecorreo){

            this.$emit('envioNotificaciones', {mensajenotificacion: mensajenotificacion,asuntocorreo: asuntocorreo, mensajecorreo: mensajecorreo})

        },

        resetForm () {

            this.codigo='0'
            this.descripcion=''	            			
        },
        cerrarDialogo(){

            this.resetForm()
            this.dialog = false
            this.edit=-1

        },
                 
        traerdata(proyecto){

            var _this = this
            this.loading = true

            proyectosobssubcieService.getDataXProyecto(proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.data = res.data.data
                            
                        }  else {
                            
                            _this.data = []                          
                        
                        }

                    } else {                        	

                        _this.data = []
                        
                    }    
                    _this.loading = false                
                    
            }).catch(function(err) {

                    _this.data = []
                    _this.loading = false                
                
            })

        },

        closeDialogoDel () {
				  
            this.dialog_del = false
        },

        deleteItem(){
            
            var _this = this
            this.loading = true            

            proyectosobssubcieService.DelData(_this.proyecto, _this.itemactual.codigo)
                .then(function(res) {

                    if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó la Observación con éxito')

                        _this.del_item = ''	              	  		
                        _this.traerdata(_this.proyecto)
                        _this.dialog_del = false
                        
                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ LA OBSERVACION CON CODIGO:' + _this.itemactual.codigo + 
                                                ', DESCRIPCION:' + _this.itemactual.observacion + 
                                                '. QUE PERTENECE AL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + ' Y NOMBRE: ' + 
                                                _this.nombreproyecto)

                        var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se eliminó la Observación : '" + _this.itemactual.observacion + 
                                            "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                        var mensajenotifica = "Se eliminó la Observación : '" + _this.itemactual.observacion + 
                                              "' del Proyecto con # de Convenio " + 
                                              _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                        _this.envioNotificaciones(mensajenotifica,'Eliminación de Ciudades del Proyecto',mensajecorreo)

                    } else {	                                         	

                        _this.showMessage(true,3000,'error',res.response.data.message) 	                  	
                    } 	                   
                    _this.del_item = ''						
                    _this.loading = false	                 
                    
            }).catch(function(err) {

                _this.showMessage(true,3000,'error',err)	    
                _this.loading = false          	
                
            })

        },        

        saveitem(){

            var _this = this            
            var data = {codigo:this.codigo,proyecto:this.proyecto,observacion:this.observacion};

            proyectosobssubcieService.guardarData(data)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		_this.showMessage(true,3000,'success','Se Actualizarón/Agregarón Observaciones de Subdirección Científica al Proyecto con éxito')
             	  		
	              	  		_this.traerdata(_this.proyecto)	              	  									
							_this.del_item = ''
                            _this.edit = -1	       
                            _this.resetForm()
                            _this.dialog = false

                            _this.agregaBitacora('ACTUALIZACION/CREACION','SE ACTUALIZARON/AGREGARON/ELIMINARON OBSERVACIONES DE SUBDIRECCION CIENTIFICA AL PROYECTO CON # DE CONVENIO: ' 
                                                    + _this.convenioproyecto + ' Y DESCRIPCION: ' + _this.descripcion)
                            
                            var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se Actualizaron/Crearon/Eliminaron Observaciones de Subdirección Científica para el Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                            var mensajenotifica = "Se Actualizaron/Crearon/Eliminaron Observaciones de Subdirección Científica para el Proyecto con # de Convenio " + 
                                                _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                            _this.envioNotificaciones(mensajenotifica,'Actualización/Creación/Eliminacion de Observaciones de Subdirección Científica del Proyecto',mensajecorreo)

                            

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

        },

        agregaBitacora(accion, detalle){              

            var data = {modulo:'OBSERVACIONES SUBDIRECCION CIENTIFICA PROYECTOS',accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        },

    },

    watch: {

        proyecto: function (val) {            

            if(val!=0)
                this.traerdata(val)

            if(this.perfil == 5)
			    this.permiso = true    
        },

        edit: function (val) {

            if(val)
            {
                this.formTitle = 'Editar'

                this.codigo = this.itemactual.codigo
                this.observacion = this.itemactual.observacion

            } else{

                this.resetForm()
                this.formTitle = 'Nuevo'
            }
        }

    },
        
    mounted() {
        
        this.traerdata(this.proyecto)

        if(this.perfil == 5)
			this.permiso = true

    },   

}
</script>

<style>

</style>