<template>
	<v-container>		
		 <v-flex>
			<div style="padding-bottom:10px"> 
				<v-btn fab dark small color="primary" @click="dialog = true, edit=0,itemactual=''" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div>		
			<v-card >
				<v-card-title class="justify-center">Programas de Investigación PENIA</v-card-title>
				<v-card-text>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
				</v-card-text>
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" :disable-sort="true" :search="search">

						<template v-slot:item.action="{ item }">
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="dialog = true, edit=1, itemactual=item"
							>
								edit
							</v-icon>
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								:loading="loading && itemactual === item "
								@click="dialog_del=true, itemactual=item"
								>
								delete
							</v-icon>						
												
					  	</template>					              
		            </v-data-table>		            	
		          </v-layout>
			</v-card>
		 	
		</v-flex>

		<v-dialog v-model="dialog" max-width="700px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>	
							<v-form v-model="valid" ref="form">	
                                		
								<v-flex>
									<v-text-field v-model="descripcion" label="Descripción" :rules="[rules.required]"></v-text-field>
								</v-flex>							
															
							</v-form>									
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

        <v-dialog v-model="dialog_del" max-width="450px">

          	<v-card>

				<v-card-title>
					<span class="headline red--text">Eliminar Programa de Investigación PENIA</span>
				</v-card-title>
  
				<v-card-text>					
					¿Esta seguro de eliminar el Programa de Investigación PENIA seleccionado?					
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="closeDialogoDel">Cancelar</v-btn>
					<v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>
	</v-container>
</template>

<script>
	import programasInvPeniaService from "../servicios/PrograInvPeniaService"
   
	export default {

		data (){

			return {		
				modulo:'PROGRAMAS DE INVESTIGACION PENIA',					
  				loading: false,  				
  				dialog:false,
  				edit:-1,
  				dialog_del:false,				
  				processing:false,
				formTitle:'',
				valid:false,
				search:'',
  				codigo:'0',
				descripcion:'',
				itemactual:'',
				data: [],				
  				headers: [	
  					{
			          text: 'Descripción',
			          align: 'left',
			          sortable: false,
			          value: 'descripcion',
                    },	
                    { text: 'Accion', value: 'action',sortable: false}		        
  				],
  				
  				rules: {
					required: value => !!value || 'Campo requerido.'					
		          }				
	        }
	    },

	    filters: {
		},

	    methods: {
			
			showMessage (snack, time, color, text) {

			      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

		     },		     
			resetForm () {

				this.codigo='0'
				this.descripcion=''				
			},
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

            },

            traerDataPrincipal(){

		     	var _this = this
                this.loading = true

              	programasInvPeniaService.getData()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.data = res.data.data

                          }  else {
                            
                            _this.data = []
                          
                          }

                      } else {                        	

                      	_this.data = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.data = []   
              		_this.loading = false                
              		
				})

            },

			closeDialogoDel () {
				  
				this.dialog_del = false
			},

			deleteItem() {
				
				var _this = this
				this.loading = true

				programasInvPeniaService.DelData(_this.itemactual.codigo)
	              .then(function(res) {

	              	  if(res.statusText){

	              	  		_this.showMessage(true,3000,'success','Se eliminó el Programa de Investigación PENIA con éxito')

	              	  		_this.del_item = ''	              	  		
	              	  		_this.traerDataPrincipal()
							_this.closeDialogoDel()
								
							_this.agregaBitacora('ELIMINACION','SE ELIMINÓ EL PROGRAMA DE INVESTIGACION PENIA CON CODIGO:' + _this.itemactual.codigo + 
													', DESCRIPCION:' + _this.itemactual.descripcion)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  } 	                   
						_this.del_item = ''						
	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

			},

			validaSave(){               

                if(this.itemactual.descripcion == this.descripcion){

					return false

				} else {

					return true

				}	
			},
			saveitem(){

				var _this = this
                this.loading = true

				var datbit = ''

				var data = {codigo:this.codigo,descripcion:this.descripcion}

				if(this.edit){

					var valida = this.validaSave()

					if(!valida){

						this.showMessage(true,3000,'error','No hay datos para actualizar')
						this.loading = false
						return;
					}

					datbit = ''

					if (this.itemactual.descripcion != this.descripcion)
                        datbit += 'Descripción: ' + this.itemactual.descripcion.toUpperCase() + ' a ' + this.descripcion.toUpperCase()
                   
					datbit = 'CODIGO: ' + this.codigo + ' (' + datbit + ')'

				} else {

					datbit += 'DESCRIPCION: ' + this.descripcion.toUpperCase()

				}				

                programasInvPeniaService.guardarData(data)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		if(_this.edit){
								mensaje = 'Actualizó'
								accbitacora = 'ACTUALIZACION'
							} else {
								mensaje = 'Agregó'
								accbitacora = 'CREACION'
							}

	              	  		_this.showMessage(true,3000,'success','Se ' + mensaje + ' el Programa de Investigación PENIA con éxito')

	              	  		_this.del_item = ''
	              	  		_this.edit = -1	              	  		
	              	  		_this.traerDataPrincipal()
	              	  		_this.resetForm()
							_this.dialog = false								
							
							_this.agregaBitacora(accbitacora,datbit)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})
			},			

			agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {
		    edit: function (val) {

		       if(val)
		       {
		       		this.formTitle = 'Editar'

		       		this.codigo = this.itemactual.codigo
		       		this.descripcion = this.itemactual.descripcion									

		       } else{

		       		this.resetForm()
		       	    this.formTitle = 'Nuevo'
		       }
		    }
		},
		mounted() {

			this.traerDataPrincipal()
			
			this.agregaBitacora('INGRESO','INGRESO AL MODULO')
		},	
	}
	
</script>

<style>
</style>