<template>
  <v-container fluid>
      <v-form>       
        <v-card
            color="transparent"                
        >
            <v-card-title>
                Detalle Seguimiento
            
                <v-spacer></v-spacer>

                <v-btn class="mx-2" fab dark small 
                    :color="getColor(obssubdircientifica)"	
                    @click="dialog_vobosubdir=true"																				
                >
                    <v-icon dark>science</v-icon>
                </v-btn>
            
            </v-card-title>                
            <v-card-text>                        
                <v-row>
                    <v-col sm12>
                        <b>Actividad:</b> {{ txtactividad }}
                    </v-col>
                </v-row>
                <v-row>    
                    <v-col sm6>
                        <b>Año:</b> {{ anno }}
                    </v-col>
                    <v-col sm6>
                        <b>Mes:</b> {{ nombremes }}
                    </v-col>
                </v-row>                  
            </v-card-text>    
        </v-card>
        <v-card>
            <v-card-text>
                <v-row>
                    <v-col sm6>
                        <v-textarea	
                            filled															
                            name="input-5-2"
                            label="Logros"
                            v-model="logros" 
                            :readonly="soloLectura"
                        ></v-textarea>
                    </v-col>  
                    <v-col sm6>
                        <v-textarea	
                            filled															
                            name="input-5-2"
                            label="Necesidades"
                            v-model="necesidades"   
                            :readonly="soloLectura"                                                    
                        ></v-textarea>
                    </v-col>   
                </v-row>               
                <v-row>
                    <v-col sm6>
                        <v-textarea	
                            filled															
                            name="input-5-2"
                            label="Alertas"
                            v-model="alertas"   
                            :readonly="soloLectura"                                                 
                        ></v-textarea>
                    </v-col>
                    <v-col sm6>
                        <v-textarea	
                            filled															
                            name="input-5-2"
                            label="Ampliación de la información"
                            v-model="ampliacioninfo" 
                            :readonly="soloLectura"                                                    
                        ></v-textarea>
                    </v-col>    
                </v-row>               
                <v-row>
                    <v-col sm12>
                        <span>Archivo de Soporte</span>
                        <adjuntarArchivos 
                            :item="archivo" 
                            :placeholder="'Seleccione el Archivo de Soporte'"
                            :tipoarchivo="'.pdf'"												
                        />
                        <v-icon color="primary" 
                            :disabled="archivo.file_name == '' || (codigo == '' || codigo == '0')"
                            @click="abrirDialogoElimFile(archivo.file_name, 'archivo')"
                            v-if="soloLectura == false"
                        >
                            cancel
                        </v-icon>                        
                    </v-col>    
                </v-row>    
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>                
                <v-btn color="primary" v-if="soloLectura == false" text @click="saveitem">Actualizar Detalle</v-btn>
            </v-card-actions>
        </v-card> 
        </v-form>

        <v-dialog v-model="dialog_deletefile" width="550">

            <v-card>

                <v-card-title>
                    <span class="headline red--text">Eliminar Archivo</span>
                </v-card-title>

                <v-card-text>
                    ¿Esta seguro de eliminar el Archivo {{ filedelete }} definitivamente?.					
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark text @click="dialog_deletefile=false">Cancelar</v-btn>
                    <v-btn color="red" text @click="eliminarArchivo" >Eliminar</v-btn>
                </v-card-actions>

            </v-card>

        </v-dialog>

        <v-dialog v-model="dialog_vobosubdir" persistent max-width="800px">

          	<v-card>
                <v-card-title>
                    <span class="headline">Observación SubDirección Científica</span>
                </v-card-title>  
				<v-card-text>
                    <v-row>
                        <v-textarea	
                            filled															
                            name="input-7-4"
                            label="Observación"
                            v-model="obssubdircientifica"																			
                            :readonly="readvbsubdir"
                        ></v-textarea>
                    </v-row>					
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="actualizaObs('SC')" v-if="!readvbsubdir">Guardar</v-btn>
					<v-btn color="primary" dark text @click="dialog_vobosubdir=false">Cancelar</v-btn>				
				</v-card-actions>
          	</v-card>

        </v-dialog>	

  </v-container>    
</template>

<script>
import proyectossegdetService from "../servicios/ProyectosSegDetalleService"
import ProyectosService from "../servicios/ProyectosService"
import FileExchange from '../servicios/FileExchange'
import areasService from "../servicios/AreasService"

export default {
    name: 'SeguimientoDet',
    props: ['proyecto','codigo','txtactividad','anno','mes','readonly'],
    components: { 
        'adjuntarArchivos' : () => import('@/components/AdjuntarArchivos')			 
    },
    data(){

        return {
            loading: false,
            convenioproyecto:'',
            nombreproyecto:'',
            codigocoordinador:'', 
            logros:'',
            necesidades:'',
            alertas:'',
            ampliacioninfo:'',
            archivo:{file_name:'',file_path:'',file_name_tmp:''},
            nombremes:'',
            rutasarchivogen:'',

            filedelete:'',
            tipofiledelete:'',
            dialog_deletefile:'',

            obssubdircientifica:'',
            dialog_vobosubdir:false,
            readvbsubdir:true,

            usuarioDirCientifica:'',
            usuarioPlaneacion:'',
            usuaactual:'',
            soloLectura:false,

        }
    },

    methods: {

         devolverMes(){
            
            let nommes = '' 

            switch (this.mes) {
                case 1:

                    nommes = 'ENERO'
                    break

                case 2:

                    nommes = 'FEBRERO'
                    break

                case 3:
                    
                    nommes = 'MARZO'
                    break

                case 4:
                    
                    nommes = 'ABRIL'
                    break    

                case 5:
                    
                    nommes = 'MAYO'
                    break    

                case 6: 
                    
                    nommes = 'JUNIO'
                    break

                case 7:
                    
                    nommes = 'JULIO'
                    break

                case 8:
                    
                    nommes = 'AGOSTO'
                    break

                case 9:
                    
                    nommes = 'SEPTIEMBRE'
                    break 

                case 10:
                    
                    nommes = 'OCTUBRE'
                    break

                case 11:
                    
                    nommes = 'NOVIEMBRE'
                    break

                case 12:
                    
                    nommes = 'DICIEMBRE'
                    break

                default:
                    break
            }

            this.nombremes = nommes
        },

        showMessage (snack, time, color, text) {

           this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },
        
        envioNotificaciones(mensajenotificacion,asuntocorreo, mensajecorreo){

            this.$emit('envioNotificaciones', {mensajenotificacion: mensajenotificacion,asuntocorreo: asuntocorreo, mensajecorreo: mensajecorreo})

        },
        
        envionotificacionesUsuarios(values){ // mensajenotificacion,asuntocorreo, mensajecorreo){
								
            //se envia notificacion al coordinador o encargado
            var codigopersona = 0
            var codigoopcion = 16 //proyectos
            var numerointerno = this.convenioproyecto				

            //se envia notificacion a subdirección científica				
            if(this.usuarioDirCientifica != '' && this.usuarioDirCientifica != '0'){

                codigopersona = this.usuarioDirCientifica
                this.$root.$emit('enviarNotificaciones', {codigopersona: codigopersona, mensajenotificacion: values.mensajenotificacion, 
                                    asuntocorreo: values.asuntocorreo, mensajecorreo: values.mensajecorreo,
                                    codigoopcion:codigoopcion,numerointerno:numerointerno})
            } 
            
        },
            
        traerDataProyecto(){

            var _this = this
           
            _this.convenioproyecto = ''
            _this.nombreproyecto = ''
            _this.codigocoordinador = '' 
            
            ProyectosService.getDataXId(this.proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.convenioproyecto = res.data.data[0].convenio
                            _this.nombreproyecto = res.data.data[0].nombre
                            _this.codigocoordinador = res.data.data[0].codigocoordinador                            

                        }

                    }                    
                    
            }).catch(function(err) {
                    
            })
        },

        traerData() {

            var _this = this
            this.loading = true

            this.logros = ''
            this.necesidades = ''
            this.alertas = ''
            this.ampliacioninfo = ''
            this.archivo = {file_name:'',file_path:'',file_name_tmp:''}
            this.rutasarchivogen = ''

            proyectossegdetService.BuscarXItem(this.codigo,this.anno,this.mes)
                .then(function(res) {

                    if (res.request) {                       
                       
                        if(res.data){

                            _this.dataseg = res.data.data

                            console.log(_this.dataseg)
                            _this.logros=_this.dataseg[0].logros
                            _this.necesidades=_this.dataseg[0].necesidades
                            _this.alertas=_this.dataseg[0].alertas
                            _this.ampliacioninfo=_this.dataseg[0].ampliacioninfo
                            _this.obssubdircientifica =_this.dataseg[0].obssubdircientifica  == null ? '' :  _this.dataseg[0].obssubdircientifica
                            _this.rutasarchivogen = _this.dataseg[0].rutasarchivogen

                            let archivogen =_this.dataseg[0].archivo                           
                            
                            _this.archivo={file_name:archivogen,file_path:(archivogen != '' ? _this.rutasarchivogen : ''),file_name_tmp:''}
                            
                            _this.traerDataActividades(_this.actividad.secuencia)

                        }

                    }

                    _this.loading = false                
                    
            }).catch(function(err) {

                    _this.loading = false                
                
            })

        },

        saveitem(){

            this.loading = true             

            var _this = this 
            var data = {codigo:this.codigo,anno:this.anno,mes:this.mes,logros: this.logros,
                        necesidades:this.necesidades,alertas:this.alertas,
                        ampliacioninfo:this.ampliacioninfo,archivo:this.archivo}

            proyectossegdetService.addupdData(data)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,7000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		_this.showMessage(true,3000,'success','Se Actualizó el Detalle del Seguimiento para la Actividad del Proyecto')
                           
                            _this.traerData()              	  									
							
                            _this.agregaBitacora('ACTUALIZACION','SE ACTUALIZO EL DETALLE DEL SEGUIMIENTO DE LA ACTIVIDAD ' +
                                                 _this.txtactividad + ', PARA EL AÑO ' + _this.anno + 'Y MES ' + _this.mes + 
                                                 ' DEL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + 
                                                 ' Y NOMBRE: ' + _this.nombreproyecto)                                                 
                                                       
                            var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se Actualizó el detalle del seguimiento de la actividad '" + _this.txtactividad + 
                                            "' para el año '" + _this.anno + "' y mes '" + _this.mes + "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                            var mensajenotifica = "Se Actualizó el detalle del seguimiento de la actividad '" + _this.txtactividad + 
                                                  "' para el año '" + _this.anno + "' y mes '" + _this.mes + "' del Proyecto con # de Convenio " + 
                                                  _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                            _this.envioNotificaciones(mensajenotifica,'Actualización Detalle de Seguimiento de una Actividad de un Proyecto',mensajecorreo)
                                
                            _this.envionotificacionesUsuarios({mensajenotificacion:mensajenotifica, 
                                                   asuntocorreo: 'Actualización Detalle de Seguimiento de una Actividad de un Proyecto',
                                                   mensajecorreo:mensajecorreo})
                                                   
	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

        },        

        abrirDialogoElimFile(file, tipoarchivo){

            this.filedelete = file
            this.tipofiledelete = tipoarchivo

            this.dialog_deletefile = true

		},

        async eliminarArchivo(){

            let ruta = '\proyectos\\S' + this.codigo.toString() + this.anno.toString() + this.mes.toString() + '\\'

            const result = await proyectossegdetService.deleteFile(this.codigo,this.anno,this.mes,ruta, this.filedelete)
            
            if(result.data){
                if(result.data.tipo == 'error'){

                    this.showMessage(true,4000,'error',result.data.respuesta)

                } else if(result.data.tipo == 'success'){
                    
                    switch (this.tipofiledelete) {

                        case 'archivo':
                            
                            this.archivo = {file_name:'',file_path:'',file_name_tmp:''}
                            break                       	
                    
                        default:
                            break
                    }

                    this.showMessage(true,4000,'success',result.data.respuesta)

                } else {

                    this.showMessage(true,4000,'error','Se presentó un error al intentar realizar la operación')

                }
            
            } else {

                this.showMessage(true,4000,'error','Se presentó un error al intentar realizar la operación')

            }

            this.dialog_deletefile = false

        },
        
        getColor(observacion) {

            if(observacion=='')  
                return 'grey'
            else {return 'blue'}           

        },
        
        async traeUsuarios(){            

            this.usuarioDirCientifica = 0
            this.usuarioPlaneacion = 0

            try{

                let dircientifica = await areasService.getUserXArea(3) //dirección cientifica
                let planeacion = await areasService.getUserXArea(4) //planeacion               

                if(dircientifica.data)
                    this.usuarioDirCientifica = dircientifica.data.data[0].userid
                    
                if(planeacion.data)
                    this.usuarioPlaneacion = planeacion.data.data[0].userid    

                this.usuaactual = this.$session.get('usuarioid')

                this.readvbsubdir = true
                this.soloLectura = false                               
                    
                if(this.usuaactual == this.usuarioDirCientifica){
                    this.readvbsubdir = false	
                    this.soloLectura = true
                }

                if(this.usuaactual == this.usuarioPlaneacion){                    	
                    this.soloLectura = true
                }


            } catch (error) {	

            }
            finally {

            }

        },
        
        actualizaObs(tipo){

            var nombretipo = ''            
            var observacion = ''

            var datbit = ''

            if(tipo == 'SC'){

                nombretipo = 'DE SUBDIRECCIÓN CIENTÍFICA'                
                observacion = this.obssubdircientifica

            } 

            if(observacion == ''){

                this.showMessage(true,4000,'error','Debe ingresar la Observación')
                return
            }

            datbit = 'Observación ' + nombretipo + ', Observación: ' + observacion +')'

            var _this = this
            
            console.log(this.codigo,this.anno,this.mes,observacion)

            proyectossegdetService.obsSubDirCientifica(this.codigo,this.anno,this.mes,observacion)
                .then(function(res) {

                    if (res.response) {                           
                        
                        var error = res.response.data.message
                        _this.showMessage(true,3000,'error',error)

                    } else if(res.statusText){
                        
                        var mensaje = ''
                        var accbitacora = ''                            

                        _this.showMessage(true,3000,'success','Se actualizó la observación ' + nombretipo + ' con éxito')
                            
                        _this.agregaBitacora('OBSERVACIÓN ' + nombretipo ,datbit)                       
                        
                        var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se Actualizó la Observación " + nombretipo + " del seguimiento de la actividad '" + _this.txtactividad + 
                                            "' para el año '" + _this.anno + "' y mes '" + _this.mes + "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto + 													
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"

                        var mensajenotifica = 'Se Actualizó la Observación ' + nombretipo + ' del seguimiento de la actividad ' + _this.txtactividad + 
                                              ' para el año ' + _this.anno + ' y mes ' + _this.mes + ' del Proyecto con # de Convenio ' + 
                                              _this.convenioproyecto + ', Nombre: ' + _this.nombreproyecto

                         _this.envioNotificaciones(mensajenotifica,'Actualización de Observación de un Seguimiento de una Actividad',mensajecorreo)
                        
                        _this.dialog_vobosubdir = false

                    }else{	                                         	

                        _this.showMessage(true,3000,'error',res.message) 	                  	
                    }                                    
                    
            }).catch(function(err) {

                _this.showMessage(true,3000,'error',err)                          	
                
            })

        },
            
        agregaBitacora(accion, detalle){              

            var data = {modulo:'SEGUIMIENTO PLAN DE ACCION PROYECTOS',accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        },
    },

    watch: {

        proyecto: function (val) {

            if(val!=0){   
                
                this.traerDataProyecto()               

            }            
        },

        codigo: function (val) {

            if(val!=0){
                
                this.traerData()               

            }            
        },
        
        anno: function (val) {

            if(val!=0){
                
                this.traerData()               

            }            
        },

        mes: function (val) {

            if(val!=0){

                this.devolverMes()
                this.traerData()               

            }            
        },
    },

    mounted() {

        this.traerDataProyecto()
        this.traerData()
        this.devolverMes()
        this.traeUsuarios()
        
    },

}

</script>

<style>

</style>