<template>
    <v-container fluid>	
        <v-flex>            
			<div style="padding-bottom:10px" v-show="!readonly"> 
				<v-btn fab dark small color="primary" @click="dialog = true, edit=0,itemactual=''" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div>		
            <v-card
                flat
                tile                
            >
                <v-card-title class="justify-center">OTROS SI</v-card-title>
                <v-card-text>
                    <v-data-table :headers="headers" :items="data" :items-per-page="5">
                        
                        <template v-slot:item.cofinanciado="{ item }">
							<span>{{ item.cofinanciado |  currency({
									symbol: item.moneda,
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>

                        <template v-slot:item.contrapartida="{ item }">
							<span>{{ item.contrapartida |  currency({
									symbol: item.moneda,
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>	

                        <template v-slot:item.totaldinero="{ item }">
							<span>{{ item.totaldinero |  currency({
									symbol: item.moneda,
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>

                        <template v-slot:item.totalespecie="{ item }">
							<span>{{ item.totalespecie |  currency({
									symbol: item.moneda,
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>

                        <template v-slot:item.valortotal="{ item }">
							<span>{{ item.valortotal |  currency({
									symbol: item.moneda,
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>	    

                        <template v-slot:item.action="{ item }">							
                            <v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
                                v-show="!readonly"
								@click="dialog = true, edit=1, itemactual=item"
							>
								edit
							</v-icon>

                            <v-icon
                                small
                                class="mr-5"
                                color="primary" 
                                :disabled="loading"
                                :loading="loading"
                                v-show="!readonly"
                                @click="dialog_del=true,itemactual=item"                                
                            >
                                delete
                            </v-icon>						
                                                
                        </template>
                    </v-data-table>
                </v-card-text>

            </v-card> 
        </v-flex>

        <v-dialog v-model="dialog" max-width="1000px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>	
							<v-form v-model="valid" ref="form">

                                <v-row>
                                    <v-col>
                                        <v-flex>
                                            <v-menu
                                                v-model="menuDate"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y																																
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                        v-model="fechasuscripcion"
                                                        label="Fecha Suscripción"
                                                        prepend-icon="event"
                                                        readonly
                                                        v-on="on"                                                																																			
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker 
                                                    v-model="fechasuscripcion" @input="menuDate = false" :type="'date'"
                                                >
                                                </v-date-picker>
                                            </v-menu>
                                        </v-flex>
                                    </v-col>

                                    <v-col>
                                        <v-flex>
                                            <v-menu
                                                v-model="menuDate2"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y																
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                        v-model="fechaincorporacion"
                                                        label="Fecha Inicio"
                                                        prepend-icon="event"
                                                        readonly
                                                        v-on="on"                                                
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker 
                                                    v-model="fechaincorporacion" @input="menuDate2 = false" :type="'date'"
                                                >
                                                </v-date-picker>
                                            </v-menu>
                                        </v-flex>
                                    </v-col>

                                    <v-col>    
                                        <v-flex>
                                            <v-menu
                                                v-model="menuDate1"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y																
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                        v-model="fechaterejecucion"
                                                        label="Fecha Terminación"
                                                        prepend-icon="event"
                                                        readonly
                                                        v-on="on"                                                																	
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker 
                                                    v-model="fechaterejecucion" @input="menuDate1 = false" :type="'date'"
                                                >
                                                </v-date-picker>
                                            </v-menu>
                                        </v-flex>
                                    </v-col>
                                    <v-col>                                                        
                                        <v-flex>										
                                            <v-text-field v-model="tiempoejecucion" type="number" label="Tiempo Ejec. (Dias)"  
                                                            readonly>
                                            </v-text-field>															
                                        </v-flex> 
                                    </v-col>
                                </v-row>

                                <v-row>
                                    <v-col>
                                        <v-flex>										
                                            <v-text-field v-model="cofinanciado" 
                                                label="Cofinanciado"                                                     
                                                :messages="calculaTasa(cofinanciado)"
                                                :prefix="simbolomoneda"
                                                @blur="formatearValor(cofinanciado,'cofinanciado')"
                                            >
                                            </v-text-field>
                                            
                                        </v-flex>
                                    </v-col>
                                    <v-col>    
                                        <v-flex>										
                                            <v-text-field v-model="contrapartida"
                                                label="Contrapartida"                                                     
                                                :messages="calculaTasa(contrapartida)"
                                                :prefix="simbolomoneda"
                                                @blur="formatearValor(contrapartida,'contrapartida')"
                                            >
                                            </v-text-field>
                                        
                                        </v-flex>
                                    </v-col>

                                    <v-col>
                                        <v-flex>										
                                            <v-text-field v-model="totalizar" 
                                                label="Valor Total"                                                      
                                                :readonly="true"
                                                :messages="calculaTasa(totalizar)"
                                                :prefix="simbolomoneda"                                                                                                
                                            >
                                            </v-text-field>                                   
                                        </v-flex>
                                    </v-col>

                                    <v-col>
                                        <v-flex>										
                                            <v-text-field v-model="totaldinero" 
                                                label="Total en Dinero"                                                     
                                                :messages="calculaTasa(totaldinero)"
                                                :prefix="simbolomoneda"
                                                @blur="formatearValor(totaldinero,'totaldinero')"
                                            >
                                            </v-text-field>                                   
                                        </v-flex>
                                    </v-col>

                                    <v-col>    
                                        <v-flex>										
                                            <v-text-field v-model="totalespecie" 
                                                label="Total en Especie"                                                    
                                                :messages="calculaTasa(totalespecie)"
                                                :prefix="simbolomoneda"
                                                @blur="formatearValor(totalespecie,'totalespecie')"
                                            >
                                            </v-text-field>                                   
                                        </v-flex>  
                                    </v-col>
                                </v-row>    
							</v-form>									
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>
        </v-dialog>

        <v-dialog v-model="dialog_del" width="550">

            <v-card>

                <v-card-title>
                    <span class="headline red--text">Eliminar Otro Si</span>
                </v-card-title>

                <v-card-text>					
                    ¿Esta seguro de eliminar el Otro Si seleccionado?.					
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark text @click="dialog_del=false">Cancelar</v-btn>
                    <v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
                </v-card-actions>

            </v-card>

        </v-dialog>
    </v-container>    
</template>

<script>
import proyectosotrosiService from "../servicios/ProyectosOtrosiService"
import ProyectosService from "../servicios/ProyectosService"

export default {
    name: 'OtroSi',
    props: ['proyecto','readonly'],
    data (){

        return {
            loading: false,
            dialog:false,
            edit:-1,
            dialog_del:false,				
            processing:false,
            formTitle:'',
            itemactual:'',          
            valid:false,    
            fechasuscripcion:'',
            fechaincorporacion:'',
            fechaterejecucion:'',    
            tiempo:0,
            cofinanciado:0,
            contrapartida:0,
            totaldinero:0,
            totalespecie:0,

            tasa:'',
            convenioproyecto:'',
			nombreproyecto:'',
			codigocoordinador:'',

            menuDate:false,
            menuDate1:false,
            menuDate2:false,

            simbolomoneda:'',
            
            data:[],

            headers: [
                { text: 'Fecha Inicio', value: 'fechasuscripcion',sortable: false,align: 'left'},                 
                {
                    text: 'Fecha Incorpor.',
                    align: 'left',
                    sortable: false,
                    value: 'fechaincorporacion',
                },
                { text: 'Fecha Term. Ejec.', value: 'fechaterejecucion',sortable: false,align: 'left'},
                { text: 'Tiempo Ejec. (Dias)', value: 'tiempo',sortable: false,align: 'left'},
                { text: 'Coofinanciado', value: 'cofinanciado',sortable: false,align: 'left'},
                { text: 'Contrapartida', value: 'contrapartida',sortable: false,align: 'left'},
                { text: 'Valor Total', value: 'valortotal',sortable: false,align: 'left'},
                { text: 'Total en Dinero', value: 'totaldinero',sortable: false,align: 'left'},
                { text: 'Total en Especie', value: 'totalespecie',sortable: false,align: 'left'},
                { text: 'Accion', value: 'action',sortable: false,align: 'left'}          
            ],

            rules: {
                required: value => !!value || 'Campo requerido.',
                valor: value => value>0 || 'El Valor debe ser mayor a 0.',
                minDate: value => value < new Date().toISOString() || 'La fecha no puede ser superior al dia de hoy',
                maxDate: value => value >= new Date().toISOString() || 'La fecha no puede ser inferior al dia de hoy'            
            }	

        }
    },

    methods: {

        showMessage (snack, time, color, text) {

           this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },
        
        envioNotificaciones(mensajenotificacion,asuntocorreo, mensajecorreo){
            
            this.$emit('envioNotificaciones', {mensajenotificacion: mensajenotificacion,asuntocorreo: asuntocorreo, mensajecorreo: mensajecorreo})

        },            

        resetForm () {

            this.codigo='0'           
            this.fechasuscripcion=''
            this.fechaterejecucion=''
            this.fechaincorporacion=''           
            this.valortotal=0            
            this.fuentefinanciacion=''
            this.cofinanciado=0
            this.contrapartida=0
            this.totaldinero=0
            this.totalespecie=0                    	
            this.tiempo='0'
        },
        
        cerrarDialogo(){

            this.resetForm()
            this.dialog = false
            this.edit=-1
        },

        calculaTasa(valor){             

            var nuevoVal = this.limpiarMoneda(valor)
            var tasaVal = this.tasa
            var total = 0
            var valFormato = ''

            if(tasaVal == 0)
                total = nuevoVal					
            else
                total = (nuevoVal * tasaVal)

            valFormato = '$ ' + this.number_format(total,2)

            return valFormato

        },

        getTasa(){

            this.tasa = this.codigomoneda.tasa
            this.simbolomoneda = this.codigomoneda.simbolo

        },
        
        traerDataProyecto(){

            var _this = this
           
            _this.convenioproyecto = ''
            _this.nombreproyecto = ''
            _this.codigocoordinador = ''
            _this.tasa = 0

            ProyectosService.getDataXId(this.proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.convenioproyecto = res.data.data[0].convenio
                            _this.nombreproyecto = res.data.data[0].nombre
                            _this.codigocoordinador = res.data.data[0].codigocoordinador
                            _this.tasa = res.data.data[0].tasa

                        }

                    }
                    
                    _this.loading = false                
                   
                    
            }).catch(function(err) {

                    
            })                

        },

        traerdata(proyecto){

            var _this = this
            this.loading = true

            proyectosotrosiService.getDataXProyecto(proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.data = res.data.data 

                        }  else {
                            
                            _this.data = []
                        
                        }

                    } else {                        	

                        _this.data = []    
                                                           	
                    }    
                    _this.loading = false                
                    
            }).catch(function(err) {

                    _this.data = []

                    _this.loading = false                
                
            })

        },

        deleteItem(){
            
            var _this = this
            this.loading = true            

            proyectosotrosiService.DelData(_this.proyecto,_this.itemactual.codigo)
                .then(function(res) {

                    if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó el Otro Si con éxito')

                        _this.del_item = ''	              	  		
                        _this.traerdata(_this.proyecto)
                        _this.dialog_del = false
                        
                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ EL OTRO SI CON FECHA DE INICIO:' + _this.itemactual.fechasuscripcion + 
                                                ', FECHA DE INCORPORACION:' + _this.itemactual.fechaincorporacion + 
                                                ', FECHA TERMINACION EJECUCION: ' +  _this.itemactual.fechaterejecucion + 
                                                ', VALOR TOTAL: ' + _this.itemactual.valortotal +
                                                '. QUE PERTENECE AL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + ' Y NOMBRE: ' + 
                                                _this.nombreproyecto)

                        var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se eliminó el Otro Si con Fecha de Inicio : '" + _this.itemactual.fechasuscripcion + 
                                            "', Fecha de Incoprporación: '" + _this.itemactual.fechaincorporacion +
                                            "', Fecha de Terminación Ejecucion: '" + _this.itemactual.fechaterejecucion +
                                            "', Valor Total: '" + _this.itemactual.valortotal + 
                                            "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                        var mensajenotifica = "Se eliminó el Otro Si con Fecha de Inicio : '" + _this.itemactual.fechasuscripcion + 
                                            "', Fecha de Incoprporación: '" + _this.itemactual.fechaincorporacion +
                                            "', Fecha de Terminación Ejecucion: '" + _this.itemactual.fechaterejecucion +
                                            "', Valor Total: '" + _this.itemactual.valortotal +  
                                            "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                        _this.envioNotificaciones(mensajenotifica,'Eliminación de otro si del Proyecto',mensajecorreo)                                 

                    } else {	                                         	

                        _this.showMessage(true,3000,'error',res.response.data.message) 	                  	
                    } 	                   
                    _this.del_item = ''						
                    _this.loading = false	                 
                    
            }).catch(function(err) {

                _this.showMessage(true,3000,'error',err)	    
                _this.loading = false          	
                
            })

        },        

        validaSave(){

            if(this.itemactual.fechasuscripcion == this.fechasuscripcion && this.itemactual.fechaterejecucion == this.fechaterejecucion &&
                this.itemactual.fechaincorporacion == this.fechaincorporacion && this.itemactual.cofinanciado == this.cofinanciado && 
                this.itemactual.contrapartida == this.contrapartida && this.itemactual.totaldinero == this.totaldinero && 
                this.itemactual.totalespecie == this.totalespecie){

                return false

            } else {

                return true

            }	
        },
            
        saveitem(){            
            
            this.loading = true           
            var _this = this

            var datbit = ''

            var data = {codigo:this.codigo,proyecto:this.proyecto,fechasuscripcion:this.fechasuscripcion, fechaterejecucion:this.fechaterejecucion,
                        fechaincorporacion:this.fechaincorporacion,valortotal: this.limpiarMoneda(this.totalizar),
                        cofinanciado:this.limpiarMoneda(this.cofinanciado),contrapartida:this.limpiarMoneda(this.contrapartida),
                        totaldinero:this.limpiarMoneda(this.totaldinero),totalespecie:this.limpiarMoneda(this.totalespecie),tiempo:this.tiempoejecucion}
            
            let ValidaFechas = this.validaFechas()
            if(ValidaFechas != ''){

                this.showMessage(true,5000,'error',ValidaFechas)
                this.loading = false
                return
            }

            let validarcontrpartida = this.validarTotalContrapartida()
            if(validarcontrpartida != ''){

                this.showMessage(true,5000,'error',validarcontrpartida)
                this.loading = false
                return
            }
                
            if(this.edit){

                var valida = this.validaSave()

                if(!valida){

                    this.showMessage(true,3000,'error','No hay datos para actualizar')
                    this.loading = false
                    return;
                }

                datbit = ''

                if (this.itemactual.fechasuscripcion != this.fechasuscripcion)
                    datbit += 'Fecha Inicio Proyecto: ' + this.itemactual.fechasuscripcion + ' a ' + this.fechasuscripcion					

                if (this.itemactual.fechaincorporacion != this.fechaincorporacion) {
                    datbit += datbit == '' ? 'Fecha de Incorporación: ' + this.itemactual.fechaincorporacion + ' a ' + this.fechaincorporacion : 
                                ', Fecha de Incorporación: ' + this.itemactual.fechaincorporacion + ' a ' + this.fechaincorporacion 
                }					
                
                if (this.itemactual.fechaterejecucion != this.fechaterejecucion) {
                    datbit += datbit == '' ? 'Fecha Terminación Ejecución: ' + this.itemactual.fechaterejecucion + ' a ' + this.fechaterejecucion : 
                                ', Fecha Terminación Ejecución: ' + this.itemactual.fechaterejecucion + ' a ' + this.fechaterejecucion 
                }

                if (this.itemactual.cofinanciado != this.cofinanciado) {
                    datbit += datbit == '' ? 'Valor Cofinanciado: ' + this.itemactual.cofinanciado + ' a ' + this.cofinanciado : 
                                ', Valor Cofinanciado: ' + this.itemactual.cofinanciado + ' a ' + this.cofinanciado 
                }

                if (this.itemactual.contrapartida != this.contrapartida) {
                    datbit += datbit == '' ? 'Valor Contrapartida: ' + this.itemactual.contrapartida + ' a ' + this.contrapartida : 
                                ', Valor Contrapartida: ' + this.itemactual.contrapartida + ' a ' + this.contrapartida 
                }

                if (this.itemactual.contrapartida != this.contrapartida) {
                    datbit += datbit == '' ? 'Total en Dinero: ' + this.itemactual.totaldinero + ' a ' + this.totaldinero : 
                                ', Total en Dinero: ' + this.itemactual.totaldinero + ' a ' + this.totaldinero 
                }

                if (this.itemactual.contrapartida != this.contrapartida) {
                    datbit += datbit == '' ? 'Total en Especies: ' + this.itemactual.totalespecie + ' a ' + this.totalespecie : 
                                ', Total en Especies: ' + this.itemactual.totalespecie + ' a ' + this.totalespecie 
                }

                datbit = 'CODIGO: ' + this.codigo + ' (' + datbit + ')'

            } else {

                datbit += 'Fecha Inicio Proyecto: ' + this.fechasuscripcion + ', Fecha de Incorporación: ' + 
                          this.fechaincorporacion + ', Fecha Terminación Ejecución: ' + this.fechaterejecucion + ', Valor Cofinanciado: ' + 
                          this.cofinanciado + ', Valor Contrapartida: ' + this.contrapartida + ', Total en Dinero: ' + this.totaldinero + 
                          ', Total en Especies: ' + this.totalespecie
            }
           
            proyectosotrosiService.guardarData(data)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''
                            
                            if(_this.edit){
								mensaje = 'Actualizó'
								accbitacora = 'ACTUALIZACION'
							} else {
								mensaje = 'Agregó'
								accbitacora = 'CREACION'
                            }
                                
	              	  		_this.showMessage(true,3000,'success','Se ' + mensaje + ' el Otro Si con éxito')             	  						
							
                            _this.agregaBitacora(accbitacora,datbit) 
                            
                            var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se " + mensaje + " el Otro Si para el Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                            var mensajenotifica = "Se " + mensaje + " el Otro Si para el Proyecto con # de Convenio " + 
                                                _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                            _this.envioNotificaciones(mensajenotifica,'Se ' + mensaje + ' el Otro Si del Proyecto',mensajecorreo)

                            _this.traerdata(_this.proyecto)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

        },

        number_format(amount, decimals) {

            amount += ''; // por si pasan un numero en vez de un string
            amount = parseFloat(amount.replace(/[^0-9\.]/g, '')) // elimino cualquier cosa que no sea numero o punto

            decimals = decimals || 0 // por si la variable no fue fue pasada

            // si no es un numero o es igual a cero retorno el mismo cero
            if (isNaN(amount) || amount === 0) 
                return parseFloat(0).toFixed(decimals)

            // si es mayor o menor que cero retorno el valor formateado como numero
            amount = '' + amount.toFixed(decimals)

            var amount_parts = amount.split('.'),
                regexp = /(\d+)(\d{3})/

            while (regexp.test(amount_parts[0]))
                amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2')

            return amount_parts.join(',')
        },
        
        formatearValor(valor,NomVariable){

            let valoractual = valor
            valoractual = this.limpiarMoneda(valoractual)

            valoractual = this.number_format(valoractual,2)

            switch (NomVariable) {
                case 'cofinanciado':
                    
                    this.cofinanciado = valoractual
                    break

                case 'contrapartida':
                    
                    this.contrapartida = valoractual
                    break

                case 'totaldinero':
                    
                    this.totaldinero = valoractual
                    break
                
                case 'totalespecie':
                    
                    this.totalespecie = valoractual
                    break

                default:
                    break
            }
            
        },

        limpiarMoneda(val){

            var nuevoval = val.toString().replace(/[$.]/gi,'')
            nuevoval = nuevoval.replace(/[,]/gi,'.')

            return nuevoval.trim()				
        },

        /******************************** VALIDACIONES ***************************************
        **************************************************************************************/

        validaFechas(){				

            if(this.fechasuscripcion == '' || this.fechaincorporacion == '' || this.fechaterejecucion == '')
                return ''

            let FecSuscripcion = new Date(this.fechasuscripcion)
            let FecIncorporacion = new Date(this.fechaincorporacion)
            let FecTerminacion = new Date(this.fechaterejecucion)

            if(FecTerminacion <= FecSuscripcion)
                return 'La Fecha de Terminación debe ser superior a la Fecha de Inicio'

            if(FecTerminacion <= FecIncorporacion)	
                return 'La Fecha de Terminación debe ser superior a la Fecha de Incorporación'

            return ''	


        },

        validarTotalContrapartida(){

            let totalcontrapartida = parseFloat(this.limpiarMoneda(this.contrapartida))
            let totdinero = parseFloat(this.limpiarMoneda(this.totaldinero))
            let totespecie = parseFloat(this.limpiarMoneda(this.totalespecie))
            let totalbase = totdinero + totespecie

            if(totalbase > totalcontrapartida){
                return 'El Total en Especie y en Dinero, no puede superar el valor de la Contrapartida'
            }

            return ''
        },
                
        agregaBitacora(accion, detalle){              

            var data = {modulo:'OTRO SI PROYECTOS',accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        },

    },

    watch: {

        edit: function (val) {

            if(val=='1' || val=='2')
            {

                this.formTitle = val=='1' ? 'Editar' : 'Detalle (Solo Consulta)'

                this.codigo = this.itemactual.codigo                
                this.fechasuscripcion = this.itemactual.fechasuscripcion
                this.fechaterejecucion = this.itemactual.fechaterejecucion
                this.fechaincorporacion = this.itemactual.fechaincorporacion               
                this.valortotal = this.number_format(this.itemactual.valortotal,2)               
                this.fuentefinanciacion = this.number_format(this.itemactual.fuentefinanciacion,2)
                this.cofinanciado = this.number_format(this.itemactual.cofinanciado,2)
                this.contrapartida = this.number_format(this.itemactual.contrapartida,2)
                this.totaldinero = this.number_format(this.itemactual.totaldinero,2)
                this.totalespecie = this.number_format(this.itemactual.totalespecie,2)
                this.tiempo = this.itemactual.tiempo               
                this.tasa = this.itemactual.tasa		
                this.simbolomoneda = this.itemactual.moneda	

            } else{

                this.resetForm()
                this.formTitle = 'Nuevo'                
            }			   
        },

        proyecto: function (val) {

            if(val!=0){
                this.traerdata(val)
                this.traerDataProyecto()
            }
        },

    },
    
    computed: {

        totalizar: function () {
            
            let valcofinanciado = this.limpiarMoneda(this.cofinanciado)
            let valcontrapartida = this.limpiarMoneda(this.contrapartida)

            let total = parseFloat(valcofinanciado) + parseFloat(valcontrapartida)
            this.valortotal = total
            return this.number_format(total,2)
        },

        tiempoejecucion: function(){

            if(this.fechasuscripcion != "" && this.fechaterejecucion != ""){
                var fecha1 = new Date(this.fechaterejecucion)
                var fecha2 = new Date(this.fechasuscripcion)

                let diferencia = fecha1.getTime() - fecha2.getTime()
                var dias = diferencia / (1000*60*60*24)

                this.tiempo = dias

                return dias

            } else {

                this.tiempo = 0
                return 0

            }

        }
    },
        
    mounted() {
        
        this.traerDataProyecto()
        this.traerdata(this.proyecto)

    },   

}
</script>

<style>

</style>