<template>

<v-container fluid>
    <v-row dense>

        <v-col sm9>

            <v-card
                color="transparent"
                height="200"
            >                
                <v-card-text>
                    <v-select
                        :items="arrObjetivos"
                        item-value="codigo"
                        item-text="descripcion"
                        v-model="objetivo"
                        :return-object="true"  
                        label="Objetivos" 
                        @change="traerdata(objetivo.codigo,objetivo.descripcion)"                      										
                    >									
                    </v-select>
                </v-card-text>    
            </v-card>    
        </v-col>

        <v-col sm3>
            <v-card
                color="transparent"
                height="100"
                class="flexcard"
            >   
                <v-card-text class="grow"></v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>                
                    <v-btn color="primary" text @click="calcularTiempo" v-show="objetivo != ''">Calculo Meses</v-btn>
                </v-card-actions>
            </v-card>
                    <!--<v-btn color="primary" text @click="calcularTiempo">Calculo Meses</v-btn>-->


        </v-col>    
    </v-row>
    <v-row dense>
        <v-col sm12>
            <v-card
                color="transparent"
                height="400"
            >                
                <v-card-text>
                   <v-data-table :headers="headers" :items="dataseg" :items-per-page="3">                       
                        
                        <template v-slot:item.mes1="{ item }">
                            <v-text-field v-model="item.mes1" 
                                type="number"
                                min="0"
                                suffix=" %"                                
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes2="{ item }">
                            <v-text-field v-model="item.mes2" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes3="{ item }">
                            <v-text-field v-model="item.mes3" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes4="{ item }">
                            <v-text-field v-model="item.mes4" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes5="{ item }">
                            <v-text-field v-model="item.mes5" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes6="{ item }">
                            <v-text-field v-model="item.mes6" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes7="{ item }">
                            <v-text-field v-model="item.mes7" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes8="{ item }">
                            <v-text-field v-model="item.mes8" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes9="{ item }">
                            <v-text-field v-model="item.mes9" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes10="{ item }">
                            <v-text-field v-model="item.mes10" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes11="{ item }">
                            <v-text-field v-model="item.mes11" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes12="{ item }">
                            <v-text-field v-model="item.mes12" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>

                        <template v-slot:item.mesk1="{ item }">
                            <v-text-field v-model="item.mesk1" 
                                type="number"
                                min="0"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk2="{ item }">
                            <v-text-field v-model="item.mesk2" 
                                type="number"
                                min="0"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk3="{ item }">
                            <v-text-field v-model="item.mesk3" 
                                type="number"
                                min="0"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk4="{ item }">
                            <v-text-field v-model="item.mesk4" 
                                type="number"
                                min="0"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk5="{ item }">
                            <v-text-field v-model="item.mesk5" 
                                type="number"
                                min="0"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk6="{ item }">
                            <v-text-field v-model="item.mesk6" 
                                type="number"
                                min="0"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk7="{ item }">
                            <v-text-field v-model="item.mesk7" 
                                type="number"
                                min="0"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk8="{ item }">
                            <v-text-field v-model="item.mesk8" 
                                type="number"
                                min="0"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk9="{ item }">
                            <v-text-field v-model="item.mesk9" 
                                type="number"
                                min="0"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk10="{ item }">
                            <v-text-field v-model="item.mesk10" 
                                type="number"
                                min="0"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk11="{ item }">
                            <v-text-field v-model="item.mesk11" 
                                type="number"
                                min="0"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk12="{ item }">
                            <v-text-field v-model="item.mesk12" 
                                type="number"
                                min="0"
                            >
                            </v-text-field>
                        </template>

                            <!--
                                
                                <thead>
                                <tr>
                                    <th>Año</th>
                                    <th>Tipo</th>
                                    <th>Enero</th>
                                    <th>Febrero</th>
                                    <th>Marzo</th>
                                    <th>Abril</th>
                                    <th>Mayo</th>
                                    <th>Junio</th>
                                    <th>Julio</th>
                                    <th>Agosto</th>
                                    <th>Septiembre</th>
                                   <th>Octubre</th>
                                    <th>Noviembre</th>
                                    <th>Diciembre</th>
                                </tr>
                            </thead>-->    
                            <!--
                                <template v-slot:body="{ items }">
                                <tbody>
                                <tr v-for="item in items" :key="[item.codigoactividad,item.anno]">
                                    <td colspan="13">
                                    <table style="width:100%">
                                        <tr>
                                            <td>Año</td>
                                            <td>Tipo</td>
                                            <td>Enero</td>
                                            <td>Febrero</td>
                                            <td>Marzo</td>
                                            <td>Abril</td>
                                            <td>Mayo</td>
                                            <td>Junio</td>
                                            <td>Julio</td>
                                            <td>Agosto</td>
                                            <td>Septiembre</td>
                                            <td>Octubre</td>
                                            <td>Noviembre</td>
                                            <td>Diciembre</td>
                                        </tr>
                                        <tr>

                                            <td><b>{{ item.anno }}</b></td>
                                            <td><span>% EJEC.</span></td>                                   
                                            <td>
                                                <v-text-field v-model="items.mes1" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mes2" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mes3" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mes4" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mes5" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mes6" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mes7" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mes8" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mes9" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mes10" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mes11" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mes12" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><span>KPI EJEC.</span></td>
                                            <td>
                                                <v-text-field v-model="items.mesK1" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mesK2" 
                                                    type="number"
                                                    min="0"                                           
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mesK3" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mesK4" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </td>
                                        <td>
                                                <v-text-field v-model="items.mesK5" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mesK6" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mesK7" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mesK8" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mesK9" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mesK10" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mesK11" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field v-model="items.mesK12" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </td>
                                        </tr>
                                    </table>
                                    </td>
                                </tr>        
                            </tbody>
                       </template>-->
                        <!--<v-card
                                class="mx-auto"                           
                                tile
                            >
                            <v-list-item two-line>
                                <v-list-item-content>
                                    <v-list-item-title></v-list-item-title>
                                        <v-list-item-subtitle>
                                            <template v-slot:item.mes1="{ items }">
                                                <v-text-field v-model="items.mes1" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mes2="{ item }">
                                                <v-text-field v-model="item.mes2" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mes3="{ item }">
                                                <v-text-field v-model="item.mes3" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mes4="{ item }">
                                                <v-text-field v-model="item.mes4" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mes5="{ item }">
                                                <v-text-field v-model="item.mes5" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mes6="{ item }">
                                                <v-text-field v-model="item.mes6" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mes7="{ item }">
                                                <v-text-field v-model="item.mes7" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mes8="{ item }">
                                                <v-text-field v-model="item.mes8" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mes9="{ item }">
                                                <v-text-field v-model="item.mes9" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mes10="{ item }">
                                                <v-text-field v-model="item.mes10" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mes11="{ item }">
                                                <v-text-field v-model="item.mes11" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mes12="{ item }">
                                                <v-text-field v-model="item.mes12" 
                                                    type="number"
                                                    min="0"
                                                    suffix=" %"
                                                    :rules="[rules.maxPorcentaje]"
                                                >
                                                </v-text-field>
                                            </template>
                                        </v-list-item-subtitle>
                                        
                                        <v-list-item-subtitle>
                                            <template v-slot:item.mesk1="{ item }">
                                                <v-text-field v-model="item.mesk1" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mesk2="{ item }">
                                                <v-text-field v-model="item.mesk2" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mesk3="{ item }">
                                                <v-text-field v-model="item.mesk3" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mesk4="{ item }">
                                                <v-text-field v-model="item.mesk4" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mesk5="{ item }">
                                                <v-text-field v-model="item.mesk5" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mesk6="{ item }">
                                                <v-text-field v-model="item.mesk6" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mesk7="{ item }">
                                                <v-text-field v-model="item.mesk7" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mesk8="{ item }">
                                                <v-text-field v-model="item.mesk8" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mesk9="{ item }">
                                                <v-text-field v-model="item.mesk9" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mesk10="{ item }">
                                                <v-text-field v-model="item.mesk10" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mesk11="{ item }">
                                                <v-text-field v-model="item.mesk11" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </template>
                                            <template v-slot:item.mesk12="{ item }">
                                                <v-text-field v-model="item.mesk12" 
                                                    type="number"
                                                    min="0"
                                                >
                                                </v-text-field>
                                            </template>
                                        </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        
                            </v-card>
                       </template>-->

                        <!--<template v-slot:item.mes="{ item }">							

                            <span>{{ devolverMes(item.mes) }}</span>

                        </template>

                        <template v-slot:item.esperado="{ item }">
                            <v-text-field v-model="item.esperado" 
                                type="number"
                                min="0"
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>

                        <template v-slot:item.ejecutado="{ item }">
                            <v-text-field v-model="item.ejecutado" 
                                type="number"
                                min="0"
                                :rules="[rules.maxPorcentaje]"
                            >
                            </v-text-field>
                        </template>-->

                        <!--<template v-slot:item.action="{ item }">							
                                    
                            <v-icon
                                small
                                class="mr-5"
                                color="primary" 
                                :disabled="loading"
                                :loading="loading"
                                @click="dialog_del=true,itemactual=item"
                                v-show="!readonly && item.codigo != 0"
                            >
                                delete
                            </v-icon>						
                                                
                        </template>-->

                    </v-data-table>     
                </v-card-text>  
                <v-card-actions>
                    <v-spacer></v-spacer>                
                    <v-btn color="primary" text @click="saveitem" v-show="objetivo != ''">Actualizar Seguimiento</v-btn>
                </v-card-actions>  
            </v-card>    
        </v-col>
    </v-row>

</v-container>        
  
</template>

<script>
import objetivosService from "../servicios/ProyectosObjetivosService"
import proyectosegplanService from "../servicios/ProyectosSegPlanService"
import ProyectosService from "../servicios/ProyectosService"
import proyectosotrosiService from "../servicios/ProyectosOtrosiService"

export default {
    name: 'SeguimientoPlan',
    props: ['proyecto','onoffSeguimiento'],
    data(){

        return {

            loading: false,
            itemactual:'',
            dialog_del:false,
            objetivo:'',
            producto:'',
            itemactual:'',            
            arrObjetivos:[],

            convenioproyecto:'',
			nombreproyecto:'',
            codigocoordinador:'',
            
            fechasuscripcion:'',
            fechaterejecucion:'',

            fechasuscripcionotrosi:'',
            fechaterejecucionotrosi:'',

            nombreobj:'',

            headers: [                
                {
                    text: 'Año',
                    align: 'left',
                    sortable: false,
                    value: 'anno',
                },
                { text: '% Ejec. Ene.', value: 'mes1',sortable: false,align: 'left', width:'100px'},
                { text: '% Ejec. Feb.', value: 'mes2',sortable: false,align: 'left', width:'100px'},
                { text: '% Ejec. Mar.', value: 'mes3',sortable: false,align: 'left', width:'100px'},
                { text: '% Ejec. Abr.', value: 'mes4',sortable: false,align: 'left', width:'100px'},
                { text: '% Ejec. May.', value: 'mes5',sortable: false,align: 'left', width:'100px'},
                { text: '% Ejec. Jun.', value: 'mes6',sortable: false,align: 'left', width:'100px'},
                { text: '% Ejec. Jul.', value: 'mes7',sortable: false,align: 'left', width:'100px'},
                { text: '% Ejec. Ago.', value: 'mes8',sortable: false,align: 'left', width:'100px'},
                { text: '% Ejec. Sep.', value: 'mes9',sortable: false,align: 'left', width:'100px'},
                { text: '% Ejec. Oct.', value: 'mes10',sortable: false,align: 'left', width:'100px'},
                { text: '% Ejec. Nov.', value: 'mes11',sortable: false,align: 'left', width:'100px'},                    
                { text: '% Ejec. Dic.', value: 'mes12',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Ene.', value: 'mesk1',sortable: false,align: 'left', width:'100px'},                    
                { text: 'Kpi Feb.', value: 'mesk2',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Mar.', value: 'mesk3',sortable: false,align: 'left', width:'100px'},                
                { text: 'Kpi Abr.', value: 'mesk4',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Mayo', value: 'mesk5',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Jun.', value: 'mesk6',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Jul.', value: 'mesk7',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Ago.', value: 'mesk8',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Sep.', value: 'mesk9',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Oct.', value: 'mesk10',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Nov.', value: 'mesk11',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Dic.', value: 'mesk12',sortable: false,align: 'left', width:'100px'},
            ],
            /*headers: [                
                {
                    text: 'Año',
                    align: 'left',
                    sortable: false                   
                },
                { text: 'Tipo', sortable: false,align: 'left'},
                { text: 'Enero', sortable: false,align: 'left'},
                { text: 'Febrero', sortable: false,align: 'left'},
                { text: 'Marzo',sortable: false,align: 'left'},
                { text: 'Abril', sortable: false,align: 'left'},
                { text: 'Mayo',sortable: false,align: 'left'},
                { text: 'Junio', sortable: false,align: 'left'},
                { text: 'Julio', sortable: false,align: 'left'},
                { text: 'Agosto',sortable: false,align: 'left'},
                { text: 'Septiembre',sortable: false,align: 'left'},
                { text: 'Octubre', sortable: false,align: 'left'},                    
                { text: 'Noviembre',sortable: false,align: 'left'},
                { text: 'Diciembre',sortable: false,align: 'left'},
            ],*/
            dataseg: [],
            rules: {                
                maxPorcentaje: value => value < 100 || 'El % no puede mayor a 100'
            
            }
        }
    },

    methods: {

        showMessage (snack, time, color, text) {

           this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },
        
        envioNotificaciones(mensajenotificacion,asuntocorreo, mensajecorreo){

            var coordinador = ''

            if(typeof this.codigocoordinador == 'object'){
                coordinador = this.codigocoordinador.codigo                
            } else {
                coordinador = this.codigocoordinador                
            }

            this.$root.$emit('envioNotificaciones', {codigopersona: coordinador, mensajenotificacion: mensajenotificacion, 
                                                        asuntocorreo: asuntocorreo, mensajecorreo: mensajecorreo})

        },      

        devolverMes(nummes){



            switch (nummes) {
                case 1:

                    return 'ENERO'
                    break

                case 2:

                    return 'FEBRERO'
                    break

                case 3:
                    
                    return 'MARZO'
                    break

                case 4:
                    
                    return 'ABRIL'
                    break    

                case 5:
                    
                    return 'MAYO'
                    break    

                case 6: 
                    
                    return 'JUNIO'
                    break

                case 7:
                    
                    return 'JULIO'
                    break

                case 8:
                    
                    return 'AGOSTO'
                    break

                case 9:
                    
                    return 'SEPTIEMBRE'
                    break

                case 10:
                    
                    return 'OCTUBRE'
                    break

                case 11:
                    
                    return 'NOVIEMBRE'
                    break

                case 12:
                    
                    return 'DICIEMBRE'
                    break

                default:
                    break
            }
        },

        calcularTiempo(){

            var FechaInicio
            var FechaFin
            var aF1
            var aF2
            var numMeses = 0

            if(this.fechasuscripcionotrosi != '' &&  this.fechaterejecucionotrosi != ''){

                aF1 = this.fechasuscripcionotrosi.split("-")
                aF2 = this.fechaterejecucionotrosi.split("-")

            } else {

                aF1 = this.fechasuscripcion.split("-")
                aF2 = this.fechaterejecucion.split("-")

            }
            
            numMeses = parseInt(aF2[0])*12 + parseInt(aF2[1]) - (parseInt(aF1[0])*12 + parseInt(aF1[1]))

            if (parseInt(aF2[2])<parseInt(aF1[2]))
                numMeses = numMeses - 1            
            
            numMeses += 1

            var mesactual = parseInt(aF1[1])
            var annoactual = parseInt(aF1[0])

            for (let index = 1; index <= numMeses; index++) {                

                var longitud = this.dataseg.length
                var encontrado = 0
                var codigoobjetivo = 0

                for(let i=0; i < longitud; i++){

                    if(i==0){

                        codigoobjetivo = this.dataseg[i]

                    }    

                    if (this.dataseg[i].mes == mesactual && this.dataseg[i].anno == annoactual){

                        encontrado = 1
                        break
                    }
                }

                if(encontrado == 0){

                    this.dataseg.push({proyecto: this.proyecto, codigoobjetivo: this.objetivo, txtobjetivo:'', mes:mesactual, 
                                        anno: annoactual, esperado:0, ejecutado:0})

                }

                if(mesactual == 12){
                    mesactual = 1
                    annoactual += 1
                } else {

                    mesactual += 1

                }

            }

        },

        traerDataMaxOtroSi(){

            var _this = this

            _this.fechasuscripcionotrosi = ''
            _this.fechaterejecucionotrosi = ''

            proyectosotrosiService.getDataMaxFechas(this.proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){
                            
                            _this.fechasuscripcionotrosi =  res.data[0].fechasuscripcion
                            _this.fechaterejecucionotrosi =  res.data[0].fechaterejecucion

                        }

                    }                    
                    
            }).catch(function(err) {
                    
            })
        },

        traerDataProyecto(){

            var _this = this
           
            _this.convenioproyecto = ''
            _this.nombreproyecto = ''
            _this.codigocoordinador = '' 
            
            _this.fechasuscripcion = ''
            _this.fechaterejecucion = ''

            ProyectosService.getDataXId(this.proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.convenioproyecto = res.data.data[0].convenio
                            _this.nombreproyecto = res.data.data[0].nombre
                            _this.codigocoordinador = res.data.data[0].codigocoordinador
                            
                            _this.fechasuscripcion =  res.data.data[0].fechasuscripcion
                            _this.fechaterejecucion =  res.data.data[0].fechaterejecucion

                        }

                    }                    
                    
            }).catch(function(err) {
                    
            })
        },

        traerdata(objetivo, descripcion){

            var objseleccionado = ''

            this.nombreobj = descripcion

            if(typeof this.objetivo == 'object'){
                objseleccionado = this.objetivo.codigo                
            } else {
                objseleccionado = this.objetivo                
            }

            this.objetivo = objseleccionado

            var _this = this
            this.loading = true

            proyectosegplanService.BuscarXObjetivo(this.proyecto, objseleccionado)
                .then(function(res) {

                    if (res.request) {                       
                       
                        if(res.data){

                            _this.dataseg = res.data.data                            

                        }  else {
                            
                            _this.dataseg = []
                        
                        }

                    } else {                        	

                        _this.dataseg = []

                    }    
                    _this.loading = false                
                    
            }).catch(function(err) {

                    _this.dataseg = []
                    _this.loading = false                
                
            })

        },

        traerObjetivos(proyecto){

            var _this = this             

            this.dataseg = []

            objetivosService.BuscarXProyecto(proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.arrObjetivos = res.data.data                             
                            
                            _this.dataseg = []

                        }  else {
                            
                            _this.arrObjetivos = []
                        }

                    } else {                        	

                        _this.arrObjetivos = []
                    }
                    
            }).catch(function(err) {

                _this.arrObjetivos = []
                
            })

        },

        saveitem(){            
            
            this.loading = true
            
            var _this = this 

            var objseleccionado = ''
            var nombreobjetivo = ''

            console.log(typeof _this.objetivo)

            if(typeof _this.objetivo == 'object'){
                objseleccionado = _this.objetivo.codigo  
                nombreobjetivo = _this.objetivo.descripcion                              
            } else {
                objseleccionado = _this.objetivo 
                nombreobjetivo = _this.nombreobj                                              
            }

            proyectosegplanService.addupdData(this.dataseg)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,7000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		_this.showMessage(true,3000,'success','Se Actualizó el Seguimiento al Plan de Acción de un Objetivo con éxito')
                                                           

                            _this.traerdata(_this.proyecto, objseleccionado)              	  									
							
                            _this.agregaBitacora('ACTUALIZACION','SE ACTUALIZO EL SEGUIMIENTO AL PLAN DE ACCION DEL OBJETIVO ' +
                                                 nombreobjetivo + 'DEL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + 
                                                 ' Y NOMBRE: ' + _this.nombreproyecto)                                                 
                                                       
                            var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se Actualizó el Seguimiento al Plan de Acción del Objetivo '" + nombreobjetivo + 
                                            "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                            var mensajenotifica = "Se Actualizó el Seguimiento al Plan de Acción del Objetivo '" + nombreobjetivo + 
                                                  "' del Proyecto con # de Convenio " + 
                                                  _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                            _this.envioNotificaciones(mensajenotifica,'Actualización Seguimiento Plan de Acción de un Proyecto',mensajecorreo)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

        },
        
        agregaBitacora(accion, detalle){              

            var data = {modulo:'SEGUIMIENTO PLAN DE ACCION PROYECTOS',accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        },

    },

    watch: {

        proyecto: function (val) {

            if(val!=0){   
                
                this.objetivo = ''
                this.traerObjetivos(val)               

            }
        },

        onoffSeguimiento: function (val) {

            if(val!=0){   
                
                this.objetivo = ''
                this.traerObjetivos(val)               

            }
        },
    },

    mounted() {

        this.objetivo = ''
        this.traerDataProyecto()
        this.traerDataMaxOtroSi(this.proyecto)
        this.traerObjetivos(this.proyecto)

    },
}

</script>

<style>

</style>