<template>
  <v-container fluid>
      <v-row>
          <v-col>
            <h1 @click="armaDataChart()">Total Proyecto: {{ formatearPorcentaje(totproyecto) }} %</h1>	
            <v-treeview                
                :items="items"
                activatable
                :rounded="true"
                v-model="seltrv"               
                open-on-click
                item-key="id"               
            >
            <template slot="label" slot-scope="{ item }">
                <a @click="drawChart(item)">{{ item.name }}</a>
            </template>
            </v-treeview>
            <!--  selectable      
                selected-color="primary"
                selection-type="independent"       -->
          </v-col>      
          <v-col>
               <chart :data.sync = "dataChart" :titulo.sync = "titulo" v-show="charvisible"></chart> 
          </v-col>    
      </v-row>   
   
  </v-container>    
</template>

<script>
import ProyectosService from "../servicios/ProyectosService"

export default {

    name: 'EstadoProy',

    components: {
        'chart' : () => import('@/components/CChartCard.vue')       	  
    },

    props: ['proyecto'],
    data(){

        return {
            loading: false,
            items:[],

            objetivos:[],
            productos:[],
            actividades:[],

            totproyecto:0,

            dataChart:{
                labels: [],
                series: []                
            },

            seltrv: [],

            titulo:'',

            charvisible: 1
        }
    },

    methods: {

        traeData(){

            var _this = this
           
            this.objetivos = []
            this.productos = []
            this.actividades = []
            
            ProyectosService.EstadoActual(this.proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.objetivos = res.data.objetivos 
                            _this.productos = res.data.productos
                            _this.actividades = res.data.actividades
                           
                            var sumaA = _this.objetivos.reduce(function(sum, col) {

                                return sum + col['total']
                            }, 0)

                            _this.totproyecto = sumaA

                            _this.consolidar()
                            _this.armaDataChart()

                        }
                    }                    
                    
            }).catch(function(err) {
                    
            })

        },

        consolidar(){

            this.items = []

            var array = []

            for (let index = 0; index < this.objetivos.length; index++) {
                const element = this.objetivos[index]

                var codigo = element['objetivo']
                var nombre = codigo + '.' + element['txtobjetivo'] + ' : Peso: ' + element['pesoobj'] + ' %' + '  TOTAL:' + this.formatearPorcentaje(element['total']) + ' %' 

                var hijproductos = []               
                var hijactividades = []
                var actualdata = []               

                for (let i = 0; i < this.productos.length; i++) {
                    const elementpro = this.productos[i]

                    if(elementpro['proyobjcod'] == codigo){

                        hijproductos.push({id: codigo + '.' + elementpro['producto'], name: codigo + '.' + elementpro['producto'] + '.' + elementpro['txtproducto'] + ' : Peso: ' + elementpro['pesoprod'] + 
                                            ' %' + ' :  TOTAL: ' + this.formatearPorcentaje(elementpro['total']) + ' %'})

                        hijactividades = []                        

                        for (let j = 0; j < this.actividades.length; j++) {
                            const elementact = this.actividades[j];

                            if(elementpro['proyobjcod'] == elementact['proyobjcod'] && elementpro['producto'] == elementact['prodcod']){

                                hijactividades.push({id: codigo + '.' + elementpro['producto'] + '.' + elementact['actividad'], name: codigo + '.' + elementpro['producto'] + '.' + elementact['codigo'] + '.' + elementact['txtactividad'] + ' : Peso: ' + elementact['pesoact'] + 
                                            ' %' + ' :   TOTAL: ' + this.formatearPorcentaje(elementact['total']) + ' %'})

                            }                            
                        }

                        if (hijactividades.length > 0){
                            
                            actualdata.push({   id: codigo + '.' + elementpro['producto'], name: codigo + '.' + elementpro['producto'] + '.' + elementpro['txtproducto'] + ' : Peso: ' + elementpro['pesoprod'] + 
                                                    ' %' + ' :   TOTAL: ' + this.formatearPorcentaje(elementpro['total']) + ' %',
                                                children:  hijactividades
                                            })                            

                        } else {
                            
                            actualdata.push({   id: codigo + '.' + elementpro['producto'], name: codigo + '.' + elementpro['producto'] + '.' + elementpro['txtproducto'] + ' : Peso: ' + elementpro['pesoprod'] + 
                                                    ' %' + ' :   TOTAL: ' + this.formatearPorcentaje(elementpro['total']) + ' %'
                                            })

                        }
                    }
                    
                }
                
                if(hijproductos.length > 0){
                    
                    
                    array.push({id: codigo, name: nombre,
                         
                                children: actualdata

                            })

                } else {

                    array.push({id: codigo, name: nombre})
                }
                
            }

            this.items = array

        },

        armaDataChart(Nivel=0,Codigo=0){

            var series = []
            var labels = []
            var array = []
            var arrayGen = []

            var nomcampo = '' 

            if (Nivel==0){

                nomcampo = 'objetivo' 
                arrayGen = this.objetivos //.reverse()

            } else if (Nivel==1){

                nomcampo = 'producto' 
                arrayGen = this.productos //.reverse()

            } else if(Nivel==2){

                nomcampo = 'actividad'
                arrayGen = this.actividades //.reverse()

            }
            
            if(Codigo != 0) {

                for (let index = 0; index < arrayGen.length; index++) {
                    const element = arrayGen[index];

                    if(Nivel == 1){

                        if(element.proyobjcod == Codigo)
                            array.push(element)

                    } else if(Nivel == 2){

                        let arrayCodigos = Codigo.split('.')

                        if(element.proyobjcod == arrayCodigos[0] && element.prodcod == arrayCodigos[1])
                            array.push(element)
                    }
                }                
            }    

            else    
                array = arrayGen 

            if(array.length > 0){

                for (let index = 0; index < array.length; index++) {
                    
                    const element = array[index]

                    let nombrelbl = ''

                    if(nomcampo == 'objetivo'){
                        nombrelbl = element[nomcampo]
                        this.titulo = 'OBJETIVOS'

                    } else if (nomcampo == 'producto'){
                        nombrelbl = element['proyobjcod'] + '.' + element['producto'] + '.'
                        this.titulo = 'PRODUCTOS'

                    } else if (nomcampo == 'actividad'){
                        nombrelbl = element['proyobjcod'] + '.' + element['prodcod'] + '.' + element['codigo'] + '.' 
                        this.titulo = 'ACTIVIDADES'   
                    }
                    let nombre = nombrelbl
                    let valor = element['total']

                    labels.push(nombre)
                    series.push(valor)

                }

                this.dataChart.labels = labels
                this.dataChart.series[0] = series
            } else {

                this.dataChart.labels = []
                this.dataChart.series[0] = []

            }
        },
        
        drawChart(item) {

            let codigoactual = item.id
            let total = 0

            var codigo = 0

            for(var i = 0; i < codigoactual.length; i++) {
                if (codigoactual[i] == ".") 
                    total++
            }
            
            if(total == 0){

                codigo = 0                   

            } else {

                codigo = codigoactual

            }

            if(item.children == undefined){

                this.dataChart.labels = []
                this.dataChart.series[0] = []

                this.charvisible = 0

            } else {

                this.charvisible = 1
                this.armaDataChart(total + 1,codigo)

            }            

        },
        
        formatearPorcentaje(valor){

            var NuevoVal = parseFloat(valor).toFixed(2)
            var valorTxt = NuevoVal.toString().replace(".", ",")

            return valorTxt
        }

    },

    watch: {

        proyecto: function (val) {

            if(val!=0){  

                this.traeData()            
              
            }
        },
    },
        
    mounted() {        
        
        this.traeData()
    },
}

</script>

<style>

</style>