<template>
    <v-container fluid>	
        <v-card
            flat
            tile
        >
            <v-card-text>
                <v-data-table :headers="headers" :items="equipo" :items-per-page="5">

                    <template v-slot:item.persona="{ item }">
                        <v-autocomplete
                            :items="arrPersonal"
                            item-value="codigo"
                            item-text="nombrecompleto"
                            v-model="item.persona"						
                            :readonly="readonly"	
                            :return-object="true"									
                        >									
                        </v-autocomplete>                    
                    </template>
                    
                    <template v-slot:item.rol="{ item }">
                        <v-autocomplete
                            :items="roles"
                            item-value="codigo"
                            item-text="descripcion"
                            v-model="item.rol"						
                            :readonly="readonly"	
                            :return-object="true"									
                        >									
                        </v-autocomplete>                    
                    </template>

                    <template v-slot:item.dedicacion="{ item }">
                        <v-text-field v-model="item.dedicacion" 
                            type="number"                         
                            :readonly="readonly"
                            min="0"
                            :rules="[rules.maxHorSemanal]"
                        >
                        </v-text-field>
                    </template>

                    <!--<template v-slot:item.porcentaje="{ item }">
                        <v-text-field v-model="item.porcentaje" 
                            type="number"                         
                            :readonly="readonly"
                            min="0" max="100"
                            :rules="[rules.maxPorcentaje]"
                        >
                        </v-text-field>
                    </template>

                    <template v-slot:item.titular="{ item }">
                        <v-checkbox                                               
                            v-model="item.titular"                        
                            :readonly="readonly"
                            color="primary" 
                            
                        ></v-checkbox>
                    </template>-->

                    <template v-slot:item.vercompromiso="{ item }">							
                                
                        <v-icon
                            small
                            class="mr-5"
                            color="primary" 
                            :disabled="loading"
                            :loading="loading"
                            v-show="item.codigoreal != 0"
                            @click="dialogcompromisos=true,nombreintegrante=item.nombrecompleto,
                                    codigointegrante=item.persona,traerCompromisos(proyecto, item.persona)"                           
                        >
                            list_alt
                        </v-icon>						
                                            
                    </template>

                    <template v-slot:item.action="{ item }">							
                                
                        <v-icon
                            small
                            class="mr-5"
                            color="primary" 
                            :disabled="loading"
                            :loading="loading"
                            @click="dialog_del=true,itemactual=item"
                            v-show="!readonly && item.codigoreal != 0"
                        >
                            delete
                        </v-icon>						
                                            
                    </template>
                </v-data-table>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>                
                <v-btn color="primary" text @click="saveitem" v-show="!readonly">Guardar equipo</v-btn>
            </v-card-actions>

        </v-card> 

        <v-dialog v-model="dialog_del" width="550">

            <v-card>

                <v-card-title>
                    <span class="headline red--text">Eliminar Integrante</span>
                </v-card-title>

                <v-card-text>					
                    ¿Esta seguro de eliminar el Integrante seleccionado?.					
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark text @click="dialog_del=false">Cancelar</v-btn>
                    <v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
                </v-card-actions>

            </v-card>

        </v-dialog>

        <v-dialog v-model="dialogcompromisos" max-width="800" persistent>
            <v-card>
                <v-card-text>
                    <v-row>
                        <v-col sm12>
                            <v-card
                                flat
                                tile
                                min-height="300"
                            >
                                <v-card-text>                                   
                                    <v-data-table :headers="headerscompromisos" :items="compromisos" :items-per-page="5">
                                         <template v-slot:item.descripcion="{ item }">
                                            <v-text-field v-model="item.descripcion" 
                                                :readonly="readonly">
                                            </v-text-field>
                                        </template>

                                        <template v-slot:item.action="{ item }">							
                                
                                            <v-icon
                                                small
                                                class="mr-5"
                                                color="primary" 
                                                :disabled="loading"
                                                :loading="loading"
                                                @click="dialogcompromiso_del=true,itemcompromisoactual=item"
                                                v-show="!readonly && item.codigoreal != 0"
                                            >
                                                delete
                                            </v-icon>						
                                                                
                                        </template>
                                    </v-data-table>
                                </v-card-text>
                            </v-card> 
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <div style="width:100%;text-align:right">
                        <v-btn color="primary" dark text @click="saveitemCompromiso" v-show="!readonly">Actualizar</v-btn>  
                        <v-btn color="primary" dark text @click="dialogcompromisos=false">Cancelar</v-btn>
                    </div>    
                </v-card-actions>
            </v-card>        
        </v-dialog>

        <v-dialog v-model="dialogcompromiso_del" width="550">

            <v-card>

                <v-card-title>
                    <span class="headline red--text">Eliminar Compromiso</span>
                </v-card-title>

                <v-card-text>					
                    ¿Esta seguro de eliminar el Compromiso seleccionado?.					
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark text @click="dialogcompromiso_del=false">Cancelar</v-btn>
                    <v-btn color="red" text @click="deleteCompromiso(itemcompromisoactual.personal)" >Eliminar</v-btn>
                </v-card-actions>

            </v-card>

        </v-dialog>

    </v-container>    
</template>

<script>
import proyectosequipoService from "../servicios/ProyectosEquipoService"
import proyectosequipocompService from "../servicios/ProyectosEquipoCompService"
import personalService from "../servicios/PersonalService"
import rolesService from "../servicios/RolesService"	

export default {
    name: 'Equipo',
    props: ['proyecto','readonly','convenioproyecto','nombreproyecto','codigocoordinador'],
    data (){

        return {
            loading: false,
            dialog_del:false,
            itemactual:'',
            dialogcompromisos:false,
            compromisos:[],
            arrPersonal:[],
            itemcompromisoactual:'',
            dialogcompromiso_del:false,
            codigointegrante:0,
            nombreintegrante:'',
            roles:[],
            equipo: [
                {	
                    codigo:0,	          	
                    rol: '',
                    persona:0,
                    dedicacion:0               
                },
            ],

            headers: [
                { text: 'Integrantes', value: 'persona',sortable: false,align: 'left',width:'40%'},                 
                {
                    text: 'Rol',
                    align: 'left',
                    sortable: false,
                    value: 'rol',
                    width:'40%'
                },
                {
                    text: 'Tiempo Dedicación (Horas Seman.)',
                    align: 'left',
                    sortable: false,
                    value: 'dedicacion',
                    width:'10%'
                },
                /*{
                    text: '% Participación Der. Patri.',
                    align: 'left',
                    sortable: false,
                    value: 'porcentaje',
                },
                {
                    text: 'Titular Der. Prop. Int.',
                    align: 'left',
                    sortable: false,
                    value: 'titular',
                },*/
                { text: 'Compromisos', value: 'vercompromiso',sortable: false,align: 'left',width:'5%'},
                { text: 'Accion', value: 'action',sortable: false,align: 'left',width:'5%'}          
            ],

            headerscompromisos: [
                {
                    text: 'Descripción',
                    align: 'left',
                    sortable: false,
                    value: 'descripcion',
                },
                { text: 'Accion', value: 'action',sortable: false,align: 'left'}
            ],

            rules: {                
                maxPorcentaje: value => value < 100 || 'El % de Participación no puede superar el 100%',
                maxHorSemanal: value => value < 40 || 'Las Horas Semanales del Integrante no puede ser superior a 40'
            
            }		

        }
    },

    methods: {

        showMessage (snack, time, color, text) {

           this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },
        
        envioNotificaciones(mensajenotificacion,asuntocorreo, mensajecorreo){

            this.$emit('envioNotificaciones', {mensajenotificacion: mensajenotificacion,asuntocorreo: asuntocorreo, mensajecorreo: mensajecorreo})

        },
            
        EquipoVacio(){

            var i=0

            this.equipo = []
            for(i;i<30;i++){
                this.equipo.push({codigo:i+1,proyecto:'',descripcion:'',codigoreal:0})
            }
        },

        EquipoCompVacio(){

            var i=0

            this.compromisos = []
            for(i;i<20;i++){
                this.compromisos.push({codigo:i+1,proyecto:this.proyecto,descripcion:'',codigoreal:0,personal:this.codigointegrante})
            }
        },

        traePersonal(){

            var _this = this
            this.loading = true
            
            personalService.getData()
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                        _this.arrPersonal = res.data.data							

                        }  else {
                        
                        _this.arrPersonal = []
                        
                        }

                    } else {                        	

                    _this.arrPersonal = []                        	
                    }    
                    _this.loading = false                
                    
            }).catch(function(err) {

                _this.arrPersonal = []   
                _this.loading = false                
                
            })

        },
            
        traerequipo(proyecto){

            var _this = this
            this.loading = true

            proyectosequipoService.BuscarXProyecto(proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.equipo = res.data.data
                            
                            var totitems = _this.equipo.length							

                            for (let index = totitems; index < 15; index++) {
                                _this.equipo.push({proyecto:'',persona:'0',rol:'',dedicacion:0,codigoreal:0})				   
                            }

                        }  else {
                        
                            _this.equipo = []
                            _this.EquipoVacio()
                        
                        }

                    } else {                        	

                        _this.equipo = []
                        _this.EquipoVacio()                        	
                    }    
                    _this.loading = false                
                    
            }).catch(function(err) {

                    _this.equipo = []  
                    _this.EquipoVacio() 
                _this.loading = false                
                
            })

        },

        traerRoles(){

            var _this = this
           
            rolesService.getData()
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.roles = res.data.data
                            
                        }  else {
                        
                            _this.roles = []

                        }

                    } else {                        	

                        _this.roles = []                        
                    }  

            }).catch(function(err) {

                _this.roles = []
            })

        },

        traerCompromisos(proyecto, personal){            
            
            var _this = this
            
            proyectosequipocompService.BuscarXProyectoPersonal(proyecto, personal)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.compromisos = res.data.data
                            
                            var totalitems = _this.compromisos.length							

                            for (let index = totalitems; index < 20; index++) {
                                _this.compromisos.push({proyecto:_this.proyecto,personal:_this.codigointegrante,
                                                        descripcion:'',codigoreal:0})				   
                            }

                        }  else {
                        
                            _this.compromisos = []
                            _this.EquipoCompVacio()
                        
                        }

                    } else {                        	

                       _this.compromisos = []
                       _this.EquipoCompVacio()                        	
                    }    
                    _this.loading = false                
                    
            }).catch(function(err) {

                _this.compromisos = []
                _this.EquipoCompVacio()
            })

        },

        deleteItem(){
            
            var _this = this
            this.loading = true            

            proyectosequipoService.DelData(_this.proyecto, _this.itemactual.persona)
                .then(function(res) {

                    if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó el Integrante con éxito')

                        _this.del_item = ''	              	  		
                        _this.traerequipo(_this.proyecto)
                        _this.dialog_del = false
                        
                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ EL INTEGRANTE :' + _this.itemactual.nombrecompleto +                                                 
                                                '. QUE PERTENECE AL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + ' Y NOMBRE: ' + 
                                                _this.nombreproyecto)

                        var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se eliminó el Integrante : '" + _this.itemactual.nombrecompleto + "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                        var mensajenotifica = "Se eliminó el Integrante : '" + _this.itemactual.nombrecompleto + "' del Proyecto con # de Convenio " + 
                                                _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                        _this.envioNotificaciones(mensajenotifica,'Eliminación de Integrante del Proyecto',mensajecorreo)                                 

                    } else {	                                         	

                        _this.showMessage(true,3000,'error',res.response.data.message) 	                  	
                    } 	                   
                    _this.del_item = ''						
                    _this.loading = false	                 
                    
            }).catch(function(err) {

                _this.showMessage(true,3000,'error',err)	    
                _this.loading = false          	
                
            })

        },        

        deleteCompromiso(personal){
            
            var _this = this
            this.loading = true            
            
            proyectosequipocompService.DelData(_this.proyecto,personal, _this.itemcompromisoactual.codigo)
                .then(function(res) {

                    if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó el Compromiso con éxito')

                        _this.traerCompromisos(_this.proyecto,personal)                       
                        _this.dialogcompromiso_del = false
                        
                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ EL COMPROMISO :' + _this.itemcompromisoactual.descripcion +                                                 
                                             ' DEL INTEGRANTE: ' + _this.nombreintegrante + '. QUE PERTENECE AL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + ' Y NOMBRE: ' + 
                                                _this.nombreproyecto)

                        var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se eliminó el Compromiso: '" + _this.itemcompromisoactual.descripcion + "' del Integrante : '" + 
                                            _this.nombreintegrante + "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                        var mensajenotifica = "Se eliminó el Compromiso: '" + _this.itemcompromisoactual.descripcion + "' del Integrante : '" + 
                                            _this.nombreintegrante + "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                        _this.envioNotificaciones(mensajenotifica,'Eliminación de Compromiso de Integrante del Proyecto',mensajecorreo)

                    } else {	                                         	

                        _this.showMessage(true,3000,'error',res.response.data.message) 	                  	
                    } 	                   
                                    
                    
            }).catch(function(err) {

                _this.showMessage(true,3000,'error',err)
                
            })

        },

        saveitem(){            

            var totitems = this.equipo.length
            var busDuplicado = []
            
            this.loading = true
            
            var totalporcentaje = 0    

            for (let index = 0; index < totitems; index++) {

                var code = ''
                var nombre = ''
                var role = ''
                var nombrerol = ''

                if(typeof this.equipo[index].persona == 'object'){
                    code = this.equipo[index].persona.codigo
                    nombre = this.equipo[index].persona.nombrecompleto

                } else {
                    code = this.equipo[index].persona
                    nombre = this.equipo[index].nombrecompleto
                }                    

                if(typeof this.equipo[index].rol == 'object'){
                    role = this.equipo[index].rol.codigo
                    nombrerol = this.equipo[index].rol.descripcion

                } else {
                    role = this.equipo[index].rol
                    nombrerol = this.equipo[index].rolnombre
                }

                if(code != '' && code != '0' && code != undefined){
                    
                    if(role == '' || role == '0' || code == undefined){

                        this.showMessage(true,3000,'error','El Integrante ' + nombre + ' no tiene Rol asignado.')

                        this.loading = false                    
                        return

                    } else if (this.equipo[index].dedicacion == '0') {

                        this.showMessage(true,3000,'error','El Integrante ' + nombre + ' no tiene Tiempo de Dedicación.')

                        this.loading = false                    
                        return

                    }

                    totalporcentaje += parseFloat(this.equipo[index].porcentaje)

                    if(busDuplicado.length > 0){
                        for (let i = 0; i < busDuplicado.length; i++) {

                            if(code == busDuplicado[i].persona){

                                var nitem = index + 1
                                this.showMessage(true,3000,'error','El Integrante ' + nombre + ' del item ' + nitem + 
                                                    ' ya se encuentra en el item ' + busDuplicado[i].numero)

                                this.loading = false                    
                                return
                            }
                        }

                        busDuplicado.push( {numero:index+1,persona:code,rol:role,
                                            dedicacion:this.equipo[index].dedicacion, 
                                            porcentaje:this.equipo[index].porcentaje,
                                            titular:this.equipo[index].titular, proyecto:this.proyecto})

                    } else {

                        busDuplicado.push( {numero:index+1,persona:code,rol:role,
                                            dedicacion:this.equipo[index].dedicacion,
                                            porcentaje:this.equipo[index].porcentaje,
                                            titular:this.equipo[index].titular,
                                            proyecto:this.proyecto})

                    }
                }
			   
            }
            
            if(totalporcentaje > 100){

                 this.showMessage(true,3000,'error','El total de % de participación de todos los integrantes no puede superar el 100%')

                this.loading = false                    
                return

            }

            var _this = this

            proyectosequipoService.guardarData(busDuplicado)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		_this.showMessage(true,3000,'success','Se Actualizarón/Agregarón Integrantes al Proyecto con éxito')
             	  		
	              	  		_this.traerequipo(_this.proyecto)	              	  									
							
                            _this.agregaBitacora('ACTUALIZACION/CREACION','SE ACTUALIZARON/AGREGARON INTEGRANTES AL PROYECTO CON # DE CONVENIO: ' 
                                                    + _this.convenioproyecto + ' Y NOMBRE: ' + _this.nombreproyecto)
                            
                            var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se Actualizaron/Crearon Integrantes para el Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                            var mensajenotifica = "Se Actualizaron/Crearon Integrantes para el Proyecto con # de Convenio " + 
                                                _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                            _this.envioNotificaciones(mensajenotifica,'Actualización/Creación de Integrantes del Proyecto',mensajecorreo)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

        },

        saveitemCompromiso(){            

            var totitems = this.compromisos.length
            var busDuplicado = []
            
            this.loading = true

            for (let index = 0; index < totitems; index++) {

                var code = ''
                var descripcion = this.compromisos[index].descripcion
                                
                code = this.compromisos[index].personal                      

                if(descripcion != '' && descripcion != undefined){
                    
                    if(busDuplicado.length > 0){
                        for (let i = 0; i < busDuplicado.length; i++) {

                            if(descripcion == busDuplicado[i].descripcion){

                                var nitem = index + 1
                                this.showMessage(true,3000,'error','La Descripción ' + descripcion + ' del item ' + nitem + 
                                                    ' ya se encuentra en el item ' + busDuplicado[i].codigo)

                                this.loading = false                    
                                return
                            }
                        }

                        busDuplicado.push( {codigo:index+1,personal:code,
                                             descripcion:descripcion,proyecto:this.proyecto})

                    } else {

                        busDuplicado.push( {codigo:index+1,personal:code,
                                             descripcion:descripcion,proyecto:this.proyecto})

                    }
                }
			   
            }
            
            var _this = this

            proyectosequipocompService.guardarData(busDuplicado)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		_this.showMessage(true,3000,'success','Se Actualizarón/Agregarón los Compromisos de un Integrante del Proyecto con éxito')
             	  		
	              	  		_this.traerCompromisos(_this.proyecto,busDuplicado[0].personal)	              	  									
							
                            _this.agregaBitacora('ACTUALIZACION/CREACION','SE ACTUALIZARON/AGREGARON COMPROMISOS PARA EL INTEGRANTE '+ _this.nombreintegrante + 
                                                 'DEL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + ' Y NOMBRE: ' + _this.nombreproyecto)
                            
                            var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se Actualizaron/Crearon Compromisos para el Integrante '" + _this.nombreintegrante + "' para el Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                            var mensajenotifica = "Se Actualizaron/Crearon Compromisos para el Integrante '" + _this.nombreintegrante + "' para el Proyecto con # de Convenio '" + 
                                                    _this.convenioproyecto + "', Nombre: '" + _this.nombreproyecto + "'"

                            _this.envioNotificaciones(mensajenotifica,'Actualización/Creación de Compromisos de Integrantes del Proyecto',mensajecorreo)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

        },

        agregaBitacora(accion, detalle){              

            var data = {modulo:'EQUIPO PROYECTOS',accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        },

    },

    watch: {

        proyecto: function (val) {            

            if(val!=0)
                this.traerequipo(val)
        }

    },
        
    mounted() {
        
        this.traerequipo(this.proyecto)
        this.traePersonal()
        this.traerRoles()

    },   

}
</script>

<style>

</style>