<template>

<v-container fluid>
    <v-row dense>
        <v-col sm12>

            <v-card
                color="transparent"                
            >
                <v-card-title>Programación</v-card-title>                
                <v-card-text>
                    <v-row>
                        <v-col sm12>                                                       
                            <b>Objetivo:</b> {{ txtobjetivo }}
                        </v-col>
                    </v-row>
                    <v-row>        
                        <v-col sm12>
                            <b>Actividad:</b> {{ txtactividad }}
                        </v-col>
                    </v-row>    
                    <v-row>
                        <v-col sm3>
                            <b>Peso:</b> {{ peso }} %
                        </v-col>
                        <v-col sm3>
                            <b>Meta:</b> {{ kpi }}
                        </v-col>
                        <v-col sm6>
                            <b>Descripción Meta:</b> {{ descripcionkpi }}
                        </v-col>
                    </v-row>
                </v-card-text>    
            </v-card>    
        </v-col> 
    </v-row>

    <v-row dense>
        <v-col sm12>
            <v-card
                color="transparent"
                height="400"
            >                
                <v-card-text>
                   <v-btn color="primary" @click="traerdata">Traer Programación</v-btn><br><br>  
                   <v-data-table :headers="headers" :items="dataseg" :items-per-page="3">                       
                        
                        <template v-slot:item.mes1="{ item }">
                            <v-text-field v-model="item.mes1" 
                                type="number"
                                min="0"
                                suffix=" %"                                
                                :rules="[rules.maxPorcentaje]"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes2="{ item }">
                            <v-text-field v-model="item.mes2" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes3="{ item }">
                            <v-text-field v-model="item.mes3" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes4="{ item }">
                            <v-text-field v-model="item.mes4" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes5="{ item }">
                            <v-text-field v-model="item.mes5" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes6="{ item }">
                            <v-text-field v-model="item.mes6" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes7="{ item }">
                            <v-text-field v-model="item.mes7" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes8="{ item }">
                            <v-text-field v-model="item.mes8" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes9="{ item }">
                            <v-text-field v-model="item.mes9" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes10="{ item }">
                            <v-text-field v-model="item.mes10" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes11="{ item }">
                            <v-text-field v-model="item.mes11" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mes12="{ item }">
                            <v-text-field v-model="item.mes12" 
                                type="number"
                                min="0"
                                suffix=" %"
                                :rules="[rules.maxPorcentaje]"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>

                        <template v-slot:item.mesk1="{ item }">
                            <v-text-field v-model="item.mesk1" 
                                type="number"
                                min="0"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk2="{ item }">
                            <v-text-field v-model="item.mesk2" 
                                type="number"
                                min="0"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk3="{ item }">
                            <v-text-field v-model="item.mesk3" 
                                type="number"
                                min="0"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk4="{ item }">
                            <v-text-field v-model="item.mesk4" 
                                type="number"
                                min="0"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk5="{ item }">
                            <v-text-field v-model="item.mesk5" 
                                type="number"
                                min="0"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk6="{ item }">
                            <v-text-field v-model="item.mesk6" 
                                type="number"
                                min="0"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk7="{ item }">
                            <v-text-field v-model="item.mesk7" 
                                type="number"
                                min="0"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk8="{ item }">
                            <v-text-field v-model="item.mesk8" 
                                type="number"
                                min="0"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk9="{ item }">
                            <v-text-field v-model="item.mesk9" 
                                type="number"
                                min="0"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk10="{ item }">
                            <v-text-field v-model="item.mesk10" 
                                type="number"
                                min="0"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk11="{ item }">
                            <v-text-field v-model="item.mesk11" 
                                type="number"
                                min="0"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                        <template v-slot:item.mesk12="{ item }">
                            <v-text-field v-model="item.mesk12" 
                                type="number"
                                min="0"
                                :readonly="readonly"
                            >
                            </v-text-field>
                        </template>
                    </v-data-table>     
                </v-card-text>  
                <v-card-actions>
                    <v-spacer></v-spacer>                
                    <v-btn color="primary" text @click="saveitem" v-show="!readonly && objetivo != ''">Actualizar Programación</v-btn>
                </v-card-actions>  
            </v-card>    
        </v-col>
    </v-row>

</v-container>        
  
</template>

<script>
import proyectoprogplanService from "../servicios/ProyectosProgPlanService"
import ProyectosService from "../servicios/ProyectosService"
import proyectosactividadesService from "../servicios/ProyectosActividadesService"  

export default {
    name: 'ProgramacionPlan',
    props: ['proyecto','objetivo','actividad','peso','kpi','descripcionkpi','txtobjetivo','txtactividad','readonly','activarprogramacion'],
    data(){

        return {

            loading: false,
            itemactual:'',
            dialog_del:false,         
            
            convenioproyecto:'',
			nombreproyecto:'',
            codigocoordinador:'',          

            headers: [                
                {
                    text: 'Año',
                    align: 'left',
                    sortable: false,
                    value: 'anno',
                },
                { text: '% Espe. Ene.', value: 'mes1',sortable: false,align: 'left', width:'100px'},
                { text: '% Espe. Feb.', value: 'mes2',sortable: false,align: 'left', width:'100px'},
                { text: '% Espe. Mar.', value: 'mes3',sortable: false,align: 'left', width:'100px'},
                { text: '% Espe. Abr.', value: 'mes4',sortable: false,align: 'left', width:'100px'},
                { text: '% Espe. May.', value: 'mes5',sortable: false,align: 'left', width:'100px'},
                { text: '% Espe. Jun.', value: 'mes6',sortable: false,align: 'left', width:'100px'},
                { text: '% Espe. Jul.', value: 'mes7',sortable: false,align: 'left', width:'100px'},
                { text: '% Espe. Ago.', value: 'mes8',sortable: false,align: 'left', width:'100px'},
                { text: '% Espe. Sep.', value: 'mes9',sortable: false,align: 'left', width:'100px'},
                { text: '% Espe. Oct.', value: 'mes10',sortable: false,align: 'left', width:'100px'},
                { text: '% Espe. Nov.', value: 'mes11',sortable: false,align: 'left', width:'100px'},                    
                { text: '% Espe. Dic.', value: 'mes12',sortable: false,align: 'left', width:'100px'},
                { text: 'Meta Ene.', value: 'mesk1',sortable: false,align: 'left', width:'100px'},                    
                { text: 'Meta Feb.', value: 'mesk2',sortable: false,align: 'left', width:'100px'},
                { text: 'Meta Mar.', value: 'mesk3',sortable: false,align: 'left', width:'100px'},                
                { text: 'Meta Abr.', value: 'mesk4',sortable: false,align: 'left', width:'100px'},
                { text: 'Meta Mayo', value: 'mesk5',sortable: false,align: 'left', width:'100px'},
                { text: 'Meta Jun.', value: 'mesk6',sortable: false,align: 'left', width:'100px'},
                { text: 'Meta Jul.', value: 'mesk7',sortable: false,align: 'left', width:'100px'},
                { text: 'Meta Ago.', value: 'mesk8',sortable: false,align: 'left', width:'100px'},
                { text: 'Meta Sep.', value: 'mesk9',sortable: false,align: 'left', width:'100px'},
                { text: 'Meta Oct.', value: 'mesk10',sortable: false,align: 'left', width:'100px'},
                { text: 'Meta Nov.', value: 'mesk11',sortable: false,align: 'left', width:'100px'},
                { text: 'Meta Dic.', value: 'mesk12',sortable: false,align: 'left', width:'100px'},
            ],            
            dataseg: [],
            rules: {                
                maxPorcentaje: value => value < 100 || 'El % no puede mayor a 100'
            
            }
        }
    },

    methods: {

        showMessage (snack, time, color, text) {

           this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },
        
        envioNotificaciones(mensajenotificacion,asuntocorreo, mensajecorreo){

            var coordinador = '0'

            /*if(typeof this.codigocoordinador == 'object'){
                coordinador = this.codigocoordinador.codigo                
            } else {
                coordinador = this.codigocoordinador                
            }*/

            this.$root.$emit('envioNotificaciones', {codigopersona: coordinador, mensajenotificacion: mensajenotificacion, 
                                                        asuntocorreo: asuntocorreo, mensajecorreo: mensajecorreo})

        }, 

        traerDataProyecto(){

            var _this = this
           
            _this.convenioproyecto = ''
            _this.nombreproyecto = ''
            _this.codigocoordinador = '' 
            
            _this.fechasuscripcion = ''
            _this.fechaterejecucion = ''

            ProyectosService.getDataXId(this.proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.convenioproyecto = res.data.data[0].convenio
                            _this.nombreproyecto = res.data.data[0].nombre
                            _this.codigocoordinador = res.data.data[0].codigocoordinador
                            
                            _this.fechasuscripcion =  res.data.data[0].fechasuscripcion
                            _this.fechaterejecucion =  res.data.data[0].fechaterejecucion

                        }

                    }                    
                    
            }).catch(function(err) {
                    
            })
        },

        traerdata(){

            var _this = this
            this.loading = true

            proyectoprogplanService.BuscarXObjetivoActividad(this.actividad)
                .then(function(res) {

                    if (res.request) {                       
                       
                        if(res.data){

                            _this.dataseg = res.data

                        }  else {
                            
                            _this.dataseg = []                            
                        
                        }

                    } else {                        	

                        _this.dataseg = []

                    }    

                    _this.traerInfoBase(_this.objetivo, _this.actividad)
                    _this.loading = false                
                    
            }).catch(function(err) {

                    _this.dataseg = []
                    _this.loading = false                
                
            })

        },

        traerInfoBase(codigoobjetivo, codigoactividad){
            
            var _this = this             

            var DatActividad = []

            proyectosactividadesService.FiltroxActividad(codigoactividad)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            DatActividad = res.data.data
                            
                            if(DatActividad.length > 0){

                                let fechaIni = new Date(DatActividad[0]['fechainicio'])
                                let fechafin = new Date(DatActividad[0]['fechafin'])                                

                                let annoini = fechaIni.getFullYear() 
                                let annofin = fechafin.getFullYear()

                                let dataBase = {proyecto: _this.proyecto, objetivo:codigoobjetivo, actividad:codigoactividad,
                                                annoini:annoini,annofin:annofin}

                                proyectoprogplanService.addBasico(dataBase)
                                    .then(function(res) {
                                        
                                        this.traerdata()
                                            
                                    }).catch(function(err) {
        	
                                        
                                    })    

                            }
                            
                        }  else {
                            
                            DatActividad = []
                        }

                    } else {                        	

                        DatActividad = []
                    }
                    
            }).catch(function(err) {

                DatActividad = []
                
            })

        },

        valida(){

            var msg = ''

            //validar % y kpi
            for (let index = 0; index < this.dataseg.length; index++) {
                const totporcentaje = parseFloat(this.dataseg[index].mes1) + parseFloat(this.dataseg[index].mes2) + 
                                      parseFloat(this.dataseg[index].mes3) + parseFloat(this.dataseg[index].mes4) +
                                      parseFloat(this.dataseg[index].mes5) + parseFloat(this.dataseg[index].mes6) +
                                      parseFloat(this.dataseg[index].mes7) + parseFloat(this.dataseg[index].mes8) +
                                      parseFloat(this.dataseg[index].mes9) + parseFloat(this.dataseg[index].mes10) +
                                      parseFloat(this.dataseg[index].mes11) + parseFloat(this.dataseg[index].mes12)
                                      
                const totkpi = parseFloat(this.dataseg[index].mesk1) + parseFloat(this.dataseg[index].mesk2) + 
                                      parseFloat(this.dataseg[index].mesk3) + parseFloat(this.dataseg[index].mesk4) +
                                      parseFloat(this.dataseg[index].mesk5) + parseFloat(this.dataseg[index].mesk6) +
                                      parseFloat(this.dataseg[index].mesk7) + parseFloat(this.dataseg[index].mesk8) +
                                      parseFloat(this.dataseg[index].mesk9) + parseFloat(this.dataseg[index].mesk10) +
                                      parseFloat(this.dataseg[index].mesk11) + parseFloat(this.dataseg[index].mesk12)
                                      
                if (totporcentaje > 100)
                    msg = "El porcentaje programado en el año '" + this.dataseg[index].anno + "' supero el 100%"

                else if(totkpi > this.kpi)
                    msg = "El kpi programado en el año '" + this.dataseg[index].anno + "' supero el total de '" + this.kpi + "'"
                    
                return msg    
            }

        },

        saveitem(){            
           
            this.loading = true
            
            var msg = this.valida()

            if(msg != ''){

                this.showMessage(true,3000,'error',msg)
                this.loading = false
                return

            }

            var _this = this 

            proyectoprogplanService.addupdData(this.dataseg)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,7000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		_this.showMessage(true,3000,'success','Se Actualizó el Seguimiento al Plan de Acción de un Objetivo con éxito')
                                                           

                            _this.traerdata()              	  									
							
                            _this.agregaBitacora('ACTUALIZACION','SE ACTUALIZO LA PROGRAMACION DEL PLAN DE ACCION DEL OBJETIVO ' +
                                                 _this.txtobjetivo + 'DEL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + 
                                                 ' Y NOMBRE: ' + _this.nombreproyecto)                                                 
                                                       
                            var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se Actualizó la Programación del Plan de Acción del Objetivo '" + _this.txtobjetivo + 
                                            "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                            var mensajenotifica = "Se Actualizó la Programación del Plan de Acción del Objetivo '" + _this.txtobjetivo + 
                                                  "' del Proyecto con # de Convenio " + 
                                                  _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                            _this.envioNotificaciones(mensajenotifica,'Actualización Seguimiento Plan de Acción de un Proyecto',mensajecorreo)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

        },
        
        agregaBitacora(accion, detalle){              

            var data = {modulo:'PROGRAMACION PLAN DE ACCION PROYECTOS',accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        },

    },

    watch: {

        proyecto: function (val) {

            if(val!=0){   
                
                 this.traerdata()               

            }
        },

        actividad: function (val) {

            if(val!=0){   
                
                this.traerdata()               

            }
        },

        activarprogramacion: function (val) {

            if(val!=0){   
                
                this.traerdata()               

            }
        },
    },

    mounted() {

        this.traerDataProyecto()
        this.traerdata()      

    },
}

</script>

<style>

</style>