<template>
    <v-container fluid>	
        <v-card
            flat
            tile
        >
            <v-card-text>
                <v-data-table :headers="headersobjetivos" :items="objetivos" :items-per-page="5">

                    <template v-slot:item.descripcion="{ item }">
                        <v-textarea	
                            filled															
                            name="input-5-4"                        
                            v-model="item.descripcion"                        
                            :readonly="readonly"                        
                        ></v-textarea>                    
                    </template>

                    <template v-slot:item.peso="{ item }">
                        <v-text-field v-model="item.peso" 
                            type="number"                         
                            :readonly="readonly"
                            min="0"
                            :rules="[rules.maxPorcentaje]"
                            suffix="%"
                        >
                        </v-text-field>                   
                    </template>
                    
                    <template v-slot:item.action="{ item }">							
                                
                        <v-icon
                            small
                            class="mr-5"
                            color="primary" 
                            :disabled="loading"
                            :loading="loading"
                            @click="dialog_del=true,itemactual=item"
                            v-show="!readonly && item.codigoreal != 0"
                        >
                            delete
                        </v-icon>						
                                            
                    </template>
                </v-data-table>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>                
                <v-btn color="primary" text @click="saveitem" v-show="!readonly">Guardar Objetivos</v-btn>
            </v-card-actions>

        </v-card> 

        <v-dialog v-model="dialog_del" width="550">

            <v-card>

                <v-card-title>
                    <span class="headline red--text">Eliminar Objetivo</span>
                </v-card-title>

                <v-card-text>					
                    ¿Esta seguro de eliminar el Objetivo seleccionado?. Está acción eliminará tambien los productos asociados al objetivo
                    y a su vez, las actividades asociadas a los productos de dicho objetivo.					
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark text @click="dialog_del=false">Cancelar</v-btn>
                    <v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
                </v-card-actions>

            </v-card>

        </v-dialog>
    </v-container>    
</template>

<script>
import proyectosobjetivosService from "../servicios/ProyectosObjetivosService"

export default {
    name: 'Objetivos',
    props: ['proyecto','readonly','convenioproyecto','nombreproyecto','codigocoordinador'],
    data (){

        return {
            loading: false,
            dialog_del:false,
            itemactual:'',
            objetivos: [
                {	
                    codigo:0,	          	
                    descripcion: '',
                    peso:0,
                    codigoreal:0               
                },
            ],

            headersobjetivos: [
                { text: 'No.', value: 'codigo',sortable: false,align: 'left',width: '10%'},                 
                {
                    text: 'Descripción',
                    align: 'left',
                    sortable: false,
                    value: 'descripcion',
                    width: '70%'
                },
                { text: 'Peso', value: 'peso',sortable: false,align: 'left',width: '10%'}, 
                { text: 'Accion', value: 'action',sortable: false,align: 'left',width: '10%'}          
            ],

            rules: {                
                maxPorcentaje: value => value < 100 || 'El % del Peso no puede superar el 100%'
            }

        }
    },

    methods: {

        showMessage (snack, time, color, text) {

           this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },
        
        envioNotificaciones(mensajenotificacion,asuntocorreo, mensajecorreo){

            this.$emit('envioNotificaciones', {mensajenotificacion: mensajenotificacion,
                        asuntocorreo: asuntocorreo, mensajecorreo: mensajecorreo}) 

        },
            
        ObjetivosVacios(){

            var i=0

            this.objetivos = []
            for(i;i<30;i++){
                this.objetivos.push({codigo:i+1,proyecto:'',descripcion:'',codigoreal:0,peso:0})
            }
        },

        traerObjetivos(proyecto){

            var _this = this
            this.loading = true

            proyectosobjetivosService.BuscarXProyecto(proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.objetivos = res.data.data
                            
                            var totitems = _this.objetivos.length							

                            for (let index = totitems; index < 30; index++) {
                                _this.objetivos.push({codigo:index+1,proyecto:'',descripcion:'',codigoreal:0,peso:0})				   
                            }

                        }  else {
                            
                            _this.objetivos = []
                            _this.ObjetivosVacios()
                        
                        }

                    } else {                        	

                        _this.objetivos = []
                        _this.ObjetivosVacios()                        	
                    }    
                    _this.loading = false                
                    
            }).catch(function(err) {

                    _this.objetivos = []  
                    _this.ObjetivosVacios() 
                    _this.loading = false                
                
            })

        },

        deleteItem(){
            
            var _this = this
            this.loading = true            

            proyectosobjetivosService.DelData(_this.itemactual.codigo, _this.proyecto)
                .then(function(res) {

                    if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó el Objetivo con éxito')

                        _this.del_item = ''	              	  		
                        _this.traerObjetivos(_this.proyecto)
                        _this.dialog_del = false
                        
                        _this.OnOffProyObjetivo()

                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ EL OBJETIVO CON CODIGO:' + _this.itemactual.codigo + 
                                                ', DESCRIPCION:' + _this.itemactual.descripcion + 
                                                '. QUE PERTENECE AL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + ' Y NOMBRE: ' + 
                                                _this.nombreproyecto)

                        var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se eliminó el Objetivo : '" + _this.itemactual.descripcion + "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                        var mensajenotifica = "Se eliminó el Objetivo : '" + _this.itemactual.descripcion + "' del Proyecto con # de Convenio " + 
                                                _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                        _this.envioNotificaciones(mensajenotifica,'Eliminación de Objetivos del Proyecto',mensajecorreo)                                 

                    } else {	                                         	

                        _this.showMessage(true,3000,'error',res.response.data.message) 	                  	
                    } 	                   
                    _this.del_item = ''						
                    _this.loading = false	                 
                    
            }).catch(function(err) {

                _this.showMessage(true,3000,'error',err)	    
                _this.loading = false          	
                
            })

        },
        
        OnOffProyObjetivo(){

            let ProyObj = this.$store.getters.getProyObjetivo

            if(ProyObj==0)
                this.$store.commit('setProyObjetivo', 1)
            else
                this.$store.commit('setProyObjetivo', 0)    


        },   

        saveitem(){            

            var totitems = this.objetivos.length
            var busDuplicado = []
            
            this.loading = true

            var pesoact = 0

            for (let index = 0; index < totitems; index++) {

                if(this.objetivos[index].descripcion != ''){

                    var descripcion = this.objetivos[index].descripcion
                    
                    if(busDuplicado.length > 0){
                        for (let i = 0; i < busDuplicado.length; i++) {

                            if(descripcion == busDuplicado[i].descripcion){

                                var nitem = index + 1
                                this.showMessage(true,3000,'error','El Objetivo ' + descripcion + ' del item ' + nitem + 
                                                    ' ya se encuentra en el item ' + busDuplicado[i].codigo)

                                this.loading = false                    
                                return
                            }
                        }

                        busDuplicado.push( {codigo:index+1,descripcion:descripcion,proyecto:this.proyecto,
                                                peso:this.objetivos[index].peso})

                    } else {

                        busDuplicado.push( {codigo:index+1,descripcion:descripcion,proyecto:this.proyecto,
                                            peso:this.objetivos[index].peso})

                    }

                    pesoact += parseFloat(this.objetivos[index].peso)
                }
			   
            }

            if(parseFloat(pesoact) > 100){

                 this.showMessage(true,3000,'error','La suma de los pesos de los objetivos no debe superar el 100%')

                this.loading = false                    
                return

            }

            var _this = this

            proyectosobjetivosService.addupdData(busDuplicado)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		_this.showMessage(true,3000,'success','Se Actualizarón/Agregarón los Objetivos al Proyecto con éxito')
             	  		
	              	  		_this.traerObjetivos(_this.proyecto)	              	  									
							
                            _this.agregaBitacora('ACTUALIZACION/CREACION','SE ACTUALIZARON/AGREGARON OBJETIVOS AL PROYECTO CON # DE CONVENIO: ' 
                                                    + _this.convenioproyecto + ' Y NOMBRE: ' + _this.nombreproyecto)

                            _this.OnOffProyObjetivo()  
                            
                            var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se Actualizaron/Crearon Objetivos para el Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                            var mensajenotifica = "Se Actualizaron/Crearon Objetivos para el Proyecto con # de Convenio " + 
                                                _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                            _this.envioNotificaciones(mensajenotifica,'Actualización/Creación de Objetivos del Proyecto',mensajecorreo)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

        },

        agregaBitacora(accion, detalle){              

            var data = {modulo:'OBJETIVOS PROYECTOS',accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        },

    },

    watch: {

        proyecto: function (val) {            

            if(val!=0)
                this.traerObjetivos(val)
        }

    },
        
    mounted() {
        
        this.traerObjetivos(this.proyecto)

    },   

}
</script>

<style>

</style>