<template>

<v-container fluid>
    <v-row dense>        
        <v-col sm6>
            <v-card
                color="transparent"
                height="100"
            >                
                <v-card-text>
                    <v-select
                        :items="arrObjetivos"
                        item-value="codigo"
                        item-text="descripcion"
                        v-model="objetivo"
                        :return-object="true"  
                        label="Objetivos" 
                        @change="traerProductos(objetivo.codigo)"                      										
                    >									
                    </v-select>
                </v-card-text>    
            </v-card>    
        </v-col>    

        <v-col sm6>
            <v-card
                color="transparent"
                height="100"
            >
                <v-card-text>
                    <v-select
                        :items="arrProductos"
                        item-value="codigo"
                        item-text="descripcion"
                        v-model="producto"
                        :return-object="true"  
                        label="Productos" 
                        @change="traerdata(producto.codigo)"                          										
                    >									
                    </v-select>
                </v-card-text>
            </v-card>    
        </v-col>
    </v-row>

    <v-row dense>
        <v-col sm12>
            <v-card
                color="transparent"
                height="400"
            >                
                <v-card-text>
                   <v-data-table :items="actividades" :items-per-page="2">

                        <template v-slot:item="{ item }">
                            <tr>
                                <td style="width:10%">
                                    <v-text-field label="No." v-model="item.codigo" :readonly="true"></v-text-field>
                                </td>
                                <td style="width:20%">
                                    <v-select
                                        :items="arrTipos"                                       
                                        v-model="item.tipo"                                          
                                        label="Tipo" 
                                        :readonly="readonly"
                                        :clearable="!readonly"            										
                                    >									
                                    </v-select>
                                </td>    
                                <td style="width:36%">                                    
                                    <v-text-field label="Descripción Actividad" v-model="item.descripcion" :readonly="readonly"></v-text-field>                                    
                                </td>
                                <td style="width:7%">
                                    <v-text-field label="Fecha Ini." type="date" v-model="item.fechainicio" :readonly="readonly">
                                    </v-text-field>
                                </td>
                                <td style="width:7%">
                                    <v-text-field label="Fecha Fin" type="date" v-model="item.fechafin" :readonly="readonly">
                                    </v-text-field>
                                </td>
                                <td rowspan="2" style="width:10%">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <v-icon
                                                    small
                                                    class="mr-5"
                                                    color="primary" 
                                                    :disabled="loading"
                                                    :loading="loading"
                                                    @click="dialog_del=true,itemactual=item"
                                                    v-show="!readonly && item.secuencia != 0"
                                                >
                                                    delete
                                                </v-icon>        
                                            </td>    
                                            <td>
                                                <v-icon
                                                    small
                                                    class="mr-5"
                                                    color="primary" 
                                                    :disabled="loading"
                                                    :loading="loading"
                                                    @click="abrirDialogoProgramacion(item)"
                                                    v-show="item.secuencia != 0"
                                                >
                                                    insert_invitation
                                                </v-icon>
                                            </td>
                                        </tr>
                                    </table>            
                                </td>                                    
                            </tr>
                            <tr>                                
                                <td colspan="3">
                                    <v-text-field v-model="item.descripcionkpi"                                 
                                        :readonly="readonly"   
                                        label="Descripción Meta"                             
                                    >
                                    </v-text-field>
                                </td> 
                                <td>
                                    <v-text-field v-model="item.kpi" 
                                        type="number"                         
                                        :readonly="readonly"
                                        label="Meta" 
                                        min="0"                                
                                    >
                                    </v-text-field>
                                </td>     
                                <td>
                                    <v-text-field v-model="item.peso" 
                                        type="number"                         
                                        :readonly="readonly"
                                        min="0"
                                        :rules="[rules.maxPorcentaje]"
                                        suffix=" %"
                                        label="Peso" 
                                    >
                                    </v-text-field>
                                </td>                                                                  
                            </tr>                               
                        </template>
                    </v-data-table>     
                </v-card-text>  
                <v-card-actions>
                    <v-spacer></v-spacer>                
                    <v-btn color="primary" text @click="saveitem" v-show="!readonly && objetivo != '' && producto != ''">Guardar Actividades</v-btn>
                </v-card-actions>  
            </v-card>    
        </v-col>
    </v-row>

    <v-dialog v-model="dialog_del" width="550">

        <v-card>

            <v-card-title>
                <span class="headline red--text">Eliminar Actividad</span>
            </v-card-title>

            <v-card-text>					
                ¿Esta seguro de eliminar la Actividad seleccionada?.					
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" dark text @click="dialog_del=false">Cancelar</v-btn>
                <v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
            </v-card-actions>

        </v-card>

    </v-dialog>

    <v-dialog v-model="programacion" width="1000">

        <v-card>

           <v-card-text>	
                <programacionseg :proyecto.sync = "proyecto" 
                                 :objetivo.sync = "objetivo.codigo" 
                                 :actividad.sync = "itemactual.secuencia" 
                                 :peso.sync = "itemactual.peso"
                                 :kpi.sync = "itemactual.kpi" 
                                 :descripcionkpi.sync = "itemactual.descripcionkpi"
                                 :txtobjetivo.sync = "objetivo.descripcion" 
                                 :txtactividad.sync = "itemactual.descripcion"
                                 :readonly.sync = "readonly"
                                 :activarprogramacion.sync="activarprogramacion">
                </programacionseg>                
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" dark text @click="programacion=false">Cancelar</v-btn>				
            </v-card-actions>
        </v-card>

    </v-dialog>
</v-container>        
  
</template>

<script>
import objetivosService from "../servicios/ProyectosObjetivosService"
import proyectosproductosService from "../servicios/ProyectosProductosService"
import proyectoactividadService from "../servicios/ProyectosActividadesService"
import proyectosotrosiService from "../servicios/ProyectosOtrosiService"
import proyectoService from '../servicios/ProyectosService'
import areasService from "../servicios/AreasService"

export default {
    name: 'Actividades',
    components: {
        'programacionseg' : () => import('@/components/CProyectosProgPlan.vue')			  
    },
    props: ['proyecto','readonly','convenioproyecto','nombreproyecto','codigocoordinador','fechaterejecucion','tasa','activar'],
    data(){

        return {           
            
            programacion:false,
            loading: false,
            itemactual:'',
            dialog_del:false,
            objetivo:'',
            producto:'',
            itemactual:'',

            fechamaxotrosi:'',

            usuarioFinanciera:0,
            usuarioJuridica:0,
            usuarioPlaneacion:0,
            usuarioDirCientifica:0,

            arrObjetivos:[],
            arrProductos:[],
            arrTipos:['ADMINISTRACION','APROVECHAMIENTO','CONSERVACION'],

            activarprogramacion:0,

            headersact: [
                {
                    text: 'No.',
                    align: 'left',
                    sortable: false,
                    value: 'codigo',
                    width:'5%'
                },
                {
                    text: 'Descripción',
                    align: 'left',
                    sortable: false,
                    value: 'descripcion',
                    width:'20%'
                },                    
                { text: 'Fecha Inicio', value: 'fechainicio',sortable: false,align: 'left',width:'10%'},                    
                { text: 'Fecha Fin', value: 'fechafin',sortable: false,align: 'left',width:'10%'},                              
                { text: 'Peso', value: 'peso',sortable: false,align: 'left',width:'10%'},
                { text: 'Valor', value: 'valor',sortable: false,align: 'left',width:'5%'},
                { text: 'KPI', value: 'kpi',sortable: false,align: 'left',width:'5%'},
                { text: 'Descripción KPI', value: 'descripcionkpi',sortable: false,align: 'left',width:'10%'},
                { text: 'Accion', value: 'action',sortable: false,width:'15%'}		        
            ],
            actividades: [
                {		          	
                    descripcion: '',
                    fechainicio:'',		            
                    fechafin:'',
                    peso:0,
                    kpi:0,
                    descripcionkpi:'',
                    secuenciareal:0,
                    secuencia:0,
                    tipo:'',
                    valor:0                    
                },
            ],
            
            rules: {                
                maxPorcentaje: value => value < 100 || 'El % no puede superar el 100%'            
            },
        }
    },
    
    methods: {

        showMessage (snack, time, color, text) {

           this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },
        
        envioNotificaciones(mensajenotificacion,asuntocorreo, mensajecorreo){

            this.$emit('envioNotificaciones', {mensajenotificacion: mensajenotificacion,asuntocorreo: asuntocorreo, mensajecorreo: mensajecorreo})            

        },

        envionotificacionesParaPlan(values){ // mensajenotificacion,asuntocorreo, mensajecorreo){
								
				//se envia notificacion al coordinador o encargado
				var codigopersona = 0
				var codigoopcion = 16 //proyectos
				var numerointerno = this.convenio				

                //se envia notificacion a planeación				
				if(this.usuarioPlaneacion != '' && this.usuarioPlaneacion != '0'){

					codigopersona = this.usuarioPlaneacion
					this.$root.$emit('enviarNotificaciones', {codigopersona: codigopersona, mensajenotificacion: values.mensajenotificacion, 
										asuntocorreo: values.asuntocorreo, mensajecorreo: values.mensajecorreo,
										codigoopcion:codigoopcion,numerointerno:numerointerno})
				} 

				//se envia notificación a financiera				
				if(this.usuarioFinanciera != '' && this.usuarioFinanciera != '0'){

					codigopersona = this.usuarioFinanciera
					this.$root.$emit('enviarNotificaciones', {codigopersona: codigopersona, mensajenotificacion: values.mensajenotificacion, 
										asuntocorreo: values.asuntocorreo, mensajecorreo: values.mensajecorreo,
										codigoopcion:codigoopcion,numerointerno:numerointerno})
				}

                //se envia notificación a subdirección cientifica               				
				if(this.usuarioDirCientifica != '' && this.usuarioDirCientifica != '0'){

					codigopersona = this.usuarioDirCientifica
					this.$root.$emit('enviarNotificaciones', {codigopersona: codigopersona, mensajenotificacion: values.mensajenotificacion, 
										asuntocorreo: values.asuntocorreo, mensajecorreo: values.mensajecorreo,
										codigoopcion:codigoopcion,numerointerno:numerointerno})
				}

                //se envia notificación a jurídica                               				
				if(this.usuarioJuridica != '' && this.usuarioJuridica != '0'){

					codigopersona = this.usuarioJuridica
					this.$root.$emit('enviarNotificaciones', {codigopersona: codigopersona, mensajenotificacion: values.mensajenotificacion, 
										asuntocorreo: values.asuntocorreo, mensajecorreo: values.mensajecorreo,
										codigoopcion:codigoopcion,numerointerno:numerointerno})
				}
			},
        

        abrirDialogoProgramacion(item){
            
            this.activarprogramacion = this.activarprogramacion == 0 ? 1 : 0
            this.itemactual=item
            this.programacion=true

        },

        dataVacia(){

            var i=0

            this.actividades = []
            for(i;i<30;i++){
                this.actividades.push({codigo:i+1,descripcion:'',fechainicio:'',fechafin:'',peso:0,
                                        kpi:0,descripcionkpi:'',secuenciareal:0,secuencia:0,tipo:'',valor:0})
            }
        },        

        traerdata(producto){

            //proyecto, objetivo
            var objseleccionado = ''

            if(typeof this.objetivo == 'object'){
                objseleccionado = this.objetivo.codigo                
            } else {
                objseleccionado = this.objetivo                
            }

            var _this = this
            this.loading = true
            
            proyectoactividadService.BuscarXProyectoObjetivo(this.proyecto, objseleccionado, producto)
                .then(function(res) {

                    if (res.request) {                       
                       
                        if(res.data){

                            _this.actividades = res.data.data

                            var totitems = _this.actividades.length
                           
                            for (let index = totitems; index < 30; index++) {
                                _this.actividades.push({codigo:index+1,descripcion:'',fechainicio:'',fechafin:'',peso:0,kpi:0,descripcionkpi:'',secuenciareal:0,secuencia:0,tipo:'',valor:0})				   
                            }

                        }  else {
                            
                            _this.actividades = []                            
                            _this.dataVacia()
                        
                        }

                    } else {                        	

                        _this.actividades = []                        
                        _this.dataVacia()                        	
                    }    
                    _this.loading = false                
                    
            }).catch(function(err) {

                    _this.actividades = []                      
                    _this.dataVacia() 
                    _this.loading = false                
                
            })

        },

        traerFecMaxOtroSi(){

            var _this = this

            this.fechamaxotrosi = ''

            proyectosotrosiService.getFecTerminaMax(this.proyecto)
                .then(function(res) {

                    if (res.request) {                       
                       
                        if(res.data){

                            _this.fechamaxotrosi = res.data[0].proyfectereje                            

                        }

                    }              
                    
            }).catch(function(err) {

            })

        },

        traerProductos(objetivo){

            var _this = this

            this.producto = ''
            this.dataVacia()            

            proyectosproductosService.BuscarXObjetivo(this.proyecto, objetivo)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.arrProductos = res.data.data                            

                        }  else {
                            
                            _this.arrProductos = []                           
                        
                        }

                    } else {                        	

                        _this.arrProductos = []                        
                    }
                    
            }).catch(function(err) {

                    _this.arrProductos = []                                 
                
            })

        },

        traerObjetivos(proyecto){

             var _this = this
             
             this.traerFecMaxOtroSi()

            objetivosService.BuscarXProyecto(proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.arrObjetivos = res.data.data                             
                            _this.length = _this.arrObjetivos.length

                            if(_this.inicio == 0){
                                _this.traerdata(_this.proyecto, _this.arrObjetivos[_this.onboarding].codigo)
                                _this.inicio = 1
                            }

                        }  else {
                            
                            _this.arrObjetivos = []                           
                            _this.length = 0 
                        }

                    } else {                        	

                        _this.arrObjetivos = []   
                        _this.length = 0                     
                    }
                    
            }).catch(function(err) {

                _this.arrObjetivos = []
                _this.length = 0                                 
                
            })

        },

        deleteItem(){
            
            var _this = this
            this.loading = true

            var objseleccionado = ''
            var nomobjetivo = '' 
            var prodseleccionado = ''
            var nomproducto = ''

            if(typeof this.objetivo == 'object'){
                objseleccionado = this.objetivo.codigo
                nomobjetivo = this.objetivo.descripcion                
            } else {
                objseleccionado = this.objetivo                
            }

            if(typeof this.producto == 'object'){
                prodseleccionado = this.producto.codigo
                nomproducto = this.producto.descripcion                
            } else {
                objseleccionado = this.producto                
            }

            proyectoactividadService.DelData(_this.proyecto, objseleccionado, prodseleccionado, _this.itemactual.secuencia)
                .then(function(res) {

                    if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó la Actividad con éxito')

                        _this.del_item = ''
                        _this.traerdata(_this.proyecto, objseleccionado, prodseleccionado)
                        _this.dialog_del = false
                        
                        //_this.OnOffProyObjetivo()

                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ LA ACTIVIDAD :' + _this.itemactual.descripcion + 
                                             '. DEL OBJETIVO ' + nomobjetivo + ', PRODUCTO ' + nomproducto +
                                             '. QUE PERTENECE AL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + ' Y NOMBRE: ' + 
                                             _this.nombreproyecto)

                        var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se eliminó La Actividad '" + _this.itemactual.descripcion + "' del objetivo '" + 
                                            nomobjetivo + "', del Producto " + nomproducto + "' que pertenece al Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                        var mensajenotifica = "Se eliminó la Actividad '" + _this.itemactual.descripcion + "' del objetivo '" + 
                                            nomobjetivo + "', del Producto " + nomproducto + "' que pertenece al Proyecto con # de Convenio " + 
                                              _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                        _this.envioNotificaciones(mensajenotifica,'Eliminación de Actividades del Proyecto',mensajecorreo)                                 

                    } else {	                                         	

                        _this.showMessage(true,3000,'error',res.response.data.message) 	                  	
                    } 	                   
                    _this.del_item = ''						
                    _this.loading = false	                 
                    
            }).catch(function(err) {

                _this.showMessage(true,3000,'error',err)	    
                _this.loading = false          	
                
            })

        },

        errorFechas(Fila, posicion){

            const element = Fila
            
            var msg = ''
            
            let chktipo = element['tipo'] == '' || element['tipo'] == null ? 0 : 1
            let chkdescripcion = element['descripcion'] == '' || element['descripcion'] == null ? 0 : 1
            //let chkfechainicio = element['fechainicio'] == '' || element['fechainicio'] == null ? 0 : 1
            //let chkfechafin = element['fechafin'] == '' || element['fechafin'] == null ? 0 : 1
            
            let total = chktipo + chkdescripcion //+ chkfechainicio + chkfechafin
            
            if(total > 0 && total < 2){
                //msg = 'Los Datos de la actividad No. ' + posicion + ' está incompleta, el item debe estar completamente lleno o completamente vacío'                            
                msg = 'Los Datos de la actividad No. ' + posicion + ' está incompleta, si ingresa el Tipo debe ingresar la Descripción o viceversa, o deje en blanco ambos campos para no tener en cuenta ese item'
                return msg

            } 
            
           // else if (total == 3) {                
            if(element['fechainicio'] != '' && element['fechafin'] != ''){

                let FecInicio = new Date(element['fechainicio'])                                
                let FecFin = new Date(element['fechafin'])

                if(FecFin < FecInicio){
                    msg = 'La Fecha Final debe ser superior o igual a la Fecha Inicial. Error en el Iten No ' + posicion
                    
                    return msg                                    
                } else {

                    if(this.fechamaxotrosi != ''){                                                        
                            
                        let FecBase = new Date(this.fechamaxotrosi)

                        if(FecFin > FecBase){
                            msg = 'La Fecha Final no puede ser superior a la Fecha del Otro Si ('+ this.fechamaxotrosi +'). Error en el Iten No ' + posicion
                            
                            return msg
                        }
                                                                
                    } else {
                            
                        let FecBase = new Date(this.fechaterejecucion)

                        if(FecFin > FecBase){
                            msg = 'La Fecha Final no puede ser superior a la Fecha de Terminación de Ejecución del Contrato ('+ this.fechaterejecucion +'). Error en el Iten No ' + posicion
                            
                            return msg
                                                                
                        }                            
                    }
                }
            }
            //}

            return msg

        },

        validaDatos(){

            var mensaje = ''

            var totitems = this.actividades.length
            var busDuplicado = []
            
            var objseleccionado = ''
            var nomobjetivo = '' 
            var prodseleccionado = ''
            var nomproducto = ''  

            if(typeof this.objetivo == 'object'){
                objseleccionado = this.objetivo.codigo
                nomobjetivo = this.objetivo.descripcion                
            } else {
                objseleccionado = this.objetivo                
            }

            if(typeof this.producto == 'object'){
                prodseleccionado = this.producto.codigo
                nomproducto = this.producto.descripcion                
            } else {
                prodseleccionado = this.producto                
            }

            var pesoact = 0    

            for (let index = 0; index < totitems; index++) {                              
                
                let descripcion = ''
                let fechaini = ''
                let fechafin = ''

                descripcion = this.actividades[index].descripcion
                fechaini = this.actividades[index].fechainicio
                fechafin = this.actividades[index].fechafin

                if(busDuplicado.length > 0){
                    for (let i = 0; i < busDuplicado.length; i++) {

                        if(descripcion == busDuplicado[i].descripcion && descripcion != ''){

                            var nitem = index + 1
                            mensaje = 'La Actividad ' + descripcion + ' del item ' + nitem + 
                                        ' ya se encuentra en el item ' + busDuplicado[i].noitem   

                            return mensaje
                        }
                    }

                    mensaje = this.errorFechas(this.actividades[index], index + 1)

                    if(mensaje != '')
                        return mensaje                       

                    if(descripcion != '')

                        //se actualiza el campo codigo con la secuencia, para no psar la secuancia por separado y lo tome el
                        //back-end
                        busDuplicado.push({proyecto:this.proyecto,objetivo:objseleccionado,producto:prodseleccionado,
                                        secuencia:this.actividades[index].secuencia,
                                        codigo:this.actividades[index].codigo,descripcion:descripcion,fechainicio:fechaini,
                                        fechafin:fechafin,peso:this.actividades[index].peso,kpi:this.actividades[index].kpi,
                                        descripcionkpi:this.actividades[index].descripcionkpi,noitem:index + 1,
                                        tipo:this.actividades[index].tipo,valor:0})

                } else {
                    
                    mensaje = this.errorFechas(this.actividades[index], index + 1)

                    if(mensaje != '')
                        return mensaje      
                    
                    if(descripcion != '')                        
                        busDuplicado.push({proyecto:this.proyecto,objetivo:objseleccionado,producto:prodseleccionado,
                                            secuencia:this.actividades[index].secuencia,
                                            codigo:this.actividades[index].codigo,descripcion:descripcion,fechainicio:fechaini,
                                            fechafin:fechafin,peso:this.actividades[index].peso,kpi:this.actividades[index].kpi,
                                            descripcionkpi:this.actividades[index].descripcionkpi,noitem:index + 1,
                                            tipo:this.actividades[index].tipo,valor:0})   

                }
                
                pesoact += parseFloat(this.actividades[index].peso)
			   
            }
            
            if(parseFloat(pesoact) > 100){

                mensaje = 'La suma de los pesos de las actividades no debe superar el 100%'
                return mensaje
            }

            return busDuplicado 

        },    

        saveitem(){            
            
            this.loading = true

            var mensaje = this.validaDatos()

            if(typeof mensaje == 'string'){            
                if(mensaje != ''){

                    this.showMessage(true,9000,'error',mensaje)
                    this.loading = false
                    return
                }
            } 
            
            var _this = this 

            proyectoactividadService.guardarData(mensaje)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,7000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		_this.showMessage(true,3000,'success','Se Actualizarón/Agregarón las Actividades con éxito')
                               
                            var objseleccionado = ''                            
                            var prodseleccionado = ''                            
                            var nombreobj = ''
                            var nombreproducto = ''

                            if(typeof _this.objetivo == 'object'){
                                objseleccionado = _this.objetivo.codigo  
                                nombreobj = _this.objetivo.descripcion                              
                            } else {
                                objseleccionado = _this.objetivo                                               
                            }

                            if(typeof _this.producto == 'object'){
                                prodseleccionado = _this.producto.codigo 
                                nombreproducto = _this.producto.descripcion                               
                            } else {
                                prodseleccionado = _this.producto                
                            }    

                            _this.traerdata(prodseleccionado)
                            //_this.traerdata(_this.proyecto, objseleccionado, prodseleccionado)              	  									
							
                            _this.agregaBitacora('ACTUALIZACION/CREACION','SE ACTUALIZARON/AGREGARON ACTIVIDADES ' +
                                                 'DEL OBJETIVO ' + nombreobj + ', PARA EL PRODUCTO ' + nombreproducto +
                                                 'DEL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + 
                                                 ' Y NOMBRE: ' + _this.nombreproyecto)                                                 
                            //_this.OnOffProyObjetivo()  
                            
                            var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se Actualizaron/Crearon Actividades del Objetivo '" + nombreobj + 
                                            "' para el Producto '" + nombreproducto + "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                            var mensajenotifica = "Se Actualizaron/Crearon Actividades del Objetivo '" + nombreobj + 
                                                  "' para el Producto '" + nombreproducto + "' del Proyecto con # de Convenio " + 
                                                  _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                            _this.envioNotificaciones(mensajenotifica,'Actualización/Creación de Actividades de un Proyecto',mensajecorreo)

                            _this.notificacionesAlPlan(_this)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

        },
        
        limpiarMoneda(val){

            var nuevoval = val.toString().replace(/[$.]/gi,'')
            nuevoval = nuevoval.replace(/[,]/gi,'.')

            return nuevoval.trim()				
        },
        
        number_format(amount, decimals) {

            amount += ''; // por si pasan un numero en vez de un string
            amount = parseFloat(amount.replace(/[^0-9\.]/g, '')) // elimino cualquier cosa que no sea numero o punto

            decimals = decimals || 0 // por si la variable no fue fue pasada

            // si no es un numero o es igual a cero retorno el mismo cero
            if (isNaN(amount) || amount === 0) 
                return parseFloat(0).toFixed(decimals)

            // si es mayor o menor que cero retorno el valor formateado como numero
            amount = '' + amount.toFixed(decimals)

            var amount_parts = amount.split('.'),
                regexp = /(\d+)(\d{3})/

            while (regexp.test(amount_parts[0]))
                amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2')

            return amount_parts.join(',')
        },

        formatearValor(item){

            let valor = item.txtvalor
            valor = this.limpiarMoneda(valor)

            item.txtvalor = '$ ' + this.number_format(valor,2)

        },

        calculaTasa(valor){

            if(!valor)
                return ''

            let nuevoVal = this.limpiarMoneda(valor)
            let tasaVal = this.tasa
            let total = 0
            let valFormato = ''
            
            if(tasaVal == 0)
                total = nuevoVal					
            else
                total = (nuevoVal * tasaVal)

            valFormato = '$ ' + this.number_format(total,2)

            return valFormato

        },
            
        async notificacionesAlPlan(_this){

            var dataplan = []

            var tmpdataplan = await proyectoService.traePlanAdqXProyecto(this.proyecto)

            if(tmpdataplan.data)
                dataplan = tmpdataplan.data        

            if(dataplan.length > 0 ){

                let mensaje = "Se modificó actividades del Proyecto con # de Convenio " + 
                               _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                               ". Verificar el Plan de Adquisiciones de dicho proyecto."

                var mensajecorreo = "Cordial Saludo,<br><br> " +
                                "Se modificó actividades del Proyecto con # de Convenio " + 
                               _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                               ". Verificar el Plan de Adquisiciones de dicho proyecto." +
                                "<br><br>Agradeciendo su atención,<br><br> " +                        
                                "<b>SINCHI</b><br><br> " +
                                "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                "correo electrónico, no lo responda.</i> <br>"

                //se envia al coordinador
                _this.envioNotificaciones(mensaje,'Modificación Actividades de proyecto Asociado a un Plan de Adquisiciones',mensajecorreo)
                
                //se envia a los demas
                _this.envionotificacionesParaPlan({mensajenotificacion:mensaje, 
                                                   asuntocorreo: 'Modificación Actividades de proyecto Asociado a un Plan de Adquisiciones',
												   mensajecorreo:mensajecorreo})

            }            

        },        

        async traeUsuarios(){

            this.usuarioFinanciera = 0
            this.usuarioJuridica = 0
            this.usuarioPlaneacion = 0
            this.usuarioDirCientifica = 0

            try{

                let financiera = await areasService.getUserXArea(2) //financiera
                let juridica = await areasService.getUserXArea(7) //juridica
                let planeacion = await areasService.getUserXArea(4) //planeacion
                let dircientifica = await areasService.getUserXArea(3) //dirección cientifica

                if(financiera.data)
                    this.usuarioFinanciera = financiera.data.data[0].userid
                
                if(juridica.data)
                    this.usuarioJuridica = juridica.data.data[0].userid

                if(planeacion.data)
                    this.usuarioPlaneacion = planeacion.data.data[0].userid	

                if(dircientifica.data)
                    this.usuarioDirCientifica = dircientifica.data.data[0].userid

            } catch (error) {	

                

            }
            finally {

            }

        },
            
        agregaBitacora(accion, detalle){              

            var data = {modulo:'ACTIVIDADES PROYECTOS',accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        },

    },

    watch: {

        proyecto: function (val) {

            if(val!=0){   
                
                this.objetivo = ''
                this.traerObjetivos(val)
                this.traerFecMaxOtroSi()
                this.arrProductos = []
                this.dataVacia()

                this.notificacionesAlPlan()

            }
        },

        activar: function (val) {

            if(val!=0){   
                
                this.objetivo = ''
                this.traerObjetivos(this.proyecto)
                this.traerFecMaxOtroSi()
                this.arrProductos = []
                this.dataVacia()

            }
        },
    },

    /*filters: {

        moneda: function (value) {

            if (!value) return '$ 0'

            value = '$ ' + value//+ this.number_format(value,2)

            return value
        }

    },*/

    mounted() {        
        
        this.dataVacia()
        this.traerFecMaxOtroSi()
        this.traerObjetivos(this.proyecto)
        this.traeUsuarios()
        //this.traerdata(this.proyecto, this.arrObjetivos[this.onboarding].codigo)

    },

    computed: {

        /*valActividad: function(valactividad) {

            var valor = this.limpiarMoneda(valactividad)            
            
            return valor
        },*/
    }
    /*created() {
        
        this.$store.watch(

            (state) => state.proyobjetivos, (oldValue, newValue) => {                

                this.traerObjetivos(this.proyecto)
            }             
        )

    }*/
}

</script>

<style>

</style>