<template>
    <v-container>
        <v-card flat tile>
            <v-window v-model="onboarding" reverse v-if="length > 0">
                <v-window-item
                v-for="itemdata in arrObjetivos"
                :key="`card-${itemdata.codigo}`"
                >
                <v-card
                    color="transparent"
                    height="400"
                >
                    <v-row
                                    
                    tag="v-card-text"
                    >
                    <h2 color="black">{{ `${itemdata.codigo}. Objetivo: ${itemdata.descripcion}` }}</h2>
                    </v-row>
                    <v-row>
                        <v-card-text>
                            <v-data-table 
                                :headers="headers" 
                                :items="data" 
                                :items-per-page="3"
                            >
                                <template v-slot:item.descripcion="{ item }">
                                    <v-text-field v-model="item.descripcion"                                        
                                        :readonly="readonly"
                                    >
                                    </v-text-field>
                                </template>

                                <template v-slot:item.peso="{ item }">
                                    <v-text-field v-model="item.peso" 
                                        type="number"                         
                                        :readonly="readonly"
                                        min="0"
                                        :rules="[rules.maxPorcentaje]"
                                        suffix=" %"
                                    >
                                    </v-text-field>
                                </template>                                

                                <template v-slot:item.action="{ item }">							
                                    
                                    <v-icon
                                        small
                                        class="mr-5"
                                        color="primary" 
                                        :disabled="loading"
                                        :loading="loading"
                                        @click="dialog_del=true,itemactual=item"
                                        v-show="!readonly && item.codigoreal != 0"
                                    >
                                        delete
                                    </v-icon>						
                                                        
                                </template>
                            </v-data-table>                            
                        </v-card-text>    
                    </v-row>                   
                </v-card>
                </v-window-item>
            </v-window>
    
            <v-card-actions class="justify-space-between">
                <v-btn              
                text                
                @click="prev"
                >
                <v-icon>chevron_left</v-icon>
                </v-btn>
                <v-item-group
                v-model="onboarding"
                class="text-center"
                mandatory
                >
                <v-item
                    v-for="n in length"
                    :key="`btn-${n}`"
                    v-slot:default="{ active, toggle }"
                >
                    <v-btn
                    :input-value="active"              
                    icon
                    @click="toggle"
                    >
                    <v-icon>fiber_manual_record</v-icon>
                    </v-btn>
                </v-item>
                </v-item-group> 
                <v-btn          
                    text
                    @click="next"
                >
                    <v-icon>chevron_right</v-icon>
                </v-btn>
            </v-card-actions>
            <div style="text-align: right">
                <v-btn color="primary" text @click="saveitem" v-show="!readonly">Guardar Productos</v-btn>
            </div>    
        </v-card>

        <v-dialog v-model="dialog_del" width="550">

            <v-card>

                <v-card-title>
                    <span class="headline red--text">Eliminar Producto</span>
                </v-card-title>

                <v-card-text>					
                    ¿Esta seguro de eliminar el Producto seleccionado?. Está acción eliminará tambien las actividades asociadas a este producto.					
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark text @click="dialog_del=false">Cancelar</v-btn>
                    <v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
                </v-card-actions>

            </v-card>

        </v-dialog>

    </v-container>    
</template>

<script>
import proyectosproductosService from "../servicios/ProyectosProductosService"
import objetivosService from "../servicios/ProyectosObjetivosService"

export default {
    name: 'Productos',
    props: ['proyecto','readonly','convenioproyecto','nombreproyecto','codigocoordinador'],
    data (){

        return {
            loading: false,
            length: 0,
            onboarding: 0, 
            itemactual:'',
            dialog_del:false,  
            inicio:0,                     
            data: [
                {	
                    codigo:0,
                    peso:0,	          	
                    descripcion: '',                   
                    codigoreal:0,
                    objetivo:0            
                },
            ],

            headers: [      
                { text: 'No.', value: 'codigo',sortable: false,align: 'left',width:'10%'},          
                { text: 'Descripción', value: 'descripcion',sortable: false,align: 'left',width:'70%'}, 
                { text: 'Peso', value: 'peso',sortable: false,align: 'left',width:'10%'},               
                { text: 'Acción', align: 'left', sortable: false,value: 'action',width:'10%'},        
            ],

            arrProgramas:[],
            arrObjetivos:[],

            rules: {                
                maxPorcentaje: value => value < 100 || 'El % no puede superar el 100%'            
            },
        }
    },

    methods: {

        showMessage (snack, time, color, text) {

           this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },
        
        envioNotificaciones(mensajenotificacion,asuntocorreo, mensajecorreo){

            this.$emit('envioNotificaciones', {mensajenotificacion: mensajenotificacion,
                        asuntocorreo: asuntocorreo, mensajecorreo: mensajecorreo}) 

        },

        dataVacios(){

            var i=0

            this.data = []
            for(i;i<30;i++){
                this.data.push({codigo:i+1,descripcion: '',codigoreal:0,objetivo:0,peso:0 })
            }
        },        

        traerdata(proyecto, objetivo){

            var _this = this
            this.loading = true

            proyectosproductosService.BuscarXObjetivo(proyecto, objetivo)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.data = res.data.data
                            
                            var totitems = _this.data.length
                            var objetivo = 0
                            
                            objetivo = _this.arrObjetivos[_this.onboarding].codigo

                            for (let index = totitems; index < 30; index++) {
                                _this.data.push({codigo:index + 1,descripcion: '',codigoreal:0,objetivo:objetivo,peso:0})				   
                            }

                        }  else {
                            
                            _this.data = []                            
                            _this.dataVacios()
                        
                        }

                        if(_this.data.length <=0){

                            for (let index = 0; index < 30; index++) {
                                _this.data.push({codigo:index + 1,descripcion: '',codigoreal:0,objetivo:objetivo,peso:0})				   
                            }

                        }

                    } else {                        	

                        _this.data = []                        
                        _this.dataVacios()                        	
                    }    
                    _this.loading = false                
                    
            }).catch(function(err) {

                    _this.data = []                      
                    _this.dataVacios() 
                    _this.loading = false                
                
            })

        },

        traerObjetivos(proyecto){

             var _this = this
            objetivosService.BuscarXProyecto(proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.arrObjetivos = res.data.data                             
                            _this.length = _this.arrObjetivos.length

                            if(_this.inicio == 0){
                                _this.traerdata(_this.proyecto, _this.arrObjetivos[_this.onboarding].codigo)
                                _this.inicio = 1
                            }

                        }  else {
                            
                            _this.arrObjetivos = []                           
                            _this.length = 0 
                        }

                    } else {                        	

                        _this.arrObjetivos = []   
                        _this.length = 0                     
                    }
                    
            }).catch(function(err) {

                _this.arrObjetivos = []
                _this.length = 0                                 
                
            })

        },

        deleteItem(){
            
            var _this = this
            this.loading = true

            proyectosproductosService.DelData(_this.proyecto, _this.itemactual.codigoobjetivo, _this.itemactual.codigo)
                .then(function(res) {

                    if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó el Producto con éxito')

                        _this.del_item = ''
                        _this.traerdata(_this.proyecto, _this.arrObjetivos[_this.onboarding].codigo)
                        _this.dialog_del = false
                        
                        //_this.OnOffProyObjetivo()

                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ EL PRODUCTO CON CODIGO:' + _this.itemactual.codigo + 
                                                ', DESCRIPCION:' + _this.itemactual.descripcion + '. DEL OBJETIVO ' +  
                                                _this.itemactual.txtobjetivo + 
                                                '. QUE PERTENECE AL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + ' Y NOMBRE: ' + 
                                                _this.nombreproyecto)

                        var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se eliminó el Producto : '" + _this.itemactual.descripcion + "' del objetivo '" + 
                                            _this.itemactual.txtobjetivo + "' que pertenece al Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                        var mensajenotifica = "Se eliminó el Producto : '" + _this.itemactual.descripcion + "' del objetivo '" + 
                                              _this.itemactual.txtobjetivo + "' que pertenece al Proyecto con # de Convenio " + 
                                              _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                        _this.envioNotificaciones(mensajenotifica,'Eliminación de Productos del Proyecto',mensajecorreo)                                 

                    } else {	                                         	

                        _this.showMessage(true,3000,'error',res.response.data.message) 	                  	
                    } 	                   
                    _this.del_item = ''						
                    _this.loading = false	                 
                    
            }).catch(function(err) {

                _this.showMessage(true,3000,'error',err)	    
                _this.loading = false          	
                
            })

        },

        saveitem(){            

            var totitems = this.data.length
            var busDuplicado = []
            
            this.loading = true
            
            var pesoact = 0 

            for (let index = 0; index < totitems; index++) {

                var code = ''
                var descripcion = ''   

                if(typeof this.data[index].codigo == 'object'){
                    code = this.data[index].codigo.codigo
                    descripcion = this.data[index].codigo.descripcion

                } else {
                    code = this.data[index].codigo
                    descripcion = this.data[index].descripcion
                }
                
                if(descripcion != ''){     
                    
                    if(busDuplicado.length > 0){
                        for (let i = 0; i < busDuplicado.length; i++) {

                            if(descripcion == busDuplicado[i].descripcion){

                                var nitem = index + 1
                                this.showMessage(true,3000,'error','El Producto ' + descripcion + ' del item ' + nitem + 
                                                    ' ya se encuentra en el item ' + busDuplicado[i].no)

                                this.loading = false                    
                                return
                            }
                        }

                        busDuplicado.push({codigo:index + 1,descripcion:descripcion,proyecto:this.proyecto,
                                            objetivo:this.arrObjetivos[this.onboarding].codigo,no:index + 1,
                                            peso:this.data[index].peso})

                    } else {

                        busDuplicado.push({codigo:index + 1,descripcion:descripcion,proyecto:this.proyecto,
                                            objetivo:this.arrObjetivos[this.onboarding].codigo,no:index + 1,
                                            peso:this.data[index].peso})
                    }
                }

                pesoact += parseFloat(this.data[index].peso)
			   
            }

            if(parseFloat(pesoact) > 100){

                let mensaje = 'La suma de los pesos de los productos no debe superar el 100%'
                this.showMessage(true,3000,'error',mensaje)

                this.loading = false                    
                return
            }

            var _this = this 

            proyectosproductosService.addupdData(busDuplicado)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		_this.showMessage(true,3000,'success','Se Actualizarón/Agregarón los Productos con éxito')
             	  		
                            _this.traerdata(_this.proyecto, _this.arrObjetivos[_this.onboarding].codigo)              	  									
							
                            _this.agregaBitacora('ACTUALIZACION/CREACION','SE ACTUALIZARON/AGREGARON PRODUCTOS DEL OBJETIVO ' + _this.data[0].txtobjetivo + 
                                                  ' PARA PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + ' Y NOMBRE: ' + _this.nombreproyecto)

                            //_this.OnOffProyObjetivo()  
                            
                            var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se Actualizaron/Crearon Productos para el Objetivo " + _this.data[0].txtobjetivo + 
                                            " para el Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                            var mensajenotifica = "Se Actualizaron/Crearon Productos para el Objetivo " + _this.data[0].txtobjetivo + 
                                                  " para el Proyecto con # de Convenio " + 
                                                  _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                            _this.envioNotificaciones(mensajenotifica,'Actualización/Creación de Productos de Objetivos de un Proyecto',mensajecorreo)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

        },

        next () {
            this.onboarding = this.onboarding + 1 === this.length
                ? 0
                : this.onboarding + 1
        },
        prev () {
            this.onboarding = this.onboarding - 1 < 0
                ? this.length - 1
                : this.onboarding - 1
        },

        agregaBitacora(accion, detalle){              

            var data = {modulo:'PRODUCTOS PROYECTOS',accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        },

    },

    watch: {

        proyecto: function (val) {

            if(val!=0){                
                this.traerObjetivos(val)
            }
        },

        onboarding: function (val) {            

            if(this.arrObjetivos.length > 0)

                this.traerdata(this.proyecto, this.arrObjetivos[val].codigo)

            else{

                for (let index = 0; index < 30; index++) {
                    this.data.push({codigo:index + 1,descripcion: '',codigoreal:0,objetivo:objetivo,peso:0})				   
                }

            }           
            
        },

    },
        
    mounted() {
        
        this.traerObjetivos(this.proyecto)

    },
    
    created() {
        
        this.$store.watch(

            (state) => state.proyobjetivos, (oldValue, newValue) => {                

                this.traerObjetivos(this.proyecto)
            }             
        )

    }

}
</script>

<style>

</style>