<template>

<v-container fluid>
    <v-row dense>       
        <v-col sm6>
            <v-card
                color="transparent"
                height="100"
            >                
                <v-card-text>
                    <v-select
                        :items="arrObjetivos"
                        item-value="codigo"
                        item-text="descripcion"
                        v-model="objetivo"
                        :return-object="true"  
                        label="Objetivos" 
                        @change="traerActividades(objetivo.codigo)"                      										
                    >									
                    </v-select>
                </v-card-text>    
            </v-card>    
        </v-col>    

        <v-col sm6>
            <v-card
                color="transparent"
                height="100"
            >
                <v-card-text>
                    <v-select
                        :items="arrActividades"
                        item-value="secuencia"
                        item-text="descripcion"
                        v-model="actividad"
                        :return-object="true"  
                        label="Actividades" 
                        @change="traerdata()"                          										
                    >									
                    </v-select>
                </v-card-text>
            </v-card>    
        </v-col>
    </v-row>
     <v-row>
        <v-col sm12>

            <v-card
                color="transparent"                
            >
                <v-card-title>Seguimiento</v-card-title>                
                <v-card-text>                        
                    <v-row>
                        <v-col sm3>
                            <b>Peso:</b> {{ peso }} %
                        </v-col>
                        <v-col sm3>
                            <b>Meta:</b> {{ kpi }}
                        </v-col>
                        <v-col sm6>
                            <b>Descripción Meta:</b> {{ descripcionkpi }}
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col sm12>
                            <b>Recuerde: los valores en color rojo, son los valores esperados</b>
                        </v-col>    
                    </v-row>    
                </v-card-text>    
            </v-card>    
        </v-col> 
    </v-row>

    <v-row dense>
        <v-col sm12>
            <v-card
                color="transparent"
                height="400"
            >                
                <v-card-text>
                    <v-btn color="primary" @click="traerdata">Traer Programación</v-btn><br><br>
                   <v-data-table :headers="headers" :items="dataseg" :items-per-page="1">                       
                        <template v-slot:item="{ item }">
                            <tr>
                                <td>
                                    <span>% Ejec.</span>
                                </td>    
                                <td>
                                    <span>{{ item.anno }}</span>                                   
                                </td>
                                <td>                                   
                                    <v-text-field v-model="item.mes1" 
                                        type="number"
                                        min="0"
                                        suffix="%"                                
                                        :rules="[rules.maxPorcentaje]"    
                                        :readonly="soloLectura"                                                                                                                        
                                    >                            
                                    </v-text-field>
                                    <p style="color:red">{{ item.mesesp1 + ' %' }}</p>                                    
                                    <p>
                                        <v-btn small color="primary" 
                                            @click="annoactual=item.anno,mesactual=1,itemactual=item,dialog_detalle = true">Detalle</v-btn>
                                    </p>
                                </td>
                                <td> 
                                    <v-text-field v-model="item.mes2" 
                                        type="number"
                                        min="0"
                                        suffix=" %"
                                        :rules="[rules.maxPorcentaje]"  
                                        :readonly="soloLectura"                                      
                                    >
                                    </v-text-field>
                                    <p style="color:red">{{ item.mesesp2 + ' %' }}</p>  
                                    <p>
                                        <v-btn small color="primary" 
                                            @click="annoactual=item.anno,mesactual=2,itemactual=item,dialog_detalle = true">Detalle</v-btn>
                                    </p>                                  
                                </td>
                                <td>
                                    <v-text-field v-model="item.mes3" 
                                        type="number"
                                        min="0"
                                        suffix=" %"
                                        :rules="[rules.maxPorcentaje]"   
                                        :readonly="soloLectura"                                     
                                    >
                                    </v-text-field>
                                    <p style="color:red">{{ item.mesesp3 + ' %' }}</p>   
                                    <p>
                                        <v-btn small color="primary" 
                                            @click="annoactual=item.anno,mesactual=3,itemactual=item,dialog_detalle = true">Detalle</v-btn>
                                    </p>                                
                                </td>
                                <td>
                                    <v-text-field v-model="item.mes4" 
                                        type="number"
                                        min="0"
                                        suffix=" %"
                                        :rules="[rules.maxPorcentaje]"   
                                        :readonly="soloLectura"                                     
                                    >
                                    </v-text-field>
                                    <p style="color:red">{{ item.mesesp4 + ' %' }}</p>    
                                    <p>
                                        <v-btn small color="primary" 
                                            @click="annoactual=item.anno,mesactual=4,itemactual=item,dialog_detalle = true">Detalle</v-btn>
                                    </p>                                
                                </td>
                                <td>
                                    <v-text-field v-model="item.mes5" 
                                        type="number"
                                        min="0"
                                        suffix=" %"
                                        :rules="[rules.maxPorcentaje]"   
                                        :readonly="soloLectura"                                     
                                    >
                                    </v-text-field>
                                    <p style="color:red">{{ item.mesesp5 + ' %' }}</p>  
                                    <p>
                                        <v-btn small color="primary" 
                                            @click="annoactual=item.anno,mesactual=5,itemactual=item,dialog_detalle = true">Detalle</v-btn>
                                    </p>                                  
                                </td>
                                <td>
                                    <v-text-field v-model="item.mes6" 
                                        type="number"
                                        min="0"
                                        suffix=" %"
                                        :rules="[rules.maxPorcentaje]"  
                                        :readonly="soloLectura"                                      
                                    >
                                    </v-text-field>
                                    <p style="color:red">{{ item.mesesp6 + ' %' }}</p>   
                                    <p>
                                        <v-btn small color="primary" 
                                            @click="annoactual=item.anno,mesactual=6,itemactual=item,dialog_detalle = true">Detalle</v-btn>
                                    </p>                                
                                </td>
                                <td>
                                    <v-text-field v-model="item.mes7" 
                                        type="number"
                                        min="0"
                                        suffix=" %"
                                        :rules="[rules.maxPorcentaje]"   
                                        :readonly="soloLectura"                                     
                                    >
                                    </v-text-field>
                                    <p style="color:red">{{ item.mesesp7 + ' %' }}</p>      
                                    <p>
                                        <v-btn small color="primary" 
                                            @click="annoactual=item.anno,mesactual=7,itemactual=item,dialog_detalle = true">Detalle</v-btn>
                                    </p>                              
                                </td>
                                <td>
                                    <v-text-field v-model="item.mes8" 
                                        type="number"
                                        min="0"
                                        suffix=" %"
                                        :rules="[rules.maxPorcentaje]"       
                                        :readonly="soloLectura"                                
                                    >
                                    </v-text-field>
                                    <p style="color:red">{{ item.mesesp8 + ' %' }}</p>   
                                    <p>
                                        <v-btn small color="primary" 
                                            @click="annoactual=item.anno,mesactual=8,itemactual=item,dialog_detalle = true">Detalle</v-btn>
                                    </p>                                
                                </td>
                                <td>
                                    <v-text-field v-model="item.mes9" 
                                        type="number"
                                        min="0"
                                        suffix=" %"
                                        :rules="[rules.maxPorcentaje]"  
                                        :readonly="soloLectura"                                     
                                    >
                                    </v-text-field>
                                    <p style="color:red">{{ item.mesesp9 + ' %' }}</p>  
                                    <p>
                                        <v-btn small color="primary" 
                                            @click="annoactual=item.anno,mesactual=9,itemactual=item,dialog_detalle = true">Detalle</v-btn>
                                    </p>                                 
                                </td>
                                <td>
                                    <v-text-field v-model="item.mes10" 
                                        type="number"
                                        min="0"
                                        suffix=" %"
                                        :rules="[rules.maxPorcentaje]"    
                                        :readonly="soloLectura"                                   
                                    >
                                    </v-text-field>
                                    <p style="color:red">{{ item.mesesp10 + ' %' }}</p> 
                                    <p>
                                        <v-btn small color="primary" 
                                            @click="annoactual=item.anno,mesactual=10,itemactual=item,dialog_detalle = true">Detalle</v-btn>
                                    </p>                                  
                                </td>
                                <td>
                                    <v-text-field v-model="item.mes11" 
                                        type="number"
                                        min="0"
                                        suffix=" %"
                                        :rules="[rules.maxPorcentaje]"    
                                        :readonly="soloLectura"                                    
                                    >
                                    </v-text-field>
                                    <p style="color:red">{{ item.mesesp11 + ' %' }}</p>    
                                    <p>
                                        <v-btn small color="primary" 
                                            @click="annoactual=item.anno,mesactual=11,itemactual=item,dialog_detalle = true">Detalle</v-btn>
                                    </p>                                
                                </td>
                                <td>
                                    <v-text-field v-model="item.mes12" 
                                        type="number"
                                        min="0"
                                        suffix=" %"
                                        :rules="[rules.maxPorcentaje]"   
                                        :readonly="soloLectura"                                     
                                    >
                                    </v-text-field>
                                    <p style="color:red">{{ item.mesesp12 + ' %' }}</p>   
                                    <p>
                                        <v-btn small color="primary" 
                                            @click="annoactual=item.anno,mesactual=12,itemactual=item,dialog_detalle = true">Detalle</v-btn>
                                    </p>                                
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Metas</span>
                                </td>
                                <td>
                                    <span>{{ item.anno }}</span>                                       
                                </td>
                                <td>                                   
                                    <v-text-field v-model="item.mesk1" 
                                        type="number"
                                        min="0"      
                                        :readonly="soloLectura"                                  
                                    >
                                    </v-text-field>
                                    <span style="color:red">{{ item.mesespk1 }}</span>                                    
                                </td>
                                <td>
                                    <v-text-field v-model="item.mesk2" 
                                        type="number"
                                        min="0"   
                                        :readonly="soloLectura"                                    
                                    >
                                    </v-text-field>
                                    <span style="color:red">{{ item.mesespk2 }}</span>                                   
                                </td>
                                <td>
                                    <v-text-field v-model="item.mesk3" 
                                        type="number"
                                        min="0"    
                                        :readonly="soloLectura"                                    
                                    >
                                    </v-text-field>
                                    <span style="color:red">{{ item.mesespk3 }}</span>                                    
                                </td>
                                <td>
                                    <v-text-field v-model="item.mesk4" 
                                        type="number"
                                        min="0"     
                                        :readonly="soloLectura"                                   
                                    >
                                    </v-text-field>
                                    <span style="color:red">{{ item.mesespk4 }}</span>                                   
                                </td>
                                <td>
                                    <v-text-field v-model="item.mesk5" 
                                        type="number"
                                        min="0"          
                                        :readonly="soloLectura"                             
                                    >
                                    </v-text-field>
                                    <span style="color:red">{{ item.mesespk5 }}</span>                                   
                                </td>
                                <td>
                                    <v-text-field v-model="item.mesk6" 
                                        type="number"
                                        min="0"       
                                        :readonly="soloLectura"                                 
                                    >
                                    </v-text-field>
                                    <span style="color:red">{{ item.mesespk6 }}</span>                                    
                                </td>
                                <td>
                                    <v-text-field v-model="item.mesk7" 
                                        type="number"
                                        min="0"          
                                        :readonly="soloLectura"                              
                                    >
                                    </v-text-field>
                                    <span style="color:red">{{ item.mesespk7 }}</span>                                    
                                </td>
                                <td>
                                    <v-text-field v-model="item.mesk8" 
                                        type="number"
                                        min="0"            
                                        :readonly="soloLectura"                           
                                    >
                                    </v-text-field>
                                    <span style="color:red">{{ item.mesespk8 }}</span>                                   
                                </td>
                                <td>
                                    <v-text-field v-model="item.mesk9" 
                                        type="number"
                                        min="0"          
                                        :readonly="soloLectura"                              
                                    >
                                    </v-text-field>
                                    <span style="color:red">{{ item.mesespk8 }}</span>                                   
                                </td>
                                <td>
                                    <v-text-field v-model="item.mesk10" 
                                        type="number"
                                        min="0"     
                                        :readonly="soloLectura"                                  
                                    >
                                    </v-text-field>
                                    <span style="color:red">{{ item.mesespk10 }}</span>                                    
                                </td>
                                <td>
                                    <v-text-field v-model="item.mesk11" 
                                        type="number"
                                        min="0"  
                                        :readonly="soloLectura"                                     
                                    >
                                    </v-text-field>
                                    <span style="color:red">{{ item.mesespk11 }}</span>                                   
                                </td>
                                <td>
                                    <v-text-field v-model="item.mesk12" 
                                        type="number"
                                        min="0"       
                                        :readonly="soloLectura"                                
                                    >
                                    </v-text-field>
                                    <span style="color:red">{{ item.mesespk12 }}</span>                                   
                                </td>
                            </tr>
                        </template>            
                    </v-data-table>     
                </v-card-text>  
                <v-card-actions>
                    <v-spacer></v-spacer>                
                    <v-btn color="primary" text @click="saveitem" v-show="objetivo != '' && soloLectura==false">Actualizar Seguimiento</v-btn>
                    <br><br>
                </v-card-actions>  
            </v-card>    
        </v-col>
    </v-row>

    <v-dialog v-model="dialog_detalle" width="1200">
        <v-card>

            <v-card-text>	
                <detalle :proyecto.sync = "proyecto" :codigo.sync = "actividad.secuencia" 
                         :txtactividad.sync="actividad.descripcion" :anno.sync = "annoactual" 
                         :mes.sync = "mesactual" :readonly.sync = "readonly">
                </detalle>
            </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" dark text @click="dialog_detalle=false">Cancelar</v-btn>				
            </v-card-actions>
        </v-card>			
    </v-dialog>
</v-container>        
  
</template>

<script>
import objetivosService from "../servicios/ProyectosObjetivosService"
import proyectosegplanService from "../servicios/ProyectosSegPlanService"
import ProyectosService from "../servicios/ProyectosService"
import proyectosactividadesService from "../servicios/ProyectosActividadesService"  
import areasService from "../servicios/AreasService"

export default {
    name: 'ProgramacionSeg',
    props: ['proyecto','onoffSeguimiento','readonly'],
    components: {
        'detalle' : () => import('@/components/CProyectosSegDetalle.vue')        		  
    },
    data(){

        return {

            loading: false,
            dialog_detalle:false,
            itemactual:'',            
            actividad:'',
            objetivo:'',
            convenioproyecto:'',
			nombreproyecto:'',
            codigocoordinador:'',          

            arrObjetivos:[],
            arrActividades:[],

            peso:0,
            kpi:0,
            descripcionkpi:'',
            txtobjetivo:'',
            txtactividad:'',

            annoactual:0,
            mesactual:0, 

            usuarioDirCientifica:'',
            usuarioPlaneacion:'',
            usuaactual:'',
            soloLectura:false,

            headers: [  
                {
                    text: '',
                    align: 'left',
                    sortable: false                    
                },              
                {
                    text: 'Año',
                    align: 'left',
                    sortable: false,
                    value: 'anno',
                },
                { text: 'Enero', value: 'mes1',sortable: false,align: 'left', width:'100px'},
                { text: 'Febrero', value: 'mes2',sortable: false,align: 'left', width:'100px'},
                { text: 'Marzo', value: 'mes3',sortable: false,align: 'left', width:'100px'},
                { text: 'Abril', value: 'mes4',sortable: false,align: 'left', width:'100px'},
                { text: 'Mayo', value: 'mes5',sortable: false,align: 'left', width:'100px'},
                { text: 'Junio', value: 'mes6',sortable: false,align: 'left', width:'100px'},
                { text: 'Julio', value: 'mes7',sortable: false,align: 'left', width:'100px'},
                { text: 'Agosto', value: 'mes8',sortable: false,align: 'left', width:'100px'},
                { text: 'Septiembre', value: 'mes9',sortable: false,align: 'left', width:'100px'},
                { text: 'Octubre', value: 'mes10',sortable: false,align: 'left', width:'100px'},
                { text: 'Noviembre', value: 'mes11',sortable: false,align: 'left', width:'100px'},                    
                { text: 'Diciembre', value: 'mes12',sortable: false,align: 'left', width:'100px'}
                /*{ text: 'Kpi Ene.', value: 'mesk1',sortable: false,align: 'left', width:'100px'},                    
                { text: 'Kpi Feb.', value: 'mesk2',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Mar.', value: 'mesk3',sortable: false,align: 'left', width:'100px'},                
                { text: 'Kpi Abr.', value: 'mesk4',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Mayo', value: 'mesk5',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Jun.', value: 'mesk6',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Jul.', value: 'mesk7',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Ago.', value: 'mesk8',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Sep.', value: 'mesk9',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Oct.', value: 'mesk10',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Nov.', value: 'mesk11',sortable: false,align: 'left', width:'100px'},
                { text: 'Kpi Dic.', value: 'mesk12',sortable: false,align: 'left', width:'100px'},*/
            ],            
            dataseg: [],
            rules: {                
                maxPorcentaje: value => value < 100 || 'El % no puede mayor a 100'
            
            }
        }
    },

    methods: {

        showMessage (snack, time, color, text) {

           this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },
        
        envioNotificaciones(mensajenotificacion,asuntocorreo, mensajecorreo){

            this.$emit('envioNotificaciones', {mensajenotificacion: mensajenotificacion,asuntocorreo: asuntocorreo, mensajecorreo: mensajecorreo})
        }, 

        traerDataProyecto(){

            var _this = this
           
            _this.convenioproyecto = ''
            _this.nombreproyecto = ''
            _this.codigocoordinador = '' 
            
            _this.fechasuscripcion = ''
            _this.fechaterejecucion = ''

            ProyectosService.getDataXId(this.proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.convenioproyecto = res.data.data[0].convenio
                            _this.nombreproyecto = res.data.data[0].nombre
                            _this.codigocoordinador = res.data.data[0].codigocoordinador
                            
                            _this.fechasuscripcion =  res.data.data[0].fechasuscripcion
                            _this.fechaterejecucion =  res.data.data[0].fechaterejecucion

                        }

                    }                    
                    
            }).catch(function(err) {
                    
            })
        },

        traerObjetivos(proyecto){

            var _this = this             

            this.dataseg = []
            this.arrActividades = []

            objetivosService.BuscarXProyecto(proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.arrObjetivos = res.data.data                             
                            
                        }  else {
                            
                            _this.arrObjetivos = []
                        }

                    } else {                        	

                        _this.arrObjetivos = []
                    }
                    
            }).catch(function(err) {

                _this.arrObjetivos = []
                
            })

        },

        traerActividades(objetivo){

            var _this = this             

            this.dataseg = []

            proyectosactividadesService.BuscarXProyObjSimple(this.proyecto,objetivo )
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){
                                
                            _this.arrActividades = res.data.data                             
                            
                            _this.arrActividades = res.data.data                             
                            
                        }  else {
                            
                            _this.arrActividades = []
                        }

                    } else {                        	

                        _this.arrActividades = []
                    }
                    
            }).catch(function(err) {

                _this.arrActividades = []
                
            })

        },
        
        traerDataActividades(codigo){

            var _this = this
           
            this.peso=0
            this.kpi=0
            this.descripcionkpi=''
            this.txtobjetivo=''
            
            proyectosactividadesService.FiltroxActividad(codigo)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            //_this.actividad = res.data.data[0].secuencia
                            _this.peso = res.data.data[0].peso
                            _this.kpi = res.data.data[0].kpi
                            
                            _this.descripcionkpi =  res.data.data[0].descripcionkpi
                            _this.txtactividad =  res.data.data[0].descripcion

                        }

                    }                    
                    
            }).catch(function(err) {
                    
            })
        },

        traerdata(){

            var _this = this
            this.loading = true

            proyectosegplanService.BuscarXObjetivoActividad(this.actividad.secuencia)
                .then(function(res) {

                    if (res.request) {                       
                       
                        if(res.data){

                            _this.dataseg = res.data
                            _this.traerDataActividades(_this.actividad.secuencia)

                        }  else {
                            
                            _this.dataseg = []                            
                        
                        }

                    } else {                        	

                        _this.dataseg = []

                    }    

                    _this.traerInfoBase(_this.objetivo, _this.actividad.secuencia)
                    _this.loading = false                
                    
            }).catch(function(err) {

                    _this.dataseg = []
                    _this.loading = false                
                
            })

        },

        traerInfoBase(codigoobjetivo, codigoactividad){
            
            var _this = this             

            var DatActividad = []

            proyectosactividadesService.FiltroxActividad(codigoactividad)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            DatActividad = res.data.data
                            
                            if(DatActividad.length > 0){

                                let fechaIni = new Date(DatActividad[0]['fechainicio'])
                                let fechafin = new Date(DatActividad[0]['fechafin'])                                

                                let annoini = fechaIni.getFullYear() 
                                let annofin = fechafin.getFullYear()

                                let dataBase = {proyecto: _this.proyecto, objetivo:codigoobjetivo.codigo, actividad:codigoactividad,
                                                annoini:annoini,annofin:annofin}

                                proyectosegplanService.addBasico(dataBase)
                                    .then(function(res) {
                                        
                                        this.traerdata()
                                            
                                    }).catch(function(err) {
        	
                                        
                                    })    

                            }
                            
                        }  else {
                            
                            DatActividad = []
                        }

                    } else {                        	

                        DatActividad = []
                    }
                    
            }).catch(function(err) {

                DatActividad = []
                
            })

        },

        valida(){

            var msg = ''

            //validar % y kpi
            for (let index = 0; index < this.dataseg.length; index++) {
                const totporcentaje = parseFloat(this.dataseg[index].mes1) + parseFloat(this.dataseg[index].mes2) + 
                                      parseFloat(this.dataseg[index].mes3) + parseFloat(this.dataseg[index].mes4) +
                                      parseFloat(this.dataseg[index].mes5) + parseFloat(this.dataseg[index].mes6) +
                                      parseFloat(this.dataseg[index].mes7) + parseFloat(this.dataseg[index].mes8) +
                                      parseFloat(this.dataseg[index].mes9) + parseFloat(this.dataseg[index].mes10) +
                                      parseFloat(this.dataseg[index].mes11) + parseFloat(this.dataseg[index].mes12)
                                      
                const totkpi = parseFloat(this.dataseg[index].mesk1) + parseFloat(this.dataseg[index].mesk2) + 
                                      parseFloat(this.dataseg[index].mesk3) + parseFloat(this.dataseg[index].mesk4) +
                                      parseFloat(this.dataseg[index].mesk5) + parseFloat(this.dataseg[index].mesk6) +
                                      parseFloat(this.dataseg[index].mesk7) + parseFloat(this.dataseg[index].mesk8) +
                                      parseFloat(this.dataseg[index].mesk9) + parseFloat(this.dataseg[index].mesk10) +
                                      parseFloat(this.dataseg[index].mesk11) + parseFloat(this.dataseg[index].mesk12)
                                      
                if (totporcentaje > 100)
                    msg = "El porcentaje ejecutado en el año '" + this.dataseg[index].anno + "' supero el 100%"

                else if(totkpi > this.kpi)
                    msg = "El kpi programado en el año '" + this.dataseg[index].anno + "' supero el total de '" + this.kpi + "'"
                    
                return msg    
            }

        },

        saveitem(){            
           
            this.loading = true
            
            var msg = this.valida()

            if(msg != ''){

                this.showMessage(true,3000,'error',msg)
                this.loading = false
                return

            }


            var _this = this 

            proyectosegplanService.addupdData(this.dataseg)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,7000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		_this.showMessage(true,3000,'success','Se Actualizó el Seguimiento al Plan de Acción de un Objetivo con éxito')
                                                           

                            _this.traerdata()              	  									
							
                            _this.agregaBitacora('ACTUALIZACION','SE ACTUALIZO EL SEGUIMIENTO DEL PLAN DE ACCION DEL OBJETIVO ' +
                                                 _this.objetivo.descripcion + 'DEL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + 
                                                 ' Y NOMBRE: ' + _this.nombreproyecto)                                                 
                                                       
                            var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se Actualizó el seguimiento del Plan de Acción del Objetivo '" + _this.objetivo.descripcion + 
                                            "' del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                            var mensajenotifica = "Se Actualizó el seguimiento del Plan de Acción del Objetivo '" + _this.objetivo.descripcion + 
                                                  "' del Proyecto con # de Convenio " + 
                                                  _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                            _this.envioNotificaciones(mensajenotifica,'Actualización Seguimiento Plan de Acción de un Proyecto',mensajecorreo)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

        },
        
        async traeUsuarios(){            

            this.usuarioDirCientifica = 0
            this.usuarioPlaneacion = 0

            try{

                let dircientifica = await areasService.getUserXArea(3) //dirección cientifica
                let planeacion = await areasService.getUserXArea(4) //planeacion               

                if(dircientifica.data)
                    this.usuarioDirCientifica = dircientifica.data.data[0].userid
                    
                if(planeacion.data)
                    this.usuarioPlaneacion = planeacion.data.data[0].userid    

                this.usuaactual = this.$session.get('usuarioid')

                this.readvbsubdir = true
                this.soloLectura = false                               
                    
                if(this.usuaactual == this.usuarioDirCientifica){
                    this.readvbsubdir = false	
                    this.soloLectura = true
                }

                if(this.usuaactual == this.usuarioPlaneacion){                    	
                    this.soloLectura = true
                }


            } catch (error) {	

            }
            finally {

            }

        },

        agregaBitacora(accion, detalle){              

            var data = {modulo:'SEGUIMIENTO PLAN DE ACCION PROYECTOS',accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        },

    },

    watch: {

        proyecto: function (val) {

            if(val!=0){
                
                this.traerObjetivos(val) 
                this.traerDataProyecto()              

            }
        },

        onoffSeguimiento: function (val) {

            if(val!=0){

                this.objetivo = ''
                this.traerObjetivos(val)               

            }
        },       
    },

    mounted() {

        this.traerDataProyecto()
        this.traerObjetivos(this.proyecto)
        this.traeUsuarios()
        
    },
}

</script>

<style>

</style>