<template>
    <v-container fluid>
        <v-stepper v-model="e1">
            <v-stepper-header>
                <v-stepper-step :complete="e1 > 1 && propiedadintelectual" step="1">Formulación</v-stepper-step>
        
                <v-divider></v-divider>
        
                <v-stepper-step :complete="e1 > 2" step="2">Propiedad Intelectual</v-stepper-step>        
            </v-stepper-header>
        
            <v-stepper-items>
                <v-stepper-content step="1">
                    <v-card
                        class="mb-12"
                        v-for="item in data"
                        :key="item.codigo"
                        max-width="1000"
                    >
                        <v-card-text>
                            <v-row>
                                {{ item.codigo }} {{ item.pregunta }}
                            </v-row>
                            <v-row>
                                <v-col sm3>                                   
                                    <v-select
                                        :items="arrBoolean"
                                        item-value="value"
                                        item-text="text"
                                        v-model="item.sino"                                         
                                        label="Si/No"
                                        :readonly="readonly" 
                                        @change="pasarPropiedadIntelectual(item.codigo,item.sino)"
                                    >									
                                    </v-select>
                                </v-col>
                                <v-col sm9>
                                    <v-textarea	
                                        filled															
                                        name="input-5-4"                        
                                        v-model="item.observacion"                        
                                        :readonly="readonly"  
                                        label="Observación"                      
                                    ></v-textarea>
                                </v-col>        
                            </v-row>        
                        </v-card-text>
                    </v-card>
                    
                    <div style="width:100%;text-align:right">
                        <v-btn color="primary" v-if="!readonly" dark text @click="saveitem">Actualizar Formulación</v-btn>				
                    </div>    
                    
                    <v-btn
                        color="primary"
                        @click="e1 = 2"
                        :disabled="!propiedadintelectual"
                        
                    >
                        Continue
                    </v-btn>            
                </v-stepper-content>
        
                <v-stepper-content step="2">
                    <v-card
                        class="mb-12"                        
                        max-width="1000"
                    >
                        <v-card-text>
                            <v-row>                                
                                 <v-col sm9>
                                    1. Productos Sujetos a Derechos de Autor
                                </v-col>
                                <v-col sm3>                                   
                                    <v-select
                                        :items="arrBoolean"
                                        item-value="value"
                                        item-text="text"
                                        v-model="SNderaut"                                         
                                        label="Si/No" 
                                        :readonly="readonly"
                                        @change="pasarHabDeshDA()"
                                        
                                    >									
                                    </v-select>
                                </v-col> 
                            </v-row>
                            <v-row justify="center">
                                <v-data-table 
                                    :headers="headDerAut" 
                                    :items="dataDerAut"
                                    :single-select="false"
                                    :show-select = "!readonly"   
                                    v-model="selectedDerAut"
                                    item-key="codigo"
                                    :hide-default-footer="true" 
                                    :items-per-page="-1"                                   
                                >
                                </v-data-table>    
                            </v-row>                                       
                        </v-card-text>
                    </v-card>
                    
                    <v-card
                        class="mb-12"                        
                        max-width="1000"
                    >
                        <v-card-text>
                            <v-row>
                                <v-col sm9>
                                    2. Productos Sujetos de Propiedad Industrial
                                </v-col>    
                                <v-col sm3>                                   
                                    <v-select
                                        :items="arrBoolean"
                                        item-value="value"
                                        item-text="text"
                                        v-model="SNproind"                                         
                                        label="Si/No" 
                                        :readonly="readonly"
                                        @change="pasarHabDeshDPI(SNproind)"
                                    >									
                                    </v-select>
                                </v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-data-table 
                                    :headers="headPropInd" 
                                    :items="dataPropInd"
                                    :single-select="false"
                                    :show-select = "!readonly" 
                                    v-model="selectedPropInd"
                                    item-key="codigo"
                                    :hide-default-footer="true"
                                    :items-per-page="-1"
                                >
                                </v-data-table>    
                            </v-row>                                     
                        </v-card-text>
                    </v-card>

                    <v-card
                        class="mb-12"                        
                        max-width="1000"
                    >
                        <v-card-text>
                            <v-row>
                                <v-col sm9>
                                    3. Obtención y mejora de organismos vivos
                                </v-col>
                                <v-col sm3>                                   
                                    <v-select
                                        :items="arrBoolean"
                                        item-value="value"
                                        item-text="text"
                                        v-model="SNorgviv"                                         
                                        label="Si/No" 
                                        :readonly="readonly"
                                        @change="pasarHabDeshOV(SNorgviv)"
                                    >									
                                    </v-select>
                                </v-col>
                            </v-row>
                            <v-row justify="center">
                                <v-data-table 
                                    :headers="headOrgViv" 
                                    :items="dataOrgViv"
                                    :single-select="false"
                                    :show-select = "!readonly"
                                    v-model="selectedOrgViv"
                                    item-key="codigo"      
                                    :hide-default-footer="true"
                                    :items-per-page="-1"                                                                  
                                >
                                </v-data-table>    
                            </v-row>                                   
                        </v-card-text>
                    </v-card>

                    <div style="width:100%;text-align:right">
                        <v-btn color="primary" v-if="!readonly" dark text @click="savePI">Actualizar Propiedad Intelectual</v-btn>				
                    </div> 
        
                    <v-btn
                        color="primary"
                        @click="e1 = 1"
                    >
                        Anterior
                    </v-btn>
            
                    <v-btn text>Cancel</v-btn>
                </v-stepper-content>        
                
            </v-stepper-items>
        </v-stepper>
    </v-container>    
</template>

<script>
import proyectosformulacionService from "../servicios/ProyectosFormulacionService"
import proyectosorgvivosService from "../servicios/ProyectosOrgVivosService"
import proyectosprodderautService from "../servicios/ProyectosProdDerAutService"
import proyectosprodproindService from "../servicios/ProyectosProdProIndService"

import proyectosPIService from "../servicios/ProyectosPIService"

export default {
    name: 'FormulacionPI',
    props: ['proyecto','readonly','convenioproyecto','nombreproyecto','codigocoordinador'],
    data (){

        return {
            loading: false,
            e1: 1,
            propiedadintelectual:0,
            data:[],

            selectedDerAut:[],
            selectedPropInd:[],
            selectedOrgViv:[],

            //totalderaut:0,
            //totalproind:0,
            //totalorgviv:0,

            SNproind:0,
            SNderaut:0,
            SNorgviv:0,

            dataOrgViv:[],

            arrBoolean:[
                {value:0, text:'NO' },
                {value:1, text:'SI' },
            ],            
            
            headDerAut:[
                { text: 'Descripción',align: 'left',sortable: false,value: 'descripcion'}
            ],
            headPropInd:[
                { text: 'Descripción',align: 'left',sortable: false,value: 'descripcion'}
            ],
            headOrgViv:[
                { text: 'Descripción',align: 'left',sortable: false,value: 'descripcion'}
            ],

            dataDerAut:[],
            dataPropInd:[],
            dataOrgViv:[],

        }
    },

    methods: {

        showMessage (snack, time, color, text) {

           this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },

        envioNotificaciones(mensajenotificacion,asuntocorreo, mensajecorreo){
            
            this.$emit('envioNotificaciones', {mensajenotificacion: mensajenotificacion,asuntocorreo: asuntocorreo, mensajecorreo: mensajecorreo})

        },

        agregarPreguntas(){

            var _this = this            

            proyectosformulacionService.addPreguntas(this.proyecto)
                .then(function(res) {            
                    
            }).catch(function(err) {
              
                
            })

        },

        traerdata(){

            var _this = this
            this.loading = true

            proyectosformulacionService.getDataXProyecto(this.proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){

                            _this.data = res.data.data

                            for (let index = 0; index < _this.data.length; index++) {
                                const element = _this.data[index]

                                if(element.codigo == '3' && element.sino == '1')
                                    _this.propiedadintelectual = 1

                                if(element.sino == '1'){

                                    element.sino = 1

                                } else {

                                    element.sino = 0

                                }

                                
                            }
                            
                        }  else {
                            
                            _this.data = []                          
                        
                        }

                    } else {                        	

                        _this.data = []
                        
                    }    
                    _this.loading = false                
                    
            }).catch(function(err) {

                    _this.data = []
                    _this.loading = false                
                
            })

        },

        pasarPropiedadIntelectual(numpregunta, valor){

            if(numpregunta == 3){

                if(valor){
                    this.propiedadintelectual = true
                } else {

                    this.propiedadintelectual = false

                }

            }


        },    
        
        saveitem(){            
            
            this.loading = true
            
            var _this = this 

            proyectosformulacionService.guardarData(this.data)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,7000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		_this.showMessage(true,3000,'success','Se Actualizarón las Preguntas de la Formulación con éxito')
                            
                            _this.traerdata()              	  									
							
                            _this.agregaBitacora('ACTUALIZACION','SE ACTUALIZARON LAS PREGUNTAS DE LA FORMULACION ' +
                                                 'DEL PROYECTO CON # DE CONVENIO: ' + _this.convenioproyecto + 
                                                 ' Y NOMBRE: ' + _this.nombreproyecto)                                                 
                            //_this.OnOffProyObjetivo()  
                            
                            var mensajecorreo = "Cordial Saludo,<br><br> " +
                                            "Se Actualizaron las Preguntas de la Formulación del Proyecto con # de Convenio " + 
                                            _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto +
                                            "<br><br>Agradeciendo su atención,<br><br> " +                        
                                            "<b>SINCHI</b><br><br> " +
                                            "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                            "correo electrónico, no lo responda.</i> <br>"
                        
                            var mensajenotifica = "Se Actualizaron las Preguntas de la Formulación del Proyecto con # de Convenio " + 
                                                  _this.convenioproyecto + ", Nombre: " + _this.nombreproyecto

                            _this.envioNotificaciones(mensajenotifica,'Actualización de las Preguntas de la Formulación del Proyecto',mensajecorreo)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

        },
        
        pasarHabDeshDA(){

            if(this.SNderaut == 0){
                this.selectedDerAut = []

            }

        },

        pasarHabDeshOV(){

            if(this.SNorgviv == 0){
                this.selectedOrgViv = []
            }

        },

        pasarHabDeshDPI(){

            if(this.SNproind == 0){
                this.selectedOrgViv = []
            }

        },

        traerOrgVivosSel(){

            var _this = this
            
            this.dataOrgViv = []
            this.selectedOrgViv = []
            this.SNorgviv = 0

            proyectosorgvivosService.seleccionadosxProyecto(this.proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){
                            
                            _this.dataOrgViv = res.data

                            let total = 0

                            for (let index = 0; index < _this.dataOrgViv.length; index++) {

                                if(_this.dataOrgViv[index].Seleccionado == '1'){
                                    total++

                                    _this.selectedOrgViv.push({ codigo: _this.dataOrgViv[index].codigo, descripcion: _this.dataOrgViv[index].descripcion,
                                                                Seleccionado: _this.dataOrgViv[index].Seleccionado})
                                    //_this.selectedOrgViv.push(_this.dataOrgViv[index].codigo)
                                }    
                                
                            }

                            if(total > 0)
                                _this.SNorgviv = 1
                            
                        }

                    }   
                    
            }).catch(function(err) {
                     
                
            })

        },

        traerProdDerAutSel(){

            var _this = this
            
            this.dataDerAut = []
            this.selectedDerAut = []
            this.SNderaut = 0

            proyectosprodderautService.seleccionadosxProyecto(this.proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){
                            
                            _this.dataDerAut = res.data

                            let total = 0

                            for (let index = 0; index < _this.dataDerAut.length; index++) {

                                if(_this.dataDerAut[index].Seleccionado == '1'){
                                    total++

                                    _this.selectedDerAut.push({ codigo: _this.dataDerAut[index].codigo, descripcion: _this.dataDerAut[index].descripcion,
                                                                Seleccionado: _this.dataDerAut[index].Seleccionado})
                                    //_this.selectedDerAut.push(_this.dataDerAut[index].codigo)
                                }    
                                
                            }

                            if(total > 0)
                                _this.SNderaut = 1
                            
                        }

                    }   
                    
            }).catch(function(err) {
                     
                
            })

        },

        traerProdProIndSel(){

            var _this = this
            
            this.dataPropInd = []
            this.selectedPropInd = []
            this.SNderaut = 0

            proyectosprodproindService.seleccionadosxProyecto(this.proyecto)
                .then(function(res) {

                    if (res.request) {
                                    
                        if(res.data){
                            
                            _this.dataPropInd = res.data

                            let total = 0

                            for (let index = 0; index < _this.dataPropInd.length; index++) {

                                if(_this.dataPropInd[index].Seleccionado == '1'){
                                    total++

                                    _this.selectedPropInd.push({ codigo: _this.dataPropInd[index].codigo, descripcion: _this.dataPropInd[index].descripcion,
                                                                Seleccionado: _this.dataPropInd[index].Seleccionado})
                                    //_this.selectedPropInd.push(_this.dataPropInd[index].codigo)
                                }    
                                
                            }

                            if(total > 0)
                                _this.SNproind = 1
                            
                        }

                    }   
                    
            }).catch(function(err) {
                     
                
            })

        },

        async savePI() {

			try {

				this.loading = true

                var dataDerAut = []
                var datapropInd = []
                var dataOrgViv = []

                for (let index = 0; index < this.selectedDerAut.length; index++) {
                    const element = this.selectedDerAut[index];

                    dataDerAut.push({proyecto: this.proyecto, codigo: element.codigo })                    
                }

                for (let index = 0; index < this.selectedPropInd.length; index++) {
                    const element = this.selectedPropInd[index];

                    datapropInd.push({proyecto: this.proyecto, codigo: element.codigo })                    
                }

                for (let index = 0; index < this.selectedOrgViv.length; index++) {
                    const element = this.selectedOrgViv[index];

                    dataOrgViv.push({proyecto: this.proyecto, codigo: element.codigo })                    
                }

                let datDerAut = await proyectosPIService.guardarDerAut(dataDerAut)
                let datProInd = await proyectosPIService.guardarPropInd(datapropInd)
				let datOrgViv = await proyectosPIService.guardarOrgViv(dataOrgViv)
				       
                var mensaje = ''
                var accbitacora = ''

                this.showMessage(true,3000,'success','Se Actualizó los datos de la Porpiedad Intelectual con éxito')
                
                this.traerOrgVivosSel()
                this.traerProdDerAutSel()
                this.traerProdProIndSel()
                
                this.agregaBitacora('ACTUALIZACION','SE ACTUALIZÓ LOS DATOS DE LA PROPIEDAD INTELECTUAL ' +
                                        'DEL PROYECTO CON # DE CONVENIO: ' + this.convenioproyecto + 
                                        ' Y NOMBRE: ' + this.nombreproyecto)                                                 
                             
                var mensajecorreo = "Cordial Saludo,<br><br> " +
                                "Se Actualizó los datos de la Propiedad Intelectual del Proyecto con # de Convenio " + 
                                this.convenioproyecto + ", Nombre: " + this.nombreproyecto +
                                "<br><br>Agradeciendo su atención,<br><br> " +                        
                                "<b>SINCHI</b><br><br> " +
                                "<i>Este es un servicio de notificaciones generado automáticamente por medio de " +
                                "correo electrónico, no lo responda.</i> <br>"
            
                var mensajenotifica = "Se Actualizó los datos de la Propiedad Intelectual del Proyecto con # de Convenio " + 
                                        this.convenioproyecto + ", Nombre: " + this.nombreproyecto

                this.envioNotificaciones(mensajenotifica,'Actualización de los datos de la propiedad intelectual del Proyecto',mensajecorreo)

                this.loading = false
                			
			} catch (error) {

				this.showMessage(true,3000,'error',error)

				this.loading = false
				
			}
			finally {

				this.loading = false

			}

		},    

        agregaBitacora(accion, detalle){              

            var data = {modulo:'FORMULACION/PROPIEDAD INTELECTAL PROYECTOS',accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        },

    },

    watch: {

        proyecto: function (val) {            

            if(val!=0){

                this.agregarPreguntas()
                this.traerdata()

                this.traerOrgVivosSel()
                this.traerProdDerAutSel()
                this.traerProdProIndSel()

            }
                

        },
        
        selectedOrgViv: function(val) {

            if(val.length > 0)
                this.SNorgviv = 1
            else  
                this.SNorgviv = 0 

        },
        
        selectedDerAut: function(val) {

            if(val.length > 0)
                this.SNderaut = 1
            else  
                this.SNderaut = 0 

        },
        
        selectedPropInd: function(val) {

            if(val.length > 0)
                this.SNproind = 1
            else  
                this.SNproind = 0 

        },
    },
}
</script>

<style>

</style>    