<template>
	<v-container>		
		 <v-flex>
			<div style="padding-bottom:10px"> 
				<v-btn fab dark small color="primary" @click="abrirDialogo(0, '')" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div> 
			<v-card >
                <v-card-title class="justify-center">
					Resguardos Indígenas
				</v-card-title>
				<v-card-text>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
					<v-data-table 
						:headers="headers" 
						:items="data"
						:items-per-page="5" 
						:disable-sort="true" 
						:search="search"
						:expanded.sync="expandDetalle"
						item-key="codigo"
						:single-expand="true"
						show-expand
						@update:expanded="traerDetalle"
					>
						<template v-slot:item.action="{ item }">  
							<v-icon
								small
								class="mr-5"
								color="primary"																
								@click="abrirDialogo(1, item)"
								
							>
								edit
							</v-icon>

							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								:loading="loading"
								@click="dialog_del=true, itemactual=item"
								
							>
								delete
							</v-icon>               
						</template>
						<template v-slot:expanded-item="{ headers, item }">
							<td :colspan="headers.length">
								<v-data-table
									:headers="headersDet"
									:items="datadetalle"
									:items-per-page="15"
									class="elevation-5"
									dense
								>	
									<template v-slot:item.action="{ item }"> 

										<v-icon
											small
											class="mr-5"
											color="primary" 
											:disabled="loading"
											:loading="loading"
											@click="dialog_del_detalle=true, itemactualdetalle=item"
											
										>
											delete
										</v-icon>               
									</template>
								</v-data-table>
							</td>
						</template>
					</v-data-table>
                </v-card-text>
			</v-card>
		</v-flex>

		<v-dialog v-model="dialog" scrollable persistent max-width="800px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>					
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>		
							<v-form v-model="valid" ref="form">
								<v-flex sm12>
									<v-text-field v-model="nombre" 
										label="Nombre" 
										:rules="[rules.required]"
									></v-text-field>
								</v-flex>								
								<v-flex sm12>    								
									<v-data-table :items="additems" :items-per-page="6">
										<template v-slot:item="{ item }">
											<v-layout wrap>
												<v-flex lg1 md12 xs12 sm12>
													<span style="font-weight: bold;">
														{{ item.numero }}
													</span>
												</v-flex>
												<v-flex lg8 md12 xs12 sm12>
													<v-autocomplete
														:items="arrCiudades"
														item-value="codigo"
														item-text="nombrecompleto"
														v-model="item.codigociudad"
														label="Ciudad"
													>									
													</v-autocomplete>
												</v-flex>												
												<v-flex lg3 md12 xs12 sm12>
													<div style="border-radius: 40px;height: 30px;width:100%;background-color:#F1F3F4;text-align:right" 
														v-if="$vuetify.breakpoint.name == 'xs' || $vuetify.breakpoint.name == 'sm' || 
																$vuetify.breakpoint.name == 'md'">
														<v-icon
															small
															class="mr-5"
															color="error"
															@click="limpiarItem(item.numero)"
														>
															delete
														</v-icon>
													</div>
													<v-icon
														v-else
														small
														class="mr-5"
														color="error"
														@click="limpiarItem(item.numero)"
													>
														delete
													</v-icon>											
												</v-flex>
											</v-layout>
										</template>
									</v-data-table>
								</v-flex>
							</v-form>				
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

        <v-dialog v-model="dialog_del" max-width="500px">

          	<v-card>

				<v-card-title>
					<span class="headline red--text">Eliminar Resguardo Indígena</span>
				</v-card-title>
  
				<v-card-text>					
					¿Esta seguro de eliminar el Resguardo Indígena seleccionado?					
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="closeDialogoDel">Cancelar</v-btn>
					<v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
				</v-card-actions>
          	</v-card>
        </v-dialog>

		<v-dialog v-model="dialog_del_detalle" max-width="500px">

          	<v-card>

				<v-card-title>
					<span class="headline red--text">Eliminar Ciudad de Resguardo Indígena</span>
				</v-card-title>
  
				<v-card-text>					
					¿Esta seguro de eliminar la Ciudad del Resguardo Indígena seleccionada?					
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="closeDialogoDelDetalle">Cancelar</v-btn>
					<v-btn color="red" text @click="deleteItemCiudad" >Eliminar</v-btn>
				</v-card-actions>
          	</v-card>
        </v-dialog>

	</v-container>	
</template>

<script>
	import resguardosindigenasService from "../servicios/ResguardosIndigenasService"
    import ciudadesService from "../servicios/CiudadesService"
    
	export default {

		data (){

			return {
                modulo:'RESGUARDOS INDÍGENAS',							
  				loading: false,
  				dialog:false,
  				edit:-1,
  				dialog_del:false,
  				processing:false,
				formTitle:'',
				valid:false,
				search: '',
                codigo:'0',
                nombre: '',
				itemactual:'',
                data: [],
				datadetalle: [],
                arrCiudades: [],
				additems: [],
				expandDetalle: [],
				itemactualdetalle: '',				
				dialog_del_detalle: false,

  				headers: [
  					{ text: 'Nombre', align: 'left', sortable: false, value: 'nombre' },                    
                    { text: 'Accion', value: 'action',sortable: false}
                ],
				headersDet: [
  					{ text: 'Nombre', align: 'left', sortable: false, value: 'ciudadcompleto' },
                    { text: 'Accion', value: 'action',sortable: false}
                ],
  				rules: {
					required: value => !!value || 'Campo requerido.'					
		        }				
	        }
	    },

	    filters: {	  
            
		},

	    methods: {			
			
			showMessage (snack, time, color, text) {

			      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

		    },
			generaDataDetalle() {

				let tope = 20
				for (let index = 0; index < tope; index++) {
					this.additems.push({numero: index + 1, codigociudad:'0'})					
				}

			},
			limpiarDataDetalle () {

				for (let index = 0; index < this.additems.length; index++) {
					const element = this.additems[index]

					element.codigociudad  = '0'							
				}

			},
			limpiarItem(numero) {

				for (let index = 0; index < this.additems.length; index++) {

					if(this.additems[index].numero == numero) {
						this.additems[index].codigociudad   = '0'						
						break
					}	
				}

			},
			traerCiudadesResguardo(){								

		     	var _this = this               
                var arrDetalle = []

				this.limpiarDataDetalle()
              	resguardosindigenasService.resguardosCiudades(_this.codigo)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            arrDetalle = res.data.data

							for (let index = 0; index < arrDetalle.length; index++) {
								const element = arrDetalle[index]

								_this.additems[index].codigociudad = element.codigociudad 
								
							}

                          }

                      }   
                      
              	}).catch(function(err) {                
              		
				})

		    },		     
			resetForm () {

                this.codigo='0'
                this.nombre=''
               
			},
			abrirDialogo(edit, dataItemActual) {

				this.limpiarDataDetalle()
				this.edit = edit
				this.itemactual = dataItemActual				
				this.dialog = true

			},   
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

			},
		    traerData(){

		     	var _this = this
                this.loading = true
                this.data = []

              	resguardosindigenasService.getData()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.data = res.data.data

                          }

                      }  
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.loading = false                
              		
				})

		     },
			
			traerDetalle(value){

				if (value.length <= 0)
					return
					
				var codigo = value[0].codigo				

		     	var _this = this               
                this.datadetalle = []

              	resguardosindigenasService.resguardosCiudades(codigo)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.datadetalle = res.data.data

                          }

                      }   
                      
              	}).catch(function(err) {                
              		
				})

		    },

            traerCiudades(){

		     	var _this = this
                this.loading = true
                this.arrCiudades = []
                
              	ciudadesService.getData()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.arrCiudades = res.data.data
							_this.arrCiudadesResg = res.data.data

                          }

                      }  
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.loading = false                
              		
				})

		     },

			closeDialogoDel () {
				  
				this.dialog_del = false
			},

			closeDialogoDelDetalle () {

				this.dialog_del_detalle = false

			},	

			deleteItem() {
				
				var _this = this
				this.loading = true

				resguardosindigenasService.DelData(_this.itemactual.codigo)
	              .then(function(res) {

	              	  if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó el Resguardo Indígena con éxito')

                        _this.del_item = ''	              	  		
                        _this.traerData()
                        _this.closeDialogoDel()

                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ EL RESGUARDO INDIGENA :' + _this.itemactual.nombre)

	              	  }else{	                                         	

	                  	_this.showMessage(true,4000,'error',res.message) 	                  	
	                  } 	                   
						_this.del_item = ''						
	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

			},

            validaGuardar(Tipo = 'N'){				

				let arrRepetidos = []
				let ok = true

				for (let index = 0; index < this.additems.length; index++) {
					const element = this.additems[index]

					if(element.codigociudad != '0' && arrRepetidos.length > 0) {

						for (let i = 0; i < arrRepetidos.length; i++) {
							const element2 = arrRepetidos[i]
							
							if(element2.codigociudad == element.codigociudad && element2.numero != element.numero) {
								ok = false
								this.showMessage(true,3000,'error',"La Ciudad del item No. " + (element.numero) + " ya ha sido seleccionada.")
								return ok
							}											
						}

						arrRepetidos.push({codigociudad: element.codigociudad, numero: element.numero})
					} else if(element.codigociudad != '0') {

						arrRepetidos.push({codigociudad: element.codigociudad, numero: element.numero})						
					}									
				}

				return arrRepetidos
            },
			saveitem(Tipo = 'N'){

				var datbit = ''
				
				var arrDataSave = this.validaGuardar()

				if(typeof arrDataSave == 'object') {

					if(this.edit){
					
						if (this.itemactual.nombre != this.nombre)
							datbit += 'Nombre: ' + this.itemactual.nombre.toUpperCase() + ' a ' + this.nombre.toUpperCase()

						datbit = 'CODIGO: ' + this.codigo + ', NOMBRE: ' + this.nombre.toUpperCase() + ' (' + datbit + ')' + ', NO. CIUDADES: ' + arrDataSave.length

					} else {

						datbit += 'NOMBRE: ' + this.nombre.toUpperCase() + ', NO. CIUDADES: ' + arrDataSave.length

					}

					var _this = this
					this.loading = true
					
					var data = {codigo:this.codigo,nombre:this.nombre.toUpperCase(),edicion:this.edit}
					
					resguardosindigenasService.guardarData(data, arrDataSave)
					.then(function(res) {

						if (res.response) {                           
								
							var error = res.response.data.message
							_this.showMessage(true,3000,'error',error)

						} else if(res.statusText){
								
								var mensaje = ''
								var accbitacora = ''
								
								if(_this.edit){
									mensaje = 'Actualizó'
									accbitacora = 'ACTUALIZACION'
								} else {
									mensaje = 'Agregó'
									accbitacora = 'CREACION'
								}

								_this.showMessage(true,3000,'success','Se ' + mensaje + ' el Resguardo Indígena con éxito')

								_this.del_item = ''
								_this.edit = -1	              	  		
								_this.traerData()
								_this.resetForm()
								_this.dialog = false
									
								_this.agregaBitacora(accbitacora,datbit)

						}else{	                                         	

								_this.showMessage(true,3000,'error',res.message) 	                  	
						}

							_this.loading = false	                 
							
					}).catch(function(err) {

						_this.showMessage(true,3000,'error',err)	    
						_this.loading = false          	
						
					})
				}
            },
			deleteItemCiudad() {
				
				var _this = this
				this.loading = true

				var arrActual = [{codigo:_this.itemactualdetalle.codigoresguardo}]

				resguardosindigenasService.DelCiudadResguardo(_this.itemactualdetalle.codigoresguardo, _this.itemactualdetalle.codigociudad)
	              .then(function(res) {

	              	  if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó la Ciudad del Resguardo Indígena con éxito')              	  		
                        _this.traerDetalle(arrActual)
                        _this.closeDialogoDelDetalle()

                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ LA CIUDAD: ' + _this.itemactualdetalle.ciudadcompleto + 
												' DEL RESGUARDO INDIGENA :' + _this.itemactualdetalle.nombreresguardo)

	              	  }else{	                                         	

	                  	_this.showMessage(true,4000,'error',res.message) 	                  	
	                  }					
	                  _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

			},

            agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {
		    edit: function (val) {

		       if(val)
		       {
		       		this.formTitle = 'Editar'

		       		this.codigo = this.itemactual.codigo
                    this.nombre = this.itemactual.nombre

					this.traerCiudadesResguardo()

		       } else{

		       		this.resetForm()
		       	    this.formTitle = 'Nuevo'
		       }
			},			
		},
		mounted() {

            this.traerData()
			this.generaDataDetalle()
            this.traerCiudades()
            this.agregaBitacora('INGRESO','INGRESO AL MODULO')
		},	
	}
	
</script>

<style>
</style>