<template>
    <v-container fluid>	
        <v-row>
            <v-card width="95%" class="mx-auto">

				<v-card-title>
					<span class="headline">Solicitud de Modificación</span>
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>
                            <v-layout wrap>
                                <v-flex sm12>
                                    <v-btn class="ma-2" color="primary" 
                                        text                                            
                                        @click="dialog_addproyecto = true"
                                    >
                                        Seleccionar Proyecto
                                        <v-icon
                                            dark 
                                            right																														
                                        >
                                            send
                                        </v-icon>
                                    </v-btn>
                                    <div style="width:96%;text-align: center;padding-left: 10px;">																
                                        <v-data-table :headers="headerproyectogen" :items="arrProyectosGen" 
                                            :disable-sort="true" :disable-pagination="true" 
                                            :hide-default-footer="true"
                                        > 
                                            <template v-slot:item.valortotal="{ item }">
                                                <span>{{ item.valortotal |  currency({
                                                        symbol: item.moneda,
                                                        thousandsSeparator: '.',
                                                        fractionCount: '0',
                                                        fractionSeparator: ',',
                                                        symbolPosition: 'front',
                                                        symbolSpacing: true
                                                    })}}
                                                </span>
                                            </template>
                                        </v-data-table>
                                    </div>										
                                </v-flex>														
                            </v-layout>						
						</v-layout>
					</v-container>
				</v-card-text>
  
				<!--<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>-->

          	</v-card>
        </v-row>

        <v-dialog v-model="dialog_addproyecto" width="1200">
			<v-card>
				<v-card-text>	
					<v-text-field
						v-model="searchcongenadd"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
					<v-data-table :headers="headerproyectogenAdd" :items="arrProyectosGenAll" :items-per-page="5" :disable-sort="true" :search="searchcongenadd">
						
						<template v-slot:item.valortotal="{ item }">
							<span>{{ item.valortotal |  currency({
									symbol: item.moneda,
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>		

			           	<template v-slot:item.action="{ item }">
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="seleccionarProyectoGen(item.codigo)"								
							>
								send
							</v-icon>												
												
					  	</template>	

		            </v-data-table>	
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="dialog_addproyecto=false">Cancelar</v-btn>				
				</v-card-actions>
			</v-card>			
        </v-dialog>

        <v-dialog v-model="dialog_addproyecto" width="1200">
			<v-card>
				<v-card-text>	
					<v-text-field
						v-model="searchcongenadd"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
					<v-data-table :headers="headerproyectogenAdd" :items="arrProyectosGenAll" 
						:items-per-page="5" 
						:disable-sort="true" 
						:search="searchcongenadd">						

						<template v-slot:item.valortotal="{ item }">
							<span>{{ item.valortotal |  currency({
									symbol: item.moneda,
									thousandsSeparator: '.',
									fractionCount: '0',
									fractionSeparator: ',',
									symbolPosition: 'front',
									symbolSpacing: true
								})}}
							</span>
						</template>		

			           	<template v-slot:item.action="{ item }">
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="seleccionarProyectoGen(item.codigo)"								
							>
								send
							</v-icon>												
												
					  	</template>	

		            </v-data-table>	
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="dialog_addproyecto=false">Cancelar</v-btn>				
				</v-card-actions>
			</v-card>			
        </v-dialog>    

    </v-container>    
</template>

<script>
    import proyectosService from "../servicios/ProyectosService"

    export default {

        name:'SolicitarModProyectos',		
		data (){

			return {
                modulo:'MODIFICACIÓN PROYECTOS',					
                loading: false,  				
                  
                searchcongenadd:'',
                dialog_addproyecto:false,
                arrProyectosGenAll:[],
                arrProyectosGen:[],

                headerproyectogen: [

					{ text: 'Nombre Proyecto',align: 'left',sortable: false,value: 'nombre'},
					{ text: 'No. Convenio',align: 'left',sortable: false,value: 'convenio'},					
					{ text: 'Nombre Convenio', value: 'nombreconvenio',sortable: false,align: 'left'},					
					{ text: 'Valor Total', value: 'valortotal',sortable: false,align: 'left'}

				],

				headerproyectogenAdd: [

					{ text: 'Nombre Proyecto',align: 'left',sortable: false,value: 'nombre'},
					{ text: 'No. Convenio',align: 'left',sortable: false,value: 'convenio'},					
					{ text: 'Nombre Convenio', value: 'nombreconvenio',sortable: false,align: 'left'},
                    { text: 'Valor Total', value: 'valortotal',sortable: false,align: 'left'},
					{ text: 'Seleccionar', value: 'action',sortable: false}

                ],
            }
        },

        methods: {
			
			showMessage (snack, time, color, text) {

			      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

            },

            seleccionarProyectoGen(codigo){

				this.proyecto=codigo
				this.traeProyectoGen()
				this.dialog_addproyecto = false
            },	
            
            traeProyectoGen(){

		     	var _this = this                
				
				this.arrProyectosGen = []

				/*this.numeroconvenio = ''
				this.nombreconvenio = ''
				this.coordinador = ''
				this.valortotalconvenio = 0
				this.moneda = ''

				this.fechasuscripcion = ''
				this.fechaterejecucion = ''
				this.fechaincorporacion = ''*/

              	proyectosService.getDataXId(this.proyecto)
                  .then(function(res) {

                      if (res.request) {
						  
                          if(res.data){
							 
							_this.arrProyectosGen = res.data.data

							/*_this.numeroconvenio = _this.arrProyectosGen[0].convenio
							_this.nombreconvenio = _this.arrProyectosGen[0].nombreconvenio
							_this.coordinador = _this.arrProyectosGen[0].codigocoordinador
							_this.valortotalconvenio = _this.arrProyectosGen[0].valortotal
							_this.moneda = _this.arrProyectosGen[0].moneda

							_this.fechasuscripcion = _this.arrProyectosGen[0].fechasuscripcion 
							_this.fechaterejecucion = _this.arrProyectosGen[0].fechaterejecucion
							_this.fechaincorporacion = _this.arrProyectosGen[0].fechaincorporacion*/

                          }

                      }
                      
              	}).catch(function(err) {              
              		
				})

            },
            
            traeProyectosAll(){

		     	var _this = this                
				
				this.arrProyectosGenAll = []

              	proyectosService.getDataXVoBo()
                  .then(function(res) {

                      if (res.request) {						  

                          if(res.data){
							 
							_this.arrProyectosGenAll = res.data.data					

                          }

                      }
                      
              	}).catch(function(err) {              
              		
				})

            },

            agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
        },

        mounted() {
				
			this.traeProyectosAll()		
			this.traerMetodosSeleccion()
			this.agregaBitacora('INGRESO','INGRESO AL MODULO')
		},
    }
</script>