<template>
	<v-container>		
		 <v-flex>
			<div style="padding-bottom:10px"> 
				<v-btn fab dark small color="primary" @click="dialog = true, edit=0,itemactual=''" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div>		
			<v-card >
                <v-card-title class="justify-center">
					Tarifas Lugares
				</v-card-title>
				<v-card-text>
					<v-text-field
							v-model="search"
							append-icon="search"
							label="Buscar"
							single-line
							hide-details
						></v-text-field>
				</v-card-text>		
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" :disable-sort="true" :search="search">

						<template v-slot:item.action="{ item }">
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="dialog = true, edit=1, itemactual=item"
							>
								edit
							</v-icon>
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								:loading="loading && itemactual === item "
								@click="dialog_del=true, itemactual=item"
                                v-if="item.codigo > 2"
							>
								delete
							</v-icon>						
													
					  	</template>
		            </v-data-table>		            	
		          </v-layout>
			</v-card>
		 	
		</v-flex>

		<v-dialog v-model="dialog" scrollable persistent max-width="700px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>					
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>		
							<v-form v-model="valid" ref="form">			
								<v-flex smd12>
									<v-text-field v-model="descripcion" 
										label="Descripción" 
										:rules="[rules.required]"
										:readonly="codigo > 0 && codigo <= 2"
									></v-text-field>
								</v-flex>
                                <v-flex smd3>
                                    <v-select
                                        :items="arrMonedas"
                                        item-value="codigo"
                                        item-text="simbolo"
                                        v-model="moneda"
                                        label="Moneda"
                                        :rules="[rules.required]"
                                        :return-object="true"
                                        @change="cambiasimboloMoneda"		
                                    >									
                                    </v-select>
                                </v-flex>
                                <!--<v-flex smd3>
                                    <v-text-field v-model="valor" label="Valor Tarifa"  
                                        :rules="[rules.required]"                                                                                                        
                                        :prefix='simbolomoneda'
										@focus="tomarFocoValor"
										@blur="valor = number_format(valor,2)"
                                    >
                                    </v-text-field>
                                </v-flex>-->

								<v-tabs
									v-model="tabs"
									
									slider-color="primary"
									color="primary"									
								>
									<v-tab									
										:key="1"
										:href="`#tab-1`"
									>
										Rangos
									</v-tab>

									<v-tab									
										:key="2"
										:href="`#tab-2`"
										v-if="codigo > 2"
									>
										Países
									</v-tab>
								</v-tabs>

								<v-tabs-items v-model="tabs">
									<v-tab-item										
										:key="1"
										:value="`tab-1`"
									>
										<v-card flat>
											<v-card-text>
												<v-flex smd12>
													<div style="padding-bottom:10px"> 
														<v-btn fab dark small color="primary" @click="editRangos =0,dialog_addrangos = true" >
															<v-icon dark>add</v-icon>				
														</v-btn>
													</div>													
													<v-data-table :headers="headersrangos" :items="datarangos" 
														:items-per-page="5" :disable-sort="true"
													>   
														
														<template v-slot:item.rangoinicial="{ item }">
															<span>{{ item.rangoinicial |  currency({
																	symbol: simbolomoneda,
																	thousandsSeparator: '.',
																	fractionCount: '0',
																	fractionSeparator: ',',
																	symbolPosition: 'front',
																	symbolSpacing: true
																})}}
															</span>
														</template>

														<template v-slot:item.rangofinal="{ item }">
															<span>{{ item.rangofinal |  currency({
																	symbol: simbolomoneda,
																	thousandsSeparator: '.',
																	fractionCount: '0',
																	fractionSeparator: ',',
																	symbolPosition: 'front',
																	symbolSpacing: true
																})}}
															</span>
														</template>

														<template v-slot:item.valordiario="{ item }">
															<span>{{ item.valordiario |  currency({
																	symbol: simbolomoneda,
																	thousandsSeparator: '.',
																	fractionCount: '0',
																	fractionSeparator: ',',
																	symbolPosition: 'front',
																	symbolSpacing: true
																})}}
															</span>
														</template>		

														<template v-slot:item.action="{ item }">  
															<v-icon
																small
																class="mr-5"
																color="primary"																
																@click="dialog_addrangos = true,editRangos=1, itemactualRangos=item"
																
															>
																edit
															</v-icon>

															<v-icon
																small
																class="mr-5"
																color="primary" 
																:disabled="loading"
																:loading="loading"
																@click="eliminarRango(item.codigo)"
																
															>
																delete
															</v-icon>               
														</template>
													</v-data-table>
												</v-flex>
											</v-card-text>
										</v-card>
									</v-tab-item>

									<v-tab-item										
										:key="2"
										:value="`tab-2`"
									>
										<v-card flat>
											<v-card-text>
												<v-flex smd12>
													<div style="padding-bottom:10px" v-if="codigo > 2"> 
														<v-btn fab dark small color="primary" @click="dialog_addpais = true" >
															<v-icon dark>add</v-icon>				
														</v-btn>
													</div>
													<v-text-field
														v-model="searchdetalle"
														append-icon="search"
														label="Buscar"
														single-line
														hide-details
														v-if="codigo > 2"
													></v-text-field>
													<v-data-table :headers="headersdetalle" :items="datadetalle" 
														:items-per-page="5" :disable-sort="true" 
														:search="searchdetalle"
														v-if="codigo == 0 || codigo > 2"
													>   
														<template v-slot:item.action="{ item }">                                             
															<v-icon
																small
																class="mr-5"
																color="primary" 
																:disabled="loading"
																:loading="loading"
																@click="eliminarDetalle(item.pais)"
																
															>
																delete
															</v-icon>               
														</template>
													</v-data-table>
												</v-flex>		
											</v-card-text>
										</v-card>
									</v-tab-item>
								</v-tabs-items>

                                        								
							</v-form>				
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

        <v-dialog v-model="dialog_del" max-width="300px">

          	<v-card>

				<v-card-title>
					<span class="headline red--text">Eliminar Tarifa</span>
				</v-card-title>
  
				<v-card-text>					
					¿Esta seguro de eliminar la Tarifa seleccionada?					
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="closeDialogoDel">Cancelar</v-btn>
					<v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

		<v-dialog v-model="dialog_addpais" max-width="900px">

          	<v-card>

				<v-card-title>
					<span class="headline">Adicionar Paises</span>					
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>		
							<v-form v-model="valid" ref="form">
								<v-row>
									<v-col cols="5">
										<v-select
											:items="arrfiltro"
											item-value="value"
											item-text="text"
											v-model="filtro"
											:return-object="false"  
											label="Tipo de Filtro" 										                    										
										>									
										</v-select>
									</v-col>
									<v-col cols="5">
										<v-text-field
											v-model="valfiltro"											
											label="Dato"											
										></v-text-field>
									</v-col>

									<v-col cols="2">
										<v-btn class="mx-2" fab dark small color="primary" @click="traerPaisXFiltro">
											<v-icon dark>search</v-icon>
										</v-btn>										
									</v-col>
								</v-row>

								<v-row>
									<v-col sm12>
										<v-text-field
											v-model="searchfiltro"
											append-icon="search"
											label="Buscar"
											single-line
											hide-details
										></v-text-field><br>
										<v-data-table :headers="headersbusqueda" 
											:items="dataBusq" 
											:items-per-page="-1" 
											:disable-sort="true" 
											:search="searchfiltro"
											show-select   
											v-model="selected"
											item-key="codigo" 
										>											
										</v-data-table>
									</v-col>	
								</v-row>							
							</v-form>				
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="dialog_addpais=false">Cancelar</v-btn>
					<v-btn color="primary" text :disabled="selected.length < 1" @click="agregarPaises">Agregar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>


		<v-dialog v-model="dialog_addrangos" scrollable persistent max-width="700px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitleRangos }}</span>					
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>		
							<v-form v-model="validrango" ref="formrango">			
								<v-flex smd4>
									<v-text-field v-model="rangoinicial" 
										label="Rango Inicial" 
										:prefix='simbolomoneda'
										:rules="[rules.required]"
										@focus="limpiavalorNumerico('rangoinicial')"
										@blur="rangoinicial = number_format(rangoinicial,2)"
									></v-text-field>
								</v-flex>
                                <v-flex smd4>
                                    <v-text-field v-model="rangofinal" 
										label="Rango Final" 
										:prefix='simbolomoneda'
										:rules="[rules.required]"
										@focus="limpiavalorNumerico('rangofinal')"
										@blur="rangofinal = number_format(rangofinal,2)"
									></v-text-field>
                                </v-flex>
                                <v-flex smd3>
                                    <v-text-field v-model="valordiario" label="Valor Diario"  
                                        :rules="[rules.required]"                                                                                                        
                                        :prefix='simbolomoneda'
										@focus="limpiavalorNumerico('valordiario')"
										@blur="valordiario = number_format(valordiario,2)"
                                    >
                                    </v-text-field>
                                </v-flex>                                        								
							</v-form>				
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="dialog_addrangos=false">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitemRango" :disabled="!validrango">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>
		
	</v-container>	
</template>

<script>
	import TarifasLugaresService from "../servicios/TarifasLugaresService";
    import monedasService from "../servicios/MonedasService"
	import paisesService from "../servicios/PaisesService"

	export default {

		data (){

			return {
                modulo:'TARIFAS LUGARES',							
  				loading: false,  				
  				dialog:false,
  				edit:-1,
  				dialog_del:false,
  				processing:false,
				formTitle:'',
				valid:false,
				search: '',
                codigo:'0',
                descripcion: '',
                moneda: 0,                
                simbolomoneda:'',  					
				itemactual:'',
                data: [],

				arrMonedas:[],

                datadetalle:[],
				searchdetalle:'',
				
				datarangos:[],

				dialog_addpais:false,
				filtro:'',
				valfiltro:'',
				searchfiltro:'',
				dataBusq:[],
				selected: [],

				tabs:'tab-1',

				arrfiltro:[
					{ text: 'Continente',value: 'C' },
					{ text: 'Region',value: 'R' },					
				],

				headersbusqueda:[
					{ text: 'Lugar',align: 'left',sortable: false,value: 'nombrecompleto'},
				],

  				headers: [  					
  					{
			          text: 'Descripcion',
			          align: 'left',
			          sortable: false,
			          value: 'descripcion',
                    },
                    {
			          text: 'Moneda',
			          align: 'left',
			          sortable: false,
			          value: 'simbolomoneda',
                    },                   		        
                    { text: 'Accion', value: 'action',sortable: false}
                ],
                
                headersdetalle: [
                    {
			          text: 'Lugar',
			          align: 'left',
			          sortable: false,
			          value: 'paisnombre',
			        },			        
                    { text: 'Accion', value: 'action',sortable: false}
				],
				
				dialog_addrangos:false,
				validrango:false,
				formTitleRangos:'',
				codigorango:0,
				rangoinicial:0,
				rangofinal:0,
				valordiario:0,
				editRangos:-1,
				itemactualRangos:'',

				headersrangos: [
                     {
			          text: 'Rango Inicial',
			          align: 'left',
			          sortable: false,
			          value: 'rangoinicial',
					},
					{
			          text: 'Rango Final',
			          align: 'left',
			          sortable: false,
			          value: 'rangofinal',
					},
					{
			          text: 'Valor Diario',
			          align: 'left',
			          sortable: false,
			          value: 'valordiario',
			        },				        
                    { text: 'Accion', value: 'action',sortable: false}
                ],

  				rules: {
					required: value => !!value || 'Campo requerido.'					
		        }				
	        }
	    },

	    filters: {	  
            
		},

	    methods: {			
			
			showMessage (snack, time, color, text) {

			      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

		     },		     
			resetForm () {

                this.codigo='0'
                this.descripcion=''                	
                this.moneda = 0
                this.simbolomoneda = ''                
				this.datadetalle = []	
				this.datarangos	= []	
			},
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

			},
		    traerData(){

		     	var _this = this
                this.loading = true

              	TarifasLugaresService.getData()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.data = res.data.data

                          }  else {
                            
                            _this.data = []
                          
                          }

                      } else {                        	

                      	_this.data = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.data = []   
              		_this.loading = false                
              		
				})

		     },

			closeDialogoDel () {
				  
				this.dialog_del = false
			},

			deleteItem() {
				
				var _this = this
				this.loading = true

				TarifasLugaresService.DelData(_this.itemactual.codigo)
	              .then(function(res) {

	              	  if(res.statusText){

                        _this.showMessage(true,3000,'success','Se eliminó la Tarifa con éxito')

                        _this.del_item = ''	              	  		
                        _this.traerData()
                        _this.closeDialogoDel()

                        _this.agregaBitacora('ELIMINACION','SE ELIMINÓ LA TARIFA :' + _this.itemactual.descripcion)

	              	  }else{	                                         	

	                  	_this.showMessage(true,4000,'error',res.message) 	                  	
	                  } 	                   
						_this.del_item = ''						
	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

			},

            /*validaGuardar(){

				var valortarifa = this.limpiarMoneda(this.valor)
				var codigomoneda = ''

				if(typeof this.moneda == 'object'){
					codigomoneda = this.moneda.codigo                    
                } else {

					codigomoneda = this.moneda

				}

                if(this.descripcion == this.itemactual.descripcion && 
                    parseFloat(valortarifa) ==  parseFloat(this.itemactual.valor) && 
                    codigomoneda != this,this.itemactual.moneda){
                   
                    return 'No hay datos para actualizar'

                } else {

                    return ''

                }

            },*/
			saveitem(){

				var datbit = ''
					
				var codigomoneda = ''

				if(typeof this.moneda == 'object'){
					codigomoneda = this.moneda.codigo                    
                } else {

					codigomoneda = this.moneda

				}

                if(this.edit){

					var valida = '' //this.validaGuardar()
                
					if(valida != ''){
						this.showMessage(true,3000,'error',valida)
						return
					}
				
                    if (this.itemactual.descripcion != this.descripcion)
                        datbit += 'Descripción: ' + this.itemactual.descripcion.toUpperCase() + ' a ' + this.descripcion.toUpperCase()
                    
                    if (this.itemactual.moneda != codigomoneda){
                        if(datbit == ''){

                            datbit += 'Moneda: ' + this.itemactual.simbolomoneda.toUpperCase() + ' a ' + codigomoneda.toUpperCase()

                        } else {

                            datbit += ', Moneda: ' + this.itemactual.simbolomoneda.toUpperCase() + ' a ' + codigomoneda.toUpperCase()

                        }
                    }                    

                    datbit = 'CODIGO: ' + this.codigo + ' (' + datbit + ')'

                } else {

					datbit += 'Descripción: ' + this.descripcion.toUpperCase()

				}

				var _this = this
                this.loading = true
                
                var data = {codigo:this.codigo,descripcion:this.descripcion.toUpperCase(),moneda:codigomoneda}                

				var detalle = []

				for (let index = 0; index < this.datadetalle.length; index++) {
					const element = this.datadetalle[index]

					detalle.push({codigo:element.codigo,pais:element.pais})
					
				}

				var rangos = []

				for (let index = 0; index < this.datarangos.length; index++) {
					const element = this.datarangos[index]

					rangos.push({codigo:element.codigo,rangoinicial:element.rangoinicial,
								 rangofinal:element.rangofinal,valordiario:element.valordiario})
					
				}
				
                TarifasLugaresService.guardarData(data, detalle, rangos)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
                            var accbitacora = ''
                            
	              	  		if(_this.edit){
                                mensaje = 'Actualizó'
                                accbitacora = 'ACTUALIZACION'
                            } else {
                                mensaje = 'Agregó'
                                accbitacora = 'CREACION'
                            }

	              	  		_this.showMessage(true,3000,'success','Se ' + mensaje + ' la Tarifa con éxito')

	              	  		_this.del_item = ''
	              	  		_this.edit = -1	              	  		
	              	  		_this.traerData()
	              	  		_this.resetForm()
                            _this.dialog = false
                                
                            _this.agregaBitacora(accbitacora,datbit)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})
            },
            
            number_format(amount, decimals) {

				amount += ''; // por si pasan un numero en vez de un string
				amount = parseFloat(amount.replace(/[^0-9\.]/g, '')) // elimino cualquier cosa que no sea numero o punto

				decimals = decimals || 0 // por si la variable no fue fue pasada

				// si no es un numero o es igual a cero retorno el mismo cero
				if (isNaN(amount) || amount === 0) 
					return parseFloat(0).toFixed(decimals)

				// si es mayor o menor que cero retorno el valor formateado como numero
				amount = '' + amount.toFixed(decimals)

				var amount_parts = amount.split('.'),
					regexp = /(\d+)(\d{3})/

				while (regexp.test(amount_parts[0]))
					amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2')

				return amount_parts.join(',')
            },
            
            limpiarMoneda(val){

				var nuevoval = val.toString().replace(',00','').replace(/[$.]/gi,'')
				nuevoval = nuevoval.replace(/[,]/gi,'.')

				return nuevoval				
            },
            
            cambiasimboloMoneda(){

                this.simbolomoneda = ''
                if(typeof this.moneda == 'object'){
					this.simbolomoneda = this.moneda.simbolo                    
                }

            },

            eliminarDetalle(pais){

                for (let index = 0; index < this.datadetalle.length; index++) {
                    const element = this.datadetalle[index]

                    if(element.pais == pais){                        

                        this.datadetalle.splice( index, 1 )

                    }
                    
                }

            },

            traeMonedas(){

				var _this = this
                this.loading = true
				
              	monedasService.getData()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

							_this.arrMonedas = res.data.data							

                          }  else {
                            
                            _this.arrMonedas = []
                          
                          }

                      } else {                        	

                      	_this.arrMonedas = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.arrMonedas = []   
              		_this.loading = false                
              		
				})

            },
            
            traeDetalle(){

				var _this = this
                
                this.datadetalle = []

              	TarifasLugaresService.getDetalle(this.codigo)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

							_this.datadetalle = res.data.data							

                          }
                      }               
                      
              	}).catch(function(err) {               
              		
				})

			},
			
			traeRangos(){

				var _this = this
                
                this.datarangos = []

              	TarifasLugaresService.getRangos(this.codigo)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

							_this.datarangos = res.data.data							

                          }
                      }               
                      
              	}).catch(function(err) {               
              		
				})

            },

			traerPaisXFiltro(){

				var _this = this
                
				this.dataBusq = []
				
				if(this.filtro == '' || this.valfiltro == ''){

					this.showMessage(true,4000,'error','Debe ingresar los datos de la búsqueda')
					return
				}

				var datafiltro = [{'tipo':this.filtro,'valor':this.valfiltro}]

              	paisesService.getDataXFiltro(this.filtro,this.valfiltro)
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.dataBusq = res.data.data

                          }

                      }               
                      
              	}).catch(function(err) {              
              		
				})

			},
			
			agregarPaises(){

				var ok = 1

				for (let index = 0; index < this.selected.length; index++) {
					const element = this.selected[index]

					ok = 1
					for (let j = 0; j < this.datadetalle.length; j++) {
						const element2 = this.datadetalle[j]

						if(element.codigo == element2.codigo){
							
							ok = 0
							break
						}						
					}

					if(ok == 1){

						let datapais = {codigo:this.codigo,pais:element.codigo,paisnombre:element.nombrecompleto}
						this.datadetalle.push(datapais)

					}
					
				}
								
				this.selected = []
				this.filtro = ''
				this.valfiltro = ''
				this.dialog_addpais = false

			},

			resetFormRangos(){

				this.codigorango = 0
				this.rangoinicial = 0
				this.rangofinal = 0
				this.valordiario = 0

			},

			limpiavalorNumerico(campo){

				switch (campo) {

					case 'rangoinicial':
						
						this.rangoinicial = this.limpiarMoneda(this.rangoinicial)
						break

					case 'rangofinal':
						
						this.rangofinal = this.limpiarMoneda(this.rangofinal)
						break

					case 'valordiario':
						
						this.valordiario = this.limpiarMoneda(this.valordiario)
						break	

					default:
						break;
				}

			},

			saveitemRango(){

				let valrangoini = this.limpiarMoneda(this.rangoinicial)
				let valrangofin = this.limpiarMoneda(this.rangofinal)
				let valdiario = this.limpiarMoneda(this.valordiario)
				
				if(parseFloat(valrangoini) > parseFloat(valrangofin)){

					this.showMessage(true,4000,'error','El Rango Inicial debe ser menor al Final')
					return

				} else if(parseFloat(valdiario) > parseFloat(valrangofin)) {

					this.showMessage(true,4000,'error','El Valor Diario debe ser menor al Valor del Rango Final')
					return

				}

				for (let index = 0; index < this.datarangos.length; index++) {
					const element = this.datarangos[index]

					let valtmprangoi = element.rangoinicial
					let valtmprangof = element.rangofinal
					
					if (this.codigorango != element.codigo){	

						if((parseFloat(valtmprangoi) <= parseFloat(valrangoini) && 
							parseFloat(valtmprangof) >= parseFloat(valrangoini)) || 
							(parseFloat(valrangofin) >= parseFloat(valtmprangoi) &&
							parseFloat(valrangofin) <= parseFloat(valtmprangof)) ||
							(parseFloat(valrangoini) <= parseFloat(valtmprangoi) &&
							parseFloat(valrangofin) >= parseFloat(valtmprangof))){

							this.showMessage(true,4000,'error','El Intervalo seleccionado ya existe dentro de otro')
							return

						}		
					}			
				}

				if(this.editRangos == 0){

					var max = this.datarangos.reduce((maximo, element) => Math.max(maximo, element.codigo), 0);
					max += 1

					this.datarangos.push({codigo:max,rangoinicial:valrangoini,
										  rangofinal:valrangofin,valordiario:valdiario})

				} else {

					for (let index = 0; index < this.datarangos.length; index++) {
						const element = this.datarangos[index]

						if(element.codigo == this.codigorango){

							element.rangoinicial = valrangoini
							element.valrangofin = valrangofin
							element.valordiario = valdiario

							break

						}					
					}

				}

				this.dialog_addrangos = false
				this.resetFormRangos()
			},

			eliminarRango(codigoactual){

                for (let index = 0; index < this.datarangos.length; index++) {
                    const element = this.datarangos[index]

                    if(element.codigo == codigoactual){                        

						this.datarangos.splice( index, 1 )
						break

                    }
                    
                }

			},
			
            agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {
		    edit: function (val) {

		       if(val)
		       {
		       		this.formTitle = 'Editar'

		       		this.codigo = this.itemactual.codigo
                    this.descripcion = this.itemactual.descripcion	
                    this.moneda = this.itemactual.moneda
                    this.simbolomoneda = this.itemactual.simbolomoneda                    
                    
					this.traeDetalle()
					this.traeRangos()

		       } else{

		       		this.resetForm()
		       	    this.formTitle = 'Nuevo'
		       }
			},
			
			editRangos: function (val) {

		       if(val)
		       {
		       		this.formTitleRangos = 'Editar Rangos'

		       		this.codigorango = this.itemactualRangos.codigo
                    this.rangoinicial = this.number_format(this.itemactualRangos.rangoinicial,2)	
                    this.rangofinal = this.number_format(this.itemactualRangos.rangofinal,2)
                    this.valordiario = this.number_format(this.itemactualRangos.valordiario,2)

		       } else{

		       		this.resetFormRangos()
		       	    this.formTitleRangos = 'Nuevo Rango'
		       }
		    }
		},
		mounted() {

            this.traerData()
            this.traeMonedas()
            this.agregaBitacora('INGRESO','INGRESO AL MODULO')
		},	
	}
	
</script>

<style>
</style>