<template>
	<v-container>		
		 <v-flex>
			<div style="padding-bottom:10px"> 
				<v-btn fab dark small color="primary" @click="dialog = true, edit=0,itemactual=''" >
					<v-icon dark>add</v-icon>				
				</v-btn>
			</div>		
			<v-card >
				<v-card-title class="justify-center">Usuarios</v-card-title>
				<v-card-text>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar"
						single-line
						hide-details
					></v-text-field>
				</v-card-text>
				<v-layout column style="padding-top:16px">
		            <v-data-table :headers="headers" :items="data" :items-per-page="5" :disable-sort="true" :search="search">

						<template v-slot:item.action="{ item }">
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								@click="dialog = true, edit=1, itemactual=item"
							>
								edit
							</v-icon>
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"
								:loading="loading && itemactual === item "
								@click="dialog_del=true, itemactual=item"
								>
								delete
							</v-icon>							
							
							<v-icon
								small
								class="mr-5"
								color="primary" 
								:disabled="loading"								
								@click="dialog_pwd = true,itemactual=item"
								>
								vpn_key
							</v-icon>							
					  	</template>					              
		            </v-data-table>		            	
		          </v-layout>
			</v-card>
		 	
		</v-flex>

		<v-dialog v-model="dialog" max-width="700px">

          	<v-card>

				<v-card-title>
					<span class="headline">{{ formTitle }}</span>
				</v-card-title>  

				<v-card-text>
					<v-container grid-list-md>
						<v-layout wrap column>	
							<v-form v-model="valid" ref="form">		
								<v-flex>
									<v-select
										:items="personal"
										item-value="codigo"
										item-text="nombrecompleto"
										v-model="codigopersonal"
										label="Colaborador"
										:rules="[rules.required]"
										:return-object="true"
										@change="traerDataPersona"
										>		
																	
									</v-select>
								</v-flex>			
								<!--<v-flex>
									<v-text-field v-model="nombre" label="Nombre" :rules="[rules.required]"></v-text-field>
								</v-flex>-->
								<v-flex>
									<v-text-field v-model="usuario" label="Usuario" :rules="[rules.required]"></v-text-field>
								</v-flex>							
								<v-flex>
									<v-select
										:items="sexoSel"
										v-model="sexo"
										label="Sexo"
										:rules="[rules.required]">									
									</v-select>
									
								</v-flex>
								<v-flex>
									<v-text-field v-model="email" label="Email" :rules="[rules.required,rules.email]"></v-text-field>
								</v-flex>
								<v-flex>
									<v-select
										:items="arrEstados"
										item-value="value"
										item-text="text"
										v-model="estado"
										label="Estado"
										:rules="[rules.required]"
										:return-object="true"											
									>									
									</v-select>									
								</v-flex>
								<v-flex>
									<v-select
										:items="perfiles"
										item-value="codigo"
										item-text="nombre"
										v-model="perfil"
										label="Perfil"
										:rules="[rules.required]"
										:return-object="true"											
									>									
									</v-select>									
								</v-flex>	
							</v-form>									
						</v-layout>
					</v-container>
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" text @click="cerrarDialogo">Cancelar</v-btn>
					<v-btn color="primary" text @click="saveitem" :disabled="!valid">Guardar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

        <v-dialog v-model="dialog_del" max-width="300px">

          	<v-card>

				<v-card-title>
					<span class="headline red--text">Eliminar Usuario</span>
				</v-card-title>
  
				<v-card-text>					
					¿Esta seguro de eliminar el Usuario seleccionado?					
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="closeDialogoDel">Cancelar</v-btn>
					<v-btn color="red" text @click="deleteItem" >Eliminar</v-btn>
				</v-card-actions>

          	</v-card>

        </v-dialog>

		<v-dialog v-model="dialog_pwd" max-width="300px">

          	<v-card>

				<v-card-title>
					<span class="headline red--text">Resetear Contraseña</span>
				</v-card-title>
  
				<v-card-text>					
					¿Esta seguro de resetear la Contraseña del Usuario seleccionado?					
				</v-card-text>
  
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark text @click="dialog_pwd=false">Cancelar</v-btn>
					<v-btn color="red" text @click="updatePassword" >Modificar</v-btn>
				</v-card-actions>
          	</v-card>
        </v-dialog>
	</v-container>	
</template>

<script>
	import UsuariosService from "../servicios/UsuariosService"	
	import perfilesService from "../servicios/PerfilesService"
	import personalService from "../servicios/PersonalService"

	export default {

		data (){

			return {		
				modulo:'USUARIOS',					
  				loading: false,  				
  				dialog:false,
  				edit:-1,
  				dialog_del:false,
				dialog_pwd:false, 				
  				processing:false,
				formTitle:'',
				valid:false,
				search:'',
				codigo:'0',
				codigopersonal:'0',
  				nombre:'',
				usuario:'',	
				sexo:'',
				email:'',
				estado:'',				
				perfil:'',				
				itemactual:'',
				data: [],
				perfiles: [],
				personal: [],				
				usuarioidactual:'',	
				usuarionombreactual:'',	
				
				personalActual: [],

  				headers: [  					
  					{
			          text: 'Nombre',
			          align: 'left',
			          sortable: false,
			          value: 'nombreusuario',
			        },
					{ text: 'Usuario', value: 'usuario',sortable: false,align: 'left'},					
			        { text: 'Sexo', value: 'sexo',sortable: false,align: 'left'},
					{ text: 'Email', value: 'email',sortable: false,align: 'left'},
					{ text: 'Estado', value: 'nomestado',sortable: false,align: 'left'},
					{ text: 'Perfil', value: 'nombreperfil',sortable: false,align: 'left'},			       
			        { text: 'Accion', value: 'action',sortable: false},
  				],

  				sexoSel:['F','M'],  				
				arrEstados: [
					{'value': 'A', 'text': 'ACTIVO'},
      				{'value': 'I', 'text': 'INACTIVO'}
				],
  				rules: {
		            required: value => !!value || 'Campo requerido.',
		            email: value => {
		                const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
		                return pattern.test(value) || 'E-mail inválido.'
		            }
		          }				
	        }
	    },

	    filters: {
		},

	    methods: {
			
			showMessage (snack, time, color, text) {

			      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

		     },		     
			resetForm () {

				this.codigo='0'
				this.nombre=''
				this.usuario=''	
				this.sexo=''
				this.email=''
				this.estado=''
				this.perfil=''		
				this.codigopersonal=''		
			},
			cerrarDialogo(){

				this.resetForm()
				this.dialog = false
				this.edit=-1

			},
		    traerUsuarios(){

		     	var _this = this
                this.loading = true

              	UsuariosService.getUsuarios()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.data = res.data.data

                          }  else {
                            
                            _this.data = []
                          
                          }

                      } else {                        	

                      	_this.data = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.data = []   
              		_this.loading = false                
              		
				})

		     },
			
			traerPerfiles(){

		     	var _this = this
                this.loading = true

              	perfilesService.getPerfiles()
                  .then(function(res) {

                      if (res.request) {
                                        
                          if(res.data){

                            _this.perfiles = res.data.data

                          }  else {
                            
                            _this.perfiles = []
                          
                          }

                      } else {                        	

                      	_this.data = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.data = []   
              		_this.loading = false                
              		
				})

		     },

			closeDialogoDel () {
				  
				this.dialog_del = false
			},

			deleteItem() {
				
				var _this = this
				this.loading = true

				UsuariosService.DelUsuario(_this.itemactual.usuarioid)
	              .then(function(res) {

	              	  if(res.statusText){

	              	  		_this.showMessage(true,3000,'success','Se eliminó el Usuario con éxito')

	              	  		_this.del_item = ''	              	  		
	              	  		_this.traerUsuarios()
							_this.closeDialogoDel()
								
							_this.agregaBitacora('ELIMINACION','SE ELIMINÓ EL USUARIO CON CODIGO:' + _this.itemactual.usuarioid + 
													', NOMBRE:' + _this.itemactual.nombreusuario)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  } 	                   
						_this.del_item = ''						
	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})

			},

			validaSave(){

				var codigoperfil = typeof this.perfil == 'object' ? this.perfil.codigo : this.perfil
				var personal = typeof this.codigopersonal == 'object' ? this.codigopersonal.codigo : this.codigopersonal
				var codigoestado = typeof this.estado == 'object' ? this.estado.value : this.estado

				if(this.itemactual.codigopersonal == personal && this.itemactual.usuario == this.usuario && 
					this.itemactual.sexo == this.sexo && this.itemactual.email == this.email && 
					this.itemactual.estado == codigoestado && this.itemactual.codigoperfil == codigoperfil){

					return false

				} else {

					return true

				}	
			},
			saveitem(){

				var _this = this
                this.loading = true

				var datbit = ''
				var codigoperfil = typeof this.perfil == 'object' ? this.perfil.codigo : this.perfil
				var codigoestado = typeof this.estado == 'object' ? this.estado.value : this.estado
				var personal = typeof this.codigopersonal == 'object' ? this.codigopersonal.codigo : this.codigopersonal
				
				var nombrecolaborador = typeof this.codigopersonal == 'object' ? this.codigopersonal.nombrecompleto.toUpperCase() : this.nombre	

				var data = {codigo:this.codigo,nombre:nombrecolaborador,usuario:this.usuario,sexo:this.sexo,
							email:this.email,estado:codigoestado,perfil:codigoperfil,codigopersonal:personal}

				if(this.edit){

					var valida = this.validaSave()

					if(!valida){

						this.showMessage(true,3000,'error','No hay datos para actualizar')
						this.loading = false
						return;
					}

					datbit = ''

					if (this.itemactual.codigopersonal != this.codigopersonal)
						datbit += 'Colaborador: ' + this.itemactual.nombrepersonal.toUpperCase() + ' a ' + this.codigopersonal.nombrecompleto.toUpperCase()

					if (this.itemactual.usuario != this.usuario) {
						datbit += datbit == '' ? 'Usuario: ' + this.itemactual.usuario + ' a ' + this.usuario : 
									', Usuario: ' + this.itemactual.usuario + ' a ' + this.usuario 
					}

					if (this.itemactual.sexo != this.sexo) {
						datbit += datbit == '' ? 'Sexo: ' + this.itemactual.sexo + ' a ' + this.sexo : 
									', Sexo: ' + this.itemactual.sexo + ' a ' + this.sexo 
					}

					if (this.itemactual.email != this.email) {
						datbit += datbit == '' ? 'Email: ' + this.itemactual.email + ' a ' + this.email : 
									', Email: ' + this.itemactual.email + ' a ' + this.email 
					}
					
					if (this.itemactual.estado != codigoestado) {
						datbit += datbit == '' ? 'Estado: ' + this.itemactual.nomestado + ' a ' + this.estado.text : 
									', Estado: ' + this.itemactual.nomestado + ' a ' + this.estado.text 
					}

					if (this.itemactual.codigoperfil != codigoperfil) {
						datbit += datbit == '' ? 'Perfil: ' + this.itemactual.nombreperfil + ' a ' + this.perfil.nombre : 
									', Perfil: ' + this.itemactual.nombreperfil + ' a ' + this.perfil.nombre 
					}					
					
					datbit = 'NOMBRE: ' + this.itemactual.nombreusuario + ' (' + datbit + ')'

				} else {

					datbit += 'COLABORADOR: ' + this.codigopersonal.nombrecompleto.toUpperCase() + ', USUARIO: ' + this.usuario + ', SEXO: ' + 
								this.sexo + ', EMAIL: ' + this.email + ', ESTADO: ' + this.estado.text + ', PERFIL: ' + 
								this.perfil.nombre

				}				

                UsuariosService.guardarUsuario(data)
	              .then(function(res) {

	              	  if (res.response) {                           
                            
                          var error = res.response.data.message
                          _this.showMessage(true,3000,'error',error)

                      } else if(res.statusText){
	              	  		
	              	  		var mensaje = ''
							var accbitacora = ''

	              	  		if(_this.edit){
								mensaje = 'Actualizó'
								accbitacora = 'ACTUALIZACION'
							} else {
								mensaje = 'Agregó'
								accbitacora = 'CREACION'
							}

	              	  		_this.showMessage(true,3000,'success','Se ' + mensaje + ' el Usuario con éxito')

	              	  		_this.del_item = ''
	              	  		_this.edit = -1	              	  		
	              	  		_this.traerUsuarios()
	              	  		_this.resetForm()
							_this.dialog = false								
							
							_this.agregaBitacora(accbitacora,datbit)

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }

	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})
			},

			updatePassword(){
				var _this = this
				this.loading = true

				UsuariosService.resetPassword(_this.itemactual.usuarioid,_this.itemactual.usuario)
	              .then(function(res) {

	              	  if(res.statusText){

	              	  		_this.showMessage(true,3000,'success','Se modificó la Contraseña del usuario con éxito')
								
							_this.agregaBitacora('ACTUALIZACION CONTRASEÑA','SE ACTUALIZO LA CONTRASEÑA DEL USUARIO ' + 
												_this.itemactual.nombreusuario + ' CON EXITO')	

	              	  		_this.traerUsuarios()
	              	  		_this.dialog_pwd = false

	              	  }else{	                                         	

	                  		_this.showMessage(true,3000,'error',res.message) 	                  	
	                  }                    
						
	                    _this.loading = false	                 
	                   	
	          	}).catch(function(err) {

	          		_this.showMessage(true,3000,'error',err)	    
	          		_this.loading = false          	
	          		
				})
			},

			traerPersonalFaltante(codigo){

				var _this = this
                this.loading = true

              	UsuariosService.personalFaltante(codigo)
                  .then(function(res) {

                      if (res.request) {					  
						  	

                          if(res.data){

                            _this.personal = res.data

                          }  else {
                            
                            _this.personal = []
                          
                          }

                      } else {                        	

                      	_this.personal = []                        	
                      }    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.personal = []   
              		_this.loading = false                
              		
				})
			},

			traerDataPersona(){
				
				var personal = typeof this.codigopersonal == 'object' ? this.codigopersonal.codigo : this.codigopersonal

				var _this = this
                this.loading = true
				
				this.personalActual = []

              	personalService.FiltroXId(personal)
                  .then(function(res) {

                      if (res.request) {					  
						  	

                          if(res.data){

							_this.personalActual = res.data.data
							
							_this.sexo = _this.personalActual[0].sexo
							_this.nombre = _this.personalActual[0].nombrecompleto
							_this.email = _this.personalActual[0].correo

                          } 

					  }
					    
                      _this.loading = false                
                      
              	}).catch(function(err) {

              		_this.loading = false                
              		
				})

			},

			agregaBitacora(accion, detalle){              

              var data = {modulo:this.modulo,accion:accion,detalle:detalle}
              
              this.$root.$emit('agregaBitacora', data)

           }
		},
		
    	watch: {
		    edit: function (val) {

		       if(val)
		       {
		       		this.formTitle = 'Editar'

		       		this.codigo = this.itemactual.usuarioid
		       		this.nombre = this.itemactual.nombreusuario
					this.usuario = this.itemactual.usuario	
					this.sexo = this.itemactual.sexo
					this.email = this.itemactual.email
					this.estado = this.itemactual.estado
					this.perfil = this.itemactual.codigoperfil
					this.codigopersonal=this.itemactual.codigopersonal

		       } else{

		       		this.resetForm()
		       	    this.formTitle = 'Nuevo'
			   }
			   
			   this.traerPersonalFaltante(this.codigopersonal)
		    }
		},
		mounted() {

			this.traerUsuarios()
			this.traerPerfiles()

			this.modulo = 'USUARIOS'
			this.agregaBitacora('INGRESO','INGRESO AL MODULO')
		},	
	}
	
</script>

<style>
</style>