<template>
    <div class="fondo">    
        <br>
        <h2></h2>
    </div>
</template>

<script>

import axios from 'axios'

export default {

    name: 'ComponenteMyapp',
    data() {

        return {
        }

    },
    methods: {
    },
    mounted() {
    }
}

</script>