<template>
   <v-card
      class="mx-auto"
      max-width="600"
      height="200"      
    >
      <v-list-item three-line>
        <v-list-item-content>         
          <v-list-item-title class="headline mb-1">ERROR</v-list-item-title>
          <v-list-item-subtitle class="text--primary">La Página que trata de acceder no existe</v-list-item-subtitle>
        </v-list-item-content>        
      </v-list-item>  
    </v-card>
</template>        