<template>
  <v-app>
    <toolbar v-if="this.$session.get('logged')"></toolbar>

    <v-content transition="slide-x-transition">
      <router-view/>
    </v-content>    

    <cfooter></cfooter>
    
    <v-snackbar
      v-model="snackbar"
      right
      :timeout="timeout"
      top
      vertical
      :color="snackColor"      
      :multi-line="multiline"       
    >      
        {{ snackText }}      
    </v-snackbar>

  </v-app>
</template>

<script>
import bitacoraService from "@/servicios/BitacoraService";
import sendMail from "@/servicios/sendMailService";
import notificacionesService from "@/servicios/NotificacionesService";
import usuariosalertasService from "@/servicios/UsuariosAlertasService"

export default {
  name: 'App',
  components: {
    'toolbar' : () => import('@/components/frames/CToolbar.vue'),
    'cfooter' : () => import('@/components/frames/CFooter.vue'),       
  },  
  data () {
    return {            
      snackbar: false,
      timeout:3000,
      snackText: '',
      snackColor: 'info',
      multiline:true     
    }
  },

  methods: {

    showMessage (snack, time, color, text) {

      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

    },    
    showSnack (values) {

      this.snackbar = values.snack
      this.timeout = values.time
      this.snackColor = values.color
      this.snackText = values.text

    },    

    agregaBitacora(values){

        var iduser = this.$session.get('usuarioid')
       
        var modulo = values.modulo
        var accion = values.accion
        var detalle = values.detalle 

        var data = {iduser:iduser,modulo:modulo,accion:accion,detalle:detalle};

        bitacoraService.addBitacora(data)
          .then(function(res) {                
        }).catch(function(err) {
        })

    },

    sendMail(email,nombre,asunto,mensaje,adjunto) {
        
        var _this = this 

        sendMail.sendMailData(email,nombre,asunto,mensaje,adjunto)
            .then(function(res) {
              
              /*if(res.data.success === true){
                  
                  _this.showMessage(true,3000,'success',res.data.message)                 

              } else {

                _this.showMessage(true,3000,'error',res.data.message)                        

              }*/

          }).catch(function(err) {

              var msgErr = ''

              if(err.data.request.response){

                  msgErr = err.data.request.response

              } else {

                  msgErr = err.data.message

              }
              //_this.showMessage(true,3000,'error',msgErr)
            
          })
    },

    AdicionaNotificacion(usuario,mensaje,codigoopcion,numerointerno){

        var data = {iduser: usuario, mensaje: mensaje, codigoopcion: codigoopcion,numerointerno:numerointerno}

        notificacionesService.adicionar(data)
            .then(function(res) {
                  
          }).catch(function(err) {      	
                
        })  

    },

    enviarNotificaciones(values){

        var codigopersona = values.codigopersona       
        var mensajenotificacion = values.mensajenotificacion
        var asuntocorreo = values.asuntocorreo
        var mensajecorreo = values.mensajecorreo
        var codigoopcion = values.codigoopcion
        var numerointerno = values.numerointerno

				var _this = this

				usuariosalertasService.getDataXPersonal(codigopersona)
					.then(function(res) {

						if (res.request) {                        
              
							if(res.data){

								var info = res.data.data[0]								

								if(info.issystem){									

									_this.AdicionaNotificacion(info.codigo, mensajenotificacion, codigoopcion, numerointerno)

								}

								if(info.isemail){

									_this.sendMail(info.correo, info.nombre, asuntocorreo, mensajecorreo, '')

								}

							}

						}              
						
				}).catch(function(err) {          
					
				})
		},


  },
  mounted() {

      this.$root.$on('showSnack', (values) => {

        this.showSnack(values)

      })

      this.$root.$on('agregaBitacora', (values) => {

        this.agregaBitacora(values)

      })

      this.$root.$on('enviarNotificaciones', (values) => {

        this.enviarNotificaciones(values)

      })

      this.$root.$on('sendMail', (values) => {

        this.sendMail(values)

      })
      
      /*this.$root.$on('AdicionaNotificacion', (values) => {

        this.AdicionaNotificacion(values)

      })      

      this.$root.$on('sendMail', (values) => {

        this.sendMail(values)

      })*/
  },  
}
</script>

<style>

#app {
    
    /*background-image: url('~@/assets/logoalpha.png'); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;*/ 

    /*font-family: "Times New Roman", Times, serif;     
    font-size: 36px; */

    
}
body {
  background-color: #fafafa;
}

tbody tr:nth-of-type(odd) { background-color: rgba(0, 0, 0, .05); }

</style>
