<template>
  <div>
    <v-row>
      <v-col>
        <v-text-field
          filled
          prepend-icon="person"
          label="Nombre completo"
          v-model="nombre"
          >
        </v-text-field>
        <v-textarea
          prepend-icon="create"
          v-model="caracteristicasBien"
          label="Caracteristicas del bien, servicio u obras"
          filled
          rows="3"
          maxlength="500"
          counter
          >
        </v-textarea>
        <v-file-input
          filled                        
          label="Adjunto"
          placeholder="Agregar archivo"
          chips
          class="anexosClass mx-1"                    
          >
        </v-file-input>
      </v-col>
      <v-col>
        <v-select
          prepend-icon="list"
          :items="causales"
          item-text="text"
          label="Causal"
          filled
          item-value="valor"
          v-model="causal"
          >
          <template v-slot:selection="data">
            <v-layout wrap pa-2>
              {{ data.item.text }}
            </v-layout>
          </template>
          <template v-slot:item="data">
            <template v-if="typeof data.item !== 'object'">
              <v-list-item-content v-text="data.item"></v-list-item-content>
            </template>
            <template v-else>
              <v-layout wrap pa-2>
                {{ data.item.text }}
              </v-layout>
            </template>
          </template>
        </v-select>
        <v-textarea
          prepend-icon="create"
          v-model="justificacion"
          label="Justificación"
          filled
          rows="3"
          maxlength="200"
          counter
          >
        </v-textarea>
      </v-col>
    </v-row>
    <datosAdjuntos :causal="causal" :pertenece="'bienes'" :evaluacion="evaluacion"/>
    <v-checkbox
			v-model="perfilMinimo"
			label="Perfil minímo">
    </v-checkbox>
    <experiencia v-if="perfilMinimo" class="mt-3" :evaluacion="evaluacion"/>
  </div>
</template>
<script>
import FileExchange from '../../servicios/FileExchange'
import experiencia from '@/components/solProcContrata/experiencia'
import datosAdjuntos from '@/components/solProcContrata/datosAdjuntos'
export default {
  props: ['evaluacion'],
  components: { experiencia, datosAdjuntos },
  data () {
    return {
      causales: [
        { text: 'a) Contratos o convenios interadministrativos con entidades públicas, siempre que las obligaciones derivadas del mismo tengan relación directa con el objeto de la entidad ejecutora señalado en la ley o en sus reglamentos; o convenios o acuerdos para ejecución de proyectos con corporaciones y fundaciones sin ánimo de lucro, organizaciones no gubernamentales nacionales e internacionales, universidades, centros de investigación científica u otras entidades para la ejecución de proyectos conjuntos', valor: 1},
        { text: 'b) Contratos para la prestación de servicios profesionales o de apoyo a la gestión, o para la ejecución de trabajos artísticos que sólo puedan encomendarse a determinadas personas naturales', valor: 2},
        { text: 'c) Contratos para el desarrollo de actividades científicas y tecnológicas, siempre y cuando la Dirección General del Instituto así lo autorice', valor: 3},
        { text: 'd) Contratos de prestación de servicios cuando las tareas son una continuación de un trabajo anterior realizado por el contratista para la ejecución del proyecto y/o con el Instituto, después de haber sido seleccionado de manera competitiva', valor: 4 },
        { text: 'e) Cuando no exista pluralidad de oferentes en el mercado por existir solamente una persona que puede proveer el bien o el servicio por ser titular de los derechos de propiedad industrial o de los derechos de autor, o por ser proveedor exclusivo en el territorio nacional o en el municipio donde se ejecutará el contrato atendiendo a las circunstancias de accesibilidad a la zona, o se requiere contratar a un proveedor particular para lograr el desempeño requerido o para preservar la garantía funcional de un equipo, un elemento de planta o una instalación;' , valor: 5 },
        { text: 'f) La contratación cuyo proceso de Convocatoria Pública o Invitación Directa haya sido declarado desierto, siempre y cuando el contratista cumpla con todos los requisitos habilitantes exigidos en la convocatoria o invitación directa;', valor: 6 },
        { text: 'g) La contratación cuya cuantía no exceda los cien (100) Salarios Mínimos Legales Mensuales Vigentes, siempre y cuando se haya realizado un estudio de mercado previo y se contrate al proveedor que haya ofrecido el menor valor', valor: 7 },
        { text: 'h) Los contratos cuyo proceso de selección, conforme a lo establecido en los convenios o contratos suscritos, no se lleve a cabo por la Oficina Jurídica del Instituto, sino que se realice por la autoridad competente según lo definido en el mismo convenio o contrato', valor: 8 },
        { text: 'i) Contratistas que por necesidades del proyecto son seleccionados en Comités Veredales o en reuniones de autoridades competentes de la región, para lo cual se deberá seguir con el procedimiento establecido para ello y que se detalla más adelante', valor: 9 },
        { text: 'j) El arrendamiento o adquisición de inmuebles', valor: 10 },
        { text: 'k) Comodatos de bienes muebles o inmuebles', valor: 11 }
      ],
      perfilMinimo: false
    }
  },
  mounted () {
    console.log('evaluacion: ' + this.evaluacion)
    this.perfilMinimo = this.$store.state.solproc.experiencia.length > 0
  },
  methods: {
  },
  computed: {
    caracteristicasBien: {
      get () {
        const ref = this.$store.state.solproc.caracteristicasBS
        return ref
      },
      set (val) {
        this.$store.state.solproc.caracteristicasBS = val
      }
    },
    nombre: {
      get () {
				return this.$store.state.solproc.nombre
      },
      set (val) {
        this.$store.state.solproc.nombre = val
      }
    },
    causal: {
      get () {
        return this.$store.state.solproc.causal
      },
      set (val) {
        this.$store.state.solproc.causal = val
      }
    },
    justificacion: {
      get () {
        return this.$store.state.solproc.justificacion
      },
      set (val) {
        this.$store.state.solproc.justificacion = val
      }
    }
  }
}
</script>
<style scoped>
  .anexosClass {
    min-width: 300px;
  }
</style>
