<template>
  <div>
    <v-card color="grey lighten-3" class="mb-12">
      <v-card-text>
        <v-layout align-center>
          <h2>Capacidad financiera</h2>
          <v-layout ml-4 align-center>
            <div>%Peso: </div>
            <input type="number" v-model="porcentaje" style="background-color: white;padding: 5px;margin-left: 5px;width: 80px;border-radius: 5px;"/>
            <span class="ml-3" :class="{errorClass: calcrestante > 100}">%Acumulado: {{calcrestante}}</span>
          </v-layout>
        </v-layout>
        <v-flex v-if="porcentaje">
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            >
            <v-row>
              <v-col cols="4">
                <v-select
                  :items="indicador"
                  label="Indicador"
                  filled
                  v-model="selIndicador"
                  :rules="indRules"
                  required
                  dense
                  >
                </v-select>
              </v-col>
              <v-col cols="4">
                <v-select
                  :items="operadores"
                  label="Operador matemático"
                  filled
                  v-model="selOperador"
                  :rules="operadorRules"
                  required
                  dense
                  >
                </v-select>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="selCantidad"
                  label="Número"
                  type="number"
                  filled=""
                  :rules="cantRules"
                  dense
                  required
                  :messages="selCantidad | moneyFormat"
                  >
                </v-text-field>
              </v-col>
            </v-row>
            <v-layout align-center>
              <v-checkbox
                v-model="selInhabilita"
                class="justify-center ml-3"
                label="Si no se cumple se inhabilita? S/N"
                dense
                >
              </v-checkbox>
              <v-spacer></v-spacer>
              <div style="width: 100px">
                <v-btn block color="primary" @click="addCapFinanciera">Agregar</v-btn>
              </div>
            </v-layout>
          </v-form>
          <v-data-table
            :headers="headers"
            :items="itemsCapFinanciera"
            class="elevation-1"
            :items-per-page="5"
            dense>
            <template v-slot:item.numero="{ item }">
              <div>
                {{item.numero | moneyFormat}}
              </div>
            </template>
            <template v-slot:item.inhabilita="{ item }">
              <div>{{item.inhabilita ? 'Sí' : 'No'}}</div>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-btn small @click="deleteItem(item)" color="error" class="my-1" dark>
                <v-icon small left>delete</v-icon>eliminar
              </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
export default {
  data () {
    return {
      indicador: ['Índice de liquidez','Índice de endeudamiento','Razón de cobertura de intereses','Capital de trabajo','Razón de efectivo','Prueba ácida','Patrimonio','Concentración de endeudamiento a corto plazo','Concentración de endeudamiento a largo plazo'],
      operadores: ['>','<','>=','<=','='],
      selIndicador: '',
      selOperador: '',
      selCantidad: '',
      selInhabilita: false,
      valid: true,
      indRules: [
        v => !!v || 'Indicador es requerido'
      ],
      cantRules: [
        v => !!v || 'Cantidad es requerido'
      ],
      operadorRules: [
        v => !!v || 'Operador es requerido'
      ],
      headers: [
        { text: 'Indicador', align: 'left', sortable: false, value: 'indicador' },
        { text: 'Operador', align: 'left', sortable: false, value: 'operador' },
        { text: 'Cantidad', align: 'left', sortable: false, value: 'numero' },
        { text: 'Inhabilita', align: 'left', sortable: false, value: 'inhabilita' },
        { text: 'Acciones', align: 'left', sortable: false, value: 'actions' }
      ]
    }
  },
  filters: {
    moneyFormat: function (value) {
      if (!value) return ''
      return `$${value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")}`
    }
  },
  methods: {
    deleteItem (item) {
      const index = this.itemsCapFinanciera.indexOf(item)
      this.itemsCapFinanciera.splice(index, 1)
    },
    addCapFinanciera() {
      if (this.$refs.form.validate()) {
        const obj = {
          indicador: this.selIndicador,
          operador: this.selOperador,
          numero: this.selCantidad,
          inhabilita: this.selInhabilita
        }
        this.$store.state.solproc.expFin.push(obj)
        this.clearForm()
      }
    },
    clearForm () {
      this.selIndicador = ''
      this.selOperador = ''
      this.selCantidad = ''
      this.selInhabilita = false
      this.$refs.form.resetValidation()
    }
  },
  computed: {
    porcentaje: {
      get() {
        return this.$store.state.solproc.pesoFin
      },
      set(value) {
        this.$store.state.solproc.pesoFin = value
      }
    },
    calcrestante () {
      function getNumValue(val) { return parseFloat(val ? val : 0)}
      const ref = this.$store.state.solproc
      return getNumValue(ref.pesoEco) + getNumValue(ref.pesoEqu) + getNumValue(ref.pesoFin) + getNumValue(ref.pesoMet) + getNumValue(ref.pesoOrg) + getNumValue(ref.pesoProp) + getNumValue(ref.porcOfEco)
    },
    resultado () {
      const notas = []
      if (!this.porcentaje) return 0
      if (this.expProp.length === 0) return 0 
      this.expProp.forEach(item => {
        notas.push((item.puntajeUnd * item.puntajeMax) / 100)
      })
      const notaAcum = notas.reduce(function (acc , b) { return acc + b }, 0)
      return (this.porcentaje * (notaAcum / 100)).toFixed(2)
    },
    itemsCapFinanciera () {
      return this.$store.state.solproc.expFin
    }

  }
}
</script>
<style scoped>
.errorClass {
  color: crimson;
  font-weight: bold;
}
</style>
