<template>
  <div>
    <v-card color="grey lighten-3" class="mb-12">
      <v-card-text>
        <v-layout align-center>
          <h2>Capacidad organizacional</h2>
          <v-layout ml-4 align-center>
            <div>%Peso: </div>
            <input type="number" v-model="porcentaje" style="background-color: white;padding: 5px;margin-left: 5px;width: 80px;border-radius: 5px;"/>
            <span class="ml-3" :class="{errorClass: calcrestante > 100}">%Acumulado: {{calcrestante}}</span>
          </v-layout>
        </v-layout>
        <v-flex v-if="porcentaje">
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            >
            <v-row>
              <v-col cols="4">
                <v-select
                  :items="indicador"
                  label="Indicador"
                  filled
                  v-model="selIndicador"
                  :rules="indRules"
                  required
                  dense
                  >
                </v-select>
              </v-col>
              <v-col cols="4">
                <v-select
                  :items="operadores"
                  label="Operador matemático"
                  filled
                  v-model="selOperador"
                  :rules="operadorRules"
                  required
                  dense
                  >
                </v-select>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="selCantidad"
                  label="Número"
                  type="number"
                  filled=""
                  :rules="cantRules"
                  dense
                  required
                  :messages="selCantidad | moneyFormat"
                  >
                </v-text-field>
              </v-col>
            </v-row>
            <v-layout align-center mb-3>
              <v-spacer></v-spacer>
              <div style="width: 100px">
                <v-btn block color="primary" @click="addCapOrganizacional">Agregar</v-btn>
              </div>
            </v-layout>
          </v-form>
          <v-data-table
            :headers="headers"
            :items="itemsCapOrg"
            class="elevation-1"
            :items-per-page="5"
            dense>
            <template v-slot:item.numero="{ item }">
              <div>
                {{item.numero | moneyFormat}}
              </div>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-btn small @click="delOrg(item)" color="error" class="my-1" dark>
                <v-icon left small>delete</v-icon>eliminar
              </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
export default {
  data () {
    return {
      indicador: ['Rentabilidad del patrimonio','Rentabilidad del activo','Margen bruto','Margen neto','Margen operacional','Retorno sobre capital invertido','Rotación de activos totales','Rotación de activos fijos','Rotación de inventarios'],
      operadores: ['>','<','>=','<=','='],
      selIndicador: '',
      selOperador: '',
      selCantidad: '',
      valid: true,
      indRules: [
        v => !!v || 'Indicador es requerido'
      ],
      cantRules: [
        v => !!v || 'Cantidad es requerido'
      ],
      operadorRules: [
        v => !!v || 'Operador es requerido'
      ],
      headers: [
        { text: 'Indicador', align: 'left', sortable: false, value: 'indicador' },
        { text: 'Operador', align: 'left', sortable: false, value: 'operador' },
        { text: 'Cantidad', align: 'left', sortable: false, value: 'numero' },
        { text: 'Aciones', align: 'left', sortable: false, value: 'actions' }
      ]
    }
  },
  filters: {
    moneyFormat: function (value) {
      if (!value) return ''
      return `$${value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")}`
    }
  },
  methods: {
    addCapOrganizacional () {
      if (this.$refs.form.validate()) {
        const obj = {
          indicador: this.selIndicador,
          operador: this.selOperador,
          numero: this.selCantidad
        }
        this.$store.state.solproc.expOrg.push(obj)
        this.clearForm()
      }
    },
    clearForm () {
      this.selIndicador = ''
      this.selOperador = ''
      this.selCantidad = ''
      this.$refs.form.resetValidation()
    },
    delOrg (item) {
      const index = this.itemsCapOrg.indexOf(item)
      this.itemsCapOrg.splice(index, 1)
    }
  },
  computed: {
    porcentaje: {
      get() {
        return this.$store.state.solproc.pesoOrg
      },
      set(value) {
        this.$store.state.solproc.pesoOrg = value
      }
    },
    calcrestante () {
      function getNumValue(val) { return parseFloat(val ? val : 0)}
      const ref = this.$store.state.solproc
      return getNumValue(ref.pesoEco) + getNumValue(ref.pesoEqu) + getNumValue(ref.pesoFin) + getNumValue(ref.pesoMet) + getNumValue(ref.pesoOrg) + getNumValue(ref.pesoProp) + getNumValue(ref.porcOfEco)
    },
    itemsCapOrg () {
      return this.$store.state.solproc.expOrg
    }
  }
}
</script>
<style scoped>
  .errorClass {
    color: crimson;
    font-weight: bold;
  }
</style>
