<template>
  <div>
    <h1>contrato</h1>
    <v-layout class="mt-3">
      <h3>Valor maximo de contratación</h3>
      <v-spacer></v-spacer>
      <h3>{{valmax | moneyFormat}}</h3>
    </v-layout>
    <v-data-table
      :headers="headers"
      :items="necesidades"
      class="elevation-1"
      :items-per-page="5"
      dense>
      <template v-slot:item.valor="{ item }">
        <div>
          {{item.valor | moneyFormat}}
        </div>
      </template>
      <template v-slot:item.solval="props">
        <v-edit-dialog
          :return-value.sync="props.item.solval"
          @open="openValSol(props.item)"
          @close="saveValSol(props.item)"
          > {{ props.item.solval | moneyFormat }}
          <template v-slot:input>
            <v-text-field
              v-model="props.item.solval"
              type="number"
              label="Edit"
              single-line
              :messages="getMonneyFormat(props.item)"
            ></v-text-field>
          </template>
        </v-edit-dialog>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-btn icon small @click="delProducto(item)">
          <v-icon color="red" small>delete</v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <div style="color: red">{{errValMaxCont}}</div>
    <h3 class="mt-3">Forma de pago</h3>
    <v-card>
      <v-card-text>
        <v-row>
          <v-col cols="2">
            <v-checkbox v-model="anticipo" label="Anticipo"></v-checkbox>
          </v-col>
          <v-col v-if="anticipo" cols="2">
            <v-text-field
              label="Procentaje de anticipo"
              type="number"
              v-model="valAnticipo"
              prefix="%"
              >
            </v-text-field>
          </v-col>
        </v-row>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          >
          <v-row align-center>
            <v-col>
              <v-select
                label="Informes y Productos"
                :items="infoProds"
                item-text="titulo"
                return-object
                v-model="selInfoprod"
                multiple
                dense
                chips
                >
                <template v-slot:selection="data">
                  <v-chip
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    close
                    @click="data.select"
                    @click:close="removeItemProc(data.item)"
                  >
                    {{ data.item.titulo }}
                  </v-chip>
                </template>
              </v-select>
            </v-col>
            <v-col>
              <v-select
                :items="objTiempo"
                label="Tiempo"
                v-model="tFirst"
                item-text="text"
                return-object
                dense
                chips
                :rules="objTimeRules"
                required
                >
              </v-select>
            </v-col>
            <v-col cols="2">
              <v-text-field
                :label="labelCant"
                v-model="cFirst"
                type="number"
                dense
                class="mt-3"
                :rules="cantTimeRules"
                required
                >
              </v-text-field>
            </v-col>
            <v-col cols="2">
              <v-flex>
                <v-text-field
                  label="% pago"
                  v-model="porcentajePago"
                  type="number"
                  dense
                  class="mt-3"
                  :rules="percentRules"
                  required
                  >
                </v-text-field>
              </v-flex>
            </v-col>
          </v-row>
          <v-layout>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="savePago" class="my-3">Agregar</v-btn>
          </v-layout>
        </v-form>
        <v-data-table
          :headers="headersPagos"
          :items="pagos"
          class="elevation-1"
          :items-per-page="5"
          dense>
          <template v-slot:item.num="{ item }">
            <div>
              {{ compPagos.indexOf(item) + 1 }}
            </div>
          </template>
          <template v-slot:item.infoProd="{ item }">
            <div>
              <div v-for="(element, index) in item.infoProd" :key="index">
                <div>{{element.titulo}}</div>
              </div>
            </div>
          </template>
          <template v-slot:item.tiempo="{ item }">
            <div>
              {{ `${item.tiempoInd} ${item.tiempoUnd}` }}
            </div>
          </template>
          <template v-slot:item.porcPago="{ item }">
            <div>
              {{ `${item.porcPago} %` }}
            </div>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-btn small @click="delPago(item)" color="error" dark class="my-1">
              <v-icon left small>delete</v-icon>eliminar
            </v-btn>
          </template>
        </v-data-table>
        <div style="color: red">{{resumenErrores}}</div>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import planesadquisicionService from "../../servicios/PlanesAdquisicionService"
export default {
  data () {
    return {
      headers: [
        { text: 'Descripción', align: 'left', sortable: false, value: 'descripcion' },
        { text: 'Valor necesidad', align: 'left', sortable: false, value: 'valor' },
        { text: 'Valor a tomar en solicitud', align: 'left', sortable: false, value: 'solval' }
      ],
      headersPagos: [
        { text: 'Nº', align: 'left', sortable: false, value: 'num' },
        { text: 'Informes/Productos', align: 'left', sortable: false, value: 'infoProd' },
        { text: 'Fecha entrega', align: 'left', sortable: false, value: 'tiempo' },
        { text: '%pago', align: 'left', sortable: false, value: 'porcPago' },
        { text: 'Acción', align: 'left', sortable: false, value: 'actions' }
      ],
      oldValSol: '',
      selInfoprod: [],
      objTiempo: [
        { text: 'Año', value: 4 },
        { text: 'Mes', value: 3 },
        { text: 'Semana', value: 2 },
        { text: 'Dia', value: 1 }
      ],
      anticipo: false,
      tFirst: '',
      cFirst: '',
      porcentajePago: '',
      valid: true,
      objTimeRules: [
        v => !!v || 'Tiempo es requerido'
      ],
      cantTimeRules: [
        v => !!v || 'Cantidad tiempo es requerido'
      ],
      percentRules: [
        v => !!v || 'Porcentaje es requerido',
        v => !(isNaN(v) || v < 0 || v > 100) || 'Debe ser de 0 - 100',
        v => !((+v + +this.acumulado) > 100) || 'Acumulado es mayor a 100',
      ]
    }
  },
  filters: {
    moneyFormat: function (value) {
      if (!value) return ''
      return `$${value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")}`
    }
  },
  async mounted () {
    await this.getSolProcNecesidades()
    this.anticipo = this.$store.state.solproc.anticipo ? true : false
  },
  methods: {
    async getSolProcNecesidades () {
      const id = this.$store.state.solproc.id
      const nec = this.$store.state.solproc.necesidades
      if (id === '' || nec.length <= 0) {
        const necesidades = await planesadquisicionService.getNecesidadesXSolicitud(this.$route.params.id)
        if (necesidades.status === 200) {
          this.necesidades = necesidades.data
        }
        console.log(necesidades)
      }
    },
    savePago () {
      if (this.$refs.form.validate()) {
        const infoProd = this.selInfoprod
        console.log(infoProd)
        const dias = this.getDias(this.tFirst.value, this.cFirst)
        if (infoProd.length > 0) {
          const obj = { infoProd: infoProd, tiempoInd: this.tFirst.text, tiempoUnd: this.cFirst, dias: dias, porcPago: this.porcentajePago }
          this.$store.state.solproc.pagos.push(obj)
          this.clearFormPago()
        }
      }
    },
    clearFormPago () {
      this.selInfoprod = []
      this.selInformes = []
      this.selProductos = []
      this.tFirst = ''
      this.cFirst = ''
      this.porcentajePago = ''
      this.$refs.form.resetValidation()
    },
    saveValSol (item) {
      console.log(item.solval, item.valor, this.oldValSol)
      if (BigInt(item.solval) > BigInt(item.valor)) {
        item.solval = this.oldValSol
        this.showMessage(true, 3000, 'error', 'valor supera el maximo de la necesidad')
      }
    },
    openValSol (item) {
      console.log(item)
      this.oldValSol = item.solval ? item.solval : ''
    },
    getDias (tipo, cantidad) {
      if (tipo === 1) return cantidad
      if (tipo === 2) return cantidad * 7
      if (tipo === 3) return cantidad * 30
      if (tipo === 4) return cantidad * 365
      return 0
    },
    showMessage (snack, time, color, text) {
      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})
    },
    getMonneyFormat (item) {
      const val = item.solval ? item.solval : 0
      return `$${val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")}`
    },
    removeItemProc (item) {
      const index = this.selInfoprod.indexOf(item)
      if (index >= 0) this.selInfoprod.splice(index, 1)
    },
    delPago (item) {
      const index = this.compPagos.indexOf(item)
      this.compPagos.splice(index, 1)
    },
    getNecesidades (codigo) {
      return new Promise((resolve, reject) => {
        planesadquisicionService.getNecesidadXPlanAdq(codigo)
          .then(response => {
            try {
              resolve (response.data.data) 
            } catch (error) {
              console.log(error)
              resolve ([])
            }
          })
          .catch(err => {
            console.log(err)
            reject ([])
          })
      })
    }
  },
  computed: {
    necesidades: {
      get () {
        return this.$store.state.solproc.necesidades
      },
      set (val) {
        this.$store.state.solproc.necesidades = val
      }
    },
    pagos: {
      get () {
        return this.compPagos
      },
      set (val) {
        this.$store.state.solproc.pagos = val
      }
    },
    valmax () {
      const ref = this.necesidades
      return ref.reduce(function (ac, b) { return ac + (b.solval ? parseInt(b.solval) : 0) }, 0)// ({ result: (a.valsol ? a.valsol : 0) + (b.valsol ? b.valsol : 0) })).result
    },
    compPagos () {
      function compare(a, b) {
        const pagoA = a.dias
        const pagoB = b.dias

        let comparison = 0;
        if (pagoA > pagoB) {
          comparison = 1
        } else if (pagoA < pagoB) {
          comparison = -1
        }
        return comparison
      }
      const ref = this.$store.state.solproc.pagos
      return ref.sort(compare)
    },
    infoProds () {
      function pagosIncluye (item, temp) {
        let bandera = false
        temp.forEach(element => {
          if (element.titulo === item.titulo) {
            bandera = true
          }
        })
        return bandera
      }
      let temp = []
      this.pagos.forEach(item => {
        temp = temp.concat(item.infoProd)
      })
      const ref = this.$store.state.solproc.infoprod
      return ref.filter(item => !pagosIncluye(item, temp) )
    },
    valAnticipo: {
      get () {
        return this.$store.state.solproc.anticipo
      },
      set (val) {
        this.$store.state.solproc.anticipo = val
      }
    },
    resumenErrores () {
      const ref = this.$store.state.solproc.pagos
      if (this.anticipo && !this.valAnticipo) return 'No has indicado el porcentaje del antisipo'
      let porcentaje = ref.reduce(function (acc, item) { return acc + +item.porcPago}, 0)
      porcentaje = porcentaje + (this.valAnticipo ? Number(this.valAnticipo) : 0)
      if (porcentaje !== 100) return `La suma de tus porcentajes ${porcentaje}%, no cumple con el 100%`
      if (this.infoProds.length > 0 ) return 'Aun tienes Productos o informes sin relacionar en tus pagos' 
    },
    errValMaxCont () {
      if (this.necesidades.length === 0) return ''
      let flag = true
      this.necesidades.forEach(item => {
        if (item.solval === undefined) flag = false
      })
      return flag ? '' : 'No as asignado valor a tomar de algunas necesidades'
    },
    labelCant () {
      return this.tFirst ? `Num de ${this.tFirst.text}` : 'Numero'
    },
    acumulado () {
      return this.compPagos.reduce(function (acc, b) { return acc + +b.porcPago }, 0) + parseFloat(this.valAnticipo)
    }
  }
}
</script>
<style scoped>
</style>
