<template>
  <div>
    <v-card class="mb-3">
      <v-card-text>
        <h1>Convenio</h1>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          >
          <v-flex mt-3>
            <v-text-field v-model="contrapartida" label="Contrapartida" filled :rules="contraRules" required></v-text-field>
          </v-flex>
          <v-flex>
            <v-text-field v-model="valor" label="Valor" filled :rules="valorRules" required type="number" prefix="$" :suffix="valor | moneyFormat"></v-text-field>
          </v-flex>
          <v-row>
            <v-col cols="4">
              <v-checkbox v-model="especie" class="mx-2 justify-center" label="Especie"></v-checkbox>
            </v-col>
            <v-col cols="8">
              <v-text-field v-if="especie" v-model="valor_especie" :rules="veRules" label="Cantidad especie" type="number" prefix="$" filled :suffix="compValEspecie | moneyFormat"></v-text-field>
            </v-col>
          </v-row> 		
          <v-row>
            <v-col cols="4">
              <v-checkbox  v-model="dinero" class="mx-2 justify-center" label="Dinero"></v-checkbox>
            </v-col>
            <v-col cols="8">
              <v-text-field v-if="dinero" v-model="valor_dinero" :rules="vdRules" label="Cantidad dinero" type="number" prefix="$" filled :suffix="compValDinero | moneyFormat"></v-text-field>
            </v-col>
				  </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
export default {
  data () {
    return {
      valid: false,
      contraRules: [
        v => !!v || 'Contrapartida es requerida'
      ],
      valorRules: [
        v => !!v || 'Este valor es requerido',
        v => !!(/^\d+$(\.\d+)?/.test(v)) || 'Solo numeros'
      ],
      veRules: [
        v => !!(v && this.especie) || 'Este valor es requerido',
        v => !!(/^\d+$(\.\d+)?/.test(v)) || 'Solo numeros'
      ],
      vdRules: [
        v => !!(v && this.dinero) || 'Este valor es requerido',
        v => !!(/^\d+$(\.\d+)?/.test(v)) || 'Solo numeros'
      ],
      especie: false,
      dinero: false
    }
  },
  filters: {
    moneyFormat: function (value) {
      if (!value) return ''
      return `$${value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")}`
    }
  },
  mounted () {
    this.dinero = this.$store.state.solproc.convDinero ? true : false
    this.especie = this.$store.state.solproc.convEspecie ? true : false
  },
  computed: {
    contrapartida: {
      get () {
        return this.$store.state.solproc.contrapartida
      },
      set (val) {
        this.$store.state.solproc.contrapartida = val
      }
    },
    valor: {
      get () {
        return this.$store.state.solproc.convValor
      },
      set (val) {
        this.$store.state.solproc.convValor = val
      }
    },
    valor_especie: {
      get () {
        return this.$store.state.solproc.convEspecie
      },
      set (val) {
        return this.$store.state.solproc.convEspecie = val
      }
    },
    valor_dinero: {
      get () {
        return this.$store.state.solproc.convDinero
      },
      set (val) {
        this.$store.state.solproc.convDinero = val
      }
    },
    compValor () {
      return `${this.valor}`
    },
    compValEspecie () {
      return `${this.valor_especie}`
    },
    compValDinero () {
      return `${this.valor_dinero}`
    }
  }
}
</script>
<style scoped>
</style>
