<template>
  <div>
    <h1 class="mb-3" style="color: #943A4A">Convocatoria publica</h1>
    <div v-if="evaluacion">
      <evProponentesConvocatria :evaluacion="evaluacion"/>
    </div>
    <div v-if="!evaluacion">
      <v-divider></v-divider>
      <h2 style="color: #943A4A">Criterios minimos</h2>

      <v-checkbox v-model="checkExpEquipMin" label="Experiencia de equipo de trabajo ó persona natural"></v-checkbox>
      <expEquipoTrabajo v-if="checkExpEquipMin" :criterio="'minimo'"/>

      <v-checkbox v-model="checkExpPropMin" label="Experiencia del proponente"></v-checkbox>
      <expProponente v-if="checkExpPropMin" :criterio="'minimo'"/>

      <v-divider></v-divider>
      <h2  class="mt-3" style="color: #943A4A">Criterios de selección</h2>
      <v-checkbox v-model="checkExpProp" label="Experiencia del proponente"></v-checkbox>
      <expProponente v-if="checkExpProp" :criterio="'seleccion'"/>

      <v-checkbox v-model="checkExpEquip" label="Experiencia de equipo de trabajo ó persona natural"></v-checkbox>
      <expEquipoTrabajo v-if="checkExpEquip" :criterio="'seleccion'"/>

      <v-checkbox v-model="checkExpFin" label="Experiencia financiera"></v-checkbox>
      <capFinanciera v-if="checkExpFin"/>

      <v-checkbox v-model="checkExpOrg" label="Experiencia organizacional"></v-checkbox>
      <capOrganizacional v-if="checkExpOrg"/>

      <v-checkbox v-model="checkExpMet" label="Experiencia metodologica"></v-checkbox>
      <metodologia v-if="checkExpMet"/>

      <v-checkbox v-model="checkExpEco" label="Oferta economica"></v-checkbox>
      <ofEconomica v-if="checkExpEco"/>
      <v-divider></v-divider>
      <criteriosDesempate/>
    </div>
    
  </div>
</template>
<script>
import evProponentesConvocatria from '@/components/solProcContrata/evProponentesConvocatria'
import expProponente from '@/components/solProcContrata/expProponente'
import expEquipoTrabajo from '@/components/solProcContrata/expEquipoTrabajo'
import capFinanciera from '@/components/solProcContrata/capFinanciera'
import capOrganizacional from '@/components/solProcContrata/capOrganizacional'
import metodologia from '@/components/solProcContrata/metodologia'
import ofEconomica from '@/components/solProcContrata/ofEconomica'
import criteriosDesempate from '@/components/solProcContrata/criteriosDesempate'
export default {
  components: { evProponentesConvocatria, expProponente, expEquipoTrabajo, capFinanciera, capOrganizacional, metodologia, ofEconomica, criteriosDesempate},
  props: ['evaluacion'],
  data () {
    return {
      checkExpPropMin: false,
      checkExpEquipMin: false,
      checkExpProp: false,
      checkExpEquip: false,
      checkExpFin: false,
      checkExpOrg: false,
      checkExpMet: false,
      checkExpEco: false
    }
  },
  mounted () {
    console.log(this.evaluacion)
    this.checkExpPropMin = this.$store.state.solproc.expProp.find(item => item.tipo === 'minimo') ? true : false
    this.checkExpEquipMin = this.$store.state.solproc.roles.find(item => item.tipo === 'minimo' ) ? true : false
    this.checkExpProp = this.$store.state.solproc.expProp.find(item => item.tipo === 'seleccion') ? true : false
    this.checkExpEquip = this.$store.state.solproc.roles.find(item => item.tipo === 'seleccion' ) ? true : false
    this.checkExpFin = (this.$store.state.solproc.expFin.length > 0) ? true : false
    this.checkExpOrg = (this.$store.state.solproc.expOrg.length > 0) ? true : false
    this.checkExpMet = (this.$store.state.solproc.expMet.length > 0) ? true : false
    this.checkExpEco = (this.$store.state.solproc.ofEconomica) ? true : false
  }
}
</script>
<style scoped>
</style>
