<template>
  <div>
    <v-layout>
      <v-icon @click="showExpProp=!showExpProp">{{ showExpProp ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</v-icon>
      <h3>Experiencia proponente</h3>
      <v-spacer></v-spacer>
      <h3>{{pesoExp}}%</h3>
    </v-layout>
    <v-data-table
      v-show="showExpProp"
      :headers="headers"
      :items="reqProp"
      class="elevation-1 mt-4"
      :items-per-page="5"
      item-key="descripcion"
      show-expand
      dense>
      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length">
          <v-textarea
            label="Observacion"
            v-model="item.observacion"
            rows="3"
            maxlength="200"
            counter>
          </v-textarea>
        </td>
      </template>
      <template v-slot:item.soporte="props">
        <smallAdj :item="props.item"/>
      </template>
      <template v-slot:item.cantSoportada="props">
        <v-text-field
          v-model="props.item.cantSoportada"
          style="font-size: .8rem"
          prepend-icon 
          type="numeric"          
          placeholder="Cantidad"
          hide-details
          dense
          > 
        </v-text-field>
      </template>
      <template v-slot:item.cumple="{ item }">
        <v-layout align-center justify-center>
          <v-switch v-model="item.cumple" :label="`${item.cumple ? 'Cumple' : 'No cumple'}`" class="mr-4" hide-details style="margin: 5px"></v-switch>
        </v-layout>
      </template>
    </v-data-table>
    <!-- <pre>{{reqProp}}</pre> -->
    <v-layout>
      <v-icon @click="showExpEqu=!showExpEqu">{{ showExpEqu ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</v-icon>
      <h3 class="my-2">Experiencia equipo de trabajo</h3>
      <v-spacer></v-spacer>
      <h3>{{pesoEqu}}%</h3>
    </v-layout>
    <v-flex v-if="roles && showExpEqu">
      <template v-for="item in roles">
        <div :key="item.rol.id_rol">
          <div class="text-center" style="background-color: #943A4A; padding: 3px; color: white">{{(item.rol).toUpperCase()}}</div>
          <v-flex v-if="item.educacion.length > 0">
            <div>Educación</div>
            <v-data-table
              :headers="headersEdu"
              :items="item.educacion"
              class="elevation-1 mt-4"
              :items-per-page="5"
              show-expand
              item-key="titulo"
              dense>
              <template v-slot:expanded-item="{ headers, item }">
                <td :colspan="headers.length">
                  <v-textarea
                    label="Observacion"
                    v-model="item.observacion"
                    rows="2"
                    maxlength="200"
                    counter>
                  </v-textarea>
                </td>
              </template>
              <template v-slot:item.cumple="{ item }">
                <v-layout align-center justify-center>
                  <v-switch v-model="item.cumple" :label="`${item.cumple ? 'Cumple' : 'No cumple'}`" class="mr-4" hide-details style="margin: 5px"></v-switch>
                </v-layout>
              </template>
              <template v-slot:item.soporte="props">
                <smallAdj :item="props.item"/>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex v-if="item.experiencia.length > 0">
            <div>Experiencia</div>
            <v-data-table
              :headers="headersExp"
              :items="item.experiencia"
              class="elevation-1 mt-4"
              :items-per-page="5"
              show-expand
              item-key="titulo"
              dense>
              <template v-slot:expanded-item="{ headers, item }">
                <td :colspan="headers.length">
                  <v-textarea
                    label="Observacion"
                    v-model="item.observacion"
                    rows="2"
                    maxlength="200"
                    counter>
                  </v-textarea>
                </td>
              </template>
              <template v-slot:item.cantSoportada="{ item }">
                <v-layout align-center justify-center>
                  <v-text-field
                    v-model="item.cantSoportada"
                    style="font-size: .8rem"
                    prepend-icon 
                    type="numeric"          
                    placeholder="Cantidad"
                    hide-details
                    dense
                    > 
                  </v-text-field>
                </v-layout>
              </template>
              <template v-slot:item.soporte="props">
                <v-btn small @click="addSupportExp(props.item)" color="accent">
                  <v-icon small left>add</v-icon>soportes
                </v-btn>
                <!-- <smallAdj :item="props.item"/> -->
              </template>
            </v-data-table>
          </v-flex>
          <v-flex v-if="item.experiencia.length <= 0 && item.experiencia.length <= 0">
            Este rol no criterios de evaluación.
          </v-flex>
        </div>
      </template>
    </v-flex>
    <v-layout>
      <v-icon @click="showCapOrg=!showCapOrg">{{ showCapOrg ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</v-icon>
      <h3 class="my-2">Capacidad organizacional</h3>
      <v-spacer></v-spacer>
      <h3>{{pesoOrg}}%</h3>
    </v-layout>
    <v-data-table
      v-if="showCapOrg"
      :headers="headersOrg"
      :items="capOrg"
      class="elevation-1 mt-4"
      :items-per-page="5"
      show-expand
      item-key="titulo"
      dense>
      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length">
          <v-textarea
            label="Observacion"
            v-model="item.observacion"
            rows="2"
            maxlength="200"
            counter>
          </v-textarea>
        </td>
      </template>
      <template v-slot:item.soporte="props">
        <smallAdj :item="props.item"/>
      </template>
      <template v-slot:item.cumple="{ item }">
        <v-layout align-center justify-center>
          <v-switch v-model="item.cumple" :label="`${item.cumple ? 'Cumple' : 'No cumple'}`" class="mr-4" hide-details style="margin: 5px"></v-switch>
        </v-layout>
      </template>
      <template v-slot:item.inhabilita="{ item }">
        <v-layout align-center justify-center>
          <v-switch v-model="item.inhabilita" :label="`${item.inhabilita ? 'Inhabilita' : 'Habilitado'}`" class="mr-4" hide-details style="margin: 5px"></v-switch>
        </v-layout>
      </template>
    </v-data-table>
    <v-layout>
      <v-icon @click="showCapFinanciera=!showCapFinanciera">{{ showCapFinanciera ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</v-icon>
      <h3 class="my-2">Capacidad financiera</h3>
      <v-spacer></v-spacer>
      <h3>{{pesoFin}}%</h3>
    </v-layout>
    <v-data-table
      v-if="showCapFinanciera"
      :headers="headersOrg"
      :items="capFin"
      class="elevation-1 mt-4"
      :items-per-page="5"
      show-expand
      item-key="titulo"
      dense>
      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length">
          <v-textarea
            label="Observacion"
            v-model="item.observacion"
            rows="2"
            maxlength="200"
            counter>
          </v-textarea>
        </td>
      </template>
      <template v-slot:item.soporte="props">
        <smallAdj :item="props.item"/>
      </template>
      <template v-slot:item.cumple="{ item }">
        <v-layout align-center justify-center>
          <v-switch v-model="item.cumple" :label="`${item.cumple ? 'Cumple' : 'No cumple'}`" class="mr-4" hide-details style="margin: 5px"></v-switch>
        </v-layout>
      </template>
      <template v-slot:item.inhabilita="{ item }">
        <v-layout align-center justify-center>
          <v-switch v-model="item.inhabilita" :label="`${item.inhabilita ? 'Inhabilita' : 'Habilitado'}`" class="mr-4" hide-details style="margin: 5px"></v-switch>
        </v-layout>
      </template>
    </v-data-table>
    <v-layout>
      <v-icon @click="showMetodologia=!showMetodologia">{{ showMetodologia ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</v-icon>
      <h3 class="my-2">Metodologia</h3>
      <v-spacer></v-spacer>
      <h3>{{pesoMet}}%</h3>
    </v-layout>
    <v-flex>
      <v-data-table
        v-if="showMetodologia"
        :headers="headersMet"
        :items="expMet"
        class="elevation-1 mt-4"
        :items-per-page="5"
        dense>
        <template v-slot:item.actor1="props">
          <v-autocomplete
            :items="supervisores"
            placeholder="Actor1"
            v-model="props.item.actor1"
            item-text="nombrecompleto"
            item-value="codigo"
            hide-details
            solo
            flat
            dense
            class="actores"
            >
          </v-autocomplete>
        </template>
        <template v-slot:item.actor2="props">
          <v-autocomplete
            :items="supervisores"
            placeholder="Actor2"
            v-model="props.item.actor2"
            item-text="nombrecompleto"
            item-value="codigo"
            hide-details
            solo
            flat
            dense
            class="actores"
            >
          </v-autocomplete>
        </template>
        <template v-slot:item.actor3="props">
          <v-autocomplete
            :items="supervisores"
            placeholder="Actor3"
            v-model="props.item.actor3"
            item-text="nombrecompleto"
            item-value="codigo"
            hide-details
            solo
            flat
            dense
            class="actores"
            >
          </v-autocomplete>
        </template>
        <template v-slot:item.soporte="props">
          <smallAdj :item="props.item"/>
        </template>
      </v-data-table>
    </v-flex>
    <v-dialog v-model="dSupportExp" width="800">
      <supportExp :tipo="'proprolexp'" v-if="dSupportExp" :idExp="selItem.id" :exp="selItem" @close-soportes="dSupportExp=!dSupportExp"/>
    </v-dialog>
  </div>
</template>
<script>
import FileExchange from '../../servicios/FileExchange'
import CSolicitaModProyectosVue from '../CSolicitaModProyectos.vue'
import Proponente from '../../servicios/Proponente'
import smallAdj from '@/components/solProcContrata/smallAdj'
import personalService from "../../servicios/PersonalService"
import supportExp from '@/components/solProcContrata/supportExp'
export default {
  components: { smallAdj, supportExp },
  props: ['proponente'],
  data () {
    return {
      headers: [
        { text: 'Obs', value: 'data-table-expand' },
        { text: 'Determinante', align: 'left', sortable: false, value: 'determinante' },
        { text: 'Tipo det', align: 'left', sortable: false, value: 'tipo_det' },
        { text: 'Descripción', align: 'left', sortable: false, value: 'descripcion' },
        { text: 'Cantidad', align: 'left', sortable: false, value: 'cantidad' },
        // { text: 'Puntaje Und', align: 'left', sortable: false, value: 'puntaje_und' },
        { text: 'Puntaje Max', align: 'left', sortable: false, value: 'puntaje_max' },
        { text: 'Cant Soportada', align: 'left', sortable: false, value: 'cantSoportada' },
        { text: 'Soporte', align: 'left', sortable: false, value: 'soporte' }
      ],
      headersEdu: [
        { text: 'Tipo', align: 'center', sortable: false, value: 'tipo' },
        { text: 'Titulo', align: 'center', sortable: false, value: 'titulo' },
        // { text: 'Puntaje Und', align: 'center', sortable: false, value: 'puntajeUnd' },
        { text: 'Puntaje Max', align: 'center', sortable: false, value: 'puntajeMax' },
        { text: 'Cumple', align: 'center', sortable: false, value: 'cumple' },
        { text: 'Soportes', align: 'center', sortable: false, value: 'soporte' }
      ],
      headersExp: [
        { text: 'Descripcion', align: 'center', sortable: false, value: 'descripcion' },
        { text: 'Tiempo', align: 'center', sortable: false, value: 'tiempo' },
        { text: 'Puntaje Und', align: 'center', sortable: false, value: 'puntajeUnd' },
        { text: 'Puntaje Max', align: 'center', sortable: false, value: 'puntajeMax' },
        { text: 'Cant Soportada', align: 'left', sortable: false, value: 'cantSoportada' },
        { text: 'Soportes', align: 'center', sortable: false, value: 'soporte' }
      ],
      headersOrg: [
        { text: 'Indicador', align: 'center', sortable: false, value: 'indicador' },
        { text: 'Operador', align: 'center', sortable: false, value: 'operador' },
        { text: 'Cantidad', align: 'center', sortable: false, value: 'numero' },
        { text: 'Cumple', align: 'center', sortable: false, value: 'cumple' },
        { text: 'Inhabilita', align: 'center', sortable: false, value: 'inhabilita' },
        { text: 'Soporte', align: 'left', sortable: false, value: 'soporte' }
      ],
      headersMet: [
        { text: 'Aspecto', align: 'center', sortable: false, value: 'aspecto' },
        { text: 'Puntaje Max', align: 'center', sortable: false, value: 'puntajemax' },
        { text: 'Actor1', align: 'left', sortable: false, value: 'actor1' },
        { text: 'Actor2', align: 'left', sortable: false, value: 'actor2' },
        { text: 'Actor3', align: 'left', sortable: false, value: 'actor3' },
        { text: 'Soporte', align: 'left', sortable: false, value: 'soporte' }
      ],
      regBD: [],
      eduPropBD: [],
      reqEstRol: [],
      showExpProp: true,
      showExpEqu: true,
      showMetodologia: true,
      showCapOrg: true,
      showCapFinanciera: true,
      supervisores: [],
      dSupportExp: false,
      selItem: {}
    }
  },
  mounted () {
    personalService.getData()
      .then(res => {
        console.log(res)
        if (res.status === 200) {
          this.supervisores = res.data.data
        } else {
          this.supervisores = []
        }
      })
      .catch(function(err) {
        this.supervisores = []               
      })
  },
  methods: {
    async handleFileUpload (file, item) {
      console.log(file)
      console.log(item)
      if (file !== null) {
        const result = await FileExchange.upload(file)
        item.file_name = file.name
        item.file_path = result.data.url
      } else {
        item.file_name = ''
        item.file_path = ''
      }
    },
    openInNewTab(url) {
      const win = window.open(url, '_blank')
      win.focus()
    },
    removeSupervisor (item) {
      const index = this.supervisor.indexOf(item.codigo)
      if (index >= 0) this.supervisor.splice(index, 1)
    },
    addSupportExp (item) {
      this.selItem = item
      console.log(this.selItem)
      this.dSupportExp = !this.dSupportExp
    }
  },
  computed: {
    roles () {
      console.log(this.proponente)
      if (this.proponente) return this.proponente.roles ? this.proponente.roles.filter(item => item.tipoRol === 'seleccion') : []
      return []
    },
    reqProp () {
      if (this.proponente) return this.proponente.expProp ? this.proponente.expProp.filter(item => item.tipo === 'seleccion') : []
      return []
    },
    capOrg () {
      if (this.proponente) return this.proponente.capOrg ? this.proponente.capOrg : []
      return []
    },
    capFin () {
      if (this.proponente) return this.proponente.capFin ? this.proponente.capFin : []
      return []
    },
    expMet () {
      if (this.proponente) return this.proponente.expMet ? this.proponente.expMet : []
      return []
    },
    pesoExp () {
      return this.$store.state.solproc.pesoProp
    },
    pesoEqu () {
      return this.$store.state.solproc.pesoEqu
    },
    pesoOrg () {
      return this.$store.state.solproc.pesoOrg
    },
    pesoFin () {
      return this.$store.state.solproc.pesoFin
    },
    pesoMet () {
      return this.$store.state.solproc.pesoMet
    },
  }
}
</script>
<style>
  .actores {
    min-width: 300px;
  }
</style>
