<template>
  <div>
    <h2 class="mt-3">Criterios de desempate</h2>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
      class="mt-3"
      >
      <v-layout align-center>
        <v-text-field
          v-model="criterioDesempate"
          label="Criterio de desempate"
          filled
          maxlength="25"
          counter
          :rules="criterioRules"
          required
          >
        </v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="addCriDesempate">agregar</v-btn>
      </v-layout>
    </v-form>
    <v-data-table
      :headers="headers"
      :items="criDesempate"
      class="elevation-1"
      :items-per-page="5"
      dense>
      <template v-slot:item.actions="{ item }">
        <v-btn small @click="delCriDesempate(item)" color="error" dark class="my-1">
          <v-icon left small>delete</v-icon>eliminar
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<script>
export default {
  data () {
    return {
      headers: [
        { text: 'Criterio desempate', align: 'left', sortable: false, value: 'criterio' },
        { text: 'Aciones', align: 'left', sortable: false, value: 'actions' }
      ],
      valid: true,
      criterioDesempate: '',
      criterioRules: [
         v => !!v || 'Debes especificar el criterio de desempate'
      ]
    }
  },
  methods: {
    addCriDesempate () {
      if (this.$refs.form.validate()) {
        const obj = { criterio: this.criterioDesempate }
        this.$store.state.solproc.criDes.push(obj)
        this.criterioDesempate = ''
        this.$refs.form.resetValidation()
      }
    },
    delCriDesempate (item) {
      const index = this.criDesempate.indexOf(item)
		  this.criDesempate.splice(index, 1)
    }
  },
  computed: {
    criDesempate () {
      return this.$store.state.solproc.criDes
    }
  }
}
</script>
<style scoped>
</style>
