<template>
  <div id="adjuntos">
    <h3>Adjuntos</h3>
    <v-layout align-center wrap>
      <template v-for="(item, index) in adjuntos">
        <v-col align-center :key="index">
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <div v-on="on">
                <v-card v-if="!item.path" class="anexosClass mx-1" style="height: 78px;display: flex;align-items: center;margin-bottom: 5px">
                  <v-card-text style="padding: 0px 12px 0px 12px">
                    <v-file-input
                      prepend-icon
                      prepend-inner-icon="$file"                       
                      :label="item.docSolicitado"
                      placeholder="Agregar archivo"
                      :ref="item.docSolicitado.replace(/ /g, '')"
                      small-chips
                      hide-details
                      dense
                      class="inFiles"
                      @change="(file) => { handleFileUpload(file, item) }"
                      > 
                    </v-file-input>
                    <v-layout>
                      <v-spacer></v-spacer>
                      <v-checkbox v-model="item.noAplica" dense hide-details style="margin-top: 0px; font-size: .5rem" class="ml-2 prueba" label="NoAplica"></v-checkbox>
                    </v-layout>
                  </v-card-text>
                </v-card>
                <v-card v-if="item.path" :color="item.aprobado ? 'green darken-2' : 'blue darken-2'" dark class="anexosClass mx-1" style="height: 78px;display: flex;align-items: center;margin-bottom: 5px">
                  <v-card-text style="padding: 0px 12px 0px 12px">
                    <v-row>
                      <v-col cols="2" style="display: flex;"><v-icon dark class="mr-2" @click="openInNewTab(item.path)">{{item.aprobado ? 'done' : 'insert_drive_file'}}</v-icon></v-col>
                      <v-col style="text-align: center;display: flex;align-items: flex-center;">
                        <v-flex>
                          <div class="wrap caption" @click="openInNewTab(item.path)">{{item.docSolicitado.substring(0, 50)}}</div>
                          <v-layout>
                            <v-checkbox v-model="item.aprobado" dense hide-details style="margin-top: 0px; font-size: .5rem" class="ml-2 prueba" label="Aprobado" :disabled="evaluacion===''"></v-checkbox>
                            <v-checkbox v-model="item.noAplica" dense hide-details style="margin-top: 0px; font-size: .5rem" class="ml-2 prueba" label="NoAplica" :disabled="evaluacion===''"></v-checkbox>
                          </v-layout>
                        </v-flex>
                      </v-col>
                      <v-col cols="2" style="display: flex;">
                        <v-icon @click="item.path = ''" dark>reply</v-icon>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </div>
            </template>
            <span>{{item.docSolicitado}}</span>
          </v-tooltip>
        </v-col>
      </template>
    </v-layout>
    <p v-if="noCumple.length <= 0" style="color: blue">Todos los documentos cumplen de conformidad a lo dispuesto en los pliegos de condiciones</p>
    <ul v-if="noCumple.length > 0">
      <li v-for="item in noCumple" :key="item">
        <div style="color: red">{{item}}</div>
      </li>
    </ul>
  </div>
</template>
<script>
import FileExchange from '../../servicios/FileExchange'
import Proponente from '../../servicios/Proponente'
export default {
  props: ['proponente', 'causal', 'pertenece', 'evaluacion'],
  data () {
    return {
      listServCons: [
        { docSolicitado: 'Cédula de Ciudadanía' },
        { docSolicitado: 'Hoja de Vida actualizada' },
        { docSolicitado: 'Declaración juramentada de no estar incurso en causal de inhabilidad, incompatibilidad o conflicto de interés, de conformidad con el Anexo 1' },
        { docSolicitado: 'Copia de la libreta militar, siempre que reúna condición de Hombre menor de 50 años.' },
        { docSolicitado: 'Copia del Registro Único Tributario (RUT)' },
        { docSolicitado: 'Manifestación de interés (PROYECTO GEF)' },
        { docSolicitado: 'Anexos especiales de acuerdo al tipo de contratación y proyecto (Ejemplo: Declaraciones Juramentadas)' },
      ],
      listBienObra: [
        { docSolicitado: 'Cédula de Ciudadanía' },
        { docSolicitado: 'Certificado de matrícula mercantil' },
        { docSolicitado: 'Copia del Registro Único Tributario (RUT)' },
        { docSolicitado: 'Manifestación de interés (PROYECTO GEF)' },
        { docSolicitado: 'Anexos especiales de acuerdo al tipo de contratación y proyecto (Ejemplo: Declaraciones Juramentadas)' },
      ],
      clJuridicaServicios: [
        { docSolicitado: 'Certificado de existencia y representación legal.' },
        { docSolicitado: 'En caso de existir limitación de cuantía del representante legal para contratar, se deberá presentar autorización del órgano directivo correspondiente, en la cual se faculte para presentar la propuesta y celebrar el contrato en caso de que se le adjudique, si no es requerida tal autorización, se deberá certificar que tiene capacidad sin límite de cuantía.' },
        { docSolicitado: 'Declaración juramentada de no estar incurso en causal de inhabilidad, incompatibilidad o conflicto de interés, de conformidad con el Anexo 1 – PERSONA JURÍDICA' },
        { docSolicitado: 'Documento de identidad del representante legal.' },
        { docSolicitado: 'Fotocopia del Registro Único Tributario (RUT).' },
        { docSolicitado: 'Propuesta técnica' },
        { docSolicitado: 'Propuesta económica: Formato No. 1 - Oferta Económica.' },
        { docSolicitado: 'Certificaciones de experiencia (CUANDO SE SOLICITEN EN LOS TDR)' },
        { docSolicitado: 'Cumplimiento de la información financiera: Formato No. 2 - Información Financiera. (CUANDO SE SOLICITEN EN LOS TDR)' },
        { docSolicitado: 'Fotocopia legible de la Tarjeta Profesional del contador o revisor fiscal que suscribe el Formato No. 2, acompañada del Certificado de Vigencia de Inscripción y Antecedentes Disciplinarios expedido por la Junta Central de Contadores. Dicho certificado no deberá estar vencido a la fecha de cierre de la presente Convocatoria Pública.' },
        { docSolicitado: 'Fotocopia legible de la Declaración de Renta del año anterior con su respectiva conciliación fiscal de Renta y Patrimonio, en caso de ser necesaria.' },
        { docSolicitado: 'Se debe presentar el certificado de Existencia y Representación Legal de cada uno de los miembros que conforman la unión temporal o el consorcio, expedido dentro de los sesenta (60) días calendarios anteriores a la presentación de la propuesta.' },
        { docSolicitado: 'Documento de constitución del consorcio o unión temporal' },
        { docSolicitado: 'En caso de resultar favorecidos con la adjudicación para la suscripción del contrato, deberá presentar el respectivo Registro Único Tributario – RUT del consorcio o unión temporal' },
      ],
      docsEspeciales: [
        { docSolicitado: 'Carta con el Vobo de la Directora', valor: 3 },
        { docSolicitado: 'Certificación contrato previo ejecutado cuando se requiera continuidad de los servicios', valor: 4 },
        { docSolicitado: 'Certificación de proveedor exclusivo de bienes o servicios', valor: 5 },
        { docSolicitado: 'Acta de Declaratoria desierta de procesos previos para hacer contratación directa', valor: 6 },
        { docSolicitado: 'Estudio del mercado previo y propuesta de menor valor', valor: 7 },
        { docSolicitado: 'Actas de selección (¿Cuáles serían los ejemplos?)', valor: 8 },
        { docSolicitado: 'Actas de Comité Veredal', valor: 9 },
        { docSolicitado: 'Certificado de Libertad y tradición del inmueble, y documentos de Identificación del Propietario Inscrito en el registro', valor: 10 },				
      ],
      adjConvPersona: [
        { docSolicitado: 'Cédula de Ciudadanía' },
        { docSolicitado: 'Hoja de Vida actualizada' },
        { docSolicitado: 'Certificaciones de experiencia. El Instituto Sinchi NO ADMITE para acreditar la experiencia, copia de los contratos, actas de liquidación o documentos afines, a menos que sean requeridos expresamente por este para aclarar o adicionar alguna certificación.' },
        { docSolicitado: 'Declaración juramentada de no estar incurso en causal de inhabilidad, incompatibilidad o conflicto de interés, de conformidad con el Anexo 1 – PERSONA NATURAL' },
        { docSolicitado: 'Copia de la libreta militar, siempre que reúna condición de Hombre menor de 50 años.' },
        { docSolicitado: 'Copia del Registro Único Tributario (RUT).' },
        { docSolicitado: 'Manifestación de interés (PROYECTO GEF )' },
        { docSolicitado: 'Anexo de fraude y corrupción (PROYECTO GEF )' },
        { docSolicitado: 'Propuesta económica (ES EXCEPCIONAL Y DE ACUERDO A UN PROYECTO ESPECÍFICO)' },
        { docSolicitado: 'Propuesta técnica (ES EXCEPCIONAL Y DE ACUERDO A UN PROYECTO ESPECÍFICO)' },
        { docSolicitado: 'Anexos especiales de acuerdo al tipo de contratación y proyecto (Ejemplo: Declaraciones Juramentadas)' }
      ],
      adjConvBSOJuridica: [
        { docSolicitado: 'Certificado de existencia y representación legal.' },
        { docSolicitado: 'En caso de existir limitación de cuantía del representante legal para contratar, se deberá presentar autorización del órgano directivo correspondiente, en la cual se faculte para presentar la propuesta y celebrar el contrato en caso de que se le adjudique, si no es requerida tal autorización, se deberá certificar que tiene capacidad sin límite de cuantía.' },
        { docSolicitado: 'Declaración juramentada de no estar incurso en causal de inhabilidad, incompatibilidad o conflicto de interés, de conformidad con el Anexo 1 – PERSONA JURÍDICA' },
        { docSolicitado: 'Documento de identidad del representante legal.' },
        { docSolicitado: 'Fotocopia del Registro Único Tributario (RUT).' },
        { docSolicitado: 'Propuesta técnica' },
        { docSolicitado: 'Propuesta económica: Formato No. 1 - Oferta Económica.' },
        { docSolicitado: 'Certificaciones de experiencia (CUANDO SE SOLICITEN EN LOS TDR)' }
      ]
    }
  },
  async mounted () {
    if (this.proponente) {
      const response = await Proponente.getInfo(this.proponente.id)
      if (response.status === 200) {
        const adjuntos = response.data
        adjuntos.map(item => {
          item.noCumple = item.noCumple ? (item.noCumple === 1 ? true : false) : false
          item.noAplica = item.noAplica ? (item.noAplica === 1 ? true : false) : false
        })
        this.proponente.adjuntos = response.data
        
        if (this.proponente.adjuntos.length <= 0) {
          if (this.tipoLista.valor === 1) this.adjuntos = this.listServCons
          if (this.tipoLista.valor === 2) this.adjuntos = this.listBienObra
          if (this.tipoLista.valor === 3) this.adjuntos = this.clJuridicaServicios
          if (this.tipoLista.valor === 4) this.adjuntos = this.adjConvPersona
          if (this.tipoLista.valor === 5) this.adjuntos = this.adjConvBSOJuridica
        }
      }
    }
  },  
  methods: {
    async handleFileUpload (file, item) {
      console.log(file)
      console.log(item)
      if (file !== null) {
        const result = await FileExchange.upload(file)
        item.nombre = file.name
        item.path = result.data.url
        item.tipo = this.proponente ? 'proponente' : 'solproc'
      } else {
        item.nombre = ''
        item.path = ''
      }
      const index = this.adjuntos.findIndex(prod => prod.docSolicitado === item.docSolicitado)
      const adjunto = Object.assign({}, this.adjuntos[index], item)
      if (this.proponente) {
        this.$store.commit('updatePropAdjuntos', { index: index, adjunto: adjunto, proponente: this.proponente })
      } else {
        this.$store.commit('updateAdjuntos', { index: index, adjunto: adjunto})
      }
    },
    openInNewTab(url) {
      const win = window.open(url, '_blank')
      win.focus()
    },
    addDocsEspeciales () {
      const obj = this.docsEspeciales.find(item => item.valor === this.causal)
      console.log(obj)
      if (obj) this.$store.state.solproc.adjuntos.push(this.docsEspeciales.find(item => item.valor === this.causal))
      /* if (this.causal === 3) this.$store.commit('addAdjunto', this.docsEspeciales.find(item => item.valor === 3))
      if (this.causal === 4) this.$store.commit('addAdjunto', this.docsEspeciales.find(item => item.valor === 4))
      if (this.causal === 5) this.$store.commit('addAdjunto', this.docsEspeciales.find(item => item.valor === 5))
      if (this.causal === 6) this.$store.commit('addAdjunto', this.docsEspeciales.find(item => item.valor === 6))
      if (this.causal === 7) this.$store.commit('addAdjunto', this.docsEspeciales.find(item => item.valor === 7))
      if (this.causal === 8) this.$store.commit('addAdjunto', this.docsEspeciales.find(item => item.valor === 8))
      if (this.causal === 9) this.$store.commit('addAdjunto', this.docsEspeciales.find(item => item.valor === 9))
      if (this.causal === 10) this.$store.commit('addAdjunto', this.docsEspeciales.find(item => item.valor === 10)) */
    }
  },
  computed: {
    tipoLista () {
      return this.$store.state.tipoLista
    },
    adjuntos: {
      get () {
        if (this.proponente) {
          return this.proponente.adjuntos
        } else {
          return this.$store.state.solproc.adjuntos
        }
      },
      set (val) {
        console.log('seteando adjuntos')
        if (this.proponente) {
          this.proponente.adjuntos = val
        } else {
          this.$store.state.solproc.adjuntos = val
        }
      }
    },
    noCumple () {
      const respuesta = []
      console.log(this.adjuntos)
      this.adjuntos.forEach(element => {
        if (element.aprobado !== true && element.noAplica !== true) respuesta.push(element.docSolicitado)
      })
      return respuesta
    },
    tipoContrato () {
      return this.$store.state.solproc.tipoContratacion
    },
    idSolicitud () {
      return this.$store.state.solproc.id
    }
  },
  watch: {
    tipoLista (val) {
      /* if (this.proponente) {
        if (val.valor === 1) this.adjuntos = this.listServCons
        if (val.valor === 2) this.adjuntos = this.listBienObra
        if (val.valor === 3) this.adjuntos = this.clJuridicaServicios
      } */
    },
    causal (val) {
      console.log(this.tipoContrato)
      if (this.tipoContrato === 'Personal') {
        this.$store.commit('removeAdjCausales', 'personales')
        this.addDocsEspeciales()
      }
      if (this.tipoContrato === 'Bienes o servicios') {
        this.$store.commit('removeAdjCausales', 'bienes')
        this.addDocsEspeciales()
      }
      if (this.tipoContrato === 'Persona juridica') {
        this.$store.commit('removeAdjCausales', 'juridica')
        this.addDocsEspeciales()
      }
    }
  }
}
</script>
<style>
  .anexosClass {
    min-width: 300px;
  }
  #adjuntos .v-label {
    font-size: .70rem;
  }
  #adjuntos .v-label .inFiles{
    font-size: .95rem;
  }
</style>
