<template>
  <div>
    <v-card color="grey lighten-3">
      <v-card-text>
        <v-layout align-center mb-3>
          <h2>Educación {{titulo}}</h2>
          <div v-if="selRol">
          <v-layout ml-4 align-center v-if="criterio === 'seleccion'">
            <div>%Peso: </div>
            <input type="number" v-model="porcentaje" style="background-color: white;padding: 5px;margin-left: 5px;width: 80px;border-radius: 5px;"/>
            <span class="ml-3" :class="{errorClass: calcrestante > 0}">Pendiente por asignar: {{calcrestante}}%</span>
          </v-layout>
          <!-- <v-spacer></v-spacer>
          <h2>Nota: {{resultado}}</h2> -->
          </div>
        </v-layout>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          >
          <v-layout align-center wrap>
            <v-flex>
              <v-select
                :items="tipoEd"
                label="Tipo de educación"
                v-model="selEd"
                filled
                class="eduInput"
                :rules="tipoEdRules"
                required
                >
              </v-select>
            </v-flex>
            <v-flex>
              <v-select
                :items="niveles"
                label="Estudio realizado"
                v-model="selNivel"
                filled
                class="eduInput"
                :rules="selNivelRules"
                required
                >
              </v-select>
            </v-flex>
            <v-flex v-if="nivProf.includes(selNivel)">
              <v-autocomplete
                :items="titulos"
                label="Profesión afínes"
                v-model="selTitulo"
                filled
                class="eduInput"
                >
              </v-autocomplete>
            </v-flex>
            <v-flex v-if="nivPos.includes(selNivel)">
              <v-select
                :items="posgrados"
                label="Tipo"
                v-model="selPosgrado"
                filled
                class="eduInput"
                >
              </v-select>
            </v-flex>
            <v-flex v-if="textTituloObt">
              <v-text-field
                v-model="selTitulo"
                label="Digite profesión afínes"
                maxlength="250"
                counter
                filled
                class="eduInput"
                >
              </v-text-field>
            </v-flex>
            <v-flex v-if="selRol && (criterio === 'seleccion')">
              <v-text-field
                v-model="puntajeUnd"
                label="Puntaje unidad"
                type="number"
                filled
                class="eduInput"
                :rules="pUndRules"
                required
                >
              </v-text-field>
            </v-flex>
            <v-flex v-if="selRol && (criterio === 'seleccion')">
              <v-text-field
                v-model="puntajeMax"
                label="Puntaje max"
                type="number"
                filled
                class="eduInput"
                :rules="pMaxRules"
                required
                >
              </v-text-field>
            </v-flex>
          </v-layout>
        </v-form>
        <v-layout justify-center>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="addEstudio">Agregar</v-btn>
        </v-layout>
      </v-card-text>
      <v-data-table
        :headers="compHeaders"
        :items="compEstudios"
        class="elevation-1"
        :items-per-page="5"
        item-key="titulo"
        :show-expand="evaluacion !== ''"
        dense>
        <template v-slot:expanded-item="{ headers, item }">
          <td :colspan="headers.length">
            <v-textarea
              label="Observacion"
              v-model="item.observacion"
              rows="3"
              maxlength="200"
              counter>
            </v-textarea>
          </td>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-btn small @click="delEstudio(item)" color="error" class="my-1">
            <v-icon small left>delete</v-icon>Eliminar
          </v-btn>
        </template>
        <template v-slot:item.evaluacion="{ item }">
          <v-layout align-center justify-center>
            <v-switch v-model="item.cumple" :label="`${item.cumple ? 'Cumple' : 'No cumple'}`" class="mr-4">
            </v-switch><v-checkbox v-model="item.noAplica" label="No aplica"></v-checkbox>
          </v-layout>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="obsDialog" width="800">
      <v-card>
        <v-card-title>Observaciones</v-card-title>
        <v-card-text>
          <v-textarea>
            <v-model></v-model>
          </v-textarea>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: ['selRol', 'criterio', 'evaluacion'],
  data () {
    return {
      tipoEd: ['Formal', 'No formal'],
      nivBasicos: ['Sin formación académica','Básica primaria','Bachiller'],
      nivTec: ['Técnico','Tecnológico'],
      nivProf: ['Profesional'],
      nivPos: ['Postgradual'],
	    nivelesNoFormales: ['curso', 'seminario', 'diplomado'],
      titulos: ['Ingeniero en sistemas', 'Ingeniero civil', 'Arquitecto', 'Abogado'],
      posgrados: ['Maestria', 'Especialización', 'Doctorado', ''],
      selPosgrado: '',
	    selEd: '',
	    selNivel: '',
      selTitulo: '',
      puntajeMax: '',
      puntajeUnd: '',
      headerSelected: [],
      headers: [
        { text: 'Obs', value: 'data-table-expand' },
        { text: 'Tipo estudio', align: 'left', sortable: false, value: 'tipoEd' },
        { text: 'Nivel', align: 'left', sortable: false, value: 'tipo' },
        { text: 'Titulo obtenido', align: 'left', sortable: false, value: 'titulo', class: 'wrap' },
        { text: 'Puntaje und', align: 'left', sortable: false, value: 'puntajeUnd' },
        { text: 'Puntaje máx', align: 'left', sortable: false, value: 'puntajeMax' },
        { text: 'Evaluación', align: 'center', sortable: false, value: 'evaluacion' },
        { text: 'Aciones', align: 'center', sortable: false, value: 'actions' }
      ],
      valid: true,
      tipoEdRules: [
        v => !!v || 'Tipo de educación es requerido',
      ],
      selNivelRules: [
        v => !!v || 'Nivel de educacion es requerido',
      ],
      pMaxRules: [
        v => !(!v && this.selRol) || 'Puntaje maximo es requerido',
        v => !(isNaN(v) || v < 0 || v > 100) || 'Debe ser de 0 - 100',
        v => !((+v + +this.acumExp) > 100) || 'Acumulado es mayor a 100'
      ],
      pUndRules: [
        v => !(!v && this.selRol) || 'Puntaje unidad es requerido',
        v => !(isNaN(v) || v < 0 || v > 100) || 'Debe ser de 0 - 100'
        // v => !((+v + +this.acumExp) > 100) || 'Acumulado es mayor a 100'
      ],
      obsDialog: false
    }
  },
  mounted () {
    this.titulos = this.$store.state.carreras.filter(item => item.length < 60) // en algunos casos este api trae en una linea el resumen de myuchas carreras
  },
  methods: {
    addEstudio () {
      if (this.$refs.form.validate()) {
        let titulo = `${this.selPosgrado}  ${this.selTitulo}`
        titulo = titulo.trim()
        const obj = { tipoEd: this.selEd, tipo: this.selNivel, titulo: titulo, cumple: false, noAplica: false, observacion: '', puntajeUnd: this.puntajeUnd, puntajeMax: this.puntajeMax }
        console.log(obj)
        if (this.selRol) {
          this.selRol.educacion.push(obj)
        } else {
          this.$store.state.solproc.educacion.push(obj)
        }
        this.resetForm()
      }
    },
    resetForm () {
      this.selEd = ''
      this.selNivel = ''
      this.selTitulo = ''
      this.selPosgrado = ''
      this.puntajeUnd = ''
      this.puntajeMax = ''
      this.$refs.form.resetValidation()
    },
	  delEstudio (item) {
      console.log(item)
      const confirma = confirm('Desea eliminar este registro de estudio')
      if (confirma) {
        const index = this.compEstudios.indexOf(item)
        if (this.selRol) {
          this.selRol.educacion.splice(index, 1)
        } else {
          this.$store.state.solproc.educacion.splice(index, 1)
        }
      }
    }
  },
  computed: {
    niveles () {
      if (!this.selEd) return []
      let niveles = this.nivBasicos.concat(this.nivTec)
      niveles = niveles.concat(this.nivProf)
      niveles = niveles.concat(this.nivPos)
			if (this.selEd === 'Formal') return niveles
			if (this.selEd === 'No formal') return this.nivelesNoFormales
			return []
    },
    compEstudios () {
      if (this.selRol) {
        return this.selRol.educacion
      } else {
        return this.$store.state.solproc.educacion
      }
    },
    nivTecPos () {
      return this.nivTec.concat(this.nivPos)
    },
    textTituloObt () {
      const temp = this.nivBasicos
      return !temp.includes(this.selNivel)
    },
    porcentaje: {
      get() {
        if (this.selRol) {
          return this.selRol.porcEdu
        }
        return ''
      },
      set(value) {
        if (this.selRol) {
          this.selRol.porcEdu = value
        }
      }
    },
    calcrestante () {
      if (this.selRol) {
        const rol = this.selRol
        return 100 - ((rol.porcEdu ? Number(rol.porcEdu) : 0) + (rol.porcExp ? Number(rol.porcExp) : 0))
      }
      return 0
    },
    compHeaders () {
      let restricciones = []
      if (this.criterio !== 'seleccion') { 
        restricciones.push('puntajeUnd')
        restricciones.push('puntajeMax')
      }
      if (!this.evaluacion) {
        restricciones.push('data-table-expand')
        restricciones.push('evaluacion')
      }
      return this.headers.filter(item => !restricciones.includes(item.value))
    },
    acumExp () {
      return this.compEstudios.reduce(function (acc, b) { return acc + +b.puntajeMax }, 0)
    },
    titulo () {
      if (this.selRol) return ` de ${this.selRol.rol}`
      return ''
    }
  }
}
</script>
<style scoped>
  .errorClass {
    color: crimson;
    font-weight: bold;
  }
  .eduInput {
    margin-left: 3px;
    margin-right: 3px;
  }
</style>
