<template>
  <div>
    <v-card>
      <v-card-text>
        <h3>Tiempo de ejecución</h3>
        <v-row>
          <v-col cols="3">
            <v-menu
              v-model="menuLimite"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
              >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dateLimit"
                  label="Fecha limite"
                  prepend-inner-icon="today"
                  readonly
                  filled
                  hide-details
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="dateLimit" @input="menuLimit = false" locale="es"></v-date-picker>
            </v-menu>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              label="Años"
              v-model="cYears"
              type="number"
              filled
              hide-details
              >
            </v-text-field>
          </v-col>
          <v-col>
            <v-text-field
              label="Meses"
              v-model="cMonths"
              type="number"
              filled
              hide-details
              >
            </v-text-field>
          </v-col>
          <v-col>
            <v-text-field
              label="Semanas"
              v-model="cWeeks"
              type="number"
              filled
              hide-details
              >
            </v-text-field>
          </v-col>
          <v-col>
            <v-text-field
              label="Dias"
              v-model="cDays"
              type="number"
              filled
              hide-details
              >
            </v-text-field>
          </v-col>
          <v-col style="display: flex; align-items: center;justify-content: center;">
            <v-btn @click="saveTimeEjec" color="primary">Agregar</v-btn>
          </v-col>
        </v-row>
        <v-layout align-center mx-3>
          <strong :class="{ errorColor: totalDias > exedsTimeLimit }" class="title">Tiempo asignado: {{totalDias | currency}} dias <span v-if="totalDias > exedsTimeLimit">, excede la fecha limite {{$data.dateLimit}} por {{totalDias - exedsTimeLimit}} día(s)</span></strong>
          <span class="mx-3">ó</span>
          <v-col cols="3">
            <v-menu
              v-model="menuTerminacion"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
              >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dateTerminacion"
                  label="Fecha Terminacion"
                  prepend-inner-icon="today"
                  readonly
                  filled
                  hide-details
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="dateTerminacion" @input="menuTerminacion = false" locale="es"></v-date-picker>
            </v-menu>
          </v-col>
          <v-spacer></v-spacer>
        </v-layout>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
export default {
  data () {
    return {
      cYears: '',
      cMonths: '',
      cWeeks: '',
      cDays: '',
      menuLimite: false,
      menuTerminacion: false
    }
  },
  mounted () {
    this.setTimes()
  },
  methods: {
    setTimes () {
      const totalDias = this.$store.state.solproc.tiempoAsignado
      const years = parseInt(totalDias / 365)
      this.cYears = years
      const months = parseInt((totalDias - (years * 365)) / 30)
      this.cMonths = months
      const semanas = parseInt((totalDias - (years * 365) - (months * 30)) / 7)
      this.cWeeks = semanas
      const dias = parseInt(totalDias - (years * 365) - (months * 30) - (semanas * 7))
      this.cDays = dias
    },
    saveTimeEjec () {
      // this.$store.commit('setEjecTime', this.timeStructure)
      // this.$emit('nextStepper')
      const cantidad = parseInt(this.cYears * 365) + parseInt(this.cMonths * 30) + parseInt(this.cWeeks * 7) + parseInt(this.cDays)
      this.cYears = ''
      this.cMonths = ''
      this.cWeeks = ''
      this.cDays = ''
      this.$store.state.solproc.tiempoAsignado = cantidad
      this.setTimes()
    }
  },
  computed: {
    totalDias () {
      return this.$store.state.solproc.tiempoEjecucion
    },
    exedsTimeLimit () {
      if (this.dateLimit) {
        let timeLimit = new Date(this.dateLimit).getTime() - (new Date().getTime())
        timeLimit = parseInt(timeLimit / (1000 * 60 * 60 * 24)) + 1
        return timeLimit
      }
    },
    dateLimit: {
      get () {
        return this.$store.state.solproc.fechaLimite
      },
      set (val) {
        this.$store.state.solproc.fechaLimite = val
      }
    },
    dateTerminacion: {
      get () {
        return this.$store.state.solproc.fechaTerminacion
      },
      set (val) {
        this.$store.state.solproc.fechaTerminacion = val
      }
    },
    totalDias () {
      return this.$store.state.solproc.tiempoAsignado
    }
  }
}
</script>
<style scoped>
  .errorColor {
    color: crimson;
  }
</style>
