<template>
  <div>
    <v-card color="primary" class="pa-2">
      <h3 style="color: white" class="my-5">{{(proponente.nombre).toUpperCase()}}</h3>
      <v-stepper v-model="e13">
        <v-stepper-header>
          <v-stepper-step step="1" @click="e13=1">Documentación</v-stepper-step>
          <v-stepper-step step="2" @click="e13=2">Requisitos minimos</v-stepper-step>
          <v-stepper-step step="3" @click="e13=3">Criterios de evaluación</v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
          <v-stepper-content step="1" style="margin: 0; padding: 16px">
            <datosAdjuntos :proponente="proponente" :evaluacion="evaluacion"/>
          </v-stepper-content>
          <v-stepper-content step="2" style="margin: 0; padding: 16px">
            <reqMinProp :proponente="proponente"/>
          </v-stepper-content>
          <v-stepper-content step="3" style="margin: 0; padding: 16px">
            <critEvaluacion :proponente="proponente"/>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
      <v-layout my-5>
        <v-spacer></v-spacer>
        <v-btn text dense @click="$emit('unselproponente')" color="white">volver</v-btn>
        <v-btn text dense @click="saveInfoProponente" color="white">Guardar</v-btn>
      </v-layout>
      <!-- <pre>{{proponente}}</pre> -->
    </v-card>
  </div>
</template>
<script>
import datosAdjuntos from '@/components/solProcContrata/datosAdjuntos'
import reqMinProp from '@/components/solProcContrata/reqMinProp'
import critEvaluacion from '@/components/solProcContrata/critEvaluacion'
import Proponente from '../../servicios/Proponente'
import Vue from 'vue'
export default {
  components: { datosAdjuntos, reqMinProp, critEvaluacion },
  props: ['proponente', 'evaluacion'],
  data () {
    return {
      e13: 1
    }
  },
  async mounted () {
    console.log('in evproponente')
    await this.getPropInfo()
  },
  methods: {
    saveInfoProponente () {
      console.log(this.proponente)
      Proponente.saveInfo(this.proponente)
        .then(response => {
          console.log(response)
          this.$emit('unselproponente')
        })
        .catch(err => {
          console.log(err)
        })
    },
    async getPropInfo () {
      const id = this.proponente ? this.proponente.id : ''
      if (id) {
        const propCriterios = await Proponente.getCriterios(id)
        console.log(propCriterios)
        if (propCriterios.status === 200) {
          this.proponente.expProp = propCriterios.data.expProp ? propCriterios.data.expProp : [] 
          this.proponente.roles = propCriterios.data.roles ? propCriterios.data.roles : []
          this.proponente.capOrg = propCriterios.data.capOrg ? propCriterios.data.capOrg : []
          this.proponente.capFin = propCriterios.data.capFin ? propCriterios.data.capFin : []
          this.proponente.expMet = propCriterios.data.expMet ? propCriterios.data.expMet : []
          Vue.set(this.proponente)
        } else {
          this.proponente.expProp = [] 
          this.proponente.roles = []
          this.proponente.capOrg = []
          this.proponente.capFin = []
          this.proponente.expMet = []
        }
      } else {
        console.log('proponente no almacenado en la base de datos')
      }
    }
  }
}
</script>
<style scoped>
</style>
