<template>
  <div>
    <v-flex mt-3>
      <v-select
        label="Tipo de convocatoria"
        :items="tiposConvocatoria"
        v-model="tipoLista"
        item-text="text"
        return-object
        filled
        >
      </v-select>
    </v-flex>
    <proponentesListaCorta class="mb-5" :evaluacion="evaluacion" @evaluarProp="evaluar"/>
    <v-dialog width="1000" v-model="showEvProp">
      <evProponente :proponente="propEval" v-if="propEval" @unselproponente="propEval=''; showEvProp=!showEvProp" :evaluacion="evaluacion"/>
    </v-dialog>
  </div>
</template>
<script>
import proponentesListaCorta from '@/components/solProcContrata/proponentesListaCorta'
import evProponente from '@/components/solProcContrata/evProponente'
export default {
  components: { proponentesListaCorta, evProponente },
  props: ['evaluacion'],
  data () {
    return {
      propEval: '',
      tiposConvocatoria: [
        { text: 'CONVOCATORIA DE PERSONA NATURAL – PRESTACIÓN DE SERVICIOS / CONSULTORÍAS INDIVIDUALES', valor: 4 },
        { text: 'CONVOCATORIA DE PERSONA JURÍDICA - PRESTACIÓN DE SERVICIOS  / CONSULTORÍAS DE FIRMA / ADQUISICIÓN DE BIENES / OBRAS', valor: 5 }
      ],
      showEvProp: false
    }
  },
  mounted () {
    // this.$store.state.solContratacion = this.dataJson
    console.log('in evlistacorta')
  },
  methods: {
    evaluar (item) {
      this.propEval = item
      this.showEvProp = true
      console.log(item)
    }
  },
  computed: {
    tipoLista: {
      get () {
        return this.$store.state.tipoLista
      },
      set (val) {
        this.$store.state.tipoLista = val
      }
    }
  },
  watch: {
    showEvProp (val) {
      if (val === false) this.propEval = ''
    }
  }
}
</script>
<style scoped>
</style>
