<template>
  <div>
    <v-card color="grey lighten-3" class="mb-12">
      <v-card-text>
        <v-layout align-center>
          <h2>{{titulo}}</h2>
          <v-layout ml-4 align-center v-if="criterio==='seleccion'">
            <div>%Peso: </div>
            <input type="number" v-model="porcentaje" style="background-color: white;padding: 5px;margin-left: 5px;width: 80px;border-radius: 5px;"/>
            <span class="ml-3" :class="{errorClass: calcrestante > 100}">%Acumulado: {{calcrestante}}</span>
          </v-layout>
        </v-layout>
        <v-flex v-if="porcentaje">
          <rolesEquipo :criterio="criterio"/>
        </v-flex>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import rolesEquipo from '@/components/solProcContrata/rolesEquipo'
export default {
  components: { rolesEquipo },
  props: ['criterio'],   // criterio: minimo ó seleccion
  data () {
    return {}
  },
  mounted () {
  },
  computed: {
    /* formacion: {
      get() {
        return this.$store.getters.getSolicitud.criteriosSeleccion.experienciaequipot.formacion.necesita
      },
      set(value) {
        this.$store.commit("setNecesitaExp", value)
      }
    },
    experiencia: {
      get() {
        return this.$store.getters.getSolicitud.criteriosSeleccion.experienciaequipot.experiencia.necesita
      },
      set(value) {
        this.$store.commit("setNecesitaFormacion", value)
      }
    }, */
    porcentaje: {
      get() {
        if (this.criterio === 'seleccion') return this.$store.state.solproc.pesoEqu
        return true
      },
      set(value) {
        this.$store.state.solproc.pesoEqu = value
      }
    },
    calcrestante () {
      function getNumValue(val) { return parseFloat(val ? val : 0)}
      if (this.criterio === 'seleccion') {
        const ref = this.$store.state.solproc
        return getNumValue(ref.pesoEco) + getNumValue(ref.pesoEqu) + getNumValue(ref.pesoFin) + getNumValue(ref.pesoMet) + getNumValue(ref.pesoOrg) + getNumValue(ref.pesoProp) + getNumValue(ref.porcOfEco)
      }
      return ''
    },
    titulo () {
      if (this.criterio === 'seleccion') return 'Experiencia equipo de trabajo'
      return 'Experiencia minima de equipo de trabajo'
    },
  }
}
</script>
<style scoped>
.errorClass {
  color: crimson;
  font-weight: bold;
}
</style>
