<template>
  <div>
    <v-card color="grey lighten-3">
      <v-card-text>
        <v-layout align-center mb-3>
          <h2>Experiencia {{titulo}}</h2>
          <div v-if="selRol">
            <v-layout ml-4 align-center v-if="criterio === 'seleccion'">
              <div>%Peso: </div>
              <input type="number" v-model="porcentaje" style="background-color: white;padding: 5px;margin-left: 5px;width: 80px;border-radius: 5px;"/>
              <span class="ml-3" :class="{errorClass: calcrestante > 0}">Pendiente por asignar: {{calcrestante}}%</span>
            </v-layout>
          </div>
        </v-layout>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          >
          <v-layout align-center wrap>
            <v-flex>
              <v-select
                :items="tipoExp"
                label="Tipo de experiencia"
                v-model="selExp"
                filled
                class="eduInput"
                :rules="tipoExpRules"
                required
                >
              </v-select>
            </v-flex>
            <v-flex>
              <v-text-field
                label="Descripción"
                v-model="descripcion"
                maxlength="200"
                counter
                filled
                class="eduInput"
                :rules="descRules"
                required
                >
              </v-text-field>
            </v-flex>
            <v-flex>
              <v-select
                :items="medTiempo"
                label="Tiempo"
                v-model="selMedTime"
                filled
                class="eduInput"
                :rules="medTimeRules"
                required
                >
              </v-select>
            </v-flex>
            <v-flex>
              <v-text-field
                :label="labelCant"
                type="number"
                v-model="cantMedTime"
                filled
                class="eduInput"
                :rules="cantMedRules"
                required
                >
              </v-text-field>
            </v-flex>
            <v-flex v-if="selRol && (criterio === 'seleccion')">
              <v-text-field
                label="Puntaje unidad"
                type="numeric"
                v-model="puntajeUnd"
                filled
                class="eduInput"
                :rules="pUndRules"
                required
                >
              </v-text-field>
            </v-flex>
            <v-flex v-if="selRol && (criterio === 'seleccion')">
              <v-text-field
                label="Puntaje maximo"
                type="numeric"
                v-model="puntajeMax"
                filled
                class="eduInput"
                :rules="pMaxRules"
                required
                >
              </v-text-field>
            </v-flex>
          </v-layout>
          <v-layout align-center>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="addExperiencia">Agregar</v-btn>
          </v-layout>
        </v-form>
      </v-card-text>
      <v-data-table
        :headers="compHeaders"
        :items="compExperiencias"
        class="elevation-1"
        :items-per-page="5"
        :show-expand="evaluacion !== ''"
        dense>
        <template v-slot:expanded-item="{ headers, item }">
          <td :colspan="headers.length">
            <v-textarea
              label="Observacion"
              v-model="item.observacion"
              rows="3"
              maxlength="200"
              counter>
            </v-textarea>
          </td>
        </template>
        <template v-slot:item.actions="{ item }">
           <v-btn small @click="delExperiencia(item)" color="error" class="my-1">
            <v-icon small left>delete</v-icon>Eliminar
          </v-btn>
          <v-btn small @click="addSupportExp(item)" color="accent" class="my-1 ml-3" v-if="evaluacion">
            <v-icon small left>add</v-icon>soportes
          </v-btn>
        </template>
        <template v-slot:item.evaluacion="{ item }">
          <v-layout align-center justify-center>
            <v-switch v-model="item.cumple" :label="`${item.cumple ? 'Cumple' : 'No cumple'}`" class="mr-4">
            </v-switch><v-checkbox v-model="item.noAplica" label="No aplica"></v-checkbox>
          </v-layout>
        </template>
      </v-data-table>
      <v-dialog v-model="dSupportExp" width="800">
        <supportExp :tipo="'solprocexp'" v-if="dSupportExp" :idExp="selDocsFrom.id" @close-soportes="dSupportExp=!dSupportExp"/>
      </v-dialog>
    </v-card>
  </div>
</template>
<script>
import supportExp from '@/components/solProcContrata/supportExp'
export default {
  components: { supportExp },
  props: ['selRol', 'criterio', 'evaluacion'],
  data () {
    return {
      tipoExp: ['General', 'Especifica'],
	    selExp: '',
      descripcion: '',
      medTiempo: ['Años', 'Meses', 'Semanas', 'Dias'],
      selMedTime: '',
      cantMedTime: '',
      puntajeUnd: '',
      puntajeMax: '',
      headers: [
        { text: 'Obs', value: 'data-table-expand' },
        { text: 'Tipo experiencia', align: 'left', sortable: false, value: 'tipoExp' },
        { text: 'Descripción', align: 'left', sortable: false, value: 'descripcion' },
        { text: 'Tiempo', align: 'left', sortable: false, value: 'tiempo' },
        { text: 'Puntaje und', align: 'left', sortable: false, value: 'puntajeUnd' },
        { text: 'Puntaje máx', align: 'left', sortable: false, value: 'puntajeMax' },
        { text: 'Evaluación', align: 'center', sortable: false, value: 'evaluacion' },
        { text: 'Aciones', align: 'center', sortable: false, value: 'actions' }
      ],
      valid: true,
      tipoExpRules: [
        v => !!v || 'Tipo de experiencia es requerido',
      ],
      descRules: [
        v => !!v || 'La descripción es requerido',
      ],
      medTimeRules: [
        v => !!v || 'Medida de tiempo es requerida',
      ],
      cantMedRules: [
        v => !!v || 'Cantidad es requerida',
      ],
      pMaxRules: [
        v => !(!v && this.selRol) || 'Puntaje maximo es requerido',
        v => !(isNaN(v) || v < 0 || v > 100) || 'Debe ser de 0 - 100',
        v => !((+v + +this.acumExp) > 100) || 'Acumulado es mayor a 100',
      ],
      pUndRules: [
        v => !(!v && this.selRol) || 'Puntaje unidad es requerido',
        v => !(isNaN(v) || v < 0 || v > 100) || 'Debe ser de 0 - 100'
        // v => !((+v + +this.acumExp) > 100) || 'Acumulado es mayor a 100'
      ],
      dSupportExp: false,
      selDocsFrom: ''
    }
  },
  mounted () {
    console.log(this.evaluacion)
  },
  methods: {
    addExperiencia () {
      if (this.$refs.form.validate()) {
        const obj = { tipoExp: this.selExp, descripcion: this.descripcion, tiempo: `${this.selMedTime} ${this.cantMedTime}`, cantidad: this.cantMedTime, puntajeUnd: this.puntajeUnd, puntajeMax: this.puntajeMax, cumple: false , noAplica: false, observacion: '' }
        if (this.selRol) {
          this.selRol.experiencia.push(obj)
        } else {
          this.$store.state.solproc.experiencia.push(obj)
        }
        this.resetForm()
      }
    },
    resetForm () {
      this.selExp = ''
      this.descripcion = ''
      this.selMedTime = ''
      this.cantMedTime = ''
      this.puntajeMax = '',
      this.puntajeUnd = '',
      this.$refs.form.resetValidation()
    },
	  delExperiencia (item) {
      console.log(item)
      const confirma = confirm('Desea eliminar este registro de experiencia')
      if (confirma) {
        const index = this.compExperiencias.indexOf(item)
        if (this.selRol) {
          this.selRol.experiencia.splice(index, 1)
        } else {
          this.$store.state.solproc.experiencia.splice(index, 1)
        }
      }
	  },
    addSupportExp (item) {
      this.selDocsFrom = item
      this.dSupportExp = !this.dSupportExp
    }
  },
  computed: {
    compHeaders () {
      let restricciones = []
      if (this.criterio !== 'seleccion') { 
        restricciones.push('puntajeUnd')
        restricciones.push('puntajeMax')
      }
      if (!this.evaluacion) {
        restricciones.push('data-table-expand')
        restricciones.push('evaluacion')
      }
      return this.headers.filter(item => !restricciones.includes(item.value))
    },
    porcentaje: {
      get() {
        // return this.$store.getters.getSolicitud.criteriosSeleccion.experienciaequipot.porcExperiencia
        if (this.selRol) {
          return this.selRol.porcExp
        }
        return ''
      },
      set(value) {
        if (this.selRol) {
          this.selRol.porcExp = value
        }
      }
    },
    niveles () {
			if (!this.selExp) return []
			if (this.selExp === 'Formal') return this.nivelesAcademicos
			if (this.selExp === 'Noformal') return this.nivelesNoFormales
			return []
    },
    compExperiencias () {
      if (this.selRol) {
        return this.selRol.experiencia
      } else {
        return this.$store.state.solproc.experiencia
      }
    },
    calcrestante () {
      if (this.selRol) {
        const rol = this.selRol
        return 100 - ((rol.porcEdu ? Number(rol.porcEdu) : 0) + (rol.porcExp ? Number(rol.porcExp) : 0))
      }
      return 0
    },
    labelCant () {
      return `Cantidad ${this.selMedTime}`
    },
    acumExp () {
      return this.compExperiencias.reduce(function (acc, b) { return acc + +b.puntajeMax }, 0)
    },
    titulo () {
      if (this.selRol) return ` de ${this.selRol.rol}`
      return ''
    }
  }
}
</script>
<style scoped>
  .errorClass {
    color: crimson;
    font-weight: bold;
  }
  .eduInput {
    margin-left: 3px;
    margin-right: 3px;
  }
</style>
