<template>
  <div>
    <v-card color="grey lighten-3" class="mb-12">
      <v-card-text>
        <v-layout align-center>
          <h2>{{titulo}}</h2>
          <v-layout ml-4 align-center v-if="criterio==='seleccion'">
            <div>%Peso: </div>
            <input type="number" v-model="porcentaje" style="background-color: white;padding: 5px;margin-left: 5px;width: 80px;border-radius: 5px;"/>
            <span class="ml-3" :class="{errorClass: calcrestante > 100}">%Acumulado: {{calcrestante}}</span>
          </v-layout>
        </v-layout>
        <v-flex v-if="porcentaje">
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            >
            <v-row class="mt-4">
              <v-col cols="3">
                <v-select
                  :items="tiposexperiencia"
                  label="Tipo de experiencia"
                  filled
                  v-model="selTipoExp"
                  :rules="tipoExpRules"
                  required
                  >
                </v-select>
              </v-col>
              <v-col cols="3">
                <v-select
                  :items="determinante"
                  label="Determinante"
                  filled
                  v-model="selDet"
                  :rules="detRules"
                  required
                  >
                </v-select>
              </v-col>
              <v-col cols="3">
                <v-select
                  :items="tipodeterminante"
                  label="Tipo determinante"
                  filled
                  v-model="selTipoDet"
                  :rules="tipoDetRules" required
                  >
                </v-select>
              </v-col>
              <v-col cols="3">
                <v-select
                  :items="itemsunidad"
                  label="Unidad"
                  filled
                  v-model="selUnidad"
                  :rules="undRules"
                  required
                  >
                </v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="3">
                <v-text-field
                  v-model="cantidad"
                  label="Cantidad"
                  type="number"
                  filled=""
                  :rules="cantRules"
                  required
                  >
                </v-text-field>
              </v-col>
              <v-col>
                <v-text-field
                  v-model="descripcion"
                  label="Descripción"
                  maxlength="200"
                  counter
                  filled
                  :rules="descRules"
                  required
                  >
                </v-text-field>
              </v-col>
              <v-col cols="2" v-if="criterio === 'seleccion'">
                <v-text-field
                  v-model="puntajeunit"
                  label="Puntaje und"
                  type="number"
                  filled
                  :rules="pUndRules"
                  :required="criterio === 'seleccion'"
                  >
                </v-text-field>
              </v-col>
              <v-col cols="2" v-if="criterio === 'seleccion'">
                <v-text-field
                  v-model="puntajemax"
                  label="Puntaje máx"
                  type="number"
                  filled
                  :rules="pMaxRules"
                  :required="criterio === 'seleccion'"
                  >
                </v-text-field>
              </v-col>
            </v-row>
            <v-layout>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="addItem">Agregar</v-btn>
            </v-layout>
          </v-form>
          <v-data-table
            :headers="compHeaders"
            :items="expProp"
            class="elevation-1 mt-4"
            :items-per-page="5"
            dense>
            <template v-slot:item.actions="{ item }">
              <v-btn darl small @click="deleteItem(item)" color="error" class="my-1">
                <v-icon small left>delete</v-icon>eliminar
              </v-btn>
            </template>
            <template v-slot:item.cumple="{ item }">
              <v-layout align-center justify-center>
                <v-switch v-model="item.cumple" :label="`${item.cumple ? 'Cumple' : 'No cumple'}`" class="mr-4 my-1" hide-details style="padding: 0px"></v-switch>
                <!-- <v-checkbox v-model="item.noAplica" label="No aplica"></v-checkbox> -->
              </v-layout>
            </template>
          </v-data-table>
        </v-flex>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
export default {
  props: ['criterio'],   // criterio: minimo ó seleccion
  data () {
    return {
      tiposexperiencia: ['General','Específica'],
      determinante: ['Alcance','Cuantía'],
      detAlcance: ['Proyecto','Tiempo'],
      detCuantia: ['0 - 100 millones','100 - 300 millones','300 - 500 millones','500 - 1000 millones','Mayor a 1000 millones'],
      unidad: ['Certificación'],
      unidadTiempo: ['Días','Semanas','Meses','Años'],
      selTipoExp: '',
      selDet: '',
      selTipoDet: '',
      selUnidad: '',
      cantidad: '',
      descripcion: '',
      puntajeunit: '',
      puntajemax: '',
      headers: [
        { text: 'Tipo experiencia', align: 'left', sortable: false, value: 'tipoExp' },
        { text: 'Determinante', align: 'left', sortable: false, value: 'determinante' },
        { text: 'Tipo determinante', align: 'left', sortable: false, value: 'tipoDet' },
        { text: 'Unidad', align: 'left', sortable: false, value: 'unidad' },
        { text: 'Cantidad', align: 'right', sortable: false, value: 'cantidad' },
        { text: 'Descripción', align: 'left', sortable: false, value: 'descripcion' },
        { text: 'Cumple', align: 'center', sortable: false, value: 'cumple' },
        { text: 'Puntaje und', align: 'right', sortable: false, value: 'puntajeUnd' },
        { text: 'Puntaje máx', align: 'right', sortable: false, value: 'puntajeMax' },
        { text: 'Acción', align: 'center', sortable: false, value: 'actions' },
      ],
      valid: true,
      tipoExpRules: [
        v => !!v || 'Tipo experiencia es requerido'
      ],
      detRules: [
        v => !!v || 'Determinante es requerido'
      ],
      tipoDetRules: [
        v => !!v || 'Tipo determinate es requerido'
      ],
      undRules: [
        v => !!v || 'Unidad es requerido'
      ],
      cantRules: [
        v => !!v || 'Cantidad es requerido'
      ],
      descRules: [
        v => !!v || 'Descripción es requerido'
      ],
      pUndRules: [
        v => !!(v && (this.criterio === 'seleccion')) || 'Puntaje unidad es requerido',
        v => !((isNaN(v) || v < 0 || v > 100) && (this.criterio === 'seleccion')) || 'Debe ser de 0 - 100',
        v => !((+v > this.puntajemax) && (this.criterio === 'seleccion')) || 'Puntaje und no puede ser mayor a maximo'
      ],
      pMaxRules: [
        v => !!(v && (this.criterio === 'seleccion')) || 'Puntaje maximo es requerido',
        v => !((isNaN(v) || v < 0 || v > 100) && (this.criterio === 'seleccion')) || 'Debe ser de 0 - 100',
        v => !(((+v + +this.acumExp) > 100) && (this.criterio === 'seleccion')) || 'Acumulado es mayor a 100',
        v => !((+v < this.puntajeunit) && (this.criterio === 'seleccion')) || 'Puntaje max no puede ser menor a minimo'
      ]
    }
  },
  methods: {
    deleteItem (item) {
      const index = this.expProp.indexOf(item)
      this.$store.state.solproc.expProp.splice(index, 1)
    },
    addItem () {
      if (this.$refs.form.validate()) {
        const obj = {
          tipo: this.criterio,
          tipoExp: this.selTipoExp,
          determinante: this.selDet,
          tipoDet: this.selTipoDet,
          unidad: this.selUnidad,
          cantidad: this.cantidad,
          descripcion: this.descripcion,
          cumple: false,
          puntajeUnd: this.puntajeunit,
          puntajeMax: this.puntajemax
        }
        this.$store.state.solproc.expProp.push(obj)
        this.clearForm()
      }
    },
    clearForm () {
      this.selTipoExp = ''
      this.selDet = ''
      this.selTipoDet = ''
      this.selUnidad = ''
      this.descripcion = ''
      this.puntajeunit = ''
      this.puntajemax = ''
      this.cantidad = ''
      this.$refs.form.resetValidation()
    }
  },
  computed: {
    porcentaje: {
      get() {
        if (this.criterio === 'seleccion') return this.$store.state.solproc.pesoProp
        return true
      },
      set(value) {
        this.$store.state.solproc.pesoProp = value
      }
    },
    calcrestante () {
      function getNumValue(val) { return parseFloat(val ? val : 0)}
      if (this.criterio === 'seleccion') {
        const ref = this.$store.state.solproc
        return getNumValue(ref.pesoEco) + getNumValue(ref.pesoEqu) + getNumValue(ref.pesoFin) + getNumValue(ref.pesoMet) + getNumValue(ref.pesoOrg) + getNumValue(ref.pesoProp) + getNumValue(ref.porcOfEco)
      }
      return ''
    },
    tipodeterminante () {
			if (this.selDet === 'Alcance') return this.detAlcance
			if (this.selDet === 'Cuantía') return this.detCuantia
    },
    itemsunidad () {
			if (this.selTipoDet === 'Tiempo') return this.unidadTiempo
			else return this.unidad
    },
    expProp () {
      return this.$store.state.solproc.expProp.filter(item => item.tipo === this.criterio)
    },
    acumExp () {
      if (this.expProp.length === 0 && this.criterio !== 'seleccion') return 0
      return this.expProp.reduce(function (acc, b) { return acc + +b.puntajeMax }, 0)
    },
    titulo () {
      if (this.criterio === 'seleccion') return 'Experiencia proponente'
      return 'Experiencia minima del proponente'
    },
    compHeaders () {
      let restricciones = []
      if (this.criterio !== 'seleccion') { 
        restricciones.push('puntajeUnd')
        restricciones.push('puntajeMax')
      }
      if (!this.evaluacion) {
        restricciones.push('data-table-expand')
        restricciones.push('cumple')
      }
      return this.headers.filter(item => !restricciones.includes(item.value))
    }
  }
}
</script>
<style scoped>
.errorClass {
  color: crimson;
  font-weight: bold;
}
</style>
