<template>
  <div>
    <v-card>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="items"
          class="elevation-1"
          :items-per-page="5"
          dense>
          <template v-slot:top>
            <v-row>
              <v-col>
                <v-text-field
                  filled
                  label="Titulo"
                  dense
                  v-model="titulo"
                  >
                </v-text-field>
              </v-col>
              <v-col>
                <v-select
                  label="Tipo"
                  :items="tipos"
                  filled
                  dense
                  v-model="tipo"
                  >
                </v-select>
              </v-col>
              <v-col>
                <v-text-field
                  filled
                  dense
                  label="Descripcion"
                  v-model="descripcion"
                  >
                </v-text-field>
              </v-col>
              <v-col style="display: flex; align-items: center;justify-content: center">
                <v-btn @click="addInfoProd" color="primary">Agregar</v-btn>
              </v-col>
            </v-row>
          </template>
          <template v-slot:item.descripcion="props">
            <v-edit-dialog
              :return-value.sync="props.item.descripcion"
              > {{ props.item.descripcion }}
              <template v-slot:input>
                <v-text-field
                  v-model="props.item.descripcion"
                  label="Edit"
                  single-line
                ></v-text-field>
              </template>
            </v-edit-dialog>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-btn small @click="delInforme(item)" color="error" dark class="my-1">
              <v-icon small left>delete</v-icon>eliminar
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    
  </div>
</template>
<script>
export default {
  data () {
    return {
      headers: [
        { text: 'Titulo', align: 'left', sortable: false, value: 'titulo' },
        { text: 'Tipo', align: 'center', sortable: false, value: 'tipo' },
        { text: 'Descripción', align: 'left', sortable: false, value: 'descripcion' },
        { text: 'Accion', align: 'center', sortable: false, value: 'actions' }
      ],
      titulo: '',
      descripcion: '',
      tipo: '',
      tipos: ['informe', 'producto']
    }
  },
  methods: {
    addInfoProd () {
      const obj = { tipo: this.tipo, titulo: this.titulo, descripcion: this.descripcion }
      this.$store.state.solproc.infoprod.push(obj)
      this.clear()
    },
    clear () {
      this.tipo = ''
      this.titulo = ''
      this.descripcion = ''
    }
  },
  computed: {
    items: {
      get () {
        return this.$store.state.solproc.infoprod
      },
      set (val) {
        this.$store.state.solproc.infoprod.push(vaL)
      }
    }
  }
}
</script>
<style scoped>
</style>
