<template>
  <div>
    <h1>Solicitudes</h1>
    <v-layout class="mb-3" align-center>
      <v-btn color="primary" dark small fab @click="dNewSol=!dNewSol">
        <v-icon>add</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        label="Buscar"
        append-icon="search"
        hide-details
        >
      </v-text-field>
    </v-layout>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      :items-per-page="5"
      dense>
      <template v-slot:item.actions="{ item }">
        <v-layout justify-center my-1>
          <v-btn small @click="ver(item)" color="primary">
            <v-icon dark small left>search</v-icon>ver
          </v-btn>
          <!-- <v-btn small @click="evaluar(item)" color="primary">
            <v-icon dark small left>check</v-icon>Evaluar
          </v-btn> -->
          <v-btn small @click="eliminar(item)" color="primary" class="ml-5">
            <v-icon dark small left>delete</v-icon>Eliminar
          </v-btn>
        </v-layout>
      </template>
    </v-data-table>
    <v-dialog v-model="dNewSol" width="800">
      <v-card>
        <v-card-title>
          <h2>Nueva solicitud</h2>
        </v-card-title>
        <v-card-text>
          <necesidades/>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import axios from 'axios'
import Solicitudes from "../../servicios/Solicitudes"
import necesidades from '@/components/solProcContrata/necesidades'
export default {
  props: ['evaluacion'],
  components: { necesidades },
  data () {
    return {
      headers: [
        { text: 'Código', align: 'left', sortable: false, value: 'id' },
        { text: 'Estado', align: 'left', sortable: false, value: 'estado' },
        { text: 'Creado', align: 'left', sortable: false, value: 'fecha_creacion' },
        { text: 'Acción', align: 'center', sortable: false, value: 'actions' }
      ],
      items: [],
      dNewSol: false
    }
  },
  async mounted () {
    // this.setSolContratacion()
    console.log('Evaluacion: ' + this.evaluacion)
    const solicitudes = await Solicitudes.getData()
    console.log(solicitudes)
    if (solicitudes.status === 200) {
      this.items = solicitudes.data.data
    } else {
      console.log('in error')
      console.log(solicitudes)
      this.items = []
    }
  },
  methods: {
    addSolicitud () {
      // this.$emit('addSolicitud')
      
    },
    ver (item) {
      // this.$emit('showSolicitud', item.id)
      this.$router.push('/SolicitudesContratacion/' + item.id)
    },
    evaluar (item) {
      this.$emit('set-evaluacion', item.id)
      this.$router.push('/solicitudes/' + item.id)
    },
    eliminar (item) {
      console.log(item.id)
      const index = this.items.indexOf(item)
      axios.delete(`http://localhost:2083/apissinchicont/public/api/solicitudes/${item.id}`)
        .then(response => {
          console.log(response)
          if (response.status === 200) this.items.splice(index, 1)
        })
        .catch(err => {
          console.log(err)
        })
    },
    setSolContratacion () {
      this.$store.commit('setSolContratacion', {
        id: '',
        estado: '',
        usuario: '',
        abAsignado: '',
        necesidades: [], // el codigo del plan esta en cada necesidad
        objetocontractual: '',
        obligaciones: [],
        tiempoEjecucion: '',
        fechLimit: '',
        informes: [],
        productos: [],
        gastosViaje: { incGastos: false, tarSinchi: false, tarDiaria: '' },
        supervisor: [],
        ciudad: [],
        anexoGeneral: '',
        tipoSolicitud: '',
        tipoContrato: {
          text: 'Personal',
            val: 1
        },
        adjuntos: [],
        pasante: {
          convMarco: '',
          valArl: ''
        },
        convenio: {
          contrapartida: '',
          valor: '',
          especie: false,
          dinero: false,
          valor_especie: '',
          valor_dinero: ''
        },
        pagos: [],
        anticipo: false,
        valAnticipo: '',
        causal: '',
        justificacion: '',
        personaNatural: {
          personal: {
            rol: '',
            correo: '',
            telefono: '',
            infoConfidencial: false,
            perfilMin: false,
            educacion: [], // array de objects {tipoEd: 'formal ó Noformal' tipo: 'pregrado', titulo: 'ingenieria en sistemas'}
          },
          bso: {
            descripcion: '',
            perfilMin: false,
          }
        },
        personaJuridica: {
          perfilMin: false,
        },
        nombre: '',
        anexos: [],
        correo: '',
        telefono: '',
        experiencia: [], // array de objects {tipoExp: 'General ó Especifica' descripcion: 'maestro de obra', tiempo: '3 meses'}
        criteriosSeleccion: {
          experienciaproponente: {
            checked: false,
            porcentaje: '',
            expProp: []
          },
          experienciaequipot: {
            checked: false,
            porcentaje: '',
            porcEducacion: '',
            porcExperiencia: ''
          },
          capacidadfinanciera: {
            checked: false,
            porcentaje: '',
            objcapFinanciera: []
          },
          capacidadorganizacional: {
            checked: false,
            porcentaje: '',
            objcapOrg: []
          },
          metodologia: {
            checked: false,
            porcentaje: '',
            objMetodologia: []
          },
          ofertaeconomica: {
            checked: false,
            porcentaje: '',
            aspecto: ''
          },
        },
        criteriosMinimos: {
          experienciaproponente: {
            checked: false,
            expProp: []
          },
          experienciaequipot: {
            checked: false,
            porcEducacion: '',
            porcExperiencia: ''
          }
        },
        criDesempate: [],
        proponentes: [],
        roles: [],
        rolesMinimo: []
      })
    }
  }
}
</script>
<style scoped>
</style>
