<template>
  <div>
    <v-card color="grey lighten-3" class="mb-12">
      <v-card-text>
        <v-layout align-center>
          <h2>Metodología</h2>
          <v-layout ml-4 align-center>
            <div>%Peso: </div>
            <input type="number" v-model="porcentaje" style="background-color: white;padding: 5px;margin-left: 5px;width: 80px;border-radius: 5px;"/>
            <span class="ml-3" :class="{errorClass: calcrestante > 100}">%Acumulado: {{calcrestante}}</span>
          </v-layout>
        </v-layout>
        <v-flex v-if="porcentaje">
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            >
            <v-row class="align-center">
              <v-col cols="4">
                <v-select
                  :items="items"
                  label="Aspecto a evaluar"
                  filled
                  v-model="aspecto"
                  :rules="aspectoRules"
                  required
                  dense
                  >
                </v-select>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="puntajemax"
                  label="Puntaje máx"
                  type="number"
                  filled
                  :rules="puntajeRules"
                  required
                  dense
                  >
                </v-text-field>
              </v-col>
              <v-col></v-col>
              <v-col cols="2">
                <v-btn block color="primary" @click="addMetodologia">Agregar</v-btn>
              </v-col>
            </v-row>
          </v-form>
          <v-data-table
            :headers="headers"
            :items="itemsMetodologia"
            class="elevation-1"
            :items-per-page="5"
            dense>
            <template v-slot:item.actions="{ item }">
              <v-btn small @click="deleteItem(item)" color="error" class="my-1" dark>
                <v-icon left small>delete</v-icon>eliminar
              </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
export default {
  data () {
    return {
      aspecto: '',
      puntajemax: '',
      items: ['Entendimiento y análisis','Profundidad temática','Desarrollo de requerimientos','Plan de trabajo','Gestión del recurso humano'],
      valid: true,
      aspectoRules: [
        v => !!v || 'Aspecto es requerido'
      ],
      puntajeRules: [
        v => !!v || 'Puntaje es requerido',
        v => !(isNaN(v) || v < 0 || v > 100) || 'Debe ser de 0 - 100',
        v => !((+v + +this.acumExp) > 100) || 'Acumulado es mayor a 100'
      ],
      headers: [
        { text: 'Aspecto a evaluar', align: 'left', sortable: false, value: 'aspecto' },
        { text: 'Puntaje máximo', align: 'left', sortable: false, value: 'puntajemax' },
        { text: 'Acciones', align: 'left', sortable: false, value: 'actions' }
      ]
    }
  },
  methods: {
    deleteItem (item) {
      const index = this.itemsMetodologia.indexOf(item)
      this.itemsMetodologia.splice(index, 1)
    },
    addMetodologia() {
      if (this.$refs.form.validate()) {
        const obj = {
          aspecto: this.aspecto,
          puntajemax: this.puntajemax
        }
        this.$store.state.solproc.expMet.push(obj)
        this.clearForm()
      }
    },
    clearForm () {
      this.aspecto = ''
      this.puntajemax = ''
      this.$refs.form.resetValidation()
    }
  },
  computed: {
    porcentaje: {
      get() {
        return this.$store.state.solproc.pesoMet
      },
      set(value) {
        this.$store.state.solproc.pesoMet = value
      }
    },
    calcrestante () {
      function getNumValue(val) { return parseFloat(val ? val : 0)}
      const ref = this.$store.state.solproc
      return getNumValue(ref.pesoEco) + getNumValue(ref.pesoEqu) + getNumValue(ref.pesoFin) + getNumValue(ref.pesoMet) + getNumValue(ref.pesoOrg) + getNumValue(ref.pesoProp) + getNumValue(ref.porcOfEco)
    },
    itemsMetodologia () {
      return this.$store.state.solproc.expMet
    },
    acumExp () {
      return this.itemsMetodologia.reduce(function(acc, b) { return acc + b.puntajemax}, 0)
    }
  }
}
</script>
<style scoped>
.errorClass {
  color: crimson;
  font-weight: bold;
}
</style>
