<template>
  <div>
    <v-select
      filled
      :items="arrPlanAqui"
      item-value="codigo"
      item-text="proyectonombre"
      v-model="planaquisicion"
      :return-object="true"  
      label="Plan de adquisición"									                    										
      >									
    </v-select>
    <v-select
      filled
      :items="compArrNecesidades"
      item-value="codigo"
      item-text="descripcion"
      v-model="necesidades"
      :return-object="true"  
      label="Necesidades plan de adquisición">
    </v-select>
    <v-layout align-center>
      <v-spacer></v-spacer>
      <v-btn color="primary" @click="addNecesidades" class="mb-3">Agregar</v-btn>
    </v-layout>
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="necesidadesAcc"
        class="elevation-1"
        :items-per-page="5"
        dense>
        <template v-slot:item.planadquisicion="{ item }">
          <div>
            {{proyectoNombre(item)}}
          </div>
        </template>
        <template v-slot:item.tipoContrata="{ item }">
          <div>
            {{item.metodolecciontxt}}
          </div>
        </template>
        <template v-slot:item.valor="{ item }">
          <div>
            {{item.valor | moneyFormat}}
          </div>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-btn icon small @click="deleteNeceidad(item)">
            <v-icon color="red" small>delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-flex>
    <!-- <pre>{{$data.necesidadesAcc}}</pre> -->
    <v-layout align-center mt-3>
      <v-spacer></v-spacer>
      <v-btn color="primary" @click="createSolicitud" class="mb-3">crear solicitud</v-btn>
    </v-layout>
  </div>
</template>
<script>
import planesadquisicionService from "../../servicios/PlanesAdquisicionService"
import solicitudes from '../../servicios/Solicitudes'
export default {
  data () {
    return {
      arrPlanAqui: [],
      planaquisicion: '',
      necesidades: '',
      necesidadesAcc: [],
      arrNesecidades: [],
      loading: false,
      headers: [
        { text: 'Necesidad', align: 'left', sortable: false, value: 'descripcion' },
        { text: 'Plan adquisición', align: 'left', sortable: false, value: 'planadquisicion' },
        { text: 'Tipo contratación', align: 'left', sortable: false, value: 'tipoContrata' },
        { text: 'valor', align: 'left', sortable: false, value: 'valor' },
        { text: 'Acción', align: 'left', sortable: false, value: 'actions' },
      ],
      metodoleccion: ''
    }
  },
  filters: {
    moneyFormat: function (value) {
      if (!value) return ''
      return `$${value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")}`
    }
  },
  mounted () {
    planesadquisicionService.getData()
      .then(response => {
        console.log(response)
        if (response.status === 200) {
          try {
            this.arrPlanAqui = response.data.data
          } catch (error) {
            console.log(error)
            this.arrPlanAqui = []
          }
        }  
      })
      .catch(err => {
        console.log(err)
        this.arrPlanAqui = []
      })
  },
  methods: {
    createSolicitud () {
      // console.log(this.necesidadesAcc)
      if (this.necesidadesAcc.length > 0) {
        this.loading = true
        solicitudes.save({ necesidades: this.necesidadesAcc, codTipo: this.metodoleccion })
          .then(response => {
            this.loading = false
            this.showMessage(true, 3000, 'success', `Solictud ${response.data.id} creada con exito`)
            console.log(response)
            this.$router.push('/SolicitudesContratacion/' + response.data.id)
          })
          .catch(err => {
            this.loading = false
            this.showMessage(true, 3000, 'error', 'Error al crear solicitud')
            console.log(err)
          })
      }
    },
    proyectoNombre (item) {
      const project = this.arrPlanAqui.find(el => el.codigo === item.planadquisicion)
      return project ? project.proyectonombre : 'Sin nombre'
    },
    addNecesidades () {
      console.log(this.necesidades)
      this.necesidadesAcc.push(this.necesidades)
      this.metodoleccion = this.necesidades.metodoleccion
      this.getValNec()
    },
    deleteNeceidad (item) {
      const index = this.necesidadesAcc.indexOf(item)
      this.necesidadesAcc.splice(index, 1)
      if (this.necesidadesAcc.length <= 0) {
        this.metodoleccion = ''
      }
    },
    async getValNec () {
      this.necesidadesAcc.forEach(async item => {
        const arrNec = await this.getNecesidades(item.planadquisicion)
        if (arrNec.length > 0 ) {
          item.valor = (arrNec.find(nec => nec.codigo === item.codigo).valor).toString()
        } else {
          item.valor = '0'
        }
        // this.$store.commit('updateNecesidad', item)
      })
    },
    getNecesidades (codigo) {
      return new Promise((resolve, reject) => {
        planesadquisicionService.getNecesidadXPlanAdq(codigo)
          .then(response => {
            console.log(response)
            try {
              resolve (response.data.data) 
            } catch (error) {
              console.log(error)
              resolve ([])
            }
          })
          .catch(err => {
            console.log(err)
            reject ([])
          })
      })
    },
    showMessage (snack, time, color, text) {
      this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})
    },
    async setArrNecesidades (codigo) {
      this.arrNesecidades = await this.getNecesidades(codigo)
    }
  },
  computed: {
    compArrNecesidades () {
      if (this.metodoleccion) return this.arrNesecidades.filter(item => item.metodoleccion === this.metodoleccion)
      return this.arrNesecidades
    }
  },
  watch: {
    async planaquisicion (val) {
      if (val.codigo) {
        this.setArrNecesidades(this.planaquisicion.codigo)
      }
    }
  }
}
</script>
<style scoped>
</style>
