<template>
  <div>
    <v-layout align-center py-2>
      <h3>{{titulo}}</h3>
      <v-spacer></v-spacer>
      <v-btn color="primary" text outlined @click="$emit('show-procesos')">volver</v-btn>
    </v-layout>
    <v-tabs
      show-arrows
      background-color="primary"
      dark
      centered
      >
      <v-tab>
        datos de contratación
      </v-tab>
      <v-tab>
        Informes y productos
      </v-tab>
      <v-tab>
        Terminos de ejecución
      </v-tab>
      <v-tab>
        supervisor y gastos de viaje
      </v-tab>
      <v-tab>
        tipo de solicitud
      </v-tab>
      <v-tab>
        tipo de contratación
      </v-tab>
      <!-- <v-tab>
        Anexo
      </v-tab> -->
      <v-tab-item>
        <obligacionesEspecificas/>
      </v-tab-item>
      <v-tab-item>
        <infoprods/>
      </v-tab-item>
      <v-tab-item>
        <ejecTime/>
        <v-card class="mt-3">
          <v-card-text>
            <h3>Lugar de ejecución</h3>
            <v-autocomplete
              :items="ciudades"
              label="Ciudades"
              item-text="nombrecompleto"
              item-value="codigo"
              v-model="ciudad"
              color="blue-grey lighten-2"
              multiple
              chips
              >
              <template v-slot:selection="data">
                <v-chip
                  v-bind="data.attrs"
                  :input-value="data.selected"
                  close
                  @click="data.select"
                  @click:close="remove(data.item)"
                >
                  {{ data.item.nombrecompleto }}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card color="grey lighten-3" class="my-3">
          <v-card-text>
            <v-autocomplete
              :items="supervisores"
              label="Supervisor"
              v-model="supervisor"
              prepend-icon="person"
              item-text="nombrecompleto"
              item-value="codigo"
              multiple
              chips
              >
              <template v-slot:selection="data">
                <v-chip
                  v-bind="data.attrs"
                  :input-value="data.selected"
                  close
                  @click="data.select"
                  @click:close="removeSupervisor(data.item)"
                >
                  {{ data.item.nombrecompleto }}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-card-text>
        </v-card>
        <v-card color="grey lighten-3" class="mb-3">
          <v-card-text>
            <v-row>
              <v-col>
                <v-switch
                  v-model="incGastosViaje"
                  label="Incluye gastos de viaje?"
                  >
                </v-switch>
              </v-col>
              <v-col v-if="incGastosViaje">
                <v-checkbox
                  v-model="tarSinchi"
                  label="Incluye tarifa SINCHI"
                  >
                </v-checkbox>
              </v-col>
              <v-col v-if="incGastosViaje">
                <v-text-field
                  label="Tarifa diaria, sin puntos ni comas"
                  type="number"
                  v-model="tarDiaria"
                  v-if="!tarSinchi"
                  prepend-icon="attach_money"
                  class="ml-7"
                  style="max-width: 250px"
                  :suffix="compTarDiaria"
                  >
                </v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <tipoSolicitud/>
      </v-tab-item>
      <v-tab-item>
        <tipoContratacion :evaluacion="evaluacion"/>
      </v-tab-item>
      <!-- <v-tab-item>
        <v-card color="grey lighten-3" class="my-3">
          <v-card-text>
            <v-file-input                            
					    label="Anexo"
					    placeholder="Agregar Anexo"
					    id="fileanexo"
					    ref="fileanexo"  
					    name="fileanexo"
					    v-model="anexoFile"                         
					  >                            
					</v-file-input>
          </v-card-text>
        </v-card>
      </v-tab-item> -->
    </v-tabs>
    <v-layout mt-3>
      <v-spacer></v-spacer>
      <!-- <v-btn color="primary" text outlined @click="evaluacion = evaluacion ? '' : 'evaluacion' ">Evaluacion</v-btn> -->
      <v-btn color="primary" text outlined @click="$emit('show-procesos')">volver</v-btn>
      <v-btn color="primary" class="ml-3">enviar a aprobacion</v-btn>
      <v-btn color="primary" fixed fab right bottom @click="saveProcess" style="margin-right: 100px; margin-bottom: 100px;"><v-icon>save</v-icon></v-btn>
    </v-layout>
    <v-dialog
      v-model="dialog"
      hide-overlay
      persistent
      width="300"
      >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          un momento por favor
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- <pre>{{solproc}}</pre> -->
  </div>
</template>
<script>
import obligacionesEspecificas from '@/components/solProcContrata/obligacionesEspecificas'
import infoprods from '@/components/solProcContrata/infoprods'
import ejecTime from '@/components/solProcContrata/ejecTime'
import ciudadesService from '../../servicios/CiudadesService'
import personalService from "../../servicios/PersonalService"
import solProceso from "../../servicios/SolProceso"
import tipoSolicitud from '@/components/solProcContrata/tipoSolicitud'
import tipoContratacion from '@/components/solProcContrata/tipoContratacion'
import { getCarreras } from '../../servicios/utilities'
export default {
  props: ['evaluacion'],
  components: { obligacionesEspecificas, infoprods, ejecTime, tipoSolicitud, tipoContratacion },
  data () {
    return {
      anexoFile: '',
      supervisores: [],
      ciudades: [],
      dialog: false
    }
  },
  mounted () {
    personalService.getData()
      .then(res => {
        console.log(res)
        if (res.status === 200) {
          this.supervisores = res.data.data
        } else {
          this.supervisores = []
        }
      })
      .catch(function(err) {
        this.supervisores = []               
      })
    ciudadesService.getAllCiudades()
      .then(res => {
        if (res.status === 200) {
          this.ciudades = res.data.data 
        } else {
          this.ciudades = []
        }
      })
      .catch(function(err) {
        this.ciudades = []               
      })
    getCarreras()
      .then(response => {
        console.log(response)
        const temp = []
        response.data.forEach(element => {
          temp.push(element.nombre_de_la_carrera)
        })
        this.$store.state.carreras = temp
      })
      .catch(err => {
        console.log(err)
      })
  },
  methods: {
    saveProcess () {
      const solproc = this.$store.state.solproc
      if (solproc.id) {
        this.dialog = true
        solProceso.updateProgres(solproc)
        .then(response => {
          this.dialog = false
          console.log(response)
          this.goBack()
        })
        .catch(err => {
          this.dialog = false
          console.log(err)
        })
      } else {
        this.dialog = true
        solProceso.save(solproc)
          .then(response => {
            this.dialog = false
            console.log(response)
            this.goBack()
          })
          .catch(err => {
            this.dialog = false
            console.log(err)
          })
      }
    },
    goBack () {
      this.$vuetify.theme.themes.light.primary = '#943A4A'
      this.$emit('show-procesos')
    },
    /* setEvalMode () {
      this.evaluacion = this.evaluacion ? '' : 'evaluacion'
      if (this.evaluacion !== '') {
        this.$vuetify.theme.themes.light.primary = '#2196F3'
      } else {
        this.$vuetify.theme.themes.light.primary = '#943A4A'
      }
    }, */
    remove (item) {
      const index = this.ciudad.indexOf(item.codigo)
      if (index >= 0) this.ciudad.splice(index, 1)
    },
    removeSupervisor (item) {
      const index = this.supervisor.indexOf(item.codigo)
      if (index >= 0) this.supervisor.splice(index, 1)
    }
  },
  computed: {
    solproc () { return this.$store.state.solproc },
    ciudad: {
      get () {
        return this.$store.state.solproc.ciudad
      },
      set (val) {
        this.$store.state.solproc.ciudad = val
      }
    },
    supervisor: {
      get () {
        return this.$store.state.solproc.supervisor
      },
      set (val) {
        this.$store.state.solproc.supervisor = val
      }
    },
    incGastosViaje: {
      get () {
        return this.$store.state.solproc.incGastos
      },
      set (val) {
        this.$store.state.solproc.incGastos = val
      }
    },
    tarSinchi: {
      get () {
        return this.$store.state.solproc.tarSinchi
      },
      set (val) {
        this.$store.state.solproc.tarSinchi = val
      }
    },
    tarDiaria: {
      get () {
        return this.$store.state.solproc.valGastosViaje
      },
      set (val) {
        this.$store.state.solproc.valGastosViaje = val
      }
    },
    compTarDiaria () {
      return `$${this.tarDiaria.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")}`
    },
    titulo () {
      let cadena = ''
      const eva = (this.evaluacion !== '')
      const id = this.$store.state.solproc.id
      if (id && eva) return `Evaluacion proceso contratacion N°${id}`
      if (id && !eva) return `Proceso contratacion N°${id}`
      return 'Nuevo proceso contratacion'
    },
    propToEval () {
      return this.$store.state.propToEval
    }
  },
  watch: {
    tarSinchi (val) {
      if (val === true) this.tarDiaria = ''
    }
  }
}
</script>
<style scoped>
</style>
