<template>
  <div>
    <v-card>
      <v-card-text>
        <v-flex>
          <v-text-field v-model="objetocontractual" label="Objecto contractual" :rules="[rules.required]" filled dense></v-text-field>
        </v-flex>
        <v-flex>
          <v-data-table
            :headers="headers"
            :items="obligespecificas"
            class="elevation-1"
            :items-per-page="5"
            flat
            dense>
            <template v-slot:top>
              <v-row>
                <v-col>
                  <v-flex>
                    <v-text-field v-model="obligespcif" label="Obligación especifica" filled dense hide-details></v-text-field>
                  </v-flex> 
                </v-col>
                <v-col justify-center class="text-center" cols="2" style="display: flex; align-items: center; justify-content: center">
                  <v-btn color="primary" dark @click="agregaObligacion">agregar</v-btn>
                </v-col>
              </v-row>
            </template>
            <template v-slot:item.obespecifica="props">
              <v-edit-dialog
                :return-value.sync="props.item.obespecifica"
                > {{ props.item.obespecifica }}
                <template v-slot:input>
                  <v-text-field
                    v-model="props.item.obespecifica"
                    label="Edit"
                    single-line
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-btn small @click="deleteObligacion(item)" color="error" class="my-1" dark>
                <v-icon small left>delete</v-icon>Eliminar
              </v-btn>
            </template>
          </v-data-table>
        </v-flex>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
export default {
  data () {
    return {
      obligespcif: '',
      rules: {
			  required: value => !!value || 'Campo requerido.'					
      },
      headers: [
        { text: 'Obligacion especifica', align: 'left', sortable: false, value: 'obligacion' },
        { text: 'Acciones', align: 'center', sortable: false, value: 'actions' },
      ],
      items: []
    }
  },
  methods: {
    agregaObligacion () {
      if (!this.obligespcif) return ''
      if (!this.obligespecificas.find(item => item.obespecifica === this.obligespcif)) {
        this.$store.state.solproc.obligaciones.push({ obligacion: this.obligespcif })
        this.obligespcif = ''
      }
    },
    deleteObligacion(item){
			const index = this.obligespecificas.indexOf(item)
			confirm('Esta seguro que lo desea eliminar?') && this.obligespecificas.splice(index, 1)
		}
  },
  computed: {
    obligespecificas () {
      return this.$store.state.solproc.obligaciones
    },
    objetocontractual: {
      get () {
        return this.$store.state.solproc.objContractual
      },
      set (val) {
        this.$store.state.solproc.objContractual = val
      }
    }
  }
}
</script>
<style scoped>
</style>
