<template>
  <div>
    <v-card color="grey lighten-3" class="mb-12">
      <v-card-text>
        <v-layout align-center>
          <h2>Oferta económica</h2>
          <v-layout ml-4 align-center>
            <div>%Peso: </div>
            <input type="number" v-model="porcentaje" style="background-color: white;padding: 5px;margin-left: 5px;width: 80px;border-radius: 5px;"/>
            <span class="ml-3" :class="{errorClass: calcrestante > 100}">%Acumulado: {{calcrestante}}</span>
          </v-layout>
        </v-layout>
        <v-flex v-if="porcentaje">
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            >
            <v-row class="align-center">
              <v-col cols="4">
                <v-select
                  :items="items"
                  label="Aspecto"
                  filled
                  item-value="value"
                  item-text="value"
                  v-model="aspecto"
                  :rules="aspectoRules"
                  required
                  dense
                  >
                </v-select>
              </v-col>
              <v-col></v-col>
            </v-row>
          </v-form>
        </v-flex>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
export default {
  data () {
    return {
      items: [],
      valid: true,
      aspectoRules: [
        v => !!v || 'Aspecto es requerido'
      ]
    }
  },
  mounted () {
    this.items = this.$store.state.tipoOfertaEconomica
  },
  computed: {
    porcentaje: {
      get() {
        return this.$store.state.solproc.pesoEco
      },
      set(value) {
        this.$store.state.solproc.pesoEco = value
      }
    },
    aspecto: {
      get () {
        return this.$store.state.solproc.ofEconomica
      },
      set (val) {
        this.$store.state.solproc.ofEconomica = val
      }
    },
    calcrestante () {
      function getNumValue(val) { return parseFloat(val ? val : 0)}
      const ref = this.$store.state.solproc
      return getNumValue(ref.pesoEco) + getNumValue(ref.pesoEqu) + getNumValue(ref.pesoFin) + getNumValue(ref.pesoMet) + getNumValue(ref.pesoOrg) + getNumValue(ref.pesoProp) + getNumValue(ref.porcOfEco)
    }
  }
}
</script>
<style scoped>
.errorClass {
  color: crimson;
  font-weight: bold;
}
</style>
