<template>
  <div>
    <v-card class="mb-12">
      <v-card-text>
        <h1>Pasante</h1>
        <v-flex mt-3>
					<v-autocomplete
            filled
            :items="listConvMarco"
            v-model="convMarco"
            label="Convenio marco"
            item-text="nombreasociado"
            item-value='codigo'
            >
          </v-autocomplete>
				</v-flex>
				<v-flex>
					<v-text-field
            filled
            v-model="valArl"
            label="Valor pago ARL"
            type="number"
            prefix="$"
            :messages="compValArl | moneyFormat"
            >
          </v-text-field>
				</v-flex>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import conveniosmarcoService from '../../servicios/ConveniosMarcoService'
export default {
  data () {
    return {
      listConvMarco: []
    }
  },
  filters: {
    moneyFormat: function (value) {
      if (!value) return ''
      return `$${value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")}`
    }
  },
  mounted () {
    conveniosmarcoService.getData()
      .then(response => {
        if (response.status === 200) this.listConvMarco = response.data.data
      })
      .catch(err => {
        console.log(err)
        this.listConvMarco = []
      })
  },
  computed: {
    convMarco: {
      get() {
        return this.$store.state.solproc.convenioMarco
      },
      set(value) {
        this.$store.state.solproc.convenioMarco = value
      }
    },
    valArl: {
      get() {
        return this.$store.state.solproc.valArl
      },
      set(value) {
        this.$store.state.solproc.valArl = value
      }
    },
    compValArl () {
      return `${this.valArl}`
    }
  }
}
</script>
<style scoped>
</style>
