<template>
  <div>
    <v-card class="mb-12" flat>
      <v-card-text>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          >
          <v-row>
            <v-col>
              <v-text-field
                filled
                prepend-icon="person"
                label="Nombre completo"
                v-model="nombre"
                :rules="nombreRules"
                required
                >
              </v-text-field>
              <v-select
                filled
                prepend-icon="supervised_user_circle"
                :items="roles"
                label="Rol dentro del proyecto"
                item-text="descripcion"
                item-value="codigo"
                v-model="rolEnProjecto"			
                :rules="rolRules"
                required					                    										
                >									
              </v-select>
            </v-col>
            <v-col>
              <v-text-field
                prepend-icon="email"
                label="Correo electronico"
                filled
                v-model="correo"
                :rules="correoRules"
                >
              </v-text-field>
              <v-text-field
                prepend-icon="phone"
                label="Telefono"
                type="number"
                filled
                maxlength="10"
                counter
                v-model="telefono"
                :rules="telefonoRules"
                >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-select
                prepend-icon="list"
                :items="causales"
                item-text="text"
                label="Causal"
                filled
                item-value="valor"
                v-model="causal"
                >
                <template v-slot:selection="data">
                  <v-layout wrap pa-2>
                    {{ data.item.text }}
                  </v-layout>
                </template>
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content v-text="data.item"></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-layout wrap pa-2>
                      {{ data.item.text }}
                    </v-layout>
                  </template>
                </template>
              </v-select>
            </v-col>
            <v-col>
              <v-textarea
                prepend-icon="create"
                label="Justificación"
                filled
                rows="3"
                v-model="justificacion"
                maxlength="200"
                counter
                >
              </v-textarea>
            </v-col>
          </v-row>
        </v-form>
        <datosAdjuntos :causal="causal" :pertenece="'personal'" :evaluacion="evaluacion"/>
        <!-- <pre>{{adjuntos}}</pre> -->
        <v-row>
          <v-col>
            <v-checkbox
              label="Acceso a información confidencial"
              v-model="accInfoConfi"
              >
            </v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox
              v-model="perfilMinimo"
              label="Perfil minimo"
              >
            </v-checkbox>
          </v-col>
        </v-row>
        <educacion v-if="perfilMinimo" :evaluacion="evaluacion"/>
        <experiencia v-if="perfilMinimo" class="mt-3" :evaluacion="evaluacion"/>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import educacion from '@/components/solProcContrata/educacion'
import experiencia from '@/components/solProcContrata/experiencia'
import datosAdjuntos from '@/components/solProcContrata/datosAdjuntos'
import rolesService from '../../servicios/RolesService'

export default {
  components: { datosAdjuntos, educacion, experiencia },
  props: ['evaluacion'],
	data () {
		return {
      causales: [
        { text: 'a) Contratos o convenios interadministrativos con entidades públicas, siempre que las obligaciones derivadas del mismo tengan relación directa con el objeto de la entidad ejecutora señalado en la ley o en sus reglamentos; o convenios o acuerdos para ejecución de proyectos con corporaciones y fundaciones sin ánimo de lucro, organizaciones no gubernamentales nacionales e internacionales, universidades, centros de investigación científica u otras entidades para la ejecución de proyectos conjuntos', valor: 1},
        { text: 'b) Contratos para la prestación de servicios profesionales o de apoyo a la gestión, o para la ejecución de trabajos artísticos que sólo puedan encomendarse a determinadas personas naturales', valor: 2},
        { text: 'c) Contratos para el desarrollo de actividades científicas y tecnológicas, siempre y cuando la Dirección General del Instituto así lo autorice', valor: 3},
        { text: 'd) Contratos de prestación de servicios cuando las tareas son una continuación de un trabajo anterior realizado por el contratista para la ejecución del proyecto y/o con el Instituto, después de haber sido seleccionado de manera competitiva', valor: 4 },
        { text: 'e) Cuando no exista pluralidad de oferentes en el mercado por existir solamente una persona que puede proveer el bien o el servicio por ser titular de los derechos de propiedad industrial o de los derechos de autor, o por ser proveedor exclusivo en el territorio nacional o en el municipio donde se ejecutará el contrato atendiendo a las circunstancias de accesibilidad a la zona, o se requiere contratar a un proveedor particular para lograr el desempeño requerido o para preservar la garantía funcional de un equipo, un elemento de planta o una instalación;' , valor: 5 },
        { text: 'f) La contratación cuyo proceso de Convocatoria Pública o Invitación Directa haya sido declarado desierto, siempre y cuando el contratista cumpla con todos los requisitos habilitantes exigidos en la convocatoria o invitación directa;', valor: 6 },
        { text: 'g) La contratación cuya cuantía no exceda los cien (100) Salarios Mínimos Legales Mensuales Vigentes, siempre y cuando se haya realizado un estudio de mercado previo y se contrate al proveedor que haya ofrecido el menor valor', valor: 7 },
        { text: 'h) Los contratos cuyo proceso de selección, conforme a lo establecido en los convenios o contratos suscritos, no se lleve a cabo por la Oficina Jurídica del Instituto, sino que se realice por la autoridad competente según lo definido en el mismo convenio o contrato', valor: 8 },
        { text: 'i) Contratistas que por necesidades del proyecto son seleccionados en Comités Veredales o en reuniones de autoridades competentes de la región, para lo cual se deberá seguir con el procedimiento establecido para ello y que se detalla más adelante', valor: 9 },
        { text: 'j) El arrendamiento o adquisición de inmuebles', valor: 10 },
        { text: 'k) Comodatos de bienes muebles o inmuebles', valor: 11 }
      ],		
      anexos: [],
      roles: [],
      valid: false,
      nombreRules: [
        v => !!v || 'Nombre es requerido',
      ],
      rolRules: [
        v => !!v || 'El rol es requerido',
      ],
      correoRules: [
        v => /.+@.+\..+/.test(v) || 'Correo no valido',
      ],
      telefonoRules: [
        v => /^\d+$(\.\d+)?/.test(v) || 'Telefono no valido',
      ],
      pMaxRules: [
        v => !(!v && this.selRol) || 'Puntaje maximo es requerido',
        v => !(isNaN(v) || v < 0 || v > 100) || 'Debe ser de 0 - 100',
        v => !((+v + +this.acumExp) > 100) || 'Acumulado es mayor a 100'
      ],
      perfilMinimo: false
		}
  },
  mounted () {
    console.log(this.evaluacion)
    this.getRoles()
    this.perfilMinimo = this.$store.state.solproc.experiencia.length > 0 || this.$store.state.solproc.educacion.length > 0 
  },
  methods: {
    getRoles () {
      rolesService.getData()
        .then(response => {
          if (response.status === 200) {
            this.roles = response.data.data
          }
        })
        .catch(err => {
          console.log(err)
          this.roles = []
        })
    }
  },
	computed: {
    nombre: {
      get () {
				return this.$store.state.solproc.nombre
      },
      set (val) {
        this.$store.state.solproc.nombre = val
      }
    },
		rolEnProjecto: {
			get () {
				return this.$store.state.solproc.rol
			},
			set (val) {
				this.$store.state.solproc.rol = val
			}
    },
    telefono: {
      get () {
        return this.$store.state.solproc.telefono
      },
      set (val) {
        this.$store.state.solproc.telefono = val
      }
    },
    correo : {
      get () {
        return this.$store.state.solproc.correo
      },
      set (val) {
        this.$store.state.solproc.correo = val
      }
    },
		accInfoConfi: {
			get () {
				return this.$store.state.solproc.accesInfoConf
			},
			set (val) {
				this.$store.state.solproc.accesInfoConf = val
			}
    },
    causal: {
      get () {
        return this.$store.state.solproc.causal
      },
      set (val) {
        this.$store.state.solproc.causal = val
      }
    },
    justificacion: {
      get () {
        return this.$store.state.solproc.justificacion
      },
      set (val) {
        this.$store.state.solproc.justificacion = val
      }
    }
  }
}
</script>
<style scoped>
  .anexosClass {
    min-width: 300px;
  }
</style>