<template>
  <v-card>
    <v-card-title>Resultados previos</v-card-title>
    <v-card-text>
      <!-- <p>A continuación se describe la documentación o requisitos faltantes y en la parte final se encuentra el resultado de la evaluación</p> -->
      <v-row v-if="directa" no-gutters>
        <v-col align-self="center">
          <div class="text-center mb-5">
            <v-avatar color="blue-grey darken-1" size="120">
              <v-icon dark size="105">person</v-icon>
            </v-avatar>
          </div>
          <div class="text-center headline">{{nombre}}</div>
        </v-col>
        <v-col>
          <div class="title text-center">Documentación</div>
          <p v-if="noCumple.length <= 0" style="color: blue">Todos los documentos cumplen de conformidad a lo dispuesto en los pliegos de condiciones</p>
          <ul v-if="noCumple.length > 0">
            <li v-for="item in noCumple" :key="item">
              <div style="color: red">{{item}}</div>
            </li>
          </ul>
        </v-col>
        <v-col>
          <div class="title text-center">Educación</div>
          <p v-if="cumpleEdu.length <= 0" style="color: blue">Cumple con toda la educación requerida</p>
          <ul v-if="cumpleEdu.length > 0">
            <li v-for="item in cumpleEdu" :key="item">
              <div style="color: red">{{item}}</div>
            </li>
          </ul>
        </v-col>
        <v-col>
          <div class="title text-center">Experiencia</div>
          <p v-if="cumpleExp.length <= 0" style="color: blue">Cumple con toda la experiencia solicitada</p>
          <ul v-if="cumpleExp.length > 0">
            <li v-for="item in cumpleExp" :key="item">
              <div style="color: red">{{item}}</div>
            </li>
          </ul>
        </v-col>
      </v-row>
      <v-expansion-panels v-if="!directa">
        <v-expansion-panel
          v-for="(prop) in compProponentes"
          :key="prop.id"
          >
          <v-expansion-panel-header class="justify-space-between"><v-layout justify-space-between=""><div class="title">{{prop.nombre}}</div><div class="title">{{(prop.nota).toFixed(2)}}%</div></v-layout></v-expansion-panel-header>
          <v-expansion-panel-content>
            <preResultProp :prop="prop" @puntaje="setPuntaje"/>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <div class="headline text-center mt-3" :class="[{ falla: resultado === 'Rechazado' }, { exito: resultado === 'Aprobado' }]" v-if="directa">{{resultado}}</div>
    </v-card-text>
    <!-- <pre>{{educacion}}</pre>
    <pre>{{cumpleEdu}}</pre> -->
  </v-card>
</template>
<script>
import preResultProp from '@/components/solProcContrata/preResultProp'
import Proponente from '../../servicios/Proponente'
import { calcPuntaje } from '../../servicios/utilities'
import Vue from 'vue'
export default {
  components: { preResultProp },
  data () {
    return {
      proponentes: []
    }
  },
  async mounted () {
    const proponentes = this.$store.state.solproc.proponentes
    const arrayPromesas = []
    if (proponentes) {
      proponentes.forEach(item => {
        console.log(item)
        arrayPromesas.push(this.getPropInfo(item))
      })
    } else {
      console.log('NO HAY PROPONENTES')
    }
    await Promise.all(arrayPromesas)
      .then(response => {
        console.log(response)
        this.proponentes = this.$store.state.solproc.proponentes
      })
      .catch(err => {
        console.log(err)
      }) 
  },
  methods: {
    setPuntaje (obj) {
      console.log(obj)
    },
    async getPropInfo (prop) {
      if (prop) {
        const propCriterios = await Proponente.getCriterios(prop.id)
        console.log(propCriterios)
        if (propCriterios.status === 200) {
          prop.expProp = propCriterios.data.expProp ? propCriterios.data.expProp : [] 
          prop.roles = propCriterios.data.roles ? propCriterios.data.roles : []
          prop.capOrg = propCriterios.data.capOrg ? propCriterios.data.capOrg : []
          prop.capFin = propCriterios.data.capFin ? propCriterios.data.capFin : []
          prop.expMet = propCriterios.data.expMet ? propCriterios.data.expMet : []
          prop.ofertaEco = propCriterios.data.ofertaEco ? propCriterios.data.ofertaEco : []
          Vue.set(prop)
        } else {
          prop.expProp = [] 
          prop.roles = []
          prop.capOrg = []
          prop.capFin = []
          prop.expMet = []
        }
        const response = await Proponente.getInfo(prop.id)
        if (response.status === 200) {
          prop.adjuntos = response.data
        }
        this.setNota(prop)
      } else {
        console.log('proponente no almacenado en la base de datos')
      }
    },
    setNota (prop) {
      // nota por experiencia
      const expP = prop.expProp.filter(item => item.tipo === 'seleccion')
      const pesoProp = parseFloat(this.$store.state.solproc.pesoProp)
      let acumulado = expP.reduce(function(acc, b) {return acc + calcPuntaje(parseInt(b.cantSoportada), parseInt(b.cantidad), parseFloat(b.puntaje_und), parseFloat(b.puntaje_max))}, 0)
      const expProp = (pesoProp * (acumulado / 100))
      console.log('expProp: ' + expProp)

      // nota por equipo trabajo
      const roles = prop.roles.filter(item => item.tipoRol === 'seleccion')
      const pesoEqu = parseFloat(this.$store.state.solproc.pesoEqu)
      acumulado = 0
      roles.forEach(element => {
        // console.log(element)
        const accEdu = element.educacion.reduce(function(acc, b) {return (b.cumple) ? (acc + parseInt(b.puntajeMax)) : 0}, 0)
        const porcEduGanado = element.porc_edu * (accEdu / 100)
        // console.log(porcEduGanado)
        const accExp = element.experiencia.reduce(function(acc, b) {return acc + calcPuntaje(parseInt(b.cantSoportada), parseInt(b.cantidad), parseFloat(b.puntajeUnd), parseFloat(b.puntajeMax))}, 0)
        const porcExpGanado = element.porc_exp * (accExp / 100)
        // console.log(porcExpGanado)
        const PorcRolGanado = element.porc_rol * ((parseFloat(porcEduGanado) + parseFloat(porcExpGanado)) / 100)
        // console.log(PorcRolGanado)
        acumulado = acumulado + parseFloat(PorcRolGanado)
      })
      const expEqu = pesoEqu * (acumulado / 100)
      console.log('expEqu: ' + expEqu)

      //capacidad financiera
      const capFinT = prop.capFin
      const pesoFin = parseFloat(this.$store.state.solproc.pesoFin)
      let bandera = capFinT.find(item => !item.cumple && item.inhabilita)
      let capFin = 0
      if (bandera) {
        capFin = 0
      } else {
        const cantCumple = capFinT.filter(item => item.cumple)
        const prom = ((cantCumple.length ? cantCumple.length : 0) / capFinT.length) * 100
        capFin = (pesoFin * prom) / 100
      }
      console.log('capFin: ' + capFin)

      // capcidad organizacional
      const capOrgt = prop.capOrg
      // console.log(capOrgt)
      const pesoOrg = parseFloat(this.$store.state.solproc.pesoOrg)
      // console.log(pesoOrg)
      bandera = capOrgt.find(item => !item.cumple && item.inhabilita)
      let capOrg = 0
      if (bandera) {
        capOrg = 0
      } else {
        const cantCumple = capOrgt.filter(item => item.cumple)
        // console.log(cantCumple)
        const prom = ((cantCumple.length ? cantCumple.length : 0) / capOrgt.length) * 100
        // console.log(prom)
        capOrg = (pesoOrg * prom) / 100
      }
      console.log('capOrg: ' + capOrg)

      const expMet = 0

      const puntaje = getValor(expProp) + +getValor(expEqu) + +getValor(capFin) + +getValor(capOrg) + +getValor(expMet)
      console.log('Puntaje: ' + puntaje)
      prop.nota = puntaje

      function getValor (val) {
        if (isNaN(val) || val === '' || val === null) return 0     
        return val
      }
    }
  },
  computed: {
    tipoContrata () {
      return this.$store.state.solproc.tipoContratacion
    },
    directa () {
      return ['Personal', 'Persona juridica', 'Bienes o servicios'].includes(this.tipoContrata)
    },
    nombre () {
      return this.$store.state.solproc.nombre
    },
    adjuntos () {
      return this.$store.state.solproc.adjuntos
    },
    educacion () {
      return this.$store.state.solproc.educacion
    },
    experiencia () {
      return this.$store.state.solproc.experiencia
    },
    noCumple () {
      const respuesta = []
      if (this.adjuntos.length <= 0) return ['No has definido archivos']
      this.adjuntos.forEach(element => {
        if (element.aprobado !== true && element.noAplica !== true) respuesta.push(element.docSolicitado)
      })
      return respuesta
    },
    cumpleEdu () {
      const respuesta = []
      this.educacion.forEach(element => {
        if (!element.cumple && !element.noAplica) respuesta.push(`${element.tipo} ${element.titulo}`)
      })
      return respuesta
    },
    cumpleExp () {
      const respuesta = []
      this.experiencia.forEach(element => {
        if (!element.cumple && !element.noAplica) respuesta.push(element.descripcion)
      })
      return respuesta
    },
    resultado () {
      if (this.noCumple.length === 0 && this.cumpleEdu.length === 0 && this.cumpleExp.length === 0) return '¡Aprobado!'
      return 'Rechazado'
    },
    compProponentes () {
      return this.proponentes.sort(function (a, b) {
        if (a.nota < b.nota) {
          return 1
        }
        if (a.nota > b.nota) {
          return -1
        }
        // a must be equal to b
        return 0
      })
    }
  }
}
</script>
<style scoped>
  .falla {
    color: crimson;
  }
  .exito {
    color: dodgerblue;
  }
</style>
