<template>
  <div>
    <v-layout align-center mt-3>
      <h2>{{evaluacion === 'evaluacion' ? 'Evaluacion de proponentes' : 'Proponentes'}}</h2>
      <v-spacer></v-spacer>
      <v-btn fab @click="showForm=!showForm" color="primary" small><v-icon dark>{{iconExpand}}</v-icon></v-btn>
    </v-layout>
    <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        v-if="showForm"
        >
      <v-row>
        <v-col>
          <v-text-field
            filled
            label="Nombre completo"
            v-model="nombre"
            :rules="nombreRules"
            required
            >
          </v-text-field>
        </v-col>
        <v-col>
          <v-text-field
            filled
            type="number"
            label="Telefono fijo"
            v-model="telefono"
            :rules="telefonoRules"
            required
            >
          </v-text-field>
        </v-col>
        <v-col>
          <v-text-field
            filled
            type="number"
            label="Telefono celular"
            v-model="celular"
            maxlength="10"
            counter
            >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field
            filled
            label="Correo electronico"
            v-model="correo"
            :rules="correoRules"
            required
            >
          </v-text-field>
        </v-col>
        <v-col>
          <v-text-field
            filled
            label="Dirección de correspondencia"
            v-model="direccion"
            :rules="direccionRules"
            required
            >
          </v-text-field>
        </v-col>
        <v-col>
          <v-file-input  
            filled                          
            label="Anexos"
            placeholder="Agregar Anexo"
            id="fileanexo"
            ref="fileanexo"  
            name="fileanexo"
            v-model="anexos"
            chips                       
            >
          </v-file-input>
        </v-col>
      </v-row>
      <v-layout align-center
        >
        <v-checkbox
          v-model="cumple"
          label="Certifica que la persona cumple con los terminosy condiciones descritos"
          >
        </v-checkbox>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="addProponente">Agregar</v-btn>
      </v-layout>
     </v-form>
     <v-data-table
        :headers="headers"
        :items="proponentes"
        class="elevation-1 mt-4"
        :items-per-page="5"
        dense>
        <template v-slot:item.actions="{ item }">
          <v-layout wrap my-1>
            <v-btn small @click="evaluarProponente(item)" color="primary" class="mr-2" v-if="evaluacion">
              <v-icon small left>edit</v-icon>Evaluar
            </v-btn>
            <v-btn small @click="deleteProponente(item)" color="primary">
              <v-icon small left>delete</v-icon>Eliminar
            </v-btn>
          </v-layout>
        </template>
      </v-data-table>
  </div>
</template>
<script>
export default {
  props: ['evaluacion'],
  data () {
    return {
      showForm: false,
      nombre: '',
      celular: '',
      correo: '',
      telefono: '',
      anexos: [],
      direccion: '',
      cumple: '',
      valid: true,
      nombreRules: [
        v => !!v || 'Nombre es requerido'
      ],
      telefonoRules: [
        v => !!v || 'Telefono es requerido'
      ],
      correoRules: [
        v => !!v || 'Correo electronico es requerido',
        v => /.+@.+\..+/.test(v) || 'Correo no valido',
      ],
      direccionRules: [
        v => !!v || 'Dirección es requerida'
      ],
      headers: [
        { text: 'Nombres', align: 'left', sortable: false, value: 'nombre' },
        { text: 'Telefono fijo', align: 'left', sortable: false, value: 'telFijo' },
        { text: 'Telefono celular', align: 'left', sortable: false, value: 'telCelular' },
        { text: 'Correo electronico', align: 'left', sortable: false, value: 'correo' },
        { text: 'Dirección', align: 'left', sortable: false, value: 'direccion' },
        { text: 'Anexos', align: 'left', sortable: false, value: 'anexos' },
        { text: 'Acción', align: 'left', sortable: false, value: 'actions' },
      ],
    }
  },
  mounted () { console.log('Evaluacion: ' + this.evaluacion) },
  methods: {
    addProponente () {
      if (this.$refs.form.validate() && this.cumple) {
         const obj = {
          nombre: this.nombre,
          telFijo: this.telefono,
          telCelular: this.celular,
          correo: this.correo,
          direccion: this.direccion,
          adjuntos: [],
          certTYC: this.cumple
        }
        this.$store.state.solproc.proponentes.push(obj)
        this.clearForm()
      }
    },
    clearForm () {
      this.nombre = ''
      this.telefono = ''
      this.celular = ''
      this.correo = ''
      this.direccion = ''
      this.$refs.form.resetValidation()
    },
    deleteProponente (item) {
      const index = this.proponentes.indexOf(item)
      this.$store.state.solproc.proponentes.splice(index, 1)
    },
    evaluarProponente (item) {
      console.log(item)
      if (item.id) {
        this.$emit('evaluarProp', item)
      } else {
        console.log('Este usuario no esta guardado en la BD')
      }
    }
  },
  computed: {
    proponentes () {
      return this.$store.state.solproc.proponentes
    },
    iconExpand () {
      if (this.showForm) return 'remove'
      return 'add'
    }
  }
  
}
</script>
<style scoped>
</style>
