<template>
  <div>
    <h3>Experiencia proponente</h3>
    <v-data-table
      :headers="headers"
      :items="reqMinProp"
      class="elevation-1 mt-4"
      :items-per-page="5"
      item-key="descripcion"
      show-expand
      dense>
      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length">
          <v-textarea
            label="Observacion"
            v-model="item.observacion"
            rows="3"
            maxlength="200"
            counter>
          </v-textarea>
        </td>
      </template>
      <template v-slot:item.soporte="props">
        <smallAdj :item="props.item"/>
      </template>
      <template v-slot:item.cumple="{ item }">
        <v-layout align-center justify-center>
          <v-switch v-model="item.cumple" :label="`${item.cumple ? 'Cumple' : 'No cumple'}`" class="mr-4" hide-details style="margin: 5px"></v-switch>
        </v-layout>
      </template>
    </v-data-table>
    <h3 class="my-2">Experiencia equipo de trabajo</h3>
    <v-flex v-if="roles">
      <template v-for="item in roles">
        <div :key="item.rol.id_rol">
          <div class="text-center" style="background-color: #943A4A; padding: 3px; color: white">{{(item.rol).toUpperCase()}}</div>
          <v-flex v-if="item.educacion.length > 0">
            <div>Educación</div>
            <v-data-table
              :headers="headersEdu"
              :items="item.educacion"
              class="elevation-1 mt-4"
              :items-per-page="5"
              show-expand
              item-key="titulo"
              dense>
              <template v-slot:expanded-item="{ headers, item }">
                <td :colspan="headers.length">
                  <v-textarea
                    label="Observacion"
                    v-model="item.observacion"
                    rows="2"
                    maxlength="200"
                    counter>
                  </v-textarea>
                </td>
              </template>
              <template v-slot:item.cumple="{ item }">
                <v-layout align-center justify-center>
                  <v-switch v-model="item.cumple" :label="`${item.cumple ? 'Cumple' : 'No cumple'}`" class="mr-4" hide-details style="margin: 5px"></v-switch>
                </v-layout>
              </template>
              <template v-slot:item.soporte="props">
                <smallAdj :item="props.item"/>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex v-if="item.experiencia.length > 0">
            <div>Experiencia</div>
            <v-data-table
              :headers="headersExp"
              :items="item.experiencia"
              class="elevation-1 mt-4"
              :items-per-page="5"
              show-expand
              item-key="titulo"
              dense>
              <template v-slot:expanded-item="{ headers, item }">
                <td :colspan="headers.length">
                  <v-textarea
                    label="Observacion"
                    v-model="item.observacion"
                    rows="2"
                    maxlength="200"
                    counter>
                  </v-textarea>
                </td>
              </template>
              <template v-slot:item.cumple="{ item }">
                <v-layout align-center justify-center>
                  <v-switch v-model="item.cumple" :label="`${item.cumple ? 'Cumple' : 'No cumple'}`" class="mr-4" hide-details style="margin: 5px"></v-switch>
                </v-layout>
              </template>
              <template v-slot:item.soporte="props">
                <smallAdj :item="props.item"/>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex v-if="item.experiencia.length <= 0 && item.experiencia.length <= 0">
            Este rol no tiene requisitos minimos.
          </v-flex>
        </div>
      </template>
    </v-flex>
  </div>
</template>
<script>
import FileExchange from '../../servicios/FileExchange'
import CSolicitaModProyectosVue from '../CSolicitaModProyectos.vue'
import Proponente from '../../servicios/Proponente'
import smallAdj from '@/components/solProcContrata/smallAdj'
export default {
  props: ['proponente'],
  components: { smallAdj },
  data () {
    return {
      headers: [
        { text: 'Obs', value: 'data-table-expand' },
        { text: 'Determinante', align: 'left', sortable: false, value: 'determinante' },
        { text: 'Tipo det', align: 'left', sortable: false, value: 'tipo_det' },
        { text: 'Descripción', align: 'left', sortable: false, value: 'descripcion' },
        { text: 'Cantidad', align: 'left', sortable: false, value: 'cantidad' },
        { text: 'Cumple', align: 'left', sortable: false, value: 'cumple' },
        { text: 'Soporte', align: 'left', sortable: false, value: 'soporte' }
      ],
      headersEdu: [
        { text: 'Tipo', align: 'center', sortable: false, value: 'tipo' },
        { text: 'Titulo', align: 'center', sortable: false, value: 'titulo' },
        { text: 'Cumple', align: 'center', sortable: false, value: 'cumple' },
        { text: 'Soportes', align: 'center', sortable: false, value: 'soporte' }
      ],
      headersExp: [
        { text: 'Descripcion', align: 'center', sortable: false, value: 'descripcion' },
        { text: 'Tiempo', align: 'center', sortable: false, value: 'tiempo' },
        { text: 'Cumple', align: 'center', sortable: false, value: 'cumple' },
        { text: 'Soportes', align: 'center', sortable: false, value: 'soporte' }
      ],
      regBD: [],
      eduPropBD: [],
      reqEstRol: []

    }
  },
  methods: {
    saveReqMin () {
      // saving reqMin
    },
    async handleFileUpload (file, item) {
      console.log(file)
      console.log(item)
      if (file !== null) {
        const result = await FileExchange.upload(file)
        item.file_name = file.name
        item.file_path = result.data.url
      } else {
        item.file_name = ''
        item.file_path = ''
      }
    },
    openInNewTab(url) {
      const win = window.open(url, '_blank')
      win.focus()
    }
  },
  computed: {
    roles () {
      console.log(this.proponente)
      return this.proponente.roles ? this.proponente.roles.filter(item => item.tipoRol === 'minimo') : []
    },
    reqMinProp () {
      if (this.proponente) return this.proponente.expProp ? this.proponente.expProp.filter(item => item.tipo === 'minimo') : []
      return []
    }
  }
}
</script>
<style scoped>
</style>
