<template>
  <v-card>
    <v-card-title>Resultado final</v-card-title>
    <v-card-text>
      <!-- <p>A continuación se describe la documentación o requisitos faltantes y en la parte final se encuentra el resultado de la evaluación</p> -->
      <v-row v-if="directa" no-gutters>
        <v-col align-self="center">
          <div class="text-center mb-5">
            <v-avatar color="blue-grey darken-1" size="120">
              <v-icon dark size="105">person</v-icon>
            </v-avatar>
          </div>
          <div class="text-center headline">{{nombre}}</div>
        </v-col>
        <v-col>
          <div class="title text-center">Documentación</div>
          <p v-if="noCumple.length <= 0" style="color: blue">Todos los documentos cumplen de conformidad a lo dispuesto en los pliegos de condiciones</p>
          <ul v-if="noCumple.length > 0">
            <li v-for="item in noCumple" :key="item">
              <div style="color: red">{{item}}</div>
            </li>
          </ul>
        </v-col>
        <v-col>
          <div class="title text-center">Educación</div>
          <p v-if="cumpleEdu.length <= 0" style="color: blue">Cumple con toda la educación requerida</p>
          <ul v-if="cumpleEdu.length > 0">
            <li v-for="item in cumpleEdu" :key="item">
              <div style="color: red">{{item}}</div>
            </li>
          </ul>
        </v-col>
        <v-col>
          <div class="title text-center">Experiencia</div>
          <p v-if="cumpleExp.length <= 0" style="color: blue">Cumple con toda la experiencia solicitada</p>
          <ul v-if="cumpleExp.length > 0">
            <li v-for="item in cumpleExp" :key="item">
              <div style="color: red">{{item}}</div>
            </li>
          </ul>
        </v-col>
      </v-row>
      <div v-if="empate">
        <h4>Hay empate entre proponentes, recuerda los siguientes criterios de desempate: </h4>
        <ul>
          <template v-for="(cri, index) in critDesempate">
            <li :key="index">{{cri.criterio}}</li>
          </template>
        </ul>
      </div>
      <v-layout class="my-3">
        <v-spacer></v-spacer>
        <v-btn outlined small color="primary" @click="saveOrder">Guardar orden</v-btn>
      </v-layout>
      <v-expansion-panels v-if="!directa" class="mt-3">
        <draggable v-model="compProponentes" @start="drag=true" @end="drag=false" style="width: 100%">
          <v-expansion-panel
            v-for="(prop) in compProponentes"
            :key="prop.id"
            >
            <v-expansion-panel-header class="justify-space-between"><v-layout justify-space-between=""><div class="title">{{prop.nombre}}</div><div class="title">{{(prop.nota).toFixed(2)}}%</div></v-layout></v-expansion-panel-header>
            <v-expansion-panel-content>
              <resultProp :prop="prop" @puntaje="setPuntaje" :media="media" :mediaAlta="mediaAlta" :GPO="GPO" :menorVal="menorVal"/>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </draggable>
      </v-expansion-panels>
      <div class="headline text-center mt-3" :class="[{ falla: resultado === 'Rechazado' }, { exito: resultado === 'Aprobado' }]" v-if="directa">{{resultado}}</div>
    </v-card-text>
    <!-- <pre>{{$data.pruebas}}</pre> -->
    <!-- <pre>{{cumpleEdu}}</pre> -->
  </v-card>
</template>
<script>
import resultProp from '@/components/solProcContrata/resultProp'
import Proponente from '../../servicios/Proponente'
import { calcPuntaje } from '../../servicios/utilities'
import draggable from 'vuedraggable'
import Vue from 'vue'
export default {
  components: { resultProp, draggable },
  data () {
    return {
      proponentes: [],
      tipoEco: '',
      totalNec: '',
      critDesempate: [],
      elDrag: [],
      drag: true,
      pruebas: ['camilo', 'Arnold']
    }
  },
  async mounted () {
    const proponentes = this.$store.state.solproc.proponentes
    this.critDesempate = this.$store.state.solproc.criDes
    const arrayPromesas = []
    if (proponentes) {
      proponentes.forEach(item => {
        console.log(item)
        arrayPromesas.push(this.getPropInfo(item))
      })
    } else {
      console.log('NO HAY PROPONENTES')
    }

    await Promise.all(arrayPromesas)
      .then(response => {
        console.log(response)
        this.proponentes = this.$store.state.solproc.proponentes
        this.totalNec = this.proponentes[0] ? this.proponentes[0].totalNec : 0
        this.proponentes.map(item => {
          this.calcOfEconomica(item)
        })
        console.log('in the position ' + this.proponentes[0].position)
        if (this.proponentes[0].position === null) {
          this.proponentes = this.proponentes.sort(function (a, b) {
            if (a.nota < b.nota) {
              return 1
            }
            if (a.nota > b.nota) {
              return -1
            }
            // a must be equal to b
            return 0
          })
        } else {
          this.proponentes = this.proponentes.sort(function (a, b) {
            if (a.position > b.position) {
              return 1
            }
            if (a.position < b.position) {
              return -1
            }
            // a must be equal to b
            return 0
          })
        }
        console.log(this.totalNec)
      })
      .catch(err => {
        console.log(err)
      }) 
  },
  methods: {
    setPuntaje (obj) {
      console.log(obj)
    },
    async getPropInfo (prop) {
      if (prop) {
        const propCriterios = await Proponente.getCriterios(prop.id)
        console.log(propCriterios)
        if (propCriterios.status === 200) {
          prop.expProp = propCriterios.data.expProp ? propCriterios.data.expProp : [] 
          prop.roles = propCriterios.data.roles ? propCriterios.data.roles : []
          prop.capOrg = propCriterios.data.capOrg ? propCriterios.data.capOrg : []
          prop.capFin = propCriterios.data.capFin ? propCriterios.data.capFin : []
          prop.expMet = propCriterios.data.expMet ? propCriterios.data.expMet : []
          prop.ofertaEco = propCriterios.data.ofertaEco ? propCriterios.data.ofertaEco : []
          prop.totalNec = propCriterios.data.totalNec ? propCriterios.data.totalNec : 0
          if (prop.ofertaEco.length > 0) {
            this.tipoEco = prop.ofertaEco[0].of_economica
          }
          Vue.set(prop)
        } else {
          prop.expProp = [] 
          prop.roles = []
          prop.capOrg = []
          prop.capFin = []
          prop.expMet = []
          prop.totalNec = 0
        }
        const response = await Proponente.getInfo(prop.id)
        if (response.status === 200) {
          prop.adjuntos = response.data
        }
        this.setNota(prop)
      } else {
        console.log('proponente no almacenado en la base de datos')
      }
    },
    calcOfEconomica (prop) {
      // oferta economica
      const media = this.media
      const mediaAlta = this.mediaAlta
      const tipoEco = prop.ofertaEco[0].of_economica
      const valor = parseInt(prop.ofertaEco[0].valor)
      const pesoEco = parseFloat(this.$store.state.solproc.pesoEco)
      let preExpEco = 0
      if (tipoEco) {
        if (tipoEco === 'Media aritmética') {
          if (valor <= media) {
            preExpEco = (pesoEco * (1 - ((media - valor) / media))).toFixed(2)
          } else {
            preExpEco = (pesoEco * (1 - 2 * ((media - valor) / media))).toFixed(2)
          }
        } else if (tipoEco === 'Media aritmética alta') {
          // console.log(mediaAlta, media, valor, pesoEco)
          if (valor <= mediaAlta) {
            preExpEco = (pesoEco * (1 - ((mediaAlta - valor) / mediaAlta))).toFixed(2)
          } else {
            preExpEco = (pesoEco * (1 - 2 * (Math.abs(mediaAlta - valor) / mediaAlta))).toFixed(2)
          }
        } else if (tipoEco === 'Media geométrica con presupuesto oficial') {
          const gpo = this.GPO
          console.log(valor, gpo)
          if (gpo <= valor) {
            
            preExpEco = (pesoEco * (1 - ((gpo - valor) / gpo))).toFixed(2)
          } else {
            preExpEco = (pesoEco * (1 - 2 * ((gpo - valor) / gpo))).toFixed(2)
          }
        } else if (tipoEco === 'Menor valor') {
          preExpEco = ((pesoEco * this.menorVal) / valor).toFixed(2)
        } else {
          preExpEco = 0
        }
      }
      let expEco = 0
      if (preExpEco > pesoEco) {
        expEco = pesoEco
      } else {
        expEco = preExpEco
      }
      prop.nota = prop.nota + parseFloat(expEco)
      // console.log(prop.nota)
    },
    setNota (prop) {
      // nota por experiencia
      const expP = prop.expProp.filter(item => item.tipo === 'seleccion')
      const pesoProp = parseFloat(this.$store.state.solproc.pesoProp)
      let acumulado = expP.reduce(function(acc, b) {return acc + calcPuntaje(parseInt(b.cantSoportada), parseInt(b.cantidad), parseFloat(b.puntaje_und), parseFloat(b.puntaje_max))}, 0)
      const expProp = (pesoProp * (acumulado / 100))
      // console.log('expProp: ' + expProp)

      // nota por equipo trabajo
      const roles = prop.roles.filter(item => item.tipoRol === 'seleccion')
      const pesoEqu = parseFloat(this.$store.state.solproc.pesoEqu)
      acumulado = 0
      roles.forEach(element => {
        // console.log(element)
        const accEdu = element.educacion.reduce(function(acc, b) {return (b.cumple) ? (acc + parseInt(b.puntajeMax)) : 0}, 0)
        const porcEduGanado = element.porc_edu * (accEdu / 100)
        // console.log(porcEduGanado)
        const accExp = element.experiencia.reduce(function(acc, b) {return acc + calcPuntaje(parseInt(b.cantSoportada), parseInt(b.cantidad), parseFloat(b.puntajeUnd), parseFloat(b.puntajeMax))}, 0)
        const porcExpGanado = element.porc_exp * (accExp / 100)
        // console.log(porcExpGanado)
        const PorcRolGanado = element.porc_rol * ((parseFloat(porcEduGanado) + parseFloat(porcExpGanado)) / 100)
        // console.log(PorcRolGanado)
        acumulado = acumulado + parseFloat(PorcRolGanado)
      })
      const expEqu = pesoEqu * (acumulado / 100)
      console.log('expEqu: ' + expEqu)

      //capacidad financiera
      const capFinT = prop.capFin
      const pesoFin = parseFloat(this.$store.state.solproc.pesoFin)
      let bandera = capFinT.find(item => !item.cumple && item.inhabilita)
      let capFin = 0
      if (bandera) {
        capFin = 0
      } else {
        const cantCumple = capFinT.filter(item => item.cumple)
        const prom = ((cantCumple.length ? cantCumple.length : 0) / capFinT.length) * 100
        capFin = (pesoFin * prom) / 100
      }
      console.log('capFin: ' + capFin)

      // capcidad organizacional
      const capOrgt = prop.capOrg
      // console.log(capOrgt)
      const pesoOrg = parseFloat(this.$store.state.solproc.pesoOrg)
      // console.log(pesoOrg)
      bandera = capOrgt.find(item => !item.cumple && item.inhabilita)
      let capOrg = 0
      if (bandera) {
        capOrg = 0
      } else {
        const cantCumple = capOrgt.filter(item => item.cumple)
        // console.log(cantCumple)
        const prom = ((cantCumple.length ? cantCumple.length : 0) / capOrgt.length) * 100
        // console.log(prom)
        capOrg = (pesoOrg * prom) / 100
      }
      console.log('capOrg: ' + capOrg)

      const expMet = 0

      const puntaje =  getValor(expProp) + +getValor(expEqu) + +getValor(capFin) + +getValor(capOrg) + +getValor(expMet)
      
      console.log('Puntaje: ' + puntaje)
      prop.nota = puntaje

      function getValor (val) {
        if (isNaN(val) || val === '' || val === null) return 0     
        return val
      }
    },
    async saveOrder () {
      const resultado = await Proponente.savePositions(this.proponentes)
      console.log(resultado)
      if (resultado.status === 200) {
        this.showMessage(true, 3000, 'success', 'Orden alamacenado')
      } else {
        this.showMessage(true, 3000, 'error', 'Error al guardar posiciones')
      }
    },
    showMessage (snack, time, color, text) {
      this.$root.$emit('showSnack', { snack: snack, time: time, color: color, text: text })
    }
  },
  computed: {
    tipoContrata () {
      return this.$store.state.solproc.tipoContratacion
    },
    directa () {
      return ['Personal', 'Persona juridica', 'Bienes o servicios'].includes(this.tipoContrata)
    },
    nombre () {
      return this.$store.state.solproc.nombre
    },
    adjuntos () {
      return this.$store.state.solproc.adjuntos
    },
    educacion () {
      return this.$store.state.solproc.educacion
    },
    experiencia () {
      return this.$store.state.solproc.experiencia
    },
    noCumple () {
      const respuesta = []
      if (this.adjuntos.length <= 0) return ['No has definido archivos']
      this.adjuntos.forEach(element => {
        if (element.aprobado !== true && element.noAplica !== true) respuesta.push(element.docSolicitado)
      })
      return respuesta
    },
    cumpleEdu () {
      const respuesta = []
      this.educacion.forEach(element => {
        if (!element.cumple && !element.noAplica) respuesta.push(`${element.tipo} ${element.titulo}`)
      })
      return respuesta
    },
    cumpleExp () {
      const respuesta = []
      this.experiencia.forEach(element => {
        if (!element.cumple && !element.noAplica) respuesta.push(element.descripcion)
      })
      return respuesta
    },
    resultado () {
      if (this.noCumple.length === 0 && this.cumpleEdu.length === 0 && this.cumpleExp.length === 0) return '¡Aprobado!'
      return 'Rechazado'
    },
    compProponentes: {
      get () {
        /* return this.proponentes.sort(function (a, b) {
          if (a.nota < b.nota) {
            return 1
          }
          if (a.nota > b.nota) {
            return -1
          }
          // a must be equal to b
          return 0
        }) */
        return this.proponentes
      },
      set (val) {
        this.proponentes = val
      }
      
    },
    media () {
      if (this.tipoEco) {
        const propN = this.proponentes.filter(item => item.ofertaEco).length
        const ZpropEco = this.proponentes.reduce(function(acc, b) { return (acc + Number(b.ofertaEco[0] ? b.ofertaEco[0].valor : 0)) }, 0)
        // console.log('propN: ' + propN)
        // console.log('ZpropEco: ' + ZpropEco)
        return ZpropEco / propN
      } else {
        return 0
      }
    },
    mediaAlta () {
      if (this.tipoEco) {
        const propN = this.proponentes.filter(item => item.ofertaEco).length
        const ZpropEco = this.proponentes.reduce(function(acc, b) { return (acc + Number(b.ofertaEco[0] ? b.ofertaEco[0].valor : 0)) }, 0)
        
        const selProps = this.proponentes.filter(item => item.ofertaEco)
        let max = 0
        selProps.forEach(item => {
          if (parseInt(item.ofertaEco[0].valor) > max) max = parseInt(item.ofertaEco[0].valor)
        })
        console.log('max: ' + max)
        return (max + this.media) / 2
      } else {
        return 0
      }
    },
    menorVal () {
      const selProps = this.proponentes.filter(item => item.ofertaEco)
      let min = selProps[0].ofertaEco[0].valor
      selProps.forEach(item => {
        if (parseInt(item.ofertaEco[0].valor) < min) min = parseInt(item.ofertaEco[0].valor)
      })
      console.log('min: ' + min)
      return min
    },
    GPO () {
      const propN = this.proponentes.filter(item => item.ofertaEco).length
      const nv = Math.ceil(propN / 3)
      const prodPropEco = this.proponentes.reduce(function(acc, b) { return (acc * Number(b.ofertaEco[0] ? b.ofertaEco[0].valor : 1)) }, 1)
      console.log(prodPropEco)
      console.log(nv)
      console.log(this.totalNec)
      const raiz = (1 / (nv + parseInt(propN)))
      console.log(raiz)
      console.log(Math.pow(this.totalNec, nv))
      return Math.pow( Math.pow(this.totalNec, nv) * prodPropEco, raiz)
    },
    empate () {
      // seleccionar la mayor nota
      const selProps = this.proponentes.filter(item => item.ofertaEco)
      let max = 0
      selProps.forEach(item => {
        if (parseInt(item.nota) > max) max = parseInt(item.nota)
      })
      console.log('max: ' + max)
      const maxProps = this.proponentes.filter(item => item.nota === max)
      return (maxProps.length > 1)
    }
  }
}
</script>
<style scoped>
  .falla {
    color: crimson;
  }
  .exito {
    color: dodgerblue;
  }
</style>
