<template>
  <div>
    <v-container class="grey lighten-5">
      <v-row no-gutters>
        <v-col align-self="center" cols="5">
          <div class="text-center mb-5">
            <v-avatar color="blue-grey darken-1" size="120">
              <v-icon dark size="105">person</v-icon>
            </v-avatar>
          </div>
          <div class="text-center headline">{{prop.nombre}}</div>
          <div class="text-center headline">{{puntaje.toFixed(2)}}</div>
          <!-- <div class="text-center display-1" :class="{ errorColor: !estado.valor }">{{estado.text}}</div> -->
        </v-col>
        <v-col>
           <v-row no-gutters>
            <v-col align-self="center">
              <v-card
                class="pa-2"
                outlined
                tile
                >
                <div class="title">Experiencia Minima</div>
                <p style="margin: 0px" :class="{ errorColor: !expMinProp.valor }">{{expMinProp.text}}</p>
              </v-card>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col align-self="center">
              <v-card
                class="pa-2"
                outlined
                tile
                >
                <div class="title">Exp minima de equipo de trabajo</div>
                <p style="margin: 0px" :class="{ errorColor: !expMinEqu.valor }">{{expMinEqu.text}}</p>
              </v-card>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col align-self="center">
              <v-card
                class="pa-2"
                outlined
                tile
                ><div class="title">Experiencia</div>
              </v-card>
            </v-col>
            <v-col align-self="center" cols="3">
              <v-card
                class="pa-2"
                outlined
                tile
                ><div class="title text-end">{{Number.parseFloat(expProp).toFixed(2)}}</div>
              </v-card>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col align-self="center">
              <v-card
                class="pa-2"
                outlined
                tile
                ><div class="title">Equipo de equipo de trabajo</div>
              </v-card>
            </v-col>
            <v-col v-if="prop.roles" align-self="center" cols="3">
              <v-card
                class="pa-2"
                outlined
                tile
                ><div class="title text-end">{{Number.parseFloat(expEqu).toFixed(2)}}</div>
              </v-card>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col align-self="center">
              <v-card
                class="pa-2"
                outlined
                tile
                ><div class="title">Capacidad financiera</div>
              </v-card>
            </v-col>
            <v-col align-self="center" cols="3">
              <v-card
                class="pa-2"
                outlined
                tile
                ><div class="title text-end" :class="{ errorColor: capFin === 0 }">{{Number.parseFloat(capFin).toFixed(2)}}</div>
              </v-card>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col align-self="center">
              <v-card
                class="pa-2"
                outlined
                tile
                ><div class="title">Capacidad organizacional</div>
              </v-card>
            </v-col>
            <v-col align-self="center" cols="3">
              <v-card
                class="pa-2"
                outlined
                tile
                ><div class="title text-end" :class="{ errorColor: capOrg === 0 }">{{Number.parseFloat(capOrg).toFixed(2)}}</div>
              </v-card>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col align-self="center">
              <v-card
                class="pa-2"
                outlined
                tile
                ><div class="title">Metodologia</div>
              </v-card>
            </v-col>
            <v-col align-self="center" cols="3">
              <v-card
                class="pa-2"
                outlined
                tile
                ><div class="title text-end">{{Number.parseFloat(expMet).toFixed(2)}}</div>
              </v-card>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col align-self="center">
              <v-card
                class="pa-2"
                outlined
                tile
                ><div class="title">Oferta economica</div>
              </v-card>
            </v-col>
            <v-col align-self="center" cols="3">
              <v-card
                class="pa-2"
                outlined
                tile
                ><div class="title text-end">{{Number.parseFloat(expEco).toFixed(2)}}</div>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col>
          <div class="title">Documentación</div>
          <p v-if="noCumple.length <= 0" style="color: blue">Todos los documentos cumplen de conformidad a lo dispuesto en los pliegos de condiciones</p>
          <ul v-if="noCumple.length > 0">
            <li v-for="item in noCumple" :key="item">
              <div style="color: red">{{item}}</div>
            </li>
          </ul>
        </v-col>
      </v-row>
    </v-container>
    <!-- <pre>{{prop}}</pre> -->
  </div>
</template>
<script>
import Proponente from '../../servicios/Proponente'
import { calcPuntaje } from '../../servicios/utilities'
import smallAdj from '@/components/solProcContrata/smallAdj'
import Vue from 'vue'
export default {
  components: { smallAdj },
  props: ['prop', 'media', 'mediaAlta', 'totalNec', 'GPO', 'menorVal'],
  data () {
    return {
      tipoOfEco: []
    }
  },
  filters: {
    moneyFormat: function (value) {
      if (!value) return ''
      return `$${value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")}`
    }
  },
  async mounted () {
    this.tipoOfEco = this.$store.state.tipoOfertaEconomica
  },
  methods: {
    getValor (val) {
      if (isNaN(val) || val === '' || val === null) return 0     
      return val
    }
  },
  computed: {
    adjuntos () {
      return this.prop.adjuntos
    },
    noCumple () {
      const respuesta = []
      if (this.adjuntos.length <= 0) return ['No has definido archivos']
      this.adjuntos.forEach(element => {
        if (!element.aprobado && !element.noAplica) respuesta.push(element.docSolicitado)
      })
      return respuesta
    },
    puntaje () {
      return this.prop.nota
    },
    expProp () {
      if (this.prop.expProp) {
        const expP = this.prop.expProp.filter(item => item.tipo === 'seleccion')
        const pesoProp = parseFloat(this.$store.state.solproc.pesoProp)
        const acumulado = expP.reduce(function(acc, b) {return acc + calcPuntaje(parseInt(b.cantSoportada), parseInt(b.cantidad), parseFloat(b.puntaje_und), parseFloat(b.puntaje_max))}, 0)
        return this.getValor(pesoProp * (acumulado / 100))
      }
      return 0
    },
    expEqu () {
      // console.log(this.prop.roles)
      if (this.prop.roles) {
        const roles = this.prop.roles.filter(item => item.tipoRol === 'seleccion')
        const pesoEqu = parseFloat(this.$store.state.solproc.pesoEqu)
        // console.log(roles)
        let acumulado = 0
        roles.forEach(element => {
          // console.log(element)
          const accEdu = element.educacion.reduce(function(acc, b) {return (b.cumple) ? (acc + parseInt(b.puntajeMax)) : 0}, 0)
          const porcEduGanado = element.porc_edu * (accEdu / 100)
          // console.log(porcEduGanado)

          const accExp = element.experiencia.reduce(function(acc, b) {return acc + calcPuntaje(parseInt(b.cantSoportada), parseInt(b.cantidad), parseFloat(b.puntajeUnd), parseFloat(b.puntajeMax))}, 0)
          const porcExpGanado = element.porc_exp * (accExp / 100)
          // console.log(porcExpGanado)

          const PorcRolGanado = element.porc_rol * ((parseFloat(porcEduGanado) + parseFloat(porcExpGanado)) / 100)
          // console.log(PorcRolGanado)
          acumulado = acumulado + parseFloat(PorcRolGanado)
        })
        return this.getValor(pesoEqu * (acumulado / 100))
      }
      return 0
    },
    capFin () {
      const capFin = this.prop.capFin
      if (capFin) {
        // console.log(capFin)
        const pesoFin = parseFloat(this.$store.state.solproc.pesoFin)
        const bandera = capFin.find(item => !item.cumple && item.inhabilita)
        if (bandera) return 0
        const cantCumple = capFin.filter(item => item.cumple)
        const prom = ((cantCumple.length ? cantCumple.length : 0) / capFin.length) * 100
        return this.getValor((pesoFin * prom) / 100)
      }
      return 0
    },
    capOrg () {
      const capOrg = this.prop.capOrg
      // console.log(capOrg)
      if (capOrg) {
        const pesoOrg = parseFloat(this.$store.state.solproc.pesoOrg)
        // console.log(pesoOrg)
        const bandera = capOrg.find(item => !item.cumple && item.inhabilita)
        if (bandera) return 0
        const cantCumple = capOrg.filter(item => item.cumple)
        // console.log(cantCumple)
        const prom = ((cantCumple.length ? cantCumple.length : 0) / capOrg.length) * 100
        // console.log(prom)
        return this.getValor((pesoOrg * prom) / 100)
      }
      return 0
    },
    expMet () {
      return 0
    },
    expMinProp () {
      if (this.prop.expProp) {
        const expP = this.prop.expProp.filter(item => item.tipo === 'minimo')
        const bandera = expP.find(item => !item.cumple)
        if (bandera) return { valor: false, text: 'No cumple con requisitos minimos de experiencia' }
        return { valor: true, text: 'Cuple con requisitos minimos' }
      }
      return { valor: true, text: 'Cuple con requisitos minimos' }
    },
    expMinEqu () {
      // console.log(this.prop.roles)
      if (this.prop.roles) {
        const roles = this.prop.roles.filter(item => item.tipoRol === 'minimo')
        // console.log(roles)
        let flag = false
        roles.forEach(element => {
          // console.log(element)
          const banderaEdu = element.educacion.find(item => !item.cumple)
          const banderaExp = element.experiencia.find(item => !item.cumple)
          if (banderaEdu || banderaExp) {
            flag = true
          }
        })
        if (flag) return { valor: false, text: 'No cumple con requisitos minimos de equipo de trabajo' }
        return { valor: true, text: 'Cumple con requisitos de equipo de trabajo' }
      }
      return { valor: false, text: 'No cumple con requisitos minimos de equipo de trabajo' }
    },
    estado () {
      // console.log((this.noCumple.length > 0), !this.expMinProp.valor, !this.expMinEqu.valor, (this.capFin <= 0), (this.capOrg <= 0))
      if ((this.noCumple.length > 0) || !this.expMinProp.valor || !this.expMinEqu.valor || (this.capFin <= 0) || (this.capOrg <= 0)) return { valor: false, text: 'Fuera del proceso'}
      return { valor: true, text: 'Validar oferta economica'}
    },
    expEco () {
      const media = this.media
      const mediaAlta = this.mediaAlta
      const tipoEco = this.prop.ofertaEco[0].of_economica
      const valor = parseInt(this.prop.ofertaEco[0].valor)
      const pesoEco = parseFloat(this.$store.state.solproc.pesoEco)
      let preResult = 0
      if (tipoEco) {
        if (tipoEco === 'Media aritmética') {
          if (valor <= media) {
            preResult = (pesoEco * (1 - ((media - valor) / media))).toFixed(2)
          } else {
            preResult = (pesoEco * (1 - 2 * ((media - valor) / media))).toFixed(2)
          }
        } else if (tipoEco === 'Media aritmética alta') {
          if (valor <= mediaAlta) {
            preResult = (pesoEco * (1 - ((mediaAlta - valor) / mediaAlta))).toFixed(2)
          } else {
            preResult = (pesoEco * (1 - 2 * (Math.abs(mediaAlta - valor) / mediaAlta))).toFixed(2)
          }
        } else if (tipoEco === 'Media geométrica con presupuesto oficial') {
          const gpo = this.GPO
          console.log(this.GPO)
          console.log(valor, gpo)
          if (gpo <= valor) {
            preResult = (pesoEco * (1 - ((gpo - valor) / gpo))).toFixed(2)
          } else {
            preResult = (pesoEco * (1 - 2 * ((gpo - valor) / gpo))).toFixed(2)
          }
        } else if (tipoEco === 'Menor valor') {
          preResult = ((pesoEco * this.menorVal) / valor).toFixed(2)
        } else {
          preResult = 0
        }
      } else {
        preResult = 0
      }
      if (preResult > pesoEco) return pesoEco
      return preResult
    }
  }
}
</script>
<style scoped>
  .errorColor {
    color: red;
  }
</style>
