<template>
  <div>
    <v-layout align-center mt-3>
      <h2>Roles</h2>
      <v-spacer></v-spacer>
      <v-btn fab @click="showForm=!showForm" color="primary" small><v-icon dark>{{iconExpand}}</v-icon></v-btn>
    </v-layout>
    <v-form
       ref="form"
       v-model="valid"
       lazy-validation
       v-if="showForm"
       >
     <v-row class="align-center">
       <v-col>
         <v-text-field
           filled
           label="Describe el rol"
           v-model="rol"
           :rules="rolRules"
           required
           dense
           >
         </v-text-field>
       </v-col>
       <v-col v-if="criterio === 'seleccion'">
         <v-text-field
           filled
           type="number"
           label="Peso del rol"
           v-model="porcRol"
           :rules="porcRolRules"
           required
           dense
           >
         </v-text-field>
       </v-col>
       <v-col cols="2">
          <v-btn color="primary" @click="addRol">Agregar</v-btn>
       </v-col>
     </v-row>
    </v-form>
    <v-data-table
       :headers="compHeaders"
       :items="roles"
       class="elevation-1 mt-4"
       :items-per-page="5"
       dense>
       <template v-slot:item.actions="{ item }">
         <v-layout justify-space-between my-1>
          <v-btn small @click="addEducacion(item)" color="primary">
            <v-icon dark small left>school</v-icon>Educación {{(criterio === 'seleccion') ? porcEdu(item) : ''}}
          </v-btn>
          <v-btn small @click="addExperiencia(item)" color="primary">
            <v-icon dark small left>build</v-icon>Experiencia {{(criterio === 'seleccion') ? porcExp(item) : ''}}
          </v-btn>
          <v-btn small @click="deleteRol(item)" color="error">
            <v-icon dark small left>delete</v-icon>eliminar
          </v-btn>
         </v-layout>
       </template>
    </v-data-table>
    <div v-if="criterio === 'seleccion'">
      <div v-if="porcRolAcc <= 100" :class="{recText: porcRolAcc !== 100 }">
        Llevas asignado {{porcRolAcc}}% en tus roles, de un 100%
      </div>
    </div>
    <v-dialog v-model="dialogEducacion" width="900">
      <educacion v-if="dialogEducacion" :selRol="selRol" :criterio="criterio"/>
    </v-dialog>
    <v-dialog v-model="dialogExperiencia" width="900">
      <experiencia v-if="dialogExperiencia" :selRol="selRol" :criterio="criterio"/>
    </v-dialog>
  </div>
</template>
<script>
import educacion from '@/components/solProcContrata/educacion'
import experiencia from '@/components/solProcContrata/experiencia'
export default {
  components: { educacion, experiencia },
  props: ['criterio'],
  data () {
    return {
      showForm: false,
      valid: true,
      rol:'',
      porcRol: '',
      rolRules: [
        v => !!v || 'Rol es requerido'
      ],
      porcRolRules: [
        v => !!v || 'Procentaje de rol es requerido',
        v => !((+v + +this.porcRolAcc) > 100) || 'Acumulado es mayor a 100%'
      ],
      headers: [
        { text: 'Rol', align: 'left', sortable: false, value: 'rol' },
        { text: '%Rol', align: 'left', sortable: false, value: 'porcRol' },
        { text: 'Acciones', align: 'center', sortable: false, value: 'actions' },
      ],
      dialogEducacion: false,
      dialogExperiencia: false,
      selRol: ''
    }
  },
  mounted () {
  },
  methods: {
    addEducacion (item) {
      this.selRol = item
      this.dialogEducacion = true
    },
    addExperiencia (item) {
      this.selRol = item
      this.dialogExperiencia = true
    },
    addRol () {
      if (this.$refs.form.validate()) {
        let obj = { tipo: this.criterio, rol: this.rol, porcRol: this.porcRol, educacion: [], experiencia: [], porcEdu: '', porcExp: '' }
        this.$store.state.solproc.roles.push(obj)
        // reset del form
        this.rol = ''
        this.porcRol = ''
        this.$refs.form.resetValidation()
      }
    },
    deleteRol (item) {
      const index = this.roles.indexOf(item)
      this.$store.state.solproc.roles.splice(index, 1)
    },
    porcEdu (item) {
      if (item.porcEdu) return `${item.porcEdu}%`
      return ''
    },
    porcExp (item) {
      if (item.porcExp) return `${item.porcExp}%`
      return ''
    }
  },
  computed: {
    roles () {
      return this.$store.state.solproc.roles.filter(item => item.tipo === this.criterio)
    },
    iconExpand () {
      if (this.showForm) return 'remove'
      return 'add'
    },
    porcRolAcc () {
      if (this.criterio === 'seleccion') return this.$store.state.solproc.roles.reduce(function(acc, b) { 
        if (b.tipo === 'seleccion') {
          return acc + +b.porcRol 
        } else {
          return acc
        }
      }, 0)
      return 0
    },
    minimo () {
      return this.criterio ? 'minimo' : ''
    },
    compHeaders () {
      if (this.criterio === 'seleccion') return this.headers
      return this.headers.filter(item => item.value !== 'porcRol')
    }
  }
}
</script>
<style scoped>
  .recText {
    color: crimson;
  }
</style>
