<template>
  <div id="adjuntos">
    <v-flex>
      <v-file-input
        v-if="!item.file_path"
        style="font-size: .8rem"
        prepend-icon
        prepend-inner-icon="$file"                       
        placeholder="Adjunto"
        small-chips
        hide-details
        dense
        @change="(file) => { handleFileUpload(file) }"
        > 
      </v-file-input>
      <v-chip
        v-if="item.file_path"
        class="ma-2"
        @click="openInNewTab(item.file_path)"
        close
        color="green darken-2"
        text-color="white"
        style="margin: 5px"
        @click:close="item.file_path = ''"
        >{{item.file_name.substring(0, 50)}}
      </v-chip>
    </v-flex>
  </div>
</template>
<script>
import FileExchange from '../../servicios/FileExchange'
import Proponente from '../../servicios/Proponente'
export default {
  props: ['item'],
  data () {
    return {
    }
  },
  async mounted () {
  },  
  methods: {
    async handleFileUpload (file) {
      console.log(file)
      if (file !== null) {
        const result = await FileExchange.upload(file)
        this.item.file_name = file.name
        this.item.file_path = result.data.url
      } else {
        this.item.file_name = ''
        this.item.file_path = ''
      }
      console.log(this.item)
    },
    openInNewTab(url) {
      const win = window.open(url, '_blank')
      win.focus()
    }
  },
  computed: {
    adjuntos: {
      get () {
        if (this.proponente) {
          return this.proponente.adjuntos
        } else {
          return this.$store.state.solproc.adjuntos
        }
      },
      set (val) {
        console.log('seteando adjuntos')
        if (this.proponente) {
          this.proponente.adjuntos = val
        } else {
          this.$store.state.solproc.adjuntos = val
        }
      }
    },
    noCumple () {
      const respuesta = []
      console.log(this.adjuntos)
      this.adjuntos.forEach(element => {
        if (element.aprobado !== true && element.noAplica !== true) respuesta.push(element.docSolicitado)
      })
      return respuesta
    },
    tipoContrato () {
      return this.$store.state.solproc.tipoContratacion
    },
    idSolicitud () {
      return this.$store.state.solproc.id
    }
  },
  watch: {
  }
}
</script>
<style scoped>
</style>
