<template>
  <v-card>
    <v-card-title>Soporte de la experiencia</v-card-title>
    <v-card-text>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation>
        <v-row>
          <v-col>
            <v-text-field
              label="Descripción"
              :rules="descRules"
              required
              maxlength="50"
              counter
              v-model="descripcion"
              dense 
              >
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-menu
              v-model="menuIni"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
              >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dateIni"
                  label="Fecha de inicio"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  dense
                  :rules="dateIniRules"
                  required
                ></v-text-field>
              </template>
              <v-date-picker v-model="dateIni" @input="menuIni = false"></v-date-picker>
            </v-menu>
          </v-col>
          <v-col>
            <v-menu
              v-model="menuEnd"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
              >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dateEnd"
                  label="Fecha de Fin"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  dense
                  :rules="dateEndRules"
                  required
                ></v-text-field>
              </template>
              <v-date-picker v-model="dateEnd" @input="menuEnd = false"></v-date-picker>
            </v-menu>
          </v-col>
          <v-col>
            <template>
              <smallAdj :item="adjunto"/>
            </template>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-layout>
              <v-spacer></v-spacer>
              <v-btn color="primary" small @click="addSupport">agregar</v-btn>
            </v-layout>
          </v-col>
        </v-row>
      </v-form>
      <v-data-table
        :headers="headers"
        :items="expSupports"
        class="elevation-1"
        :items-per-page="5"
        dense>
        <template v-slot:item.actions="{ item }">
           <v-btn small @click="delSupport(item)" color="error" class="my-1">
            <v-icon small left>delete</v-icon>Eliminar
          </v-btn>
        </template>
        <template v-slot:item.adjunto="{ item }">
          <v-layout align-center justify-center>
            <smallAdj :item="item.adjunto"/>
          </v-layout>
        </template>
      </v-data-table>
      <v-layout justify-center mt-3>
        <v-btn color="primary" small @click="saveSupportedExp" v-if="tipo !== 'proprolexp'">guardar</v-btn>
        <v-btn color="primary" small @click="$emit('close-soportes')" v-if="tipo === 'proprolexp'">continuar</v-btn>
      </v-layout>
    </v-card-text>
  </v-card>
</template>
<script>
import smallAdj from '@/components/solProcContrata/smallAdj'
import SolProceso from '../../servicios/SolProceso'
import resultPropVue from './resultProp.vue'
export default {
  props: ['tipo', 'idExp', 'exp'],
  components: { smallAdj },
  data () {
    return {
      descripcion: '',
      menuIni: '',
      dateIni: '',
      menuEnd: '',
      dateEnd: '',
      adjunto: { file_name: '', file_path: ''},
      headers: [
        { text: 'Descripción', align: 'left', value: 'descripcion' },
        { text: 'Fecha inicio', align: 'center', value: 'dateIni' },
        { text: 'Fecha fin', align: 'center', value: 'dateEnd' },
        { text: 'Adjunto', align: 'center', value: 'adjunto' },
        { text: 'Opciones', align: 'center', value: 'actions' },
      ],
      valid: true,
      expSupports: [],
      descRules: [
        v => !!v || 'Descripcion es requerida'
      ],
      dateIniRules: [
        v => !!v || 'Fecha de inicio requerida'
      ],
      dateEndRules: [
        v => !!v || 'Fecha de fin requerida'
      ],
      adjRules: [
        v => !!v || 'Adjunto es requerido'
      ]
    }
  },
  mounted () {
    if (this.tipo === 'proprolexp') {
      this.expSupports = this.exp.soportes ? this.exp.soportes : []
    } else {
      SolProceso.getExpSupports(this.idExp, this.tipo)
        .then(response => {
          console.log(response)
          if (response.status === 200) {
            this.expSupports = response.data
          } else {
            this.expSupports = []
          }
        })
        .catch(err => {
          console.log(err)
          this.expSupports = []
        })
    }
  },
  methods: {
    saveSupportedExp () {
      SolProceso.saveSupport({ data: this.expSupports })
        .then(response => {
          console.log(response)
          this.$emit('close-soportes')
        })
        .catch(err => {
          console.log(err)
        })
    },
    addSupport () {
      if (this.$refs.form.validate()) {
        let obj = {}
        if (this.tipo === 'proprolexp') {
          obj = { descripcion: this.descripcion, tipo: this.tipo, dateIni: this.dateIni, dateEnd: this.dateEnd, adjunto: this.adjunto }
          if (!this.exp.soportes) this.exp.soportes = [] 
          this.exp.soportes.push(obj)
          this.expSupports = this.exp.soportes
        } else {
          obj = { idExp: this.idExp, descripcion: this.descripcion, tipo: this.tipo, dateIni: this.dateIni, dateEnd: this.dateEnd, adjunto: this.adjunto }
          this.expSupports.push(obj)
        }
        this.resetForm()
      }
    },
    resetForm () {
      this.descripcion = ''
      this.dateIni = ''
      this.dateEnd = ''
      this.adjunto = {}
      this.$refs.form.resetValidation()
    },
    delSupport (element) {
      const index = this.expSupports.findIndex(item => item === element)
      this.expSupports.splice(index, 1)
      if (this.tipo === 'proprolexp') {
        this.exp.soportes = this.expSupports
      }
    }
  }
}
</script>
<style scoped>
</style>
