<template>
  <div>
    <v-card color="grey lighten-3" class="mb-3">
      <v-card-text>
        <v-row>
          <v-col cols="12">
            <v-radio-group class="align-center justify-center" v-model="tipoSolici" row>
            <v-radio label="Contrato" value="contrato"></v-radio>
            <v-radio label="Pasante" value="pasante"></v-radio>
            <v-radio label="Convenio" value="convenio"></v-radio>
            </v-radio-group>
          </v-col>
        </v-row> 	
        <contrato v-if="tipoSolici==='contrato'"/>
        <pasante v-if="tipoSolici==='pasante'"/>
        <convenio v-if="tipoSolici==='convenio'"/>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import contrato from '@/components/solProcContrata/contrato'
import pasante from '@/components/solProcContrata/pasante'
import convenio from '@/components/solProcContrata/convenio'
export default {
  components: { contrato, pasante, convenio },
  data () {
    return {}
  },
  computed: {
    tipoSolici: {
      get () {
        return this.$store.state.solproc.tipoProc
      },
      set (value) {
        this.$store.state.solproc.tipoProc = value
      }
    }
  }
}
</script>
<style scoped>
</style>
