<template>
  <div>
    <v-card color="grey lighten-3" class="mb-3">
      <v-card-text>
        <v-stepper v-model="e13">
          <v-stepper-header>
            <v-stepper-step step="1" @click="setTipoContrtacion('Personal', 1)">Contratación directa<br/>Personal</v-stepper-step>
            <v-stepper-step step="2" @click="setTipoContrtacion('Bienes o servicios', 2)">Contratación directa<br/>Bienes/Servicios/Obras</v-stepper-step>
            <v-stepper-step step="3" @click="setTipoContrtacion('Persona juridica', 3)">Contratación directa<br/>Persona juridica</v-stepper-step>
            <v-stepper-step step="4" @click="setTipoContrtacion('Lista corta', 4)">Lista corta</v-stepper-step>
            <v-stepper-step step="5" @click="setTipoContrtacion('Convocatoria publica', 5)">Convocatoria <br/>publica</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <v-stepper-content step="1" style="margin: 0; padding: 16px">
              <personal :evaluacion="evaluacion"/>
            </v-stepper-content>
            <v-stepper-content step="2" style="margin: 0; padding: 16px">
              <bienesyotros :evaluacion="evaluacion"/>
            </v-stepper-content>
            <v-stepper-content step="3" style="margin: 0; padding: 16px">
              <personaJuridica :evaluacion="evaluacion"/>
            </v-stepper-content>
            <v-stepper-content step="4" style="margin: 0; padding: 16px">
              <listaCorta :evaluacion="evaluacion"/>
            </v-stepper-content>
            <v-stepper-content step="5" style="margin: 0; padding: 16px">
              <convPublica :evaluacion="evaluacion"/>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import personal from '@/components/solProcContrata/personal'
import bienesyotros from '@/components/solProcContrata/bienesyotros'
import personaJuridica from '@/components/solProcContrata/personaJuridica'
import listaCorta from '@/components/solProcContrata/listaCorta'
import convPublica from '@/components/solProcContrata/convPublica'
export default {
  components: { personal, bienesyotros, personaJuridica, listaCorta, convPublica },
  props: ['evaluacion'],
  data () {
    return {
      objTipoCont: {},
    }
  },
  mounted () {
    let valor = 0
    if (this.tipoContrato === 'Personal') valor = 1
    if (this.tipoContrato === 'Bienes o servicios') valor = 2
    if (this.tipoContrato === 'Persona juridica') valor = 3
    if (this.tipoContrato === 'Lista corta') valor = 4
    if (this.tipoContrato === 'Convocatoria publica') valor = 5
    this.objTipoCont = { text: this.tipoContrato, val: valor }
    
    console.log('Evaluacion: ' + this.evaluacion)
    if (!this.idSolictud) this.setAdjuntosReq()
  },
  methods: {
    setTipoContrtacion (texto, valor) {
      this.objTipoCont = { text: texto, val: valor }
      this.tipoContrato = texto
      this.setAdjuntosReq()
    },
    setBaseAdjPersonal () {
      this.adjuntos = [ ...this.$store.state.adjPersonales ]
    },
    setBaseAdjBienes () {
      this.adjuntos = [ ...this.$store.state.adjBienes ]
    },
    setBaseAdjJuridica () {
      this.adjuntos = [ ...this.$store.state.adjJuridica ]
    },
    setAdjuntosReq () {
      if (this.objTipoCont.val === 1) this.setBaseAdjPersonal()
      if (this.objTipoCont.val === 2) this.setBaseAdjBienes()
      if (this.objTipoCont.val === 3) this.setBaseAdjJuridica()
    }
  },
  computed: {
    e13 () {
      if (this.objTipoCont) return this.objTipoCont.val
      return 1
    },
    tipoContrato: {
      get () {
        const path = this.$store.state.solproc.tipoContratacion
        return path
      },
      set (val) {
        this.$store.state.solproc.tipoContratacion = val
      }
    },
    adjuntos: {
      get () {
        return this.$store.state.solproc.adjuntos
      },
      set (val) {
        this.$store.state.solproc.adjuntos = val
      }
    },
    idSolictud () {
      return this.$store.state.solproc.id
    }
  }
}
</script>
<style scoped>
</style>
