<template>
  <div>
    <v-container>
      <v-content>
        <listSolicitudes @addSolicitud="nuevaSolicitud" @showSolicitud="selectedSol" v-if="!newSol"/>
        <!-- <newSolContrata v-if="newSol" @newsolcontratacion="newSol=!newSol" :selSol="selSol" :evaluacion="evaluacion"/> -->
      </v-content>
    </v-container>
  </div>
</template>
<script>
import listSolicitudes from '@/components/solProcContrata/listSolicitudes'
// import newSolContrata from '@/components/solProcContrata/newSolContrata'
export default {
  components: { listSolicitudes },
  data () {
    return {
      newSol: false,
      selSol: '',
      evaluacion: ''
    }
  },
  methods: {
    selectedSol (val) {
      this.selSol = val
      this.newSol = !this.newSol
    },
    /* evalSelSol (val) {
      this.selSol = val
      this.newSol = !this.newSol
      this.evaluacion = 'evaluacion'
    }, */
    nuevaSolicitud () {
      this.selSol = ''
      this.newSol = !this.newSol
    }
  }
}
</script>
<style scoped>
</style>
