<template>
  <v-container>
    <div style="height: 80vh">
      <v-layout align-center py-2>
        <h1>Solicitud {{idSolicitud}}</h1>
        <v-spacer></v-spacer>
        <v-btn color="primary" text outlined @click="$router.go(-1)" v-if="!showNewProc">volver</v-btn>
      </v-layout>
      <newProcContrata v-if="showNewProc" @show-procesos="actProcesos" :evaluacion="evaluacion"/>
      <div v-if="!showNewProc" style="margin-bottom: 70px">
        <v-flex mb-3>
          <v-data-table
            :headers="headers"
            :items="necesidadesAcc"
            class="elevation-1"
            :items-per-page="5"
            dense>
            <template v-slot:item.planadquisicion="{ item }">
              <div>
                {{proyectoNombre(item)}}
              </div>
            </template>
            <template v-slot:item.valor="{ item }">
              <div>
                {{item.valor | moneyFormat}}
              </div>
            </template>
          </v-data-table>
        </v-flex>
        <v-btn color="primary" rounded @click="nuevoProceso"><v-icon left>add</v-icon>agregar proceso</v-btn>
        <v-card
          max-width="700" class="my-3"
          v-if="procesos.length > 0"
          >
          <v-list two-line>
            <v-list-item-group
              active-class="pink--text"
              >
              <template v-for="(item, index) in procesos">
                <v-list-item :key="item.id">
                  <template v-slot:default="{ active }">
                    <v-list-item-content>
                      <v-list-item-title>Código: {{item.id}}</v-list-item-title>
                      <v-list-item-title class="wrap">Objeto contractual: {{item.objContractual}}</v-list-item-title>
                      <v-list-item-subtitle >Tipo contratación: {{item.tipoContratacion}}</v-list-item-subtitle>
                      <v-list-item-subtitle >Tipo proceso: {{item.tipoProceso}}</v-list-item-subtitle>
                      <v-list-item-subtitle >
                        <v-layout>
                          <div>Creado: {{item.fechaCreacion}}</div>
                          <div class="ml-3">Fecha limite: {{item.fechaLimite.substring(0, 10)}}</div>
                        </v-layout>
                      </v-list-item-subtitle>
                      <v-layout >
                        <v-btn color="primary" small class="mx-1" @click="selProceso(item, '')" outlined>información</v-btn>
                        <v-btn color="primary" small class="mx-1" @click="selProceso(item, 'evaluacion')" outlined>evaluación</v-btn>
                        <v-btn color="primary" small class="mx-1" @click="selProceso(item, 'preResultados')" outlined>Resultados preliminares</v-btn>
                        <v-btn color="primary" small class="mx-1" @click="selProceso(item, 'resultados')">Resultado</v-btn>
                      </v-layout>
                    </v-list-item-content>
                    <v-list-item-action>
      
                    </v-list-item-action>
                  </template>
                </v-list-item>
                <v-divider
                  v-if="index + 1 < procesos.length"
                  :key="index"
                ></v-divider>
              </template>
            </v-list-item-group>
          </v-list>
        </v-card>
      </div>
    </div>
    <v-dialog v-model="showPreResults" width="1000">
      <preResults v-if="showPreResults"/>
    </v-dialog>
    <v-dialog v-model="showResults" width="1000">
      <results v-if="showResults"/>
    </v-dialog>
    <v-dialog
      v-model="dialog"
      hide-overlay
      persistent
      width="300"
      >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          un momento por favor
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import newProcContrata from '@/components/solProcContrata/newProcContrata'
import preResults from '@/components/solProcContrata/preResults'
import results from '@/components/solProcContrata/results'
import planesadquisicionService from "../../servicios/PlanesAdquisicionService"
import Solicitudes from "../../servicios/Solicitudes"
import Solproceso from "../../servicios/SolProceso"
export default {
  components: { newProcContrata, preResults, results },
  data () {
    return {
      idSolicitud: '',
      procesos: [],
      selected: '',
      showNewProc: false,
      showPreResults: false,
      showResults: false,
      headers: [
        { text: 'Necesidad', align: 'left', sortable: false, value: 'descripcion' },
        { text: 'Plan adquisición', align: 'left', sortable: false, value: 'planadquisicion' },
        { text: 'valor', align: 'left', sortable: false, value: 'valor' }
      ],
      necesidadesAcc: [],
      arrPlanAqui: [],
      evaluacion: '',
      dialog: false
    }
  },
  filters: {
    moneyFormat: function (value) {
      if (!value) return ''
      return `$${value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")}`
    }
  },
  async mounted () {
    console.log('Evaluacion-vsolicitud: ' + this.evaluacion)
    this.idSolicitud = this.$route.params.id
    this.dialog = true
    await this.getSolProcesos()
    await this.getPlanesAdquisicion()
    this.dialog = false
  },
  methods: {
    async selProceso (proc, tipo) {
      this.evaluacion = ''
      const solproc = await Solproceso.getSolProcDetail(proc.id)
      if (solproc.status === 200) {
        this.setStoreSolProc(solproc.data)
        if (tipo === 'preResultados') {
          this.showPreResults = true
        } else if (tipo === 'resultados') {
          this.showResults = true
        } else if (tipo === 'evaluacion') {
          this.evaluacion = tipo
          this.showNewProc = true
        } else {
          this.showNewProc = true
        }
      }
    },
    async getPlanesAdquisicion () {
      await planesadquisicionService.getData()
      .then(response => {
        console.log(response)
        if (response.status === 200) {
          try {
            this.arrPlanAqui = response.data.data
          } catch (error) {
            console.log(error)
            this.arrPlanAqui = []
          }
        }  
      })
      .catch(err => {
        console.log(err)
        this.arrPlanAqui = []
      })
    },
    nuevoProceso () {
      this.setStoreSolProc('NO_DATA')
      this.showNewProc = !this.showNewProc
    },
    setStoreSolProc (data) {
      let obj = {
        id: data.id ? data.id : '',
        idSolContratacion: data.id_solcontratacion ? data.id_solcontratacion : this.idSolicitud,
        objContractual: data.obj_contractual ? data.obj_contractual : '',
        obligaciones: data.obligaciones ? data.obligaciones : [],
        infoprod: data.infoprod ? data.infoprod : [],
        fechaLimite: data.fecha_limite ? (data.fecha_limite === '0000-00-00 00:00:00' ? '' : data.fecha_limite ) : '',
        fechaTerminacion: data.fecha_terminacion ? (data.fecha_terminacion === '0000-00-00 00:00:00' ? '' : data.fecha_terminacion ) :'',
        tiempoAsignado: data.tiempo_asignado ? data.tiempo_asignado :'',
        ciudad: data.ciudad ? data.ciudad : [],
        supervisor: data.supervisor ? data.supervisor : [],
        incGastos: data.inc_gastos ? (data.inc_gastos === 1 ? true : false) : false,
        tarSinchi: data.tar_sinchi ? (data.tar_sinchi === 1 ? true : false) : false,
        valGastosViaje: data.val_gastos_viaje ? data.val_gastos_viaje : '',
        tipoProc: data.tipo_proc ? data.tipo_proc : '',
        necesidades: data.necesidades ? data.necesidades : [],
        pagos: data.pagos ? data.pagos : [],
        anticipo: data.anticipo ? data.anticipo : '',
        accesInfoConf: data.acces_info_conf ? (data.acces_info_conf === 1 ? true : false) : false,
        caracteristicasBS: data.caracteristicas_bs ? data.caracteristicas_bs : '',
        causal: data.causal ? data.causal : '',
        contrapartida: data.contrapartida ? data.contrapartida : '',
        convDinero: data.conv_dinero ? data.conv_dinero : '',
        convEspecie: data.conv_especie ? data.conv_especie : '',
        convValor :data.conv_valor ? data.conv_valor : '',
        convenioMarco: data.convenio_marco ? data.convenio_marco : '',
        correo: data.correo ? data.correo : '',
        fechaCreacion: data.fecha_creacion ? data.fecha_creacion : '',
        justificacion: data.justificacion ? data.justificacion : '',
        nombre: data.nombre ? data.nombre : '',
        ofEconomica: data.of_economica ? data.of_economica : '',
        pesoEco: data.peso_eco ? (data.peso_eco === 0 ? '' : data.peso_eco) : '',
        pesoEqu: data.peso_equ ? (data.peso_equ === 0 ? '' : data.peso_equ) : '',
        pesoFin: data.peso_fin ? (data.peso_fin === 0 ? '' : data.peso_fin) : '',
        pesoMet: data.peso_met ? (data.peso_met === 0 ? '' : data.peso_met) : '',
        pesoOrg: data.peso_org ? (data.peso_org === 0 ? '' : data.peso_org) : '',
        pesoProp: data.peso_prop ? (data.peso_prop === 0 ? '' : data.peso_prop) : '',
        porcOfEco: data.porc_of_eco ? (data.porc_of_eco === 0 ? '' : data.porc_of_eco) : '',
        rol: data.rol ? data.rol : '',
        telefono: data.telefono ? data.telefono : '',
        tipoContratacion: data.tipo_contratacion ? data.tipo_contratacion : '',
        valArl: data.val_arl ? data.val_arl : '',
        educacion: data.educacion ? data.educacion : [],
        experiencia: data.experiencia ? data.experiencia : [],
        adjuntos: data.adjuntos ? this.adjMaped(data.adjuntos) : [],
        proponentes: data.proponentes ? this.propMapped(data.proponentes) : [],
        expProp: data.expProp ? this.expMaped(data.expProp) : [],
        roles: data.roles ? this.rolesMaped(data.roles) : [],
        expFin: data.expFin ? data.expFin : [],
        expOrg: data.expOrg ? data.expOrg : [],
        expMet: data.expMet ? data.expMet : [],
        criDes: data.criDes ? data.criDes : []
      }
      this.$store.commit('setSolProc', obj)
      // this.$store.state.solproc = obj
    },
    propMapped (proponentes) {
      proponentes.map(item => {
        item.adjuntos = []
      })
      return proponentes
    },
    adjMaped (adj) {
      adj.map(item => {
        item.aprobado = item.aprobado ? (item.aprobado === 0 ? false : true) : false
        item.noAplica = item.noAplica ? (item.noAplica === 0 ? false : true) : false
      })
      return adj
    },
    expMaped (exp) {
      exp.map(item => {
        item.cumple = item.cumple ? (item.cumple === 0 ? false : true) : false
      })
      return exp
    },
    rolesMaped (rol) {
      rol.map(item => {
        item.educacion.map(element => {
          element.cumple = element.cumple ? (element.cumple === 0 ? false : true) : false
          element.noAplica = element.noAplica ? (element.noAplica === 0 ? false : true) : false
        })
      })
      return rol
    },
    async actProcesos () {
      this.$store.state.solproc = {}
      this.showNewProc = !this.showNewProc
      this.dialog = true
      await this.getSolProcesos()
      await this.getPlanesAdquisicion()
      this.dialog = false
    },
    async getSolProcesos () {
      const id = this.$route.params.id
      const solicitud = await Solicitudes.detailSol(id)
      if (solicitud.status === 200) {
        this.necesidadesAcc = solicitud.data.necesidades
        this.procesos = solicitud.data.Procesos 
      }
      console.log(solicitud)
    },
    proyectoNombre (item) {
      const project = this.arrPlanAqui.find(el => el.codigo === item.planadquisicion)
      return project ? project.proyectonombre : 'Sin nombre'
    }
  }
}
</script>
<style scoped>
</style>
