<template>  
  <Myapp />
</template>

<script>
  //import HelloWorld from '../components/HelloWorld'
  import Myapp from '../components/Myapp'

  export default {
    components: {
      //HelloWorld
      Myapp
    }/*,
    beforecreate() {

      if (!this.$session.exists()) {
          this.$router.push('/')
      }
    }*/
  }
</script>

<style>
	
</style>