<template>


    <v-layout align-center justify-center fill-height>

        <v-flex>

            <Login @success="validarLogin" />

        </v-flex>

    </v-layout>

</template>

<script>

    import Login from '../components/CLogin'

    export default {

        data() {

            return{



            }

        },
        components: {
            Login
        },
        methods: {

            showMessage (snack, time, color, text) {

			     this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

		    },
            validarLogin(val) {

                if (val) {
                    
                    this.$root.$emit('reiniciaVariables')    
                    this.$router.push('/myapp')
                }
                else {

                    this.$router.push('/')
                    //this.showMessage(true,3000,'error','El usuario y/o contraseña no coinciden.');

                }

            }

        },
        beforeCreate: function () {

            if (!this.$session.exists()) {

                this.$router.push('/')

            }
            else if (this.$session.get('logged')) {

                this.$router.push('/myapp') 

            }
        }
    }

</script>