<template>
  <div>
    <v-card>
      <v-toolbar
        color="primary"
        dark
        dense
        >
        <v-toolbar-title>Agentes involucrados</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card-text>
        <v-layout align-center wrap>
          <v-btn outlined fab color="primary" small @click="dialog=true,autocomplete=false"><v-icon>add</v-icon></v-btn>
          <template v-for="(inv, index) in involved">
            <v-tooltip top :key="index">
              <template v-slot:activator="{ on }">
                <v-chip
                  v-on="on"
                  class="ma-2"
                  outlined
                  close
                  color="primary"
                  @click:close="remove(inv)"
                  >
                  {{inv.arenom}}
                </v-chip>
              </template>
              <span>{{inv.nombre}}</span>
            </v-tooltip>
          </template>
        </v-layout>
      </v-card-text>
    </v-card>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="350px"
    >
      <v-card>
        <v-card-title class="headline" >
            Agregar usuarios
        </v-card-title>
        <v-container>
          <v-row>
            <v-col align="center" justify="center">
              <v-btn color="primary" rounded dark @click="showAutocomplete('individual')"><v-icon class="mr-1">person_add</v-icon>Individual</v-btn>
            </v-col>
            <v-col align="center" justify="center">
              <v-btn color="primary" rounded dark @click="showAutocomplete('areas')"><v-icon class="mr-1">group_add</v-icon>Áreas</v-btn>
            </v-col>
          </v-row>
          <v-row v-if="autocomplete">
            <v-col class="mx-2">
              <v-autocomplete
                :items="records"
                :label="labelselect"
                :item-value="value"
                :item-text="text"
                v-model="txtagregar"
                multiple
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" text @click="dialog = false">Cerrar</v-btn>
          <v-btn color="success" text @click="saveAgentes()">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import PqrService from "../../servicios/PqrService"
import configService from '../../servicios/config'
export default {
  // props: ['factura', 'analistasSAC', 'isLider', 'recAreas'],
  // components: { recogida, hilosCorreo, enviarCorreo },
  data () {
    return {
      involved: [],
      records: [],
      dialog: false,
      autocomplete: false,
      labelselect: '',
      txtagregar: [],
      value: '',
      text: '',
      tipo: ''
    }
  },
  async mounted () {
    this.getData()
  },
  methods: {
    async saveAgentes() {
      if ( this.txtagregar.length > 0) {
        const {data} = await PqrService.saveAsignacion(this.tipo,this.txtagregar,this.$route.params.id)
        if (data.tipo === 'success') {
          this.getData()
          this.$toasted.success(data.respuesta, { icon: 'done', duration: 3000 })
          this.dialog = false
        }
        console.log(data)
      } else {
        this.$toasted.error('Debe seleccionar un registro', { icon: 'error', duration: 3000 })
      }
    },
    async showAutocomplete(tipo) {
      this.tipo = tipo
      this.txtagregar = ''
      this.autocomplete = true
      this.labelselect = tipo === 'individual' ? 'Usuarios' : 'Áreas'
      if (tipo === 'individual') {
        this.labelselect = 'Usuarios'
        const {data} = await PqrService.getUsers()
        this.value = 'documento'
        this.text = 'nombre'
        this.records = data
      } else {
        this.labelselect = 'Áreas'
        const {data} = await PqrService.getDependencias()
        this.value = 'arecod'
        this.text = 'arenom'
        this.records = data.areas
      }
    },
    async getData() {
      const {data} = await PqrService.getAgentes(this.$route.params.id)
      this.involved = data
    },
    async remove (inv) {
      const {data} = await PqrService.deleteAsignacion(inv.id)
      console.log(data)
      if (data.tipo === 'success') {
        this.$toasted.success(data.respuesta, { icon: 'done', duration: 3000 })
        this.getData()
      } else {
        this.$toasted.error(data.respuesta, { icon: 'error', duration: 3000 })
      }
    },
  },
  computed: {

  },
  watch: {

  }
}
</script>
<style scoped>

</style>