<template>
  <div class="mb-2">
    <v-btn v-if="!visible" color="primary" rounded dark  @click="visible=true"><v-icon class="mr-1">bar_chart</v-icon> Charts </v-btn>
    <v-btn v-if="visible" color="primary" fab small dark @click="visible=false"><v-icon>close</v-icon></v-btn>
    <v-row v-if="visible">
      <v-col>
        <p>Charts visibles</p>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  data () {
    return {
      visible: false
    }
  },
  async mounted () {

  },
  methods: {

  },
  computed: {
      
  }
}
</script>
<style scoped>
</style>