<template>
  <v-flex>
    <v-card>
      <v-layout style="background-color: rgb(148, 58, 74);border-radius: 3px 3px 0px 0px; padding: 0px 12px 0px 12px;" align-center>
        <div class="title" style="color: white">Detalles reclamo</div>
        <v-spacer></v-spacer>
      </v-layout>
      <v-row>
        <v-col>
          <v-tabs
            v-model="tab"
            centered
          >
            <v-tab href="#tab-2">
              Datos
            </v-tab>

            <v-tab href="#tab-3">
              Adjuntos
            </v-tab>
          </v-tabs>
        </v-col>
      </v-row>
      <v-tabs-items v-model="tab">
        <v-tab-item
          value="tab-2"
        >
          <v-row>
            <v-col class="mx-6 pa-0">
              <v-textarea
                outlined
                label="Detalle de la solicitud"
                v-model="txtdetalle"
                rows="2"
                readonly
              ></v-textarea>
            </v-col>
            <v-col class="mx-6 pa-0">
              <v-textarea
                outlined
                label="Observaciones"
                v-model="txtobservaciones"
                rows="2"
                readonly
              ></v-textarea>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="ml-6 mr-4 pa-0">
              <div class="subtitle grey--text">Oficio:
                <!-- <div class="subtitle grey--text" v-if="this.nombre_oficio.trim()===''"> No agregado.</div> -->
                <v-chip
                  class="ma-2"
                  color="primary"
                  cols="auto"
                  :disabled="this.nombre_oficio==='No agregado.'"
                  @click="downloadAdjunto(ruta_oficio)"
                >
                  {{ this.nombre_oficio }}
                </v-chip>
              </div>
            </v-col>
            <v-col class="ml-4 mr-6 pa-0">
              <v-text-field
                v-model="date_oficio"
                label="Fecha asignación oficio"
                prepend-icon="calendar_today"
                readonly
              ></v-text-field>
            </v-col>
            <v-col class="ml-4 mr-6 pa-0">
              <v-text-field
                label="Número de días para respuesta"
                v-model="txtdias"
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pa-0 ml-6 mr-2">
              <v-text-field
                label="Nro radicado ventanilla única"
                v-model="txtradicado"
                readonly
              ></v-text-field>
            </v-col>
            <v-col class="pa-0 mx-4">
              <v-text-field
                v-model="date_radicado_vu"
                label="Fecha radicado ventanilla única"
                prepend-icon="calendar_today"
                readonly
              ></v-text-field>
            </v-col>
            <v-col class="pa-0 mx-4">
              <v-text-field
                label="Número de folios"
                v-model="txtnumfolios"
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
        </v-tab-item>
        <v-tab-item
          value="tab-3"
        >
          <v-row>
            <v-col class="mx-4">
              <v-chip
                class="ma-2"
                color="primary"
                v-for="(item, index) in adjuntos"
                :key="index"
                cols="auto"
                @click="downloadAdjunto(item.ruta_adjunto)"
              >
                {{ item.nombre }}
              </v-chip>
            </v-col>
          </v-row>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-flex>
</template>
<script>
import PqrService from "../../servicios/PqrService"
import configService from '../../servicios/config'
export default {
  // props: ['factura', 'analistasSAC', 'isLider', 'recAreas'],
  // components: { recogida, hilosCorreo, enviarCorreo },
  data () {
    return {
      tab: null,
      txtdetalle: '',
      txtobservaciones: '',
      txtdias: '',
      txtradicado: '',
      txtnumfolios: '',
      date_oficio: '',
      date_radicado_vu: '',
      ruta_oficio: '',
      nombre_oficio: '',
      adjuntos: []
    }
  },
  async mounted () {
    this.getData()
    this.getAdjuntos(this.$route.params.id)
  },
  methods: {
    async getData() {
      const {data} = await PqrService.listPqr(this.$route.params.id)
      this.txtdetalle = data.pqrs_reclamos[0].detalle
      this.txtobservaciones = data.pqrs_reclamos[0].observacion
      this.nombre_oficio = data.pqrs_reclamos[0].nombre_oficio === null ? 'No agregado.' : data.pqrs_reclamos[0].nombre_oficio 
      this.ruta_oficio = data.pqrs_reclamos[0].ruta_oficio
      this.date_oficio = data.pqrs_reclamos[0].fecha_asignacion.substring(0,10)
      this.txtdias = data.pqrs_reclamos[0].dias_respuesta
      this.txtradicado = data.pqrs_reclamos[0].radicado_vu
      this.date_radicado_vu = data.pqrs_reclamos[0].fecha_radicado_vu.substring(0,10)
      this.txtnumfolios = data.pqrs_reclamos[0].num_folios
    },
    downloadAdjunto(url) {
      const win = window.open(url, '_blank')
      win.focus()
    },
    async getAdjuntos(id) {
      var info = await PqrService.listAdjuntos(id)
      this.adjuntos = info.data.pqr_adjuntos
    }
  },
  computed: {

  },
  watch: {

  }
}
</script>
<style scoped>

</style>