<template>
  <v-flex mx-5>
    <v-row>
      <v-col class="coldev">
        <headPqr @set-show-hist="showHistorial=!showHistorial"/>
      </v-col>
    </v-row>
    <v-row>
      <v-col :cols="showHistorial ? '4' : '12'" class="coldev">
        <detalle/>
      </v-col>
      <v-col :cols="showHistorial ? '8' : '0'" class="coldev" v-if="showHistorial">
        <historial />
      </v-col>
    </v-row>
    <v-row>
      <v-col class="coldev">
        <areas/>
      </v-col>
    </v-row>
  </v-flex>
</template>
<script>
import headPqr from '@/components/pqrs/headPqr'
import detalle from '@/components/pqrs/detalle'
import historial from '@/components/pqrs/historial'
// import rtaReclamo from '@/components/pqrs/rtaReclamo'
import areas from '@/components/pqrs/areas'
import PqrService from "../../servicios/PqrService";
import configService from '../../servicios/config';
export default {
//   components: { headPqr, detalle, historial, rtaReclamo, areas },
  components: { headPqr, detalle, historial, areas },
  data () {
    return {
      showHistorial: false,
    }
  },
  async beforeCreate () {

  },
  async mounted () {

  },
  methods: {

  },
  computed: {

  }
}
</script>
<style scoped>
  .coldev {
    border: solid 1px #90A4AE;
    padding: 5px;
    background-color: #CFD8DC;
  }
</style>
