<template>
  <div>
  <v-card flat style="border-radius: 4px" id="headFactura">
    <v-toolbar
      color="primary"
      dark
      dense
      >
      <v-toolbar-title>Información</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-card-text style="padding: 5px 16px 5px 16px">
      <v-row align-center>
        <v-col>
          <v-flex>
            <div class="title">
              {{`# Reclamo: ${$route.params.id}`}}
            </div>
            <div class="subtitle"><b>Fecha:</b> {{this.txtfecha}}</div>
            <v-layout align-center>
              <div class="subtitle"><b>Remitente:</b> {{this.txtnombre}}</div>
            </v-layout>
            <div class="subtitle"><b>Dirección:</b> {{this.txtdireccion}}</div>
            <div class="subtitle"><b>Teléfono:</b> {{this.txttelefono}}<span><v-btn icon :href="`https://api.whatsapp.com/send?phone=57${this.txttelefono}`" target="_blank"><v-icon>phone</v-icon></v-btn></span></div>
            <div class="subtitle"><b>Email:</b> {{this.txtemail}}</div>
          </v-flex>
        </v-col>
        <v-col>
          <v-flex align-self-end>
            <div class="subtitle"><b>Tipo de comunicación:</b> {{this.txttipocomunica}}</div>
            <div class="subtitle"><b>Asunto:</b> {{this.txtasunto}}</div>
            <div class="subtitle"><b>Prioridad:</b> {{this.txtprioridad}}</div>
            <div class="subtitle"><b>Confidencialidad:</b> {{this.txtconfidencialidad}}</div>
            <div class="subtitle"><b>Municipio:</b> {{this.txtmunicipio}}</div>
            <div class="subtitle"><b>Medio solicitante:</b> {{this.txtmediosolicita}}</div>
            <div class="subtitle"><b>Estado:</b> <v-chip :color="estado_color" class="subtitle ml-2" text-color="white">{{this.txtestado}}</v-chip></div>
          </v-flex>
        </v-col>
        <v-col cols="3" style="display: flex;align-items: center;justify-content: center;">
          <v-row>
            <v-col>
              <div>
                <barcode :value="valBarcode" width="1" height="50">
                </barcode>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row>
        <v-btn color="primary" outlined small @click="$emit('set-show-hist')" class="mx-1">{{textBtnCommits}}</v-btn>
        <v-btn color="primary" outlined small @click="openRespuesta()" class="mx-1">Respuesta</v-btn>
        <v-btn color="primary" outlined small @click="previewDoc()" class="mx-1">Previsualizar respuesta</v-btn>
        <v-spacer></v-spacer>
        <!-- <v-btn small color="primary" dark>Guardar</v-btn> -->
      </v-row>
    </v-card-text>
  </v-card>
  <!-- Dialog respuesta -->
  <v-dialog v-model="dialog" width="900" persistent>
    <v-card>
      <v-card-title>
        <v-layout class="justify-center align-center">
          Proyectar respuesta
          <v-spacer></v-spacer>
          <v-btn @click="dialog=!dialog" outlined color="primary" small>Cerrar</v-btn>
          <v-btn color="primary" small class="ml-2" :disabled="usuarionormal" @click="saveRespuesta()">Guardar</v-btn>
        </v-layout>
      </v-card-title>
      <v-card-text>
        <vue-editor
          v-model="respuesta"
          id="editor2"
          style="width: 100%"
          :editor-toolbar="customToolbar"
          :disabled="usuarionormal"
          >
        </vue-editor>
        <v-file-input
          class="mt-4"
          dense
          outlined
          v-model="txtadjuntos"
          multiple
          small-chips
          color="primary"
          label="Adjuntar Documentos"
          :disabled="usuarionormal"
        >
        </v-file-input>

        <v-layout class="align-center justify-center">
          <v-btn @click="dialog_comment=true" outlined color="primary">
            <v-icon class="mx-1" color="primary">chat_bubble_outline</v-icon>
            Añadir comentario
          </v-btn>
        </v-layout>
        <v-container class="pa-0" v-if="items.length > 0">
          <v-row>
            <v-col>
            <v-card
              class="mx-auto"
            >
              <v-toolbar
                color="primary"
                dark
                dense
              >
                <v-toolbar-title>Comentarios</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>

              <v-list three-line>
                <template v-for="(item, index) in items">
                  <v-list-item
                    :key="index"
                  >
                    <v-list-item-avatar>
                      <v-avatar color="primary">
                        <span class="white--text headline">{{iniciales}}</span>
                      </v-avatar>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title>
                        <v-layout>
                          <div v-html="item.nombre"></div>
                          <v-spacer></v-spacer>
                          <div class="text--secondary caption">{{item.fecha}}</div>
                        </v-layout>
                      </v-list-item-title>
                      <v-list-item-subtitle v-html="item.comentario"></v-list-item-subtitle>
                      <v-list-item-subtitle>
                        <v-layout class="ma-2">
                          <v-spacer></v-spacer>
                            <template v-for="adj in item.adjuntos">
                              <v-btn small outlined color="primary" :key="adj.id" :href="adj.ruta_adjunto" target="_blank" class="mx-1">{{adj.nombre}}</v-btn>
                            </template>
                            <v-btn @click="dialog_comment=true" icon>
                              <v-badge overlap color="error lighten-3">
                                <template v-slot:badge v-if="item.cantidad>0">{{ item.cantidad }}</template>
                                <v-icon color="primary">chat_bubble_outline</v-icon>
                              </v-badge>
                            </v-btn>
                        </v-layout>
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                  <v-divider
                    v-if="index + 1 < items.length"
                    :key="index"
                  ></v-divider>
                </template>
              </v-list>
            </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
  <!-- Dialog comentarios -->
  <v-dialog
  v-model="dialog_comment"
  persistent
  max-width="400">
    <v-card
      class="mx-auto"
    >
      <v-card-title class="headline" >
          <v-layout class="align-center justify-center">
          </v-layout>
      </v-card-title>
      <v-card-text>
        <div>
          <v-layout class="headline font-weight-bold align-center justify-center mb-2">
            Añadir comentario
          </v-layout>
          <v-textarea
            outlined
            label="Comentario"
            v-model="txtcomentario"
          ></v-textarea>
          <v-layout class="align-center justify-center">
            <v-btn color="success" @click="saveComentario()"><v-icon class="mr-1">save</v-icon>Guardar</v-btn>
          </v-layout>
        </div>
        <!-- <v-list three-line>
          <template v-for="(item, index) in items_comments">
            <v-divider
              v-if="item.divider"
              :key="index"
              :inset="item.inset"
            ></v-divider>

            <v-list-item
              v-else
              :key="index"
            >
              <v-list-item-avatar>
                <v-avatar color="primary">
                  <span class="white--text headline">{{iniciales}}</span>
                </v-avatar>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title v-html="item.title">
                </v-list-item-title>
                <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
                <v-list-item-subtitle>
                  <v-layout class="ma-2">
                    <v-spacer></v-spacer>
                      <div class="text--secondary caption">{{item.fecha}}</div>
                  </v-layout>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list> -->
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" text @click="dialog_comment = false">Cerrar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <div id="source-html" v-show="false">    
    <h1>
      <center>Respuesta PQR #21</center>
    </h1>
    <h2>Hechos</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      <!-- Artificial Intelligence(AI) is an emerging technology
      demonstrating machine intelligence. The sub studies like <u><i>Neural
              Networks</i>, <i>Robatics</i> or <i>Machine Learning</i></u> are
      the parts of AI. This technology is expected to be a prime part
      of the real world in all levels. -->
    </p>
  </div>
  </div>
</template>
<script>
import PqrService from "../../servicios/PqrService"
import { VueEditor } from 'vue2-editor'
export default {
  // props: ['factura', 'analistasSAC', 'isLider', 'recAreas'],
  // components: { recogida, hilosCorreo, enviarCorreo },
  components: { VueEditor },
  data () {
    return {
      iniciales: '',
      txtfecha: '',
      txtnombre: '',
      txtdireccion: '',
      txttelefono: '',
      txtemail: '',
      txttipocomunica: '',
      txtasunto: '',
      txtprioridad: '',
      txtmediosolicita: '',
      txtconfidencialidad: '',
      txtmunicipio: '',
      txtcomentario: '',
      txtadjuntos: [],
      valBarcode: '',
      usuarionormal: true,
      id_estado: '',
      txtestado: '',
      estado_color: '',
      dialog: false,
      dialog_comment: false,
      respuesta: '',
      customToolbar: [
        [{ header: [false, 1, 2, 3, 4, 5, 6] }],
        ["bold", "italic", "underline", "strike"], // toggled buttons
        [
          { align: "" },
          { align: "center" },
          { align: "right" },
          { align: "justify" }
        ],
        ["blockquote", "code-block"],
        [{ list: "ordered" }, { list: "bullet" }, { list: "check" }],
        [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme
        ["image","attachment"]
      ],
      items: [],
      items_comments: []
    }
  },
  created () {
    var nombre = this.$session.get('nombre').split(" ",2)
    this.iniciales = nombre[0].substring(0,1) + nombre[1].substring(0,1)
  },
  async mounted () {
    this.getData()
    this.getResponsable()
    const {data} = await PqrService.getRespuesta(this.$route.params.id)
    this.items = data
  },
  methods: {

    async getResponsable () {
      try {
        const {data} = await PqrService.getResponsablepqr(this.$session.get('usuarioid'),this.$route.params.id)
        this.usuarionormal = data.respuesta
      } catch (error) {
        console.log(error)
      }
    },
    previewDoc () {
      var header = "<html xmlns:o='urn:schemas-microsoft-com:office:office' "+
        "xmlns:w='urn:schemas-microsoft-com:office:word' "+
        "xmlns='http://www.w3.org/TR/REC-html40'>"+
        "<head><meta charset='utf-8'><title>Export HTML to Word Document with JavaScript</title></head><body>"
      // var body = "<h1><center>Artificial Intelligence</center></h1>"+
      // "<h2>Overview</h2>"+
      // "<p>Artificial Intelligence(AI) is an emerging technology demonstrating machine intelligence."+
      // "The sub studies like <u><i>Neural Networks</i>, <i>Robatics</i> or <i>Machine Learning</i></u> are "+
      // "the parts of AI. This technology is expected to be a prime part"+
      // " of the real world in all levels.</p>"
      var footer = "</body></html>"
      // var sourceHTML = header+body+footer
      var sourceHTML = header+document.getElementById("source-html").innerHTML+footer;
      
      var source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(sourceHTML)
      var fileDownload = document.createElement("a")
      document.body.appendChild(fileDownload)
      fileDownload.href = source
      fileDownload.download = 'respuesta.doc'
      fileDownload.click()
      document.body.removeChild(fileDownload)
    },
    async saveComentario() {
      // var info = {
      //   id_reclamo: this.$route.params.id,
      //   comentario: this.respuesta,
      //   id_usuario: this.$session.get('usuarioid')
      // }
      // try {
      //   const {data} = await PqrService.saveRespuesta(info,this.txtadjuntos)
      //   console.log(data)
      //   // this.$toasted.success('Registro actualizado correctamente', { icon: 'done', duration: 3000 })
      //   // this.$toasted.error('Error al guardar archivo oficio', { icon: 'done', duration: 3000 })
      // } catch (error) {
      //   console.log(error)
      // }
    },
    async saveRespuesta() {
      var info = {
        id_reclamo: this.$route.params.id,
        comentario: this.respuesta,
        id_usuario: this.$session.get('usuarioid')
      }
      try {
        const {data} = await PqrService.saveRespuesta(info,this.txtadjuntos)
        console.log(data)
        // this.$toasted.success('Registro actualizado correctamente', { icon: 'done', duration: 3000 })
        // this.$toasted.error('Error al guardar archivo oficio', { icon: 'done', duration: 3000 })
      } catch (error) {
        console.log(error)
      }
    },
    async openRespuesta() {
      this.dialog = true
    },
    async getData() {
      const {data} = await PqrService.listPqr(this.$route.params.id)
      this.valBarcode = data.pqrs_reclamos[0].consecutivo
      this.txtfecha = data.pqrs_reclamos[0].fecha_creacion
      this.txtnombre = data.pqrs_reclamos[0].remitente
      this.txtdireccion = data.pqrs_reclamos[0].direccion
      this.txttelefono = data.pqrs_reclamos[0].telefono
      this.txtemail = data.pqrs_reclamos[0].email
      this.txttipocomunica = data.pqrs_reclamos[0].descripcion
      this.txtasunto = data.pqrs_reclamos[0].asunto
      this.txtprioridad = data.pqrs_reclamos[0].prioridad
      this.id_estado = data.pqrs_reclamos[0].id_estado
      this.txtmediosolicita = data.pqrs_reclamos[0].medio_solicitante
      this.txtmunicipio = data.pqrs_reclamos[0].municipio
      if ( parseInt(data.pqrs_reclamos[0].confidencialidad) === 0 ) {
        this.txtconfidencialidad = 'No'
      } else { this.txtconfidencialidad = 'Si' }
      switch (parseInt(this.id_estado)) {
        case 0:
          this.txtestado = 'Abierta'
          this.estado_color = '#5E35B1'
        break;
        case 1:
          this.txtestado = 'Asignado'
          this.estado_color = '#58af58'
        break;
        case 2:
          this.txtestado = 'En desarrollo'
          this.estado_color = '#FFC61A'
        break;
        case 3:
          this.txtestado = 'Cerrada'
          this.estado_color = '#F44336'
        break;
      }
    }
  },
  computed: {
    textBtnCommits () {
      return 'Ver historial'
    },
  },
  watch: {

  }
}
</script>
<style scoped>
.theme--dark.v-text-field--solo > .v-input__control > .v-input__slot {
  background-color: transparent;
  margin-left: 5px;
}
.coldev {
  border: solid 1px #CCCCCC;
  padding: 5px;
  background-color: #ffffff;
}
</style>