<template>
  <v-card>
    <v-toolbar
      color="primary"
      dark
      dense
      >
      <v-toolbar-title>Historial</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon  @click="showSearch=!showSearch"><v-icon>search</v-icon></v-btn>
      <v-text-field
        v-if="showSearch"
        v-model="filtro"
        light
        placeholder="Filtrar"
        rounded
        hide-details
        solo
        dense
        flat
        class="inputTable"
        style="max-width: 300px"
        >
      </v-text-field>
      <v-btn icon @click="showAddComment=true">
        <v-icon>add</v-icon>
      </v-btn>
    </v-toolbar>
    <v-container
      id="scroll-target"
      style="max-height: 400px"
      class="overflow-y-auto"
      >
        <v-list two-line v-scroll:#scroll-target="onScroll" v-if="compItems.length > 0">
          <v-list-item-group
            v-model="selected"
          >
            <template v-for="(item, index) in compItems">
              <v-row :key="item.id">
                <v-col cols="11">
                  <v-list-item :key="item.id">
                    <template v-slot:default="{}">
                      <v-list-item-avatar>
                        <v-avatar color="primary">
                          <span class="white--text headline">{{iniciales}}</span>
                        </v-avatar>
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <v-list-item-title>
                          <v-layout align-center>
                            <div class="text--secondary">{{item.nombre}}</div>
                            <v-spacer></v-spacer>
                            <div class="text--secondary caption">{{item.fecha.substring(0, 19)}}</div>
                          </v-layout>
                        </v-list-item-title>
                        <v-list-item-subtitle>
                          <v-layout wrap class="text--primary text-wrap">
                            <div v-html="item.comentario"></div>
                          </v-layout>
                        </v-list-item-subtitle>
                        <v-list-item-subtitle>
                          <v-layout wrap>
                            <v-spacer></v-spacer>
                            <template v-for="adj in item.adjuntos">
                              <v-btn small outlined color="primary" :key="adj.id" :href="adj.ruta_adjunto" target="_blank" class="mx-1">{{adj.nombre}}</v-btn>
                            </template>
                          </v-layout>
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </v-list-item>
                </v-col>
              </v-row>
              <v-divider
                v-if="index + 1 < compItems.length"
                :key="index"
              ></v-divider>
            </template>
          </v-list-item-group>
        </v-list>
    </v-container>
    <v-dialog v-model="showAddComment" width="800" persistent>
      <v-card>
        <v-card-title>
          <div class="lg-h2">Comentario</div>
        </v-card-title>
        <v-card-text>
          <vue-editor
            v-model="comentario"
            id="editor2"
            style="width: 100%"
            :editor-toolbar="customToolbar"
            >
          </vue-editor>
          <p v-if="ruleste2" style="color: red">{{ruleste2}}</p>
          <v-file-input v-model="files"
            small-chips multiple label="Adjuntos" outlined prepend-icon dense class="mt-3" show-size
            accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain,application/pdf,image/*"
            :rules="inputRules"
            >
          </v-file-input>
          <v-layout>
            <v-spacer></v-spacer>
            <v-btn @click="showAddComment=!showAddComment" outlined color="primary" small>cancelar</v-btn>
            <v-btn color="primary" small class="ml-2" @click="saveComentario()">Guardar</v-btn>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-card>
</template>
<script>
import PqrService from "../../servicios/PqrService"
import configService from '../../servicios/config'
import { VueEditor } from 'vue2-editor'
export default {
  components: { VueEditor },
  data () {
    return {
      iniciales: '',
      selected: '',
      showSearch: false,
      showAddComment: false,
      filtro: '',
      comentario: '',
      files: [],
      items: [],
      offsetTop: 0,
      customToolbar: [
        [{ header: [false, 1, 2, 3, 4, 5, 6] }],
        ["bold", "italic", "underline", "strike"], // toggled buttons
        [
          { align: "" },
          { align: "center" },
          { align: "right" },
          { align: "justify" }
        ],
        ["blockquote", "code-block"],
        [{ list: "ordered" }, { list: "bullet" }, { list: "check" }],
        [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme
        ["clean"] // remove formatting button
      ]
    }
  },
  created () {
    var nombre = this.$session.get('nombre').split(" ",2)
    this.iniciales = nombre[0].substring(0,1) + nombre[1].substring(0,1)
  },
  async mounted () {
    this.getComentarios()
  },
  methods: {
    async getComentarios() {
      const {data} = await PqrService.getComentario(this.$route.params.id)
      this.items = data
    },
    async saveComentario() {
      var info = {
        id_reclamo: this.$route.params.id,
        comentario: this.comentario,
        id_usuario: this.$session.get('usuarioid')
      }
      const {data} = await PqrService.saveComentario(info)
      var id_comment = data.id
      if (data.tipo === 'success') {
        if (this.files.length > 0) {
          for (let i = 0; i < this.files.length; i++) {
            const result = await PqrService.uploadFile(this.files[i])
            if (result.status === 200) {
              const {data} = await PqrService.savefromH({ id_pqr: this.$route.params.id, nombre: result.data.filename, ruta: result.data.url, id_comentario: id_comment })
              if (data.respuesta != true) {
                this.$toasted.error('Error al guardar archivos adjuntos', { icon: 'done', duration: 3000 })
              } 
              else { this.$emit('refresh-adjuntos') }
            }
          }
        }
        this.showAddComment = false
        this.getComentarios()
        this.$toasted.success('Registro creado correctamente', { icon: 'done', duration: 3000 })
      }
      console.log(data)
    },
    onScroll (e) {
      this.offsetTop = e.target.scrollTop
    }
  },
  computed: {
    compItems () {
      return this.items.filter(item => item.comentario.toUpperCase().includes(this.filtro.toUpperCase()) || item.nombre.toUpperCase().includes(this.filtro.toUpperCase()) || item.fecha.includes(this.filtro.toUpperCase()))
    },
    inputRules () {
      const err = []
      this.files.forEach(file => {
        if (file.size > 5000000) err.push('El archivo debe tener un tamaño menor a 5 MB!')
      })
      return err
    },
    ruleste2 () {
      if (this.comentario.length > 500) return 'Demasiados caracteres en la observacion, limite 500'
      return ''
    }
  },
  watch: {

  }
}
</script>
<style scoped>

</style>