<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="mydatacomputed"
      :items-per-page="5"
      class="elevation-1"
      :loading="loading"
      :search="filtro"
      >
      <template v-slot:item="props">
        <tr>
          <td class="text-center">{{ props.item.radicado_vu }}</td>
          <td class="text-center">{{ props.item.consecutivo }}</td>
          <td class="text-left">{{ props.item.fecha_creacion }}</td>
					<td :class="[
            {abierta:props.item.id_estado === 0},
            {asignado:props.item.id_estado === 1},
            {endesarrollo:props.item.id_estado === 2},
            {cerrada:props.item.id_estado === 3}]" class="text-center">
					<div>{{ props.item.estado }}</div>
					</td>
          <td class="text-center">{{ props.item.dias_respuesta }}</td>
          <td class="text-center">{{ props.item.responsable }}</td>
          <td class="text-center">{{ props.item.descripcion }}</td>
          <td class="text-center">
            <v-btn color="primary" icon dark @click="editRecord(props.item.id)" :loading="loading_edit"><v-icon small>edit</v-icon></v-btn>
            <v-btn color="primary" icon dark @click="verPqr(props.item)"><v-icon small>question_answer</v-icon></v-btn>
          </td>
        </tr>
      </template>
      <template v-slot:top>
        <v-layout align-center pa-2>
          <h3> Tablero PQRS</h3>
          <v-btn class="ml-2" color="primary" fab small dark @click="openDialog()"><v-icon>add</v-icon></v-btn>
          <v-col align="center" justify="center">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn v-on="on" class="mr-1" color="purple" fab small dark ><v-icon>person_add_alt_1</v-icon></v-btn>
              </template>    
              <span>Por asignar</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn v-on="on" class="mr-1" color="green" fab small dark ><v-icon>how_to_reg</v-icon></v-btn>
              </template>    
              <span>Asignadas</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn v-on="on" class="mr-1" color="amber" fab small dark ><v-icon>work</v-icon></v-btn>
              </template>    
              <span>En desarrollo</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn v-on="on" class="mr-1" color="red" fab small dark ><v-icon>cancel</v-icon></v-btn>
              </template>    
              <span>Cerradas</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn v-on="on" class="mr-1" color="orange" fab small dark ><v-icon>alarm</v-icon></v-btn>
              </template>    
              <span>Por vencer</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn v-on="on" class="mr-1" color="grey" fab small dark ><v-icon>alarm_off</v-icon></v-btn>
              </template>    
              <span>Vencidas</span>
            </v-tooltip>
          </v-col>
          <v-col cols="2" align="right" justify="right">
            <v-btn color="primary" rounded dark><v-icon class="mr-1">search</v-icon>Filtro plus</v-btn>
          </v-col>
          <v-col cols="2">
            <v-text-field
              label="Filtrar"
              outlined
              dense
              hide-details
              prepend-icon="filter_alt"
              v-model="filtro"
              >
            </v-text-field>  
          </v-col>
        </v-layout>
      </template>
    </v-data-table>
    <!-- <v-dialog
      v-model="dialogUsers"
    >
      
    </v-dialog> -->
    <v-row justify="center">
      <v-dialog
        v-model="dialog"
        persistent
        max-width="600px"
      >
        <v-card>
          <!-- <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title> -->
          <v-tabs
            v-model="tab"
            background-color="primary"
            centered
            dark
            icons-and-text
          >
            <v-tabs-slider></v-tabs-slider>

            <v-tab href="#tab-1">
              Remitente
              <v-icon>person</v-icon>
            </v-tab>

            <v-tab href="#tab-2">
              Información
              <v-icon>info</v-icon>
            </v-tab>

            <v-tab href="#tab-3">
              Soportes
              <v-icon>attach_file</v-icon>
            </v-tab>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <v-tab-item
              value="tab-1"
            >
              <v-card flat>
                <v-layout align-center justify-center>
                  <v-col cols="6" class="pa-0 mt-8">
                    <v-text-field
                      class="pa-0"
                      label="Nombre"
                      prepend-icon="person_pin"
                      v-model="txtnombre"
                    ></v-text-field>
                  </v-col>
                </v-layout>
                <v-layout align-center justify-center>
                  <v-col cols="6" class="pa-0 mt-2">
                    <v-text-field
                      class="pa-0"
                      label="Cédula"
                      prepend-icon="assignment_ind"
                      v-model="txtcedula"
                    ></v-text-field>
                  </v-col>
                </v-layout>
                <v-layout align-center justify-center>
                  <v-col cols="6" class="pa-0 mt-2">
                    <v-text-field
                      class="pa-0"
                      label="Dirección"
                      prepend-icon="location_on"
                      v-model="txtdireccion"
                    ></v-text-field>
                  </v-col>
                </v-layout>
                <v-layout align-center justify-center>
                  <v-col cols="6" class="pa-0 mt-2">
                    <v-text-field
                      class="pa-0"
                      label="Teléfono"
                      prepend-icon="phone"
                      v-model="txttelefono"
                    ></v-text-field>
                  </v-col>
                </v-layout>
                <v-layout align-center justify-center>
                  <v-col cols="6" class="pa-0 mt-2">
                    <v-text-field
                      class="pa-0"
                      label="Email"
                      prepend-icon="email"
                      v-model="txtemail"
                    ></v-text-field>
                  </v-col>
                </v-layout>
              </v-card>
            </v-tab-item>
          </v-tabs-items>

          <v-tabs-items v-model="tab">
            <v-tab-item
              value="tab-2"
            >
              <v-card flat>
                <v-container>
                  <v-row>
                    <v-col v-if="editedIndex > 0" align="center" justify="center">
                      <barcode :value="valBarcode" width="1" height="50">
                      </barcode>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-menu
                        v-model="f_radicado"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="date_radicado"
                            label="Fecha radicado"
                            prepend-icon="calendar_today"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="date_radicado"
                          @input="f_radicado = false"
                        ></v-date-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="ml-2">
                      <v-autocomplete
                        :items="municipios"
                        label="Municipio"
                        item-value="idmunicipio"
										    item-text="municipio"
                        v-model="txtmunicipio"
                      ></v-autocomplete>
                    </v-col>
                    <v-col>
                      <v-autocomplete
                        :items="comunicacion"
                        label="Tipo de comunicación"
                        item-value="id"
										    item-text="descripcion"
                        v-model="txttipocomunica"
                        @change="setRespuesta()"
                      ></v-autocomplete>
                    </v-col>
                    <v-col class="mr-2">
                      <v-autocomplete
                        :items="medios"
                        label="Medio solicitante"
                        v-model="txtmediosolicita"
                      ></v-autocomplete>
                    </v-col>
                  </v-row>
                  <v-row align="center" justify="center">
                    <v-col class="pa-0 mx-4">
                      <v-autocomplete
                        :items="prioridad"
                        label="Prioridad"
                        v-model="txtprioridad"
                        auto-select-first
                      ></v-autocomplete>
                    </v-col>
                    <v-col>
                      <v-checkbox
                        color="primary"
                        v-model="txtconfidencialidad"
                        label="Confidencialidad"
                      ></v-checkbox>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="pa-0 mx-4">
                      <v-textarea
                        outlined
                        label="Asunto"
                        v-model="txtasunto"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="pa-0 mx-4">
                      <v-textarea
                        outlined
                        label="Detalle de la solicitud"
                        v-model="txtdetalle"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="5" class="pa-0 mx-4">
                      <v-autocomplete
                        :items="dependencias"
                        label="Áreas"
                        item-value="arecod"
										    item-text="arenom"
                        v-model="txtejetematico"
                        multiple
                        @change="addResponsable()"
                      ></v-autocomplete>
                    </v-col>
                    <v-col cols="3" align="center" justify="center">
                      <v-btn color="primary" rounded dark @click="btn_responsable=false,showgridresponsable=true"><v-icon class="mr-1">person_add</v-icon>Individual</v-btn>
                    </v-col>
                    <v-col cols="3" align="center" justify="center">
                      <v-btn color="primary" rounded dark @click="addAllUsers()"><v-icon class="mr-1">group_add</v-icon>Todos</v-btn>
                    </v-col>
                  </v-row>
                  <v-row v-if="showgridresponsable">
                    <v-col class="pa-0 mx-4 mb-4">
                      <v-data-table
                        :headers="headers_responsables"
                        :items="responsables"
                        :items-per-page="5"
                        class="elevation-1"
                      >
                        <template v-slot:top>
                          <v-row>
                            <v-col cols="2">
                              <v-btn v-if="btn_responsable" class="ma-2" color="primary" fab small dark @click="btn_responsable = false"><v-icon>person_add</v-icon></v-btn>
                            </v-col>
                            <v-col cols="5">
                              <v-autocomplete
                                class="mx-4"
                                :items="responsables"
                                label="Responsable salida"
                                v-model="txtresponsable_salida"
                                item-value="documento"
                                item-text="nombre"
                              ></v-autocomplete>
                            </v-col>
                            <v-col cols="5" v-if="!btn_responsable">
                              <v-autocomplete
                                class="mx-4"
                                :items="users"
                                label="Asignar usuario"
                                item-value="documento"
                                item-text="nombre"
                                v-model="txtusers2"
                                multiple
                                @change="addResponsable2()"
                              ></v-autocomplete>
                            </v-col>
                          </v-row>
                        </template>
                        <template v-slot:item.soporte_fisico="{ item }" align="center" justify="center">
                          <v-checkbox
                            v-model="item.soporte_fisico"
                            color="primary"
                          ></v-checkbox>
                        </template>
                        <template v-slot:item.acciones="{ item }">
                          <v-btn color="primary" icon dark @click="dropResponsable(item)"><v-icon small>delete</v-icon></v-btn>
                        </template>
                      </v-data-table>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="pa-0 mx-4">
                      <v-file-input
                        small-chips
                        label="Oficio"
                        v-model="txtOficio"
                        :disabled="this.nombre_oficio.trim()!=''"
                      ></v-file-input>
                    </v-col>
                  </v-row>
                  <v-row v-if="this.nombre_oficio.trim()!=''">
                    <v-col class="mx-4">
                      <v-chip
                        class="ma-2"
                        color="primary"
                        close
                        cols="auto"
                        @click="downloadAdjunto(ruta_oficio)"
                        @click:close="deleteOficio(nombre_oficio)"
                      >
                        {{ this.nombre_oficio }}
                      </v-chip>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="pa-0 mx-4">
                      <v-menu
                        v-model="f_oficio"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="date_oficio"
                            label="Fecha asignación oficio"
                            prepend-icon="calendar_today"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="date_oficio"
                          @input="f_oficio = false"
                        ></v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col class="pa-0 mx-4">
                      <v-text-field
                        label="Número de días para respuesta"
                        v-model="txtdias"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="pa-0 mx-4">
                      <v-textarea
                        outlined
                        label="Observaciones"
                        v-model="txtobservaciones"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="pa-0 mx-4">
                      <v-text-field
                        label="Nro radicado ventanilla única"
                        v-model="txtradicado"
                      ></v-text-field>
                    </v-col>
                    <v-col class="pa-0 mx-4">
                      <v-menu
                        v-model="f_radicado_vu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="date_radicado_vu"
                            label="Fecha radicado ventanilla única"
                            prepend-icon="calendar_today"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="date_radicado_vu"
                          @input="f_radicado_vu = false"
                        ></v-date-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="pa-0 mx-4">
                      <v-text-field
                        label="Número de folios"
                        v-model="txtnumfolios"
                      ></v-text-field>
                    </v-col>
                    <v-col class="pa-0 mx-4">
                      
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-tab-item>
          </v-tabs-items>

          <v-tabs-items v-model="tab">
            <v-tab-item
              value="tab-3"
            >
              <v-card flat>
                <v-container>
                  <v-row>
                    <v-col class="mx-4">
                      <v-file-input
                        small-chips
                        multiple
                        label="Seleccione los archivos de soporte"
                        v-model="txtfiles"
                      ></v-file-input>
                    </v-col>
                  </v-row>
                  <v-row v-if="editedIndex > 0">
                    <v-col class="mx-4">
                      <v-chip
                        class="ma-2"
                        color="primary"
                        close
                        v-for="(item, index) in adjuntos"
                        :key="index"
                        cols="auto"
                        @click="downloadAdjunto(item.ruta_adjunto)"
                        @click:close="deleteAdjunto(item)"
                      >
                        {{ item.nombre }}
                      </v-chip>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
          <v-card-text>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="error"
              text
              @click="dialog = false,editedIndex = -1"
            >
              Cerrar
            </v-btn>
            <v-btn
              v-if="editedIndex>0"
              color="green"
              text
              :loading="loading_edit"
              @click="updatePqr()"
            >
              Actualizar
            </v-btn>
            <v-btn
              v-if="editedIndex<0"
              color="green"
              text
              :loading="loading_save"
              @click="savePqr()"
            >
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>
<script>
import PqrService from "../../servicios/PqrService"
import configService from '../../servicios/config'
export default {
  data () {
    return {
      name:'pqr',
      headers: [
        { text: 'Radicado VU', align: 'center', value: 'radicado_vu' },
        { text: 'Radicado', align: 'center', value: 'consecutivo' },
        { text: 'Fecha y hora creación', align: 'left', value: 'fecha_creacion' },
        { text: 'Estado', align: 'center', value: 'id_estado' },
        { text: 'Días restantes', align: 'center', value: 'dias_respuesta' },
        { text: 'Responsable', align: 'center', value: 'responsable' },
        { text: 'Tipo comunicación', align: 'center', value: 'tipo_comunicacion' },
        { text: 'Acciones', align: 'center', value: 'acciones' }
      ],
      headers_responsables: [
        { text: 'Documento', align: 'center', value: 'documento' },
        { text: 'Nombre', align: 'center', value: 'nombre' },
        { text: 'Área', align: 'center', value: 'area' },
        { text: 'Impresión', align: 'center', value: 'soporte_fisico', sortable: false },
        { text: 'Acciones', align: 'center', value: 'acciones', sortable: false }
      ],
      date_radicado: new Date().toISOString().substr(0, 10),
      date_oficio: new Date().toISOString().substr(0, 10),
      date_radicado_vu: new Date().toISOString().substr(0, 10),
      f_radicado: false,
      f_oficio: false,
      f_radicado_vu: false,
			reclamos: [],
      misdatos: [],
      municipios: [],
      dependencias: [],
      users: [],
      adjuntos: [],
      responsables: [],
      btn_responsable: true,
      showgridresponsable: false,
      loading: false,
      loading_save: false,
      loading_edit: false,
      loading_drop: false,
      filtro: '',
      dialog: false,
      dialogUsers: false,
      editedIndex: -1,
      editItem: '',
      valBarcode: '',
      tab: null,
      estados: [
        { text: 'Creado', value: '1' },
        { text: 'Asignado', value: '2' },
        { text: 'Verificado', value: '4' },
        { text: 'Cerrado', value: '3' }
      ],
      prioridad: ['Normal','Alta','Baja','Urgente','Crítica'],
      medios: ['Comunicación escrita - Carta','Comunicación escrita - Correo electrónico','Comunicación escrita - Memorando','Comunicación escrita - Página web','Comunicación escrita - Redes sociales','Comunicación verbal - Llamada telefónica','No disponible'],
      comunicacion: [],
      data_save: [],
      nombre_oficio: '',
      ruta_oficio: '',
      txtOficio: [],
      txtresponsable_salida: '',
      txtnombre: '',
      txtcedula: '',
      txtdireccion: '',
      txttelefono: '',
      txtemail: '',
      txtmunicipio: '',
      txttipocomunica: '',
      txtmediosolicita: '',
      txtasunto: '',
      txtdetalle: '',
      txtejetematico: [],
      txtusers2: [],
      txtresponsable: '',
      txtdias: '',
      txtobservaciones: '',
      txtradicado: '',
      txtfiles: [],
      txtprioridad: '',
      txtconfidencialidad: '',
      txtnumfolios: ''
    }
  },
  mounted () {
    this.getInfo()
    this.getMunicipios()
    this.getDependencias()
    this.getTipoComunicacion()
    this.getUsers()
  },
  methods: {
    showinfo() {
      console.log(this.responsables)
    },
    verPqr (item) {
      this.$router.push('/pqrs/' + item.id)
    },
    addAllUsers() {
      this.showgridresponsable = true
      this.responsables = this.users
    },
    async getUsers() {
      const {data} = await PqrService.getUsers()
			this.users = data
    },
    dropResponsable(record) {
      var indice = this.responsables.findIndex(item => JSON.stringify(item) === JSON.stringify(record))
      this.responsables.splice(indice, 1)
    },
    async addResponsable2() {
      this.showgridresponsable = true
      const {data} = await PqrService.getDataResponsable(this.txtusers2.slice(-1).pop())
      for (let index = 0; index < data.length; index++) {
        this.responsables.push(data[index])
      }
    },
    async addResponsable() {
      this.showgridresponsable = true
      const {data} = await PqrService.getInfoResponsable(this.txtejetematico.slice(-1).pop())
      for (let index = 0; index < data.length; index++) {
        this.responsables.push(data[index])
      }
    },
    async getInfo() {
      const {data} = await PqrService.getData()
      if (data != 'No hay datos para Mostrar') {
        this.reclamos = data.pqrs_reclamos
      }
    },
    async getMunicipios() {
			const {data} = await PqrService.getMunicipios()
			this.municipios = data.municipios
    },
    async getDependencias() {
      const {data} = await PqrService.getDependencias()
			this.dependencias = data.areas
    },
    async getTipoComunicacion() {
      const {data} = await PqrService.getTipoComunicacion()
      console.log(data)
			this.comunicacion = data.pqr_tipo_comunicacions
    },
    setRespuesta() {
      const result = this.comunicacion.filter(item => item.id === this.txttipocomunica)
      if (result.length === 1) {
        this.txtdias = result[0].dias_respuesta
      }
    },
    async savePqr() {
      // this.loading_save = true
      var confi
      if (this.txtconfidencialidad == true) { confi = 1 } else { confi = 0 }
      var info = { 
                    nombre: this.txtnombre,
                    cedula: this.txtcedula,
                    direccion: this.txtdireccion, 
                    telefono: this.txttelefono, 
                    email: this.txtemail,
                    fecha_radicado: this.date_radicado,
                    municipio: this.txtmunicipio,
                    tipo_comunicacion: this.txttipocomunica,
                    medio_solicita: this.txtmediosolicita,
                    prioridad: this.txtprioridad,
                    confidencial: confi,
                    asunto: this.txtasunto,
                    detalle: this.txtdetalle,
                    fecha_asignacion: this.date_oficio,
                    dias: this.txtdias,
                    observaciones: this.txtobservaciones,
                    radicado: this.txtradicado,
                    fecha_radicado_vu: this.date_radicado_vu,
                    num_folios: this.txtnumfolios,
                    responsables: this.responsables,
                    responsable_salida: this.txtresponsable_salida
                  }
      const {data} = await PqrService.savePqr(info)
      console.log(data)
      // if (data.respuesta === true) {
      //   if ( this.txtfiles.length > 0 ) {
      //     for (let i = 0; i < this.txtfiles.length; i++) {
      //       const result = await PqrService.uploadFile(this.txtfiles[i])
      //       if (result.status === 200) {
      //         const {data} = await PqrService.saveAdjunto({ nombre: result.data.filename, ruta: result.data.url, oficio: 'N' })
      //         if (data.respuesta != true) {
      //           this.$toasted.error('Error al guardar archivos adjuntos', { icon: 'done', duration: 3000 })
      //         }
      //       }
      //     }
      //   }
      //   if ( this.txtOficio != '' ) {
      //     const info = await PqrService.uploadFile(this.txtOficio)
      //     if (info.status === 200) {
      //       const {data} = await PqrService.saveAdjunto({ nombre: info.data.filename, ruta: info.data.url, oficio: 'S' })
      //       if (data.respuesta != true) {
      //         this.$toasted.error('Error al guardar archivo oficio', { icon: 'done', duration: 3000 })
      //       }
      //     }
      //   }
      //   this.loading_save = false
      //   this.dialog = false
      //   this.getInfo()
      //   this.$toasted.success('Registro creado correctamente', { icon: 'done', duration: 3000 })
      // }
    },
    async editRecord(id_record) {
      this.editedIndex = 1
      this.editItem = id_record
      this.loading_edit = true
      const {data} = await PqrService.listPqr(id_record)
      this.valBarcode = data.pqrs_reclamos[0].consecutivo
      this.txtnombre = data.pqrs_reclamos[0].remitente
      this.txtcedula = data.pqrs_reclamos[0].cedula
      this.txtdireccion = data.pqrs_reclamos[0].direccion
      this.txttelefono = data.pqrs_reclamos[0].telefono
      this.txtemail = data.pqrs_reclamos[0].email
      this.date_radicado = data.pqrs_reclamos[0].fecha_radicado.substring(0,10)
      this.txtmunicipio = data.pqrs_reclamos[0].codmunicipio
      this.txttipocomunica = data.pqrs_reclamos[0].tipo_comunicacion
      this.txtmediosolicita = data.pqrs_reclamos[0].medio_solicitante
      this.txtprioridad = data.pqrs_reclamos[0].prioridad
      this.txtconfidencialidad = data.pqrs_reclamos[0].confidencialidad
      this.txtasunto = data.pqrs_reclamos[0].asunto
      this.txtdetalle = data.pqrs_reclamos[0].detalle
      this.nombre_oficio = data.pqrs_reclamos[0].nombre_oficio === null ? '' : data.pqrs_reclamos[0].nombre_oficio 
      this.ruta_oficio = data.pqrs_reclamos[0].ruta_oficio
      this.date_oficio = data.pqrs_reclamos[0].fecha_asignacion.substring(0,10)
      this.txtdias = data.pqrs_reclamos[0].dias_respuesta
      this.txtobservaciones = data.pqrs_reclamos[0].observacion
      this.txtradicado = data.pqrs_reclamos[0].radicado_vu
      this.date_radicado_vu = data.pqrs_reclamos[0].fecha_radicado_vu.substring(0,10)
      this.txtnumfolios = data.pqrs_reclamos[0].num_folios
      this.txtfiles = []
      this.getResponsables(id_record)
      this.getAdjuntos(id_record)
      this.loading_edit = false
      this.dialog = true
    },
    async getResponsables(id) {
      var info = await PqrService.getResponsables(id)
      this.showgridresponsable = true
      this.responsables = info.data
      const result = this.responsables.filter(item => item.responsable_salida === 1)
      if (result.length > 0 ) { this.txtresponsable_salida = result[0].documento } else { this.txtresponsable_salida = '' } 
    },
    async getAdjuntos(id) {
      var info = await PqrService.listAdjuntos(id)
      this.adjuntos = info.data.pqr_adjuntos
    },
    downloadAdjunto(url) {
      const win = window.open(url, '_blank')
      win.focus()
      // window.open(configService.apiUrl + '/downloadFile?filename=' + item, '_blank')
    },
    async deleteAdjunto(item) {
      const {data} = await PqrService.deleteFile(item.nombre, item.id)
      console.log(data)
      if (data.tipo === 'success') {
        this.getAdjuntos(item.id_pqr)
      }
    },
    async deleteOficio(item) {
      const {data} = await PqrService.deleteOficio(item)
      console.log(data)
      if (data.tipo === 'success') {

        this.nombre_oficio = ''
        this.ruta_oficio = ''
      }
    },
    openDialog() {
      this.txtnombre = ''
      this.txtcedula = ''
      this.txtdireccion = ''
      this.txttelefono = ''
      this.txtemail = ''
      this.date_radicado = new Date().toISOString().substr(0, 10)
      this.txtmunicipio = ''
      this.txttipocomunica =''
      this.txtmediosolicita = ''
      this.txtprioridad = this.prioridad[0]
      this.txtconfidencialidad = false
      this.txtasunto = ''
      this.txtdetalle = ''
      this.txtejetematico = ''
      // this.txtresponsable = ''
      this.txtOficio = []
      this.date_oficio = new Date().toISOString().substr(0, 10)
      this.txtdias = ''
      this.txtobservaciones = ''
      this.txtradicado = ''
      this.date_radicado_vu = new Date().toISOString().substr(0, 10)
      this.txtnumfolios = ''
      this.txtfiles = []
      this.showgridresponsable = false
      this.responsables = []
      this.dialog = true
    },
    async updatePqr() {
      this.loading_edit = true
      var confi
      var datos = []
      var asignados = []
      var documentos = []
      if (this.txtconfidencialidad == true) { confi = 1 } else { confi = 0 }
      var info = await PqrService.getAsignados(this.editItem)
      if (info.data.pqr_asignacions.length > 0) {
        asignados = info.data.pqr_asignacions.map(item => {
          return item.documento
        })
      }
      if (this.responsables.length > 0) {
        var documentos = this.responsables.map(item => {
          return item.documento
        })
      }
      let eliminados = asignados.filter(x => !documentos.includes(x))
      let agregados = documentos.filter(x => !asignados.includes(x))
      for (let i = 0; i < agregados.length; i++) {
        this.responsables.filter(function(item) {
          if (item.documento == agregados[i]) {
            datos.push(item)
          }
        })
      }
      var info = { 
                    id: this.editItem,
                    cedula: this.txtcedula,
                    nombre: this.txtnombre, 
                    direccion: this.txtdireccion, 
                    telefono: this.txttelefono, 
                    email: this.txtemail,
                    municipio: this.txtmunicipio,
                    fecha_radicado: this.date_radicado,
                    tipo_comunicacion: this.txttipocomunica,
                    medio_solicita: this.txtmediosolicita,
                    prioridad: this.txtprioridad,
                    confidencial: confi,
                    asunto: this.txtasunto,
                    detalle: this.txtdetalle,
                    fecha_asignacion: this.date_oficio,
                    dias: this.txtdias,
                    observaciones: this.txtobservaciones,
                    radicado: this.txtradicado,
                    fecha_radicado_vu: this.date_radicado_vu,
                    num_folios: this.txtnumfolios,
                    responsables_add: datos,
                    responsables_drop: eliminados,
                    responsable_salida: this.txtresponsable_salida
                  }
      const {data} = await PqrService.updatePqr(info)
      if (data.respuesta === true) {
        if ( this.txtfiles.length > 0 ) {
          for (let i = 0; i < this.txtfiles.length; i++) {
            const result = await PqrService.uploadFile(this.txtfiles[i])
            if (result.status === 200) {
              const {data} = await PqrService.savefromH({ nombre: result.data.filename, ruta: result.data.url, id_comentario: null, id_pqr: this.editItem })
              if (data.respuesta != true) {
                this.$toasted.error('Error al guardar archivos adjuntos', { icon: 'done', duration: 3000 })
              }
            }
          }
        }
        if ( this.txtOficio != '' ) {
          const info = await PqrService.uploadFile(this.txtOficio)
          if (info.status === 200) {
            const {data} = await PqrService.updateOficio({ nombre: info.data.filename, ruta: info.data.url, id: this.editItem })
            if (data.respuesta != true) {
              this.$toasted.error('Error al guardar archivo oficio', { icon: 'done', duration: 3000 })
            }
          }
        }
        this.$toasted.success('Registro actualizado correctamente', { icon: 'done', duration: 3000 })
        this.loading_save = false
        this.loading_edit = false
        this.dialog = false
        this.getInfo()
      }
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Agregar registro' : 'Editar registro'
    },
    mydatacomputed () {
      var resultado = this.reclamos
      resultado.map(item => {
          switch (parseInt(item.id_estado)) {
            case 0:
              item.estado = 'Abierta'
            break;
            case 1:
              item.estado = 'Asignado'
            break;
            case 2:
              item.estado = 'En desarrollo'
            break;
            case 3:
              item.estado = 'Cerrada'
            break;
          }
      })
      return resultado
    },
  }
}
</script>
<style scoped>
  .abierta {
    background-color: #5E35B1;
    color: white;
  }
  .asignado {
    background-color: #58af58;
    color: white;
  }
  .endesarrollo {
    background-color: #FFC61A;
    color: white;
  }
  .cerrada {
    background-color: #F44336;
    color: white;
  }
</style>
