<template>
  <div>
    <v-container>
      <v-content>
          <charts/>
          <pqr/>
      </v-content>
    </v-container>
  </div>
</template>
<script>
import charts from '@/components/pqrs/charts'
import pqr from '@/components/pqrs/pqr'
export default {
  components: { pqr, charts },
  data () {
    return {
    }
  }
}
</script>
<style scoped>
</style>
