<template>    
    <v-dialog v-model="cambiar_pass" max-width="350" persistent>
      <v-card>
      <v-card class="primary" flat>
        <v-layout style="padding:10px">        
        <v-flex xs12 >
          <v-layout justify-center>          
            <v-avatar
              :tile="false"
              :size="100"
              color="white"
              contain              
            >
              <v-img :src="require(`../../assets/img/${$store.getters.getAvatar}`)">
              </v-img>
            </v-avatar>          
          </v-layout>
        </v-flex>
        </v-layout>
      </v-card>
      <v-card-title>

      <div>
        <v-layout justify-center class="tittle font-weight-bold primary--text" style="font-size:18px;">
          Cambio de contraseña            
        </v-layout>
      
        <v-form 
        @submit.prevent="submit"
        autocomplete="ofF">
        
          <v-text-field
          label="Contraseña anterior"
          prepend-inner-icon="lock"
          v-model="old_pass"
          :error-messages="oldpassErrors"
          @input="$v.old_pass.$touch()"
          @blur="$v.old_pass.$touch()"
          :type="e1 ? 'text' : 'password'"
          :append-icon="e1 ? 'visibility' : 'visibility_off'"
          @click:append="e1 = !e1"
          >
          </v-text-field>

          <v-text-field
          label="Nueva contraseña"
          prepend-inner-icon="lock"
          v-model="new_pass"
          :error-messages="newpassErrors"
          @input="$v.new_pass.$touch()"
          @blur="$v.new_pass.$touch()"
          :type="e2 ? 'text' : 'password'"
          :append-icon="e2 ? 'visibility' : 'visibility_off'"
          @click:append="e2 = !e2"
          >
          </v-text-field>

          <v-text-field
          label="Confirmar contraseña"
          prepend-inner-icon="lock"
          v-model="repeat_pass"
          :error-messages="repeatpassErrors"
          @input="$v.repeat_pass.$touch()"
          @blur="$v.repeat_pass.$touch()"
          :type="e3 ? 'text' : 'password'"
          :append-icon="e3 ? 'visibility' : 'visibility_off'"
          @click:append="e3 = !e3"
          >
          </v-text-field>

          <v-layout justify-center class="font-weight-bold black--text" style="font-size:9px">          
            Las contraseñas deben tener al menos 8 caracteres, incluyendo letras mayúsculas, minúsculas y números.          
          </v-layout>
          <v-layout justify-center style="padding-top:10px">          
          <v-btn color="error" text @click="Cerrar">Cancelar</v-btn>
          <v-btn color="primary" text type="submit" :loading="btn_loading">Guardar</v-btn>
          </v-layout>
        </v-form>
        </div>
      </v-card-title>
      </v-card>
    </v-dialog>   
</template>

<script>

const numberTest = (value) => /[0-9]/.test(value)
const alphaTest = (value) => /[a-z]/.test(value)
const mayusTest = (value) => /[A-Z]/.test(value)

import { required,minLength,sameAs,maxLength } from 'vuelidate/lib/validators'
import updatePassword from "../../servicios/UpPasswordService"

export default {
    name: 'ChangePassword',
    props: ['cambiar_pass'],
    data(){
        return {
            old_pass: '',      
            new_pass: '',
            repeat_pass: '',
            e1: false,
            e2: false,
            e3: false,
            btn_loading: false,           
        }    
    },

    methods:{

        submit() {

            this.$v.$touch()

            if (!this.$v.$invalid) {

                this.btn_loading = true
                var _this = this

                updatePassword(_this.old_pass,_this.new_pass,_this.$session.get('usuarioid'))
                    .then(function(res) {

                        _this.btn_loading = false

                        if(res.data.data.success === true){
                            
                            _this.Cerrar()                            
                            _this.showMessage(true,3000,'success',res.data.data.message)               

                        } else {

                        _this.showMessage(true,3000,'error',res.data.data.message)                        

                        }

                    }).catch(function(err) {          
                
                        _this.btn_loading = false  

                        var msgErr = ''

                        if(err.data.request.response){

                            msgErr = err.data.request.response

                        } else {

                            msgErr = err.data.message

                        }
                        
                        msgErr = msgErr.length > 100 ? msgErr.substr(0,100) + '...' : msgErr                

                        _this.showMessage(true,3000,'error',msgErr)
                
                    })
            }
        },
        showMessage (snack, time, color, text) {

            this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },
        Limpiar(){
            this.old_pass = '',      
            this.new_pass = '',
            this.repeat_pass = ''
        },
        Cerrar(){

            this.Limpiar()
            this.$emit('update:cambiar_pass', false)
        }
    },
    validations: {

        old_pass: { 
            required: required,
            maxLength: maxLength(10), 
        },
        new_pass: { 
            required: required,
            minLength: minLength(8),
            maxLength: maxLength(10),
            numberTest,
            alphaTest,
            mayusTest
        },
        repeat_pass: { 
            required: required,
            sameAsPassword: sameAs('new_pass')
        },

    },
    computed: {

        oldpassErrors () {

            const errors = []
            if (!this.$v.old_pass.$dirty) return errors
            !this.$v.old_pass.required && errors.push('Contraseña anterior requerida.')
            !this.$v.old_pass.maxLength && errors.push('La contraseña puede tener máximo 10 caracteres.')
            return errors

        },
        newpassErrors () {

            const errors = []
            if (!this.$v.new_pass.$dirty) return errors
            !this.$v.new_pass.required && errors.push('Nueva contraseña requerida.')
            !this.$v.new_pass.minLength && errors.push('La contraseña debe tener mínimo 8 caracteres.')
            !this.$v.new_pass.maxLength && errors.push('La contraseña puede tener máximo 10 caracteres.')
            !this.$v.new_pass.numberTest && errors.push('La contraseña debe tener un número.')
            !this.$v.new_pass.alphaTest && errors.push('La contraseña debe tener una minúscula.')
            !this.$v.new_pass.mayusTest && errors.push('La contraseña debe tener una mayúscula.')
            return errors

        },
        repeatpassErrors () {

            const errors = []
            if (!this.$v.repeat_pass.$dirty) return errors
            !this.$v.repeat_pass.required && errors.push('Confirmación contraseña requerida.')
            !this.$v.repeat_pass.sameAsPassword && errors.push('Las contraseñas deben ser iguales.')
            return errors

        }
    }
}

</script>