<template>    
    <v-dialog v-model="configura_alertas" max-width="400" persistent>
      <v-card>      
      <v-card-title>

        <div style="width:100%">
            <v-layout justify-center class="tittle font-weight-bold primary--text" style="font-size:18px;">
            Configurar Notificaciones del Usuario            
            </v-layout>

            <div>
                <v-row justify="space-around">
                    <v-switch v-model="sistema" class="mx-2" label="Sistema" color="primary"></v-switch>
                    <v-switch v-model="correo" class="mx-2" label="Correo" color="primary"></v-switch>
                </v-row>
            </div>
            
            <div style="width:100%">
                <v-row justify="end">          
                    <v-btn color="error" text @click="Cerrar">Cancelar</v-btn>
                    <v-btn color="primary" text @click="saveitem" :loading="btn_loading">Guardar</v-btn>
                </v-row>    
            </div>

        </div>
      </v-card-title>
      </v-card>
    </v-dialog>   
</template>

<script>

import usuariosalertasService from "../../servicios/UsuariosAlertasService"

export default {
    name: 'ConfiguraAlertas',
    props: ['configura_alertas'],
    data(){
        return {   
            modulo:'CONFIGURACION DE NOTIFICACIONES POR USUARIO',	         
            btn_loading: false, 
            sistema: false,
            correo:false,  
            sistemaant: false,
            correoant:false,        
        }    
    },

    methods:{
        
        getData(){

            var _this = this
            this.loading = true

            this.sistemaant = false
            this.correoant = false, 

            usuariosalertasService.getDataXId(_this.$session.get('usuarioid'))
                .then(function(res) {                    

                    if (res.request) {
                                    
                        if(res.data){

                            _this.sistema = res.data.data[0]['issystem']
                            _this.correo = res.data.data[0]['isemail']

                            _this.sistemaant = res.data.data[0]['issystem']
                            _this.correoant = res.data.data[0]['isemail']

                        }  else {
                        
                            _this.sistema = false
                            _this.correo = false
                        
                        }

                    } else {                        	

                        _this.sistema = false
                        _this.correo = false                        	
                    }    
                    _this.loading = false                
                    
            }).catch(function(err) {

                _this.sistema = false
                _this.correo = false  
                _this.loading = false                
                
            })

        },
        validaGuardar(){

            if(this.sistema == this.sistemaant && this.correo == this.correoant){
                
                return 'No hay datos para actualizar'

            } else {

                return ''

            }

        },
        saveitem(){

            var valida = this.validaGuardar()
            var datbit = ''

            if(valida != ''){
                this.showMessage(true,3000,'error',valida)
                return
            }
            
            var mensajesistema = this.sistema == true ? 'Verdadero' : 'falso'
            var mensajecorreo = this.correo == true ? 'Verdadero' : 'falso'

            datbit += 'USUARIO: ' + this.$session.get('nombre') + ', Notificacion por Sistema: ' + mensajesistema + ', Notificación por Correo: ' + mensajecorreo 

            var _this = this
            this.loading = true
            
            var data = {codigo:this.$session.get('usuarioid'),issystem:this.sistema,isemail:this.correo}

            usuariosalertasService.guardarData(data)
                .then(function(res) {

                    if (res.response) {                           
                        
                        var error = res.response.data.message
                        _this.showMessage(true,3000,'error',error)

                    } else if(res.statusText){                        

                        _this.showMessage(true,3000,'success','Se Actualizó la(s) notificacion(es) con éxito')

                        _this.del_item = ''
                        _this.getData()                        
                        _this.dialog = false
                            
                        _this.agregaBitacora('ACTUALIZACION',datbit)

                    }else{	                                         	

                        _this.showMessage(true,3000,'error',res.message) 	                  	
                    }

                    _this.loading = false	                 
                    
            }).catch(function(err) {

                _this.showMessage(true,3000,'error',err)	    
                _this.loading = false          	
                
            })
        },
        showMessage (snack, time, color, text) {

            this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },        
        Cerrar(){
            
            this.$emit('update:configura_alertas', false)
        },
        agregaBitacora(accion, detalle){              

            var data = {modulo:this.modulo,accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        }
    },
    watch: {
        configura_alertas: function (val) {

            if(val)
            {
                this.getData()
                this.agregaBitacora('INGRESO','INGRESO AL MODULO')

            }
        }
    }
}

</script>