<template>
    <v-footer app inset class="mainFooter" dark style="justify-content: center">
      <div style="padding-left: 20px text-align: center">{{`&copy; ${year} SINCHI - CTR`}}</div>
    </v-footer> 
</template>

<script lang="ts">

export default {

    name:'cfooter',
    data(){
        return {
            year:'0'
        }    
    },
    mounted() {

        const hoy = new Date()
        this.year = hoy.getUTCFullYear()
    }
}

</script>

<style scoped>

.mainFooter {  
    /*background: linear-gradient(45deg, rgb(25,118,210), rgb(91,152,210));*/
    background: linear-gradient(45deg, rgb(148,58,74), rgb(229, 172, 181));  
}

</style>