<template>  
      <v-list dense subheader>    
          <v-list-item to="/">
              <v-list-item-icon>
                  <v-icon>home</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Home</v-list-item-title>              
          </v-list-item>

          <template v-for="value in permisos">
             <v-list-group
                v-if="value.submenu"
                :key="value.menu.opccod"
                :prepend-icon="value.menu.opcico"                               
                no-action
            >    
                <template v-slot:activator>
                    <v-list-item-content>
                        <v-list-item-title>{{ value.menu.opcnom }}</v-list-item-title>
                    </v-list-item-content>    
                </template>

                <v-list-item
                    v-for="submenu in value.submenu"
                    :key="submenu.opccod"
                    :to="`../${submenu.opclin}`"
                    dense
                    class = "pl-12"
                >
                    <v-list-item-title>{{ submenu.opcnom }}</v-list-item-title>
                    <v-list-item-icon>
                        <v-icon>{{ submenu.opcico }}</v-icon>
                    </v-list-item-icon>
                </v-list-item>

             </v-list-group>

            <v-list-item v-else :key="value.menu.opccod" :to="`../${value.menu.opclin}`">
                <v-list-item-icon>
                    <v-icon>{{ value.menu.opcico }}</v-icon>
                </v-list-item-icon>
                <v-list-item-title>{{ value.menu.opcnom }}</v-list-item-title>
            </v-list-item>    
          </template>
      </v-list>
    
</template>

<script>
import permisosService from "../../servicios/PermisosService";

export default {

    name:'Menu',    
    data(){       
        return {
            permisos:[]
        }    
    },
    methods: {
        cerrarsesion() {

            this.$session.destroy()
            this.$router.push('/')

        },
        buscarPermisos(){
            var _this = this
				
            permisosService.getPermisos(this.$session.get('usuarioid'))
                .then(function(res) {

                    if (res.request) {                       
                                                    
                        if(res.data){                            

                            _this.permisos = res.data

                        }  else {
                        
                            _this.permisos = []
                        
                        }                         

                    } else {                        	

                        _this.permisos = []                        	
                    }                    
                    
            }).catch(function(err) {

                _this.permisos = []	              	
                
            }) 
        }
    },
    mounted: function () {
        	  
        this.buscarPermisos()
    }    

}

</script>