<template>
    <v-layout>
        <v-app-bar             
            class="primary" 
            dark 
            v-if="$session.get('logged')"
        >
        <v-app-bar-nav-icon @click.stop="abrircerrarMenu"></v-app-bar-nav-icon>
        <v-toolbar-title class="headline text-uppercase">
            <span>{{ appName }}</span>       
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
            <!--<div class="my-2">
                <v-tooltip bottom v-show="$session.get('logged')">
                    <template v-slot:activator="{ on }">
                        <v-btn icon medium v-on="on"  @click="cerrarsesion">
                            <v-icon>notifications_none</v-icon>
                        </v-btn>
                    </template>    
                    <span>Notificaciones</span>
                </v-tooltip>
            </div>-->
            
            <div class="my-2">
                <v-tooltip bottom v-show="$session.get('logged')">
                    <template v-slot:activator="{ on }">
                        <v-btn icon medium v-on="on" :to="`../Reuniones`">
                            <v-icon>event_note</v-icon>
                        </v-btn>
                    </template>    
                    <span>Reuniones</span>
                </v-tooltip>
            </div>

            
            <v-menu
                medium
                icon
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-width="270"
                :nudge-top="15"
                offset-y
                max-width="700"
            >
                <!--v-on="on"
                slot="activator"-->
                <template v-slot:activator="{ }">                    
                    <div class="my-2">                         
                        <v-btn 
                            @click="dialog_notificaciones=true"
                            
                            icon                            
                            v-show="$session.get('logged')"                            
                        >
                            <v-badge overlap color="error lighten-3" v-model="shownotification">
                                <template v-slot:badge>{{ totalnotificaciones }}</template>
                                 <v-icon >{{ $store.getters.getNotificacion }}</v-icon> 
                            </v-badge>
                        </v-btn>
                    </div>                         
                </template>               

                <!--<v-layout row wrap>
                    <v-flex xs12>
                        <v-card color="lighten-3" >
                            <v-btn     
                                color ="primary"
                                class="mt-2 ml-5"
                                text
                                @click="Notificaciones"                                                                
                            >
                                <v-icon>refresh</v-icon>
                            </v-btn>

                            <v-layout style="padding:10px">                                
                                <v-data-table 
                                    :headers="headers" 
                                    :items="notificaciones" 
                                    :items-per-page="5" 
                                    :disable-sort="true" 
                                    :search="search"
                                    :single-select="false"
                                    show-select   
                                    v-model="selected"
                                    item-key="codigo"                                                                   
                                >
                                </v-data-table>    
                            </v-layout>
                            <v-card-actions>
                                <v-btn
                                    color="red"
                                    text
                                    @click="dialog_del=true"
                                    :disabled="selected.length < 1"
                                    class="ml-5"
                                >
                                    Leidos(Ocultar)
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>            
                </v-layout>-->
                <!--<v-dialog v-model="dialog_del" max-width="400px">
                    <v-card>
                        <v-card-title>
                            <span class="headline red--text">Ocultar Notificaciones</span>
                        </v-card-title>        
                        <v-card-text>					
                            ¿Esta seguro de ocultar las Notificaciones seleccionadas?					
                        </v-card-text>        
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" dark text @click="dialog_del=false">Cancelar</v-btn>
                            <v-btn color="red" text @click="OcultarNotificaciones" >Ocultar Notificaciones</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>-->

            </v-menu>

            <v-menu
                medium
                icon
                v-model="menu"
                :close-on-content-click="false"
                :nudge-width="270"
                :nudge-top="15"
                offset-y
                >                     
                <template v-slot:activator="{ on }">                    
                    <div class="my-2">                         
                        <v-btn 
                            v-on="on"
                            icon
                            slot="activator"
                            v-show="$session.get('logged')"
                        >
                            <v-icon>person</v-icon>
                        </v-btn>                            
                    </div>                         
                </template>               

                <v-layout row wrap>
                    <v-flex xs12>
                        <v-card color="lighten-3" >
                            <v-layout style="padding:10px">              
                            <v-flex xs5 >
                                <v-hover>
                                    <v-layout justify-center>                                
                                        <v-avatar
                                            :tile="false"
                                            :size="100"                                            
                                            contain                                        
                                        >                                      
                                        <v-img :src="require(`../../assets/img/${$store.getters.getAvatar}`)"></v-img>
                                        </v-avatar>                            
                                    </v-layout>
                                </v-hover>
                            </v-flex>

                            <v-flex xs7 style="padding:0px">
                                <v-layout align-center fill-height>                
                                <v-card-title primary-title style="padding:0px">
                                    <div>
                                        <div class="tittle font-weight-bold" style="font-size:16px">                                    
                                            {{ $session.get('nombre').charAt(0).toUpperCase() + $session.get('nombre').slice(1).toLowerCase() }}
                                        </div>
                                        <div style="font-size:12px;color:black">@{{$session.get('usuario')}}
                                        </div>
                                        <!--<div>
                                        <v-btn small style="margin-left:0px" @click="editPass(), menu = false" >
                                            Cambiar Contraseña
                                        </v-btn>
                                        </div>-->
                                        <div>
                                            <v-tooltip top>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn class="mx-2" fab dark small color="primary" v-on="on" @click="editPass(), menu = false" >
                                                        <v-icon dark>vpn_key</v-icon>
                                                    </v-btn>
                                                </template>    
                                                <span>Cambiar Contraseña</span>
                                            </v-tooltip>

                                            <v-tooltip top>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn class="mx-2" fab dark small color="primary" v-on="on" @click="editAlertas(), menu = false" >
                                                        <v-icon dark>add_alert</v-icon>
                                                    </v-btn>
                                                </template>    
                                                <span>Configurar Notificaciones</span>
                                            </v-tooltip>
                                            
                                        </div>
                                    </div>
                                </v-card-title>
                                </v-layout>
                            </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>            
                </v-layout>
            </v-menu>    
            
            <div class="my-2">
                <v-tooltip bottom v-show="$session.get('logged')">
                    <template v-slot:activator="{ on }">
                        <v-btn icon medium v-on="on"  @click="cerrarsesion">
                            <v-icon>exit_to_app</v-icon>
                        </v-btn>
                    </template>    
                    <span>Cerrar sesión</span>
                </v-tooltip>
            </div>
            
        </v-toolbar-items>
        </v-app-bar>

         <v-navigation-drawer v-model="drawer" width="300"
            app
            fixed 
            temporary
            mobile-break-point=640
            class="lighten-3"
            v-if="this.$session.get('logged')"            
            >
            <v-layout pa-2 column class="primary lightbox white--text">
                <v-spacer></v-spacer>

                <v-list-item>
                    <v-list-item-avatar>              
                        <v-img :src="require(`../../assets/img/${$store.getters.getAvatar}`)" />
                    </v-list-item-avatar>
                </v-list-item>

                <v-flex shrink>
                    <div class="subheading" style="margin-left: 12px">{{ $session.get('nombre') }}</div>
                    <div class="body-1" style="margin-left: 12px">@{{ $session.get('usuario') }}</div>
                    <div>                        
                        <v-tooltip bottom style="margin-right: 7px" v-show="$session.get('logged')">
                            <template v-slot:activator="{ on }">
                                <v-btn medium v-on="on" dark icon @click="cerrarsesion">
                                    <v-icon>exit_to_app</v-icon>
                                </v-btn>
                            </template>    
                            <span>Cerrar sesión</span>
                        </v-tooltip>
                    </div>
                </v-flex>
            </v-layout>    

            <v-divider />

            <cmenu v-if="this.$session.get('logged')"></cmenu>            
        </v-navigation-drawer>
        
        <change-password :cambiar_pass.sync = "cambiar_pass"></change-password>
        <configura-alertas :configura_alertas.sync = "configura_alertas"></configura-alertas>
        
        <v-dialog v-model="dialog_notificaciones" max-width="1200px">
            <v-card color="lighten-3" >
                <v-btn     
                    color ="primary"
                    class="mt-2 ml-5"
                    text
                    @click="Notificaciones"                                                                
                >
                    <v-icon>refresh</v-icon>
                </v-btn>

                <v-layout style="padding:10px">                                
                    <v-data-table 
                        :headers="headers" 
                        :items="notificaciones" 
                        :items-per-page="5" 
                        :disable-sort="true" 
                        :search="search"
                        :single-select="false"
                        show-select   
                        v-model="selected"
                        item-key="codigo"                                                                   
                    >
                    </v-data-table>    
                </v-layout>
                <v-card-actions>
                    <v-btn
                        color="red"
                        text
                        @click="dialog_del=true"
                        :disabled="selected.length < 1"
                        class="ml-5"
                    >
                        Leidos(Ocultar)
                    </v-btn>
                    <v-btn                       
                        text
                        color="primary"
                        @click="dialog_notificaciones=false"                        
                        class="ml-5"
                    >
                        Cancelar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialog_del" max-width="400px">
            <v-card>
                <v-card-title>
                    <span class="headline red--text">Ocultar Notificaciones</span>
                </v-card-title>        
                <v-card-text>					
                    ¿Esta seguro de ocultar las Notificaciones seleccionadas?					
                </v-card-text>        
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark text @click="dialog_del=false">Cancelar</v-btn>
                    <v-btn color="red" text @click="OcultarNotificaciones" >Ocultar Notificaciones</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>  

<script>
import notificacionesService from "../../servicios/NotificacionesService"

export default {
    name:'Toolbar',
    components: {
        'change-password' : () => import('@/components/frames/CChangePassword.vue'),  
        'cmenu' : () => import('@/components/frames/CMenu.vue'), 
        'configura-alertas' : () => import('@/components/frames/CConfiguraAlertas.vue'),     
    },    
    data(){
        return {
            modulo:'SISTEMA',
            cambiar_pass: false,
            configura_alertas:false,
            drawer: false,
            menu: false,
            menu2: false,
            appName: 'SINCHI - CTR',
            selected: [],
            headers: [
  					{
			          text: 'Fecha',
			          align: 'left',
			          sortable: false,
			          value: 'fecha',
                    },
                    { text: 'Origen', value: 'opcion',sortable: false,align: 'left'},
                    { text: 'No. Interno', value: 'numerointerno',sortable: false,align: 'left'},
                    { text: 'Mensaje', value: 'mensaje',sortable: false,align: 'left'}                   
                  ],
            notificaciones: [], 
            search:'',
            totalnotificaciones:'',
            shownotification:false,
            dialog_del:false,
            dialog_notificaciones:false            
        }    
    },
    methods: {
        showMessage (snack, time, color, text) {

            this.$root.$emit('showSnack', {snack: snack, time: time, color: color, text: text})

        },	
        cerrarsesion() {

            this.drawer = false
            this.agregaBitacora()
            this.$session.destroy()            
            this.$router.push('/')
        },
        editPass() {
            this.cambiar_pass = true
        },
        editAlertas() {
            this.configura_alertas = true           
        },
        abrircerrarMenu(){

            this.drawer = !this.drawer

        },
        agregaBitacora( ){
              
            var accion = 'SALIDA'
            var detalle = 'SALIDA DEL SISTEMA'      

            var data = {modulo:this.modulo,accion:accion,detalle:detalle}
            
            this.$root.$emit('agregaBitacora', data)

        },

        setearNotificacion(){

            var total = this.notificaciones.length
            this.$store.commit('setNotificacion', total)

            if(total> 0){
                this.totalnotificaciones = total
                this.shownotification = true
            } else {
                this.totalnotificaciones = ''    
                this.shownotification = false
            }

        },
        
        Notificaciones(){

            var _this = this
            this.loading = true            

            notificacionesService.getDataXId(this.$session.get('usuarioid'))
                .then(function(res) {

                    if (res.request) {                        

                        if(res.data){

                            _this.notificaciones = res.data.data                        							

                        }  else {
                        
                            _this.notificaciones = []                           
                        
                        }

                    } else {                        	

                        _this.notificaciones = []                        	
                    }    
                    _this.setearNotificacion()
                    _this.loading = false                
                    
            }).catch(function(err) {

                _this.notificaciones = []   
                _this.setearNotificacion()
                _this.loading = false                
                
            })

        },

        OcultarNotificaciones(){            

            var _this = this
            this.loading = true            
            
            notificacionesService.ocultarNotificaciones(_this.selected)
                .then(function(res) {

                    if(res.statusText){                    

                        _this.dialog_del = false	              	  		
                        _this.Notificaciones()                        

                        var data = {modulo:'NOTIFICACIONES DEL USUARIO',accion:'OCULTAR',detalle:'SE OCULTARON NOTIFICACIONES DEL SISTEMA'}
                
                        _this.$root.$emit('agregaBitacora', data)

                    }else{	                                         	

                        _this.showMessage(true,3000,'error',res.message) 	                  	
                    }
                                        
                    _this.loading = false	                 
                    
            }).catch(function(err) {

                _this.showMessage(true,3000,'error',err)	    
                _this.loading = false          	
                
            })
        }
    },
    mounted() {

        this.Notificaciones()        
    }
}

</script>